[2013-08-05 17:22] buddylindsey opened #3 "Document Models"
Add inline docs for document generation of all models, if there make sure they are updated.

[2013-08-05 17:38] buddylindsey opened #5 "Cancel Subscription from Admin"
If you cancel a subscription via a customer subscription field based on the model it doesn't update stripe. Need to add a mechanism for canceling in stripe when done in the back-end.

[2013-08-05 19:05] pydanny opened #6 "JSON field exploration"
- Is django-jsonfield the best choice?
- Can we allow for usage of PostgreSQL JSON field if the system detects the right module?

[2013-08-05 20:51] buddylindsey commented on #6
I don't really have an opinion on this because it is well outside of my knowledge. Not used that in postgres before. It would be nice to have a better representation of the data than just JSON, but it is fine, for now.

[2013-08-05 21:31] buddylindsey opened #10 "HOWTO Handle Migration from django-stripe-payments"
A couple of the things to think about on handling migrations from django-stripe-payments is how?

If we make changes to models what is the best way to do migrations?

Or do we want to do a syncdb/migration then do a management command to move over all the data?

[2013-08-05 21:46] pydanny opened #12 "Tests on all the models!"
This would be AWESOME.

[2013-08-07 11:02] pydanny opened #15 "Change CurrentSubscription.status to rely on Choices"

[2013-08-07 16:02] pydanny opened #19 "Single unit purchases"

[2013-08-07 16:04] pydanny opened #20 "Admin level charts and reports"
This would be incredibly useful.

[2013-08-07 16:15] pydanny commented on #19
According to @buddylindsey, "To make a one off payment you need to call the charge method on a customer object."

Woot!

[2013-08-07 16:18] pydanny opened #22 "Plans: settings.py vs. models.py"
@dmpayton said:

[2013-08-08 09:09] pydanny opened #31 "Internationalize all text strings"

[2013-08-08 12:44] pydanny commented on #10
I created a migration document. http://dj-stripe.readthedocs.org/en/latest/migrating_to_djstripe.html#django-stripe-payments

[2013-08-09 21:24] pydanny opened #35 "Trial plans"

[2013-08-18 21:54] pydanny opened #44 "Evaluate removing context_processor"
I don't like magically appearing values that are only needed for two views in templates across a site.

[2013-08-20 19:09] pydanny opened #47 "Review the rest_framework hooks"
1. Where should utility hooks to third-party apps go? Probably not in the base repo. Perhaps a 'connectors' package?
2. Talk to @tomchristie and make sure I'm not doing anything silly with https://github.com/pydanny/dj-stripe/blob/master/djstripe/rest_framework/permissions.py

[2013-08-21 08:41] lovelydinosaur commented on #47
Seems a little quirky to have the permission class create objects, but not strictly broken.

What's with the `if created: return False`?  Can you not just fall through to the standard `has_active_subscription`?  That'd seem more obvious to me.  (Eg it's not clear at first sight if a second call to the same API URL might succeed, without the user taking any other action, even though the first API f

[2013-08-21 09:24] pydanny commented on #47
The reason for checking on created is `has_active_subscription` does another query. If the `customer` object was just created, then that means they absolutely do not have a subscription.

I'll touch on this in the code.

Also, it got moved to https://github.com/pydanny/dj-stripe/blob/master/djstripe/contrib/rest_framework/permissions.py

[2013-08-24 10:23] pydanny opened #51 "Add status field to Invoice model"
Tracking status by multiple booleans is not the right way to go.

[2013-11-03 01:48] buddylindsey commented on #44
I was looking at this, and I am not sure we need it. Still not certain of the usage. If it is data that needs to be in a view somewhere, why not make a mixin that overrides get_context_data to add it. I actually don't even use it on my site, and think it was a holdover from v1 of django-stripe-payments.

[2013-11-03 01:54] buddylindsey commented on #44
lol, just saw this. https://github.com/pydanny/dj-stripe/blob/master/djstripe/mixins.py#L33-L42 I say kill the context processor.

[2013-11-04 00:17] pydanny commented on #44
I would, just don't have time to test it fully.

[2013-11-16 07:20] dollydagr opened #61 "Change plan and Cancel subscription have inconsistent subscription end behaviors"
Hi @pydanny,

What I mean by that is that:
- a) "Cancel subscription" ends the subscription at the period end,
- b) whereas "Change plan" allows going from a plan to another right away while being credited in case of a downgrade (which is what I find inconsistent), but also prorating in case of an upgrade.

I don't know if this behavior was meant to be the way it is. To make things consistent, I b

[2013-12-05 04:35] dollydagr commented on #61
Closed https://github.com/pydanny/dj-stripe/issues/61 via https://github.com/pydanny/dj-stripe/commit/2f897cdc6e6688bec26301c38f5ab621d2d9bb47

[2014-02-13 22:19] briandant commented on #22
@pydanny:  I've create a Plan model in my fork of this project, and I'd like to submit it back, if you're interested.  If you think I'm on the right path, I'd be happy to make this work with the current pattern (Plans in settings.py), or work to deprecate that feature, as mentioned [in the docs](https://github.com/briandant/dj-stripe/commit/a4a2a6d912590efb7880b2df5cf890801164c35b#diff-09f7e19fc1e

[2014-02-13 23:29] pydanny commented on #22
Hey - I'm not currently working on a project that needs this so it's hard for me to make time to look at your code properly. However @dollydagr is working on something and has full commit rights on the project. I hope she can make time to review this!

As for the global idea of moving plans out of settings, I started to do that a while ago. I backed off because I wanted to make it impossible for u

[2014-02-14 00:12] briandant commented on #22
Yep, that makes sense.  I'll look for a note from @dollydagr.  Thx!

[2014-02-14 16:16] dollydagr commented on #22
@briandant, thanks for the feature!

I have some questions:
- The plans' creation is enabled (for the developer) in the admin page, correct?
- Are you thinking of adding a creation interface in the templates/views for the end user (customer)?
- Would this feature allow having multiple subscriptions per customer?

I just wanted to test my understanding before I review your code.
Will try to do this

[2014-02-14 17:42] briandant commented on #22
Hey @dollydagr!  Thanks for the quick response.

### Your questions
- The plans' creation is enabled (for the developer) in the admin page, correct?

Yes.
- Are you thinking of adding a creation interface in the templates/views for the end user (customer)?

I could.  However, I wouldn't need that feature for my current project, so it wouldn't happen right away.
- Would this feature allow having mu

[2014-02-14 22:37] pydanny commented on #22
I prefer incremental changes over broad sweeping changes. Makes migrations much easier for existing projects and the code tends to be more stable.

As the code progresses

[2014-02-14 22:37] pydanny commented on #22
... we'll cut releases as needed.

[2014-03-06 23:58] lgunsch opened #74 "Stripe API Changes (2014-01-31)"
Recently, some backwards incompatible changes were made to the stripe API. One
was the subscription property on a customer object, which has been replaced
with subscriptions. This is to support multiple subscriptions. Is anyone
working on incorporating these changes into dj-stripe? If not, I am willing to
work on adding support for multiple plan subscriptions. It would be great if I
could get some

[2014-03-08 01:10] pydanny commented on #74
Correct me if I'm wrong, but I believe this is being discussed by @briandant, @dollydagr, and myself at #22.

Of course, we love contributions!

[2014-03-08 03:06] briandant commented on #74
Yes, this is related to #22.

@lgunsch:  I'll give you a quick run-down.  _(Keep in mind that I'm not a committer, so we'll defer to @dollydagr and @pydanny for decisions.)_

We're implementing "Plans as Models" (created via the Admin), in addition to "Plans via Settings" (the current behavior).  The models have been merged through #72, but we still have a couple things left on that feature:  1) C

[2014-03-08 03:22] briandant opened #75 "Add Coupons for Customers"
[Stripe has Coupons](https://github.com/pydanny/dj-stripe/issues/22#issuecomment-35097977)! :smiley: dj-stripe does not. :frowning:  We should fix that!

Per [this conversation](https://github.com/pydanny/dj-stripe/issues/22#issuecomment-35097977) on a related feature, we saw that it might be good to have Coupons available.

The general use case is:  "I want to offer my customers a sale."  Maybe t

[2014-03-08 03:34] buddylindsey commented on #75
This is as simple as kwargs in the subscribe method. I have a fork of django-stripe-payments I use while working to migrate to dj-stripe I needed to add it to my fork. Is also in more current version of django-stripe-payments.

https://github.com/buddylindsey/django-stripe-payments/blob/master/payments/models.py#L482-L499

Was actually going to submit a PR for this eventually when I was finished m

[2014-03-08 03:44] dollydagr commented on #75
+1 of course to coupons for djstripe! I agree with the three possible interaction flows you're suggesting @briandant.
Oh nice @buddylindsey!

It might not be a priority, but I don't see in Stripe's specs an attribute for specifying whether a coupon can be combined with others or not.

[2014-03-08 03:49] buddylindsey commented on #75
I am fairly certain you can compound them. I at a weekend event today and tomorrow but I can double check Sunday by running a few tests.

[2014-03-08 03:50] briandant commented on #75
@buddylindsey:  Would the developer / site owner create a Coupon through Stripe, and then we would add a field for a Coupon on the subscription form?

[2014-03-08 03:53] dollydagr commented on #75
@buddylindsey, but what if one did not want to compound them?

[2014-03-08 04:00] buddylindsey commented on #75
@briandant yes you would create them on the stripe site, but the API allows for the creation. There are also we hooks to communicate it back. Then you add it to your subscription form. I have it implemented on godjango site. https://github.com/godjango/godjango-site

@dollydagr I would have to look at the site again but I think that is configurable.

[2014-03-10 16:15] lgunsch commented on #74
Those 2 steps from #72 that you mentioned look to be an easy place for me to start with. What is meant by a "developer-level settings toggle" as mentioned in #72? Is that different then a flag set in settings.py?

[2014-03-11 15:58] briandant commented on #74
It's the same thing.  On my fork, I'm using `DJSTRIPE_PLANS_AS_MODELS =
True`

##

www.bdant.net || @briandant http://www.twitter.com/briandant || c:
919.421.4273 || skype: brian.dant

On Mon, Mar 10, 2014 at 12:15 PM, Lewis notifications@github.com wrote:

[2014-03-16 22:33] ctrengove commented on #74
It seems to me that, with multiple plan subscriptions, it would be useful to have some way of grouping plans. For example, one use-case would be for subscriptions of varying lengths (monthly, annual) to different services, where only one subscription length would be chosen for any one service. The idea of grouping plans would be to enforce the selection of a single plan from within a group, and al

[2014-03-21 06:51] ctrengove commented on #74
I have been having a go at implementing multiple subscriptions on my fork, and one issue that has arisen is whether or not to retain records for cancelled subscriptions in the database. The current behaviour, where there is only a single current_subscription record, is to retain it (marked as cancelled), even though in Stripe's database it will have been deleted.

This parallels the treatment of d

[2014-03-21 14:12] briandant commented on #74
I can't get to this right now, but will try to get some time to think it
through this weekend.

##

www.bdant.net || @briandant http://www.twitter.com/briandant || c:
919.421.4273 || skype: brian.dant

On Fri, Mar 21, 2014 at 2:51 AM, ctrengove notifications@github.com wrote:

[2014-03-21 23:36] ctrengove commented on #74
I've been thinking some more about this and have concluded that it may be necessary to retain the cancelled subscription records after all. This is because I am endeavouring to implement the multiple subscriptions in such a way as to guarantee that existing code still works. So, if you all want is a single subscription per customer, then djstripe would still function pretty much as before. In this

[2014-03-30 01:29] ctrengove opened #78 "Multiple subscriptions"
This is related to the discussion at https://github.com/pydanny/dj-stripe/issues/74.

I have added a "model level" implementation of multiple subscriptions in this commit https://github.com/ctrengove/dj-stripe/commit/be96060ca96b663fc7abba91897f37811ffbd9d6. The big change is to replace the previous CurrentSubscription model, which had a one-to-one relationship with the Customer model, with a new

[2014-03-31 00:14] briandant commented on #74
@ctrengove:  Sounds like you've got a clear path forward?  (Sorry for the delay)

In working through the Plans as Models feature, I'm also trying to maintain backward compatibility, but, if we decide to deprecate plans through settings (as hinted at [here](http://dj-stripe.readthedocs.org/en/latest/settings.html#djstripe-plans)), then I'd make backward incompatible changes at some point.

[2014-04-01 20:07] dollydagr commented on #61
For the cancellation policy, and @pydanny mentioned this in a TODO comment in views.py, let's pass at_period_end in and control it from settings. And since we're there, we should similarly take care of prorate (which is set when a customer subscribes to a plan in models.py).

The thing is these two are mutually exclusive: if a provider allows proration on cancellation, then a subscription should e

[2014-04-18 21:45] kronok commented on #19
I'm a little confused on whether or not the project supports single unit purchases. I see it's listed as "forthcoming" right now in the docs, but this issue seems to suggest that it can work, even though it's a bit old.

I'm more interested in the single unit purchases rather than the subscriptions, so I'm curious if this is the project for people like me right now (or very soon?).

Basically, how

[2014-04-18 22:10] buddylindsey commented on #19
@kronok call this method on customer object: https://github.com/pydanny/dj-stripe/blob/master/djstripe/models.py#L561-L580

[2014-04-25 16:19] lgunsch commented on #22
I have had some time recently to start working on finishing up this feature. I have a rough-draft start here: https://github.com/lgunsch/dj-stripe/commit/b6744250ad0c9054aca46d688112fec386d77ee0. My goal was to migrate plan_from_stripe_id into the Plan model where the logic to select between settings plans and model plans could be contained, rather then sprinkling that logic all over the place. Th

[2014-04-25 17:14] briandant commented on #22
Great to see that you got some time to make progress on this!

##

www.bdant.net || @briandant http://www.twitter.com/briandant || c:
919.421.4273 || skype: brian.dant

On Fri, Apr 25, 2014 at 12:19 PM, Lewis notifications@github.com wrote:

[2014-04-26 14:20] msaizar opened #82 "Option to select which model we attach to customer"
Add a layer so that the customer model can be linked to a different model than the user model.

[2014-04-29 04:29] mlvn23 commented on #61
Hi,

I've looked into this for the past few days, and if my interpretation is correct, most membership website have a policy like this:
1. When a customer upgrades to a higher plan, set the benefits to the upgraded plan immediately and prorate the charge.
2. When a customer downgrades to a lower plan or cancels, don't change the benefits until the next billing cycle, and don't refund any prorated

[2014-05-01 01:06] dollydagr commented on #61
Thank you @mlvn23 for looking into this.

The current scheme is already defaulted to False as for the proration policy and consequently makes a customer switch from their current plan to an upgraded or downgraded one while starting and being charged right away for the new plan.

The model you're describing makes better sense and is consistent with Stripe's model:
- For an upgrade: https://support.

[2014-05-01 07:29] mlvn23 commented on #61
Hi @dollydagr,

What I meant was to change the function prototype as follows so that when a customer upgrades, we can prorate it. As it is, we have no control over proration from an external app.
- def subscribe(self, plan, quantity=1, trial_days=None, charge_immediately=True):
- def subscribe(self, plan, quantity=1, trial_days=None, charge_immediately=True, prorate=False)

It's actually not fair

[2014-05-01 21:13] natea opened #85 "Submitting the signup form refreshes the page with no errors"
I'm filling out the signup form with a test credit card #, and when i click submit, it just refreshes the page and doesn't appear to successfully post the form.

looking at the HTML, I can see that these are set for the confirmation key and stripe_token_key:

[code]

These seem to be missing values, unless that are injected somehow using Javascript?

I have this set in my settings.py:

[code]

Any

[2014-05-01 21:23] natea opened #86 "Exception Value: Empty string given for card"
When attempting to add a card at http://localhost:8000/payments/change/cards/, and providing a full credit card #, CVC and exp date, I get this error:

[code]

[2014-05-02 00:06] pydanny commented on #85
I think that #87 covers the problem. It's a matter of possibly bad documentation on my part and a slight change in Django's URL routing as of the last release of Django 1.6.

Please confirm that what I proposed in #87 addresses your problems

[2014-05-02 00:31] pydanny commented on #86
I can't duplicate this on my own projects nor in the tests.

Can you install the latest dj-stripe release (along with the app_name stuff) and try it again? If it fails, I'll try it with your project.

[2014-05-02 00:40] natea commented on #86
I updated to the latest dj-stripe 0.3.5 and still get the error, also on this page:
http://localhost:8000/payments/subscribe/

[code]

btw, these are the test card settings i used:

Card #: 4242 4242 4242 4242
CVC: 123
Exp: 05/2015

[2014-05-02 00:46] natea commented on #85
I followed the instructions in #87, but I'm still unable to submit the payment form.
Is there any test data that you'd recommend that I use?

[2014-05-02 00:50] natea commented on #85
Also, do I need to be submitting this form using an https URL? I'm wondering if I'm accessing the site at http://localhost:8000 and it's posting via Javascript to a Stripe endpoint over https, then there may be a mismatch and the request will fail.

[2014-05-02 03:24] dollydagr commented on #61
Oh I see your point now.

So, at this point, we're pretty close to getting the upgrade scenario implementation specified: The one spot where I see we should verify if we are in an upgrade situation is in ChangePlanView class in views.py. If we are, then we call the subscribe method with prorate=True.
The downgrade scenario is more complicated to implement.

But now I wonder:
- if is preferable to

[2014-05-02 04:52] dollydagr commented on #86
Were you able to troubleshoot your issue https://github.com/pydanny/dj-stripe/issues/85 and successfully signup?

Because if not, I suspect that the customer object could have not been properly created, which would possibly explain the error message "Empty string given for card. You should supply either a token or full card details."

[2014-05-02 04:58] mlvn23 opened #89 "Ability to manually pull events as an alternative to webhook"
I'm at early stage of development and I didn't have any setup where I could use webhook to get the events from Stripe. What I did was to manually poll the events and then shove it to djstripe as if it's receiving a webhook event. I'm not sure if there's an even simpler way or if this has been implemented somewhere already. Do you think this is going to be useful?

Here's the code I'm using:

[code

[2014-05-02 05:12] natea commented on #86
I'm still unable to signup (#85). You can try signing up yourself at http://smallslive.herokuapp.com/accounts/signup/   (use a test credit card #)

[2014-05-02 05:55] mlvn23 commented on #61
I think the upgrade / downgrade policies are tied to the company policy, so we definitely can't force it to everybody. Also, for backward compatibility, we might want to leave the current behavior as it is. I think the important thing right now is for the API to allow proration so that it's possible to implement the "standard" scheme. In the long run, it might be better to implement the policies a

[2014-05-02 17:12] pydanny commented on #89
It could be useful, but I'm not sure where this code would go.

[2014-05-02 17:14] pydanny commented on #61
I've got a couple TODOs in the docs that are related to this issue: http://dj-stripe.readthedocs.org/en/latest/settings.html#djstripe-proration-policy-false

:wink:

[2014-05-02 18:23] mlvn23 commented on #89
I think it can go to the Event class. The first function is actually copied from the webhook view. If we move that code into the Event class, then and it would be shared by the two input sources. Let me know if this works and I'll include this in my pull request.

[2014-05-02 18:25] dollydagr commented on #61
Nice! @pydanny, let me know if I can contribute to the docs.

[2014-05-02 18:26] pydanny commented on #89
Okay, your suggestion is that the code gets attached to the Event model. Let me dwell on it for a bit, and I'll give an answer later today.

[2014-05-02 18:31] pydanny opened #90 "Refactor models code into utils and other modules"
Currently dj-stripe has 950+ lines of code in `models.py`. This is a problem. Why?
- Hard to test individual methods of `models.py`
- Challenging to navigate `models.py` code.
- Adding functionality is becoming more difficult.

My proposal is to isolate the functionality of methods in individual functions stored in appropriate `utils.py` and other modules. There is risk, as this kind of refactorin

[2014-05-02 18:49] pydanny commented on #61
Please do! I think you have a clearer understanding of what this does.

[2014-05-02 19:12] dollydagr commented on #86
It looks like @ersherr run into a similar issue https://github.com/pydanny/dj-stripe/issues/77.

And no, HTTPS is not a technical requirement.

Would you consider splitting the flow that this signup suggests such that:
1. The customer first signs up with basic info (email, password) and verify their identity.
   All you'd have to do is leave allauth signup template and email verification feature d

[2014-05-02 19:39] pydanny commented on #86
When I created the `StripeSubscriptionSignupForm` it seemed like a good idea. A client wanted it so in it went. However, they switched to a two stage signup form because they were worried about security.

I think @dollydagr is right. However, one company (Github) handles signup without email validation. To see what they do, open up an anonymous browser and go to https://github.com. They do:
1. Sig

[2014-05-02 19:50] dollydagr commented on #86
If we leave the one stage `StripeSubscriptionSignupForm`, we'd have to clearly propose it as a secondary option in the docs.

We're handling sensitive information and I believe it would be best if we default the signup to the most secure workflow. So, we should then describe (and strongly suggest) this two stage workflow over the other in the docs.

[2014-05-02 22:38] pydanny commented on #86
I am marking `StripeSubscriptionSignupForm` as deprecated. This way we can begin to plot when we'll remove it, and warn users in the meantime.

[2014-05-02 22:45] natea commented on #86
I'm a little confused by this thread. Is there now a fix for "Exception Value: Empty string given for card."?

Do I need to replace `StripeSubscriptionSignupForm` with something else?

[2014-05-02 22:46] pydanny commented on #85
HTTPS vs HTTP hasn't an issue with my working code in development.

[2014-05-02 22:48] natea commented on #85
If it's not an HTTPS vs HTTP issue, do you have any ideas for why I'm unable to submit the form? There are no errors in the console and no messages in the form itself as to why it's not submitting.

[2014-05-02 22:59] pydanny opened #92 "Remove djstripe.forms.StripeSubscriptionSignupForm"
I deprecated this as it's been considered a potential security issue. Why?
- It combines user registration with **personally identifying information** with **credit card** submission in one form. I'm concerned this is a security issue.
- The amount of abstraction to make the form work through both dj-stripe and django-allauth is is not trivial. As I'm already concerned about security, that it's no

[2014-05-02 23:01] pydanny commented on #86
@natea There isn't a fix or a working implementation. Instead, we ask that you replace `StripeSubscriptionSignupForm` (and single form signup) with something else. Preferably two-stage.

I'm covering the deprecation and removal of `StripeSubscriptionSignupForm` in #92.

Sorry to be a pain about this, we just take security **really seriously** on this project.

[2014-05-03 03:44] issackelly commented on #92
@PaulMcMillan ^ You got paged.

[2014-05-03 20:01] pydanny commented on #22
Note: I just explored how Stripe handles modifications of plans yesterday. Hence why this comment is so late to the party.

## The Problem

The problem with Stripe plans as models is that  except for the title and card description (what shows up on a statement) **Stripe plans are immutable**.  Also, if you delete a plan then unless we add some code, the users who were under that original plan stay

[2014-05-03 20:06] pydanny commented on #22
Oops, forgot a few things in regards to Plan 2:
1. Static Model Plans would be defined within settings. In fact, I don't want to provide an admin.py UI button for creating them.
2. Even with the addition of Static Model Plans, creating or modifying plans should be a developer activity, not something anyone with staff rights can do via the front end.

[2014-05-03 22:21] pydanny commented on #12
I'm doing it inside of `tests/test_integration`. I prefer this over mocks.

[2014-05-06 18:50] lgunsch commented on #22
Either option looks fine to me. I can come up with arguments for both options.

What benefits is there to having plans as models? I suppose it would allow for dynamic creation of plans. For my particular use case, having support for multiple plan subscription gets rid of the need to dynamically create plans.

[2014-05-06 20:05] pydanny commented on #22
Plans as models are there so we have elegant UI interactions, especially when we have multiple subscriptions per user (or company if we have flexible models for who is paying). The Plan models would not be editable once created, hence the term 'StaticModels'.

**NOTE:** Trying not to be a jerk here, but dynamic creation/modification/deletion of plans is not something I'm interested in adding to dj

[2014-05-10 09:32] PaulMcMillan commented on #92
I'm not convinced that the combination of personally identifying information and credit card registration information presents a security risk.

I am, however, convinced that non-trivial abstraction layers around payment processing are often a security risk, so I'd tend to agree with your results.

[2014-05-10 15:45] pydanny commented on #92
Thank you @PaulMcMillan for weighing in.

The march towards deprecation of `djstripe.forms.StripeSubscriptionSignupForm` continues on.

[2014-05-13 21:31] natea commented on #92
37Signals, the wizards of SaaS, have credit card info on the same signup form as where they collect personal info: https://signup.37signals.com/basecamp/Premium/signup/new

Just saying... :)

[2014-05-13 21:56] pydanny commented on #92
That's awesome that 37 signals is doing that. And there is nothing stopping people from using dj-stripe to do it.

However, I'm not so keen on supporting and testing it. My plan is to move `djstripe.forms.StripeSubscriptionSignupForm` into the cookbook and leave it there. That way people can use and debug it if they want. :-)

[2014-05-24 05:16] blanchardjeremy commented on #78
Hey @ctrengove, thanks for writing this. I haven't tested the code, but it looks great. I think dj-stripe should move away from having any settings-based plans at all and they should all be model based. And your code is a step in that direction.

:+1: from me!

[2014-05-24 16:25] pydanny commented on #78
For what it's worth the problem with merging be96060ca96b663fc7abba91897f37811ffbd9d6 is that it's a huge pull request that neither myself nor @dollydagr have the time to fully review. I _might_ have a client that will need this in the near future, in which case I will be able to make the time.

In the meantime, my apologies.

[2014-05-24 22:13] dkvdm opened #96 "dj-stripe should rely on jsonfield instead of django-jsonfield in Django 1.6"
See #95
This issue can be solved with:

[code]

[2014-05-26 02:48] blanchardjeremy opened #97 "Including Stripe Connect functionality"
Hey @pydanny and company, First, thanks for all your stellar work making this package what it is. It's a treat to use it!

I am building a marketplace on top of Stripe Connect in Django. dj-stripe is obviously built primarily for the use case of a web app charging users for access to some pre-defined planes.

As I'm getting started on this project, I wanted to seek some guidance from you so I coul

[2014-05-26 04:07] blanchardjeremy commented on #97
FYI, here's my first stab at this:

auzigog/dj-stripe@4c87aa9528

[2014-05-26 04:14] pydanny commented on #97
@auzigog Alas, I might be obtuse, but from your description and commit, I'm not sure what you mean by 'Account' model. What does it correct that simply adding some fields to the User model or the Customer model doesn't do?

In any case, the way I like to extend (not add) functionality is one of the following:
- djstripe.contrib could be nice. The problem is that then you are depending on the dj-st

[2014-05-26 05:18] blanchardjeremy commented on #97
@pydanny Ah. Thanks for giving me the chance to clarify. I'm adding a model to reflect Stripe's concept of "Account": https://stripe.com/docs/api#account. This is how Stripe Connect tracks a Stripe user who has given you permission (via OAuth2) to make charges/customers/subscriptions on their behalf. The main thing Account is offering (and the main thing that commit is doing) is adding the ability

[2014-05-26 23:52] ctrengove commented on #78
Yes, I appreciate that this changes quite a few things, but I couldn't think of any other way of reducing the impact of the changes while replacing the current one-to-one CurrentSubscription model with a new many-to-one Subscription model.

That said, if one were to just add a new Subscription model alongside the CurrentSubscription model, then it should be possible to leave the existing single su

[2014-05-27 00:23] blanchardjeremy commented on #78
I like the idea of having `Subscription` and `CurrentSubscription` side by side. Subscription could also allow for plans that aren't attached to the settings approach to storing plans.

[2014-06-06 05:10] cphalpert commented on #75
:+1:

Did anyone make progress?

[2014-06-18 06:10] riship opened #102 "dj-stripe Initilization"
I have installed this module and register one user without any difficulty i.e., by submitting the form at `/payments/` and here dj-stripe register the current user to stripe.com . But what if I want to send card information with the user and want to use it later , However I register the card by following instructions https://stripe.com/docs/tutorials/forms  .

But I think this module must contain

[2014-06-26 22:57] gkaplan commented on #75
:+1: This would be super handy!

[2014-07-30 18:45] nanvel opened #103 "http://127.0.0.1:8000/admin/djstripe/customer/?q=fdf fails with FieldError"
FieldError: Cannot resolve keyword 'customer' into field. Choices are: card_fingerprint, card_kind, card_last_4, charges, created, current_subscription, date_purged, event, id, invoices, modified, stripe_id, user

OS X, Python 2.7.6
djstripe version - 0.3.5

[2014-07-30 19:10] nanvel commented on #103
https://github.com/pydanny/dj-stripe/pull/104

[2014-09-05 11:29] robert-osborne opened #114 "Add a section for Charges to the History page"
History is based upon Invoice which appears to only be generated for subscription events.  The charge appears in the Charges history (along with subscription) but not in Invoices.

Not sure if there should be an Invoice for the Charge or history should be based upon Charges not Invoices.

[2014-09-10 16:54] matthewmpalen opened #115 "send_receipt() fails when there's no e-mail address attached to user"
The send_receipt() method of the Charge model fails if the transacting user doesn't have an e-mail address on file.

Specifically:
to=[self.customer.user.email]

Should considering checking the length of the list before sending.

[2014-09-17 15:07] rypalmer opened #116 "Retrieve events using the API version set in dj-stripe instead of the API version from the user's stripe dashboard"
Stripe released a few changes to their Webhook API on August 4th which now causes an error when Transfer-related webhooks are sent. This is dependent on your Stripe account running an API version of 2014-08-04 or later.

This causes a keyerror when Transfer webhooks are processed.

[code]

I believe anything related to `transfer["summary"]` will have to be removed. I'm not sure what further should

[2014-09-24 12:14] mtschammer opened #117 "Customer.sync() is broken with Stripe API >= 2013-07-05"
The [2013-07-05 API change](https://stripe.com/docs/upgrades#2013-07-05) breaks the sync() method in the djstripe.models.Customer class:

This means that the following check:

[code]

 results in

[code]

The active_card check, and any use of active_card in general, should be changed so that default_card is used instead.

[2014-09-24 14:47] myusuf3 commented on #117
When I get a chance I will take a look at this.

[2014-09-24 15:02] dollydagr commented on #115
Thanks @matthewmpalen. But in a real application, there should be safeguards (way before this step, e.g. at sign up) to ensure that every user provided a valid email address.

[2014-09-24 16:35] pydanny commented on #117
Next week I'll be starting a side project that uses dj-stripe so I will have more time to look at dj-stripe issues.

[2014-09-24 16:39] pydanny commented on #115
Should we through a more obvious exception if the user doesn't have an email address? Something like `UserLacksEmailAddress`?

[2014-09-24 16:54] matthewmpalen commented on #115
That could be helpful. I'd just prefer the send_receipt() to fail immediately than the alternative: sending the e-mail hangs for a long time because there isn't a valid to-address before ending in a 500 error.

@dollydagr For reference, I was using this in combination with django-allauth whose signup process doesn't necessarily require e-mail.

[2014-09-24 16:57] pydanny commented on #115
I think we should have an explicit exception because of what @matthewmpalen says. Then we can demand an email before payment (which is very reasonable).

[2014-09-24 17:06] matthewmpalen commented on #115
Thanks, I seem to think so. If you're opting in for the receipt, I think it would make sense to check the e-mail address _before_ charging. What I experienced was the charge was successful but the e-mail failed, so to the user, it looked like the whole thing failed when it actually did not.

[2014-09-25 09:18] mtschammer commented on #117
Great to hear. It should also be noted that the [2013-08-13 API change](https://stripe.com/docs/upgrades#2013-08-13) breaks djstripe.models.Charge.sync_from_stripe_data, as the "fee" attribute was removed from the Charge object:

this means that

[code]

results in:

[code]

I haven't looked too much into it, but I guess this also means that the Transfer model needs some attention.

[2014-10-03 01:35] pydanny opened #118 "Add more project maintainers"
Unfortunately, myself and the other devs with commit access to this project are suffering from bandwidth issues. We simply can't get to issues, or properly review pull requests. In the roughly near future I'll have serious time for this project, but that probably means at least 30-75 days.

All this means is that I'm looking for candidates to help maintain the project.

Prerequisites:
- A strong u

[2014-10-10 03:42] macropin commented on #118
Is it worth maintaining given that pinax/django-stripe-payments fulfils the same role, and shares a lot of common code?

[2014-10-10 13:18] tedtieken commented on #118
I think it is absolutely worth having a stripe payments library directed by pydanny.

This project fixed/fixes a lot of the gaps that existed in the other library.  In short, this is a better engineered, more pythonic library than the other.

For me the sufficient argument on this library having higher engineering quality is that this library exists in the namespace `djstripe` whereas that one exi

[2014-10-10 18:26] audreyfeldroy commented on #118
It is worthwhile for both projects to exist independently, and to borrow ideas from each other. If they converge again, that's cool, but sometimes forcing convergence can limit creativity/functionality.

Whoever feels like helping maintain whichever one should just go for it :) I will try to pitch in a little here but am already spread thin, so I can't guarantee that I'll be able to do much.

[2014-10-10 20:41] pydanny commented on #118
I completely agree with @tedtieken, maintaining this project is a good thing. I like to do things a quite differently than the pinax team, which is why I did a hard fork of **django-stripe-payments** in the first place. In the near future I have a side project which will use this library, meaning it will receive more attention.

[2014-10-10 22:24] audreyfeldroy commented on #116
Thanks for reporting this @rypalmer. This must be why the build is failing.

If anyone has a fix, a pull request would be helpful :)

[2014-10-22 02:33] bkuberek opened #126 "Support for django 1.7"
Hi this more like a question rather than a feature request.

Will djstripe work with django 1.7? What needs to be done to get it working?

[2014-10-22 04:36] pydanny commented on #126
A formal release. Which is pending any of the people with commit rights having the time to:
- Fill out the changelog
- Do some extensive spot tests.
- Release!

[2014-10-23 19:45] dollydagr commented on #102
Hi @riship. Sorry it took so long to get back to you. I am actually not sure I understand your issue.

You are mentioning the instructions in https://stripe.com/docs/tutorials/forms, but these are already included in dj-stripe's templates/djstripe/subscribe_form.html and templates/djstripe/change_card.html.

The documentation is available at http://dj-stripe.readthedocs.org/en/latest/.

[2014-10-23 20:26] dollydagr commented on #75
Hey @buddylindsey, I am reviving this thread (just because coupons are a must-have!). I started tracking them down in GoDjango and django-stripe-payments (summarized below) but I was hoping to ask you a pull-request instead. Would that be at all possible :-)?

**GoDjango**
- [`CheckoutView.form_valid` in `views.py`](https://github.com/GoDjango/godjango-site/blob/master/godjango_cart/views.py#L128-

[2014-10-24 09:58] jackappleby commented on #126
For what it's worth I'm using dj-stripe (master branch) with Django 1.7 and seems (yes, purely anecdotally) fine. A proper release would obviously be great though :)

[2014-11-07 10:54] achedeuzot commented on #126
I'm using the version 3.5 from pip install and my Django 1.7 doesn't like djstripe very much, it always says `django.core.exceptions.AppRegistryNotReady: Models aren't loaded yet.`. The master branch doesn't have this issue, it works great !

The error comes from:

[code]

[2014-11-25 11:50] puterleat commented on #82
This is only tangentially related, so apologies, but I wonder if the docs could explain when and from where new customer objects are created to match new user objects? I use a custom user model and have many 'users' who are not and will never be 'customers'... In my tests I notice that djstipe now makes calls to stripe to register new customers automatically, but it's hard to tell where the call i

[2014-12-01 20:24] puterleat commented on #35
Is this already done, or would you welcome a discussion about how it's implemented?

Perhaps relatedly, I've been thinking about how to implement a more staged signup process in which a user can add payment details but then review the order before the payment is processed.
I'd wondered if djstripe could achieve this with the forms wizard machinery? https://docs.djangoproject.com/en/1.7/ref/contrib

[2014-12-17 08:56] pspiteri commented on #126
Hi - my experience mirrors that of @achedeuzot.

[2014-12-17 18:10] pydanny commented on #126
Apologies for taking so long on the release issue. We'll try to get a release out by the end of the week. It depends on my work schedule.

Would it help if we just tagged master right now as a RC for the next release?

[2014-12-17 20:54] pspiteri commented on #126
Hi - thanks for responding. I'm not sure I am smart enough to understand the exam question ... but if you're proposing that you might release an RC that is not quite perfect but in most cases will be fine for 1.7 ... I'd be up for that.

If not, don't worry about explaining - you've got bigger fish to fry, I'm certain.

Thanks again and have a great day.

[2014-12-17 23:59] jackappleby commented on #126
@pydanny If a RC tag downloads the master branch (i.e. the codebase in its current state) after a `pip install dj-stripe` then that would be helpful. If not, I can hang on for a proper release. Cheers

[2014-12-31 02:09] mwarkentin commented on #126
I could use an RC w/ Django 1.7 support for something I'm working on too. :+1:

[2014-12-31 04:15] pydanny commented on #126
I'm on holiday without my computer until next week. I'll post a release when I get back to the world.

[2014-12-31 04:57] mwarkentin commented on #126
No problem.. thanks!

[2015-02-02 16:18] StErMi opened #136 "Django 1.6 current subscription not updated [sub->cancel->sub]"
Hi all,

I've made this test:

subscribed to PLAN A -> OK

[code]

unsubscribed from PLAN A (cancel at period end) -> OK

[code]

Now, current_subscription.cancel_at_period_end is True and that's fine.

I've upgrade to PLAN B (upgrade) -> OK

[code]

But now, current subscription has this informations:

[code]

instead on Stripe test account I can see this for the new subscription has cancel_at_pe

[2015-02-03 04:46] 747project opened #137 "Current tarball on pypi (0.3.5) appears to not have any templates for email"
Current tarball on pypi appears to not have any templates for email. This causes a stacktrace/500 error on certain webhooks:

[code]

Below are all contents in the templates directory contained in the tarball pulled from https://pypi.python.org/pypi/dj-stripe#downloads

[code]

[2015-02-04 15:49] 747project commented on #136
Hope this helps, but I think I saw a fix for your issue here: 5e0cbb08daddb578783d9605150223b4f65de756. It appears to be on master, but I don't think its in the 0.3.5 version on pypi

[2015-02-04 16:00] StErMi commented on #136
@747project nope, infact I just noticied it.
I think I will fork this project and use the master version and implement it by myself if I found issues.

[2015-02-05 09:32] StErMi opened #138 "[Question] How to hook to each subscription event and extend current model?"
Hi all, I will explain my current scenario. I'm offering a service that will allow users to send an amount of SMS per month.

I've 3 different plans: planA 100 sms/m, planB 500sms/m, planC 1000sms/m.
I need to track how many SMS they have sent each month to stop them if they are over they monthly plan limit and tell them to upgrade.

So I need to extend the current Subscription model or creare a p

[2015-02-06 07:50] StErMi commented on #116
Hi guys, is this problem solved with the current master version of dj-stripe?

[2015-02-18 16:00] StErMi opened #139 "Delete (Cancel Immediately) Subscription doesn't work"
Hi,

I'm making some test with subscribe, upgrade/downgrade, cancel (at period end) and force cancel of subscriptions.

I'm in a scenario where user do a subscription, cancel it (and it will be cancelled at period end) and than I force cancel it (immediately) from Stripe's dashboard.
This will send the WebHook "customer.subscription.deleted" that will trigger a `customer.sync_current_subscription(

[2015-02-19 07:46] awechsler opened #140 "null plan value for invoice item?"
Ok, so I've decided to see what I can do to get djstripe working for my site. I'm not sure if I did something wrong along the way or if there was an API change but I see the following error in my logs. I was able to get around this by modifying the invoice item model/table to accept a NULL value for the plan name. Not ideal, but I can still figure out which plan was used by the price. That said I

[2015-02-19 07:54] awechsler opened #141 "Why isn't the sorted PAYMENT_PLANS being used?"
This is just more of a quick question, but I noticed that my plans do not show up sorted and found that they do get sorted within safe_settings.py. However, right afterwords the list that is built uses the original unsorted PAYMENTS_PLA NS. It appears that PLAN_CHOICES is what is being used to populate the plans in forms.py. In short I was just curious if there is a specific reason for this?

[2015-02-19 22:22] awechsler commented on #140
OK, so I started up the debugger and took a look at the JSON coming back from stripe.Invoice.retrieve and their are instances where a NULL is being returned (please see below).

Now I'm unclear when this occurred or if this is an issue in the inital plan definition but as I stated I can get around it by allowing the model to accept NULL values.

My question here is for those of you more experience

[2015-03-09 21:09] kavdev commented on #82
See #135. Closing issue.

[2015-03-09 21:09] #82 closed, assigned to nobody

[2015-03-09 21:25] kavdev commented on #126
Python 3.3+ and Django 1.7 are now formally supported. See #135. Closing issue.

[2015-03-09 21:25] #126 closed, assigned to nobody

[2015-03-09 21:27] kavdev commented on #6
See #96 and #144 - switching to jsonfield. Closing issue.

[2015-03-09 21:27] #6 closed, assigned to nobody

[2015-03-09 21:33] kavdev commented on #96
see #144. Closing issue.

[2015-03-09 21:33] #96 closed, assigned to nobody

[2015-03-09 21:34] pydanny commented on #118
Promoted @kavdev.

[2015-03-09 21:34] #118 closed, assigned to nobody

[2015-03-09 21:43] kavdev commented on #19
Hi @kronok, can we close this issue?

[2015-03-09 21:47] kavdev commented on #35
@pydanny Trial plans seem to be supported; is there another implementation you were considering?

[2015-03-09 21:52] stepmr commented on #19
For reference, I believe single unit purchases are covered in the docs here: http://dj-stripe.readthedocs.org/en/latest/cookbook.html#making-individual-purchases

[2015-03-09 21:58] pydanny commented on #35
Hadn't thought about how to resolve this one, just put it down as a feature request.

[2015-03-09 22:10] kavdev commented on #44
Killing the context processor, adding the mixin to views.

How important is it to keep the "duplicate" plans variables around? The only compatibility issue is with people who are using the variables in their own templates.

Also, it looks like @aliev is doing some work towards exclusive model-based plans in which the plan context variables are removed.

[2015-03-09 22:30] kavdev commented on #47
@pydanny Do you still wish to review the code? I think contrib is an acceptable place for third-party package hooks.

[2015-03-09 22:42] kavdev commented on #86
Does anyone have a status update on this issue?

[2015-03-09 22:45] kavdev commented on #92
Are there any objections to me moving forward on this?

@pydanny, do you still want it in the cookbook? If so, do you want a verbatim copy of the form code? It would be nice to not have to worry about it and just throw the code away.

[2015-03-09 22:49] kavdev commented on #102
Hi @riship, has this issue been resolved?

[2015-03-09 22:51] kavdev commented on #103
Fixed by changes made in #135.

[2015-03-09 22:51] #103 closed, assigned to nobody

[2015-03-09 22:59] kavdev commented on #115
With the changes in #135, the Subscriber model must have an email field/property. An ImproperlyConfigured exception is thrown if that isn't the case.

I'll add the same check to the user model in settings.

[2015-03-09 23:24] pspiteri commented on #126
Great - thanks a million.

[2015-03-09 23:33] kavdev commented on #138
dj-stripe now supports a custom Subscriber model (see #135). Does that satisfy your use case?

[2015-03-09 23:42] kavdev commented on #139
I'll take some time to investigate this in a few weeks.

[2015-03-10 06:51] StErMi commented on #138
Hi Alexander, is there some documentation about it?

I solved my issue subscribing to dj-stripe events. I will let you know my
solution as soon as I get hands into code again. I would really like to not
use broadcast events as I solution if possible, I don't like that pattern
:)

On Tue, Mar 10, 2015 at 12:33 AM, Alexander Kavanaugh <
notifications@github.com> wrote:

##

Founder e CEO di SurveyLa

[2015-03-10 06:52] StErMi commented on #139
If you need to test your solution let me know.

On Tue, Mar 10, 2015 at 12:42 AM, Alexander Kavanaugh <
notifications@github.com> wrote:

##

Founder e CEO di SurveyLab
https://surveylab.me/Android Engineer @ musiXmatch
http://www.musixmatch.com/

Skype: e.ricci.designfuture
Twitter: @StErMi https://twitter.com/stermi
Linkedin: https://www.linkedin.com/in/emanuelericci
Google+: https://plus.google

[2015-03-10 15:23] omscsgt opened #146 "Can this be used with Angular app with django backend?"
I really like the maturity of this project. I am trying to integrate it in my application that has a RESTful django back-end and the front-end is in AngularJS. My authentication system is built in AngularJS with RESTful calls to django server side.

After integrating it in my application when I visit `http://127.0.0.1:8000/payments/` I get redirected to  `http://127.0.0.1:8000/accounts/login/?next

[2015-03-10 15:48] pydanny commented on #146
Change `settings.LOGIN_REDIRECT_URL` to `http://127.0.0.1:8000/index.html#/login`

[2015-03-10 15:48] #146 closed, assigned to nobody

[2015-03-10 22:38] kronok commented on #19
@kavdev Yep, I did something similar to what @stepmr posted to accomplish it.

[2015-03-11 01:03] kavdev commented on #138
There is, here: http://dj-stripe.readthedocs.org/en/latest/settings.html#djstripe-subscriber-model-settings-auth-user-model

Feel free to reply with any questions. I'll be happy to help.

[2015-03-11 01:34] kavdev commented on #19
Perfect. Glad you were able to work it out!

[2015-03-11 01:34] #19 closed, assigned to nobody

[2015-03-12 01:40] pydanny opened #147 "Release 0.4.0"
@kavdev Let me know when you want the formal PyPI release done.

[2015-03-12 22:31] pydanny commented on #147
Since I get asked a lot of questions about why the PyPI version doesn't work, I'm tagging a 0.4.0beta.

[2015-03-12 22:35] pydanny commented on #147
Beta is tagged: https://github.com/pydanny/dj-stripe/releases/tag/0.4.0beta

[2015-03-13 00:16] kavdev commented on #147
Just merged #145. It should be good to go for 0.4.0.

Which PyPi version? Could you forward me some of those questions so I can troubleshoot?

[2015-03-13 00:22] kavdev commented on #115
An ImproperlyConfigured exception is now thrown if the subscriber model (custom or user model) has no email attribute.

[2015-03-13 00:22] #115 closed, assigned to nobody

[2015-03-15 14:21] jackappleby opened #149 "Update subscription failure"
Using the Stripe dashboard on stripe.com I changed a customer's subscription to a different plan. A webhook was sent, producing a 'customer.subscription.updated' event that goes unprocessed and causes this server error:

Internal Server Error: /payments/webhook/
Traceback (most recent call last):
  File "/site/env/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 111, in get_re

[2015-03-15 15:06] jackappleby commented on #149
Hi, looks like I forgot to init_plans after adding a new plan, oops.

As a side query, I'm a little confused about where I should be storing authoritative data on plans. Currently I add my plans to DJSTRIPE_PLANS in a settings.py file, and also add them to Stripe via the stripe.com dashboard. But I notice that it's also possible to add plans via the djstripe admin, under 'Plans' (though it doesn't

[2015-03-17 10:26] vikasgulati opened #151 "South Migrations not working properly."
I am using `dj-stripe==0.4.0b0` along with `Django==1.6.10` & `South==1.0.2`. Bumped into an issue with the south migrations in dj-stripe. The migrations are not in sync with the models. Highlighting the issues below:
1. Migrations do not have a mention of subscriber field in customer model and hence the field isn't added to the customer model after running the migrations.
2. Backwards migration i

[2015-03-20 14:06] vikasgulati opened #152 "Signal for event customer.source.created is not registered"
Need to perform some operations on occurrence of event `customer.source.created` for which a signal doesn't seem to be registered.

[2015-03-21 22:36] atleta opened #154 "Documentation is out of sync with the code: TEMPLATE_CONTEXT_PROCESSORS"
djstripe/context_processors.py have been removed by commit 6ac2937d398ac78a45553e05700f98012cc0b79d , still the readme instructs users to add it to the config (which then causes the django app to fail to start). Remove this part from the documentation.

Also, it would be nice to add somewhere that whoever is upgrading from 0.4b need to remove it. (Maybe just add it back and issue a warning when ca

[2015-03-28 05:48] kavdev commented on #151
Did you go through south_migrations and then through migrations? We're doing our best to deal with the south -> django 1.7 migrations transition but haven't ironed out all the kinks yet.

If you're changing to a new subscriber model after using User, things might get a bit hairy (if that's the case, I'll be happy to help you through the migrations).

[2015-03-28 05:50] kavdev commented on #154
Good call. I'll add a deprecation warning and remove that clause from the documentation in my next round of commits (next weekend if nothing comes up).

[2015-03-28 05:54] kavdev commented on #152
Thanks! Merged.

[2015-03-28 05:54] #152 closed, assigned to nobody

[2015-03-28 06:12] kavdev commented on #149
It's a bit tough to follow with so many different ways to accomplish the same thing. We'll eventually move exclusively to model based plans (see #22).

IIRC, the only place you need to add plans is in the settings file. If you then run `manage.py djstripe_init_plans`, djstripe will create the plans for you in Stripe (see [docs](http://dj-stripe.readthedocs.org/en/latest/installation.html#configura

[2015-03-28 06:19] #149 closed, assigned to nobody

[2015-03-28 06:21] kavdev commented on #117
I'll work on this along with #116. @myusuf3, if you still want to take this, let me know.

[2015-03-28 06:22] kavdev commented on #102
Assuming resolved. @riship please email me if you still have questions.

[2015-03-28 06:22] #102 closed, assigned to nobody

[2015-03-28 06:29] kavdev commented on #92
Removing the form in my next round of commits. Unless someone objects, I'll be leaving it out of the cookbook.

[2015-03-28 06:37] #44 closed, assigned to kavdev

[2015-04-02 18:27] waltonryan opened #155 "context processor step not in documentation"
Not sure if other people are having this issue, but the line to add 'djstripe.context_processors.djstripe_settings' to TEMPLATE_CONTEXT_PROCESSORS is not included in the documentation up at https://dj-stripe.readthedocs.org/en/latest/usage.html. It took me a little while to figure out that was the issue in setting up dj-stripe for a project.

[2015-04-03 05:24] vikasgulati commented on #155
Hey @waltonryan, What version of djstripe are you using? The latest (master) version of djstripe doesn't require you to use it and the docs are referring the latest version. Hence the discrepancy.

[2015-04-03 16:38] waltonryan commented on #155
Hey, got it. I'm using "Version: 0.3.5".

[2015-04-03 17:13] pydanny commented on #155
@kavdev When did you want me to push 0.4.0 to PyPI? It doesn't have to be perfect, that's what dot releases are for.

[2015-04-04 20:05] kavdev commented on #155
@pydanny Whenever's convenient for you.

[2015-04-04 20:08] pydanny commented on #155
Okay, pushing it up isn't hard. Writing the changelog is hard, as we haven't maintained that very well. :fearful:

[2015-04-05 21:49] kavdev commented on #155
I'll have it updated by the end of the day.

[2015-04-06 02:51] kavdev commented on #154
Re-added the processor with a deprecation warning. See 0cc92b73cf0d6963ef634e0208a538a5533c8c44

[2015-04-06 02:52] #154 closed, assigned to kavdev

[2015-04-06 02:59] kavdev commented on #147
@pydanny ready to release 0.4.0. Tagged the repo accordingly.

[2015-04-06 03:00] kavdev commented on #155
see #147 for 0.4.0 release status.

[2015-04-06 03:00] #155 closed, assigned to nobody

[2015-04-06 03:48] kavdev commented on #85
Removed the StripeSubscriptionSignupForm and associated modules. Use two-stage registration instead. See 9bed17a3f840af9e11b274b7068739c896cac033

[2015-04-06 03:48] #85 closed, assigned to kavdev

[2015-04-06 03:48] kavdev commented on #86
Removed the StripeSubscriptionSignupForm and associated modules. Use two-stage registration instead. See 9bed17a3f840af9e11b274b7068739c896cac033

[2015-04-06 03:48] #86 closed, assigned to kavdev

[2015-04-06 03:48] kavdev commented on #92
Removed the StripeSubscriptionSignupForm and associated modules. Use two-stage registration instead. See 9bed17a3f840af9e11b274b7068739c896cac033

[2015-04-06 03:48] #92 closed, assigned to kavdev

[2015-04-08 16:58] pablovg2 opened #156 "Invalid source object: must be a dictionary or a non-empty string."
With a new clean project and the last version of dj-stripe I get this error when I try to submit the card: Invalid source object: must be a dictionary or a non-empty string.

I'm using Django 1.7 and the last version of master.

Here are traceback.

[code]

[2015-04-08 17:04] pablovg2 opened #157 "You cannot set card to an empty string. We interpret empty strings as None in requests.You may set {"
I get this error when I try to subscription the card: **You cannot set card to an empty string. We interpret empty strings as None in requests.You may set** (...)

I'm using Django 1.7 and the last version of master.

Here are traceback.

[code]

[2015-04-11 01:45] polansky commented on #156
I'm being affected by this as well.  I'm using Django 1.7.4, Python 3.4.2, and dj-stripe tagged 0.4.0.  I'm happy to help troubleshoot.  Thanks.

[2015-04-12 00:24] pydanny commented on #147
Just released on PyPI! https://pypi.python.org/pypi/dj-stripe

Thanks everyone for your awesome work, especially @kavdev!

[2015-04-12 00:24] #147 closed, assigned to nobody

[2015-04-12 02:19] kavdev commented on #157
Hi pablovg2, can you tell me a little about your app flow?

What templates are you using and what calls are you making to the dj-stripe api, if any?

[2015-04-12 02:21] kavdev commented on #156
Does this issue occur in the same flow as #157?

[2015-04-13 14:56] pablovg2 commented on #156
This issue is when I try to changing or creating a new the card.

[2015-04-13 15:02] pablovg2 commented on #157
I am using the same templates as the example without any change.

[2015-04-13 16:55] pablovg2 commented on #157
My fault, there was a problem with the javascript.

[2015-04-13 17:25] pablovg2 commented on #156
My fault, there was a problem with the javascript and didn't load the script of templates

[2015-04-13 17:25] #156 closed, assigned to nobody

[2015-04-13 17:25] #157 closed, assigned to nobody

[2015-04-14 10:06] shubham2892 opened #160 "ValueError: Lookup failed for model referenced by field djstripe.Customer.subscriber: clients.Business"
Hi, I am facing this issue while upgrading to django 1.8 on  running `makemigrations`.

[2015-04-14 10:15] #160 closed, assigned to nobody

[2015-04-15 05:23] CaptainKisukeUrahara opened #161 "can i use django 1.8?"
is django 1.8 not supported?
i only see
Works with Django 1.7, 1.6, 1.5

[2015-04-15 17:28] #161 closed, assigned to nobody

[2015-04-15 17:30] pydanny commented on #161
We're still testing with Django 1.8.

[2015-04-15 19:08] CaptainKisukeUrahara commented on #161
alright thanks for the response.

[2015-04-17 23:18] polansky commented on #156
For people running into this in the future (like me) I had to make sure that the JQuery JS was referenced in the html before the "{% block javascript %}{% endblock %}".  Most people probably know this but I did not.

[2015-04-18 20:53] kavdev opened #162 "Go through the Stripe changelog 2012-11-07 to present and fix anything relevant to this project."
All models are up to date. Tests are at 100%.

[2015-04-18 20:55] kavdev commented on #138
Seems resolved. Closing issue.

[2015-04-18 20:55] #138 closed, assigned to nobody

[2015-04-23 09:03] Tyrdall commented on #151
Can confirm this issue. By trying to add the tables via `migrate` the following error comes up:

[code]

By adding the tables via `syncdb --all` the column is added correctly.

[2015-04-23 15:40] kavdev commented on #151
Interesting. What version of Django are you running?

[2015-04-23 16:01] Tyrdall commented on #151
@kavdev 1.6.7

Right here we got a O2O field called `subscriber`: https://github.com/pydanny/dj-stripe/blob/master/djstripe/models.py#L329

...but, it's called `user` in your migrations: https://github.com/pydanny/dj-stripe/blob/master/djstripe/south_migrations/0003_auto__add_plan__chg_field_customer_user.py#L125

[2015-04-23 16:23] kavdev commented on #151
So the problem is this: our south migrations are not synced with our django migrations.

Can you run makemigrations and submit a pull request?

[2015-04-23 16:30] Tyrdall commented on #151
OK. Please give me a few days.

[2015-04-23 17:41] kavdev commented on #151
Absolutely. Thanks!

[2015-04-23 18:07] kavdev commented on #140
Sorry it took me so long to look at this. I'm not entirely sure, but it would make sense that plan would be null on a regular charge.

Can you tell me a bit more about these invoices? Were they generated after a charge or a subscription payment?

[2015-04-23 18:32] kavdev commented on #139
Hi Emanuele, sorry it took me such a long time to get back to you on this. I've added changes to [this branch](https://github.com/pydanny/dj-stripe/tree/bugfix/%23139-subscription-deleted-webhook). Please test it and let me know.

[2015-04-23 18:43] kavdev opened #165 "Django 1.8 Compatability"
Our tests currently pass on 1.8, but the fact that we don't have 100% coverage means we can't be confident without acceptance tests.

If you are running your app with 1.8 and can confirm that dj-stripe works with it, please let us know here.

[2015-04-23 18:50] kavdev commented on #137
That's strange. Not sure what's happening during dist - it's the same issue with the current version.

@pydanny, any ideas on what's causing that folder not to upload to pip? The tarballs on gihub don't have this issue.

[2015-04-23 19:05] kavdev commented on #114
~~Are invoices generated on stripe for charges? If so, it seems we aren't properly syncing invoices. (Might be linked to #140)~~

[2015-04-23 19:48] kavdev commented on #97
I think the best way to do this is to create a ConnectCustomer that extends Customer and overrides the subscriber field to allow for a custom connect subscriber model.

I don't think a separate Account model is necessary; your get_api_key method can be part of an interface from which Customer and ConnectCustomer inherit. We'll pull the api_key similar to how we pull the email from custom subscribe

[2015-04-23 22:02] CaptainKisukeUrahara commented on #165
well i just upgraded my project to django 1.8 that has dj-stripe and everything seems to be working fine for me

[2015-04-23 22:22] kavdev commented on #165
Cool, thanks!

[2015-04-24 18:03] #165 closed, assigned to nobody

[2015-04-24 18:42] kavdev commented on #141
Not that I know of. Seems like a bug. There are a few different (some redundant) settings that deal with plans.

We'll be moving to model-based plans soon, so those settings will be reevaluated.

[2015-04-24 18:42] #141 closed, assigned to nobody

[2015-04-24 18:45] kavdev commented on #136
Seems to have been resolved. If not, let me know.

[2015-04-24 18:45] #136 closed, assigned to nobody

[2015-04-24 18:55] kavdev commented on #89
Hi mlvn23, sorry it took us so long to respond on this.

Seems like a nice, simple alternative. Please create a pull request with tests and documentation. The docs should probably go in the cookbook, but if you can think of a better place for it, let me know.

If everything's solid, I'll merge it.

[2015-04-24 19:11] kavdev commented on #78
Hi Chris, can you give me a quick use case for multiple subscriptions?

[2015-04-24 19:15] kavdev commented on #75
Does anyone want to submit a pull request on this, or should I slate this for future work?

[2015-04-24 19:19] #47 closed, assigned to nobody

[2015-04-24 19:21] kavdev commented on #35
@puterleat, if you're still interested in a better form flow, please review all of the latest changes and submit a new issue with your proposal.

[2015-04-24 19:21] #35 closed, assigned to nobody

[2015-04-24 19:23] #10 closed, assigned to nobody

[2015-04-25 18:03] kavdev opened #166 "Delete or Merge the hich-pip branch"
@dollydagr, do you still need that branch?

[2015-04-26 01:54] ctrengove commented on #78
Well, how about a business which sells a range of electronic databases? Customers can subscribe to one, two, or more, databases, and each database is essentially independent. With a single subscription model I suppose you could have various plans which gave access to different combinations of databases. But having multiple subscriptions seems a more natural approach to me, and allows customers to

[2015-04-27 05:21] kavdev commented on #78
Thanks, that makes sense. Kind of like if AWS had a subscription model for each service it offers.

This feature will take a bit of time to architect. Would you like to give it a shot and submit a pull request, or shall I add it to my list?

[2015-04-27 06:14] ctrengove commented on #78
Well, my first comment in this issue referenced my own implementation, which involved replacing the CurrentSubscription model with a Subscription model. As was noted, this ended up being a pretty big pull request.

Then I suggested that perhaps one might just add a new (multiple) Subscription model alongside the CurrentSubscription model, which would involve duplicating a certain amount of code, b

[2015-04-27 07:02] Tyrdall commented on #151
@kavdev https://github.com/pydanny/dj-stripe/pull/167

[2015-04-27 07:37] kavdev commented on #78
Great! I look forward to checking out what you've done.

I totally understand your concern -- large changesets lead to migration hell. Sometimes, however, the conservative approach is not always the right approach.

[2015-04-27 07:44] kavdev commented on #151
Great work! Is it tested?

That takes care of the user->subscriber rename.

(This migration)[https://github.com/pydanny/dj-stripe/blob/master/djstripe/migrations/0003_auto_20150128_0800.py] still needs to be ported somehow though. Does South support swappable dependencies?

[2015-04-27 08:50] Tyrdall commented on #151
Yep, tested. Don't really get what you mean by "needs to be ported".

Btw, I use the following setting:

[code]

[2015-04-27 08:55] Tyrdall commented on #151
Some other apps use a error message to make sure people use the right migrations:

`migrations/__init__.py`

[code]

[2015-04-27 10:22] alesegdia opened #168 "Change views to get plans from models instead of settings"
Is this possible? I can't find any option, there is `Plan` at models.py, but it seems all views (like subscription one) take it from settings.py.

[2015-04-27 12:23] martinhill commented on #168
@alesegdia yes it's definitely possible, though not yet implemented in this repo. PR [https://github.com/pydanny/dj-stripe/pull/142] may be what you're looking for.

[2015-04-27 14:51] buddylindsey commented on #75
Sorry, didn't check my personal email for a few days. I'll see about submitting a PR for this.

[2015-04-27 16:03] kavdev commented on #151
Basically, there were two changes made to that model:
- 'user' was renamed to 'subscriber'
- subscriber was dynamically linked to settings.DJSTRIPE_SUBSCRIBER_MODEL, which defaults to settings.AUTH_USER_MODEL if not set

Those changes need to be transferred/translated from Django 1.7 migrations to South migrations.

Looking at your code, can I suggest using:

[code]

[2015-04-27 16:06] kavdev commented on #151
And that warning is a great idea! Can you add that to the PR?

In order to not cause circular inclusion issues, I suggest making the migrations atomic:
- 0003: field rename
- 0004: field relation target change
- 0005: add stripe_key to Invoice

[2015-04-28 06:56] #168 closed, assigned to nobody

[2015-04-28 06:57] #151 closed, assigned to kavdev

[2015-04-28 06:57] Tyrdall commented on #151
=)

[2015-05-02 19:35] kavdev commented on #12
These are really the only two files that aren't at 100%

The third, settings.py, has 10 lines are called only in django < 1.7 and I'm not sure how to test them in one coverage run.

[2015-05-02 19:36] kavdev opened #171 "Sign dj-stripe up for codecov.io"
@pydanny, I think this would be a pretty cool addition to the CI chain.

[2015-05-02 20:20] kavdev commented on #166
Assuming no.

[2015-05-02 20:20] #166 closed, assigned to nobody

[2015-05-03 01:20] dollydagr commented on #166
Sorry @kavdev for responding late! You did the right thing, I'm good with that branch.

[2015-05-03 02:53] kavdev commented on #166
Cool.

---

From: dollydagrmailto:notifications@github.com
Sent: ‎02.‎05.‎2015 18:20
To: pydanny/dj-stripemailto:dj-stripe@noreply.github.com
Cc: Alexander Kavanaughmailto:kavanaugh.development@outlook.com
Subject: Re: [dj-stripe] Delete or Merge the hich-pip branch (#166)

Sorry @kavdev for responding late! You did the right thing, I'm good with that branch.

---

Reply to this email directly or

[2015-05-03 23:50] pydanny commented on #171
On Cookiecutter we've found that coveralls varies its result. Which is we moved over to codecov.io. I'll set up dj-stripe with them later today. :+1:

[2015-05-04 01:02] kavdev commented on #171
Wow codecov looks awesome!

[2015-05-09 23:30] pydanny commented on #171
Sorry for the delay, GitHub's OAUTH system is giving me a little grief. I'll try to have it up shortly.

[2015-05-11 12:26] StErMi commented on #154
it would be really a good thing also to create a MIGRATE doc (I was stuck on the TEMPLATE_CONTEXT_PROCESSORS error with the latest version) ;)

[2015-05-11 14:19] StErMi commented on #151
Hi, I've got this problem. Should I use your master branch to fix it or the pip version is already updated?

I'm using django 1.6.11 with dj-stripe 0.4 (installed this morning). I can see this from the log:

[code]

[2015-05-11 14:38] StErMi opened #172 "Problem with migration djstripe:0005_link_subscriber_to_user_model_setting"
I'm using Django 1.6.11 with the master version of dj-stripe (becase micrations was not synched with the pypy package).

This is my settings.py:

[code]

When I try to make the `python manage.py migrate` I got this error:

[code]

[2015-05-11 15:05] StErMi commented on #151
Hi guys, I got a problem with custom User model and the south migration (from current master): https://github.com/pydanny/dj-stripe/issues/172

[2015-05-11 16:57] Tyrdall commented on #172
@StErMi Your core app doesn't appear in the migrations models dictionary (https://github.com/pydanny/dj-stripe/blob/master/djstripe/south_migrations/0005_link_subscriber_to_user_model_setting.py#L22). In general the `--freeze` option can be used to add it to the dict. Something like:

[code]

...but since this is a dynamic association, it won't work for this app. Maybe the following post could hel

[2015-05-11 17:02] kavdev commented on #154
latest on git or latest on pypi?

[2015-05-11 17:08] kavdev commented on #172
Well that's annoying. @Tyrdall, will [the answer to that stackoverflow post](http://stackoverflow.com/a/15513571) work? If so, I think it's worth exploring.

@StErMi, I'm sorry we're having so much trouble with South migrations. If it's any consolation, if you ever upgrade to Django 1.7, migrations should work fairly flawlessly.

[2015-05-11 17:12] Tyrdall commented on #172
@kavdev Don't know. But since the custom model can be added to the dictionary using this method, it might be the right solution =)

@StErMi Currently I'm not using a custom user model, so I'm not able to easily try this attempt. Can you try to work this out using the stackoverflow solution?

[2015-05-11 17:14] pydanny opened #173 "Removal of support for Django 1.6 or less in dj-stripe 0.6.0"
# Introduction

Apologies, but as much as it is a good thing to support multiple versions of Django, we will stop supporting Django 1.6 or less in release 0.5.0 of dj-stripe. Reasons:
- The core Django developers will cease Django 1.6 support in less than 6 months. When that happens, there will be no further security updates for Django 1.6. As a package involving payments and PCI issues, it would

[2015-05-11 18:25] kavdev commented on #173
:+1:

[2015-05-11 18:31] kavdev commented on #172
@StErMi, If you do end up using it and it works, please submit a pull request.

[2015-05-11 20:15] StErMi commented on #154
I think that the problem is with both. From the v0.4.0 you have to remove djstripe from TEMPLATE_CONTEXT_PROCESSORS  settings in order to solve the problem.

[2015-05-11 20:36] StErMi commented on #172
@Tyrdall thanks for the hint

@kavdev I've just tested the StackOverflow solution and it works perfectly, I've done `python manage.py migrate djstripe` without error.

[2015-05-11 20:44] StErMi commented on #172
@kavdev review it, code must be cleaned. I was a little bit before the current master version when I pushed on my fork

[2015-05-11 21:56] StErMi commented on #139
@kavdev I've commented on the pull request https://github.com/pydanny/dj-stripe/pull/164

[2015-05-12 04:42] kavdev commented on #154
With the latest git version, there should just be a deprecation warning when you try to include it - it shouldn't error out.

Can you please post the traceback?

[2015-05-12 04:53] kavdev commented on #139
merged.

[2015-05-12 04:53] #139 closed, assigned to nobody

[2015-05-12 06:50] StErMi commented on #162
@kavdev it would be really great!

[2015-05-14 06:43] seaapple opened #175 "Cancel Subscription possibly not working?"
Hello,

I have test customer, that purchased a basic subscription. The subscription has a 7 day free trial.
Both Stripe and the /payments/ page are showing the test customer as having the basic subscription.
However, when I try to cancel the subscription, I get an error page below:

Cancel Subscription
You have no subscription on file.
See your account status or better yet, subscribe.

Stripe is s

[2015-05-14 13:07] mattharrison opened #176 "Trying to run on Django 1.8"
Maybe I'm missing something. I'm on Django 1.8. Is that version supported?

[code]

Is there a special incantation?

When I hit localhost:8000/payments/ I get `no such table: djstripe_customer`

Thanks!

[2015-05-15 07:53] seaapple commented on #175
When I try to view the invoices in the admin interface, I get this error

'Invoice' object has no attribute 'USERNAME_FIELD'

[2015-05-17 17:19] philippeluickx opened #177 "REST"
Hey,

Thanks for a great package!
I would need to have a REST integration, so I am planning to write out some restviews and use the very nicely implemented models from this package.
Before I started, is there any vision on the approach for this? I would go with DRF and would like to stick to the most obvious implementation, but I already noticed that a 1-on-1 functionality copy from the normal vie

[2015-05-18 10:25] StErMi commented on #177
+1

I've already asked for this feature because we're actually not using HTML views

[2015-05-18 10:27] StErMi commented on #117
Got this problem too ;)

[2015-05-18 10:31] StErMi commented on #78
@kavdev I'm building a SaaS startup that needs multiple subscription.
We have some basic plan and we would like to offer additional features ad plugins.

So user configure their current plan choosing the base Subscription and adding others.

Does the current version of dj-stripe support multiple active subscription to the same user?

@ctrengove have you updated your current code to support that?

[2015-05-18 12:21] StErMi opened #178 "IRC Channel?"
Hi guys, should we have an IRC channel on freenode to ask question and discuss about features?
Just to not spam the issue list here on github when not needed.

[2015-05-18 15:42] pydanny commented on #178
I would prefer Slack or Gitter. :)

[2015-05-18 15:45] pydanny commented on #177
This is one of those things I've wanted to do for a long time but haven't found the time to do.

[2015-05-18 16:14] StErMi commented on #178
Yes, you are right :D

Slack is the way, much better than Gitter for my personal experience.

[2015-05-18 18:04] philippeluickx commented on #177
Glad to hear!
I did put something together for the subscription, but I am a bit stuck in understanding on how the other models behave and what API should be put together...
Will do my best to add some tests and submit a PR soonish.

[2015-05-18 19:33] mattharrison commented on #156
I'm also running into this issue on 1.8.1. Can you guys expound on how you solved this? I'm not seeing any js errors, and have move all bootstrap/jquery imports into the head of my template. Am still seeing this.

[2015-05-18 19:51] pydanny commented on #176
Did this get resolved?

[2015-05-18 20:39] mattharrison commented on #176
Not on my end.

[2015-05-18 22:43] ctrengove commented on #78
The code I referred to at the start of this discussion did that, but there have been many changes to dj-stripe since then. My thought is to add my (multiple) Subscription model alongside the existing CurrentSubscription model. I hope to find some time to try this out in the next week or so.

[2015-05-19 06:43] StErMi commented on #78
Hi @ctrengove I would like to help you with this integration. Is there something I can do?

I need to support multiple subscription in my current project.

[2015-05-19 16:54] pydanny commented on #176
If I can hit a work milestone and book milestone today I'll see what I can do to help.

[2015-05-19 16:55] pydanny commented on #176
Also, are you using what's on PyPI or what's in master? We're due for a release soon.

[2015-05-19 16:55] kavdev commented on #78
@StErMi the current version does not support multiple subscriptions, but we'll start working on it if a pull request comes from this discussion

[2015-05-19 16:58] mattharrison commented on #176
PyPi version. Will try master this evening. Thanks for the offer to help!

[2015-05-19 17:00] kavdev commented on #176
@mattharrison did you `manage.py migrate` during the djstripe installation?

[2015-05-19 17:03] kavdev commented on #177
@philippeluickx sounds great! We look forward to your PR.

[2015-05-19 17:04] kavdev commented on #178
@pydanny do you want to set a slack channel up?

[2015-05-19 17:04] mattharrison commented on #176
Sorry, this bug can be resolved. I am having the other issue that someone resolved by moving their css/js. (Not at my machine right now, and search is failing me). Will close this, update my version this evening, and follow up.

[2015-05-19 17:04] #176 closed, assigned to nobody

[2015-05-19 17:09] kavdev commented on #172
@StErMi can you point me to the code you want me to review? Better yet, please submit a pull request.

[2015-05-19 17:10] kavdev commented on #171
@pydanny any luck?

[2015-05-19 17:24] kavdev commented on #175
Hi Pawel,

What versions of Python, Django are you running?

Thanks,
Alexander

[2015-05-19 17:24] kavdev commented on #175
Also, did you install dj-stripe from PyPI or master?

[2015-05-19 18:22] seaapple commented on #175
I have dj-stripe 0.3.5 through pip and Django version 1.6.6

It seems I was able to debug it. At first it seemed the cancel subscription context_data mixin was not loading properly with the customer's data.

I resolved this by putting the context_data function directly into the CancelSubscriptionView,

This caused an error on this line
context['is_plans_plural'] = bool(len(app_settings.PLAN_CHOICE

[2015-05-19 22:23] errrken opened #179 "Some problems after changing DJSTRIPE_SUBSCRIBER_MODEL"
I have changed DJSTRIPE_SUBSCRIBER_MODEL and DJSTRIPE_SUBSCRIBER_MODEL_REQUEST_CALLBACK according to the docs.

It all works fine, and I can handle subscriptions and payments for my new model perfectly while doing normal operations. But when I try to add a Customer manually in the admin panel or run djstripe_sync_customers I get:

django.db.utils.IntegrityError: insert or update on table "djstripe

[2015-05-20 00:37] kavdev commented on #179
Hi @errrken, which versions of Django and dj-stripe are you running? Did you originally have auth_user as the subscriber model? In that case, did you run migrations after making the switch?

[2015-05-20 00:43] kavdev commented on #175
Can you please post the stacktrace of the error to which you are referring?

PLAN_CHOICES is constructed in the settings file, which has been modified since version 0.3.5.

Can you try testing if this still happens with the current version on master?

[2015-05-20 01:46] seaapple commented on #175
When I'm just using the mixin, to get the get_context_data there is no error.
And I was able to resolve the PLAN_CHOICES error

In djstripe/views.py I added

from .settings import PLAN_CHOICES

And changing CancelSubscriptionView to the following:

class CancelSubscriptionView(LoginRequiredMixin, PaymentsContextMixin, FormView):
    # TODO - needs tests
    template_name = "djstripe/cancel_subscri

[2015-05-20 02:08] kavdev opened #180 "Does canceling a subscription remove a users card token? If so, it probably shouldn't."

[2015-05-20 02:10] kavdev commented on #175
Interesting. I'll take a look at why this is happening. It's possible that this has already been resolved in the latest version. Could you do me a favor and test the latest before I do some research? Make sure to uninstall the current version beforehand.
`pip install git+https://github.com/pydanny/dj-stripe.git`

I've also created #180 for your card information concern.

[2015-05-20 03:14] mattharrison opened #181 "InvalidRequestError at /payments/change/cards/"
I have a fresh install of github source (43c578308efdb258e79629fd0a396dc341fe04f6), on Django 1.8, Python 3, ubuntu 4.14

Went to /payments/ to add a card. After clicking add card I get the following error:

[code]

[2015-05-20 06:38] StErMi commented on #172
@kavdev here you are: https://github.com/StErMi/dj-stripe/commit/76671d8b4fd60fedd7906a56367928eda30bcf05

[2015-05-20 07:31] errrken commented on #179
Hi @kavdev, running Django 1.7.4 and dj-stripe (0.4.0) @ Centos 7.0.1406.

And yes, I did originally have auth_user as subscriber model. And yes, I tried to run migrations, but it says there are no migrations to apply. I have both DJSTRIPE_SUBSCRIBER_MODEL and DJSTRIPE_SUBSCRIBER_MODEL_REQUEST_CALLBACK defined in settings.py.

[2015-05-20 08:44] errrken commented on #179
Removed the DJSTRIPE_SUBSCRIBER_MODEL and DJSTRIPE_SUBSCRIBER_MODEL_REQUEST_CALLBACK, and run migrations, and readded them with migrations, which solved the problem. Thanks

[2015-05-20 08:44] #179 closed, assigned to nobody

[2015-05-20 15:46] pydanny commented on #178
I just opened up a Gitter channel and badged it on the README: 7e736e05de8e1548df343d7ae028d928d98d30f1

I wanted to set up webhooks for them so the channel is notified by actions here, but can't do it because it conflicts with the permission setup I have at my Eventbrite job. :unamused:

[2015-05-20 15:46] #178 closed, assigned to nobody

[2015-05-20 16:22] pydanny commented on #173
I changed the release path so that the deprecation notice will be attached to dj-stripe 0.5.0 (to be released ASAP). In dj-stripe 0.6.0 support for Django 1.6 will be gone.

[2015-05-20 16:24] pydanny opened #183 "Release 0.5.0"
Notes about this release:
- Support for Django 1.6 for reasons explained in #173
- Full list of changes at https://github.com/pydanny/dj-stripe/blob/master/HISTORY.rst

@kavdev Let me know when we are ready to go.

[2015-05-20 20:07] StErMi commented on #178
Are you sure about that link? It seems to not point to dj-stripe chat

[2015-05-20 21:29] pydanny commented on #178
Ahem...

[2015-05-20 21:38] StErMi commented on #78
@ctrengove come to the official gitter chat so we can discuss about the integration: https://gitter.im/pydanny/dj-stripe

Tomorrow I will take a look at you code and start integrating. I think that the best solution is to drop CurrentSubscription and migrate everything to multiple subscription, but this is my personal opinion.

[2015-05-20 23:20] mattharrison commented on #181
Investigating now, appears that `stripe_token` is empty in ChangeCardView post  method...

[2015-05-20 23:27] mattharrison commented on #181
Solved it. I didn't have a "javascript" block in my base.html. Only head_javascript and footer_javascript. Added `{% block javascript %}{% endblock %}` and I am rolling. Perhaps the docs could mention this requirement.

[2015-05-21 02:37] ctrengove commented on #78
OK, my multiple subscriptions branch is now up-to-date with the current master. The test suite runs (for me), and I have created Django migrations to replace the old ones I had, but I have not (as yet) re-created the South migrations. @kavdev, would you now like me to create a pull request based on this?

[2015-05-21 05:44] StErMi commented on #78
Ok I will try to create the south migration from yours because I'm still on
Django 1.6.
I'll let you know as soon as possible.

On Thu, May 21, 2015 at 4:37 AM, Chris Trengove notifications@github.com
wrote:

##

Founder e CEO di SurveyLab https://surveylab.me/

Skype: e.ricci.designfuture
Twitter: @StErMi https://twitter.com/stermi
Linkedin: https://www.linkedin.com/in/emanuelericci
Google+: http

[2015-05-21 06:04] ctrengove commented on #78
I've just re-done the south migrations and added them back in.

[2015-05-21 06:06] StErMi commented on #78
Thanks! I will try to test it today ;)

On Thu, May 21, 2015 at 8:04 AM, Chris Trengove notifications@github.com
wrote:

##

Founder e CEO di SurveyLab https://surveylab.me/

Skype: e.ricci.designfuture
Twitter: @StErMi https://twitter.com/stermi
Linkedin: https://www.linkedin.com/in/emanuelericci
Google+: https://plus.google.com/u/0/+EmanueleRicci/posts
Hangout: stermi@gmail.com

[2015-05-21 06:11] ctrengove commented on #78
Just to re-iterate, all of the comments at the top still apply. That is, you need the DJSTRIPE_ALLOW_MULTIPLE_SUBSCRIPTIONS to actually allow multiple subscripitions, and I haven't done anything with the views and templates.

[2015-05-21 06:15] StErMi commented on #78
I'm not using the view anyway ;) My frontend is in AngularJS, I only use
django for the backend part and API Rest

On Thu, May 21, 2015 at 8:11 AM, Chris Trengove notifications@github.com
wrote:

##

Founder e CEO di SurveyLab https://surveylab.me/

Skype: e.ricci.designfuture
Twitter: @StErMi https://twitter.com/stermi
Linkedin: https://www.linkedin.com/in/emanuelericci
Google+: https://plus.goog

[2015-05-21 18:09] seaapple commented on #175
I did pip install of version 0.4.0 of dj-stripe to see if it would help... it also installs version 1.8 django, so I had downgrade it, because my site does not work with that version. So for a while I was using version 0.4.0 with  django 1.6.6. This combination did not resolve that error.

[2015-05-24 20:09] kavdev opened #185 "GitHub installation readme section and installation docs are not the same."
The instructions to include the javascript block are not in the installation docs.

[2015-05-24 20:13] kavdev commented on #183
Good to go on my end. Feel free to deploy.

[2015-05-24 20:14] kavdev commented on #181
I just realized that the [GitHub README](https://github.com/pydanny/dj-stripe/blob/master/README.rst) and the [installation documentation](http://dj-stripe.readthedocs.org/en/latest/installation.html) are not the same. See #185

[2015-05-24 23:36] kavdev commented on #172
Got it. I would suggest linking to the subscriber model imported above your code instead of get_user_model.

After consulting with @pydanny, dj-stripe will be dropping support for Django < 1.7 in the next release (see #173). I appreciate the work you both have done, but I won't be merging it into master.

[2015-05-24 23:36] #172 closed, assigned to nobody

[2015-05-24 23:54] #181 closed, assigned to nobody

[2015-05-25 00:01] kavdev commented on #78
@ctrengove yes, please submit a request and we'll polish it here. Sorry I didn't mention this earlier, but don't worry about South migrations. We're deprecating Django < 1.7. See #173.

[2015-05-25 00:05] kavdev commented on #175
Okay. Try these steps exactly and let me know if they help. If not, I'll take a more in-depth look at this.
1. $ `pip uninstall dj-stripe`
2. $ `pip install git+https://github.com/pydanny/dj-stripe.git`
3. Test your app

[2015-05-25 20:15] pydanny commented on #183
I'll try and get it out today.

[2015-05-25 23:45] pydanny commented on #183
Done!
- https://pypi.python.org/pypi/dj-stripe/0.5.0
- https://github.com/pydanny/dj-stripe/releases/tag/0.5.0

[2015-05-25 23:45] #183 closed, assigned to nobody

[2015-05-27 16:56] MichelleGlauser commented on #140
I'm getting the same error in my app. Where did you add those lines, @awechsler? Inside the "sync_from_stripe_data" method?

[2015-05-27 18:28] MichelleGlauser commented on #75
Any update?

[2015-05-29 07:24] StErMi opened #188 "Store subscription stripe_id"
Hi guys, as far as I can see you are not storing the current subscription ID inside the CurrentSubscription model.

Is there a motivation? I would like to add it because I need it for internal use.

[2015-05-29 19:09] kavdev commented on #140
Hi @MichelleGlauser, I'd like to get to the bottom of this. When does the exception occur in your app?

[2015-05-29 19:20] MichelleGlauser commented on #140
Hi @kavdev, thanks. I get the error every time I go to or refresh the payments/subscribe page or the payments/history page.

File "/home/django/zana.io/venv/local/lib/python2.7/site-packages/django/db/backends/util.py", line 53, in execute
    return self.cursor.execute(sql, params)

IntegrityError: null value in column "plan" violates not-null constraint
DETAIL:  Failing row contains (7, 2015-05-

[2015-05-29 20:06] kavdev commented on #140
This seems like an oversight from #19. The [plan field](https://github.com/pydanny/dj-stripe/blob/master/djstripe/models.py#L815) on the InvoiceItem model is set to not allow null values. Before the charges feature, this field was never null because dj-stripe only dealt with subscriptions and prorations. That's not the case with a charge. See the docs [here](https://stripe.com/docs/api#invoice_lin

[2015-05-29 20:24] kavdev commented on #188
@pydanny, any objections?

[2015-05-29 20:58] MichelleGlauser commented on #140
I added null=True to the plan field in the InvoiceItem model and ran migrations. I received this error, which I've gotten before and decided wasn't a problem:

File "/Users/michelleglauser/.virtualenvs/zana/lib/python2.7/site-packages/django/db/backends/util.py", line 53, in execute
    return self.cursor.execute(sql, params)
django.db.utils.ProgrammingError: relation "djstripe_eventprocessingexce

[2015-05-29 21:28] kavdev commented on #140
Are you sure the database was properly migrated?
`$ python manage.py makemigrations djstripe`
`$ python manage.py migrate`

[2015-05-29 21:37] MichelleGlauser commented on #140
I'm running 1.6, so I ran

`python manage.py schemamigration djstripe --auto` and then
`python manage.py migrate djstripe`

Should I be doing something else?

[2015-05-29 21:47] kavdev commented on #140
no, that should do it. Can you check the database field directly?

If it's complaining about the same field on the same model, my initial thought is that the migrations somehow didn't go through.

[2015-05-29 21:50] MichelleGlauser commented on #140
I pulled up the djstripe_invoiceitem table. What am I looking for? All the invoices currently in there do not have null plans.

[2015-05-29 21:56] kavdev commented on #140
By the way, I'll be on the [dj-stripe Gitter](https://gitter.im/pydanny/dj-stripe) for a bit. I'll be able to help resolve this quicker there.

[2015-05-29 21:57] kavdev commented on #140
You're looking for the schema on that table. What type of database are you using (MySQL/PostgreSQL/Oracle etc.)

[2015-05-30 02:52] ctrengove commented on #188
At the time that CurrentSubscription was implemented, I don't think there was a subscription ID. I believe it got added when Stripe introduced the ability to have multiple subscriptions per customer which happened with the API version 2014-01-31. That API version removed the "subscription" property and replaced it with a "subscriptions" property.

[2015-05-30 05:11] kavdev commented on #188
@ctrengove I believe he's referring to the stripe id of the subscription, which for some reason isn't stored in the CurrentSubscription model. CurrentSubscription models the stripe Subscription object with some of its fields, but doesn't hold the id.

@StErMi would just like access to that subscription ID

[2015-05-30 11:26] ctrengove commented on #188
I am referring to the stripe subscription ID. In the default API version in djstripe, which is 2012-11-07, I don't think there is a stripe subscription ID.

[2015-05-30 16:21] kavdev commented on #188
Ah okay got it. @StErMi, it'll be added via #162

[2015-05-30 19:32] #185 closed, assigned to nobody

[2015-05-30 19:34] kavdev commented on #175
Please note: Django 1.6 is now deprecated on master, so keep that in mind with my last comment.

[2015-05-30 19:43] kavdev opened #191 "100% test coverage (almost there!)"
I'll be dedicating the day to bringing up the dj-stripe test coverage so that I can start #162.

[2015-05-30 19:52] kavdev commented on #191
| File | Coverage |
| :-- | --: |
| **TOTAL** | **100%** |

[2015-05-31 00:21] ctrengove commented on #191
As part of the PR #186 I added a test module for subscriptions, which had hitherto been absent. It basically contains two sets of tests, one targetting the CurrentSubscription behaviour, and the other the new (multiple) Subscriptions. I could probably just extract the first set of tests and package them as a PR if you want.

[2015-05-31 02:29] kavdev commented on #191
Please, that would be fantastic.

[2015-05-31 23:07] ctrengove commented on #191
OK, PR #192

[2015-06-01 04:57] kavdev commented on #191
:+1:

[2015-06-01 06:05] kavdev commented on #12
models.py is now the only file left. I added view tests as integration tests, but tests now take about 90 seconds, which is pretty unbearable. I would prefer mocks for test quickness alone.

progress is in #191

[2015-06-01 22:33] MichelleGlauser commented on #140
I discovered that my colleague put a bunch of dj-stripe code into our base.html that didn't need to be there. I removed it and now the error is gone. Phew.

[2015-06-02 19:04] kavdev commented on #140
Glad to hear it! The null plan field fix still needs to be implemented for your app to work though, correct?

[2015-06-02 19:08] MichelleGlauser commented on #140
Yep.

[2015-06-02 19:09] kavdev commented on #140
Okay cool.

[2015-06-02 19:39] kavdev commented on #140
See #193

[2015-06-02 19:39] #140 closed, assigned to nobody

[2015-06-02 21:06] kavdev commented on #137
Found the bug. .txt files weren't included in the Manifest file. Should be fixed next release.

[2015-06-02 21:06] #137 closed, assigned to nobody

[2015-06-02 22:30] pydanny commented on #137
@kavdev Want me to do a 0.5.1 release or wait for 0.6.0?

[2015-06-03 06:54] kavdev commented on #191
All tests are back to unit tests. Shaved 80 seconds off local testing time

[2015-06-03 17:06] kavdev commented on #137
I'd say wait until 0.6.0. There's already Django < 1.7 deprecation code in master.

[2015-06-06 03:27] unformatt commented on #22
I'm confused where this ended up in the normal djstripe usage. From what I can tell, I still specify my plans in my settings and the Plan model is unused, with an empty table in my database.

[2015-06-06 04:33] unformatt opened #195 "Changing subscription while user is in a trial"
Hi,

I have 2 plans, both have 7 day trials. If my user has Plan A (and trial is over) and they switch from Plan A to Plan B, they start Plan B with a 7 day trial. Since they are already a customer, I'd like to skip the trial. What's the best way to handle this? Should I create duplicates of each plan without a trial and use those plans for existing users? Or could I, on the fly, change trial days

[2015-06-06 06:46] kavdev commented on #22
We haven't yet come to a decision on this. Most likely, you'll eventually add plans via the Plan model instead of in settings.py. Again, nothing's set in stone yet.

[2015-06-06 07:01] kavdev commented on #195
All Plan fields in Stripe are immutable except for name, descriptor and metadata. That being said, subscriptions have dynamic trial_start and trial_end datetimes.

**In theory** (I haven't personally tested this to see how stripe likes it), you can leave out the trial_period_days in your plan dicts in settings.py and use [the trial days callback](http://dj-stripe.readthedocs.org/en/latest/settings

[2015-06-06 18:00] unformatt commented on #195
I did some testing and you're right. If the plan is defined as having a trial in Stripe, then you can't avoid a trial, even if you don't pass trial_end. I also tried passing a trial_end date in the past and customer ends up with no subscription in Stripe. So best bet is to define plan with no trial, then dynamically set trial_end as needed.

If you added a `trial_days` kwarg to ChangePlanView.post

[2015-06-06 18:12] kavdev commented on #195
@unformatt, Thanks for doing the research!

Having a trial_days kwarg is a great idea! I'll get around to adding that functionality and documentation in the next round of issues.

If you want to create a pull request with the changes, a test, and documentation (cookbook - "Dynamically set trial length"; by view or by callback), I'd be happy to merge it.

[2015-06-06 18:25] kavdev opened #196 "Sign dj-stripe up for requires.io"
@pydanny I found a cool site that keeps track of python dependencies. Let me know what you think.

[2015-06-06 20:47] johnthedebs opened #198 "`email` template directory is not present when installing via pip"
I updated to dj-stripe 0.5.0 and got a `TemplateDoesNotExist` error for `djstripe/email/subject.txt` after placing a test order. Took a look in my virtualenv, and the `email` template directory is not present. I was able to reproduce this by running `pip install dj-stripe==0.5.0` in a fresh virtualenv.

I'm adding the templates to my project repo to work around this.

[2015-06-07 04:49] kavdev commented on #198
See #137. We just fixed the bug a few days ago and will release the changes in about a week with version 0.6.0.

If you're comfortable with working with master until then, the bugfix is available via `pip install git+https://github.com/pydanny/dj-stripe.git`. Make sure to `pip uninstall dj-stripe` before doing so.

[2015-06-07 18:45] kavdev opened #199 "Add the Codacy webhook to dj-stripe"
Codacy runs free code analysis on the repo. @pydanny, you just need to add this post-commit hook to get up to date feedback.

Payload URL: `https://www.codacy.com/events/github/a76ab56caf4b44339c6acbf9658e08ca`
Content type: `application/json`

[2015-06-07 18:47] kavdev commented on #199
nevermind. Just realised it's not free.

[2015-06-07 18:58] kavdev commented on #196
Using versioneye instead. It also keeps track of licenses.

[2015-06-07 18:58] #196 closed, assigned to nobody

[2015-06-07 20:29] #198 closed, assigned to nobody

[2015-06-08 16:44] pydanny commented on #171
Yes, finally. I need to fix my problem with not having any open source time. :unamused:

[2015-06-08 16:44] #171 closed, assigned to nobody

[2015-06-08 17:51] kavdev commented on #171
Cool!

[2015-06-08 17:53] kavdev commented on #199
Talked to the support team. Was a misunderstanding - it's free for open source. @pydanny, you can either sign in and set up the project (preferred), or use the webhook attached to my account.

[2015-06-08 21:18] chrissmejia opened #201 "Support membership levels"
Right now you have something like:

[code]

And that works but when you go to the change plans page, you get something like this:

[code]

And that's don't work obviously because  silver-monthly is cheaper than bronze-yearly but the change is a downgrade not an upgrade, then I propose an 2 level hierarchy like this:

[code]

or some:

[code]

and then make some comparison like:

[code]

What do yo

[2015-06-08 21:22] chrissmejia opened #202 "Add a plan change confirmation page"
Right now when the user click an new plan the plan just change and charge the user but I think we need a confirmation page something like:

url(r"^change/plan/confirm/(?P<plan>.+)/$", views.ConfirmChangePlanView.as_view(), name="confirm_change_plan"),

Then the user click the new plan and go to a page with the totals to charge and a button to confirm, what do you think?

[2015-06-08 22:19] kavdev commented on #201
I like your last idea of a separate heirarchy dictionary - it's a nice way to add optional additional functionality and it will still work once we switch to model-based plans.

If other users want this functionality, I'll look into implementing it.

[2015-06-08 22:24] kavdev commented on #202
I think you're right. I personally haven't had to use dj-stripe views in a project, but confirmation is definitely necessary in anything billing. Go ahead and submit a pull request and I'll take a look at it. Make sure to follow the guidelines [here](https://github.com/pydanny/dj-stripe/blob/master/CONTRIBUTING.rst).

[2015-06-08 23:35] chrissmejia commented on #201
I code this filter, is probably not the better option but allow me to work meanwhile without fork it:

settings.py:

[code]

FILTER:

[code]

Then you can use in your templates:

[code]

[2015-06-08 23:43] chrissmejia commented on #202
Right now I'm just updating my project because was running a really old Django version then I can't use the last library at this point, probably in a couple of weeks I can install the latest version of djstripe then if this is not implemented yet I'm going to move over this problem, for now I'm going to make a quick ugly fix in my system.

Thanks for the help.

[2015-06-09 00:13] kavdev commented on #201
That seems to work quite well, and doesn't seem to conflict with anything else. Submit a pull request and I'll move forward on this.

[2015-06-09 00:25] chrissmejia commented on #201
Thanks men, just let me finish the update in my system to support the last djstripe then I can test this properly and I push a fix for both problems.

[2015-06-09 01:04] chrissmejia opened #203 "dj-stripe subscriber_has_active_subscription is always false"
Update for the documentation:

http://stackoverflow.com/questions/30546431/djstripe-subscriber-has-active-subscription-is-always-false

[2015-06-09 01:51] kavdev commented on #203
Let me help clear up some confusion:

`user_has_active_subscription` is being deprecated. Don't use it. Instead, use `subscriber_has_active_subscription`.

`subscriber_has_active_subscription` takes a subscriber, which, unless you changed the  `DJSTRIPE_SUBSCRIBER_MODEL` setting, is the model returned by django.contrib.auth.get_user_model().

Here are the cases in which `subscriber_has_active_subs

[2015-06-09 01:52] kavdev commented on #201
:+1:

[2015-06-09 02:18] chrissmejia commented on #203
Juum I see, I'm pushing at some point a decorator to get the hierarchy level anyway because for me is not enough to know if you have a subscription but I think the problem is related to how old our system are, because we have: AUTH_USER_MODEL = 'auth.user' and is not pointing to our profile, maybe I'm wrong.

[2015-06-09 05:39] kavdev commented on #203
Yes, that might be it.
From 0.4.0 on, only Django 1.5+ is supported. As of 0.6.0, only Django 1.7+ is supported.

[2015-06-09 08:03] chrissmejia commented on #203
I'm removing the question from StackOverflow, you can close this when you think is convenient, thank you for the information.

[2015-06-09 20:30] kavdev commented on #203
Okay. I'll close it, but feel free to reopen it if you're still having an issue after the upgrade.

[2015-06-09 20:30] #203 closed, assigned to nobody

[2015-06-10 04:04] #191 closed, assigned to nobody

[2015-06-10 04:08] kavdev commented on #177
see #187

[2015-06-10 04:08] #177 closed, assigned to nobody

[2015-06-10 04:13] kavdev commented on #12
done.

[2015-06-10 04:13] #12 closed, assigned to pydanny

[2015-06-11 08:03] philippeluickx opened #204 "2 failing tests on master: test_conversion_with_field_name_no_tz and test_conversion_without_field_name_no_tz"
This is the output on a clean copy of the current master:

[code]

[2015-06-11 08:38] philippeluickx commented on #204
Nevermind, found the note
NOTE: These next two tests will fail if your system clock is not in UTC

[2015-06-11 08:38] #204 closed, assigned to nobody

[2015-06-11 15:49] benmurden opened #205 "Time-card functionality"
Stripe only lets you create value-based coupons, and while you can set a duration, it doesn't set a new renewal date so users can immediately see when their next actual billing date will be.

I wrote a method allowing users to redeem a time-card, and have the specified number of days added to their account by manipulating the trial-end date of the subscription. For new users, they'll have a new su

[2015-06-11 19:13] kavdev commented on #205
I'm having a bit of difficulty understanding your idea in the abstract. Could you explain your application a bit?

[2015-06-11 19:40] benmurden commented on #205
Apologies, let me elaborate.

Not all users can subscribe directly through Stripe, and we wanted to offer a way for users to gift subscriptions as well, so we decided on implementing time-cards. This allows us to sell subscriptions at retail, offer gift cards, as well as permit other payment methods, such as PayPal, but keep subscriptions managed through Stripe, which already does a good job of th

[2015-06-11 20:08] kavdev commented on #205
This is a great feature! I'd like to keep the scope of functionality limited to just extending a subscription if that fits your use case.

You mentioned that there was a caveat with the subscription status being `trialing` instead of `active`. When does that occur?

Feel free to build a pull request.

I think this would work best as `CurrentSubscription.extend(delta=datetime.timedelta)` -- any tho

[2015-06-12 09:25] benmurden commented on #205
In our use case, we'd potentially have users redeem time-cards from cold, so they'd have no existing subscription.

The status becomes `trialing` because, as far as I know, there's no way to manually change a subscriber's next billing date without manipulating the `trial_end` date, which then changes their status to `trialing` on Stripe. We got around this by simply not differentiating between `tr

[2015-06-12 09:46] chrissmejia opened #206 "Support discount codes"
Well basically I don't see it this feature implemented, I probably going to need it, then if someone can coded it will be great, if not, I'm probably implementing that too in a couple of weeks.

[2015-06-12 17:25] kavdev commented on #206
That's something we're working on (if discount codes are the same as coupons). See the discussion in #75. If no one submits a pull request by the time I finish this current round of issues, that will be the next thing on my plate.

Feel free to coordinated with the people on that issue to see what's already been done. There's a discussion between @MichelleGlauser and me on the dj-stripe gitter abo

[2015-06-12 17:25] #206 closed, assigned to nobody

[2015-06-12 17:32] kavdev commented on #205
Makes sense. As long as that's documented, I'm fine with it.

[2015-06-12 21:41] benmurden commented on #205
Agreed.

Is it worth considering that it's possible to pass in a negative `timedelta` when naming the method? `adjust_end_date` is more verbose, but accounts for that possibility. I can't see much use for shortening a user's subscription, except to correct mistakes, so maybe it's not that big of a deal.

[2015-06-13 03:16] kavdev commented on #205
I suppose if it's possible to do in stripe, we should handle it, but I'd rather just throw a type error or something if the passed timedelta is negative.

[2015-06-26 21:42] mcastle opened #209 "Is django allauth a requirement?"
Is django allauth a requirement for djstripe? If not, is it a requirement for certain parts of djstripe? If so, this should be noted in the docs.

[2015-06-27 00:29] kavdev commented on #209
It's no longer a requirement. I believe all references have been removed from the latest docs. If we've missed one, let me know.

[2015-06-27 00:29] #209 closed, assigned to nobody

[2015-06-28 20:25] markitics opened #210 "Setup produces ProgrammingError: relation “djstripe_customer” does not exist"
Django 1.7, python 2.7

Running `python manage.py djstripe_init_customers`
returns error:

`django.db.utils.ProgrammingError: relation "djstripe_customer" does not exist
LINE 1: ...r"."date_joined" FROM "auth_user" LEFT OUTER JOIN "djstripe_...`

Full details here: https://stackoverflow.com/questions/31103864/setting-up-dj-stripe-initial-migrations-programmingerror-relation-djstripe-c

Any suggest

[2015-06-29 16:42] kavdev commented on #210
~~Did you run migrations beforehand?~~

Nevermind - just read the SO post. Did you also remove entries in the migrations table? If you don't delete those rows, django will ignore the migration commands the second time around.

[2015-06-29 18:05] markitics commented on #210
Solved. @Kavdev, you, sir, are a gentleman and a scholar.

No, I had not removed those rows from the migrations table. Did so now and sure enough this fixed the problem; fresh install and setup worked perfectly.

[2015-06-29 18:05] #210 closed, assigned to nobody

[2015-06-29 18:56] seperman opened #212 "Invoice refund info"
If I manually refund some money to a subscriber in the Stripe dashboard, it will display the status as Partially Refunded and it shows the refund amount.

Amount:
$36.00 USD
Refunded:
$5.00
Fee:
$1.20  Info
Date:
2015/06/26 17:53:41
Status:
Partially Refunded

However the Invoice model in dj-stripe does not have a field for refunds. And the refund amount won't show up in any other model either.

[2015-06-29 19:14] seperman commented on #212
I found the data in the Charge table.

[2015-06-29 19:14] #212 closed, assigned to nobody

[2015-06-30 18:47] kavdev commented on #210
Glad to hear!

[2015-06-30 19:13] bmull opened #215 "no pg_hba.conf"
I just added dj-stripe to a project. I’ve got a ton of packages in there already, but when migrating i get this error

[code]

has anyone else seen this?  I know it is outside of the dj-stripe package, but just thought it was interesting that this happened with this package and no others.

[2015-06-30 19:15] bmull commented on #201
@chrissmejia any eta on when you're going to submit this?  wondering if i should wait or use your code above

[2015-06-30 19:19] chrissmejia commented on #201
Hi @bmull I push the code yesterday and I'm adding a confirmation page for subscription right now, I don't have to much experience collaborating with open source but I'm trying, then I don't understand too much of whats the current status but here's the push:

https://github.com/pydanny/dj-stripe/pull/213
https://github.com/pydanny/dj-stripe/pull/214

If you can help can will be great :)

[2015-07-01 02:45] kavdev commented on #215
Sounds like an issue with the server you're using to run your app. I'd make sure the server to which you're pointing is correct.

At first glance, it looks like it's pointing to localhost (pretty sure fe80::1%lo0 is IPv6 for link-local). Are you trying to run the dj-stripe tests? [runtests.py](https://github.com/pydanny/dj-stripe/blob/master/runtests.py#L21) points to a local postgres instance.

B

[2015-07-01 03:44] chrissmejia commented on #202
Ok, I think we are ready: https://github.com/pydanny/dj-stripe/pull/216

[2015-07-01 03:45] chrissmejia commented on #201
Ok I think we are ready :) https://github.com/pydanny/dj-stripe/pull/213

[2015-07-01 16:24] kavdev commented on #215
Any luck with this?

[2015-07-01 16:30] kavdev commented on #202
See #216

[2015-07-01 16:30] #202 closed, assigned to nobody

[2015-07-01 16:44] kavdev commented on #201
See #213

[2015-07-01 16:44] #201 closed, assigned to nobody

[2015-07-01 17:05] kavdev commented on #205
See #211

[2015-07-01 17:05] #205 closed, assigned to nobody

[2015-07-02 02:52] bmull commented on #215
No luck yet. It's a local Postgres server, which is working perfectly whenever i dont include this app in my INSTALLED_APPS .. Migration for this is the part that's an issue. Migrations for my other models are working fine. So, still figuring it out.

[2015-07-02 16:15] bmull commented on #215
figured this out

[2015-07-02 16:15] #215 closed, assigned to nobody

[2015-07-02 16:16] bmull opened #217 "Redirect other than 'home'"
Would love if you'd add a settings variable to define what the "cancel plan" redirect would be. I dont have a URL with the name 'home', so this causes an error. Maybe I'm missing a way to change this.

[2015-07-02 19:46] bmull opened #218 "PLANS_LIST sorting"
Is there any logic to plans list sorting?  they're totally out of order in the subscribe_form

[2015-07-02 21:08] #218 closed, assigned to nobody

[2015-07-03 15:53] kavdev commented on #217
Currently, the only way to change the redirect is to add a url with the name `home` or override the cancel plan view and change the success redirect url.

The redirect url setting is a great idea. I'll add it to the list for the next round of updates.

Until then, I suggest creating a url with the name `home` that uses `RedirectView` to redirect the request to the url you want. It's not very effic

[2015-07-03 16:01] kavdev opened #219 "Release 0.6.0"
I originally wanted to hold off on this until I finished the API update, but there are a bunch of contributions and bugfixes that are ready to be released that shouldn't be held back.

[2015-07-03 16:07] kavdev commented on #173
I'm fairly sure I've removed all < 1.7 code. We should be on schedule for #219

[2015-07-03 16:08] kavdev commented on #175
Any news on this?

[2015-07-07 21:10] jpadilla opened #221 "Remove subscriber__email from search_fields"
Since the `DJSTRIPE_SUBSCRIBER_MODEL` could have email as a property we probably shouldn't be assuming `subscriber__email` in admin `search_fields`.

[2015-07-08 00:16] kavdev commented on #221
Good point. If you want to make a quick PR, I'll merge it.

[2015-07-08 01:37] #221 closed, assigned to nobody

[2015-07-11 17:33] kavdev commented on #219
@pydanny

[2015-07-12 00:18] pydanny commented on #219
I'll do the release tonight or tomorrow. :)
On Jul 11, 2015 10:33 AM, "Alexander Kavanaugh" notifications@github.com
wrote:

[2015-07-12 02:13] kavdev commented on #219
perfect! :)

[2015-07-12 21:29] pydanny commented on #219
Done! https://github.com/pydanny/dj-stripe/releases/tag/0.6.0

[2015-07-12 21:29] #219 closed, assigned to pydanny

[2015-07-12 21:48] kavdev commented on #219
woohoo!

[2015-07-12 21:50] #173 closed, assigned to pydanny

[2015-07-13 01:22] garionphx opened #227 "djstripe doesnt pull from site settings.py"
I installed djstripe using pip. I attempted to disable the email sending by setting SEND_INVOICE_RECEIPT_EMAILS=False in my settings.py file. It looks like djstripe will only ever use the settings.py in its own directory, making it impossible for me to override any settings.

[2015-07-13 01:27] garionphx opened #228 "Drop django.contrib.sites as a dependency"
When djstripe attempts to send an email for invoices, it assumes that the site is using the Site middleware. I happened to have that disabled, and it raises an exception.

[2015-07-13 03:11] kavdev commented on #227
Be sure to use `DJSTRIPE_SEND_INVOICE_RECEIPT_EMAILS` as detailed in the docs [here](http://dj-stripe.readthedocs.org/en/latest/settings.html#djstripe-send-invoice-receipt-emails-true).

[2015-07-13 03:11] #227 closed, assigned to nobody

[2015-07-13 03:44] kavdev commented on #228
We use the sites framework to grab the site name and domain for email templates. You won't need to run the middleware for email sending to work, but you will need to [enable the framework](https://docs.djangoproject.com/en/1.8/ref/contrib/sites/#enabling-the-sites-framework). I'll be sure to make a note of that in the docs.

Just to double check, is this the exception raised?

[code]

I suppose we

[2015-07-13 03:47] kavdev opened #229 "Make note of the django.contrib.sites dependency in the documentation."
See #228

[2015-07-13 03:53] kavdev commented on #175
I'm assuming this has been resolved. I couldn't reproduce it.

[2015-07-13 03:53] #175 closed, assigned to nobody

[2015-07-13 04:25] garionphx commented on #228
As OP, I don't really have much of an opinion. I have special requirements for sending emails, so I disable the emailing feature anyways. Just something I ran across.

[2015-07-13 04:47] kavdev commented on #228
Okay. Were you able to get the setting to work?

[2015-07-13 04:57] garionphx commented on #228
Yes I was. I'll comment on that ticket. It was entirely PEBKAC.

[2015-07-13 04:59] garionphx commented on #227
Yes, that works. I think tried to use the setting without the DJSTRIPE prefix, because I was tracing another problem, reading the djstripe code. Its referred to without the prefix in the code, so I just assumed.

[2015-07-14 20:36] chrissmejia opened #230 "Problem linking contributions from another email address to careers profile"
Well I was trying to add this repository to the contributed list of repositories on my Stack Overflow Career profile but looks like the way to marge the commits don't allow to assign the right authoring, any posible solution?

Here the response from Stack Overflow Staff:

[2015-07-15 00:05] kavdev commented on #230
I believe the problem is that you used `chriss@chrissmejia.com` when committing instead of `me@chrissmejia.com` (found on your profile), which I'm assuming is your github email.

See [line 2 of this raw commit](https://github.com/chrissmejia/dj-stripe/commit/66e53da5216fc9a48e49e3ea0fb1b6443cd66aca.patch).

[2015-07-15 00:06] #230 closed, assigned to nobody

[2015-07-15 02:16] chrissmejia commented on #230
My fault, you are right, thanks.

[2015-07-24 09:33] errrken opened #231 "django.db.utils.ProgrammingError: column "user_id" does not exist"
Hi,

When I just updated djstripe from 0.5 to 0.6 through pip, on my Django 1.7.4, and when running migrate I get
Applying djstripe.0002_auto_20150122_2000...Traceback (most recent call last):
...
django.db.utils.ProgrammingError: column "user_id" does not exist

I have a different Subscriber model.

Any ideas? Thanks

[2015-07-26 05:21] kavdev commented on #231
Hi errrken,

Sorry it took a few days to get back to you.

Can you post the full traceback please?

A few questions:
1. Were you using a custom subscriber model in 0.5.0 as well?
2. Did you migrate before you started with 0.5.0?

It sounds like you previously migrated then somehow lost the data in the migrations table, causing django to now attempt to re-perform already completed migrations.

0002

[2015-07-27 07:13] errrken commented on #231
Hi Kavdev, faking the migration (as well as 0005), seems to have solved the problem! Thanks!

[2015-07-27 07:13] #231 closed, assigned to nobody

[2015-07-28 12:42] kavdev commented on #231
Great to hear! Please make sure that the captured field is indeed on your Charge model in the database.

[2015-07-28 15:23] wahuneke commented on #116
I'm probably going to be working on this issue on my fork here pretty soon. It is an interesting problem. I've discussed this a smidge so far here on the google group for stripe api. Got very interesting information there which suggests the basic design in dj-stripe/django-stripe-payments is wrong re webhooks:
https://groups.google.com/a/lists.stripe.com/forum/#!topic/api-discuss/h5Y6gzNBZp8

I'd

[2015-07-28 15:37] wahuneke commented on #162
Another related ticket here would be: #116 . I have some thoughts about API version that I wrote there. I will just raise one of those here:
- if dj-stripe has a "supported" version of the API, why is it user configurable through the STRIPE_API_VERSION setting?

Another point: with respect to webhooks. As you know, Stripe does not allow you to set the API version you want to use - they only let yo

[2015-07-28 17:04] wahuneke commented on #97
StripeConnect is a  feature that I need too. Personally, I believe there is a lot of value in keeping models in dj-stripe that 'map' to the models used at Stripe. In StripeConnect, it really is an "Account" that is important. A StripeConnect account is really not a type of Customer.

Is it possible that there might be enough benefit in preserving a clear mapping of objects that it might outweigh t

[2015-07-28 17:13] wahuneke commented on #97
One more thing: I'd say a complete implementation of a StripeConnect feature should also include an implementation of a view to serve the StripeConnect registration process (where a person with Stripe authorizes your website to process payments for them and to possibly take a "cut" as an application fee).

The onboarding process is described here: https://stripe.com/docs/connect/standalone-account

[2015-07-28 19:59] wahuneke commented on #162
I'd like to "please help". What is the new API version you are targeting? What is your method for this review/update? where/how should I jump in? Can you cut out a portion for me?

[2015-07-28 21:44] kavdev commented on #116
You make a great point in 1). That's how it should be, but this package was dormant for a while. Now that the package is more regularly maintained, we can stay up to date with stripe api changes.

@mlvn23 was working on polling code as an alternative to webhooks in #89. Before you start implementing, think of a nice interface for both methods.

[2015-07-28 22:03] kavdev commented on #162
Hi @wahuneke, thanks for the offer to pitch in! I've already gone ahead and gone through all the backwards compatibility notes and figured out my gameplan. I just signed up for the API mailing list and have 67 announcements to sift through. That will take a bit of time.

Where I could really use some help is updating the djstripe models to match the current api. There are a lot of fields that are

[2015-07-28 23:10] kavdev commented on #97
Stripe Connect is a tricky subject, but the implementation is a bit clearer for me now after working with stripe for quite a while now.

djstripe was orginally forked from django-stripe-payments to only handle subscriptions (IIRC, django-stripe-payments only worked with charges). Over the years, djstripe has adopted more features and is now at the tipping point between original purpose and new vis

[2015-07-29 15:22] wahuneke commented on #89
Just an add-on thought here. The idea of polling for events and processing ones that have not already been processed does not only apply to people not using webhooks.

The idea could also be a failsafe against rare cases where webhook event processing fails (e.g. when there is a service outage at Stripe.com). In order to really make event processing as reliable as possible, it's probably a good id

[2015-07-29 16:02] wahuneke opened #233 "invoice.created webhook not actually handled"
There is a test case for invoice.created which passes, unfortunately the test case does not actually test for the right thing.  If you were to assert for called_once(Invoice.sync_from_stripe_data), for example, you would see that invoices are never actually processed.

Is it the intent that Invoice.created should be handled by doing an Invoice.sync_from_stripe_data??

[2015-07-30 11:30] kavdev commented on #89
:+1:

[2015-07-30 12:01] kavdev commented on #89
I'd also like to point out that while our current syncing system works, it seems incomplete and can sometimes be unreliable, especially if the webhook endpoint isn't up 100% of the time.

There should be a master sync util that gets called after each model "update" action in the djstripe code. I'm fairly sure we do so in almost all cases, but it lacks consistency. It should also keep track of the

[2015-07-30 12:10] kavdev commented on #233
I believe the assumption was that since djstripe was originally created to just handle subscriptions, the `customer.subscription.created` event was to trigger most functionality. That's another thing that needs to get updated - not all events are currently handled.

Either way, thanks for the fix! see #234

[2015-07-30 12:10] #233 closed, assigned to nobody

[2015-07-31 16:38] jpadilla opened #237 "Add description to Invoice"
If this is a :+1: I'll probably get around it in a couple of days

[2015-07-31 17:30] kavdev commented on #237
:+1: -- I'm still working on #162; any help is appreciated.

[2015-07-31 20:50] kavdev commented on #199
Seems like it updates when you check the page anyway...

[2015-07-31 20:50] #199 closed, assigned to nobody

[2015-07-31 20:53] kavdev commented on #90
Working on it. Step 1: decoupling webhook code #236

[2015-07-31 20:55] kavdev commented on #3
I'll add the object documentation from Stripe while working on #162. That'll at least be a start.

[2015-07-31 21:01] kavdev commented on #90
Step 2: Move sync code into a separate file. See [this comment](https://github.com/pydanny/dj-stripe/issues/89#issuecomment-126295643)

[2015-08-02 17:28] kavdev opened #240 "Support Bitcoin"

[2015-08-02 18:09] kavdev opened #241 "Support File Uploads"
Keep track of file upload objects and add support for the three upload purposes: `identity_document`, `business_logo`, `dispute_evidence`

The first two are used during account creation: `Account.upload_identity()` and `Account.upload_business_logo()`

We'll be implementing Stripe Connect in two phases (see [here](https://github.com/pydanny/dj-stripe/issues/97#issuecomment-127051913)). This will b

[2015-08-02 18:16] kavdev opened #242 "Provide a mechanism for managing disputes"
Mainly viewing and adding evidence to disputes. Relates to #241 (a few fields can take file uploads).

I'm not quite sure if this is worth implementing. Currently, we just have a "disputed" flag on objects and users can take care of disputes via the stripe dashboard. This is really an admin type feature and duplicating the already well-built stripe dashboard is silly.

Setting to wontfix until som

[2015-08-02 18:16] #242 closed, assigned to nobody

[2015-08-02 18:20] kavdev commented on #97
This will be a two-phase implementation.

Phase 1: Standalone accounts
Phase 2: Managed accounts - Bank Account Support, CRUD, file uploads

[2015-08-02 18:22] kavdev commented on #241
#97

[2015-08-02 18:32] wahuneke commented on #162
I took a quick look at your 162 feature branch. I've got a branch of my own where I've started updating model fields (as you requested). I will merge your work in a moment. A few things:

1) I notice you are using the STRIPE_API_VERSION setting concept. I'm not sure whether you and I have discussed this or whether you've noticed my comments elsewhere. It is my opinion that this should not be a set

[2015-08-02 18:51] kavdev commented on #162
1) I haven't changed that yet. I'll be following our conversations.
2) I like your plan. I'm all for getting rid of clutter, plus isolating the feature sets will make maintenance much easier.

I haven't done much work besides mapping out exactly which new functionality should be part of this effort.

[2015-08-02 21:19] kavdev commented on #75
Feature set: CRUD coupons (via coupon model), add coupons to subscriptions, remove the resulting discount from a subscription

[2015-08-02 21:58] kavdev commented on #162
_(moved to main post)_

[2015-08-05 23:22] peec commented on #97
:+1 for Connect support! I'm in need of this feature ATM, but i'm a newbie with Stripe, so much code here to go through before I can help here unfortunately.

[2015-08-06 17:05] kavdev commented on #97
No worries. We should be on track to deliver at least the backend support of this feature by the milestone deadline. Definitely look out for development branches on connect functionality.

[2015-08-08 00:46] kavdev commented on #162
@wahuneke, now that your optimizations are (about to be) merged, I'm going to power through and hopefully get this completed today/tomorrow. Feel free to take a break if you like - just let me know if you've already started on some of the models.

[2015-08-08 16:12] kavdev commented on #97
Instead of using connected account api keys, we'll just use the [stripe_account parameter](https://stripe.com/docs/connect/authentication#authentication-via-the-stripe-account-header)

[2015-08-08 21:13] kavdev commented on #162
Did a bit of cleanup. The only global stripe initialization is now in stripe_objects. Scoped imports still exist in utils (soon to not be so) and context_managers.

Also, model and stripe object order now match the order on stripe's API page

[2015-08-09 15:57] kavdev commented on #162
~~Going to have to add in bank accounts and bitcoin receivers, since they might come through via the "source" attribute. Bitcoin functionality (aside from the model just being a record holder) will come in #240~~

Unsupported payment sources will just not be recorded until the functionality is added.

[2015-08-14 06:46] StErMi commented on #188
Thanks, I think that commit will be a huge quality bump ;)

[2015-08-16 23:47] kavdev opened #246 "Calls that retrieve lists of objects should use a paging mechanism."
This mainly applies to the sync methods.

List results are paged in stripe. We should retrieve those results in pages to ensure no records are missed.

[2015-08-17 04:44] kavdev opened #247 "Zero-decimal currencies"
We don't currently support zero-decimal currencies. See [here](https://support.stripe.com/questions/which-zero-decimal-currencies-does-stripe-support).

This issue talks to how currencies are surfaced/serialized, not how they're stored in the database. For the issue on that topic, see #955

[2015-08-17 06:14] kavdev commented on #162
It's taking a while to get multiple sources and multiple subscriptions squared away, but I'm making progress.

[2015-08-21 21:43] PrincipalsOffice opened #248 "How to make single charges with this app?"
Since I think it's not documented, can I have a basic rundown of how to make a single charge with this?

[2015-08-22 00:19] pydanny commented on #248
Rather than explain it here, we should properly document this feature.

[2015-08-23 19:20] kavdev commented on #248
:+1: A revamp of the documentation is next on my list after this API update

[2015-09-03 20:52] andrewyoung1991 commented on #97
Hello, I'm hoping this thread isn't too old by now.

## stripe marketplace applications

For marketplace applications stripe connect makes it easy to make either direct payments or escrow style payments to your applications vendors. [see Creating Payments for more info...](https://stripe.com/docs/connect/payments-fees)

## djstripe.contrib.vendors

As dj-stripes primary use case is for creating su

[2015-09-05 07:49] kavdev commented on #97
I'll take a more in-depth look at your idea when we get to phase 2.

[2015-09-07 04:12] koobs commented on #117
+1, djstripe_sync_customers does not add a customer record if a customer is created in the Stripe dashboard. No errors are reported either

[2015-09-07 23:16] lukeburden commented on #162
Great to see this is happening @kavdev & @wahuneke! This project appears much more actively worked on than django-stripe-payments and with the completion of this refactor will, I think, become the undisputed successor. Would be nice to unify the two somehow, but that's another conversation entirely.

I need to make use of the Account and Transfer functionality Stripe now offers so would be glad to

[2015-09-08 04:56] koobs opened #250 "Allow payments by anonymous users"
I note from the docs that `anonymous users always raise a ImproperlyConfigured exception.`

The use case I am implementing is a 'donations' style feature. There is no need to limit access to urls or site content (ala the other meaning of "Subscription").

There is also no need (at the moment) for subscription management by me or the user beyond cancelling (at stripes end), or other features that m

[2015-09-09 18:43] kavdev commented on #162
Hi Luke,

Sorry this has taken so long to complete - I had to meet a few deadlines these last couple of weeks. I'll be starting up again tomorrow.

If you'd like, go ahead an start on bringing the Transfer model up to date. Just a warning though, the working branch for this issue is nowhere near stable (method/parameter contract wise)

[2015-09-10 17:35] kavdev commented on #250
dj-stripe was purposely built to integrate payment/subscription logic with a user centered application, and is therefore highly coupled with the user model.

From what I understand of your project's requirements, you'd be able to simply use Stripe's python API to create your subscriptions. You could just have a 'Donors' table with columns for the information you collect from the form and a stripe

[2015-09-11 02:34] BoilerJoe commented on #248
In the meantime, check out the Customer model. It has a method charge() that can be used to create a single charge.

[2015-09-11 04:22] kavdev commented on #248
Correct. Also, [here is the documentation](http://dj-stripe.readthedocs.org/en/latest/cookbook.html#making-individual-purchases) on single charges.

[2015-09-11 04:22] #248 closed, assigned to nobody

[2015-09-22 04:40] pydanny opened #255 "Release 0.7.0"
@kavdev The next two weeks I have a decent amount of time to work on open source projects, including and especially dj-stripe. With that in mind, here are some questions, is there anything outstanding for the 0.7.0 release? Can I go ahead and do the release?

[2015-09-22 04:56] kavdev commented on #255
You can go ahead and do the release - the next big step is finishing #162. I left off in the middle of updating the Customer model; I'll put in some more time this weekend to make it a bit easier to collaborate

[2015-09-22 17:58] pydanny opened #256 "Upgrade coverage.py to 4.0.0"
I ran into a weird case with coverage dropping because of two lines in `views.py` strangely having an error. However, the third line in the set does not trigger the error. I think this is a bug in `coverage 4.0.0` because this isn't occurring in `coverage <= 4.0.0`.

Once I've absolutely confirmed this, I'll file an issue with @nedbatchelder's coverage.py.

[2015-09-22 18:15] pydanny commented on #255
The release went out. During the process I discovered a possible bug with `coverage.py`, or uncovered code on our part. See #256

Thank you @kavdev for all your effort and support. And thanks to @wahuneke and the other contributors to this project.

[2015-09-22 18:15] #255 closed, assigned to nobody

[2015-09-22 19:51] pydanny commented on #250
What about added a `contrib.anonymous` package? One that would be only activated if a user added `djstripe.contrib.anonymous` into `INSTALLED_APPS`.

That said, this might be adding a potentially complex feature to a project that's in the middle of adding new features to support it's current mission better. In fact, arguably as @kavdev mentioned, this might belong in an independent app.

[2015-09-23 19:31] lukeburden commented on #162
@kavdev no need to apologise, it's the reality of open source dev. I'm subject to the same forces and am currently pinned, waiting to have time to pitch in here!

[2015-10-06 22:58] mpg85 opened #257 "send_receipt kwarg not used?"
Hello, as I was inspecting your code, I found that keyword "send_receipt" in StripeCustomer.charge isn't used anywhere in the method. Is it a bug or it's done by purpose?

For reference:
https://github.com/pydanny/dj-stripe/blob/master/djstripe/stripe_objects.py#L289

Have you thought of making the sending of charge emails toggable by a setting (such as DJSTRIPE_SEND_INVOICE_RECEIPT_EMAILS for inv

[2015-10-13 23:28] dpretty opened #258 "importing djstripe within setup.py causes race condition when installing from repo"
Trying to install dj-stripe from a repo runs into a race condition at setup.py:

[code]

There are a few ways to fix this. I would suggest the, for example, get_version(package) methods used in https://github.com/pydanny/django-admin2/blob/master/setup.py

This is a trivial fix, I'll get a patch together soon.

[2015-10-15 20:20] kavdev commented on #258
Good find. Interesting that that hasn't come up before. I'll look forward to your patch.

[2015-10-15 20:24] kavdev commented on #257
Hi @mpg85:

The `send_receipt` argument is used in the overriding method, [Customer.charge()](https://github.com/pydanny/dj-stripe/blob/master/djstripe/models.py#L409).

[2015-10-15 20:24] #257 closed, assigned to nobody

[2015-10-19 12:54] shawnduggan opened #259 "DJSTRIPE_SUBSCRIPTION_REQUIRED_EXCEPTION_URLS not working for allauth"
Hi,

If you try to constrain the entire site, with Django 1.8.5 the instructions for adding allauth to the DJSTRIPE_SUBSCRIPTION_REQUIRED_EXCEPTION_URLS do not work. The instructions say to do this:

url(r'^accounts/', include('allauth.urls',  app_name="allauth"))

However, Django throws an error that you cannot specify an app_name without also specifying the namespace. Doing so breaks allauth and

[2015-10-21 06:48] kavdev commented on #259
We'll have to take a look at the changes in 1.8.5 that cause the error. Can you please post a traceback (preformatted with markdown please)?

[2015-10-22 21:54] shawnduggan commented on #259
I'm sorry - I have no idea how to format the traceback as md. I hope this works.

&gt;&gt; Unhandled exception in thread started by &lt;function wrapper at 0x1067490c8&gt;

&gt;&gt; Traceback (most recent call last):

&gt;&gt;   File "/Users/shawn/.virtualenvs/mystery/lib/python2.7/site-packages/django/utils/autoreload.py", line 229, in wrapper

&gt;&gt; fn(_args, *_kwargs)

&gt;&gt;   File "/User

[2015-10-23 05:48] pydanny commented on #259
@12packabs, wrap it in 'fenced backticks'. Like so:

[code]

renders as:

[code]

[2015-10-27 22:47] kavdev commented on #259
@12packabs: try the url without the "app_name" parameter. I just looked at the [latest allauth documentation](http://django-allauth.readthedocs.org/en/latest/installation.html) and it shows:

[code]

Edit: I now see why this is an issue... Let me look into it a bit further. Will update in about 10mins.

[2015-10-27 23:01] shawnduggan commented on #259
I have removed it, but when trying to click the signup or login link I receive the error below:

ImproperlyConfigured at /accounts/signup/
The subscription_payment_required decorator requires the userbe authenticated before use. Please use django.contrib.auth'slogin_required decorator.Please read the warning athttp://dj-stripe.readthedocs.org/en/latest/usage.html#ongoing-subscriptions

If I want t

[2015-10-27 23:09] kavdev commented on #259
@12packabs: No problem, sorry for the delay in response and the two earlier irrelevant responses.

See if this will work:

[code]

The app_name parameter is populated based on which app the urls are under, so that should work. If not, let me know and I'll figure something out.

[2015-10-27 23:27] shawnduggan commented on #259
Unfortunately same issue.

[2015-10-27 23:32] kavdev commented on #259
strange. Try adding "account_signup" to the list.

[2015-10-27 23:34] shawnduggan commented on #259
That worked!

[2015-10-27 23:37] kavdev commented on #259
Okay cool. You might run into more issues down the line. "(allauth.account)" must not be the right way to do chaining. If you can, add the following print statement to djstripe/middleware.py right after `match = resolve(request.path)`:

[code]

[2015-10-27 23:38] kavdev commented on #259
Just conjecture, but you might find that it'll print "account"

[2015-10-27 23:58] shawnduggan commented on #259
it prints "None"

[2015-10-28 00:07] kavdev commented on #259
strange... okay, well here are all the url names for allauth if you need them:

[code]

e.g.

[code]

[2015-10-28 00:09] shawnduggan commented on #259
Thanks! Appreciated.

[2015-10-28 03:32] kavdev commented on #259
Reopening as a reminder to update the documentation...

[2015-10-28 11:59] jayfk opened #260 "Any reasons why a Mixin is not a good idea?"
I was thinking about something like:

[code]

So that it can be used on class based views without overriding the dispatch method:

[code]

[2015-10-29 09:35] jayfk commented on #116
Has this been merged in with 0.7? I see this on the milestone for 0.7 that has been released recently, but there are still some open issues (https://github.com/pydanny/dj-stripe/issues/162 and https://github.com/pydanny/dj-stripe/issues/117) for this milestone.

I'm here to help, but it's relatively hard to get an overview of what has been done and who is working on what.

The issues @wahuneke is

[2015-10-29 16:39] kavdev commented on #116
Hi Jannis,

The ball is in my court at the moment in getting the #162-api-updates-through_2015-07-28 branch to a collaborative state. I haven't been able to find much time to work on it lately - just a bit here and there.

From what I remember, this is integrated in the #162-api-updates-through_2015-07-28 branch. I'll have to trace the event code to confirm.

Progress wise, once I get the Customer

[2015-10-29 16:53] kavdev commented on #260
[This already exists](https://github.com/pydanny/dj-stripe/blob/master/djstripe/mixins.py#L21), albeit not as configurable as you'd like.

Feel free to submit a pull request with the `pay_page` and `active_subscription_test` variables (instead of "has_active_subscription_function").

[2015-10-29 16:54] kavdev commented on #260
Revamping the documentation is the next big feature in our list :)

[2015-10-29 20:56] jayfk commented on #116
All right. Make sure to @ping me once you are ready.

[2015-10-29 23:15] kavdev commented on #116
Will do.

---

From: Jannis Gebauermailto:notifications@github.com
Sent: ‎29.‎10.‎2015 13:57
To: pydanny/dj-stripemailto:dj-stripe@noreply.github.com
Cc: Alexander Kavanaughmailto:kavanaugh.development@outlook.com
Subject: Re: [dj-stripe] 2014-08-04 Stripe Webhook API upgrade breaks compatibility (#116)

All right. Make sure to @ping me once you are ready.

---

Reply to this email directly or vie

[2015-10-31 04:16] idf commented on #75
Is there any update regard this coupon feature? unable to find any documentation on http://dj-stripe.readthedocs.org/en/latest/

[2015-11-03 16:41] kavdev commented on #75
Hi @idf! Basic model support will come with the updates in #162. Full view/template support will come later.

[2015-11-12 17:47] deerpearl opened #263 "Having "Invoice matching query does not exist." error when making individual purchases"
I am following (pretty much copy/paste) the codes at http://dj-stripe.readthedocs.org/en/latest/cookbook.html to make an individual purchase. However, I got "Invoice matching query does not exist." error message after submitting the post request. Following is the log, Thanks:

Traceback:
File "/app/.heroku/python/lib/python2.7/site-packages/django/core/handlers/base.py" in get_response
1.

[2015-11-15 02:55] michi88 opened #264 "DJSTRIPE_SUBSCRIBER_MODEL not picked up in migrations"
Thanks! Love the project!

Following is the case; I've tried to use a custom subscriber model with `DJSTRIPE_SUBSCRIBER_MODEL` together with a  custom `AUTH_USER_MODEL` in my settings.

Unfortunately, when running migrations, the foreign key constraint of the initial (0001) `AUTH_USER_MODEL` stays as it is when you set `DJSTRIPE_SUBSCRIBER_MODEL` to a model which is not included in the initial mig

[2015-11-18 19:55] kavdev commented on #264
@pydanny, thoughts? We've been struggling with migrations for a while; it'd be nice to have a solid migrations foundation.

[2015-11-18 20:42] pydanny commented on #264
Clean, stable, simpler (not simplistic) migrations are always good, so I give this a :+1:.

[2015-11-18 20:58] kavdev commented on #263
@deerpearl, were you able to figure out the issue?

[2015-11-20 19:36] #258 closed, assigned to nobody

[2015-11-24 21:34] RomanCedric opened #270 "anyway to allow robots to index the content available on subscription only?"
I wonder if it is possible to allow the robots to index the content protected by subscription, or if anyone can recommend some good practice to keep a good SEO for the content available on subscription.

[2015-11-24 23:14] pydanny commented on #270
@romancedric This is precisely what https://docs.djangoproject.com/en/1.8/ref/contrib/sitemaps/ is designed to handle. :smile:

[2015-11-24 23:14] #270 closed, assigned to nobody

[2015-11-25 00:48] RomanCedric commented on #270
Thanks for your quick reply.
I had checked 'sitemaps' but as far as I understand how djstripe works with subscriptions, a robot who will try to access an url, indicated by sitemaps but accessible only by subscription, will be redirected as any other non-authentified user to the 'Select a Plan' view, and therefore, the content won't be indexed.
Maybe I am wrong but I wonder if there s a hack to ove

[2015-11-25 12:50] avimeir opened #271 "List / manage cards associated to a Customer"
I am looking for a way to show my users the cards they have on Stripe, remove cards, add new cards and make them primary.

Is there a way to do it with the current implementation? If not - is it interesting enough for more than just me? In this case I will extend the package and send a pull request. Otherwise I will just fork and modify it for myself.

[2015-11-25 19:30] pydanny commented on #270
@romancedric In https://dj-stripe.readthedocs.org/en/latest/usage.html#constraining-entire-sites, under 'Step 2', there are instructions for exempting URLs.

[2015-11-26 11:47] jpadilla commented on #271
@avimeir yep definitely something that would make this even better.

[2015-11-26 23:04] pydanny commented on #271
:+1: submit the PR!

[2015-12-03 09:19] michi88 commented on #264
@kavdev I can't figure out why the tests are failing on travis. Locally everything runs fine. Could you maybe check on your local to confirm? Maybe an environment issue?

[code]

Something else, are we planning to support multiple subscriptions? Personally I don't need it right now but I will in the future. If we do I can pitch in. If not I can fix it in my app.

[2015-12-04 04:27] alexphelps commented on #264
@michi88 @kavdev I found that the the tests are failing with Django 1.9 but not really sure about how to fix them. Example build with Django 1.9 that failed - https://travis-ci.org/pydanny/dj-stripe/builds/94795854

Same feature code but I changed `requirements_test.txt` to use `django>=1.7,<1.9` and it passed - https://travis-ci.org/pydanny/dj-stripe/builds/94799545

[2015-12-04 04:41] alexphelps opened #275 "Tests Fail with Django 1.9"
Tests fail with Django 1.9 meaning that all new Pull Requests will fail given that the current `requirements_test.txt` has  `django>=1.7` which will result in 1.9 being installed during the build.

Example build - https://travis-ci.org/pydanny/dj-stripe/jobs/94795855

I wish I knew how to fix this but it's a little over my head as to how these tests actually work. :confounded:

[code]

[2015-12-04 04:42] alexphelps commented on #264
Submitted a new issue here about Django 1.9 and tests - #275

[2015-12-04 15:12] RomanCedric commented on #270
Thank you, but it was not what i was looking for. I want to let the robots index my website. I ve found a solution, it requires to hack the djstripe middleware and to test the user-agent to see if it s one of the SEO bots (http://www.useragentstring.com/pages/Crawlerlist/)

[2015-12-04 17:54] michi88 commented on #264
@kavdev So I was stupid and not running the tests correctly. Somehow the tox env is not working out for me. I was able to track down why django wasn't deleting the replaced migrations referenced in the squashed migration under python3.X. Of course it was related to bytes/unicode :). I think it's a bug in the output file of the squashmigrations command. Will investigate for django and file a ticket

[2015-12-15 09:18] rifki-i opened #277 "Payment at the end of the trial period"
Hello,

I have only one plan and want to know how to force the user to pay to access the website. I use the middleware " DJSTRIPE_SUBSCRIPTION_REDIRECT " and at the end of the trial period, the user's status is " unpaid " but I do not know how to start billing.

Thanks !

[2015-12-17 05:16] pydanny opened #278 "Remove support for Django 1.7"
As Django 1.7 is no longer supported or receiving security updates, we are pulling support for it from dj-stripe in the forthcoming release.

[2015-12-17 05:18] pydanny commented on #275
@alexphelps, thanks for letting us know about this issue. We're working on it right now (and deprecating 1.7 while we are at it per #278 278).

[2015-12-17 05:19] pydanny opened #279 "Get tests working with Python 3.5 again"
Fails on this error:  `AttributeError: module 'html.parser' has no attribute 'HTMLParseError'`

[2015-12-18 00:25] michi88 commented on #264
So, it turns out that depending on `('app_name', '__last__')` was not a good idea. It breaks when you add new migrations to the app that is referenced in `DJSTRIPE_SUBSCRIBER_MODEL`. I think the only 2  possibilities here are to introspect the migrations of the app of DJSTRIPE_SUBSCRIBER_MODEL and figure out at which point (migration) the model was added **OR** have the user specify the `DJSTRIPE_

[2015-12-22 20:02] JordanRClark commented on #263
@deerpearl I'm seeing this issue now, was there a way you got around it?  My use case was having a customer on an active subscription, but also making single purchases from the customer object.

[2015-12-23 04:59] kavdev commented on #271
@avimeir: This is indeed on the implementation path -- see #162. The 162 branch isn't stable yet (working on it), but feel free to take a stab at the Card model there (and any views you have in mind)!

[2015-12-23 05:30] kavdev commented on #278
:+1:

[2015-12-23 05:33] kavdev commented on #277
Hi @rifki-i,

I'm not sure I understand what you're asking. Could you please elaborate a bit on what you're trying to do? Please make sure to read our [documentation](http://dj-stripe.readthedocs.org/en/latest/index.html).

If you need more extensive support than our documentation/the community can offer to get your application running, there's always the [commercial support](http://dj-stripe.read

[2015-12-23 05:41] kavdev commented on #263
@deerpearl, were you able to figure out the issue? If so, please post your solution here.

@JamSquad: I can take a look into it -- can you post a full traceback please?

[2015-12-23 05:49] JordanRClark commented on #263
@kavdev
Here's the process in my test environment through my ./manage.py shell:

[code]

And here's the traceback it produced:

[code]

Using python 3.4 and django 1.8
Thanks for being on top of this so fast.

[2015-12-23 08:24] kavdev commented on #275
This is due to a regression in 1.9 that will be fixed in 1.9.1. See [the bug report](https://code.djangoproject.com/ticket/25548) and [the commit](https://github.com/django/django/commit/0154702a987bd06d20e53fe23284b2c4a93b9063).

I'll make a note of it in the documentation.

[2015-12-23 10:37] kavdev commented on #256
Looking at the changelog, it seems coverage wasn't correctly covering iterators before.

It's a quick fix -- not sure why an iterator is used on that line anyway.

[2015-12-23 10:37] #256 closed, assigned to nobody

[2015-12-23 10:47] kavdev commented on #278
Done.

[2015-12-23 10:47] #278 closed, assigned to nobody

[2015-12-23 10:48] kavdev commented on #279
Not sure where it came from; maybe an outdated third party package? Please reopen if it comes up again.

[2015-12-23 10:48] #279 closed, assigned to nobody

[2015-12-23 11:05] kavdev commented on #275
Tested with 1.9.1 dev; no issues. Give it a shot if you'd like:

[code]

[2015-12-23 11:05] #275 closed, assigned to nobody

[2015-12-23 11:08] alexphelps commented on #275
Nice :+1:

[2015-12-23 11:45] kavdev commented on #264
@michi88: First, apologies for the late response.
1. See #275 for an update on the 1.9 errors
2. If you ever think tox is doing something funky, try deleting the .tox directory and running tox again.
3. Checked out #265. Looks good.

[2015-12-23 11:50] kavdev commented on #264
See #265.

[2015-12-23 11:50] #264 closed, assigned to nobody

[2015-12-24 15:34] neilkk commented on #263
I'm also seeing this issue for individual payments similar to above. Anyone manage to get past it?

[2015-12-26 17:56] sayyiditow commented on #156
Still seeing this error, the JS is all good. Any info?

[2015-12-27 21:41] r0fls commented on #156
Had the error but @polansky's suggestion worked for me, thanks! @mattharrison, it sounds like you did this already, but make sure you're loading `jquery` and `bootstrap` in your `base` template before the `{% block javascript %}{% endblock %}`.

[2015-12-27 22:28] sayyiditow commented on #156
Nope, I had that all good. I ended up making my own view and using update_card function. Thanks though.

[2015-12-29 02:15] rchrd2 opened #281 ""Show card" shown for user with no card"
The default behavior of showing "Change Card" would be confusing for users who just signed up.

It would be more intuitive to only show a button that says "Add Card" if the user doesn't have a card on file.

[2015-12-29 17:17] wcookie commented on #263
I'm also having this same issue while doing individual charges.  It has driven me crazy for a while now, I thought I personally had an error for the last 24 hours been working on it nonstop.

[2015-12-29 17:20] neilkk commented on #263
@wcookie

This has helped me get past the issue for now

https://github.com/pydanny/dj-stripe/pull/252

[2015-12-29 17:33] wcookie commented on #263
@neilkk thanks!!!

[2015-12-29 22:49] kavdev commented on #263
@neilkk: Thanks for that. #252 is a temporary bugfix. When #162 is finished, invoices will be automatically created and attached.

See #252

[2015-12-29 22:49] #263 closed, assigned to nobody

[2015-12-29 22:51] kavdev commented on #281
Sounds good! Let me know if you want to submit a pull request. If not, I'll add it to my list.

[2015-12-29 23:16] kavdev opened #282 "Release 0.8.0"
@pydanny: A few bugfixes along with Python 3.5/Django 1.9.1 support.

[2015-12-30 06:32] kavdev commented on #156
For future reference, see [this page](http://dj-stripe.readthedocs.org/en/latest/installation.html#configuration) of the docs and scroll down to `If you haven’t already, add JQuery and the Bootstrap 3.0.0+ JS and CSS to your base template`

[2015-12-30 09:50] sayyiditow commented on #156
@kavdev we already have those btw. Thanks.

[2015-12-30 19:42] kavdev commented on #156
@Sayyiditow: Doesn't mean everyone went to them and read them.

[2015-12-30 20:44] jayfk commented on #282
Thanks for all the great work!

[2015-12-31 05:27] mivan111 commented on #282
HI,

The requirements file does not seem to support Django 1.9 but the documentation claims it does. Was the requirements file missed in the update?

[2015-12-31 14:33] jayfk commented on #282
@mivan111 see @kavdev's last comment here: https://github.com/pydanny/dj-stripe/issues/275

`1.9` is not supported, but `1.9.1` will be (which is not released yet).

[2015-12-31 19:38] kavdev commented on #282
Hi @mivan111,

As @jayfk pointed out, due to a regression in `1.9`, we will be supporting `1.9.1` and up. Notice that our docs specify `Works with Django ~=1.9.1`. See [PEP 440](https://www.python.org/dev/peps/pep-0440/#compatible-release) if you aren't sure what the `~=` means.

That said, Django 1.9 should work fine if you aren't using the views we supply.

[2015-12-31 19:38] #282 closed, assigned to pydanny

[2015-12-31 22:26] r0fls opened #283 "What's the recommended way to customize templates and views?"
This is a great project. I am curious the best way to customize the templates though. I installed `dj-stripe` with `pip`. Should I just clone the repo instead, and use it within my project if I want to customize the templates? I'm still working in the Stripe test environment, but one part is duplicated twice on a page, namely:" You can subscribe. Or consult your payment history." Also the "Show Ca

[2015-12-31 22:28] pydanny commented on #20
While useful, it is outside the scope of this project.

[2015-12-31 22:28] #20 closed, assigned to nobody

[2015-12-31 22:31] pydanny commented on #228
Should we mark this issue as closed?

[2015-12-31 22:32] pydanny commented on #250
Upon reflection, this issue is out of scope for dj-stripe.

[2015-12-31 22:32] #250 closed, assigned to nobody

[2015-12-31 22:36] pydanny commented on #283
@r0fls Never clone the repo and make local modifications. That turns your local version into a fork, and getting upstream patches into your local version will be extremely hard. Seriously, it will be very challenging, turning into the stuff of nightmares if the dj-stripe project ever has to issue a security patch.

The correct approach is within your project's `templates` directory create a `djstr

[2015-12-31 22:36] #283 closed, assigned to nobody

[2015-12-31 22:45] r0fls commented on #283
Awesome. Very easy and worked like a charm. Thanks @pydanny!

[2016-01-01 01:55] kavdev commented on #228
@pydanny: Up to you. I kept it open as a reminder to possibly implement my comment above. Might be nice to drop the dependency, but I can go either way.

[2016-01-01 22:04] r0fls opened #284 "I set DJSTRIPE_SEND_INVOICE_RECEIPT_EMAILS = False in my settings.py file but charges are still trying to send receipts"
Part of the traceback says `recorded_charge.send_receipt()`. I also see an error involving django.smtp. I'm on a test server, so I don't have emails. Also I believe Stripe sends emails automatically so I figure that'll be easier to start with.

Is there a step I'm missing? I saw my server reload when I updated settings.py, so I think it should be working.

[code]

[2016-01-02 18:04] kavdev commented on #284
See #285

[2016-01-02 18:04] #284 closed, assigned to nobody

[2016-01-02 18:13] kavdev commented on #228
@pydanny: I forgot I had this referenced in another issue. Closing.

[2016-01-02 18:13] #228 closed, assigned to nobody

[2016-01-02 18:21] kavdev commented on #275
Good news! [1.9.1 just released](https://docs.djangoproject.com/en/1.9/releases/1.9.1/)

[2016-01-03 19:26] kavdev commented on #281
See #286

[2016-01-03 19:26] #281 closed, assigned to nobody

[2016-01-03 23:05] pydanny opened #287 "Add note referencing Django docs on how to customize templates"
This supersedes #254 and will be implemented when https://code.djangoproject.com/ticket/26028 is complete.

[2016-01-04 19:33] pydanny commented on #259
I added `fnmatch` functionality to dj-stripe. That addresses changes in how Django manages `app_name` and `app_label` that is generating this error. Nascent documentation is at https://dj-stripe.readthedocs.org/en/latest/usage.html#constraining-entire-sites

[2016-01-04 19:33] #259 closed, assigned to nobody

[2016-01-10 18:07] denisvlr commented on #117
I ran into a related issue with active_cards, when calling `customer.update_card(token)` :

[code]

I get the following error:

[code]

Is there any workaround as of today?

[2016-01-10 19:31] kavdev commented on #117
Hi @denisvlr,

Can you tell me what api version you're using? You can find it [here](https://dashboard.stripe.com/account/apikeys).

[2016-01-13 18:27] unformatt opened #288 "ConfirmFormView accepts 'plan_id' via GET instead of POST."
I haven't updated dj-stripe since last June. I just updated and I'm getting 405 when POSTing a form to /subscribe. I've tried to dig through the commits but it's a bit tedious. Seems like SubscribeFormView has been renamed/moved to ConfirmFormView and SubscribeView is just a form now to select a subscription. So I'm looking at the ConfirmFormView URL and it requires a plan_id in the URL but I'm tr

[2016-01-13 18:46] pydanny commented on #288
Let me check. I might have broken something.

**Update** Nope, not me. Was working on a private customization effort for dj-stripe that we're doing per https://www.cartwheelweb.com/open-source-commercial-support/.

[2016-01-14 01:54] unformatt opened #290 "Missing modules in requirements_test.txt"
Not sure what versions you'd want, so I didn't add them:

pep8
funcsigs

[2016-01-14 17:37] pydanny commented on #290
Weird, I don't get errors for not having these modules. Can you provide some details as to what is happening?

[2016-01-14 17:49] unformatt commented on #290
First, I had a lot of tests failing like this:
`ERROR: Failure: ImportError (No module named funcsigs)`

Then after installing funcsigs I got pep8 import error (I can't find the exact pep8 error). I then installed pep8 via pip and it everything was fine.

[2016-01-14 17:49] unformatt commented on #290
My guess is that you have them in your system python libs?

[2016-01-14 17:57] pydanny commented on #290
No, not in my system python libs (just double-checked). However, in a new virtualenv after running `pip install -r requirements_test.txt` I got:

[code]

`pep8` is in there, but not `funcsigs`. This prompts the question of are you running pip with `--no-deps`?

[2016-01-14 18:20] unformatt commented on #290
I'm not using --no-deps

[2016-01-16 06:50] kavdev commented on #288
@unformatt: You bring up a great point. The plan ID should be passed through post; going through GET to manipulate data is a violation of REST principles.

Apparently I wasn't paying enough attention when approving that PR. I won't have time to fix this until next week; if you'd like to put in a pull request, that would definitely speed up the timeline.

[2016-01-16 18:58] kavdev commented on #290
@unformatt: I take it you're running python 2.7? Can you post a stacktrace so that we can see which package is trying to import it?

[funcsigs:](https://pypi.python.org/pypi/funcsigs)

[2016-01-16 21:48] unformatt commented on #290
Unfortunately, I fixed the problem before I posted this ticket so I don't have the stack trace anymore. Maybe it was just something weird with my virtualenv. You can close this if you want.

[2016-01-18 20:05] kavdev commented on #290
Entirely possible. Closing.

[2016-01-18 20:05] #290 closed, assigned to nobody

[2016-01-19 12:29] bartoszhernas commented on #162
I need a way for my users to add multiple cards, so I will probably sit on it today.

[2016-01-20 23:41] pydanny opened #293 "Webhook targeting doesn't provide excellent information"
Stripe's webhook test sender gets back a 500 error with a bunch of HTML, basically a 500 page. This makes debugging kind of a pain. What would be better:
1. Stripe's test sender posts to dj-stripe owner's endpoint.
2. dj-stripe sends back a 200 response
3. dj-stripe sends an extreme terse response, preferably under 100 characters.

[2016-01-21 16:06] mjtamlyn opened #294 "Consider making plans objects"
Hi,

I'd like to propose a change to introduce a `Plan` class, and correspondingly a `Tier` class for hierarchies. The current syntax for settings could continue to work, but they would initialise these classes. Some dunder magic can make them quack like the original dictionaries if we like.

This would allow us to add several useful features to the objects, such as `tier.plans`, `plan.tier`, but

[2016-01-22 02:50] pydanny commented on #294
This is a very, very interesting idea. Classes would give us a lot of power to do fascinating things, without smashing up the internals too much. Custom methods per plan, YEAH!

_This is partly why I always thought plans should not be models, you lose not only the stability of code, you also lose the ability to do cool stuff like what @mjtamlyn is suggesting._*

What do you think @kavdev?

[2016-01-22 09:22] mjtamlyn commented on #294
I would definitely not be a favour of moving plans to being a model. Whilst allowing the parameters of which plans are available (e.g. price) might be useful, in particular the "levels" of the plans and the features they allow - that collection of features and how it interacts with parts of the site is likely to need a code change anyway.

A nice thing about allowing custom classes like this is th

[2016-01-23 05:40] stepmr opened #296 "Reference Stripe API Version in docs/readme?"
Any reason why dj-stripe doesn't reference the compatible stripe api version (2012-11-07) in the docs or readme?

[2016-01-23 21:09] kavdev commented on #296
Good point. @pydanny: Can you take this one? Maybe an info block somewhere?

[2016-01-24 01:19] kavdev commented on #294
From an architecture point of view, Plans as models just makes sense (to me at least) -- we're trying to build a Django wrapper around each stripe object and map their relationships.

@mjtamlyn, @pydanny: Wouldn't having a custom model that has a one to one to a djstripe model give you the same results as a custom class? That's the typical solution I've seen, and it still keeps all the relationshi

[2016-01-24 02:13] kavdev commented on #293
Can you describe the interaction flow a bit more? Is the following right:

In that case, I'd say Option 2 is out; in the case that the user doesn't have an error logging solution (like Sentry/Raygun) and relies on the dashboard logs, not returning an error would make troubleshooting harder.

I'd say Option 3 is the best; maybe return the response in JSON form to match Stripe convention.

What do y

[2016-01-25 10:29] mjtamlyn commented on #294
_Warning: strong opinions_

It wouldn't give the same results at all no. A model means data in the database, and each object looking basically the same. It means writing conditional code in your system which assumes the existence of a certain row in the database. While you can argue Django does this already with permissions, I'd argue that the existence of the permissions table is a wart, not a sy

[2016-01-25 21:10] JordanRClark opened #297 "If customer isn't a user (Custom model), the string representation errors with email"
If the customer object is not a user (In my case an organization), the string representation errors because it is trying to access the email attribute.

settings.py:
`DJSTRIPE_SUBSCRIBER_MODEL = 'core.Organization'`

models.py:

[code]

Getting the Customer:

[code]

Traceback:

[code]

Possible fix:
Check to see if the Customer subscriber has the attribute of e-mail
djstripe/models.py line 194-19

[2016-01-29 00:40] kavdev commented on #297
See [the docs](http://dj-stripe.readthedocs.org/en/latest/settings.html#djstripe-subscriber-model-settings-auth-user-model).

[2016-01-29 00:41] #297 closed, assigned to nobody

[2016-02-04 10:39] manosucias commented on #294
In my opinion Plans as Models are a requirement to implement Stripe_Connect functionalities. To allow marketplace sales and Vendor / customer sales this is a must. This needs to be discussed also in #97

[2016-02-04 10:51] mjtamlyn commented on #294
@kavdev makes some good points in that thread about the divergence of the project. A feature like this makes a lot of sense if the project is intending to double down on being a top notch subscription package, if it wants to be the one stop shop for any stripe integration then plans as models of course makes more sense.

[2016-02-12 15:19] jimcasteleiro opened #299 "Payments without subscriptions"
Hi - I might have missed this in the docs, but is there an existing workflow in djstripe to deal with more of a cart oriented setup? In my use case, an authenticated user would be making repeated, but not strictly periodic payments (so it doesn't lend itself to a subscription based model). My quick, short term fix to get my prototype set it up was to create an annual subscription with a cost of $0

[2016-02-14 21:53] pydanny commented on #299
Since you've mentioned a possible fork to add this behavior, I think I need to respond in full. I hope I don't come across as a jerk, so here goes:

As for adding this feature in the future, it's something I (and perhaps @kavdev) would love to do. It would require **a substantial amount of work** to make both stable and extendable, not to mention well tested across all platforms. Heck, there's a t

[2016-02-14 22:42] pydanny commented on #299
Just to get the question out of the way, dj-stripe supports single item purchases for subscribed users, which is explained at https://dj-stripe.readthedocs.org/en/latest/cookbook.html#making-individual-purchases. I believe @jimcasteleiro mentions this in his feature request, but wanted something that operated without requiring a pre-existing subscription. And wouldn't require the user to create a

[2016-02-16 12:50] mjtamlyn opened #300 "Testing utilities"
Hi!

It would be super awesome if we had an easy way to get the database into a state where it looks like a user is subscribed to a certain plan.

I'm a big fan of the library [`factory-boy`](https://factoryboy.readthedocs.org/) and would love to see something simple like a `CustomerFactory` you could use like this:

[code]

We might need to introduce a setting for the factory of your own user mod

[2016-02-16 19:18] sirshannon opened #301 "Conflicts with subdomains using django-hosts"
We have subdomains mapped using [django-hosts](https://github.com/jazzband/django-hosts) that stopped working when we started using dj-stripe, throwing a 404 because django is looking in the wrong url config file.

We were able to fix this by editing djstripe.middleware.SubscriptionPaymentMiddleware in middleware.py, line 69.
Changed line 69 from
`match = resolve(request.path)`
to
`match = resolve

[2016-03-01 21:29] kavdev commented on #300
Submit a quick pr with a code sample. If it makes the tests way more clear than they currently are, we'll adopt it.

[2016-03-01 21:30] kavdev commented on #301
Would you like to submit a pull request, or would you like me to just implement it?

[2016-03-20 19:40] pydanny commented on #293
What I just found works awesome is Sentry, which is really just log analysis. I think keeping things as is rather than reinventing the wheel is a good thing.

[2016-03-20 19:40] #293 closed, assigned to nobody

[2016-03-20 21:30] #296 closed, assigned to nobody

[2016-03-25 20:04] pydanny opened #304 "Show refunds in payment history"

[2016-03-30 00:36] kavdev commented on #304
[API Link](https://web.archive.org/web/20150802023147/https://stripe.com/docs/api#refunds)

[2016-04-04 03:55] WesleyJohnson opened #305 "Make note of the necessity for a {% block content %} in README"
I'm not sure if this is standard django practice for packages that include custom templates, but it took me forever to figure out that I needed to have `{% block content %}` in order to properly use the built-in templates for dj-stripe. I normally name mine `main`. This should be in the README next to the mention of the need for `{% block javascript %}`. Thanks!

[2016-04-20 20:29] kavdev commented on #5
[For reference](https://docs.djangoproject.com/en/1.9/ref/contrib/admin/actions/#adding-actions-to-the-modeladmin)

[2016-04-21 00:45] kavdev commented on #15
In #162 branch

[2016-04-21 00:45] #15 closed, assigned to kavdev

[2016-04-21 00:55] kavdev commented on #51
@pydanny: Each boolean is independent to the others; an invoice could also be attempted, closed, paid, and forgiven at the same time. Changing these to a single status wouldn't work.

[2016-04-21 00:55] #51 closed, assigned to kavdev

[2016-04-21 01:12] kavdev commented on #61
This seems to have been implemented according to @pydanny's link to the docs above. Point 2 of that setting now works correctly.

[2016-04-21 01:12] #61 closed, assigned to dollydagr

[2016-04-21 01:22] kavdev commented on #74
See #162.

[2016-04-21 01:22] #74 closed, assigned to nobody

[2016-04-21 01:25] kavdev commented on #75
~~See #162.~~

Slating this for later work. You are able add coupons by stripe ID to the subscribe call with the #162 updates.

[2016-04-21 01:27] kavdev commented on #90
See #162.

[2016-04-21 01:27] #90 closed, assigned to nobody

[2016-04-21 01:31] kavdev commented on #78
See #162.

[2016-04-21 01:31] #78 closed, assigned to nobody

[2016-04-21 01:34] kavdev commented on #114
We'd need a separate section for Charge history. Subscriptions are recorded by Invoices and single purchases are recorded by Charges. From what I can tell, the two are mutually exclusive.

[2016-04-21 01:38] kavdev commented on #116
@wahuneke: Is this already part of your refactor of the Event model in the #162 branch?

[2016-04-21 01:44] kavdev commented on #117
Fixed in #162.

[2016-04-21 01:44] #117 closed, assigned to kavdev

[2016-04-21 01:49] kavdev commented on #180
Customer should still have a default_source and sources after a subscription cancellation.

[2016-04-21 01:49] #180 closed, assigned to nobody

[2016-04-21 01:50] kavdev commented on #188
See #162.

[2016-04-21 01:50] #188 closed, assigned to nobody

[2016-04-21 01:52] kavdev commented on #237
See #162.

[2016-04-21 01:52] #237 closed, assigned to nobody

[2016-04-21 01:55] kavdev commented on #277
Closing. If you're still lost, please comment.

[2016-04-21 01:55] #277 closed, assigned to nobody

[2016-04-21 02:05] kavdev commented on #294
@mjtamlyn: We are indeed trying to do the latter.

That being said, if you can think of some cool way to have custom methods per plan, please submit a PR. That functionality would be awesome.

[2016-04-21 02:05] #294 closed, assigned to nobody

[2016-04-21 02:19] #299 closed, assigned to nobody

[2016-04-25 16:22] atmediauk opened #306 "Inflated checkout value decimal problem?"
We have a small problem on our checkout where customers are sometimes shown the wrong price.

For example if the total should be £150.00 its showing as £15,000

Its really hard for us to debug as we cant replicate the problem ourselves and it doesn't seem to be browser dependent.

We are taking the amount in GBP £

Here is the code we use:

`<form action="/user/dashboard/releases/card/{$release->r

[2016-04-25 22:56] kavdev commented on #306
@atmediauk: checkout.js isn't in the scope for this package (did you mean to post here?). Please head over to https://support.stripe.com/.

[2016-04-25 22:57] #306 closed, assigned to nobody

[2016-04-26 01:40] kavdev commented on #162
So the switch to multiple subscriptions is going to be tricky. There's no way to get the IDs of cancelled subscription objects because their IDs weren't stored. Moving forward, keeping orphaned objects is guaranteed to introduce bugs (mainly because they can't be synced). Keep in mind that cancelled subscriptions were deleted stripe-side. @ctrengove touched on this in #186.

How opposed is everyon

[2016-04-26 02:25] kavdev commented on #162
The deletion would happen during migration.

[2016-04-26 02:45] r0fls commented on #162
I think deleting cancelled subscriptions makes sense, particularly if it's being done on the stripe side already. It helps to draw the line between a payment processing solution for Django and a CMS. It makes sense to have the model correspond to the Stripe side by default. Let users of dj-stripe export their cancelled users to a CMS or their own added model in Django, if they want.

On the flip s

[2016-04-26 03:19] pydanny commented on #162
I don't see why we should hold onto cancellation objects that no longer exist within the stripe system. I'm 👍  on this but also believe we need more input before a decision is made.

[2016-04-26 03:55] benmurden commented on #162
dj-stripe should probably just keep a local representation of what's on Stripe, anyway, so deleting makes sense. As long as cancellation signals exist, we can advise developers who want to keep a history that they should use that.

[2016-04-27 21:48] kavdev commented on #162
So at the moment the solution is to purge all subscriptions and re-sync from Stripe. This is the best way to ensure data integrity/parity with Stripe.

[2016-04-27 23:55] #246 closed, assigned to nobody

[2016-04-27 23:55] kavdev commented on #246
Implemented as part of #162

[2016-04-27 23:59] kavdev commented on #301
Fixed in #162 branch

[2016-04-27 23:59] #301 closed, assigned to kavdev

[2016-04-28 00:00] kavdev commented on #271
See #162. If you'd like to submit a PR for a View for this functionality, feel free!

[2016-04-28 00:00] #271 closed, assigned to nobody

[2016-04-28 03:23] kavdev commented on #116
So the way this currently works is you have to manually re-retrieve the data in a webhook handler. While this works, it's not clear to the user of webhooks that the data will probably come in with a newer api version.

I think it might be better to just re-retrieve the entire event object in views.py. Thoughts?

[2016-04-30 01:01] kavdev commented on #162
Update: I'm basically re-rewriting the test suite to handle updated plans and subscriptions. Stay tuned.

[2016-04-30 01:50] r0fls commented on #162
Nice 💯

I think it's just a typo, but in the comment [here](https://github.com/pydanny/dj-stripe/blob/1e6918275ec7c0ef300aa1c7c59d96453679b549/djstripe/migrations/0010_auto_20160421_0509.py#L5), do you mean to say that "No data that is ~~not~~ currently hosted on stripe will be deleted"? If the goal is to sync with Stripe, removing the "not" makes more sense to me, but I could be missing something

[2016-04-30 02:33] kavdev commented on #162
@r0fls: Thanks for catching that. It's definitely unfinished and that is a typo.

[2016-04-30 18:51] kavdev commented on #97
Adding fleshing out the Account model to this issue rather than #162.

Also, almost all of the models don't have a clear way to figure out which Account it belongs to. I'm thinking the api_retrieve() call could set it (because it takes the api key), but that seems like another network call that could be avoided (maybe only check if Account is null?)

[2016-04-30 19:47] kavdev commented on #116
See #162. Thanks for @wahuneke for the design. @jayfk: Turns out it was almost fully implemented.

[2016-04-30 19:47] #116 closed, assigned to kavdev

[2016-05-01 00:50] kavdev commented on #3
See #162

[2016-05-01 00:50] #3 closed, assigned to buddylindsey

[2016-05-01 19:01] kavdev opened #307 "Release 1.0.0"
## Overview

It's almost here! We've made significant changes to the codebase and are now compliant with stripe API version ~~**2016-03-07**~~ **2017-06-05**.

I want to give a huge thanks to all of our contributors for their help in making this happen, especially Bill Huneke (@wahuneke) for his impressive design work, and @jleclanche for really pushing this release along.

Almost all methods now

[2016-05-02 05:19] kavdev commented on #307
@pydanny, @r0fls, @benmurden, @lukeburden, @bartoszhernas, @ctrengove, @mthornhill

[2016-05-02 05:33] pydanny commented on #307
Hooray! This is awesome! I'll run through all the changes again.

[2016-05-02 20:13] kavdev commented on #307
@pydanny: Another option for the Customer/Subscription Manager change [(here)](https://github.com/ctrengove/dj-stripe/blob/multiple-subscriptions/djstripe/managers.py)

[2016-05-03 15:15] bartoszhernas commented on #307
Hey, nice changelog :). I am using dj-stripe in production based on my branch (the one were I played with multiple credit cards) and it works fine for now.

I will update the staging environment to this branch and will post here all issues I have.

[2016-05-03 15:17] kavdev commented on #307
@bartoszhernas: sounds good!

[2016-05-12 16:35] kavdev commented on #230
@chrissmejia: I figured out how to fix this (had the same issue when I changed my email address). Simply add that other email to your github account [here](https://github.com/settings/emails) and the commits will be attached to your profile.

[2016-05-12 17:49] kavdev commented on #22
Will be implemented for #307.

See also:
https://github.com/pydanny/dj-stripe/pull/174#issuecomment-120808144 and comments thereafter.

[2016-05-12 17:49] #22 closed, assigned to nobody

[2016-05-23 07:08] priya124 opened #310 "For South support, customize the SOUTH_MIGRATION_MODULES setting to point to the correct migrations module"
./manage.py syncdb --noinput
Traceback (most recent call last):
  File "./manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/**init**.py", line 399, in execute_from_command_line
    utility.execute()
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/**init**.py", line 392, in execute

[2016-05-24 23:58] kavdev commented on #310
Hi @priya124,

I'm not sure I understand what you'd like to see. We don't support South as a migration runner for dj-stripe.

[2016-05-31 17:29] robert-osborne commented on #307
Hey Team,  I have a new project and want to use dj-stripe;  1.0.0 is looking amazing and the milestone list is pretty short.  Is there a timeline for release or should I stick to 0.8?   Or maybe a timeline my team could help shorten with some testing or bug fixing ...

[2016-05-31 19:24] kavdev commented on #307
Hi @robert-osborne,

If you're starting from scratch, I would highly suggest jumping on with 1.0.0 so you can work with the latest API set. There are so many great new features (and fixes for bugs present in 0.8.0) in 1.0.0 that you would be missing out on.

As far as a schedule goes, we're realistically looking at the end of July for an official release unless a bunch of time opens up for me. I'l

[2016-06-02 17:38] Niko87 opened #311 "DJSTRIPE_SUBSCRIBER_MODEL_REQUEST_CALLBACK issue when override default"
When i try to override the default model and the callback, i have a problem because in settings.py can't import models.. i don't understand the docs because they say you can override in settings.py like:

Model:

[code]

Here the settings.py

`DJSTRIPE_SUBSCRIBER_MODEL = 'base.GroupCompany'`

[code]

`DJSTRIPE_SUBSCRIBER_MODEL_REQUEST_CALLBACK = account_request_callback`

But you can't import an m

[2016-06-08 19:56] kavdev commented on #311
Hi @Niko87,

Sorry for the late response. This is a quick fix. Simply import the model from within the function:

[code]

This works because dj-stripe calls `account_request_callback` after apps are loaded.

[2016-06-08 19:58] kavdev commented on #311
I'll make this more clear in the documentation.

[2016-06-08 19:59] kavdev commented on #311
(And I'll stop clicking the wrong button...)

[2016-06-08 20:22] kavdev commented on #311
Fixed in [upcoming release](https://github.com/pydanny/dj-stripe/commit/4fda33c9dcdef3cc1d291f3fc9b90a05bcde5989).

[2016-06-08 20:22] #311 closed, assigned to kavdev

[2016-06-08 20:26] #310 closed, assigned to nobody

[2016-06-10 19:01] attilach commented on #157
I just had the same problem. We must add `{% block javascript %}{% endblock %}` **after** jQuery in the file "base.html" I hope it will help others.

[2016-06-13 02:09] kavdev opened #312 "Collaborator Check-in"
Hi @mjhea0, @myusuf3, @dollydagr, @buddylindsey, @audreyr,

Just doing a quick check in to see who of the currently listed collaborators is still interested in working on dj-stripe. Please respond by the 19th to keep your push access.

Best,
Alex

[2016-06-13 06:41] kavdev commented on #307
@robert-osborne: You should have no issues using the 162 branch as of now. The points in my last comment still stand. If you run into any bugs, let me know.

[2016-06-13 08:47] phoebebright opened #313 "Cannot add foreign key constraint"
I get this error when adding dj-stripe to an existing app with custom user and running the migration.  However, if start with a clean database it runs fine.  This could well be a problem with my setup but posting in case someone else has the same issue.

Django: 1.9.5
Mysql: 5.7.12
Mysql default is ISAM but dj-strip is creating INNODB files

[2016-06-13 12:16] mjhea0 commented on #312
@kavdev I would like to get more involved with this project. So, yes - please keep my push access. Also, can you assign me an issue that would help better familiarize myself with project. It's been a while since I've looked at it. Thanks!

[2016-06-13 15:44] bartoszhernas commented on #307
Hey, I am testing it slowly, was crazy hard to fix the database problems (never use forks!).
I somehow managed to get to stable state and started updating code.

I have one problem though, when trying to cancel/resume plan I am getting this error:

[code]

Which is weird because subscribing to the plan and adding cards work just fine.

Any ideas?

[2016-06-13 16:33] bartoszhernas commented on #307
Ok, found in Stripe logs `This action requires additional privileges`

[2016-06-13 16:46] kavdev commented on #307
Interesting. Sounds like a permissions error on stripe maybe? I'll look into it right now.

Are all of your dependencies up to date? Oh and did you update after I made that comment that it's ready? There were a few migration bugs that I fixed.

[2016-06-13 16:49] kavdev commented on #307
Try cancelling the subscription with curl to double check that it's a stripe issue and not a dj-stripe issue.

[2016-06-13 16:54] audreyfeldroy commented on #312
It's been awhile since I last committed to dj-stripe, so it would be safest for any future contributions from me to come via pull request with a code review. You can revoke my push access. Thank you so much for taking the lead on this project, @kavdev.

[2016-06-13 16:55] bartoszhernas commented on #307
@kavdev hey, so the `privileges` was not from djstripe (something I clicked on dashboard).

I haven't found the issue, but when I switched to this code everything works just fine:

[code]

[2016-06-13 17:09] kavdev commented on #312
@mjhea0: Sure! The codebase is wildly different than what it used to be. There are three tasks left to complete before we can release v1.0.0 (see #307). Go ahead and pick one and let me know which you choose here. When you're ready, submit a pull request and I'll review it.

@audreyr: Sounds good, will do. No problem, happy to.

[2016-06-13 17:18] kavdev commented on #313
Hi @phoebebright,

Are you using v0.8.0?

On which migration does the failure occur?

[2016-06-13 17:23] kavdev commented on #307
@bartoszhernas: This might be irrelevant, but isn't it `request.user.customer`?

[2016-06-13 17:35] kavdev commented on #307
@bartoszhernas: I believe I found the bug. Stay tuned.

[2016-06-13 18:12] kavdev commented on #307
@bartoszhernas: Go ahead and pull. The `api_key` kwarg was being overridden with the `at_period_end` value. Basically, dj-stripe was sending either `True` or `False` as your api key and Stripe got mad. Should be fixed with that last commit.

[2016-06-14 12:11] bartoszhernas commented on #307
@kavdev Awesome, thanks a lot, great work!
Do you want me to post issues with 1.0.0 here or to create separate tickets?

All seems to work just fine, except the admin panel:

[code]

[2016-06-14 13:29] buddylindsey commented on #312
As much as I would like to help out I wouldn't be able to do enough to warrant commit access. Like Audrey i'll submit PR's for discussion and review.

[2016-06-14 14:04] mjhea0 commented on #312
@kavdev Actually, I probably won't have much time either. I plan on helping, but I can just submit PRs as well. Thanks!

[2016-06-14 15:40] kavdev commented on #307
@bartoszhernas: Taking a look now. New issues would be better, just put [v1.0.0] in front of the subject, e.g. "[v1.0.0] Admin panel subscription status bug"

[2016-06-14 15:42] kavdev commented on #312
@buddylindsey, @mjhea0: Sounds good!

[2016-06-14 16:14] bartoszhernas commented on #307
Ok, will do. I have already deployed this to production since it works better then the old version.
Thanks a lot for fixes and work on this library !

[2016-06-14 16:16] kavdev commented on #307
@bartoszhernas: Fantastic to hear that it's working well in production!

I pushed the fix for that admin bug; go ahead and pull at your convenience.

[2016-06-18 17:24] #162 closed, assigned to nobody

[2016-06-18 17:29] kavdev commented on #300
@mjtamlyn: Take a look at the tests now (on the 162 branch). We've got a fairly solid implementation with mock and patch. If you want to build some kind of abstraction to remove duplicate code, I'm all for it.

I'm closing this issue, so if that's something you're interested in doing, submit a PR and I'll take a look.

[2016-06-18 17:29] #300 closed, assigned to nobody

[2016-06-18 17:34] kavdev commented on #312
I'm closing this early.

[2016-06-18 17:34] #312 closed, assigned to nobody

[2016-06-18 18:03] #5 closed, assigned to nobody

[2016-06-19 12:32] Velua opened #314 "Lack of documentation for trial"
Sorry, I'm a noob, I don't know how to give new customers an immediate 7 day trial.. help!

[2016-06-19 18:52] kavdev commented on #314
Hi @Velua, no worries.

There are a few ways to go about this:
- add trial_period_days=7 when creating a plan through the ORM or the admin, and then use that plan when creating a subscription for your customer.
- If you have `DJSTRIPE_DEFAULT_PLAN` set, You can use [this](https://dj-stripe.readthedocs.io/en/latest/settings.html#djstripe-trial-period-for-subscriber-callback-none) callback to add a

[2016-06-19 18:52] #314 closed, assigned to nobody

[2016-06-21 21:21] kavdev commented on #307
@bartoszhernas: note that `Customer.has_valid_card()` will be `Customer.has_valid_source()` in the next push.

[2016-06-22 04:13] kavdev opened #315 "Card().get_icon()"
Add static card icons to dj-stripe. The icon returned would match the Card's brand.

Tricky part is finding open source, royalty-free images.

[2016-06-22 04:14] kavdev commented on #315
Also taking input for a different name than "icon"

[2016-06-22 09:07] lskillen commented on #307
Hey guys, just a heads up that we're integrating the functionality from the 1.0 branch into our site (it isn't live yet, but I'll have the public fork created within the next few days) - We've made several minor fixes but it includes (off the top of my head, the PRs will be more detailed):
- ~~Added support for sub-event registration in event handles.~~ (see #316)
- ~~Added support for reprocessin

[2016-06-22 16:53] kavdev commented on #307
@lskillen: Awesome! I look forward to your contributions.

As for views, my goal is to eventually build a demo example in dj-stripe that will make it easier to use and test the dj-stripe views. So far my main focus lately has been getting the models up to speed.

[2016-06-26 10:49] lskillen commented on #307
Moving towards the demo application style would probably help with pushing some of the business logic out of the views and into the forms, models or more utility functions, which in turn would make the views more lightweight and easier to customise to each user's requirements.

This is the approach that we've taken with our integration, where our views (and view mixins) are primarily serving the p

[2016-06-28 15:25] lskillen commented on #307
@kavdev That's all of our PRs submitted for now - Let me know if you need help with anything, or if any of the PRs require changes.  Cheers! :grinning:

[2016-06-28 20:53] allthetime opened #326 "base.html TemplateDoesNotExist"
Hey, I followed all the basic directions and when trying to access localhost:8000/payments I just get

`TemplateDoesNotExist: base.html`

Looks like there is something wrong with the search paths, any idea how I can fix this without having to patch the library every time I do a new install?

Django is looking for the template here ...site-packages/djstripe/templates/base.html
but it is here ...sit

[2016-06-28 22:56] allthetime opened #327 "Create new customers"
Hi, I'm trying to use dj-stripe as a standalone stripe subscription manager for another app.

I don't see anyway to register new users with dj-stripe, so I have started building a django registration form.

The standard user creation form doesn't include email addresses so I'm assuming I will have to add that, but once a user is created, how do I register it with stripe without having to run sync_

[2016-06-28 23:53] kavdev commented on #327
Hi @allthetime,

Simply use `Customer.get_or_create()`

[2016-06-28 23:53] #327 closed, assigned to nobody

[2016-06-29 02:10] kavdev commented on #313
If someone else runs into this, let me know and I'll reopen.

[2016-06-29 02:10] #313 closed, assigned to nobody

[2016-06-29 02:29] kavdev opened #328 "Small refactors"
Waiting on PRs to merge before I start this.

[timestamp conversion](https://github.com/kavdev/dj-stripe/pull/320#discussion_r68843831)
[re-raising exceptions](https://github.com/kavdev/dj-stripe/pull/320#discussion_r68855732)

[2016-06-29 23:28] allthetime opened #329 "sync_customers doesn't sync"
Hi, not sure if I'm misunderstanding the function of sync_customers or not.

Is it supposed to update django models with information from stripe? Because I deleted my db and remigrated and then ran sync and none of the information was copied over.

If it is the other way around (sync_customers updates slack with info from django), is there a way to do what I desire, populate the django tables with

[2016-06-30 07:23] kavdev commented on #329
I'll take a look at this this weekend. In the meantime, have you taken a look at #307? It might be worth your while to start with 1.0.0 if you're starting from scratch.

[2016-07-01 14:41] lskillen commented on #307
@kavdev: What's the roadmap to the 1.0.0 release?  Is there anything else we can help with?

[2016-07-01 17:09] kavdev commented on #307
@lskillen: Three things: object sync, plan initiation, and documentation.

**Object Sync**
We need functions in `sync.py` that, based on a `fetch` parameter, either syncs all locally stored objects with Stripe or pulls all objects of that type from Stripe and populates the local database. With that, there should be a `sync_all` function with the same signature that calls the sync methods for each

[2016-07-01 17:22] kavdev commented on #329
`init_customers` creates customers in Stripe for the users in your local database if they don't already have a customer object associated with them.

`sync_customers` syncs data in your local database with data in Stripe for each customer you have in your local database (and their associated subscription, invoices, and charges). This will be replaced in favor of a more robust set of syncing functi

[2016-07-01 17:26] kavdev opened #330 "``get_all_field_names()`` deprecation in django 1.10"
See [the migration docs](https://docs.djangoproject.com/en/1.9/ref/models/meta/)

[2016-07-01 19:15] allthetime commented on #329
Thank you.

Is a function that takes your Stripe data (customers, subscriptions) and copies it to your possibly empty local database part of the plan? I might make a pull request if no one in particular is working on that.

[2016-07-01 21:06] kavdev commented on #329
For the most part. [See this comment](https://github.com/kavdev/dj-stripe/issues/307#issuecomment-229999456). You'll be able to call `sync_all(fetch=True)`.

The issue lies with customers. Local users are linked to customers in stripe; there's no way to pull customers and their related objects from stripe if that customer doesn't exist locally and isn't connected to a local user.

To get around th

[2016-07-01 21:44] lskillen commented on #307
@kavdev Sounds great and tantalizingly close!

Other than seeing if we have time to contribute actual code via PRs for any of the above, here are a few tidbits of food for thought:

**Object Synchronisation**
Depending on the scale of the website a full synchronisation might take a significant amount of time - It would be extremely helpful to be able to decouple from this as a synchronous operatio

[2016-07-01 22:30] kavdev commented on #307
Interesting.

**Object Synchronisation**
What I'll probably do is write it synchronously and then add async support later as we did with the webhook event callback.

**Plan Initiation**
Go ahead and look at the discussion in #22. It has my original implementation plan. If that fits your use case, I'll just stick with that.

**Documentation**
The demo app will come at a later time. For now the focu

[2016-07-06 00:40] allthetime opened #333 "Resubscribe after cancel"
Searching around the module it doesn't seem like there is a clear way to update a subscription.

The use-case I am considering is if a user cancels their subscription but then decides to reactivate it before it is inactive.

At the moment, in the base project it treats it as though it is fully active and so the subscription form doesn't work.

Is there something in the API that makes this possible

[2016-07-07 17:56] aleccool213 commented on #307
@kavdev Is there documentation I can help with? Is there a current list of things left to do?

[2016-07-07 18:03] aleccool213 commented on #307
@kavdev Also is there a roadmap for the rest_api part of the app? I have lots of experience in DRF and would like to see that part of the app expand.

[2016-07-08 01:35] kavdev commented on #307
@aleccool213: We need docs on `Decorators`, `Event Handlers` (how create and use them, with examples), `Model Managers` (which could probably be folded into `Models`), `Middleware`, `Signals` (Simply note that a signal is sent for each webhook type. Link to the stripe webhooks doc.), and `Views`

[2016-07-08 01:37] kavdev commented on #307
Because it's in contrib, there's no roadmap for the DRF part of the app -- it's kind of like a "if you need it, add it" situation. Feel free to add as much functionality as you'd like!

[2016-07-08 01:44] kavdev commented on #333
@allthetime: I'm not sure it's possible via the API; I think once you cancel a subscription in stripe, there's no way to un-cancel it. If do some research and see if it is possible, open a PR to the 1.0.0 branch and we'll get the feature rolled in.

The solution I can think of in the meantime is check if the subscription is temporarily current; if it is, ask the user to "undo" or something and jus

[2016-07-08 01:44] #333 closed, assigned to nobody

[2016-07-08 01:45] kavdev commented on #307
A docs section on DRF would also be cool.

[2016-07-08 03:29] aleccool213 commented on #307
@kavdev Interesting, I wouldn't mind being assigned to the `Decorators` or the `View`. Should I make an issue for this or shall you?

Because the DRF part of the app is small I can do that for sure. Ill make an issue for this.

[2016-07-08 03:34] aleccool213 opened #336 "Link GoDjango tutorials in docs"
Just a thought as these videos helped me understand the application better.

Link: https://godjango.com/search/?q=dj-stripe