[2017-09-27 11:29] radzia2 opened #583 "best way to grant credits based on stripe subscription payment"
Hi guys,

New to dj-stripe and was impressed by the ease to get it up and running to add customers and make them subscribe to a plan.

I came to my next hurdle: giving users credits to spend them on my application.

A new user gets an amount of credits in the beginning. Credits are stored inside an extended user profile and for a user created, a default value of 100 credits is given to get started

[2017-09-27 12:00] flc commented on #583
I think you should add a handler for the `invoice.payment_succeeded` event (webhook) and increase the user's credits based on the subscription of the given user/customer.

[2017-09-27 12:10] jleclanche commented on #583
Seconding @flc's recommendation. Also note that stripe users have an account balance field which allows you to directly add currency credits to a stripe customer object, that field is debited automatically upon charge before querying for any payment method.

[2017-09-27 12:51] radzia2 commented on #583
OK, good feedback regarding the handler.

How would you suggest to "create" the handler without modifying the core dj-stripe code.

I heard about the principle of Monkey Patching but as a beginner, not familiar with this. Is this the way to go?

Thanks for helping me out with these basic questions.

[2017-09-27 13:22] jleclanche commented on #583
Use the signal system:

https://github.com/HearthSim/HSReplay.net/blob/master/hsreplaynet/billing/signals.py

[2017-09-27 13:57] radzia2 commented on #583
great advice.

created a patching.py file which I include in my __init__.py of my app

[code]

you made my day

[2017-09-27 15:43] radzia2 opened #584 "is "PRORATION_POLICY_FOR_UPGRADES" gone?"
I was looking into the models.py to find any use of the setting "PRORATION_POLICY_FOR_UPGRADES" as I would like to charge my subscribers directly when they upgrade instead of waiting for the next billing moment.

It looks like this functionality vanished. Is it replaced by something else?

[2017-09-27 17:49] kavdev commented on #584
@radzia2 that setting was part of the views we removed in 1.0.0. I'll update the documentation accordingly.

This functionality is still available by providing the appropriate ``prorate`` argument to the [subscription.update](http://dj-stripe.readthedocs.io/en/latest/models.html#djstripe.models.Subscription.update) method.

[2017-09-27 17:49] #584 closed, assigned to kavdev

[2017-09-27 20:05] kavdev commented on #583
@radzia2 glad it's working. Note that this wouldn't be considered a "patch", rather a standard implementation; maybe call the file "handlers.py"

[2017-09-27 20:22] kavdev commented on #581
``urgetext_lazy`` seems fine to me. As for ``text_type``, we need the values to be converted to the appropriate format (see the code comment). We might be able to urge the converted text

[2017-09-28 11:57] swapnil95 opened #586 "Initial configuration required for using the Subscription REST APIs is missing in the docs"
In order to get the subscription REST APIs working, you are supposed to add the urls present at `djstripe/contrib/rest_framework/urls.py`. Neither the installation steps cover that nor does the Rest API section in the cookbook.

Also, why isn't there a PUT API to upgrade/downgrade the stripe plans. Is there any reason for that?
Thanks in advance

[2017-09-28 17:17] kavdev commented on #586
@swapnil95 the rest api subpackage is a contrib package and thus not actively maintained by the core team unless something we change affects it.

Please feel free to contribute improvements

[2017-09-30 10:13] swapnil95 commented on #586
Hey @kavdev. I wasn't aware that the contrib package is not maintained by the core team. I have created the pull request. Kindly review it

[2017-09-30 15:43] jackappleby opened #589 "Sync everything from Stripe"
Hi, firstly thanks for all your work so far on this package!

I was wondering if there is currently a way on 1.0.0 to start from scratch with dj-stripe local data. i.e. migrate on a fresh DB then sync everything from Stripe (Plans, Subs, Customers, etc)? I think there is a sync customers command..? Anything else for all other objects, or is this coming in 1.1.0 ('Master sync re-write' section in H

[2017-09-30 16:18] jleclanche commented on #589
You have to do it manually at the moment but a management command would be really nice.

Something flexible like manage.py djstripe_sync all, manage.py djstripe_sync plan all, manage.py djstripe_sync plan my-plan-id...

[2017-09-30 16:21] #589 closed, assigned to nobody

[2017-10-02 17:27] jackappleby commented on #589
As an aside, this would be really useful for me (I might be alone here though!). Recreating everything manually scares the hell out of me (i.e. the new idempotency key table - no idea how to populate that from current stripe data / stripe ids can't be entered in the admin - have to do on DB level..?). I do understand it's an edge case - that of a package user already having live Stripe customers,

[2017-10-02 17:37] jleclanche commented on #589
FWIW the idempotency key table is not a critical table; its contents are only valid for 24 hours anyway. What it does is it prevents race conditions when creating new customers.

The customer table is what's necessary there.

[2017-10-03 16:16] jackappleby commented on #497
Just a heads up that the djstripe_sync_customers command also breaks on that line with `django.core.exceptions.FieldError: Cannot resolve keyword 'customer' into field.` Works if changed to `qs = get_subscriber_model().objects.all()`, though unsure if queryset needs to be filtered on anything. Seems to work fine for my needs though.

[2017-10-03 16:43] jackappleby commented on #589
Noting my working here just in case anyone else is silly enough to want to start afresh with dj-stripe while having live Stripe data :) After some digging, the commands init_customers and sync_customers do most of the work for you. Steps below confirmed working in test mode on local development env:

Drop all dj-stripe tables
Delete all dj-stripe migrations in migrations table
Migrate
Add Stripe P

[2017-10-04 19:00] KhanMaytok opened #590 "KeyError at /admin/djstripe/plan/add/ u'stripe_id'"
I cant create a plan for test. When I go to create I have the error

[code]

The Stripe ID field is empty on the admin

[![https://gyazo.com/1e2897dfe91be7951c329d75a7b9c01e](https://i.gyazo.com/1e2897dfe91be7951c329d75a7b9c01e.png)](https://gyazo.com/1e2897dfe91be7951c329d75a7b9c01e)

[2017-10-04 19:54] kbrownlees commented on #566
I would be interested to know why the squashed migration path won't work (https://docs.djangoproject.com/en/1.11/topics/migrations/#squashing-migrations)?

[2017-10-04 21:32] ndjdev commented on #590
I tried doing this as well and according to @lskillen's comment on this ticket https://github.com/dj-stripe/dj-stripe/issues/574 it's because the admin section needs some polish and changes in the models aren't reflected in Stripe. However I've tried editing an existing plan in the admin area (synced using webhooks) and the changes do seem to go back to Stripe so I'm a little confused (apart from

[2017-10-04 21:34] jleclanche commented on #590
Yeah, don't use the admin to *add* things. We should probably make it fully read-only for the time being somehow and maybe add a sync button on it.

[2017-10-04 21:43] ndjdev commented on #590
I can understand not adding Customers, Charges etc which should generally happen programatically but having Plan management from the admin interface would be incredibly useful and user-friendly for site owners and it seems to be almost working is it not? All that's missing is allowing a stripe ID to be passed to Plan.get_or_create().

[2017-10-04 21:55] jleclanche commented on #590
That's basically #452. And yeah while it's okay for debugging, the design I'm going for here is ensuring that the local database doesn't have anything in it that isn't present upstream as well.
The easiest way to create a plan right now is to create it on stripe, then sync it locally. But syncing it is harder than it should be right now.

[2017-10-04 22:00] ndjdev commented on #590
Yep understood but calling Plan.create() calls _api_create before actually creating the local copy anyway, so the two should be in sync? Editing the name of an existing plan also seems to work perfectly from either end for me, both end up with the same result regardless of using the admin area or Stripe's dashboard.

[2017-10-04 22:06] ndjdev commented on #590
I've noticed also that when editing a Plan in the admin area, after the API call goes to Stripe there's the expected follow-up call to the webhook that seems to "verify" the data. For example as I said at the moment the statement_descriptor field isn't sent to Stripe for some reason so if you edit it in the admin, it gets saved locally very temporarily then once the plan.updated webhook comes back

[2017-10-08 16:38] hrdymchl opened #591 "Proration Policy/Free Trial Question"
Hey There, we want to grant our users only one free trial just like [this issue](https://github.com/dj-stripe/dj-stripe/pull/289).

My understanding of bullet point number 3 of [the docs](http://dj-stripe.readthedocs.io/en/latest/settings.html?highlight=trial#djstripe-proration-policy-false) is that dj-stripe automatically handles this with `DJSTRIPE_PRORATION_POLICY`. However, this has not been t

[2017-10-09 09:51] lskillen commented on #591
Hi @hrdymchl - This is something that occurs on the Stripe side, and I imagine it is something they feel is not their responsibility (because there's too much domain/business logic associated with the rules around it). I don't think full support for tracking trials was implemented (if it it was, it was removed when we simplified the library), and it's probably not something that really belongs in

[2017-10-09 16:19] hrdymchl commented on #591
Thanks for the clarification @lskillen!

[2017-10-09 16:19] #591 closed, assigned to nobody

[2017-10-12 16:39] radzia2 commented on #583
eventually ended up writing the handler inside the views.py as it gave too much trouble. i am too much a beginner to get it working properly outside the views.py file.

however, I currently have a strange thing going on with webhook timeouts (err 500)

basically, i created following handler that "donates credits" when an invoice is created for a specific plan.

[code]

The thing is, sometimes, thi

[2017-10-14 13:17] jrjames83 opened #592 "Workflow Question"
Hi, I did not have enough rep on SO to create a dj-stripe tag:

https://stackoverflow.com/questions/46744921/djstripe-django-stripe-should-i-create-local-or-remote-customers-first

The basic question is: after I get my token from a successful form submit, should I be creating my local customer, associating the subscription and then syncing that up to stripe, or vice versa (create the remote object

[2017-10-14 14:26] jleclanche commented on #592
If you create the object through dj-stripe, the way it gets created is it gets initialized in the API, and the API response creates a database object so that's always safe. You should also set up webhooks to ensure eventual consistency in case your API response handling his an issue.

In the case of customers specifically, you should always use `Customer.get_or_create(user)`, which on top of doing

[2017-10-14 14:26] #592 closed, assigned to nobody

[2017-10-14 22:32] jrjames83 commented on #592
Thank you @jleclanche !  I see now. The Customer.get_or_create(user) returns a tuple (exists already or not), and also creates a Customer account in Stripe's dashboard. If I also subscribe the customer in the same request/response cycle, that subscription gets associated with that customer in the stripe dashboard as well.

[2017-10-15 23:36] lskillen commented on #490
Looks like the second part `self.is_period_current` may also be wrong here also - As we can see in Stripe's description of [The Subscription Cycle](https://stripe.com/docs/subscriptions/lifecycle#lifecycle), the subscription *period elapses* when the invoice is created, and is only updated when the payment succeeds. D'oh!

My gut feeling is that we should change this to use the sane defaults from

[2017-10-22 17:57] wiprogrammer opened #595 "url 'djstripe:confirm' NoReverseMatch Found"
=`<a class="btn btn-primary" href="{% url 'djstripe:confirm' plan_id=plan.id %}" role="button">`

`NoReverseMatch: Reverse for 'confirm' with arguments '()' and keyword arguments '{'plan_id': 3}' not found. 0 pattern(s) tried: []`
This button seems to call an action that is no longer in the URL since everything was switched to a call based view.

Can anyone tell me how to resolve this issue as its

[2017-10-24 00:29] rizplate commented on #595
I am seeing same issue.
Is there any basic demo to get dj-stripes working

[2017-10-25 14:31] ndjdev commented on #429
Is there any update on this issue / anything I can do to fix it in the meantime? I'm using the invoice.payment_succeeded webhook to add booking hours to customer accounts based on the plan they're on and the process keeps bombing with an IntegrityError and not processing it so I'm having to do it manually. Should I just fork 1.0.0 and implement @kbrownlees patch?

[2017-10-25 14:40] jleclanche commented on #429
stripe reprocesses webhooks, the integrityerrors are safe to ignore and you don't have to process anything manually. But it is noisy, annoying and unnecessary.

If you want to fix this you're welcome to it; I haven't had time to look at it since dropping mock_django but if you manage to write a test to reproduce this that'll go a long way to getting it fixed here.

[2017-10-25 14:53] ndjdev commented on #429
That's the thing though, when the webhooks are re-processed by Stripe (all second attempts have a 200 OK response code) they don't become processed in djstripe - the "processed" column still has a cross in it and the webhook signal isn't triggered so the hours aren't added, hence the manual intervention. My test would be identical to what @jameshiew posted here https://github.com/dj-stripe/dj-stri

[2017-10-25 19:19] jmn opened #598 "Docs: Clarify what the result should be in quick start"
As a beginner to dj-stripe I find the documentation confusing. What is supposed to be the result of following the steps in quick start. I can't seem to find a guide for how to install dj-stripe and I can't figure it it out from the main documentation site.

[2017-10-25 19:57] jmn commented on #562
Seeing this with Django 1.11.5 and dj-stripe 1.0.0.post1

[2017-10-25 20:07] ndjdev opened #599 "Cancelling a Subscription removes the model instance"
I notice at the moment when you cancel a subscription the model instance is deleted too and looking at the code this seems to be by design. Is this the correct action to take - surely having the history would be useful and would there not be foreign keys to invoices etc? What purpose is the subscription status of "cancelled" if the records are deleted? I also noticed that the Customer._sync_subscr

[2017-10-26 10:36] ndjdev commented on #599
It seems Customer._sync_invoices() will import the canceled subscriptions too

[2017-10-27 16:35] kavdev commented on #497
@jackappleby yep, we have a lot of sync stuff that needs to be overhauled. Stay tuned 👍

[2017-10-27 17:01] jackappleby commented on #589
fwiw my slightly bonkers plan above was more pain than it was worth. Happily, unlike on my dev DB, a straightforward `migrate` on the live DB worked with no issues. Lesson: Give a migration a go on a copy of your live data before making things (perhaps unnecessarily) more difficult

[2017-10-27 18:59] kavdev commented on #583
@radzia2 are you generating an invoice through stripe or through a separate process?

Definitely check out the event processing exceptions table for more on why it failed.

Also, this refactor might help:
[code]

[2017-10-27 20:12] kavdev commented on #595
@wiprogrammer @rizplate what version of dj-stripe are you using?

[2017-10-27 20:51] wiprogrammer commented on #595
Here is my current stack. @kavdev
`
allauth 0.33.0 |
anymail 1.0 |
boxmanager 0.1.0 |
collectfast  0.5.2|
crispy_forms 1.6.1 |
django 1.10.8  |
djstripe  1.0.0.post1 |
gunicorn  19.7.1 |
python  3.5.2 |
raven  6.2.1 |
storages  1.6.5  |
`

[2017-10-27 20:55] kavdev commented on #595
@wiprogrammer See the "Significant Changes" section of the release notes. https://github.com/dj-stripe/dj-stripe/releases/tag/1.0.0. We've removed most views from the package. If a section of our documentation is outdated, let me know.

[2017-10-27 21:09] kavdev commented on #583
See also https://github.com/dj-stripe/dj-stripe/issues/429

[2017-10-27 21:12] kavdev commented on #599
@jleclanche @lskillen thoughts? Keeping cancelled subscriptions would be ideal, but I remember there being some reason for this deletion

[2017-10-28 02:02] jleclanche commented on #599
I'd be willing to bet the reason for it is Stripe's old behaviour with listing cancelled subscriptions. I had to make some updates to that when I updated dj-stripe for the 2017- apis. Either way, yeah, we should be keeping them.

[2017-10-28 21:08] rizplate commented on #595
```djstripe:confirm``` reference to an removed view is still present in 1.0.0 code. so 1.0.0 version doesn't even start

[2017-10-30 10:27] ndjdev commented on #429
So I've tested this with @kbrownlees patch and can confirm everything has gone through perfectly and I've gone from having about 20 warning emails on a monday morning to 0. All the events are correctly marked processed and all webhook signals were fired correctly.

[2017-11-01 20:50] skjortan23 opened #600 "error in initial migrations: ValueError: SQLite backend does not support timezone-aware datetimes when USE_TZ is False"
When migrating i get the following error
Django==1.11.6
dj-stripe====1.0.0.post1
`
Operations to perform:
  Apply all migrations: djstripe
Running migrations:
  Applying djstripe.0008_auto_20150806_1641_squashed_0031_auto_20170606_1708...Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages

[2017-11-01 22:33] jleclanche commented on #600
Please set `USE_TZ` to True then. sqlite isn't a good production database anyway, you should probably use Postgres.

[2017-11-01 22:33] #600 closed, assigned to nobody

[2017-11-01 22:36] skjortan23 commented on #600
Yes setting USE_TZ to true solved this.

Thank you for the quick response.

As for the database, we are using sqlite in the test env. to test the functionality will be postgres in prod.

[2017-11-02 15:39] skjortan23 opened #601 "Question: how can i sync my plans from stripe"
Hi sorry if this is the wrong forum. I can not find any way to sync plans etc added to stripe.com after the initial migration. (i did not have any at initial migration).

What is the intended way of adding a plan? The docs say the stripe should be source of truth but I do not find any code to do this except some reference in the code for the admin that syncs user. but  that fails for me.

Any poin

[2017-11-02 15:46] jleclanche commented on #601
[code]

And yes, we should have a `djstripe_download_plans` manage command that does that :P

[2017-11-02 16:26] skjortan23 commented on #601
Thank you that code did the trick. I might be able to help write that admin command once I get this developed, integrated and deployed.

I am gonna have to check out and make a pull request though as I just installed from pip. So it will probably be next week

[2017-11-02 16:26] #601 closed, assigned to nobody

[2017-11-03 20:03] kavdev commented on #600
@skjortan23 I'd suggest using postgres both locally and on production. You'll find yourself running into a bunch of issues locally that aren't on production and vice versa. Also, you'll miss out on the postgres-specific django fields (which we use)

[2017-11-03 20:05] kavdev commented on #595
@rizplate can you point me to that code in github?

[2017-11-08 01:11] wiprogrammer opened #602 "(TLS error) ERR (Webhook)"
I have set my webhook URL
https://www.*******.com/payments/webhook
But I receive a TLS Error from stripe, my website uses a SSL cert and should be secure enough.

This is when creating a plan inside of stripe and checking the webhook data, I do not receive anything on django half about any events.

[2017-11-08 01:39] kavdev commented on #602
@wiprogrammer can you post the error log?

[2017-11-08 02:39] wiprogrammer commented on #602
I'm looking in my sentry and no error seems to be logged.
I do wonder if it is a server issue, https://www.ssllabs.com/ seems to have some browsers only getting TLS 1.0 while others up to 1.2.

[2017-11-08 02:46] kavdev commented on #602
@wiprogrammer yeah it seems like a server issue. I'm going to close unless you find it's caused by dj-stripe

[2017-11-08 02:46] #602 closed, assigned to kavdev

[2017-11-13 14:00] adamgilman opened #604 "tqdm breaks "serverless" deployments of dj-stripe"
For Django deployments which use a serverless architecture
* [Zappa](https://github.com/Miserlou/Zappa)
* [Chalice](https://github.com/aws/chalice)

Two migrations use tqdm, which uses multiprocessing which is not allowed in a "serverless" deployment. tqdm, is mainly used for beatification and is not required for the migration.

This prevents migrations from being run in production deployments

ht

[2017-11-15 13:16] MichaelWashburnJr commented on #551
I can confirm that this is still happening to me on version `1.0.0.post1`

[2017-11-18 13:08] jleclanche opened #608 "On the usefulness of WEBHOOK_EVENT_CALLBACK"
I'm currently reworking the webhook system and I just hit `WEBHOOK_EVENT_CALLBACK` which claims it's there to hand down control of webhook processing to the user for eg. task queue implementation.

Now, putting webhook processing into a task queue makes sense because verification currently includes an expensive HTTP call to the Stripe API. But, three things:

1. Once we implement signature verific

[2017-11-18 20:58] lskillen commented on #608
I'd be in favour of it remaining, see this quote from the [Stripe Webhook Documentation](https://stripe.com/docs/webhooks):

So assuming the users are aware of the risks of telling Stripe it was a 200 rather than a failure (i.e. Stripe won't retry the webhook), then users should be in control of whether or not they want to process it immediately or asynchronously, or not at all, and I think that s

[2017-11-19 03:35] jleclanche commented on #608
The non-user-controlled side of "webhook processing" is only iteration through hooks, though. You would still be free to have a webhook handler queue something up into rq, and there would be no discernible difference in latency, no?

[2017-11-19 19:40] jleclanche commented on #240
This is probably fixed once #579 lands

[2017-11-20 10:26] lskillen commented on #608
I'd need to review your PR properly, but assuming it's still possible to delegate *processing* of the event to a queue (rq/celery/whatever), then that would work for us and other users that want to process asynchronously. :-)

[2017-11-24 09:32] sfdye commented on #601
+1 for sync plans command

[2017-11-26 14:31] denisorehovsky opened #610 "AuthenticationError: No API key provided"
The exception raises when I'm trying to create a token:

[code]

The keys (STRIPE_TEST_SECRET_KEY, STRIPE_PUBLIC_SECRET_KEY, ...) are specified correctly. So, the problem is not in them.

When I'm trying to create a token using stripe directly, the exception is not raised:

[code]

Also, if I import stripe and specify api_key, the exception won't be raised after calling Card.create_token method:

[2017-11-26 14:51] jleclanche commented on #610
Looking at the code, I think Card.create_token() is broken as it doesn't carry the api key...

[2017-11-26 14:52] jleclanche commented on #610
By the way, the reason this was not caught is probably because there's very, very few cases where you would be using create_token() from the Python side. Card numbers are not supposed to reach your servers; you should be creating the token on the client side and passing that to dj-stripe.

[2017-11-26 17:24] denisorehovsky commented on #610
@jleclanche Thanks for your response. I think you are right. I should not have created a token on python side. But should we fix it anyway?

By the way, I ran into this problem when I was trying to implement REST API for individual purchases because the library has only API for subscription. There is no API for individual purchases because no one has made a pull request yet, am I right? If so then

[2017-11-26 19:00] jleclanche commented on #610
Yes, it should be fixed, we'll leave this open.

As for the API, I don't use it and it's mostly unmaintained, use at your own risk I think.

[2017-11-29 17:37] mcastle commented on #595
@kavdev here's the code that's raising the error:
https://github.com/dj-stripe/dj-stripe/blob/0452cd26bcc510aa5db67f8d95924dbb955f7874/djstripe/templates/djstripe/subscribe.html#L25

Related to this issue, seems that view has yet to be implemented:
https://github.com/dj-stripe/dj-stripe/issues/544

[2017-12-02 23:52] jleclanche opened #612 "Migration 0008_auto_20150806_1641_squashed_0031_auto_20170606_1708 broken in Django 1.11.8"
As of 1.11.8, django/django@b8a2f3c2 causes a fresh migration to break in 0008_auto_20150806_1641_squashed_0031_auto_20170606_1708.

https://code.djangoproject.com/ticket/28305

[2017-12-03 01:49] #612 closed, assigned to nobody

[2017-12-03 22:29] kavdev commented on #604
@jleclanche not sure if this was brought up in one of our discussions, but this reason would've flipped me on the issue immediately 😃

@adamgilman we're working on squashing all of our migrations. They're getting quite hairy, so we're just going to start fresh.

[2017-12-03 23:01] kavdev commented on #595
@jleclanche looks like we killed off a dependency...

@mcastle I think the reason we didn't get rid of the subscribe view was because of the middleware that depends on it. The ultimate goal is to remove views and templates from dj-stripe and replace them with utils you can use in your own views.

[2017-12-03 23:47] kavdev opened #614 "Building on #579"
Pulling this in from Gitter. There are a few improvements @jleclanche, @lskillen, and I discussed adding to @jleclanche's awesome work on Sources (see #579). Here's to hoping that Stripe gives us a better way to deal with the v2/v3 sources schism soon :)

- [x] rename PaymentMethod.get_object() to PaymentMethod.resolve()
- [ ] ~~rename Customer.default_source to Customer.default_payment_method~~
-

[2017-12-03 23:53] jleclanche commented on #614
I'm no longer sure about this because taking a second look, this actually moves us further from the stripe structure. Stripe has a `default_source` field on customer which is actually generic between sources, cards, etc.

[2017-12-04 01:14] kavdev commented on #614
Thinking about this, the end user's expectation is to retrieve a usable source -- the required ``.resolve()`` is a worry for me. Is there a good way to get around it without losing integrity? We discussed overriding ``__getattribute``, but that doesn't let you access to the intermediary model at all (which might not matter...)

[2017-12-04 01:24] kavdev commented on #610
@jleclanche seems closable

[2017-12-04 01:30] #610 closed, assigned to jleclanche

[2017-12-04 03:08] kavdev commented on #608
So this boils down to whether or not we give users the option to defer or delegate synchronous processing triggered in event handlers and signal handlers.

We need the callback to do so. I say keep it unless there's a more elegant solution. (I think @jleclanche  and @lskillen might have come to this same conclusion in gitter).

Unless there's more immediate discussion to be had, I think we can clo

[2017-12-05 08:46] jleclanche commented on #429
@lskillen @kavdev @kbrownlees I had some time to look at this issue more closely. I think [this solution](https://github.com/kandoio/dj-stripe/commit/18494f789325b51759b042f9c0c7c41c846370d8) is good enough and has full integrity coverage after all.

Simplified patch:

[code]

I'm going to test it in production now.

[2017-12-05 19:29] kavdev commented on #429
@jleclanche LGTM

[2017-12-06 14:13] lskillen commented on #608
Agreed.

[2017-12-06 14:15] lskillen commented on #429
@jleclanche That works for me too. Let us know how the production test goes. I don't think we've seen this in production, but it's worth it for the extra protection.

[2017-12-06 16:47] kavdev commented on #429
@lskillen It's quite easy to reproduce. Just load a new user's card info and history at the same time without a promise chain. worked wonders for us 😆

[2017-12-06 19:07] jleclanche commented on #429
Working fine in prod for me

[2017-12-12 15:38] mbaragiola opened #615 "Got django.db.utils.ProgrammingError for one of the constraints"
Hello, all of a sudden started to get this error when trying to run my local tests:

[code]

I'm using 1.0.0.post1. Any ideas? Thanks in advance.

[2017-12-12 18:01] lskillen commented on #615
@mbaragiola Are you on Django 1.11.8 by any chance? The 1.11.8 release broke compatibility with dj-stripe (when migrating), but it should now be fixed on master. So try testing with the master branch to see if it fixes your issue first. :)

[2017-12-12 18:20] mbaragiola commented on #615
@lskillen you were right, recently upgraded to django 1.11.8 and 2.0 to do some local tests. Good thing using master fixes it. Thanks for the quick reply!

[2017-12-12 21:03] lskillen commented on #615
Awesome. Glad to help. :-)

[2017-12-13 03:31] banool opened #616 "Migration error on Django 2.0"
This my requirements file:

    certifi==2017.11.5
    chardet==3.0.4
    dj-stripe==1.0.0.post1
    Django==2.0
    django-polymorphic==1.3
    gunicorn==19.7.1
    idna==2.6
    jsonfield==2.0.2
    pkg-resources==0.0.0
    psycopg2==2.7.3.2
    python-doc-inherit==0.3.0
    pytz==2017.3
    requests==2.18.4
    stripe==1.75.3
    tqdm==4.19.5
    urllib3==1.22

You'll see that I'm using Django

[2017-12-13 04:19] japrogramer commented on #616
you might need to fake the migration.

[2017-12-13 11:13] lskillen commented on #616
See #615 for some advice on this. We need to get a release out soon so that the fix is live. :)

[2017-12-13 11:15] lskillen commented on #615
Note for anyone else, Django 2.0 is affected too.

[2017-12-13 11:24] banool commented on #615
For the noobs amongst us, what is the best way to install this from the master branch into a virtualenv? Thanks! Related to #616.

[2017-12-13 15:04] lskillen commented on #615
No problem, you can install it directly via the command-line using pip:

`pip install -e git+https://github.com/dj-stripe/dj-stripe@master#egg=dj-stripe`

Or you can put the following line into your requirements.txt:

`-e git+https://github.com/dj-stripe/dj-stripe@master#egg=dj-stripe`

Hope that helps! :-)

[2017-12-13 15:10] jleclanche commented on #615
@lskillen @banool I would actually strongly recommend you do `pip install https://github.com/dj-stripe/dj-stripe/archive/master.zip` instead; -e git+... can cause various issues down the line because pip sucks.

[2017-12-13 15:11] lskillen commented on #615
Or hopefully we'll have a release out soon and all the problems disappear. ;-)

[2017-12-13 20:21] banool commented on #615
Unfortunately neither of these worked for me. The suggestion by @lskillen gives me this error:

    pkg_resources.DistributionNotFound: The 'dj-stripe' distribution was not found and is required by the application

And for the suggestion from @jleclanche, this occurs when trying to do anything with `manage.py` (like runserver or migrate):

    ModuleNotFoundError: No module named 'djstripe'

It se

[2017-12-13 22:33] lskillen commented on #615
@banool Unfortunately dj-stripe relies on a newer version of setuptools to work when installing via master (sounds like a good candidate for being in the documentation, right?) - Try updating setuptools first and then trying either method again:

`pip install --upgrade setuptools`

[2017-12-14 13:22] lskillen commented on #615
Keeping this open until we get a release out that fixes it.

[2017-12-16 16:22] jrjames83 opened #617 "Mastercard (2-series): IntegrityError when creating subscription"
Hey DJ Stripe Folks - was testing the new MasterCard 2-series from this page (3rd card down)

Relevant versions below:
[code]

Getting this error message after receiving a successful token from stripe.
[code]

The end point accepting the subscribe request:

[code]

The customer does get created in my Stripe dashboard

As a workaround, should I override the model and make the country field nullable

[2017-12-16 16:50] jleclanche commented on #617
Country should be made nullable yes, I recently hit that with a Discover card in production.

[2017-12-16 17:08] jrjames83 commented on #617
Thanks @jleclanche  - I am a bit of a newb. Should I edit the package in my venv or add a model in my models.py?

[2017-12-16 19:20] jleclanche commented on #617
You can safely run something like `alter table djstripe_card alter column "country" drop not null`.

[2017-12-16 21:22] jrjames83 commented on #617
Worked - thanks!

[2017-12-16 22:24] jleclanche commented on #617
Let's keep this open until we fix the issue upstream.

[2017-12-17 14:14] shayneoneill commented on #595
Is there any documentation as to how those are supposed to be implemented? Even a search through the primary documentation doesnt seem to turn up any hints on how to replace them?

[2017-12-17 16:44] justinmayer commented on #616
That would be awesome. Anything I can do to get us closer to issuing the next release? 😊

[2017-12-17 17:59] jleclanche commented on #616
@justinmayer yes actually, #609 needs more tests to recover the lost coverage, if you can contribute them we can merge it faster ;)

[2017-12-18 04:24] kavdev commented on #595
@shayneoneill https://github.com/dj-stripe/dj-stripe/blob/cf68cb895049318fa3b35f0de90eef466b4a6d9e/djstripe/views.py#L135

[2017-12-18 05:25] brandonjschwartz opened #618 "CSRF Error"
Using Django 1.11.6, Python 3.6.

For webhook testing, I'm using ngrok. I set up a custom URL.

I go to Stripe and set this custom URL as the webhook URL, then send a test webhook event. Django responds with a CSRF error. In djstripe's views file, the webhook views are set as csrf exempt. What am I missing?

[2017-12-18 20:17] swapnil95 opened #619 "Manage default card for user"
Hello,
We have a feature where we want our users to be able to manage their cards. The `customer.add_card` and `card.remove` works great but is there a way to update just the default card for a customer. If not, can someone suggest me what is the best way to do it?

[2017-12-19 01:09] jleclanche commented on #619
You cannot update a card in place. What you should do is a custom update card view which will first add a card, set_default=True, then drop the old card.

[2017-12-19 01:09] #619 closed, assigned to nobody

[2017-12-19 17:36] alexphelps commented on #618
@brandonjschwartz Do you mean that you setup the webook url?

http://dj-stripe.readthedocs.io/en/latest/settings.html#djstripe-webhook-url-r-webhook

[2017-12-30 07:25] JMIdeaMaker opened #624 "Documentation does not explain how to sync djstripe with Stripe plans"
How can I sync my djstripe implementation with my Stripe plans (with djstripe_init_plans removed now)?

[2017-12-30 13:32] justinmayer commented on #624
An understandable question, and also a known issue. Just to pick a few: #601, #575, https://github.com/dj-stripe/dj-stripe/issues/542#issuecomment-313664565...

Thanks to tips from maintainers, I've been running `django-admin shell` and then:
[code]

[2017-12-30 18:22] pawanpe opened #625 "Suggest how to use 'Individual Checkouts' in applications."
Hi, I see "Individual Checkouts (Early, undocumented support)" in the documentation. Can you suggest how to understand and use this feature?
Should I read the code to use this or any other tips? Though it is undocumented, is the api  #available?

Thank you very much!

[2017-12-31 01:47] brandonjschwartz commented on #618
No, but that sent me in the right direction. In Stripe's dashboard, I had set the root address as the webhook address, when it needed to be /payments/webhook/ (where djstripe.urls is included as r'payments/' and the default webhook URL is used)

Thanks!

[2017-12-31 01:47] #618 closed, assigned to nobody

[2018-01-03 09:52] Ruffle opened #626 "Unable to migrate on django 1.11.8 + python 2.7.7"
**I had no previous dj-stripe installation.
I followed the installation instructions from "Quickstart" section.
When it came to running the migrations, I got the following error:**

Operations to perform:
  Apply all migrations: djstripe
Running migrations:
  Applying djstripe.0001_squashed_0007_for_custom_subscriber_model... OK
  Applying djstripe.0008_auto_20150806_1641_squashed_0031_auto_201706

[2018-01-03 10:11] Ruffle commented on #626
Seems like this is a duplicate of #616, closing

[2018-01-03 10:11] #626 closed, assigned to nobody

[2018-01-03 23:18] JMIdeaMaker commented on #580
I ran into this error as well. Anyone have a solution?

[2018-01-04 07:19] kccheung commented on #615
I got the following error if I install from latest master branch:

`django.db.utils.ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM djstripe_stripesource AS dss\n            WHERE dc.stripesource_ptr_id = dss' at line 3")`

same outcome if I use:
`pip install https://github.com/dj-

[2018-01-05 16:12] jleclanche opened #627 "Prevent coveralls from breaking master builds"
@kavdev I have created a new stable branch. Here's what I'd like to suggest as next steps:

1. Prevent coveralls from breaking the build
2. Add a more involved travis check on the stable branch
3. Add @lskillen and myself ("Adys") to pypi so we can push releases there as well

The goal moving forward will be to keep the `master` branch more up to date and land things there without requiring full c

[2018-01-05 16:49] #583 closed, assigned to nobody

[2018-01-07 23:04] kavdev commented on #627
@jleclanche @lskillen what are your pypi usernames?

[2018-01-07 23:27] kavdev commented on #615
@lskillen are you guys still on mysql?

[2018-01-08 06:02] kccheung opened #629 "How do I sync my plans from stripe to Django?"
I have the same question as below:

https://stackoverflow.com/questions/47078484/dj-stripe-python-module-how-do-i-sync-my-plans-from-stripe-to-django

Can anyone help ?

[2018-01-08 15:29] jleclanche commented on #629
Hi! Please see #624

[2018-01-08 15:29] #629 closed, assigned to nobody

[2018-01-09 02:22] jleclanche commented on #399
I'm closing this: At the moment, if you want to modify the upstream model (no matter the field), you have to use api_retrieve(). If we want to change that that's fine but a different issue.

[2018-01-09 02:22] #399 closed, assigned to kavdev

[2018-01-09 02:30] jleclanche commented on #449
This was fixed by 2e5472d0cedd6b1a25ba178a95b6ba3f99a35f5d.

[2018-01-09 02:30] #449 closed, assigned to jleclanche

[2018-01-09 02:36] jleclanche commented on #569
At this point, what with looking to drop 1.0 migrations, I don't think we're supporting the 0.8 migration path anymore. Sorry :(

[2018-01-09 02:36] #569 closed, assigned to nobody

[2018-01-09 02:43] kccheung commented on #419
I am having the same problem and tried to hook `plan.created`, but not succeed

[code]

I am using Django 1.11.8

[2018-01-09 02:53] kccheung commented on #419
I figured out the reason why... I saw there is code statements in `djstripe/models.py` which does the registrations:

[code]

I have put this in my app's `models.py` and it did the trick.

[2018-01-09 17:24] lskillen commented on #627
@kavdev I think you've done this already, but I'm just (shock) lskillen there too. :-)

[2018-01-09 18:07] #573 closed, assigned to jleclanche

[2018-01-09 18:07] #617 closed, assigned to nobody

[2018-01-09 23:50] kavdev commented on #419
@lskillen are you experiencing this? I don't think I've run into it yet; we might need a docs update.

[2018-01-09 23:53] kavdev commented on #627
I guess that just leaves us with the travis build issue. @jleclanche @lskillen did we agree on moving to a different test runner? (django, pytest, etc.)

[2018-01-10 18:17] kavdev opened #633 "Ensure class-level model docs are aligned with stripe docs"

[2018-01-10 18:18] kavdev opened #634 "Do another API parity pass through on all models"

[2018-01-13 16:35] emilepetrone opened #635 "if you're using ``Subscription.update()`` instead of ``Subscription.update()``"
I think there is an error in that comment...

https://github.com/dj-stripe/dj-stripe/blob/1daab47cc2c1086d3acb635d83f719cba7730d26/djstripe/models.py#L2666

[2018-01-13 17:11] lskillen commented on #635
You're right, although it wasn't typo'ed directly.

I think this occurred when we merged the old `StripeSubscription` and `Subscription` models together. I'm assuming we then did a search/replace of mentions for `StripeSubscription` and replaced it with `Subscription`, which resulted in this erroneous statement.

Thanks for reporting it - It looks like we can just remove the comment now.

[2018-01-15 13:45] jleclanche commented on #634
Ive been using #468 as an issue for this.

[2018-01-15 13:45] #634 closed, assigned to kavdev

[2018-01-15 14:26] jleclanche commented on #241
So I'm trying to figure out whether we should implement the `FileUpload` class.

The process of uploading dispute evicence etc should just be handled using Stripe's library. Being a wrapper to it serves little use to our users since we wouldn't provide much additional functionality to it (and if we were to do so, might as well contribute it upstream).

We could add support for a FileUpload model,

[2018-01-15 21:56] emilepetrone opened #636 "Managing multiple subscriptions"
https://github.com/dj-stripe/dj-stripe/blob/d7a2c46076b02a0c0af4243bb90dd5fce1b3f24e/djstripe/mixins.py#L39

I'm confused by the rational for the the MultipleSubscriptionException and SubscriptionMixin only looking for one subscription. If a user subscribes to a plan and then changes plans, the user would have two Subscriptions. This will break the SubscriptionMixin raising the MultipleSubscriptio

[2018-01-16 23:05] apotapov commented on #562
Seeing this with Django 1.11.9 and master pull of dj-stripe. (using master because of the migration issue with Django 1.11.8 and higher: https://github.com/dj-stripe/dj-stripe/issues/615)

[2018-01-18 12:46] l4rth opened #638 "livemode has no implications on Customer.get_or_create (not sure if bug)"
During a migration from testing to live I had the problem, that customers were created with livemode =False, while STRIPE_LIVE_MODE was true, and directly handing over a livemode flag to the get_or_create function did not make any difference.
After some debugging and looking through the dj-stripe source code I stumbled upon this:

[code]
And with further investigation I found out that here:

[code

[2018-01-18 16:52] bewestphal commented on #616
I had success with commit `89faf06b4753a64b27fa654206301d55cc7f69cb`, the latest commits to master were not working for me on `Django 2.0.1` & Postgres. I did not test every commit past this point.
`pip install git+git://github.com/dj-stripe/dj-stripe.git@89faf06b4753a64b27fa654206301d55cc7f69cb`

[2018-01-21 17:43] emilepetrone commented on #636
My solution is:

`context['subscription'] = context['customer'].subscriptions.filter(canceled_at__isnull=True).last()`

I'm happy to throw a PR up if this is the desired behavior.

[2018-01-24 13:36] jleclanche commented on #638
Yeah, including the `livemode` parameter in get_or_create was my doing. The reasoning at the time was that I was adding live+test mode support to the Customer object and, to check at run-time whether a customer existed, I needed to check the `livemode` attribute on customer (and pass it down to the idempotency key if needs be).

I see the conflict though when you want to use a different API key, a

[2018-01-25 10:40] l4rth commented on #638
Thank your for the answer. I've thought of fixing it by myself and make a pull request but I have had no good idea for a work around else than introducing the `STRIPE_LIVE_MODE` to the `_api_create`. I moved to the recommendation, still the idempotency key isn't created correctly. This should be fixed at first.

[2018-01-25 13:15] EdNutting opened #639 "'OneToOneField' object has no attribute 'rel'"
Hi,

This error keeps (seemingly randomly) appearing and disappearing.

'OneToOneField' object has no attribute 'rel'

It is definitely originating from one of the djstripe models in my app because if I don't list djstripe in my installed apps, the issue goes away.

I'm using the latest stable release with Django 2.0.1. This issue reliably occurs if:
1. Setup ordinary django site with DJStripe ins

[2018-01-25 13:39] EdNutting commented on #639
Further info:
Attempting to view the Customers model in Django Admin also (sometimes) triggers this error. Refreshing the page on the same customer then makes the error go away. It's almost like there's a one-time initialization error for whatever the "rel" field is on whichever OneToOneField it is referring to?

[code]

[2018-01-25 14:00] EdNutting commented on #639
Stack trace from the Django Management dumpdata command:

[code]

[2018-01-25 14:02] EdNutting commented on #639
StripeSource is the only model which uses Django Polymorphic, so it must be being caused by the `customer` `ForeignKey` relationship on that model (unless I'm missing a different foreign key field somewhere in the inheritance tree).

[2018-01-25 14:03] EdNutting commented on #639
(Or possible `default_source` `ForeignKey` on `Customer` model)

[2018-01-25 14:21] EdNutting commented on #639
I've tracked this one down to Polymorphic - a package you depend on. The latest version of Polymorphic on GitHub uses the newer "remote_field" attribute. The version djstripe currently depends on uses the old (removed in Django 2.0) `rel` field.

Please update the version of Polymorphic that djstripe depends on.

[2018-01-25 14:24] jleclanche commented on #639
@EdNutting You should upgrade dj-stripe to use master, as the current release is not suitable to use with Django 2.0. Master is fine though.

[2018-01-25 14:24] #639 closed, assigned to nobody

[2018-01-25 14:30] EdNutting commented on #639
Master build is failing though?? And I'd rather not use an "unfrozen" version of a codebase in production. The main page shouldn't say "Compatible with Django >= 1.11" if the package isn't actually compatible :/ I'll upgrade whenever a new version of djstripe is released.

(At least using the pip package I can resolve Django 2.0 compatibility issues manually, knowing that the rest of the system is

[2018-01-25 14:40] jleclanche commented on #639
Master is safe to use; I'm personally using it in production. Build is failing because coverage isn't 100%. If you want a frozen version of the codebase, you can safely bind to the latest commit (I would recommend that in fact).

Right now you're in completely untested territory: Using django 2.0 with djstripe 1.0. Whereas master+2.0 is at least being run in prod. I urge you to either downgrade dj

[2018-01-25 14:46] lskillen commented on #639
@EdNutting We feel your pain, and sorry the latest release doesn't quite cut it yet. As Jerome says using master is safe, and multiple of us have it in production, but I understand your concerns with using an unpinned version. We'll get a new release out as soon as time permits.

My personal advice is to fork dj-stripe and refer to your own fork within your requirements.txt, or use a package manag

[2018-01-25 14:47] EdNutting commented on #639
Okay, thanks for the clarification, I'll have a look through what's changed to work out what I need to upgrade in my codebase then upgrade and pin to master. Thanks :)

(By the way, you're doing an awesome job - this package has saved me months of work 👍 )

[2018-01-25 14:51] jleclanche commented on #639
I just want to add, if you don't want to deal with package upgrades, it's a good idea to pin to a sha.
Example:

`pip install https://github.com/dj-stripe/dj-stripe/archive/d7a2c46076b02a0c0af4243bb90dd5fce1b3f24e.zip`

[2018-01-25 22:08] martinhill opened #640 "Webhook throws IntegrityError"
Hello, I'm running the current master branch (couldn't wait for the next release) and found that webhooks throw this exception:

`IntegrityError: null value in column "remote_ip" violates not-null constraint`

https://github.com/dj-stripe/dj-stripe/blob/d7a2c46076b02a0c0af4243bb90dd5fce1b3f24e/djstripe/models.py#L3096

Environment:

- nginx and gunicorn
- Django 1.11.9
- Python 3.6.3
- dj-stripe f

[2018-01-25 23:59] jleclanche commented on #640
`REMOTE_ADDR` should never be null. The release notes you linked is about an old (1.0) middleware which updated its value by parsing X-Forwarded-For.

I'd like to know more about the stack you're encountering this in. What app server are you using? Both uwsgi and gunicorn should set this fine.

Edit: Sorry, missed that you specified gunicorn. I'm at a loss.

[2018-01-26 00:30] martinhill commented on #640
Yes, it's an old middleware but I included the note since it would have mitigated the problem in previous releases.

I think this open issue explains the situation (at length)
https://github.com/python-web-sig/wsgi-ng/issues/11

From [Gunicorn 19 docs](http://docs.gunicorn.org/en/stable/deploy.html)

We're running gunicorn with unix sockets, and can confirm that `REMOTE_ADDR` is empty.

[2018-01-26 00:38] jleclanche commented on #640
Ah, I see, that makes sense. I guess we'll just make it nullable. You can manually drop the NOT NULL or change gunicorn to bind to a tcp socket in the mean time.

[2018-01-26 00:46] lskillen commented on #640
@martinhill We're running with gunicorn + nginx via sockets too, although we also have to content with being behind WAF, CloudFront and ELB. ;-) Depending on your setup you could just set the header at your reverse proxy (if you're using one, and assuming you have a reliable source for the IP) prior to gunicorn. I agree that from our perspective the sane thing to do would be to set null/blank on t

[2018-01-29 16:55] #636 closed, assigned to nobody

[2018-01-29 18:27] mapineda commented on #599
Any updates on this?

[2018-02-05 14:43] tzot commented on #575
The command may be correct, however the pasted output contains the following:

“Unknown command: 'djstipe_init_plans'”

Missing an “r” perhaps?

[2018-02-06 06:33] jleclanche opened #641 "Compatibility with 2018-02-05"
[2018-02-05](https://stripe.com/docs/upgrades#api-changelog)

[2018-02-06 15:05] swapnil95 opened #642 "Question on Plan change - What's the right way"
Hi,

I have been trying to figure out the right way to change a user plan but I need some help with that.
In the docs I found this [update subscription method](https://dj-stripe.readthedocs.io/en/latest/models.html#djstripe.models.Subscription.update) but it's behaving in an unexpected way.

Background - We have a trial period of a week in all our plans but we don't want users to have multiple tri

[2018-02-06 15:26] lskillen commented on #642
@swapnil95 Hello again. :-)

Using `Subscription.update` is the right way to handle a scenario in which an existing subscription is being updated - The documentation is incorrect, changing the plan does *not* create a new subscription, and this makes more sense. It is possible that it used it do it on an older version of the Stripe API, but it certainly doesn't do it now.

If you want to prevent a

[2018-02-06 15:26] lskillen commented on #641
Where's that puking smiley when you need it ... ;-)

[2018-02-06 22:53] swapnil95 commented on #642
@lskillen Thanks a lot for the clarification. It looks like your suggestion just worked fine.

[2018-02-06 22:53] #642 closed, assigned to nobody

[2018-02-06 23:18] kronok opened #643 "customer.default_source.last4 moved/removed?"
From a fresh install of Django 2.0.2 and djstripe's master branch, I noticed I can't use customer.default_source.last4 anymore.

Digging around in the code a bit, I see there's a new bank account model coming in, but I'm getting a bit confused trying to follow what's happening here.

Noticed default_source points to a PaymentMethod object, and that has an 'object_model' property on it, but that gi

[2018-02-06 23:36] jleclanche commented on #643
Apologies for the lack of documentation (PRs very welcome to fix that actually). You need to call `resolve()` on the PaymentMethod object to get the actual object. PaymentMethod is a wrapper class which allows dynamic keying to bank accounts, sources and cards from the core models that reference those (as required by Stripe).

https://github.com/dj-stripe/dj-stripe/blob/d7a2c46076b02a0c0af4243bb90

[2018-02-06 23:42] kronok commented on #643
Ah, didn't notice that method. Just what I needed to see, thanks!

[2018-02-06 23:42] #643 closed, assigned to nobody

[2018-02-08 16:56] kavdev commented on #241
Good question. I was always hesitant to mess with uploading disputes, since the stripe dashboard does it really well. I agree that we should be consistent though. Also, if adding a wrapper isn't difficult, we might as well just add it as a class method on Dispute

[2018-02-08 17:08] kavdev commented on #636
@emilepetrone this has to do with legacy support. dj-stripe started before multiple subscriptions were a thing, so we have to keep some restrictive code.

[2018-02-08 17:20] kavdev commented on #575
^ Looks like we've had the management command misspelled for years lol

[2018-02-08 17:21] kavdev commented on #641
🤮😐

[2018-02-11 03:55] jleclanche commented on #627
@kavdev i definitely think we should move to pytest as a test runner, but I'm not entirely sure this has to be part of that ticket

[2018-02-14 16:08] rubenalvesbcn commented on #326
Same error here.

And the problem is that `djstripe/templates/djstripe/base.html` is the one who tries to extend `base.html` with `{% extends "base.html" %}`

dj-stripe==1.0.0.post1

[2018-02-20 04:20] kccheung opened #645 "ProgrammingError: column djstripe_customer.id does not exist LINE 1: SELECT "djstripe_customer"."id", "djstripe_customer"."stripe..."
I have no idea why whenever I try to access `Customer` relationship for my `User` model. The titled error message

`ProgrammingError: column djstripe_customer.id does not exist LINE 1: SELECT "djstripe_customer"."id", "djstripe_customer"."stripe...`

 would throw and I cannot find the `id` column (will be used by Django whenever accessing relation?) being created in my postgres database. Please he

[2018-02-20 16:19] jleclanche commented on #645
Make sure you run the migrations. On master, the `id` column has been renamed `djstripe_id`.

[2018-02-20 16:19] #645 closed, assigned to nobody

[2018-03-02 07:59] w00kie opened #647 "Example app"
Hello,

I've looked everywhere and I can't find any information about how to use this in a real life application. Is there a tutorial or example app somewhere that gives pointers as to how to integrate this in my views somehow? Or am I thinking too much and dropping a Stripe.js checkout box on a page will work automagically through the webhooks integration?

Sorry but I'm really lost here...

[2018-03-06 22:45] kronok opened #648 "Gunicorn not receiving a REMOTE_ADDR breaks webhooks"
Running things locally using runserver, webhooks are received as expected. Running them in production with Gunicorn using a sock seems to break webhooks.

Using the latest master, I ran into this on every webhook received:

`invalid input syntax for type inet: &quot;b&#39;&#39;&quot;
LINE 1: ...&quot;djstripe_version&quot;, &quot;created&quot;, &quot;updated&quot;) VALUES (&#39;b&#39;&#39;&#39;&#3

[2018-03-07 03:52] jleclanche commented on #648
REMOTE_ADDR really should be filled like I mentioned in the PR but this also shouldnt break on blank IPs...

[2018-03-07 20:24] kronok commented on #648
Gave your middleware a try. It seems to be grabbing `b""` as the ip address from `request.META.get("REMOTE_ADDR", "127.0.0.1")` and throwing an exception.

`b'' does not appear to be an IPv4 or IPv6 address`

So I think I was wrong in assuming it was just exploding when it got nothing, it seems to be getting just `b''`.

I simplified a middleware to do the bare minimum to test it out, and it seems

[2018-03-07 20:51] jleclanche commented on #648
So your REMOTE_ADDR exists and is explicitly empty? Something sounds fishy here. Is it `b""` as in an empty binary string, or is it the string `'b""'`?

[2018-03-07 21:24] kronok commented on #648
That's a good observation, I was just looking at encoded html strings in the exception that stripe's webhook test is showing me and assuming it was a legit empty binary string.

I did an `assert False, type(request.META["REMOTE_ADDR"])` and got back `<class 'str'>` when I would assume it would be `<class 'bytes'>`.

So, I think it literally is `'b""'`, which explains a lot.

Looks very much like t

[2018-03-07 21:24] #648 closed, assigned to nobody

[2018-03-07 21:40] jleclanche commented on #648
Alright, cool. Yeah I don't think it's something to fix on our end, that looks like db constraints doing their job in highlighting a problem.

[2018-03-09 14:53] cpebble opened #650 "Migration issue in postgres"
I spent the week migrating from 0.9 to 1.0. Everything successfully works with django 1.11.0 and a clean database.

I cannot get it into the production server unfortunately. Running `python manage.py migrate` results in an error being thrown. `cannot ALTER TABLE "djstripe_invoice" because it has pending trigger events`

How can i successfully merge this without losing customer data?

[2018-03-09 15:14] jleclanche commented on #650
Do you know what statement sql is failing exactly? Your postgres logs should have that.

[2018-03-09 16:39] cpebble commented on #650
@jleclanche We use heroku, im not sure how to access the database logs unfortunately.

The full error log is:

    Operations to perform:
      Apply all migrations: account, admin, auth, authtoken, contenttypes, djstripe, openapi, pdf, risika,     sessions, sites, socialaccount
    Running migrations:
      Applying djstripe.0008_auto_20150806_1641_squashed_0031_auto_20170606_1708...Traceback

[2018-03-09 20:14] jleclanche commented on #650
I can't really help you without the failing sql statement. 0008_auto_20150806_1641_squashed_0031_auto_20170606_1708 is a really big migration.

My guess: You will need to prevent writes to the djstripe database temporarily during the migration somehow (eg. putting billing in read-only mode for a little while). This should be easy to do as I believe most writes come from webhooks which are fully as

[2018-03-12 11:22] cpebble commented on #650
I have replicated the production database on localhost and tried to do a dry run.

I set the `default_transaction_read_only` flag to true. still no dice. I tried to manually sync the invoices by running the `for invoice in InvoiceItem.api_list()` loop from the migration but it still fails on the migrate command. Any further tips?

[2018-03-12 12:13] jleclanche commented on #650
Can you find out the failing sql statement please?

Is the migration failing on your localhost too?

[2018-03-12 12:55] cpebble commented on #650
Yes the migration is failing on a local copy made with `pg_dump`. I enabled logging and the output now looks like:

    2018-03-12 13:55:10.247 CET [4719] ERROR:  cannot ALTER TABLE "djstripe_invoice" because it has pending trigger events
    2018-03-12 13:55:10.247 CET [4719] STATEMENT:  ALTER TABLE "djstripe_invoice" ALTER COLUMN "attempt_count" SET NOT NULL

[2018-03-12 13:07] jleclanche commented on #650
So this is the full lifecycle of that column in the squashed migration:

[code]

If it's getting stuck because of the rename then I think I've seen this before.
What is your version of Django? You said 1.11.0 in the initial post, can you upgrade to 1.11.11 at least and try again?

[2018-03-12 13:29] cpebble commented on #650
Updated to django 1.11.11 and retried with same error unfortunately. I restarted the postgresql service and still got the same error

[2018-03-12 14:28] cpebble commented on #650
I also tried django 2.0 just for completeness sake, still get the `pending trigger events` error

[2018-03-12 19:33] jleclanche commented on #650
@mrcpj1998 Since I don't have your db I don't know if I can help very much, but if this were me, this is how I would debug it:

1. I would generate the migration sql in question with `manage.py sqlmigrate djstripe <migration id>`
2. I would try to run the sql standalone, see if that reproduces the issue
3. If it does, I would try to bisect and reduce the sql by removing all the parts that aren't c

[2018-03-12 19:34] jleclanche commented on #650
My instinct tells me this has to do with the rename btw. Could be wrong. But you can try renaming it first, then dropping the RENAME statement from the migration, see if it still reproduces.

[2018-03-13 12:36] cpebble commented on #650
Should i be on `master` or the 1.0 release?

[2018-03-13 13:40] cpebble commented on #650
(on 1.0post)
After removing the rename and manually renaming i got through this problem. However i'm still stuck on the migration. Postgres complains about a ton of fields already existing and it feels like im trying to migrate something that's already sorta migrated(Dunno if that makes sense)

    2018-03-13 14:21:18.768 CET [3660] ERROR:  column "card_exp_month" of relation "djstripe_customer" d

[2018-03-13 18:31] jleclanche commented on #650
yeesh...
This happens on a clean build of the previous version of dj-stripe, that is then migrated to 1.0.0, minus the rename?

I think the squashed migrations might be interfering maybe. You could try removing the `_squashed_` migrations and attempting the full migration, again, from scratch.

[2018-03-14 12:40] cpebble commented on #650
I tried cleaning the database properly and reimporting production data. The above errors seems to have stemmed from there.

After reimporting, manually renaming `attempt_count` django now complains about `Invoice has no field named 'attempt_count'`. However attempt_count is defined under `StripeInvoice` in `stripe_objects.py:1446` as an IntegerField. Any idea?

[2018-03-14 12:43] jleclanche commented on #650
Not sure. Maybe it's because of the old (now-removed in 1.1) double-layered model structure where Invoice subclasses StripeInvoice and it's not picking that up correctly.

[2018-03-14 16:37] cpebble commented on #650
After a some manual alterations and a bit of the magics i managed to progress into #615 and after temporarily downgrading to `Django=11.11.7` i finally suceeded the migrations.

Thanks @jleclanche . without your support i'd still be sitting at my terminal tomorrow

[2018-03-14 18:38] allthetime opened #651 "Easy way to get a card for customer?"
I'm looking through the data and can't identify an easy way to get the active card for a given customer. I want to check expiry dates so I can notify customers if their card is about to expire so they can change it before being charged. Is this easy?

[2018-03-14 20:50] jleclanche commented on #650
Awesome! Glad to hear they worked okay. What other manual alterations did you do?
1.1 will have a lot more migrations :( But hopefully after that we're resetting them and sanity is restored.

[2018-03-14 21:03] jleclanche commented on #651
It's `default_source` on the Customer object. If you're on master, it's `default_payment_method`, which you will have to .resolve() in order to get either a Card or a Source object.

[2018-03-14 21:03] #651 closed, assigned to nobody

[2018-03-14 21:05] jleclanche commented on #651
BTW, Stripe takes care of that exact use case for you:
- They have the option to send emails for expiring cards
- Whenever possible, they refresh expired cards with their reissued versions. https://stripe.com/blog/smarter-saved-cards

[2018-03-16 07:36] hendrikschneider opened #652 "subscription._api_create() - Missing required param: customer."
Hi,
I am trying to create a subscription and an invoice locally and then sync it to stripe. When calling _api_create() on my subscription (or invoice) instance I always get the error that the customer is missing but it's there.

[code]
Result: InvalidRequestError: Request req_mUqGYRbYg5rhVk: Missing required param: customer.

[2018-03-16 09:31] Seha16 opened #653 "Lack of backward migrations"
While testing new features I faced with lack of backward migrations there https://github.com/dj-stripe/dj-stripe/pull/579/files#diff-056d7d9eb8087c383be4dc26e125a147R22 and for the few other migrations made in the pull request by @jleclanche
For testing, it's not critical as you may as well drop the database and re-create it from a backup without big pain. But it may be more convenient to be able

[2018-03-16 09:36] hendrikschneider commented on #356
Would someone mind to post a code snipped how to accomplish step 1? Every time I try to create a subscription with a trial period for a customer without credit card I get an error that the user has no payment source.

[code]

[2018-03-16 13:14] jleclanche commented on #653
If you want to work on it I can merge it, but otherwise this is unlikely to happen tbh.

[2018-03-17 22:02] kavdev commented on #652
Hi!

You're seeing that response because you're incorrectly using the private API (see ``_`` character at the start of ``_api_create``.

You should instead use [``Customer.subscribe()``](https://dj-stripe.readthedocs.io/en/latest/models.html#djstripe.models.Customer.subscribe)

[2018-03-17 22:02] #652 closed, assigned to kavdev

[2018-03-17 22:04] kavdev commented on #651
@jleclanche didn't know stripe did that. pretty cool!

[2018-03-22 07:28] chiubaka commented on #352
Why was this issue closed? What was the resolution? Seems like 2 years later the documentation is still as it was described in the OP, and no PR was ever merged in relation to this issue?

[2018-03-22 11:12] jleclanche commented on #352
The resolution is that the rest framework integration will most likely be dropped, at least into a separate repository. None of the core maintainers are using it and if it is used somewhere, having it bound to dj-stripe releases feels unproductive.

[2018-03-22 11:13] jleclanche commented on #352
If someone wants to maintain it, let us know, we'll arrange something.

[2018-03-27 20:43] reillychase commented on #562
Happens on Django 2. Not sure how to fix this. Prob need to `from django.conf.urls import url` I just don't know how to edit the middleware

[2018-04-03 21:10] jleclanche opened #654 ""A customer was not attached to this card""
We have a validation check on the Card object which requires a customer object to be attached to it.

https://github.com/dj-stripe/dj-stripe/blob/9145410fb4b067e8aad7f181ddc8b339a3514774/djstripe/models.py#L1732

The customer object is not nullable either.

This is not correct. There can be cards with no customer attached. One such instance is when a customer *attempts* to attach a card (eg. first

[2018-04-08 12:44] tjcrowley opened #655 "Migrations failing"
I'm trying to set this up and migrate runs into this problem:

[code]

Any help?

[2018-04-10 14:33] RobertBroersma opened #656 "Migration error"
I get this migration error using `Django 2.0` and `dj-stripe 1.0.0.post1`

I found the other issues regarding this topic, but using the git repo install method my app breaks on AWS Lambda.

[code]

Any ideas?

[2018-04-12 07:50] jisson commented on #655
Hi, I am also facing a similar error (python 3.6, mysql 5.7):

[code]

It seems that I am able to pass the migrations on MySQL 5.5 but not on MySQL 5.7. I will let you know if I find any solution.

**Edit**: I am currently unable to pass the migrations even in my local env with MySQL 5.5. It is strange because I was used to be able to apply the migrations before.

[2018-04-12 15:16] metamatik commented on #655
Hi @tjcrowley,

I work in the same team as @jisson and we came up with a solution, it might be of interest to you.
After painstakingly going through the squashed migration file, it appears that some of the migration operations, whose purpose is to modify foreign keys, might unfortunately cause duplicated constraint names, hence the errors.

I tried to reduce the amount of such operations by "logic

[2018-04-12 17:36] kavdev opened #657 "Release dj-stripe 1.1.0"
The migration issue on clean installs is a pretty big issue. Luckily, it's now blocking at work so I can dedicate sprint time towards pushing out the new release.

What's left to get a release out?

- [ ] #609 coverage
- [ ] Full plan for migration reset

----

# Changelog 1.1.0

In dj-stripe 1.1.0, we made a *lot* of changes to models in order to bring the dj-stripe model state much closer to the

[2018-04-12 17:38] kavdev commented on #657
@jleclanche @lskillen my gitter client can't auth with GitHub at the moment, so lmk if I should hop on the browser client for discussion

[2018-04-12 17:39] kavdev commented on #656
Yeah we need to get a new release out with the fix. Tracking here: https://github.com/dj-stripe/dj-stripe/issues/657

[2018-04-12 17:39] #656 closed, assigned to nobody

[2018-04-12 17:41] kavdev commented on #655
This is fixed in master. We're going to be pushing out a new pip release soon. Tracking here: https://github.com/dj-stripe/dj-stripe/issues/657

[2018-04-12 17:41] #655 closed, assigned to nobody

[2018-04-12 17:42] kavdev commented on #616
Tracking release here: https://github.com/dj-stripe/dj-stripe/issues/657

[2018-04-12 17:42] #616 closed, assigned to nobody

[2018-04-12 17:56] jleclanche commented on #657
Would be good to land #637 at least first.

[2018-04-12 18:06] kavdev commented on #657
@jleclanche how do you feel about adding that in 1.2.0?

[2018-04-12 18:13] metamatik commented on #655
Thank you @kavdev!

Simple curiosity: was this problem specific to MySQL or not?
We are stuck with it because of legacy decisions, and I was kind of afraid it was the reason why we were in trouble — once again. I'm lobbying for a PostgreSQL migration, it would be interesting to know if we could have avoided today's problems if we had been using it ;-)

[2018-04-12 18:15] kavdev commented on #655
@metamatik no worries. It happens in postgres as well, just with different output

[2018-04-12 18:18] metamatik commented on #655
Ok then ^^

[2018-04-12 18:19] tjcrowley commented on #655
Thanks all!

[2018-04-12 19:00] kavdev commented on #352
@chiubaka the rest framework integration is a contrib package. As such (and as @jleclanche said), it's not maintained as part of the core package.

[2018-04-12 19:24] jleclanche commented on #657
@kavdev If this is just about making a bugfix release, can you do a 1.0.1 instead by cherry-picking the relevant commits?

[2018-04-12 19:25] kavdev commented on #657
@jleclanche that's a much better idea

[2018-04-13 07:37] kccheung opened #658 "Support new billing cycle Stripe features"
As title, please check my detailed question here:

https://stackoverflow.com/questions/49793669/how-to-set-stripes-subscription-billing-cycle-to-month-end-programmatically

[2018-04-16 14:18] tjcrowley commented on #657
Could we get this fixed? I tried using the master branch here and it's now failing with this error:

[code]

[2018-04-20 17:37] ziXet commented on #641
Any plan for adding support of this API version?

[2018-04-20 17:38] jleclanche commented on #641
There's a lot of work involved and right now I'm not able to spend time on dj-stripe. PRs welcome.

[2018-04-23 18:19] anujism commented on #657
Hi, Is there a temporary solution to this till the time this gets released? The master branch is also not working.

[2018-05-02 13:35] kavdev commented on #658
Hi @kccheung! If you're talking about https://stripe.com/docs/billing/subscriptions/billing-cycle, that functionality is currently unsupported. Pull requests are welcomed.

See also https://github.com/dj-stripe/dj-stripe/issues/641

[2018-05-16 14:23] jasondilworth56 opened #660 "auth_user issue when using DJSTRIPE_SUBSCRIBER_MODEL"
I'm sure I'm missing something obvious here, but it's now been a few hours of investigating and I can't find what I'm doing wrong.

I have a model:
[code]

and the following in settings.py:
[code]

When manually adding a djstripe `Customer` I get the following:

I have seen issue #179 and tried deleting all migrations and running them again but this hasn't solved the issue. What have I missed?

[2018-05-21 21:37] kneiling commented on #656
Is there a workaround for this issue that can be used in the meantime, before 1.1.0 is released?

[2018-05-23 22:17] #581 closed, assigned to nobody

[2018-05-24 12:49] jleclanche commented on #657
djstripe 1.0.1 has been released with a bunch of cherry-picks. This issue shouldn't show up there.

[2018-05-24 12:49] jleclanche commented on #657
PS: 1.0.1 is also compatible with Django 2.2, so, yay?

[2018-05-24 13:04] jleclanche opened #662 "Release Roadmap: 1.1.0, 1.2.0, 1.3.0 and Python 2.7 compatibility"
Ok folks, there are two major changes waiting in the pipeline for the upcoming releases:

- Dropping Python 2.7 compatibility
- Migration reset

Here's the current plan, modeled after https://github.com/jazzband/django-oauth-toolkit/issues/579:
- dj-stripe 1.1.0 will be a normal release.
- dj-stripe 1.2.0 will be a release that **only** resets the migrations. In order to upgrade to it, you will ha

[2018-05-24 13:19] danryu commented on #595
@kavdev Could you elaborate a bit on how to get up and running with a basic payment system?

In discussion https://github.com/dj-stripe/dj-stripe/issues/428 you stated that you wanted to remove the views and templates that provided this, in favour of having better documentation on how to write your own from scratch.
I totally get this from a maintenance standpoint, but as I see it now, we now have

[2018-05-24 23:20] kavdev commented on #662
@jleclanche you have my full go-ahead on this plan. I've pretty much been crushed with work lately and don't want to impede progress. Just keep tagging me as a reviewer and I'll retroactively add comments on PRs that I can't get to in time and we can deal with those after the fact.

I will want to do a review before code hits stable though.

[2018-05-25 01:42] kavdev commented on #660
According to the stacktrace, the subscriber model is still linked to ``auth_user``. When you deleted the migrations, did you also start with a fresh database?

A bit unrelated, but you may want to make the callback a bit more tailored to your app. Not crucial, but might make things a bit more clear. "organization" isn't a special keyword, just the example we used in the docs.

[code]
I should also

[2018-05-25 03:25] kavdev opened #663 "Add a tox env that runs make html to ensure the docs compile correctly"

[2018-05-25 08:45] jasondilworth56 commented on #660
Thanks @kavdev, really appreciate the help.

I did end up getting this working, starting with a fresh database. Must've missed that step, apologies!

Thanks for the tip as well, I'll use that.

[2018-05-26 03:55] #660 closed, assigned to nobody

[2018-05-26 10:09] hgezim opened #665 "Main docs link is broken"
This link is broken: http://dj-stripe.readthedocs.io/en/stable-1.0/

[2018-05-27 03:52] #653 closed, assigned to nobody

[2018-05-27 20:26] jleclanche commented on #429
This landed in 41c56925596410a578ea605cee16cf4d16afe886

[2018-05-27 20:26] #429 closed, assigned to jleclanche, kavdev

[2018-05-27 20:27] jleclanche commented on #580
Try the latest 1.0.1 release.

[2018-05-27 20:27] #580 closed, assigned to nobody

[2018-05-27 20:28] jleclanche commented on #604
This will be addressed in #662 (djstripe 1.2.0).

[2018-05-27 20:28] #604 closed, assigned to nobody

[2018-05-27 20:29] jleclanche commented on #566
Following up in #662

[2018-05-27 20:29] #566 closed, assigned to nobody

[2018-05-27 20:30] jleclanche commented on #338
Closing this. I'm a very strong -1 on it and it doesn't look like it's getting done either way.

[2018-05-27 20:30] #338 closed, assigned to aleccool213

[2018-05-27 20:32] #641 closed, assigned to nobody

[2018-05-27 21:31] #534 closed, assigned to nobody

[2018-05-28 03:37] jleclanche opened #667 "Add handling for charge.refunded webhook"
Implemented Refund model, but `charge.refunded` isn't being handled yet.

[2018-05-28 03:47] jleclanche opened #668 "Implement InvoiceItem model"

[2018-05-28 03:48] jleclanche opened #669 "Implement SubscriptionItem model"

[2018-05-28 03:49] jleclanche opened #670 "Implement Radar Review model"

[2018-05-28 03:52] jleclanche opened #671 "Implement Connect models"
- [x] Application Fee Refunds
- [x] Application Fees
- [x] Country Specs
- [x] External Accounts
- [x] ~~Recipients~~ (deprecated)
- [x] Transfers (Update existing fields, drop deprecated stuff)
- [x] Transfer Reversals

[2018-05-28 03:52] jleclanche opened #672 "Implement Order models"
- [ ] Orders
- [ ] Order Items
- [ ] Returns
- [ ] SKUs

[2018-05-28 03:52] jleclanche opened #673 "Implement Sigma models"
- [x] Scheduled Queries

[2018-05-28 03:55] jleclanche commented on #657
Updating original issue with a WIP changelog

[2018-05-29 19:37] kavdev commented on #657
@jleclanche beautiful changelog

[2018-05-29 23:33] jleclanche commented on #663
This is done

[2018-05-29 23:33] #663 closed, assigned to nobody

[2018-05-29 23:35] jleclanche commented on #658
@kccheung master should have the models and fields for it. If there are still features missing, could you file separate issues detailing what's missing for each? Thanks!

[2018-05-29 23:35] #658 closed, assigned to nobody

[2018-05-29 23:39] jleclanche commented on #552
This will disappear once #662 completes (with 1.2.0, which will follow 1.1.0 very shortly). Closing.

[2018-05-29 23:39] #552 closed, assigned to nobody

[2018-05-29 23:45] kavdev commented on #496
This wins: https://github.com/dj-stripe/dj-stripe/issues/496#issuecomment-296805436

[2018-05-29 23:47] jleclanche commented on #241
The class is implemented. I'm happy leaving this there.

[2018-05-29 23:47] #241 closed, assigned to nobody

[2018-05-29 23:59] #633 closed, assigned to kavdev

[2018-05-30 00:15] #665 closed, assigned to kavdev

[2018-05-30 00:16] kavdev commented on #665
(fixed)

[2018-05-30 00:16] #496 closed, assigned to nobody

[2018-05-30 10:33] hgezim opened #676 "djstripe_sync_customers: default subscription model (auth.User) doesn't have `customer` relation"
I tried running `djstripe_sync_customers` command but it seems like it's looking for a `customer` reverse relation on the subscription model.

[code]

Is this a bug or did I botch something up?

[2018-05-30 10:43] hgezim opened #677 "Duplicate Stripe Customer getting created"
I have customers in Stripe who have subscriptions.

Some of those have accounts (associated with their emails) on my Django site but lots do not.

I'm not very clear on how to start.

`djstripe_init_customers` goes and creates new customers in Stripe even if a customer with same email address exists.

[2018-05-30 16:16] jleclanche commented on #677
@hgezim Customer objects in stripe need a User object on site to be associated with. You'll have to create matching User objects for all your Customers.

Once you do, you can sync up all your existing Stripe objects to dj-stripe using the API.

[2018-05-30 22:19] kavdev commented on #676
@hgezim which version of dj-stripe are you running?

[2018-05-30 22:47] hgezim commented on #676
`1.0.1`, @kavdev

[2018-05-30 23:04] hgezim commented on #677
I've got a `User` with email `hgezim+201805301650@gmail.com`:

[code]

In Stripe, I have a customer with the same email:

[code]

I then run `djstripe_init_customers`:

[code]

It says it's created a subscriber for `hgezim+201805301650@gmail.com` which isn't clear if that refers to a `User` or a Stripe customer.

Then I inspect to ensure that another `User` wasn't created:

[code]

However, we dis

[2018-06-04 13:17] bytesoverflow commented on #595
@danryu this is an absolute shitshow at the moment. I was using 0.8.0 in production and attempted to upgrade to 1.0.1. Everything is broken - i wouldn't even attempt to use it if i were you.

[2018-06-04 13:58] danryu commented on #595
Yes @tobydeh, that's how I would characterize it too, unfortunately.
As is, the strapline for dj-stripe as "Django + Stripe Made Easy" is a total misnomer at the moment. Numerous people have commented on the difficulty of getting up and running, but those concerns have been forgotten by the devs. Their prerogative I guess.

dj-stripe seems now to be more a personal project for dj-stripe devs and (

[2018-06-04 16:56] jleclanche commented on #595
PRs welcome, @danryu, @tobydeh. I'm also happy to help answer questions here on github or on the gitter channel.

The project is absolutely lacking documentation. And yes 0.8 to 1.0 was a tough upgrade. When I started integrating dj-stripe the project was in quite a frustrating state and it took several months to get things cleaned up and a new release out of the door. @tobydeh If you're having is

[2018-06-04 16:59] jleclanche commented on #595
In lieu of documentation I would also point you guys to my existing integration of dj-stripe. If your site is SaaS, you'll want to look at SubscribeView and CancelSubscriptionView.

https://github.com/HearthSim/HSReplay.net/blob/master/hsreplaynet/billing/views.py

[2018-06-04 18:57] danryu commented on #595
@jleclanche Thanks for responding so fully. Thank you also for your continued work on dj-stripe, and to @kavdev and others. Despite my problems getting going with it, I'm confident I will appreciate the integration effort for exactly the kind of reasons that you mentioned - being able to have all my customer subscription data queryable on my own server, for a start.
As I mentioned before, I do tot

[2018-06-04 21:01] kavdev commented on #595
@danryu Stripe is on the path to deprecating legacy card objects (part of why we're removing legacy style views). With that, they're pretty much exclusively supporting [stripe elements](https://stripe.com/elements) now. It's an easy migration: instead of sending card details to dj-stripe for tokenization, elements just gives you a token to send to dj-stripe for use with the ``add_card`` method. If

[2018-06-04 23:39] kavdev commented on #677
@hgezim that's working as expected. Use the ``--help`` flag to see what the command does. See also [source](https://github.com/dj-stripe/dj-stripe/blob/stable/1.0/djstripe/management/commands/djstripe_init_customers.py#L21)

It's meant for devs with an existing subscriber base that want to create stripe links for each of those existing subscribers.

There's no way to [initially] take your existing

[2018-06-04 23:46] danryu commented on #595
@kavdev Much appreciated. I just got started with both Stripe and dj-stripe a couple of weeks ago, so all pointers are welcome.
I'll take a look into the Elements stuff as you suggest.

I'm not sure if I interpreted correctly your request to expand the context of the traceback, but FWIW I've included below the sum total of what django logs on the "Change Card" submit.

When I include a bit of prin

[2018-06-04 23:55] kavdev commented on #595
@danryu first impression is that you aren't posting a ``stripe_token`` in that request (views, line 77), which is sent along to customer.add_card(), which then gets sent off to stripe. Can you check the POST request in your browser's dev console to make sure [this](https://github.com/danryu/dj-stripe/blob/master/djstripe/templates/djstripe/change_card.html#L96) is working correctly?

Also, custome

[2018-06-05 00:08] danryu commented on #595
@kavdev I just updated my last comment while you were writing - my bad.
I think I confirmed your suspicion. My problem is checking that POST request in the browser dev console - it's all just blank like no JS is even being run ....
Being a newbie I assumed this was maybe a security provision with the Stripe.js being loaded (wild guess) - now I'm suspecting that no JS is in fact being run after all

[2018-06-05 00:10] kavdev commented on #595
@danryu are you seeing anything funky in the console? Also, do you have jquery installed?

[2018-06-05 00:19] danryu commented on #595
@kavdev Nothing in the console, funky or otherwise.
As for jquery.... huh. That's an obvious enough thing that I could have totally missed. I _have_ had jquery loaded on the main (non-subscription-related) pages on my portal - but I think I haven't explicitly done so on these templates. Wouldn't jquery have been implicitly included in the old tree templates, seeing as it's a pre-requisite for the

[2018-06-05 00:25] kavdev commented on #595
No, we had it as an explicit add, since we didn't want to deal with bundling an outdated version: https://github.com/danryu/dj-stripe/tree/1068dd06ed7762d2c382f5bf6a3ae521f798bf44

Try typing ``$`` into the console when you're on that page and let me know what happens.

[2018-06-05 00:35] danryu commented on #595
Darnit, I'd seen that in the old tree README and completely glossed over it.
Yep, $ in console gives now:

ƒ $(selector, [startNode]) { [Command Line API] }

which doesn't look very jQuery-ish.
I knew I was doing something pretty dumb. Thanks.

[2018-06-05 00:51] #677 closed, assigned to nobody

[2018-06-05 07:24] pydanny commented on #595
Okay, I have couple points to make:

1) @jleclanche, @kavdev, et al: Perhaps it is time to change the motto of the project from `django + stripe made easy` to something a bit more descriptive of the dj-stripe project.

2) Since no one is getting paid to work on this project and it's used by unpaying developers to make money, no one has the right to DEMAND unpaid support. If you want to hire @jlecl

[2018-06-05 07:26] pydanny commented on #595
@tobydeh, language like "shitshow" and your attitude is completely uncalled for. This is an open source project maintained by UNPAID volunteers that allows you to make money.  Even if you were paying money, if you EVER make a comment like that again on a project I am affiliated with you will be blocked from that project and any and all projects I am involved in.

Futhermore, @tobydeh, if you belab

[2018-06-05 07:41] jleclanche commented on #595
@pydanny Don't stress yourself out unnecessarily man. You don't have to take the heat for anyone :)

[2018-06-05 11:03] jleclanche commented on #677
@kavdev Actually I believe that if `djstripe_subscriber` tags are added to customer metadata, you can link them up that way.

[2018-06-05 11:03] justinmayer commented on #595
True to their enlightened form, both @jleclanche and @kavdev responded with a graciousness I would never have been able to muster in this situation. I'm disappointed and sad that @tobydeh and @danryu have chosen to behave in such a self-entitled manner.

@tobydeh / @danryu: I understand how frustrating it can be when there seems to be insufficient documentation/examples with which to utilize a pro

[2018-06-05 11:22] danryu commented on #595
Steady on, @justinmayer. You're going over the top there. I never behaved in a self-entitled manner. I did express some disappointment that integrating the project was not "easy" as in "Django + Stripe Made Easy", and that the intentions over a year ago to provide an example app to help integrators had been dropped. (And while I wouldn't use the language that tobydeh did, which I think is inflamma

[2018-06-05 11:29] justinmayer commented on #595
I stand by my comments.

Exhibit A, in which you agree with and support @tobydeh's assertion:

Exhibit B, in which you express unnecessary negativity that is often the cause of demotivation for open source maintainers:

I don't want to spend any more time on this. I've expressed my opinion, and you have expressed yours. Let's move on.

[2018-06-05 11:39] jleclanche commented on #595
I appreciate the support @justinmayer but what i told to Daniel above applies: you guys don't have to take the heat for anyone. I absolutely understand where you're both coming from, but I would rather focus on turning frustrations into useful contributions.

Frustrated users are the persistent ones who chose to stick with the product instead of giving up.

[2018-06-05 11:49] danryu commented on #595
@justinmayer, I think we've both already spent too much time on this. A little unfair to accuse me of things and then scarper off....
Anyway, I take your point that that post of mine could come across as "unnecessarily negative". I don't think it was overwhelmingly negative, it was just coming from a bit of a dejected place, I guess.
And I do agree with @tobydeh's assertion that integrating the pr

[2018-06-05 11:54] justinmayer commented on #595
As I said, I understand the frustration. I've had plenty of my own with other projects. I think it's important that folks who rely on the volunteer labor of others, however, choose their words and tone carefully — ergo my comments above.

We understand each other. We are cool.

[2018-06-05 15:37] kavdev opened #678 "Add the fact that stripe users are now tagged with a ``djstripe_subscriber`` ID to the docs somewhere"

[2018-06-05 15:38] kavdev commented on #677
@jleclanche correct, but only after you've been using dj-stripe to create [/update?] stripe customers, and only after upgrading to 1.0.

That's definitely a good thing to highlight though https://github.com/dj-stripe/dj-stripe/issues/678

[2018-06-05 16:04] kavdev commented on #676
@hgezim huh yeah looks like we forgot to cherry-pick the fix for that into the stable branch

Stable:
https://github.com/dj-stripe/dj-stripe/blob/stable/1.0/djstripe/management/commands/djstripe_sync_customers.py#L25

Master:
https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/management/commands/djstripe_sync_customers.py#L25

See also:
https://github.com/dj-stripe/dj-stripe/issues/497

c

[2018-06-05 16:18] jleclanche commented on #676
Damn it, forgot. :(

[2018-06-10 22:39] jleclanche commented on #657
It's done. 1.1.0 and 1.2.0 are out.

**If you're reading this and are running dj-stripe 1.0.1, 1.0.0, or below: Upgrade to 1.1.0 first. Then run manage.py migrate. Make sure everything is running smoothly. Then upgrade to 1.2.0.**

There are no changes between 1.1.0 and 1.2.0 other than the migration reset. If you upgrade to 1.2.0 without running 1.1.0 migrations first, your database will be out o

[2018-06-10 22:39] #657 closed, assigned to jleclanche, lskillen, kavdev

[2018-06-10 22:57] #662 closed, assigned to jleclanche

[2018-06-10 22:58] jleclanche commented on #662
Release 1.1.0 and 1.2.0 are out. Python 2 support has been dropped from master.

[2018-06-10 23:23] jleclanche commented on #627
Closing, we're good with coverage at 90%+

[2018-06-10 23:23] #627 closed, assigned to nobody

[2018-06-10 23:23] jleclanche commented on #551
Should be all good in 1.2.0.

[2018-06-10 23:23] #551 closed, assigned to nobody

[2018-06-11 16:54] danryu commented on #417
Just realised that having multiplan is probably a dealbreaker for me.
With 1.1.0 now released, is there any likely movement on this coming up?
Hoping it's gonna be a fairly easy change ...

[2018-06-11 17:08] jleclanche commented on #417
It's not easy for me to test. If you want to work on it, I can give some guidance.

[2018-06-11 17:27] danryu commented on #417
Ok, I'm pretty sure I need it, because my service wants to offer multiple instances of the same product plan, each of them metered per-unit time and then billed once monthly. (Much like cloud server provisioning eg Digital Ocean etc).
I think this scenario necessitates multi-plan support, if it's to be done cleanly.
Was just taking a look at the models.Subscription definition now. Feel free to go

[2018-06-11 19:05] jleclanche opened #679 "Gitter / Discord"
**Edit from the future**: We have decided to shut down the Discord server. We will be using [Github Discussions](https://github.com/dj-stripe/dj-stripe/discussions) now that it is available.

Folks, I'll be honest, I'm not on the Gitter much because this project is the only one that uses Gitter for me.

I use [Discord](https://discordapp.com) primarily. It's gamer-oriented, but it's starting to be

[2018-06-11 19:08] jleclanche commented on #417
Without having looked at it, I'm guessing that:

- You'll need to add a `plans` m2m of some kind on Subscription (unless there's an existing Stripe object relation between Subscription and Plan)
- You'll need to get rid of the `plan` foreign key, making it an attribute instead that returns plans.first()
- You'll need to add a migration which handles that transition without data loss requiring reco

[2018-06-11 19:52] danryu commented on #417
Ok. This might take me a while. Both because of limited time and also because of my still-not-great understanding of the code-base in general. The migration and test bits especially.
I'll take another look and join you on Gitter.

[2018-06-11 20:52] kavdev commented on #679
I'm down. Gitter doesn't play nicely with my Windows 10 rig right now, and there exists [a decent UWP version](https://www.microsoft.com/en-us/p/quarrel/9nbrwj777c8r?rtc=1) of discord.

Ooooh I'm stoked to get native notifications

[2018-06-11 21:34] jleclanche commented on #679
Alright, let me look into this.

[2018-06-12 05:51] kavdev commented on #679
We could also just go with slack if setting up a discord is a pain/costs money.

Also, https://discordapp.com/open-source

[2018-06-12 05:56] kavdev commented on #679
JK. We're all set? https://discord.gg/UJY8fcc

[2018-06-12 05:58] kavdev commented on #679
Wow. The UX on discord is beautiful

[2018-06-12 06:22] #679 closed, assigned to nobody

[2018-06-12 17:38] danryu commented on #417
I've taken another little look.
Re the `plans` m2m - I assume we want to mirror the Stripe API and have an `items` attribute? As at https://stripe.com/docs/api#subscription_object-items.
RE removing the `plan` foreign key - as the Stripe subscription object contains both an `items[plan1,plan2]` list, and a singular `plan` element, I'm not sure how to handle this.

[2018-06-13 14:05] mbaragiola opened #680 "Customer.charge() fails because 'business_primary_color' is required and was not provided on Account"
Hi, I'm updating to `djstripe 1.1.0` and when running my local tests (Stripe is also set to TEST, not LIVE) I get this error when trying to charge a customer:

[code]

I can create customers and add cards to them, but I cannot charge them (haven't tried invoicing since my app just uses individual charges for users).

I didn't manually create an Account object on my tests and my account isn't fully

[2018-06-13 14:33] jleclanche commented on #680
Are you connecting to the upstream Stripe or to stripe-mock?

[2018-06-13 15:00] mbaragiola commented on #680
@jleclanche I am connecting to the upstream Stripe using my test keys. Should I try stripe-mock instead?

[2018-06-13 15:05] jleclanche commented on #680
No it's alright. I'll get this fixed. In the mean time can you try adding `stripe_required=False` to the `business_primary_color` field on `Account` in `djstripe/models.py` and let me know if you encounter further errors?

[2018-06-13 17:52] mbaragiola commented on #680
@jleclanche Sorry for the delay, got side-tracked. Now that `business_primary_color` is marked as `stripe_required=False` the error pop ups with `support_url`.

[code]

I'll keep marking the fields as `stripe_required=False` to see how it goes.

*UPDATE:*

Right after marking `support_url` as `stripe_required=False` I get the following error:

[code]

It seems to be related to the fact that I don'

[2018-06-13 18:17] jleclanche commented on #680
@mbaragiola yes most likely, keep letting me know which fields need to be marked as stripe_required=False.

[2018-06-13 19:06] mbaragiola commented on #680
@jleclanche just marked `business_primary_color` and `support_url`. I didn't needed those fields before `dj-stripe 1.1.0` and I can't find any change on behalf of Stripe (am currently using API `2018-05-21` but also tried `2017-06-05`). The error complains about a null `business_name` though.

https://stripe.com/docs/api/python#account_object

I would activate my account but can't do it for the mo

[2018-06-13 20:03] jleclanche commented on #680
The null business name is because stripe_required=False also sets that column as nullable, if you want to work around it you can drop the NOT NULL from both those cols.

[2018-06-15 20:55] mbaragiola commented on #680
In case someone stumbles on this post: Rolling back to `dj-stripe 1.0.1` works even when using Stripe's API `2018-05-21`. So I guess Stripe doesn't mind that the account isn't activated when charging customers using the test keys

[2018-06-18 18:29] danryu commented on #417
I have committed a couple of changes towards getting multiplan working to my fork here:
https://github.com/dj-stripe/dj-stripe/compare/master...danryu:master

No PR yet. If @jleclanche or @kavdev or somebody can take a look and tell me if I'm doing anything insane, that would be helpful. I haven't tested yet (or got any tests or migrations going) - I just want to get an idea if I'm doing the right

[2018-06-18 18:32] jleclanche commented on #417
Ok yeah sounds like SubscriptionItem needs to be implemented.

You don't need to reimplement the fields that are already defined in StripeObject, which includes metadata, created etc.

The rest looks good I think. Try it out, if it works just PR it, ping me and ill review.

[2018-06-18 18:35] jleclanche commented on #417
I also don't think you should remove the plan foreign key after all, also. Does that key still exist if you have multiple plans?

[2018-06-18 18:40] danryu commented on #417
Yeah I was gonna ask about the plan FK too - I'm _guessing_ that it can still exist with multiple plans. But I haven't tried that and don't have a use case for it. For my part, I just want to add/remove multiple items (of the same Plan in fact) to the same subscription.

[2018-06-18 22:58] jleclanche commented on #417
Let's leave it in for now.

[2018-06-21 09:05] jleclanche opened #681 "Automatically handle foreign keys on update"
Right now dj-stripe has to hook into itself in order to automatically populate foreign keys when an object is synced. This has caused several foreign keys to be missed and which aren't currently synced. We should be handling all of it automatically.

[2018-06-21 09:11] jleclanche commented on #615
Closing this now that 1.2.0 is out.

[2018-06-21 09:11] #615 closed, assigned to nobody

[2018-06-22 17:01] ndjdev opened #682 "Product webhook needs to be handled"
I recently updated to 1.1.0 and am just starting to get my head around the new Products/Plans structure. This is in a new copy of my project on my local machine and so the database was initialised to 1.1.0 though the code started life on an earlier copy. When I add a Product using the Stripe Dashboard I can see the webhook call come through, I can see the event "product.created" added in Django ho

[2018-06-22 17:25] jleclanche commented on #682
You're correct, Product webhooks are not handled yet.
If you just need to sync once, you can do this:

[code]

[2018-06-22 17:26] ndjdev commented on #682
OK thanks. Is there a roadmap for when this feature might be added?

[2018-06-22 17:30] jleclanche commented on #682
If you'd like to author a PR for it it should be pretty straightforward. You can base it on the Plan webhook and tests.
Otherwise, no idea; I'm only able to work on dj-stripe when spare time allows for it.

[2018-06-22 17:32] ndjdev commented on #682
No worries, I'll take a look

[2018-06-23 18:00] justinrporter commented on #639
Hello! I found this thread upgrading from djstripe ~v1.0 to v1.0.1, as part of the process of upgrading from django v1.11 to v2.0.

I found that this error still occurs if you're using django 2.0 and djstripe 1.0.1. It can be resolved by simply forcing pip to use django-polymorphic 2.0.

I think a solution to this would just be marking v1.0.1 as needing `django-polymorphic>=2.0`, rather than `djan

[2018-06-23 18:02] jleclanche commented on #639
Best is probably to upgrade to 1.1.0 at this point.

[2018-06-23 18:17] justinrporter commented on #639
No disagreement--that's the ultimate goal. There looks to be a fair amount to do at v1.1.0, including some db migrations, and so my plan was to get things stable with Django v2.0 (and and other packages that needed to be upgraded) first. I haven't gotten there yet--does v1.1.0 require django-polymorphic>=2.0? I assume that upgrade is necessary there as well.

[2018-06-23 18:23] jleclanche commented on #639
1.1.0 drops polymorphic altogether, and is compatible with 1.11. You should be okay. Upgrading to 1.2.0 however requires 2.0.

[2018-06-23 21:37] justinrporter opened #684 "WebhookEventTrigger's header field initial migration mistyped"
Hi all,

I think that initial migration, `0001_initial.py`, that ships with v1.2 has a mistyped field.

For [WebhookEventTrigger](https://github.com/dj-stripe/dj-stripe/blob/stable/1.1/djstripe/models.py#L3278), the [migration](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/migrations/0001_initial.py#L572) has:
[code]

but the [source](https://github.com/dj-stripe/dj-stripe/blob/stabl

[2018-06-23 22:24] jleclanche commented on #684
The problem is because of the different JSONField class used when DJSTRIPE_USE_NATIVE_JSONFIELD=True. I'll get it fixed, but for now it's safe to ignore.

[2018-06-24 17:04] justinrporter commented on #684
Works for me!

[2018-06-24 19:43] justinrporter opened #685 "Coupon `name` parameter"
Hi all,

It looks to me like the [`name` parameter of the Coupon object](https://stripe.com/docs/api#coupon_object-name) is not in the [dj-stripe model for Coupon](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models.py#L1929).

Is this intentional? If I want to use dj-stripe to apply a coupon to a customer, it seems to me like I'd need to get the coupon name from the user (distribut

[2018-06-24 19:57] jleclanche commented on #685
Not intentional no, it was just added very recently to Stripe so the Coupon
model needs an update.

J. Leclanche

On Sun, Jun 24, 2018 at 10:43 PM Justin R. Porter <notifications@github.com>
wrote:

[2018-06-24 20:17] justinrporter commented on #685
Would it be as simple as just adding a `StripeCharField` called `name` to `Coupon`?

[2018-06-24 20:19] jleclanche commented on #685
Might be. But I think there's other stuff that was added to coupon since.

J. Leclanche

On Sun, Jun 24, 2018 at 11:17 PM Justin R. Porter <notifications@github.com>
wrote:

[2018-06-24 20:29] justinrporter commented on #685
You're right. Comparing a their [api docs](https://stripe.com/docs/api/python#coupon_object-id) with the dj-stripe Coupon object, it looks like the following are missing:

- name
- created (time)
- valid? (it's commented out right now)

[2018-06-24 20:31] jleclanche commented on #685
`created` is in there actually from StripeObject. `valid` is a property, it's left out on purpose (the coupon object is weird).

Weird, i thought there was more stuff.

[2018-06-25 11:47] barseghyanartur opened #686 "Django 1.11 support"
It might be a philosophical question, but Django 1.11 is the LTS release, which is [officially supported until April 2020](https://www.djangoproject.com/download/#supported-versions).

A lot of companies jump from one LTS release to another.

Why on earth, drop support for an official long term support version while it still has almost 2 years to go?

[2018-06-25 12:35] jleclanche commented on #686
1.2.0 supports Django 1.11 and will continue to be supported with critical bugfixes for some time, exactly the same way Django 1.11 continues to be supported (no new features). That doesn't prevent us from releasing new features only on newer Django versions.

Of course, dj-stripe doesn't have financial backing of any sort, so I wouldn't expect a guarantee on that either.

[2018-06-25 12:35] #686 closed, assigned to nobody

[2018-06-26 14:26] nomoretorgo commented on #595
Back to the error caused by:  dj-stripe/djstripe/templates/djstripe/subscribe.html  Line 25 in 0452cd2
`<a class="btn btn-primary" href="{% url 'djstripe:confirm' plan_id=plan.id %}" role="button">`

I was wondering if i can get some advice on how to proceed from here.   From what I'm gathering one work around is to grab older code and mix-match classes from the view and the urls.  I had actually

[2018-06-26 16:12] danryu commented on #595
@maxcrookston666 I have got the old templates & views working in my tree here:
https://github.com/danryu/dj-stripe/tree/testapp/djstripe

I have tested it lightly on my beta site and it is working ok, albeit a bit messy. I've got various updates to do to make it smoother, and I will at some point rip out the views/templates into a standalone contrib/testapp. Just been trying to implement multiplan

[2018-06-27 08:24] #680 closed, assigned to nobody

[2018-06-27 17:18] danryu commented on #595
@maxcrookston666 I have updated my test tree at
https://github.com/danryu/dj-stripe/tree/testapp

My apologies - I hadn't included some necessary fixes when I previously pointed to that tree.
As it stands, the tree is basically upstream master (dj-stripe/dj-stripe) plus the changes necessary to get all the old views & templates working. So that should give you what you need to get going, basically

[2018-06-28 13:11] barseghyanartur commented on #595
How I see it.

- That *show wasn't aimed at a specific person, so - no offense and no need to make such a huge problem of it, @pydanny. Also, being unpaid is a pointless common excuse.
- It's true, that this project is ran by unpaid volunteers to help other devs do their work better. It took me some time to understand that this product simply won't do the thing. As a result, I have wasted my time

[2018-06-28 13:42] jleclanche commented on #595
@barseghyanartur Mate honestly, you're welcome to point your boss to this Github thread and I'll have a chat with him about financing development on djstripe if it's useful for your company. But the time you spend exploring open source projects is part of your job and if you're spending it by wasting your company's time, that is entirely your responsibility.

Being able to tell whether a project i

[2018-06-28 14:03] bytesoverflow commented on #595
The point is the project used to work and was stable, I had in running in production for years.

People shouldnt be able to run pip install and end up with a load of errors, broken install which no longer works and no documentation on how to fix it.

Perhaps it would have been more sensible to keep the changes in a development branch and waited until it was ready before releasing.

[2018-06-28 14:08] barseghyanartur commented on #595
@jleclanche:

We have obviously have different points of views regarding what open source software should and shouldn't offer.

I still doubt whether you guys think that [Development Status :: 5 - Production/Stable](https://github.com/dj-stripe/dj-stripe/blob/master/setup.cfg) is really applicable to the current state of the project.

[2018-06-28 14:29] nomoretorgo commented on #595
@danryu

I haven't had too much time to focus on it, but I was able to get it installed and running.  With a couple little known bug fixes.  But things seem much better.  Mucho Gracias!  I'll let you know how it proceeds.

[2018-06-28 14:34] barseghyanartur commented on #595
@maxcrookston666:

Wanna share? :)

[2018-06-28 15:32] jleclanche commented on #595
@tobydeh yes, absolutely. But here's the thing:

1. Development changes *were* kept in a development branch. For over a year. With little to no feedback on them. I was probably the only person who was running them in production in fact, maybe save @lskillen. Once 1.1.0 and 1.2.0 were released, feedback came in. My philosophy is to release-early-release-often instead of keeping those changes hidden

[2018-06-28 15:43] barseghyanartur commented on #595
@jleclanche:

It's not about backwards compatibility. The `url 'djstripe:confirm' NoReverseMatch Found` is affecting the current branch and as far as I can see, all versions since 1.0.0. Correct me if I'm wrong.

I'm not upgrading from older versions. I start fresh. I follow the docs, no luck.

[2018-06-28 15:49] jleclanche commented on #595
Right, when it comes to the issue in this particular github thread, I'm honestly not sure what's going on. It's certainly related to the fact most views have been dropped as unsupported (and the docs are probably out of date on that front). I'd point you to [this comment above](https://github.com/dj-stripe/dj-stripe/issues/595#issuecomment-394426266) for a solution in the interim.

I will try to u

[2018-06-29 15:41] acoushawk opened #690 "Webhook from stripe 403 due to CSRF"
I setup dj-stripe according to the docs but I am getting a 403 on the web hook. I tried to google what I could to find a resolution, and I see there is a csrf decorator you can add to a view, but all I added was the URL path: path("stripe/", include("djstripe.urls", namespace="djstripe")),.

Where do I go to disable the csrf for the included djstripe urls?

Thanks!

[2018-06-29 15:43] jleclanche commented on #690
Did you give it the right URL? The view is already csrf-exempt:

https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/views.py#L105-L106

[2018-06-29 16:29] acoushawk commented on #690
I found out what the issue was. In the installation doc It says to add the url path like this.:

path("stripe/", include("djstripe.urls", namespace="djstripe")),"

This creates the path of stripe as shown here in my debug:

stripe/ ^cancel/subscription/$ [name='cancel_subscription']
stripe/ ^webhook/$ [name='webhook']

But in the doc it says to add the webhook to stripe as https://example.com/paym

[2018-06-29 18:57] #690 closed, assigned to nobody

[2018-06-29 18:57] jleclanche commented on #690
Thanks!

[2018-06-30 16:24] danryu commented on #417
Ha, turns out that Stripe doesn't actually allow multiple SubscriptionItems of the same Plan ... wow.

`"message": "Cannot add multiple subscription items with the same plan: plan_foo",
`

Nothing in their docs suggested that.
Shame, that was my specific use case - still got an open support call with them. So I'm gonna have to do my own usage-metering and then use the invoice.created webhook to re

[2018-07-02 15:01] martimarkov opened #691 "Creating a coupon in Django Admin not creating a coupon in Stripe"
Is this expected behavior or a bug?

[2018-07-03 23:47] jamezpolley commented on #89
I'm using a modified version of this to pull information from Stripe.

I've made it a management command as I don't expect it will be used very often..

I've run into some issues with this: for instance, a "customer.source.updated" event that adds a card that has since been removed. In that case, retrieving the card via the API fails. I'm not sure how to handle that yet.. For now I'm just ignoring

[2018-07-04 01:21] jamezpolley opened #692 "Creating customer fails becuase "shipping" is required"
Similar to #680 - the shipping field on a Customer object is not required by Stripe but djstripe errors if the field is not present.

[2018-07-04 01:27] #692 closed, assigned to nobody

[2018-07-04 02:24] jamezpolley opened #694 "djstripe_subscriber tagging makes it harder to recreate local data by pulling data from Stripe"
Apologies for the terrible subject; I'm new to the project and doing things in a way that's probably not intended, and I can't come up with a better description right now. I'll edit that once I have more of an idea of where this should be going.

I'm coming from a point where I have a Stripe account with a couple of years of history, but we don't have any record of a lot of what's happened outside

[2018-07-04 02:38] jleclanche commented on #694
The core djstripe assumption is that one Customer represents one django User object.

The Customer object is linked 1:1 to the User object.

Now the goal of dj-stripe is to consider Stripe the source of truth (that you may lose your data, but still recover it by simply scraping it back from the API). However, one thing is critically missing from Stripe if we were to just take the data as-is: The l

[2018-07-04 03:27] jamezpolley commented on #694
Yeah, makes sense overall :) The rest of my comments are a bit nitpicky, but I think overall we're in agreement.

Well, 1:2, if the User has Customers in both live and test ;)

In my case, we have actually had several ways to get Customers created, so some people have signed up through different routes with the same Email address. I'm not sure how I'm going to reconcile that - I can cancel old sub

[2018-07-04 03:32] jamezpolley commented on #694
To summarise my understanding:

- If djstripe_subscriber wasn't pushed back, I could recreate the entire state just by reading the Event list and replaying that. Stripe is the Source of Truth, and the world is a happy place - except for a way to link Stripe Customer objects to a local Subscriber object (which is usually a User).

- With djstripe_subscriber metadata being pushed to Stripe, it's now

[2018-07-04 03:43] jleclanche commented on #694
You don't need to do that. You are in full control of which User is represented by which Customer. dj-stripe does it automatically for you (and yes, automatically creates a Customer if one isn't already detected), but if it gets it wrong, you can safely delete the one dj-stripe created in favour of the legacy one.
Simplest way might be to set metadata's `djstripe_subscriber` field manually yoursel

[2018-07-04 03:47] jleclanche commented on #694
Just a tiny bit of extra context; until the newest version of dj-stripe, Events and WebhookEventTriggers were one and the same model and Event objects were used more as record-keeping of when webhooks hit dj-stripe. This has been cleaned up since, but to my knowledge nobody's used djstripe Event objects for event-sourcing back to a live state, and I don't think there's a benefit to doing it that w

[2018-07-04 04:06] jamezpolley commented on #694
But I have multiple Customers who are going to need  to be the same User - nothing to do with dj-stripe, everything to do with our legacy setup having multiple ways for a Customer to get created. Not something I think dj-stripe needs to worry about.

would it be possible for someone with some experience to quickly bash out a list of "Do customers, then sources, then charges, then subscriptions" or

[2018-07-04 04:14] jamezpolley commented on #694
Actually, in hindsight - if I'd done by processing the events from the start, no metadata would have been pushed back to stripe.

So maybe this isn't such a nuts idea after all. It needs to handle some weirdness, like sources that get added but aren't present now; and you probably want to ignore or strip djstribe-subscriber metadata (if the Subscriber object is still around to be linked, that can

[2018-07-04 04:27] jleclanche commented on #694
I think this is untested, but you can try it. There's probably assumptions remaining in dj-stripe that there is only one legitimate Customer per user, but data-wise nothing stops you from adding multiple Customer objects with the same djstripe_subscriber. If some of the Customer objects are empty (don't have any activity), I recommend deleting them, though.

I think the script I pasted above will

[2018-07-04 07:23] jamezpolley commented on #694
Yep, exactly.

I've just had 90 minutes or so in my car driving around thinking about this.

I think that my thinking comes down to:

- There's a good reason to have the djstripe_subscriber metadata - for anyone with an established site that has been using dj-stripe already; or anyone setting up something new from scratch with nothing in either django or stripe yet. For both of those cases it solv

[2018-07-04 18:47] jleclanche commented on #694
I think you make a reasonable argument that the djstripe_subscriber behaviour should be togglable in a setting.

Where I'm confused is, to my knowledge, that behaviour doesn't *modify existing data*; it ensures *new* data is always pushed with a matching Stripe-level foreign key. If I were to disable it right now, all that would do is cause potential issues when requesting an existing customer fro

[2018-07-05 04:38] radyz opened #696 "Archived plans not reflected"
Whenever a plan is archived stripe sets an active flag to false, however I don't see that reflected in the local Plan model which makes it hard to list only the active plans. I can see however Products have an active flag, can we get this added as well into Plans?

[2018-07-05 21:02] nomoretorgo commented on #595
@danryu
dj-stripe/djstripe/templates/djstripe/views.py Line 279
`                sub_item = sub.subscriptionitems.create(plan=sub_plan) #FIXME is this sane?`

AttributeError: 'Subscription' object has no attribute 'subscriptionitems'
See an opened bug by @jleclanche #669 which might relate

[2018-07-06 20:47] acoushawk opened #697 "Sync local Account with Stripe"
I apologize if I missed this somewhere but how do I sync an existing account in stripe to the local db? Do I just re-create the account locally based on what I entered in stripe? I tried to change a setting on the account in stripe to push a webhook but it ignored it.

Thanks!

[2018-07-06 22:06] jleclanche commented on #697
There's not a super easy way to do it right now. Some discussion about it is in https://github.com/dj-stripe/dj-stripe/issues/694#issuecomment-402359504

It's possible using API calls though. The general structure:

[code]

Where DjstripeClass is, for example, `Customer`, `Account`, etc.

[2018-07-06 22:06] #697 closed, assigned to nobody

[2018-07-08 08:30] jleclanche commented on #491
Closing. If someone wants to get it working feel free but until then *shrugs*.

[2018-07-08 08:30] #491 closed, assigned to kavdev

[2018-07-08 08:32] jleclanche commented on #671
Dup of #97

[2018-07-08 08:32] #671 closed, assigned to nobody

[2018-07-08 08:32] jleclanche commented on #97
- [x] Application Fee Refunds
- [x] Application Fees
- [x] Country Specs
- [x] ~~External Accounts~~ these don't seem to be different from regular bank accounts and cards
- [x] ~~Recipients~~ (deprecated)
- [x] Transfers (Update existing fields, drop deprecated stuff)
- [x] Transfer Reversals

[2018-07-08 20:42] kavdev commented on #491
see also https://github.com/ZeroCater/linty/issues/124

[2018-07-09 02:07] kavdev opened #698 "Create a settings flag to toggle djstripe_subscriber linking behaviour"
See discussion in https://github.com/dj-stripe/dj-stripe/issues/694

[2018-07-09 02:07] kavdev commented on #694
https://github.com/dj-stripe/dj-stripe/issues/698

[2018-07-09 03:10] kavdev commented on #691
@martimarkov it's technically expected behavior. We're trending towards a more read-only paradigm (where Stripe is the source of truth), but if you wanted submit a PR that adds functionality to our admins that automatically creates a stripe object when you create a dj-stripe object, I'm sure we'd be okay with merging it.

@jleclanche @lskillen thoughts?

[2018-07-09 03:18] kavdev commented on #691
See also conversation (and linked conversations) in https://github.com/dj-stripe/dj-stripe/pull/593

[2018-07-09 04:36] jleclanche commented on #691
My thought are in #452. Until work is done on that one, let's keep discussion there.

[2018-07-09 04:36] #691 closed, assigned to nobody

[2018-07-10 20:22] TimothyBramlett commented on #647
@w00kie Definitely!  No clue how to get started with this either.  Probably just going to look at the Stripe API docs myself and just avoid this library for now.

[2018-07-11 22:28] pandabearcoder opened #699 "Deprecated view url still used by template"
<a class="btn btn-primary" href="{% url 'djstripe:confirm' plan_id=plan.id %}" role="button">
https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/templates/djstripe/subscribe.html#L25

Are we still supposed to use the provided templates?

[2018-07-12 15:33] m-vdb commented on #264
I am having this issue with version 1.2.0. Apparently the migrations were squashed and the feature described in #265 doesn't work. I am trying with 1.1.0

[2018-07-12 16:38] kavdev commented on #264
@m-vdb thanks for the heads up. Please create a new issue (mentioning this one) and we'll dig into it.

[2018-07-12 21:09] michi88 opened #700 "1.1.0 not compatible with python 2"
First of all, thanks a lot for your hard work! We've been using dj-stripe for a long time and it has served us well. Now we're ready to upgrade! Let the fun begin ;).

We're using python 2 and Django 1.11. I'm correct that 1.2 should support that right? Anyway we have to move to 1.1 first for the migrations. There is one problem though in the 1.1 release.

In commit https://github.com/dj-stripe/dj

[2018-07-12 23:01] michi88 commented on #650
Having the same issue here. @mrcpj1998 would you mind sharing what your manual alterations were? Downgrading to 1.11.7 did not help for me.

[2018-07-12 23:42] jleclanche commented on #700
Thanks for the PR!
I'll get a 1.1.1 release done soon hopefully. I'd like to be compatible with stripe-python 2.0 first.

[2018-07-12 23:54] michi88 commented on #650
This seems to be the issue: https://code.djangoproject.com/ticket/25105

I needed to run this before running the migration to 'fix' this error:

[code]

[2018-07-16 03:03] alexphelps opened #705 "Migrations Error Upgrading from 0.8.0 to 1.01"
Upgrading from 0.8.0 to 1.01 and getting this error on my local. Any idea what is causing this?

`psycopg2.OperationalError: cannot ALTER TABLE "djstripe_invoice" because it has pending trigger events`

[code]

Full output
[code]

[2018-07-16 03:05] alexphelps opened #706 "0.8.0 Errors 'module' object has no attribute 'StripeObjectEncoder'"
As of last night, I started getting errors with 0.8.0 with all webhooks failing.
[code]

Is it possible to fix this while I figure out how to upgrade in #705? Any advice on the approach?

[2018-07-16 04:11] alexphelps commented on #705
Found that this is an issue with postgres 9.6.

[2018-07-16 05:07] jleclanche commented on #706
Did you upgrade the stripe library to 2.0 or something? StripeObjectEncoder was never in djstripe itself.

[2018-07-16 05:25] jleclanche commented on #705
@alexphelps Can you elaborate on what you found?

[2018-07-16 06:51] alexphelps commented on #706
@jleclanche Yes, it happened unintentionally as djstripe didnt specify a max version. Downgrading now.

My fault for not having this in my requirements.txt to begin with >*<

[2018-07-16 06:52] #706 closed, assigned to nobody

[2018-07-16 06:59] alexphelps commented on #705
@jleclanche I downgraded my postgres (on local) to 9.4 and this error does not happen. I should have had 9.4 on my local anyways to match my production.

[2018-07-16 07:17] jleclanche commented on #705
That's concerning though, it shouldn't happen in the first place. Gonna close it since there's a workaround and I don't have a way to reproduce it but if there's a fix please PR it.

[2018-07-16 07:17] #705 closed, assigned to nobody

[2018-07-16 07:34] m-vdb opened #707 "DJSTRIPE_SUBSCRIBER_MODEL_MIGRATION_DEPENDENCY breaking in 1.2.0"
Hi there!

Python: `3.6.3`
Django: `1.11.5`
dj-stripe: `1.2.0`

In `1.2.0` it is no longer possible to use a custom subscriber model, and I think this is not intended.

How to reproduce:
- set `DJSTRIPE_SUBSCRIBER_MODEL` to a custom model
- try to set `DJSTRIPE_SUBSCRIBER_MODEL_MIGRATION_DEPENDENCY` to the right migration, something like `0107_create_business`
- `./manage.py migrate` and `./manage

[2018-07-16 07:35] jleclanche commented on #707
What exactly is causing this not to be available in 1.2.0? Do you have a patch?

[2018-07-16 07:41] m-vdb commented on #707
No, I don't have a patch. Using version `1.1.0` works. I originally commented on #264 and there is more info on the feature in this comment https://github.com/dj-stripe/dj-stripe/issues/264#issuecomment-166870857

This commit https://github.com/dj-stripe/dj-stripe/commit/840eafb144484b059c68a9341c8258e2952f1d83#diff-5906e6086eaca3b45fe92fbb152b3c9c makes it not available anymore because it removes

[2018-07-16 07:46] jleclanche commented on #707
Hmmm... Ok, I see what the problem is. Yeech, I completely skipped that we had a custom subscriber model available...

Can you explain what your models look like, roughly, and why you have a custom Subscriber model? I'd like to understand this a little better.

[2018-07-16 08:10] m-vdb commented on #707
I want to use a `Company` model as a subscriber. Within a company, there are several users that can handle company settings, including billing settings. I don't think that this is something too exotic 😄

[2018-07-16 08:18] jleclanche commented on #707
Yep, gotcha. Could you show me your company model? Any extra fields on it, etc. I'd like to see if it makes sense to support this natively.

[2018-07-16 08:58] m-vdb commented on #707
Here are my models:

[code]

It is worth noting that the `CompanyMember` is not the main type of user we have. We also have a `Member` model that has a 1-to-1 relationship with the `settings.AUTH_USER_MODEL`. Hope this clarifies.

[2018-07-16 10:01] justinmayer commented on #707
As an additional data point, I also use a custom subscriber model with dj-stripe, for the same reason Maxime mentioned. I use [Django-Organizations](https://github.com/bennylope/django-organizations) for this purpose, with the following model definition:
[code]

[2018-07-16 10:18] jleclanche commented on #707
Thanks folks. I'll try to recover this functionality (or I'll gladly take a PR to do it) and cherry-pick it on the 1.2.x branch as well.

Having a shared billing account does seem like something we should support out of the box. I need to think about it. Maybe multiple users can manage a single billing account.

[2018-07-16 10:19] jleclanche commented on #707
Maybe we should have a m2m between Customer and an arbitrary model.

[2018-07-16 11:01] m-vdb commented on #707
Yeah definitely. Also, one thing I was surprised about was that the `djstripe.Customer` model directly encapsulated a relationship to the user model, I wasn't expecting that and I was about to create my `Company` model with a 1-to-1 relationship to the `djstripe.Customer` model. I think that if you let your users decide how to do that you avoid the complexity of handling swappable models. I don't

[2018-07-16 17:12] m-vdb commented on #417
Arf, almost a deal breaker for me too :( Do you guys need help on this issue? Are we far from a patch?

[2018-07-17 23:18] kavdev opened #709 "Update Customer.subscribe() documentation to include new parameters"

[2018-07-17 23:26] kavdev commented on #707
@m-vdb yeah we've come along way from where dj-stripe was a few years back. The original intent of having the user attached to our Customer model was to enable handling of paid-only features via views, decorators, and middleware.

Now that we're more of a mirror of Stripe data, I suppose we could look into coming up with another solution, possibly one where we just throw an exception if we don't f

[2018-07-18 13:48] martinhill commented on #709
Oops, actually meant to do that, but somehow forgot before committing. Added: cd487a74cac6a9ee6b3a68724565915075530add

[2018-07-18 13:55] joolean opened #710 "module 'stripe' has no attribute 'InvalidRequestError'"
raised from djstripe/models.py:2982, on dj-stripe 1.2.1

[2018-07-18 14:01] jleclanche commented on #710
Don't you mean on dj-stripe 1.2.0? 1.2.1 fixes that exact issue.

[2018-07-18 14:01] #710 closed, assigned to nobody

[2018-07-18 14:01] martinhill commented on #710
@joolean I encountered the same issue with dj-stripe 1.1.0, fix was to put ```stripe>=1.84.2,<2.0``` in my requirements.txt

[2018-07-18 14:02] jleclanche commented on #710
@martinhill The fix was backported to 1.1.1 FYI, which was just released as well. So you should be good to use stripe>=2.0 again.

[2018-07-19 08:45] jamezpolley commented on #694
I guess that depends on what you're considering "new data".

For me, my "existing" data was in stripe. Everything in my local Django instance was just test things I'd been playing around with. dj-stripe was able to match some local django users with Stripe users; I don't remember exactly how. I may have been doing something to sync Stripe users into Django? DJ-stripe then pushed metadata up to str

[2018-07-20 04:51] hgezim commented on #694
Thanks for starting this discussion, @jamezpolley.

This code does not create metadata on the Stripe Customer object:

[code]

[2018-07-21 14:58] danryu commented on #417
Hi @m-vdb - sorry, been away on holiday.
Answer is, I don't think the patch is far away. @jleclanche previously suggested I do a PR to get some more eyes on it (even though I haven't updated tests), and because I can't use multiplan anyway now :( - I had to de-prioritise my multiplan attempt.
Please take a look at the PR and maybe have a chat with @jleclanche on Discord.

[2018-07-22 04:48] jamezpolley commented on #694
I'm confused about why you mention this @hgezim. I don't think that I've ever said that that code would create metadata. I'm guessing you had a reason to mention this though, and I'm just not understanding what the reason is. Could you expand on this to help me understand?

[2018-07-22 15:55] jleclanche commented on #700
1.1.1 and 1.2.1 are out with python 2 fixes, you should be good to use that now.

[2018-07-22 15:55] #700 closed, assigned to nobody

[2018-07-22 15:58] jleclanche commented on #315
Closing this, I think it's just too far outside of dj-stripe's reach and it's irrelevant until we have icons for every card.

[2018-07-22 15:58] #315 closed, assigned to nobody

[2018-07-22 15:58] jleclanche commented on #240
Closing this, bitcoin has been deprecated by stripe.

[2018-07-22 15:58] #240 closed, assigned to nobody

[2018-07-22 15:59] jleclanche commented on #260
Closing, we removed views

[2018-07-22 15:59] #260 closed, assigned to nobody

[2018-07-22 16:00] jleclanche commented on #326
Closing, views are deprecated

[2018-07-22 16:00] #326 closed, assigned to nobody

[2018-07-22 16:01] jleclanche commented on #513
This landed a while ago

[2018-07-22 16:01] #513 closed, assigned to nobody

[2018-07-22 16:02] jleclanche commented on #528
I added dev0 in git... anything beyond that wouldn't work when pip installing from http-zip.

[2018-07-22 16:02] #528 closed, assigned to nobody

[2018-07-22 16:45] #709 closed, assigned to nobody

[2018-07-22 16:47] #635 closed, assigned to nobody

[2018-07-22 17:06] #574 closed, assigned to nobody

[2018-07-22 17:34] #696 closed, assigned to nobody

[2018-07-22 17:35] jleclanche commented on #650
This has landed in 1.1.1 and should be fixed now.

[2018-07-22 17:37] #625 closed, assigned to nobody

[2018-07-22 17:37] jleclanche commented on #598
Closing, I don't know how to action this ticket. PRs to improve documentation are welcome.

[2018-07-22 17:37] #598 closed, assigned to nobody

[2018-07-22 17:39] jleclanche commented on #514
Closing this. Sad as it is to store strings in the db, it's consistent across db engines and less confusing when operating on sql I suppose. With the improvements in 1.0 at least we have enum references. I don't know if this ever could be actioned further, so closing -- if someone has a better idea, reopen.

[2018-07-22 17:39] #514 closed, assigned to nobody

[2018-07-22 17:40] jleclanche commented on #550
Closing. Polymorphic is no longer in use and 1.10 is no longer supported.

[2018-07-22 17:40] #550 closed, assigned to nobody

[2018-07-22 18:00] #546 closed, assigned to nobody

[2018-07-22 18:06] cpebble commented on #650
It's been a while, but at one point I just gave up on the Django migration
and altered the database through psql to be structured correctly(setting
sensible defaults) and forced Django to recognize the database as fully
migrated

On Fri, Jul 13, 2018, 01:01 Michaël Krens <notifications@github.com> wrote:

[2018-07-22 18:07] jleclanche commented on #650
I get ya. The reported issues in this thread should all be fixed though. If someone's getting other issues, will have to open new tickets... I can't reproduce any of it here :(

[2018-07-22 18:33] #685 closed, assigned to nobody

[2018-07-23 13:15] m-vdb commented on #417
Ok thanks, I will try to take a look!

[2018-07-24 04:02] #668 closed, assigned to nobody

[2018-07-24 04:04] jleclanche commented on #595
This should be fixed by 11be4d3d2f7029e4567657b15b085ff9bc712b73 -- `DJSTRIPE_SUBSCRIPTION_REDIRECT` just needs to be set now if you're using it.

[2018-07-24 04:04] #595 closed, assigned to nobody

[2018-07-24 04:11] jleclanche commented on #575
There's a `sync_plans_from_stripe` command now, use that instead.

[2018-07-24 04:11] #575 closed, assigned to nobody

[2018-07-24 04:13] #562 closed, assigned to nobody

[2018-07-24 04:13] #624 closed, assigned to nobody

[2018-07-24 04:13] #669 closed, assigned to nobody

[2018-07-24 04:13] jleclanche commented on #699
This is now gone.

[2018-07-24 04:13] #699 closed, assigned to nobody

[2018-07-24 05:11] jleclanche opened #712 "Dropping StripeFields"
We currently duplicate 12 core Django fields in djstripe.fields. This is ugly and unnecessary.

StripeFieldMixin has multiple uses:

1. It stores the upstream field name if it differs from the local one (`stripe_name`).
2. It allows fetching a nested property into a database field (`nested_name`).
3. It allows marking fields as deprecated (`deprecated`).
4. It checks whether all required fields ar

[2018-07-24 15:57] #640 closed, assigned to nobody

[2018-07-24 15:58] jleclanche commented on #640
I've decided to set it to 0.0.0.0, I don't think it should be nullable. This will also raise a warning now as it's really not a healthy setup.

[2018-07-25 06:00] #503 closed, assigned to nobody

[2018-07-25 06:13] lengzuo opened #713 "Having "Account matching query does not exist" when perform customer.charge."
Getting Account matching query does not exist when trigger customer.charge method.

[code]

[2018-07-25 08:50] #684 closed, assigned to jleclanche

[2018-07-25 08:50] #712 closed, assigned to nobody

[2018-07-25 09:20] #614 closed, assigned to kavdev

[2018-07-25 09:26] jleclanche commented on #676
Ok well 1.1 and 1.2 both have this fix so closing.

[2018-07-25 09:26] #676 closed, assigned to jleclanche, kavdev

[2018-07-25 09:39] #654 closed, assigned to nobody

[2018-07-25 10:07] alexphelps commented on #705
@jleclanche Circling back on this now to try to upgrade again. Getting the same error. I have no idea how/why. djstripe 0.8 has been running perfectly fine on my install for a 2+ years now. Any suggestions on what to do?

[2018-07-25 14:37] jleclanche commented on #705
@alexphelps Can you file a new issue with the next problem you encounter? Or alternatively swing by the Discord server.

[2018-07-25 14:49] jleclanche commented on #341
Closing this ticket for now. If we want this in the future I'll take a PR for it but given the different direction of dj-stripe I'm not convinced it's useful. I probably just want to make it easier to use the underlying Stripe library with local syncing.

[2018-07-25 14:49] #341 closed, assigned to kavdev

[2018-07-25 14:49] jleclanche commented on #342
Closing this ticket for now. If we want this in the future I'll take a PR for it but given the different direction of dj-stripe I'm not convinced it's useful. I probably just want to make it easier to use the underlying Stripe library with local syncing.

[2018-07-25 14:49] #342 closed, assigned to kavdev

[2018-07-25 16:31] #31 closed, assigned to nobody

[2018-07-25 16:43] jleclanche commented on #417
Folks I added SubscriptionItem in master. Can someone try it out?

[2018-07-25 18:21] #536 closed, assigned to nobody

[2018-07-25 18:23] jleclanche commented on #474
I'm closing this. Until stripe/openapi#36 is done there's no easy way to tell which is which...

[2018-07-25 18:23] #474 closed, assigned to nobody

[2018-07-25 18:30] jleclanche commented on #590
I'm closing this as a dupe of #452.

[2018-07-25 18:30] #590 closed, assigned to nobody

[2018-07-25 19:09] danryu commented on #417
@m-vdb I suggest you go ahead and pull master and see if it works for you. It may well work out of the box ;-)

[2018-07-25 20:30] hgezim commented on #694
@jamezpolley, @jleclanche said `the script I pasted above will get you like 90% of the way if not more`.

[2018-07-25 20:34] hgezim commented on #707
Is this a hard test to create to ensure this won't break in the future?

[2018-07-25 21:57] #97 closed, assigned to kavdev

[2018-07-25 21:58] jleclanche commented on #97
All outstanding Connect models have been implemented. Please file new issues for other issues relating to Connect.

[2018-07-25 22:10] jleclanche commented on #673
Blocked by https://github.com/stripe/stripe-python/issues/454

[2018-07-26 00:11] #694 closed, assigned to nobody

[2018-07-26 00:11] #698 closed, assigned to nobody

[2018-07-26 00:11] jleclanche commented on #694
In master, you can now set `DJSTRIPE_SUBSCRIBER_CUSTOMER_KEY` to `None` to disable this.

[2018-07-26 00:12] jleclanche commented on #608
I guess it's staying for now.

[2018-07-26 00:12] #608 closed, assigned to jleclanche, lskillen, kavdev

[2018-07-26 00:13] jleclanche commented on #678
It's now documented in settings.rst

[2018-07-26 00:13] #678 closed, assigned to nobody

[2018-07-26 00:20] jleclanche commented on #599
Closing as dupe of #576 since it's the same underlying issue: We're handling the .deleted webhooks wrong.

[2018-07-26 00:20] #599 closed, assigned to nobody

[2018-07-26 21:40] hgezim commented on #694
@jleclanche, I'm unclear as to what that would disable. Initially, I said:

[2018-07-26 23:16] hgezim commented on #694
@jamezpolley,

Here's what I ended up with. I've set `DJSTRIPE_SUBSCRIBER_MODEL` to a model that has a many-to-many relationship with `django.contrib.auth.models.User`.

[code]

I'm assuming that you have `User` objects that match the email of the Stripe Customer. It then tries to find and link the `Business` (subscriber model) to the User and Customer.

I know I'm probably using a few anti-patter

[2018-07-27 03:45] lengzuo commented on #713
Solving the issue by downgrade the dj-stripe to dj-stripe==1.0.1 from dj-stripe==1.2.1.

[2018-07-27 15:24] jleclanche commented on #713
Wait, that's not a fix.

[2018-07-27 15:25] jleclanche commented on #713
If you can help track down which change broke this that'll be a great way to get it fixed faster btw -- I'll make sure to backport to 1.2.0.

[2018-07-27 22:13] Skorpyon commented on #713
Problem it there:
`psycopg2.IntegrityError: ОШИБКА:  нулевое значение в столбце "display_name" нарушает ограничение NOT NULL
`
Djstripe try insert into Account table row, that it got from stripe with NULL in `display_name` property

Failed SELECT is just result of this faled INSERT

Actually does it have sense to wrap `Event.invoke_webhook_handlers` into `@transaction.atomic`?
I feel that it is no

[2018-07-27 22:45] Skorpyon commented on #713
For me it failed also on `support_email` and `support_phone`
I set `stripe_required=False` to this fields, migrate and it solved issue.

Why this fields was required? Is it Stripe API changes?

[2018-07-28 07:22] jleclanche commented on #713
@Skorpyon I'm fixing those, but is that really the same issue as reported in the original post here?

[2018-07-28 07:40] #713 closed, assigned to nobody

[2018-07-28 08:08] jleclanche opened #714 "ApiErrorCode needs to be updated"
https://stripe.com/docs/error-codes

[2018-07-28 10:50] Skorpyon commented on #713
@jleclanche

Probably no, sorry, I just read first part of issue name with 'not exist'. But I feel that its very close to original issue.

[2018-07-29 02:55] hgezim opened #715 "My own tests are so slow due to djstripe migrations"
When running `./manage.py test`, after installing `djstripe` my tests take over 1 minute to run. Most of the time here is spent running djstripe migrations.

I'm on djstripe 1.1.0 due to #707.

Any ideas on how to improve this?

[2018-07-29 02:58] jleclanche commented on #715
This is why we released 1.2.0, which wipes the migrations. So your best bet to improve it is help fix #707 (maybe with a PR), and I'll get 1.2.2 released with that fix. :)

Closing because the fix is in 1.2, and your issue is #707.

[2018-07-29 02:58] #715 closed, assigned to nobody

[2018-07-29 15:12] alexphelps opened #716 "Migration 0008 Issues 0.8.0 to 1.1.1"
I've removed all references in my app's db to djstripe models (previously had a fk link to invoices but that is now cleaned up). I am using a custom subscriber model (have that set properly) but the rest of my app has zero relations to the djstripe models so I would think that my install should run correctly. What are my options here? How can I get passed this migration?

[code]

[code]

Also `pyt

[2018-07-31 07:33] jleclanche commented on #716
So here's what's happening in that migration... All Customer, Subscription, Charge, Invoice, InvoiceItem, Transfer and Plan objects are getting deleted and re-synced from Stripe.

The problem is that the way they're getting resynced is not compatible with the migrations that come after it. It was written in a way that just doesn't work.

I frankly don't know what to do about this piece of code. I

[2018-07-31 07:38] jleclanche commented on #716
Could you try this patch please? You may end up with orphaned objects from what I understand, so don't try it in production directly.

[code]

[2018-07-31 07:52] jleclanche commented on #707
Folks, I don't use this feature, but I'd like to recover it for 1.2.2 at least because dropping it wasn't planned (and I don't want to drop it until we actually get an alternative).

Can someone who does use it work on a PR? This is blocking 1.2.2, and I'd like to get everyone on a working, up-to-date version of dj-stripe.

[2018-08-02 02:15] alexphelps commented on #716
@jleclanche I had previously tried this but was getting installation issues when trying to install dj-stripe from my fork repo. Will try again over the weekend, thanks.

[2018-08-02 06:24] yourbuddyconner opened #718 "Guidelines for Documentation?"
Hey! I'm working on implementing some stripe-related stuff in a project right now, and I'm utilizing Stripe's metered billing functionality. This appears to be cutting edge to the dj-stripe package, with the `djstripe.models.billing.SubscriptionItem` having been implemented just last week!

As I'm figuring this out, I'd be happy to contribute back some documentation to the project! I think the pac

[2018-08-02 07:06] jleclanche commented on #718
Thanks a ton for the offer! Yes, documentation is sorely lacking and I absolutely would love some help with it.

Best is to [join the Discord](https://discord.gg/UJY8fcc) if you have questions as I always hang there. In the mean time, documentation is free-for-all, if you have improvements feel free to PR them, I have no particular guideline.

Regarding SubscriptionItem you will most likely hit #6

[2018-08-02 07:33] #718 closed, assigned to nobody

[2018-08-07 08:58] #673 closed, assigned to nobody

[2018-08-07 09:06] #707 closed, assigned to nobody

[2018-08-07 17:07] hgezim opened #720 "Create docker container (for testing, etc)"
I was going to create a test for PR https://github.com/dj-stripe/dj-stripe/pull/719 but it was too hard to setup the testing environment as I don't have Postgres or tox installed locally.

We could create a `Dockerfile` file that allow people to run tests with a single command and setup the database all in one go.

Thoughts?

[2018-08-07 17:08] jleclanche commented on #720
If that helps yeah feel free. dj-stripe should work on sqlite for tests though, and tox is a lesser ask than docker to install imo.
The tests default to postgres but we should have a way to switch to sqlite.

[2018-08-13 21:24] hgezim commented on #720
Docs say "Assuming the tests are run against PostgreSQL". If sqlite is recommended, maybe update that.

Also how do I tell djstripe what connection string to use? All instructions say is this:

[code]

[2018-08-13 21:28] jleclanche commented on #720
sqlite isn't recommended, and we run the tests on postgres because we have some postgres-specific features.

re. how to tell it what connection to use that's not possible at this time, which is why I was saying, we should :)

[2018-08-15 10:44] Eraldo opened #721 "subscription howto"
I was considering this package to manage payment subscriptions, however the documentation does not seem to be ready: https://dj-stripe.readthedocs.io/en/stable-1.0/usage/subscribing_customers.html

I have already implemented the front-end side to the point where I have a source object with a token.
What to do next?

Is there an example elsewhere? Or is there an estimate on when this will be docume

[2018-08-15 14:32] ndjdev opened #722 "IntegrityError on support_email"
Currently on stable/1.2 and there's an IntegrityError for support_email generated by a webhook call from Stripe. My solution to this was to create a new migration making it nullable as seen on my fork here https://github.com/HiddenClever/dj-stripe/commit/c50b063a0d74c3b808a6bebbb8cb3e6e0bb0e18e which works fine. However I've just gone to try to issue a pull request for this and have seen that all

[2018-08-15 22:59] jleclanche commented on #722
Whenever 1.3 releases, there will be a proper migration in place that works from 1.2.0 all the way through 1.2.x. Right now there is no migration plan from 1.2 to master because master is in flux.

I think your issue is fixed in the latest version of 1.2 though?

[2018-08-16 10:06] ndjdev commented on #722
Great thanks that's really good to know, I'll try out 1.2.2 and see if I still get an error with support_email

[2018-08-16 10:06] #722 closed, assigned to nobody

[2018-08-21 01:47] exisz commented on #707
I am researching why migrations won't work as it says:

Reading above, does this mean custom subscriber model is officially unsupported?

[2018-08-21 06:12] jleclanche commented on #707
@gotexis this should be fixed in 1.2.2

[2018-08-21 11:42] phithor commented on #721
I have the same problem. I have decided to use this project for it's local database and the webhook/event management.

Otherwise I use stripe's official library, which works well.

Regarding customers, i added a post save signal to users which create a new stripe customer automatically for every user that signs up. I have bundled this with an expand user model, profile. This I have working using t

[2018-08-25 06:53] imacek opened #723 "Subscription.cancel not working since last Stripe API update"
It seems Stripe decided to not accept "at_period_end" parameter in their delete subscription API anymore.
https://stripe.com/docs/upgrades#2018-08-23

This has broken Subscription.cancel method which sends "at_period_end" as a parameter.

This is the response from the API:

[code]

[2018-08-25 13:37] jleclanche commented on #723
This was fixed in 1.2.2 (744631130e36fe05f88df00b1f3d4ad1c2fb001b). Please try it in that version and let me know if it doesn't work.

[2018-08-25 13:38] jleclanche commented on #723
Sorry, i read too quickly.

[2018-08-25 23:30] imacek commented on #723
Can you give me a direction on how the fix should architecturally fit in? I might be able to open a PR for it but don't have enough experience with dj-stripe to decide what to do.

[2018-08-25 23:49] jleclanche commented on #723
[In billing.Subscription.cancel](https://github.com/dj-stripe/dj-stripe/blob/4d4975d8c5dc2f6c31558ff9f33338698357d1d5/djstripe/models/billing.py#L1099), right before [attempting an api_delete()](https://github.com/dj-stripe/dj-stripe/blob/4d4975d8c5dc2f6c31558ff9f33338698357d1d5/djstripe/models/billing.py#L1129), we instead need to check `at_period_end` and issue an update call instead of the dele

[2018-08-28 05:04] exisz opened #724 "Product webhook broken using API 2018-07-27"
First I would like to extend my gratitude to all who contributed to this great project.
It seems that I cannot sync with Stripe product on creation, or manually.

[code]
result in below:

I am new to the project. Could someone elaborate if this is indeed broken or am I doing something wrong?

Thank you.

[2018-08-28 05:20] exisz commented on #724
On further investigation, it seems that there are two product types now - one is 'good', the other is 'service'.  'statement_descriptor' is only for the service type. In webhook listener, making this field optional would supposedly fix it.

[2018-08-28 06:15] exisz commented on #647
@TimothyBramlett  I just started with this/stripe, and I am in the same situation. But I figured as such:

- The primary benefit is having a local copy of most data from Stripe. This could come in handy because I don't like the idea of having one solution provider handling all my precious data. If I want to have an additional payment provider then I will know how to start with (extending the dj-st

[2018-08-28 16:29] TimothyBramlett commented on #647
@gotexis Understood.  Yeah in the end I just looked at the Stripe API and wrote my own code based off of it and and a few of the examples they have.  And my use case may be different than yours but I don't really mind about being tied to one payment provider because I like to keep things as simple as possible.  Stripe is very reputable so I'm not that worried.  If it over becomes a problem then I

[2018-08-30 19:59] hgezim opened #725 "Coupon not syncing"
In `models.Customer._attach_objects_post_save_hook`, there's a check for `discount` as follows:

[code]

However, when examining data, `discount` is set to null and actual discount info happens to be on `subscriptions['data'][0]['discount']`.

Thoughts on why this is happening? I tried the default API version (`2018-05-21`) as well as `2017-06-05`.

Here's the full customer data:

[code]

[2018-09-05 04:14] lifez opened #727 "Sync all Stripe data to local"
Should we have a management command that sync all Stripe data to local db?

[2018-09-05 05:00] #723 closed, assigned to nobody

[2018-09-05 06:28] jleclanche commented on #716
@alexphelps pinging for an update

[2018-09-05 06:30] jleclanche commented on #724
@gotexis this error should already be fixed in the latest 1.2.2 release. Can you make sure you're on that one?

[2018-09-05 06:31] jleclanche commented on #727
This is #89. Happy to take a PR for such a management command, yes.

[2018-09-05 06:31] #727 closed, assigned to nobody

[2018-09-05 06:47] lifez commented on #89
I want to do a management command that pull
[code]
From Stripe to local. Can I make this and open a PR?

[2018-09-06 14:50] camrail commented on #724
I am have upgraded to 1.2.2 and have added a Product under the Orders tab in the Stripe web portal.  On the webhook admin I am also getting the exception "Required stripe field 'statement_descriptor' was not provided in Product data object."

[2018-09-07 18:07] rlfrahm commented on #307
Trying to migrate 30,000+ customers from v0.8.0 to v1.0.1 and am receiving the following error when attempting to migrate:
[code]
I know you said that we need to start over, but what are the actual steps I need to take to migrate? I don't see those steps outlined anywhere.

[2018-09-07 18:50] jleclanche commented on #307
@rlfrahm Can you try 1.2.2 instead of 1.0.1? There's several more migration fixes there. If you're still having issues migrating to 1.2.2, could you file a new issue?

[2018-09-07 20:32] rlfrahm commented on #307
The problem with 1.2.2 is that the migration `0001_initial` creates all the models... But I've already got models created for djstripe, so my current state clashes with the state in 1.2.2. This is the same problem I'm having with 1.0.0 and on.

I really just need to know how to get from 0.8.0 to >0.8.0. Am I supposed to create a migration for djstripe that moves `Customer` to some other table name

[2018-09-07 20:33] jleclanche commented on #307
Sorry, i meant 1.1.1.

[2018-09-09 10:53] alexphelps commented on #716
@jleclanche sorry, havent gotten back to this yet.

[2018-09-14 17:36] martimarkov opened #728 "When using Customer.add_card no Source object is created"
There is nothing that gets created when I use Customer.add_card (except a payment method). Is this expected behavior? If so why?

[2018-09-14 17:37] jleclanche commented on #728
Which version?

[2018-09-14 17:39] martimarkov commented on #728
dj-stripe==1.2.2

[2018-09-14 17:41] jleclanche commented on #728
[add_card() in 1.2.2](https://github.com/dj-stripe/dj-stripe/blob/1.2.2/djstripe/models.py#L1110-L1136) creates a PaymentMethod object, which resolves to a Source.

Can you paste the codeblock you're using so I can understand what you mean?

[2018-09-14 17:45] martimarkov commented on #728
"""Add new card for user"""
user = User.objects.filter(id=request.user.pk).get()
customer = sync_subscriber(user)
customer.currency = 'gbp'
card_token_serializer = CardTokenCreateSerializer(data=request.data)

# TODO: Remove as it might not be needed?
user.stripe_customer = customer
if not card_token_serializer.is_valid():
    return Response(card_token_serializer.errors, status=400)

if not custo

[2018-09-14 17:51] jleclanche commented on #728
You're calling `customer.save()`, but customer is an "old" version of the customer by that point.

The add_card() method will return the source. If you want the customer again, you can do `customer.api_retrieve()`.

Your add_card method can just look like this:

[code]

[2018-09-14 18:06] martimarkov commented on #728
Ok, got the customer part. Thanks!

But in django admin I still won't get a source object, right?

Because I can see that a PaymentMethod object has been created but there is no Source object and `/admin/djstripe/source/` always show 0 items.

[2018-09-14 18:18] jleclanche commented on #728
Hm, no, it should definitely be saving the source. Check in Stripe if it exists?

[2018-09-14 19:31] martimarkov commented on #728
Seems to not be creating it at all on Stripe:

<img width="1131" alt="screen shot 2018-09-14 at 20 07 50" src="https://user-images.githubusercontent.com/1858736/45570945-8dc80c80-b85c-11e8-8efe-9fe5eca4b33a.png">

I'm not sure that is correct. I would imagine that using add_card would also create the source object.

[2018-09-14 19:50] jleclanche commented on #728
A card is not the same thing as a source. If you're passing a "card" token (Stripe.js v2 aka "stripe checkout"), you create a Card. If you're passing a "source" token (Stripe Elements), you'll create a Source object of "card" type.

Make sure to use Stripe Elements.

[2018-09-14 19:51] martimarkov commented on #728
We are using stripe elements. Specifically this: https://github.com/stripe/react-stripe-elements

[2018-09-14 19:52] jleclanche commented on #728
If so then I don't understand how a Card object is created. The token should look something like `src_XXXXX`, if it looks like `tok_XXXXXX` then it's a v2 card token. Can you check?

[2018-09-14 19:53] martimarkov commented on #728
It is coming back from stripe in the format of tok_xxxxx. I’ll look into it right now.

[2018-09-14 19:55] jleclanche commented on #728
Yep that'd be the issue then, and it's likely on the frontend. If you get proper v3 tokens then the same code path will create a Source (and the PaymentMethod will resolve to a Source instead of a Card). Both work fine, but Sources are far better, so make sure to switch over :)

Closing but feel free to reply here if you need more help.

[2018-09-14 19:55] #728 closed, assigned to nobody

[2018-09-14 20:20] martimarkov commented on #728
Ok, changed from `createToken` to `createSource` in the frontend and everything is working now. Thanks for the assistance. :)

[2018-09-14 20:21] jleclanche commented on #728
Great!

[2018-09-27 23:20] hgezim opened #729 "How do I create a customer?"
The documentation is either lacking or API is quite wonky.

Create a customer has been a guess and check process. I found that I need `account_balance`, `delinquent` to be set but now I get a duplicate key error:

`duplicate key value violates unique constraint "djstripe_customer_stripe_id_key"
DETAIL:  Key (stripe_id)=() already exists.`

Where do I get a stripe_id if I don't have the Customer ye

[2018-09-28 15:28] FadyAlfred opened #730 "Get warning after upgrade to latest version "id renamed to djstripe_id" ?"
Hello, guys, I upgrade djstripe by following the upgrade notes provided here :
https://github.com/dj-stripe/dj-stripe/releases
And make some changes to my code and everything working fine but when i run pytest I get this warning :
[code]
So could someone take a look at it?

[2018-09-29 01:30] jleclanche commented on #730
It sounds like you might be referencing a `.id` attribute on one of the djstripe models somewhere in either your code or your tests. I can't really help if I don't see the code though. If you're having trouble finding it you can turn the deprecation warning into an error to see the traceback.

[2018-09-29 23:51] FadyAlfred commented on #730
Yes, that's true I use `.id` but when I try to change to `djstripe_id` i get an error that's model have no field called `djstripe_id` and when I take a look on your models I found that's the models don't have field `djstripe_id` all have `id` only :
https://dj-stripe.readthedocs.io/en/stable-1.0/reference/models.html#

[2018-09-29 23:53] jleclanche commented on #730
That's not the latest documentation (and I wouldn't really trust it anyway to be honest... sorry :( ).

Best is to look at the code: https://github.com/dj-stripe/dj-stripe/blob/stable/1.2/djstripe/models.py

[2018-09-29 23:56] FadyAlfred commented on #730
So why do you think that I get model have no field called `djstripe_id` and when I use `id` instead it's work ?

[2018-09-29 23:57] jleclanche commented on #730
Sorry, I don't understand what you mean, and I can't help you without seeing actual code and tracebacks.

[2018-09-30 00:00] FadyAlfred commented on #730
for example when i user this serializer :
[code]
the code works fine but when i change it to :
[code]

I get an error `model Plan has not field djstripe_id`

[2018-09-30 00:00] jleclanche commented on #730
You misspelled `djstripe_id`

[2018-09-30 00:22] FadyAlfred commented on #730
Thank you very much you were right i don't know how i misspellde this all the time and the warning solved.

[2018-09-30 00:22] #730 closed, assigned to nobody

[2018-10-02 08:08] phithor commented on #729
I create a customer on user registration, in the same way as people extend user model with a profile model.

I have not needed to set any parameters.

In myapp/models.py
[code]

[2018-10-02 08:52] jleclanche commented on #729
You shouldn't use `Customer.objects.get_or_create()`, that is the django db method which only creates a database model. Customer.create() is what should be used, or Customer.get_or_create(). I know it's confusing, hoping to clean it up at some point.

[2018-10-02 08:52] #729 closed, assigned to nobody

[2018-10-07 19:42] drothroc commented on #724
As an FYI, I am also receiving this exception when creating a product on Stripe's dashboard (Dashboard -> Orders -> Product), although I cannot find a way to select the product "type" using stripe's dashboard when adding products... Also, creating a product using the django admin fails on the stripe side.

As a side note, when I selected the product creation event in stripe's dashboard (Dashboard

[2018-10-08 11:40] jleclanche commented on #724
@drothroc Any chance you can test on master and report back?

[2018-10-09 16:37] drothroc commented on #724
I was trying to but am having trouble adding it to my requirement.txt. My project builds in docker and I can't seem to get a direct link to work...

Tried variations of
`git+git:https://github.com/dj-stripe/dj-stripe.git@master#egg=dj-stripe`
`-e git:https://github.com/dj-stripe/dj-stripe.git@master#egg=dj-stripe`
`git+http://github.com/dj-stripe/dj-stripe.git@master#egg=dj-stripe`

I'm getting a

[2018-10-10 13:42] jleclanche commented on #724
Try `pip install https://github.com/dj-stripe/dj-stripe/archive/master.zip`

[2018-10-10 14:58] russian-developer opened #731 "Can't start project using master branch"
[code]

[code]

[code]

[2018-10-13 03:38] therefromhere commented on #731
I think this would be caught by the tests if they ran `manage.py check`?

[2018-10-13 10:50] #731 closed, assigned to nobody

[2018-10-13 15:48] jleclanche commented on #731
Thanks for the report. Fixed. And the tests run manage.py check now.

[2018-10-13 22:33] therefromhere opened #734 "v1.2.3 git tag?"
Hi, can you add a git tag for the 1.2.3 pypi release?

I was initially confused since I expected the new pypi version 1.2.3 to be based on a recent git master - but I realise now it's based on https://github.com/dj-stripe/dj-stripe/tree/stable/1.2

[2018-10-13 22:33] jleclanche commented on #734
Sorry, forgot to push it. Done.

[2018-10-13 22:33] #734 closed, assigned to nobody

[2018-10-15 05:24] therefromhere opened #735 "Long indexed Customer email charfield(max_length=5000, db_index=True,) breaks mysql"
Migrations on master are failing with
[code]

On the latest release (1.2.3) migrations are working because the column is a textfield.

I'm not sure what length Stripe supports, but would it be possible to reduce the email address maxiumum length to something more smaller, eg 1000 characters?

In any case, I don't think email addresses longer than 254 are valid.

[2018-10-15 08:38] jleclanche commented on #735
What db engine are you using, mysql?

Stripe supports up to 5000 characters on all these fields. If it's a problem on some non-postgres db engines we can look into changing it but it'll affect a lot more than email.

[2018-10-15 08:40] therefromhere commented on #735
It's only a problem on that field because it's indexed.

[2018-10-15 08:42] jleclanche commented on #735
Right, ok. I'd rather go back to textfield then.

[2018-10-15 08:52] therefromhere commented on #735
<strike>By the way, there's another related issue that I was hitting when I enable full unicode support (charset utf8mb4), I was getting this error:

[code]

I didn't look into which table it was, but it'll be one of the tables with several of wide CharFields that were previously TextFields (only failing when utf8mb4 is enabled because that requires extra space).

Arguably this is one is out of sc

[2018-10-15 17:59] jleclanche commented on #735
Hmpf, i'm going to try to figure out what we can do about these. dj-stripe is optimized for postgres right now, but I don't want to leave mysql users in the dust.

[2018-10-15 22:33] therefromhere opened #737 "Maximum row length exceeded on Mysql with charset = utf8mb4"
If full unicode support is enabled in mysql, by using charset utf8mb4 I get this error on migration:

[code]

This is the second issue mentioned in #735 , and seen on the #736 branch at 05aa3bdcc2da7571ad5bb189ebd419095db65347 (and would be seen on master at 6497126e98f722b636bbd317487205c6bdc76668 if we weren't hitting #735 first)

As per discussion on #735 this is because of the increased storag

[2018-10-20 13:50] stygmate opened #740 "All webhooks coming from connected accounts don't work"
I get errors recorded like so:

[code]

[2018-10-21 17:03] stygmate commented on #740
I think I have found the base of the problem:
a request to stripe is made for checking the Event but without "account" key the check is done on the platform account.
line 165 of webhooks.py:
[code]
a bug or connected account are not handled in webhooks ?

[2018-10-21 17:23] jleclanche commented on #740
It sounds like this wasn't tested with connected accounts before, yeah. You want to submit a PR with a test?

[2018-10-21 21:15] stygmate commented on #740
I'm not sure how to handle of that...
- I think I have to add a new view for receiving connect webhooks.
- add a account field in all models fo identifying accounts objects ....

some questions:
are stripe objects ids really unique cross account ?

@jleclanche En français ? pour en parler par tel ? (un coup de main de quelques minutes pourrais beaucoup m'aider)

[2018-10-22 08:25] stygmate opened #741 "Deprecate ``get_connected_account_from_token``"
in Connect.py line 151 api_key must be api_key and token must be account_token
[code]

[2018-10-29 23:10] allthetime opened #744 "Updating from a 1.0.0 beta to newest version. sync_history url missing, and data migration concerns"
Hi, I started using this in the time leading up to the 1.0.0 release and was using this to install the requirement (in pip requirements.txt)

` -e git+https://github.com/kavdev/dj-stripe.git@1.0.0#egg=dj-stripe`

Which no longer points to anything.

I am now attempting to update to the newest version but it seems the project has been restructured since then and I am running into some issues with m

[2018-10-29 23:17] jleclanche commented on #744
Hey there @allthetime. A lot has changed since pre-1.0, I recommend going [through the changelogs](https://github.com/dj-stripe/dj-stripe/releases) especially if you have a production installation.

I especially would also recommend upgrading gradually (first 1.0, then 1.1, then 1.2, etc) as these are the most well-tested paths. pre-1.0 to 1.2 or is not really tested due to lack of volunteers, alt

[2018-10-29 23:17] #744 closed, assigned to nobody

[2018-10-29 23:19] allthetime commented on #744
@jleclanche thanks! that's helpful.

[2018-10-31 15:35] dantium opened #745 "Add currency when/after creating a customer"
When creating a new customer like so:

[code]

What is the best way to add the customers currency? I did try:

[code]

But it seems that just overwrites the local object. Is the best method to do this directly with the stripe API or is there some other way?

[2018-11-01 04:01] therefromhere opened #746 "Can't save/create Products of type=service in admin, because goods-specific fields shown as required"
The dj-stripe admin page for my type=service product won't save because of required fields that only apply to type=good.

Eg, I create a product using the stripe python api as follows:

[code]
This correctly triggers the dj-stripe webhook and is saved into the database, and is visible in Django admin, with stripe id, created,  name, type etc fields populated.

But I'm unable to save the product in

[2018-11-01 04:10] therefromhere commented on #724
FYI @drothroc I think Order -> Products will always be type=good.

Billing -> Products  (ie products for subscriptions) are of type=service

[2018-11-01 08:33] therefromhere commented on #746
This also occurs on master (at 70f3e264424de4e2d90cef45aaf34abc8bad18a4), though on master it's only the attributes and url fields

[2018-11-01 08:43] therefromhere commented on #724
I'm also seeing this issue on 1.2.3, and it's working correctly on master at 70f3e264424de4e2d90cef45aaf34abc8bad18a4 (using the OP's example code a product is created in admin by the webhook).

[2018-11-01 09:34] therefromhere commented on #746
Having made those changes I notice that creating or editing a Product in admin doesn't sync back changes to Stripe - is it intended to?

If not maybe this issue is redundant.

[2018-11-01 21:10] therefromhere opened #750 "CancelSubscriptionViewTest failing on stable/1.2"
eg https://travis-ci.org/dj-stripe/dj-stripe/jobs/449553096

```AuthenticationError: No API key provided. (HINT: set your API key using "stripe.api_key = <API-KEY>"). You can generate API keys from the Stripe web interface.  See https://stripe.com/api for details, or email support@stripe.com if you have any questions.```

[2018-11-01 21:52] therefromhere commented on #750
I'm not familiar with the tests, but I think that's happening because it's trying to do Subscription.api_retrieve() here: https://github.com/dj-stripe/dj-stripe/blob/stable/1.2/djstripe/models.py#L3017

Should we also be patching Subscription.retrieve in the failing tests?
`@patch("stripe.Subscription.retrieve", return_value=deepcopy(FAKE_SUBSCRIPTION))`

eg
tests.test_views.CancelSubscriptionView

[2018-11-03 23:29] PabloCastellano commented on #682
This was fixed in cc64c084f2f5c92d9aca60cf81c064bfa1fcde7f

[2018-11-03 23:30] therefromhere commented on #750
Ah, it's because of the change in behaviour in f64af57c1410fcfe03af58b1cb1aace56bb56717, test_views needs to be updated to match.

[2018-11-03 23:45] PabloCastellano opened #753 "How can I update Customers shipping details?"
With [stripe-python](https://github.com/stripe/stripe-python) I can do the following to update a Customer shipping address (and other fields):

[code]

The `customer` instance and the Stripe dashboard will reflect this change. Also a webhook event is sent.

However, with `dj-stripe` when I do the equivalent, the change is not sent to Stripe. The dashboard will not reflect the change and no event w

[2018-11-05 01:54] therefromhere opened #758 "Invoice.created webhook failing with API version 2018-10-31 (vs dj-stripe 1.2.3)"
With webhook API version set to the latest (2018-10-31), the webhook is returning a 400 error due to djstripe.models.WebhookEventTrigger.validate failing here: https://github.com/dj-stripe/dj-stripe/blob/stable/1.2/djstripe/models.py#L3446

The comparison is failing due to "billing_reason" being different:

local_data["data"]["object"]["billing_reason"] = "subscription_create"
remote_data["data"][

[2018-11-05 02:05] therefromhere commented on #758
With API version 2018-05-21 billing_reason = "subscription_update" in both cases and webhook validation succeeds.

To be honest, this seems a bit like a bug on Stripe's side (or maybe their documentation is badly worded) - since it's still the same invoice in both cases, so it's still the "first invoice of the subscription".

[2018-11-05 02:19] therefromhere commented on #758
This bug doesn't affect master since WebhookEventTrigger.validate() is now using signature verification and thus doesn't need to rely on retrieving matching data from the API. https://github.com/dj-stripe/dj-stripe/blob/70f3e264424de4e2d90cef45aaf34abc8bad18a4/djstripe/models/webhooks.py#L149

[2018-11-05 04:12] therefromhere commented on #758
What's a sensible fix here - backport the WEBHOOK_SECRET functionality from master?

[2018-11-05 05:29] therefromhere opened #759 "New webhook settings not implemented?"
Hi, am I right in thinking that the settings `DJSTRIPE_WEBHOOK_TOLERANCE` and `DJSTRIPE_WEBHOOK_VALIDATION` aren't fully implemented yet?

`DJSTRIPE_WEBHOOK_TOLERANCE` is in the docs and seems like it should be passed to `stripe.WebhookSignature.verify_header` here https://github.com/dj-stripe/dj-stripe/blob/70f3e264424de4e2d90cef45aaf34abc8bad18a4/djstripe/models/webhooks.py#L154

`DJSTRIPE_WEBHO

[2018-11-06 19:24] therefromhere opened #761 "Coupon.created webhook failing with API version 2018-10-31 (vs dj-stripe 1.2.3)"
WebhookEventTrigger.validate() is returning false because the retrieved data has the extra key "percent_off_precise" (which has float data).  I think this is due to a change in API version 2018-07-27 https://stripe.com/docs/upgrades#2018-07-27.

Possibly related: my account API version is 2018-05-21

I think this is a similar issue to #758 - the api retrieve data doesn't exactly match the webhook

[2018-11-07 19:18] jleclanche commented on #759
I think someone brought this up before, it's possible I messed up while implementing it but it's been a while. I'll take a PR for it but just as a heads up, I'm curently traveling for work, so I can't address PRs immediately. I saw you wrote a few issues and PRs and I don't want you to think this project's abandoned ;)

[2018-11-07 19:23] therefromhere commented on #759
All good.  I'll try and put in a pull request for it.  Sorry to have bombarded you with issues recently :)

[2018-11-07 19:31] therefromhere commented on #758
I've followed this up with Stripe (using this example app to reproduce the bug https://github.com/prismaticd/stripe_invoice_bug_example ) and their feedback is that the dashboard default api version (2018-05-21 in my case) is used to create the event, which seems a bit odd, but OK.

So yeah, I'll look at backporting the WEBHOOK_SECRET validation to the 1.2 branch to resolve this and #761.

[2018-11-08 10:23] jleclanche commented on #759
Not at all! Keep at it :) I'll get to them.

[2018-11-09 03:00] jksimoniii opened #762 "django.db.utils.OperationalError: (1071, 'Specified key was too long; max key length is 767 bytes')"
Like related to https://github.com/dj-stripe/dj-stripe/issues/735

#### Environment Details
Python 2.7.13
Django 1.11.13
dj-stripe 1.2.3
MySQL 5.5

#### Issue
Running migrations on a database where `--character-set-server=utf8 --collation-server=utf8_general_ci` results in the following error being thrown.
[code]

After some debugging, I've identified that the error comes from migration [0001](htt

[2018-11-09 04:43] jleclanche commented on #762
The main consequence is that the data coming into the account may be rejected by dj-stripe. When the max length is large like that, it's because Stripe supports data that large.

/cc @brandur -- Is there any chance you folks could review unique field max lengths? MariaDB is going to complain about them if they're too large, so it's hard to deal with. If a lower max length is possible on your side,

[2018-11-09 13:27] jksimoniii commented on #762
Thanks for the quick response.  It appears that the id in Stripe is not the usual `StripeIdField` we see elsewhere.  Looks like it is user defined, so I can see why this may have consequences down the line.

I'm going to get around it in the meantime by running a patched migration locally and export those tables so I can manually recreate them in production.  I'll then execute `migrate djstripe 00

[2018-11-09 22:36] therefromhere commented on #762
For what it's worth, I think upgrading Mysql to 5.7 will resolve this issue (and I think 5.5, 5.6 are end of life?) - maximum key length was increased from 767 to 3072 in Mysql 5.7.

I can reproduce it with:

Python 3.6
Django 1.11
dj-stripe 1.2.3
Mysql 5.5 or 5.6

But migrate works correctly with Mysql 5.7

Example docker compose to test this:

docker-compose.yml:

[code]

and in settings.py:

[c

[2018-11-09 22:39] jleclanche commented on #762
FWIW it's 100% safe to do a migration like this *iff* you control what data gets put into Stripe. But then you have to make sure you never put in matching IDs longer than the amount of characters you set, otherwise you'll never be able to ingest it in your db.

Uh, otherwise, use Postgres ;) (No seriously, use Postgres if you can)

[2018-11-09 22:44] jleclanche commented on #762
@therefromhere Is this MariaDB or MySQL btw? What's the max key length on MariaDB?

I think I'd be okay saying "If you use MySQL you need version 5.7+", but MariaDB hopefully supports it as well.

[2018-11-09 22:49] therefromhere commented on #762
This is with mysql (via docker) https://hub.docker.com/_/mysql/

[2018-11-10 00:27] therefromhere commented on #762
@jleclanche , I've just done the same check with MariaDB and it acts the same as the equivalent MySQL versions, as expected.

MariaDB 10.1 = MySQL 5.6, gives the error
MariaDB 10.2 = MySQL 5.7, migrations works

So yeah, if we specify MySQL>=5.7 or MariaDB>=10.2 we should be good.

[2018-11-10 01:20] jleclanche commented on #762
Wait... 5.7 is 2013, right? If so then I'm definitely ok making this a
requirement.

On Fri, Nov 9, 2018, 16:27 John Carter <notifications@github.com wrote:

[2018-11-10 01:44] therefromhere commented on #762
Yeah, and it was the default in Ubuntu 16.04.  It's been around for a while.

[2018-11-10 03:01] jksimoniii commented on #762
I can confirm as well that using MySQL 5.7 solves the issue.

I agree with you guys that MySQL 5.7 is recommended, but Django docs do state that they support back to MySQL 5.5 in their 1.11 [release notes](https://docs.djangoproject.com/en/1.11/ref/databases/#mysql-notes).  Are there concerns with the 1.2 release claiming to support Django 1.11 but not MySQL < 5.7?

As a side note, I was not in a

[2018-11-10 05:30] jleclanche commented on #762
I think it's ok for us to depend on a higher version of mysql than Django's yes. Workaround at your own risk, though I don't think it should cause any other issues... If you get beyond migrations with older mysql you should be ok!

[2018-11-10 21:49] therefromhere opened #767 "Renumber milestone 1.3 to 2.0?"
The current master/next release is dropping python 2 and django<2 support.  I argue that this is a significant enough change to make this the 2.0.0 release instead of 1.3.0.  e.g. this is what django-filter did https://github.com/carltongibson/django-filter/blob/master/CHANGES.rst

The existing 2.0 milestone could be renumbered to 2.1 or 3.0

This would also mean that we could use the 1.3 release

[2018-11-10 22:49] therefromhere commented on #737
Actually I'm seeing this issue even with the utf8 charset/collation now, I'm not sure whether I had a bug in my testing before.

djstripe_card is one table that's hitting the issue, since it has so many string fields.

[2018-11-10 22:52] therefromhere commented on #735
Would you be OK with changing these fields back to TextField then, as per on 1.2?  Let me know and I'll look at making a PR.

[2018-11-13 05:09] lifez opened #769 "Pin version to specific Stripe version"
Should we pin requirement to specific `stripe` version?

I saw this on `setup.cfg` file

[code]

This may lead to error when `stripe` upgrade version

[2018-11-13 23:19] #682 closed, assigned to nobody

[2018-11-14 00:57] jleclanche commented on #746
Yeha it is. Duplicate of #452. Closing.

[2018-11-14 00:57] #746 closed, assigned to nobody

[2018-11-14 00:58] jleclanche commented on #769
Pinning versions is not our job as a library unless we specifically require a set of versions. You should look at [pipenv](https://github.com/pypa/pipenv).

Closing.

[2018-11-14 00:58] #769 closed, assigned to nobody

[2018-11-14 00:59] jleclanche commented on #767
I'm not against it. At this point there's probably enough backwards-compaitiblity breaking stuff to warrant it.

[2018-11-14 01:02] #762 closed, assigned to nobody

[2018-11-14 06:47] #759 closed, assigned to nobody

[2018-11-14 20:09] therefromhere opened #770 "readthedocs build failing"
It looks like readthedocs build has been failing since the 1.0 release.

[code]

https://readthedocs.org/projects/dj-stripe/builds/8098368/

Though the tox docs test passes - maybe a readthedocs config issue?

[2018-11-15 13:14] jleclanche commented on #753
Right now, updating djstripe models does not automatically update stripe upstream. You can safely simply use the SDK and either rely on the incoming webhooks, or use the model class's `sync_from_stripe_data()` method to re-sync the result from the sdk.

[2018-11-15 13:14] #753 closed, assigned to nobody

[2018-11-16 03:53] therefromhere opened #771 ""Required stripe field 'closed' was not provided in Invoice data object." on djstripe 1.2.3 vs Stripe 2018-11-08"
https://stripe.com/docs/upgrades#2018-11-08

Unfortunately Invoice.closed is a StripeBooleanField, so I think we need to either add a migration to make this nullable, or fix up the inbound webhook data before we save it?

How have other Boolean fields being made nullable been handled in the past?

[2018-11-16 04:15] therefromhere commented on #771
I'm not sure if this also occurs on master - it looks like it should since the model structure is the same.

[2018-11-17 21:33] therefromhere opened #774 "Change test runner to pytest-django"
When I started working on the project I found the test script slightly confusing.  I wonder if it would be a good idea to use pytest-django in place of the existing runtests.py/nose test runner?

Using pytest-django it should be possible to do this without having to change the test code at all.

We could also the test settings more like a normal Django project, which is sometimes useful - eg if yo

[2018-11-23 07:02] alexandre-paroissien opened #779 "Test webhook with 1.2.3 vs 2018.11.08 returns 500 error 'No such event: account.external_00000000000000'"
Hello, I am using a Stripe account in TEST mode with API version 2018.11.08 and Django Stripe version 1.2.3. When sending a test request to test the webhook, the view returns 500 instead of 200. But when triggering real events, they are correctly handled

In django admin or in stripe logging I can see test events have event ids such as "account.external_00000000000000" or "balance.available_000000

[2018-11-23 22:17] beheh commented on #774
This can be closed now the PR has been merged.

[2018-11-23 22:17] #774 closed, assigned to nobody

[2018-11-29 21:28] joshgeller opened #781 "djstripe_sync_plans_from_stripe fails to sync tiered pricing plan"
Django 2.0.1,
Python 3.6.5

When running `djstripe_sync_plans_from_stripe`, the script fails to sync one of my tiered pricing plans.

The error is:

`django.db.utils.IntegrityError: null value in column "amount" violates not-null constraint`

The plan data being passed to `._get_or_create_from_stripe_object` is:

[code]

Does `djstripe` support tiered pricing plans?

Thank you!

[2018-11-30 01:46] therefromhere commented on #781
Hi, it might not be relevant, but what version of djstripe are you using,
and what's your Stripe account's API version?  Thanks

[2018-11-30 02:49] joshgeller commented on #781
I'm using djstripe 1.2.3 and Stripe API 2018-11-08 (however I think the library just uses 2018-05-21?)

[2018-11-30 13:45] camrail opened #782 "Best practice for event listening / action on event"
Hello good sirs,

I've had a look through the issues here and the docs and couldn't see an answer to this, but apologies if I missed it.

I would like to send my customers an email when the trial ending event is created to let them know that they will be charged in 3 days, and I am wondering what the best way to do this is.

I was thinking I could create a signal for the create method on Event, bu

[2018-11-30 14:16] jleclanche commented on #782
dj-stripe comes with native support for webhooks as event listeners. This is how you use them:

[code]

[2018-11-30 14:16] #782 closed, assigned to nobody

[2018-11-30 14:17] camrail commented on #782
Awesome thanks for that

[2018-12-04 08:48] acamposAccelize commented on #735
Hi Guys,
I face the same issue for most of the models. :-(
If you are OK, I will propose a pull request changing all fields with length limit higher than 255 to textfield.
In order to be compatible with all databases and so with Mysql ( my case).

 @jleclanche  are we aligned?
This will most probably break the compatibility with current migration file. ( I will remove the 02 to generate a new one.

[2018-12-04 09:16] therefromhere commented on #735
@acamposAccelize I suggest you use my #777 branch as a starting point rather than master, and edit the 0003 migration in that branch.

I've not had a chance to discuss #777 properly with @jleclanche , but I think it's needed since there's a 0002 migration in the released packages (>=1.2.1 if I remember right) and therefore it needs to be consistent (and currently isn't).

[2018-12-04 13:44] jleclanche commented on #735
@therefromhere Sorry I haven't had time to look at this lately due to health issues. We can discuss things on discord a bit if you have time today.

If the indexed textfield stuff has to go away im ok with that but applying a new migration on top wont work, the existing ones (on master) have to be modified. That's ok btw, I expect anyone running master to be ok dealing with migrations in flux (may

[2018-12-04 20:25] therefromhere commented on #681
Did you have an example of the problem?

[2018-12-04 21:22] jleclanche commented on #681
@therefromhere None of the new-in-master models are hooked up I believe for example. So if you sync them with upstream data, their FKs wil not get filled in.

[2018-12-04 21:36] therefromhere commented on #735
@acamposAccelize #777 is merged now so you can use master for this, and edit 0003.

If we're OK with different behaviour on different engines (I'm not wild about the idea, but OK), then I think we can just use Django's `TextField(db_index=True)`, since Django will warn and ignore the db_index param on TextField with MySQL

warning:
[code]

Then we'd have indexes on postgres but not on mysql, but b

[2018-12-04 21:37] jleclanche commented on #735
indexed textfield is fine yea

[2018-12-04 21:39] therefromhere commented on #735
@acamposAccelize Would probably a good idea to get travis to run tests vs mysql as well as postgres to catch this sort of thing.

[2018-12-04 21:44] jleclanche commented on #770
@kavdev Can you give @therefromhere RTD admin access?

[2018-12-04 21:54] kavdev commented on #770
@therefromhere @jleclanche the stable builds all pass. Master fails

@jleclanche I'm thinking docfix commits are on the stable branches but weren't pulled back into master

[2018-12-04 21:58] jleclanche commented on #770
Maybe. I don't know RTD well enough.

Hop on Discord? :)

[2018-12-04 21:58] kavdev commented on #770
yep

[2018-12-05 03:57] therefromhere commented on #770
as per discord conversation, commit 2a68ba7044f78d5efb0019fd294b5556b82c5a90 should fix it but eg docs/requirements.txt is no longer on master.  I'll try and take a look.

[2018-12-05 08:06] acamposAccelize commented on #735
Thanks for your answer!

I'm OK to have a talk about this today if you feel it is needed ( I'm available starting now and for 7 hours)

Without more information I will go on this way:

1- Changing the migration file  0003 ( now available on master ) and add a new one ( changing all charfield with a max_lenth higher than 255 to textfield, maybe tag this version to 1.3.0 to show incompatibility with

[2018-12-05 08:51] therefromhere commented on #735
@acamposAccelize Nearly, the first step is different:

1) Update migration 0003 (don't add a new one) - migrations on master before release aren't expected to be stable.
1a) The next release of master will be a major release yes, but we're going to make that 2.0 rather than 1.3 (see #767/#768).   (there are a lot of changes between master and stable/1.2)
2) I've not looked at the database changes

[2018-12-05 09:11] therefromhere commented on #735
By the way most of the TextField's don't have (or need) db_index - Customer.email is one that did (don't add db_index if it's not already on the CharField on master).

[2018-12-07 17:35] #770 closed, assigned to nobody

[2018-12-07 23:16] therefromhere commented on #767
To complete this change, I'll renumber the 1.3.0 issue milestone to 2.0.0: https://github.com/dj-stripe/dj-stripe/milestone/5

and the existing 2.0.0 issue milestone to 3.0.0 (going on the assumption that these are breaking changes that won't land before the next release) https://github.com/dj-stripe/dj-stripe/milestone/6

Any objections?  (FYI @kavdev )

[2018-12-08 00:48] jleclanche commented on #767
Go for it.

[2018-12-08 01:09] therefromhere commented on #767
Done

[2018-12-08 01:09] #767 closed, assigned to nobody

[2018-12-08 02:14] therefromhere commented on #417
@jleclanche I've just had a go at using this (master at 301923de2085abd8960590551076765c8ff882f1), webhooks fail in `Subscription._attach_objects_hook()`, because `Subscription._stripe_object_to_plan()` doesn't support multi-item - data["plan"] is null.  So I think we'll need to make Subscription.plan nullable.

[code]

Example invoice_created events with multi and single plan: https://gist.github

[2018-12-09 01:59] therefromhere commented on #681
@jleclanche  did you have a particular solution in mind for this?  Are you thinking something that would find all the "id" fields in the synced stripe data and map them to fks, so `_attach_objects_hook` / `_attach_objects_post_save_hook` aren't needed?

Just trying to get my head around how this would work.  I've done #784 to get familiar with how the existing self-hook stuff works.

[2018-12-09 03:31] jleclanche commented on #681
No solution in mind but I think we should be automatically identifying ForeignKeys during introspection (there's already a chunk of code that reaches it but there's a `continue` in there)

[2018-12-09 20:46] therefromhere commented on #417
In case anyone else wants to try this out, I've enabled sync of SubscriptionItem in #784, which should close this issue.

One thing to note: this will mean that SubscriptionItem is created even for regular single-plan Subscriptions, but that makes sense I think, and matches Stripe's API structure.

[2018-12-10 13:16] acamposAccelize commented on #735
Hi,
Sorry for the delay other priorities show up.
I'm taking 2 hours today and more by the end of the week  to move forward on this topic.
1. Ok
2. With a previous version of the master, I wasn't able to run the migration at all with Mysql so not possible to keep it like that. I will double check. I think the idea is to let the new user with Mysql to be able to use last version with touch anything

[2018-12-10 13:16] M0dM opened #789 "Decorrelate Customer model subscriber field and django.contrib.auth.User"
Hi @jleclanche, @therefromhere,

This issue is related to this pull request: #780
I'll try to explain why I need this kind of feature.

We use an external authentication backend (A complete different app.)
Since our authentication is performed completely separately, we need a way to link user account with stripe Customer without relying on django.contrib.auth at all.

I didn't want to create a "pl

[2018-12-10 15:53] acamposAccelize commented on #735
Hi,
I just completed the modification of my environment and it is working with MySQL.
But I'm not able to find a good solution for the email indexed field :
1 - When it is defined as TextField and with the db_index=True :
django.db.utils.OperationalError: (1170, "BLOB/TEXT column 'email' used in key specification without a key length")
I got the warning and this error and it looks like to be "norm

[2018-12-10 18:21] therefromhere commented on #789
Hi, is there a django model in your database that represents the user?

If there is, you can use it as your Customer.subscriber model instead of `django.contrib.auth.User` with the `DJSTRIPE_SUBSCRIBER_MODEL` setting.  See https://dj-stripe.readthedocs.io/en/stable-1.2/reference/settings.html#djstripe-subscriber-model-settings-auth-user-model

Also note that you can use djstripe without setting th

[2018-12-10 18:33] therefromhere commented on #735
Great!

The email address length thing is annoying - you're right that email addresses above 255 chars don't really make sense (django's EmailField uses 254), but I believe stripe has specified that all data fields *could* be 5000 chars long.

Also note this commend on `Charge.receipt_email` (though I don't know why we have 800 there instead of 254 or 5000 or whatever, the git history is a bit har

[2018-12-10 19:10] M0dM commented on #789
No, there isn't.
And I still want subsciber field to be linked with my separate application user.

[2018-12-10 20:28] therefromhere commented on #789
Can you give a bit more detail on your use-case?

Is there a user table in your database but it's not a django model?

or

There's no user table in your database, and you're wanting to store an opaque integer in the subscriber_id field that refers to an external system?

[2018-12-11 01:56] jleclanche commented on #735
Stripe has multiple validation layers. It has a base 5000 max size on *all* text fields. On top of this there can be extra validation. On the receipt_email, there's additional validation done at 800 characters.

[2018-12-11 07:22] M0dM commented on #789
[code]
Exactly

[2018-12-11 13:43] acamposAccelize commented on #735
Modification added to a pull request.
Let me know if modification needs to be done on my side.

TBD :
1 - Let me know if you need other modifications
2 - Adding automatic test for Mysql ( I will need guidance)
3 - Regarding the readme and the tag, let me know if you need help

[2018-12-13 21:24] camrail commented on #779
Did you get any further with this?

[2018-12-14 16:19] camrail opened #791 "how to use UpcomingInvoice"
Towards the end of a free trial period I am trying to send customers a notification that they will soon be charged with dj-stripe. I am trying to use a webhook to initiate the notification and then UpcomingInvoice to retrieve the amount.

I can see in my stripe dashboard that I have customers with trial ending tomorrow and an upcoming invoice, however dj-stripe always returns an empty queryset. In

[2018-12-14 20:31] therefromhere commented on #779
Does it occur on master?

I haven't looked into where this is failing, but webhook validation in the 1.2 package is done by re-fetching the data from the Stripe API and comparing vs the webhook.

In the next major release (current master) webhook validation is done by signature verification by default, which resolves various issues with webhook validation.

[2018-12-14 20:36] therefromhere commented on #750
resolved by #757

[2018-12-14 20:36] #750 closed, assigned to nobody

[2018-12-14 20:39] therefromhere commented on #771
resolved by #773

[2018-12-14 20:39] #771 closed, assigned to nobody

[2018-12-15 08:49] therefromhere opened #793 "Support for index on long TextFields while maintaining MySQL compatability?"
Due to Stripe's fields being potentially 5,000 characters there's various fields that we can't currently have an index on while also supporting MySQL.

See #735, #790.

If non-unique indexes are sufficient, a possible solution would be to use a prefix index on a long TextField. eg:

[code]

But this isn't supported by Django and I'm not aware of any existing packages that support this.  It could b

[2018-12-15 08:50] jleclanche commented on #793
For what it's worth I think the "correct" approach is a best-effort on mysql, full compat on postgres, and telling mysql users that if they happen to have fields like this they can either:

- get rid of them
- switch to postgres

[2018-12-17 18:43] therefromhere commented on #737
Should be resolved by #790

[2018-12-17 18:43] #737 closed, assigned to nobody

[2018-12-17 18:43] therefromhere commented on #735
Resolved by #790

[2018-12-17 18:43] #735 closed, assigned to nobody

[2018-12-18 01:48] williamflynt commented on #781
Same issue. I'll look into it as able while I build out this app with djstripe. Offhand (ie: not thought out) I can see a couple solutions:
* Quick/dirty: allow `amount` to be `null`
* Multiple `Plan` objects for tiered plans, reading `amount` from the `tiers`
* `TieredPlan` as a new model... and handling it all
* `Plan.amount` as `HStoreField` or similar (postgresql only)?

[2018-12-20 15:41] camrail commented on #791
For anyone with the same question, I was able to get this to work by accessing UpcomingInvoice as a method on the Invoice model, so the above would be:

[code]

[2018-12-20 17:18] jleclanche commented on #791
Thanks for following up. Sorry I couldn't answer, UpcomingInvoice isn't something I ever worked with and is a weird part of the system.

[2018-12-20 17:18] #791 closed, assigned to nobody

[2018-12-28 01:43] therefromhere opened #795 "Allow assigning metadata on create to Customer.add_card etc"
It would be useful to be able to pass through a `metadata` dict to a few methods that do a stripe create, to save a few API calls vs doing `api_retrieve` / `save` / `sync_from_stripe_data`:

eg:

[code]

[2018-12-28 02:22] therefromhere commented on #728
I had the same issue, because I followed the quickstart JS docs.

So yeah doing this: https://stripe.com/docs/sources/cards#create-source

instead of this: https://stripe.com/docs/stripe-js/elements/quickstart#create-token

resolves the issue.

[2018-12-28 04:19] therefromhere commented on #795
Similarly passing extra kwargs to `Customer.subscribe` through to `Subscription._api_create` would be useful

[2019-01-01 05:11] blackboxoperations commented on #795
I'd go so far as to request it be embedded in the default arguments themselves, given how the APIs have shifted away from the 'description' parameter sometimes used here and there, and baked 'metadata' into most of its objects accordingly. StripeModel already assumes metadata as a field, so we're already halfway there.

Even when you clear this hurdle with your own get_or_create->add_card->subscri

[2019-01-14 08:22] acamposAccelize commented on #417
hi @therefromhere ,
again me ...
I take the last version of master and this feature ( multiplan for subscriptions) is not working and generate webhook errors in case multiplan present on stripe.

Model is not with null allowed and the of the flow is not working either.
I have done those modifications on my side ( manly based on the previous works share here).

If I'm not wrong, I should :
- Update

[2019-01-14 08:36] therefromhere commented on #417
@acamposAccelize Yes, if you're hitting an error with this with the latest version of master ( 46594993ebdf5d23141e96f84041ffc1f8a27f49 ) please add a pull request with what you think needs to change with a test.

Please note that I merged #784 into master 2 days ago - are you running the latest version?

[2019-01-14 16:06] acamposAccelize commented on #417
Good point, I have missed the last version ( clone just before the commit :-( .
Everything works as expected with the last commit.
Sorry to have disturbed you.
Alex

[2019-01-15 14:23] KentHawkings commented on #781
I'm also having this issue, it's a blocker. Allowing `amount` to be null seems like a viable fix.

Running Python 3.7, Django 2.1.4, djstrip 1.2.3

[2019-01-20 02:42] williamflynt commented on #779
@therefromhere - What are the blockers to releasing v2.0? I need many of these features. Maybe it would make sense to tackle those blocker items and get this out there, if there aren't too many.

[2019-01-20 03:50] therefromhere commented on #779
@williamflynt I think it's just waiting on #788 to be reviewed and merged.

If you could try my #788 branch and see if you hit any issues that would help - hopefully there won't be any more migration changes beyond that before a 2.0 release, but I can't guarantee it.

[2019-01-20 05:00] williamflynt commented on #779
Okay. I'll pull master into a project I'm trying to release and see how it goes.
For the record, I meant **I** would tackle those blocker items -- not that I thought you should. 😄

[2019-01-20 23:37] blackboxoperations commented on #779
I've been on integration testing with production systems for about a week now as well, #788, once @therefromhere rebased by merging in #784, has been working rather well, and I'll be able to volley up a PR with updated documentation, examples, a bit of clean up, as I've been writing it, as it's cropped up, along the way.

Neither here nor there, just chiming in to say you've still got some back up

[2019-01-21 01:43] therefromhere commented on #779
@williamflynt since you asked there's a couple of items remaining on 2.0.0 milestone you could take a look at https://github.com/dj-stripe/dj-stripe/milestone/5

[2019-01-21 16:19] williamflynt commented on #779
Will do.

[2019-01-21 20:00] blackboxoperations commented on #356
When using Stripe.js/Elements, which provides request.POST['stripe_token'], you can create subscriptions without charging the customer's payment source outright as follows - context assumes you're posting into a signup form, or something that's essentially extending django.forms.Form:

[code]

Whatever your trial_period_days is, you'll want to swap out the integer there with datetime.timedelta(day