[2020-01-13 08:59] #1084 closed, assigned to nobody

[2020-01-13 09:15] therefromhere commented on #1084
See https://github.com/dj-stripe/dj-stripe/releases/tag/2.2.0

[2020-01-13 09:29] #1056 closed, assigned to nobody

[2020-01-13 09:38] #1073 closed, assigned to nobody

[2020-01-13 09:55] PabloCastellano commented on #1084
Thanks a lot @therefromhere !

[2020-01-13 20:26] PabloCastellano opened #1093 "Can't run dj-stripe 2.2.0 migration"
Hello!

**Describe the bug**
I want to migrate to the latest dj-stripe 2.2.0. However there seems to be some conflict with the migrations

[code]

**To Reproduce**

1. Create a django project
2. pip install dj-stripe==2.2.0
3. ./manage.py migrate

**Expected behavior**
Normal DB migration

**Environment**
- dj-stripe version: 2.2.0
- Database: Postgresql 10.10
- Python version: 3.6.9
- Django vers

[2020-01-13 20:47] therefromhere commented on #1093
Yeah apologies, I'm not sure what happened with that - the tar.gz 2.2.0 has setup.cfg with version 2.3.0dev (I'm surprised this uploaded as version 2.2.0??), the wheel has the pre-squashed migrations.

I'll do a 2.2.1 release later today to fix.

In the mean time 2.2.0rc0 should work correctly (and should fix your db if it's in an inconsistent state due to the above).

[2020-01-14 00:27] PabloCastellano commented on #1093
No worries, these things happen. It was just a heads-up :-)

[2020-01-14 06:05] therefromhere commented on #1093
I've released 2.2.1 that should fix the issue (no code changes from 2.2.0).

I think the bad package was due to a stable build dir

[2020-01-14 06:05] #1093 closed, assigned to therefromhere

[2020-01-19 15:52] PabloCastellano opened #1094 "Webhook is not syncing TaxRate model"
**Describe the bug**
Whenever I create or modify an existing TaxRate, the webhooks (signals tax_rate.created and tax_rate.updated) are triggered but the changes are not reflected in the database.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new TaxRate object using the Django shell:

[code]

2. Modify the created TaxRate object using the Stripe Dashboard

**Expected behavior**
C

[2020-01-19 17:52] therefromhere commented on #1094
Thanks for the report.

[2020-01-19 18:32] therefromhere commented on #1094
It's probably because TaxRate isn't handled here:

https://github.com/dj-stripe/dj-stripe/blob/5b7ba439e54ba7161ca5e02d8699610f87c974b0/djstripe/event_handlers.py#L155

[2020-01-20 00:53] PabloCastellano commented on #1094
PR available here: https://github.com/dj-stripe/dj-stripe/pull/1095

[2020-01-20 01:34] PabloCastellano commented on #1087
I'm giving a try to this issue.

Other missing fields:

- default_payment_method
- default_source
- latest_invoice (https://github.com/dj-stripe/dj-stripe/issues/1067) - draft PR: https://github.com/dj-stripe/dj-stripe/pull/1079
- next_pending_invoice_item_invoice
- pending_invoice_item_interval
- pending_update
- schedule

Also:

- `.billing` must be renamed to `.collection_method` as it was in I

[2020-01-20 03:57] therefromhere commented on #1087
Awesome!  I suggest breaking it up into several PRs since there's some tricky bits (eg #1067)

[2020-01-20 07:11] #1094 closed, assigned to nobody

[2020-01-20 08:06] therefromhere commented on #1094
I've released 2.2.2 with this change, thanks!

[2020-01-20 15:11] epicserve opened #1097 "Dj-stripe doesn't seem to work with Django 3.0"
**Describe the bug**
Dj-stripe doesn't seem to work with Django 3.0. I'm guessing it's because Django 3.0 must-have removed six.

[code]

**To Reproduce**
Upgrade to Django 3.0

**Expected behavior**
Dj-stripe should work with Django 3.0.

**Environment**
- dj-stripe version: 2.1.1
- Your Stripe account's default API version: 2019-12-03
- Database: [e.g. MySQL 5.7.25]
- Python version: 3.8.0
- Dja

[2020-01-20 16:19] PabloCastellano commented on #1097
Django 3.0 support was [added in v2.2.0](https://github.com/dj-stripe/dj-stripe/blob/master/HISTORY.rst#220-2020-01-13). Can you try again using the latest version?

[2020-01-20 17:08] epicserve commented on #1097
@PabloCastellano, seems to be working. Sorry about the extra noise. I'm closing this issue.

[2020-01-20 17:08] #1097 closed, assigned to nobody

[2020-01-20 17:12] PabloCastellano commented on #1091
@cobyrne09  Can you elaborate a bit more on what is your use case?

[2020-01-20 18:07] PabloCastellano commented on #1081
I can reproduce it and in my case the issue seems to be at:

https://github.com/dj-stripe/dj-stripe/blob/fcbe1f2196b29acfeaca1145a57b7328598a4f79/djstripe/models/payment_methods.py#L152-L154

because `self.customer` is None when dealing with a `BankAccount`.
I'm not sure how to fix it, however we have seen this error message in the past:

[code]

In fact, all fields are either None or "" at that p

[2020-01-20 18:43] colin-byrne-1 commented on #1091
@PabloCastellano absolutely.

I want to add a SAAS-like product to my presently free product with three plans: 'pro' and 'premium'.

I would like various functions of the site to be behind each tier of the paywall. Some functions would be available to all logged-in users, some would be limited to only 'pro'/'premium' users, and then a subset of those would be limited to only 'premium' subscribers.

[2020-01-21 01:32] #1020 closed, assigned to nobody

[2020-01-21 18:18] PabloCastellano commented on #899
I don't know the exact date when it has happened but Subscription Schedules are now available for everyone: https://stripe.com/docs/api/subscription_schedules/object

[2020-01-23 07:52] therefromhere opened #1101 "Upgrade DEFAULT_STRIPE_API_VERSION"
To 2020-03-02 or newer.

See https://stripe.com/docs/upgrades#api-changelog

Currently we're at `2019-09-09` - I'd suggest upgrading one version at a time.

Test fixtures should be regenerated at the same time - see https://dj-stripe.readthedocs.io/en/stable/project/test_fixtures.html

[2020-01-26 00:05] ryancausey opened #1102 "jsonfield2 3.1.0 dropped Django 2.1 support"
Since setup.cfg doesn't pin the jsonfield2 version to < 3.1.0, this means the currently released dj-stripe implicitly dropped support for Django 2.1 before it was intended (based on seeing 2.3.0 unreleased notes).

I noticed this because my Django 2.1 tox runs started failing:
[code]

[2020-01-27 01:24] ryancausey opened #1104 "Account model __str__ tracebacks when settings is NULL"
The __str__ method appears to assume that `self.settings` will never contain a NULL value, even though the field parameters allow for NULL values.

This is currently blowing up for me after migrating to 2.2 from 2.1 as it appears the Account models already in the DB have NULLs for the settings field.

Simplest reproduction:
[code]

[2020-01-27 02:20] therefromhere commented on #1102
Closing as won't fix, as discussed in the PR.

[2020-01-27 02:20] #1102 closed, assigned to nobody

[2020-01-27 05:26] #1104 closed, assigned to nobody

[2020-01-27 14:28] islamgulov opened #1106 "sync_from_stripe_data fails for payment_method FK with ach_credit_transfer type"
**Describe the bug**
Stripe does not fully support payment methods for ACH Credit Transfer yet, so syncing payment_method FK field fails for  ach_credit_transfer type.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable Stripe webhook to dj-stripe
2. In stripe dashboard pay invoice with ACH payment type
https://stripe.com/docs/sources/ach-credit-transfer#testing-ach-credit-transfer-payme

[2020-01-28 08:24] #1087 closed, assigned to nobody

[2020-01-28 14:06] mhotwagner opened #1107 "Creating account fails when request to `api.stripe.com/v1/account` is missing `payouts_enabled`"
For a reason I have not yet been able to nail down, my response from `https://api.stripe.com/v1/account` is missing the `payouts_enabled` field.  This causes the eventual `create_from_stripe_object` call to fail with an `IntegrityError` because `Account.payouts_enabled` is not nullable.

I'll open a PR to make this field nullable, but am very open to arguments against and alternate handling!

[2020-01-29 08:24] therefromhere commented on #1107
Hi, is this from a webhook or from doing an API request and passing the result to sync_from_stripe_data on the result?

What is your dashboard stripe API version?  ie the default version shown in developers at https://dashboard.stripe.com/

It'd be helpful if you filled in the sync issue template, since this sounds like a sync issue (eg copy-paste https://github.com/dj-stripe/dj-stripe/issues/new?

[2020-01-29 15:33] mhotwagner commented on #1107
Hi @therefromhere, thanks for the questions!

Under the hood, I think you're right that it's a webhook passing data to sync_from_stripe_data, so I'll be happy to move it over.

The specific issue results from `djstripe.models.Account.get_default_account()` making a request to `/v1/accounts` and then kwargsing that data into `djstripe.models.Account._create_from_stripe_object()`.  Because the respo

[2020-01-30 03:56] therefromhere commented on #1107
Hi, it would be useful if you filled in the sync issue answers so we we can try and recreate the issue (you can copy-paste in as comment here, doesn't need to be a separate issue).

I'd like to recreate the issue if possible before changing the schema.

[2020-01-30 20:11] lee-hodg opened #1110 "Customer with subscriber None"
My application allows orders from anonymous (non-Django authenticated) to sellers. The djstripe `Customer.create` seems to demand a `subscriber`, which for authenticated users would be my `User` instance. How can I create `Customers` for anonymous users with `subscriber=None`? I'd like to add only the `email` and `address` of such a buyer.

[2020-01-30 21:24] therefromhere commented on #1110
Hi, `subscriber` doesn't need to be a Django `User`, it can be any model with an `email` field, you can override what the FK points to by settings `DJSTRIPE_SUBSCRIBER_MODEL`.

eg

[code]

See https://dj-stripe.readthedocs.io/en/latest/reference/settings.html#djstripe-subscriber-model-settings-auth-user-model

Note that this should only be done when you first start using dj-stripe, you'll get some

[2020-01-31 13:45] lee-hodg commented on #1110
@therefromhere thanks!

[2020-01-31 18:50] #1110 closed, assigned to nobody

[2020-02-02 19:40] colin-byrne-1 opened #1111 "Set existing Payment Method as default"
`customer.add_payment_method(payment_method)` sets a new card as the default payment method, but is there a way to set an existing payment method as the default? I see some mention of a 'hack' where you can do this by way of setting the default card for an invoice, but I am not sure if this is still necessary.

[2020-02-02 21:16] therefromhere commented on #1111
Hi yeah good point there's not currently an exposed method to do that.  But yeah if you copy the `if set_default` part of add_payment_method that should do what you want.

https://github.com/dj-stripe/dj-stripe/blob/31b18955fc5f93cd2d94d2ed29b78bebaea26da7/djstripe/models/core.py#L927-L938

[2020-02-02 21:47] colin-byrne-1 commented on #1111
Ah... I was thinking that Stripe prevented this. Great to hear this is allowed. Would you like that method exposed? I could push a PR if you desired that... you guys seem to be doing a lot of work for this project, and I'd love to take some work off your plate!

[2020-02-02 23:17] therefromhere commented on #1111
I've not tried it but it should work fine yeah, since I don't think there's any difference between setting a customer's default payment method immediately after attaching it and doing it some time later.

Yeah that block could be refactored as a separate method.

Eg add `set_default_payment_method(payment_method)` to Customer.

Or maybe for PaymentMethod class `set_default_for_customer()`

Either

[2020-02-08 00:46] ZachPerkitny commented on #1111
Something like this would be useful for Cards as well. I've been using something like this for the time being (example view):
[code]

I like adding it as a method to the `Customer` class.
[code]

What do you think @therefromhere ? Is this the correct way of doing this ?

[2020-02-08 01:09] ZachPerkitny commented on #1091
Hey @cobyrne09,

This is the approach I used in my apps for Class Based Views:
[code]
`ActiveSubscriptionRequiredMixin` inherits from `RedirectMixin` and ensures that the user in the request has a subscription for the plan specified. Ensure to include the `LoginRequiredMixin` first so the MRO is correct and its `dispatch` method is called first.
[code]
If you want to specify views where only users

[2020-02-08 01:31] ZachPerkitny opened #1113 "Charging a Customer in Test Mode - InvalidRequestError(No file upload: file_***)"
Hello,

When I attempt to charge a customer in test mode (I've confirmed I'm using the sk_test and pk_test keys), an `InvalidRequestError` is thrown:
[code]

The message is not clear as to what resource is missing, I've read through issues with a similar error and they mentioned something about an icon and logo. I've set both, but the exception is still thrown.

The code that throws the exception:

[2020-02-08 08:01] notty-geek commented on #1113
Have you created the Customer in Test Mode? The Error Shows the Customer ID you have passed has been already created in Live Mode and the charge you are trying to create is bypassing an API key of test account. Either try it with the (Livemode=True) to use this or else create a customer in test mode and then try it with Test API KEY to charge.

[2020-02-08 17:53] ZachPerkitny commented on #1113
Hi,

Thanks for the reply,

I have confirmed the customer was created in test mode.

Edit: I've investigated further and found that the exception is thrown when it attempts to create an Account
 `djstripe/models/connect.py:131`:
[code]
It is being thrown when it attempts to create the object for the account `branding_logo`.

[2020-02-08 23:39] therefromhere commented on #1113
Thanks for the report, sounds like this is related to #830

[2020-02-08 23:48] therefromhere commented on #1111
I think it could be tidied up a bit (allow card to be an id or a stripe Card object, like our other methods, and use sync_from_stripe_data), but yeah.

Also I'd say prefer moving away from Card to Source or PaymentMethods if you can - see https://dj-stripe.readthedocs.io/en/stable/stripe_elements_js.html

[2020-02-14 13:50] taewookim opened #1114 "HINT: STRIPE_TEST_SECRET_KEY should start with "sk_test_""
Django: 2.2.5
Python: 3.7.3
Postgres: 11.5

I installed via "pip install dj-stripe"

When I migrate

Maybe im confused but when I login to the API section of stripe, the test secret keys no longer start with "sk_test".

Can anyone shed some light?

[2020-02-14 14:35] taewookim commented on #1114
Found out this was b/c I accidently put in an apps urls.py instead of project urls.py. So i fixed that one but im still getting this "sk_test" prefix issue

[2020-02-14 15:15] taewookim commented on #1114
Not sure if the latest reflects the Stripe key string format but i commented them out and seem to be ok

[code]

[2020-02-14 17:19] kavdev commented on #1114
Hi @taewookim,

I just checked the [docs](https://stripe.com/docs/keys#obtain-api-keys) and it looks like the api key format hasn't changed.

Are all of your keys [configured properly](https://dj-stripe.readthedocs.io/en/stable/installation.html#configuration)?

If you're only sending one set of secret/public keys in via the environment, this is a setup that's worked for me:
[code]

Edit: Looks li

[2020-02-14 17:30] kavdev opened #1116 "Add a settings documentation page for API keys"
We have a section on the installation page about api keys, but it only covers one option (which should probably be changed to the simpler single key pair option).

The new settings docs should reflect dj-stripe's support of both single-env key pair and multi-env key pair schemes:
https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/settings.py#L96

[2020-02-16 03:36] taewookim commented on #1114
Maybe b/c of API version issue you're seeing different format on your stripe docs... here's what im seeing:

https://i.postimg.cc/CMr7j9xW/stripe.png

[2020-02-16 03:45] kavdev commented on #1114
I checked it while signed out. Longshot, but maybe there's a bug in stripe's api key generator that gave you a bad key

[2020-02-16 04:23] taewookim commented on #1114
Doesnt seem like it, b/c when I run

[code]

Seems to run ok (i see the customers in my stripe dashboard)

[2020-02-16 04:37] taewookim commented on #864
@therefromhere Thanks. Been looking everywhere for the samples. Definitely helpful. Just a side note.. can this be removed to a more obvious subfolder like "/example/" or "/samples/". Easier for noobs.

[2020-02-16 06:42] taewookim commented on #1114
Ok found out the issue.
My stripe account is super old (like more than 5 years)... I created a new account (since new business), and indeed the key formats do match what the code is checking for. So I will close this issue.

[2020-02-16 06:42] #1114 closed, assigned to nobody

[2020-02-16 08:39] therefromhere commented on #1114
Thanks for the update.

[2020-02-16 08:55] therefromhere opened #1117 "Refactor examples app"
* Consider moving examples to the top level to make them more obvious
* Move regenerate_test_fixtures.py manage command to a different app - it belongs in the tests.

Make sure the examples don't accidentally get bundled in the package though.

As suggested by @taewookim in https://github.com/dj-stripe/dj-stripe/issues/864#issuecomment-586668136

[2020-02-16 09:08] taewookim commented on #1117
ACtually, would be really helpful to have the tutorial for people to included basics.. getting CC number and such

For anyone stuck, here's a great tutorial to start off from: https://github.com/stripe-samples/checkout-single-subscription

[2020-02-17 04:52] taewookim commented on #1043
@Guest007  in your code..
[code]

That customer.id.. did you create a DJ-stripe Customer object?

If so, why? Wouldn't be better to use request.user? Just in case the payment fails or gets cancelled.

[2020-02-17 10:31] Guest007 commented on #1043
Yes. I do `customer, created = Customer.get_or_create(subscriber=user)` before shown code

[2020-02-21 10:49] taewookim commented on #1043
that's what i mean.. if the payment fails, your customer object would be invalid.

[2020-02-21 10:54] Guest007 commented on #1043
Why? If now Customer for this User - it will be created. Once. In next try we got existed Customer, associated with giver User.

[2020-02-22 23:27] beratn opened #1122 "ViewSet object has no attribute 'user"
Hello everyone,

I'm trying to give permission for accessing endpoint with @subscriber_has_active_subscription decorator.But idk I'm missing somewhere. I got "AttributeError: 'AccountViewSet' object has no attribute 'user'"  when I try to access with my user who has active subscribtion. The error about decorator, If I don't use decorator, no problem with endpoint

[2020-02-26 10:47] #1122 closed, assigned to nobody

[2020-02-27 02:11] anuzis opened #1124 "Documentation request: Stripe Checkout example usage"
Can we get an example in the docs showing how to use Stripe Checkout with djstripe?

djstripe claims Stripe Checkout support but it's not intuitive to integrate. Trying to figure it out without docs, I'm getting new djstripe.models.Customers instances created via webhook at every transaction, none of which are associated with the django.contrib.auth.models.User that initiated the transaction.

str

[2020-02-27 08:11] czue opened #1125 "Infinite Loop when syncing a Customer and PaymentMethod"
**Describe the bug**

Calling `sync_from_stripe_data` from a newly created `Customer` object in stripe is creating an infinite loop.

**To Reproduce**

By following the [Stripe docs](https://stripe.com/docs/billing/subscriptions/set-up-subscription) - create a PaymentMethod in stripe via elements and then try to create a `Customer` in the backend:

[code]

I added some print statements to `StripeM

[2020-02-27 08:51] czue commented on #1125
note: a workaround for this is to just create the djstripe `PaymentMethod` before creating the `Customer` in stripe

[code]

[2020-02-27 22:27] therefromhere commented on #1125
Hi thanks for the report, that's not good.

[2020-02-28 09:30] Ouradze opened #1126 "Connect account admin needing icon and logo to edit"
First of all, thank you for this library !

**Describe the bug**
The business logo and icon are required to edit the connect account in the admin.

![image](https://user-images.githubusercontent.com/5817781/75526955-08fe8d80-5a13-11ea-84ea-6cda4fd49404.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a stripe connect account without a logo or an icon
2. Link it to django stripe
3.

[2020-03-05 21:53] ezet opened #1127 "Accessing JSONField as dict throws exception when using native JSONField"
**Describe the bug**
After doing a full model sync, all Account objects have been populated with valid JSON in the Account.business_profile column. Attempting to view the django admin panel for Accounts, or print the contents of accounts in any way, throws an exception.

Error:
[code]
`account.business_profile` returns a string

It should probably be converted to a dict before accessing it using `

[2020-03-06 00:21] ezet commented on #1127
Issue was caused by having ran migrations with non-native JSONField. Fixed by re-running all migrations with the native field setting.

[2020-03-06 00:21] #1127 closed, assigned to nobody

[2020-03-06 00:23] ezet commented on #1126
The field needs to also be `blank=True` to allow it to be empty during form validation.

[2020-03-06 00:42] therefromhere commented on #1126
Hi, you're both correct, but please note that the admin is mostly intended for read-only access, since edits in admin don't get sent back to Stripe.

It really should probably be set to readonly for most fields (there are a couple of exceptions that are propagated back).

I know this is confusing, it tripped me up when I first started using the project.

[2020-03-06 01:40] ezet commented on #1126
I agree, but by not allowing blank, it will not be possible to save this model at all if this field is null, even if the field is read-only and hasn't changed. That might not be an issue with the default model, but I still think it should be changed, as this prevents possible customization of the model or admin where one might want to to a non-synced save.

[2020-03-15 15:05] alexphelps opened #1129 "Cannot Receive Product/Plan Created Webhooks or Sync"
**Describe the bug**
Cannot run sync command `djstripe_sync_plans_from_stripe` it causes a DB error
[code]
Also cannot receive webhooks for Products/Plans Created in Stripe Dashboard

**To Reproduce**
`python manage.py djstripe_sync_plans_from_stripe` you'll see the error

**Expected behavior**
To be able to sync products from Stripe Dashboard and receive the Webhooks

**Environment**
- dj-stripe

[2020-03-15 21:03] PabloCastellano commented on #1129
You are still using an old version of dj-stripe.

Using latest release(2.2.3) works for me. Can you upgrade and try again?

Django 1.x support was dropped on 2.1.0, you can still upgrade to 2.0.5.

[2020-03-16 07:04] alexphelps commented on #1129
@PabloCastellano thanks for checking. When updating dj-stripe to 2+ it gives an error showing that django 1.11 is incompatible.

``
ERROR: dj-stripe 2.0.5 has requirement Django>=2.0, but you'll have django 1.11 which is incompatible.
``

[2020-03-16 09:37] therefromhere commented on #1129
Yeah, sorry djstripe>2 requires Django>2.

It's worth noting that Django 1.11 is end of life soon - April 2020.

[2020-03-16 13:59] alexphelps commented on #1129
Well... looks like I'll need to upgrade to Django 2+ and then go for the dj-stripe update to 2.2.3. Thanks for the quick responses guys.

[2020-03-16 13:59] #1129 closed, assigned to nobody

[2020-03-22 02:52] ogu2 commented on #1125
Ran into this too

[2020-03-24 02:10] aaronn opened #1130 "Webhooks Not Updating Database Objects"
**Describe the bug**
Webhooks aren't updating my objects internally. If I create an object, even if I successfully receive a webhook (200ing on the Stripe dashboard), the objects don't update. For now I need to manually flag a subscription as active by detecting the "checkout.Session.complete" webhook.

- I can confirm that the webhook comes down normally and correctly (status is 'trialing')
- My

[2020-03-24 02:28] aaronn commented on #1130
Here's what I'm doing temporarily to get my status updated:

[code]

[2020-03-24 15:39] mattstrayer commented on #1130
Ran into the same issue last night. Cancelled a subscription via the stripe dashboard, webhook didn't reflect the changed subscription state (cancelled). running `python manage.py djstripe_sync_models` did not resolve the issue. Had to manually change the database row via django admin.

[2020-03-28 00:53] therefromhere commented on #1130
Hi, I can't reproduce this issue - eg using current master & the example app in the repo then webhooks are synced correctly when I create or cancel subscriptions via the Stripe dashboard.

Can you fill in the issue template? (it's fine to add it here as a comment rather than creating a new issue), and also have a look at your webhook logs both in http://127.0.0.1:8000/admin/djstripe/webhookeventtr

[2020-04-01 07:47] mindey opened #1132 "Is dj-stripe suitable, when each user needs to have different stripe API keys?"
Suppose, you're building something like ERP system with Django, where you've got to support each user to have their different Stripe API keys.

From what it looks, dj-stripe simply hard-codes the API keys to the settings via environment variables, so it seems unsuitable for cases, where each user will have different Stripe API keys. Is it true? Or is there a way to use dj-stripe with different Str

[2020-04-02 16:37] mattstrayer commented on #1130
Hey, Thanks for the response. I can't seem to replicate this anymore... and nothing in the webhook logs you pointed me to was relevant to the previous error. My only thought on this is when a webhook fails to post, the sync_models command didn't pick up what the webhook should have delivered. I'll continue to try and reproduce.

[2020-04-03 10:53] ndjdev opened #1133 "djstripe_webhookeventtrigger.body as a JSONField"
I was wondering whether there was a reason `djstripe_webhookeventtrigger.body` is not a `JSONField` and is instead a `TextField` or whether this was simply overlooked? We're trying to query the table and it is making the queries extremely expensive casting to jsonb on each run.

Thanks

[2020-04-06 23:41] #1052 closed, assigned to nobody

[2020-04-07 16:19] taewookim opened #1135 "UserWarning: Could not determine remote IP (missing REMOTE_ADDR). This is likely an issue with your wsgi/server setup. "Could not determine remote IP (missing REMOTE_ADDR)."
**Describe the bug**
See title

**Expected behavior**
Should see customer / plans in the DB, but in gunicorn, im getting

[code]

Webhook log (Screenshot [https://i.postimg.cc/BbVB5kfW/image.png](https://i.postimg.cc/BbVB5kfW/image.png))

Header:

[code]

Body

[code]

**Environment**
- dj-stripe version: [e.g. master at <hash>, 2.0.0 etc]  - 2.3.0.dev0
- Your Stripe account's default API version:

[2020-04-07 19:18] taewookim commented on #1135
I checked out stripe dashboard.. it's getting response code of 400

[2020-04-09 15:32] ndjdev opened #1136 "duplicate key value violates unique constraint "djstripe_djstripeinvoice_invoice_id_tax_rate_id_f5c47abe_uniq""
**Describe the bug**
Since March 24th we have been getting a ton of these errors coming through.

**To Reproduce**
1. Enable stripe webhook to dj-stripe
2. In stripe dashboard create a subscription which has a default tax rate of 20% inclusive and one single line-item which has a 0% tax rate
3. See attached error on webhook

**Expected behavior**
Webhooks should complete without erroring on first

[2020-04-09 15:58] ndjdev commented on #1135
What do you have set as your webhook address in Stripe?

[2020-04-09 18:35] taewookim commented on #1135
https://my-domain/stripe/webhook/

I can see their servers hitting the endpoint. This is from gunicorn log:

[code]
Bad Request: /stripe/webhook/

[2020-04-09 20:14] anuzis opened #1137 "Quick fix of BaseInvoice.paid.help_text"
https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/billing.py#L408

    paid = models.BooleanField(
        default=False, help_text="The time at which payment will next be attempted."
    )

Should probably be something like:

    paid = models.BooleanField(
        default=False, help_text="Whether this invoice has been fully paid."
    )

[2020-04-09 21:25] therefromhere commented on #1137
Thanks for reporting, looks like a copy-paste error.

It should be: "Whether payment was successfully collected for this invoice. An invoice can be paid (most commonly) with a charge or with credit from the customer’s account balance."

https://stripe.com/docs/api/invoices/object#invoice_object-paid

[2020-04-10 00:30] #1054 closed, assigned to nobody

[2020-04-10 00:50] therefromhere commented on #1136
Thanks for the report, it looks like the bug is in `djstripe.models.base.StripeModel._stripe_object_set_total_tax_amounts`, but I haven't managed to reproduce it locally yet.

[2020-04-10 01:43] therefromhere commented on #1136
I've added #1139 as a possible fix, or at least a reasonable tidyup.

If on the other hand this is somehow related to race condition in object creation, see #903 for discussion of a possibly similar (resolved) issue.

[2020-04-10 02:23] #1137 closed, assigned to nobody

[2020-04-11 04:05] smoothstonedesign commented on #1132
This is an issue for me as well. My first thought was to use connected accounts but there are some webhook issues #740 that seem like more than a quick fix.

I am attempting to build an app using django-tenants which routes database schemas for each client by their domain. This would work well if the settings were dynamic... If i could just tell djstripe which settings to use. This is similar to t

[2020-04-11 04:35] therefromhere commented on #1132
Yeah, dj-stripe currently doesn't have any support for multiple API keys.

I haven't thought too much about how to implement it, but a first step would be supporting multiple keys from a single stripe account.

You both seem to be talking about multi-tenancy though, would be is another extract step of complication.

[2020-04-14 16:22] taewookim commented on #1135
THoughts? WHat particularly about the wsgi is this a symptom of?

[2020-04-15 14:09] gone opened #1142 "Documentation request - customer subclass needs a manual pointer to parent class if also named customer"
If you make a subclass of customer, and also want to name it customer, the api sync with stripe will break due to this line:
https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/event_handlers.py#L339

The customer attribute in that case will the backwards relationship to our custom customer class, rather than the DJStripe customer, which will break things.

The fix is pretty simple - on ou

[2020-04-16 04:29] mattstrayer commented on #1091
Very helpful, @ZachPerkitny - thanks!

[2020-04-16 22:39] ndjdev commented on #1136
Can confirm issue fixed in 2.3.0rc0 :+1:

[2020-04-16 22:39] #1136 closed, assigned to nobody

[2020-04-16 22:43] therefromhere commented on #1136
Awesome!  Thanks checking that.

I'll aim to release 2.3.0 proper with no changes from the RC other than squashed migrations, probably over the weekend.

[2020-04-18 23:09] therefromhere commented on #1136
I've released 2.3.0 now.

[2020-04-26 00:10] williamflynt opened #1145 "`Customer.subscribe` method appears to use outdated request"
I was writing tests for our app that uses `dj-stripe`. Thanks for writing and maintaining this complex package!!

We use [`stripe-mock`](https://github.com/stripe/stripe-mock) for tests, which is pinned to the most recent API version. Using this version, a test was failing for an invalid request when attempting a `Customer.subscribe(plan="<str>")`.

I checked the [Stripe docs](https://stripe.com/d

[2020-04-26 01:00] therefromhere commented on #1145
Hi, thanks for the report.

I've just tested this vs v2.3.0 and it's working as expected.

eg the following creates a subscription:

[code]

This will be working because we hard-code the stripe version used by dj-stripe internally - see https://dj-stripe.readthedocs.io/en/stable/api_versions.html

But it is something we should pay attention to upgrading when we next upgrade `DEFAULT_STRIPE_API_VER

[2020-04-26 01:01] therefromhere commented on #1101
Note - ensure `Customer.subscribe` is tested and updated as necessary - see #1145

[2020-04-26 01:40] therefromhere commented on #1145
PS, this is  one of the reasons dj-stripe doesn't currently use stripe-mock for testing - as you say stripe-mock only supports the latest stripe API version, whereas dj-stripe pins to a known-good version.

See #567 for discussion of stripe-mock, and #892 for the current implementation of test fixtures - this is my slightly hare-brained scheme which uses a real (test-mode) stripe account to genera

[2020-04-26 14:32] PabloCastellano opened #1146 "Support Subscription backdating"
Since recently, Stripe supports a new Subscription parameter for backdating invoices.

Documentation here: https://stripe.com/docs/api/subscriptions/create#create_subscription-backdate_start_date

[2020-04-28 18:29] ajroberts0417 opened #1147 "Invoice "status" does not sync"
**Describe the bug**
A clear and concise description of what the bug is.
Both locally, and in my production application, Invoice Status fields have stopped syncing.

Though, that's not quite accurate. Specifically, they are all syncing to be an empty string `""`.

We used to have a valid `status` on each Invoice, now we only have an empty string.

**To Reproduce**
Steps to reproduce the behavior:

[2020-04-28 18:30] ajroberts0417 commented on #1147
Hoping someone can at least point me in the right direction for a fix?

[2020-04-29 21:26] mattstrayer opened #1148 "TaxRate Creation"
I have a use-case to create the TaxRate objects with djstripe and have those sync back up to Stripe. From current tests and using `TaxRate.objects.create()` doesn't appear to talk to stripe at all. Is there a different route to TaxRate creation that I'm missing?

Thanks!

[2020-04-29 21:52] therefromhere commented on #1148
Hi, yes, what you need to do is create the objects using the python stripe SDK, and then sync them to dj-stripe.

See this example for creating a product - https://dj-stripe.readthedocs.io/en/stable/usage/manually_syncing_with_stripe.html?highlight=sync_from_stripe_data#in-code `TaxRate.sync_from_stripe_data()` is the classmethod you're looking for.

dj-stripe's strong point is in syncing data fro

[2020-04-29 21:57] mattstrayer commented on #1148
Gotcha, okay! That's where I was heading next, just wanted to be certain that was the right approach. Appreciate the quick response :)

[2020-04-29 21:57] #1148 closed, assigned to nobody

[2020-04-29 22:47] lee-hodg opened #1149 "Charge refunded not updated?"
The `Charge` object has a `refunded` field but even after issuing a refund on stripe and waiting a few hours this field does not seem to be set to `True`. Despite the fact that on Stripe the charge has now been labelled as "refunded" and email to the buyer was received.

I don't know if it's just a refreshing issue? But even `charge.api_retrieve()` showed `"refunded": false,`

**To Reproduce**

1.

[2020-04-29 22:58] therefromhere commented on #1149
`api_retrieve()` is returning the stripe API data, so this sounds like a Stripe issue?

See if you can recreate the issue with the stripe python package alone, not using dj-stripe?

If that works, see if the issue returns after setting stripe to use our current pinned API version:

[code]

[2020-04-30 00:31] mattstrayer commented on #1148
As a followup, here @therefromhere . If I want to attach a TaxRate to a Subscription, I'll need to do the same method. Stripe API call -> webhook -> djstripe db. There's no way to `Subscription.default_tax_rates.add(taxrate_instance)` and have that push up to Stripe. Just a sanity check. Thank you again!

[2020-04-30 00:41] therefromhere commented on #1148
Correct.  We do have some helper functions on the models to do some stripe updates (eg `Subscription.update()`, but that doesn't have support for TaxRate updates).

see https://dj-stripe.readthedocs.io/en/stable/reference/models.html#djstripe.models.Subscription.update

[2020-04-30 01:06] mattstrayer commented on #1148
okay -- thanks again for the speedy replies.

[2020-04-30 12:52] lee-hodg commented on #1149
@therefromhere Yes it does seem a stripe issue.

I tried

[code]

and the JSON response still shows as `refunded: false` even though the dashboard shows this payment as refunded...

Unless it doesn't update until the money actually hits the customer account after 5-10 days?

[2020-04-30 17:15] ajroberts0417 commented on #1147
Any idea what might be the cause here @therefromhere ?

[2020-05-01 22:40] ajroberts0417 commented on #1147
I managed to resolve this issue -- it turns out the sync wasn't working in my stripe test environment, but did actually work in production.

I'll need to look deeper into the test environment issue, but it could definitely have been a problem in my environment. Closing the issue.

[2020-05-01 22:40] #1147 closed, assigned to nobody

[2020-05-01 22:46] therefromhere commented on #1147
Thanks for the update, sorry I didn't get back to you.

[2020-05-01 22:49] ajroberts0417 commented on #1147
No worries -- there is a bit of a deeper issue here though, which is that when djstripe 2.3 released, the Invoice status field shipped without actually syncing any data.

Should there have been a forced sync in the migrations? That's something that could be added as a patch, I assume.

[2020-05-01 23:01] therefromhere commented on #1147
No - I don't think doing API calls during a migration is a good idea.

But you should be able to use `./manage.py djstripe_sync_models` after the migration to update any new fields - it's not a bad idea to run that after each migration release.

We should document that command, and also have some general documentation on the upgrade process - something similar to https://docs.djangoproject.com/en/

[2020-05-01 23:08] therefromhere commented on #1147
So yeah the command is documented here - https://dj-stripe.readthedocs.io/en/stable/usage/manually_syncing_with_stripe.html#command-line but it probably should be mentioned as part of a broader doc on how to upgrade.

Hmm I just noticed that the code examples are missing from the docs - see source here - https://github.com/dj-stripe/dj-stripe/blob/master/docs/usage/manually_syncing_with_stripe.rst

[2020-05-01 23:12] therefromhere opened #1150 "Code examples are lost during docs build"
eg compare

https://dj-stripe.readthedocs.io/en/master/usage/manually_syncing_with_stripe.html

with

https://github.com/dj-stripe/dj-stripe/blob/master/docs/usage/manually_syncing_with_stripe.rst

from https://github.com/dj-stripe/dj-stripe/issues/1147#issuecomment-622605047

[2020-05-01 23:16] therefromhere opened #1151 "Document the recommended upgrade process"
Something based on https://docs.djangoproject.com/en/3.0/howto/upgrade-version/  would be a good idea.

- Review the change log for breaking changes
- Upgrade one feature release at a time (eg 2.2.x to 2.3.x)
- Test for deprecation warnings before/after each feature release
- Suggestion to run `./manage.py djstripe_sync_models` after feature release in order to populate new fields - link to https:

[2020-05-02 00:27] #1150 closed, assigned to therefromhere

[2020-05-03 02:12] #1107 closed, assigned to nobody

[2020-05-03 17:56] mattstrayer commented on #1068
Also running into this issue via a webhook after setting a new default card `customer.add_card(source=xxx)` and then detaching all other sources

[code]

Webhook is returning a failure:

`Request req_HRle49v48QHyur: A source must be attached to a customer to be used as a 'payment_method'.`

Request Body
[code]

[2020-05-04 19:00] PabloCastellano opened #1155 "PaymentMethod.detach() does not set default_payment_method to None"
**Describe the bug**

I found a bug today when a customer is detaching his PaymentMethod and he only had one.

Detaching works fine because PaymentMethod.customer is set to None, however Customer.default_payment_method still references the now detached PaymentMethod.

**To Reproduce**

1. Create customer
2. Attach a payment method
3. Detach payment method

**Expected behavior**

If no other paymen

[2020-05-04 19:08] PabloCastellano commented on #1155
I would like to fix it myself but I am confused with the legacy? sources. @therefromhere can you give me some pointers please? :pray:

[2020-05-04 20:29] therefromhere commented on #1155
Hi yeah, happy to help, there are a few weird bits, especially around how Stripe wraps legacy Cards with PaymentMethods (eg if a legacy Card is detached, it's actually deleted in Stripe - this also applies to the PaymentMethod that Stripe wraps around it)

What was it in particular?

Your logic above looks reasonable, another approach would be to attempt to `api_retrieve()` the customer and then `

[2020-05-04 22:03] PabloCastellano commented on #1155
Hi @therefromhere. I have been reviewing the code and in fact what you mention is what the code is supposed to do now :)

https://github.com/dj-stripe/dj-stripe/blob/cec238e4cf5338b87479504811f409b87ded66fe/djstripe/models/payment_methods.py#L589-L603

However `Customer.sync_from_stripe_data(customer.api_retrieve())` doesn't do what is expected. Does it ring any bell to you?

[2020-05-04 22:20] therefromhere commented on #1155
Hah, well my theory was right at least :laughing:

Interesting. That issue doesn't ring a bell, no.

is `is_legacy_card` True in this case or not?

What does `customer.api_retrieve()` return?

Hmm, it's not a bug with lazy evaluation of the `customers` query-set is it?  Just wondering if we need to change line 589 to:

[code]

[2020-05-04 22:54] PabloCastellano commented on #1155
Sorry @therefromhere I edited the comment because my webhook was interfering with the debugging session I'm having, so I think it's not related to lazy evaluation.

`is_legacy_card` is False and `customer.api_retrieve()` returns the following:

[code]

[2020-05-04 23:03] therefromhere commented on #1155
So yeah that looks sensible -

[code]

Can you debug further as to why it's not carrying through to update `customer.default_payment_method`?

[2020-05-04 23:04] PabloCastellano commented on #1155
`_stripe_object_field_to_foreign_key` is returning skip=True

https://github.com/dj-stripe/dj-stripe/blob/cec238e4cf5338b87479504811f409b87ded66fe/djstripe/models/base.py#L233-L242

* field.name = 'default_payment_method'
* field_data = None
* skip = True

[2020-05-04 23:24] therefromhere commented on #1155
Presumably due to hitting this line:

https://github.com/dj-stripe/dj-stripe/blob/cec238e4cf5338b87479504811f409b87ded66fe/djstripe/models/base.py#L315-L316

This feels like possibly a larger bug in the sync logic, that ForeignKeys aren't being nulled by sync_to_stripe_data due to the above.  I'd need to sit down and have read through the logic again to get my head around if that's how it's suppos

[2020-05-04 23:24] therefromhere commented on #1155
Would be good to get a PR with a failing test of this scenario though even if you don't manage to get a fix together.

[2020-05-04 23:35] PabloCastellano commented on #1155
You are right, `raw_field_data` is None at that point. Also, is this comment in the correct line?

https://github.com/dj-stripe/dj-stripe/blob/cec238e4cf5338b87479504811f409b87ded66fe/djstripe/models/base.py#L342-L344

I will try to create a failing test. Thanks for the help! :+1

[2020-05-05 00:23] PabloCastellano commented on #1155
@therefromhere I'm not able to understand 100% how the testing works, however this caught my attention:

https://github.com/dj-stripe/dj-stripe/blob/2bf2c88712ef6eb31b9303f3122eb2bbe8309a42/tests/__init__.py#L476-L479

Since that is being used for mocking the detach function, it makes sense that the error doesn't get caught and we should mock it better. Does it make sense?

[2020-05-05 00:42] therefromhere commented on #1155
Hmm possibly yes. It may be that you still hit the bug even with this simple mock of the stripe detach though.

[2020-05-06 21:31] aaronn opened #1156 "Customer.get_or_create() throws DoesNotExist."
`Customer.get_or_create()` is throwing a `DoesNotExist` exception, which doesn't seem like it should be possible. Not totally sure how to replicate this, but it is consistently happening with this specific user in my db.

[code]

[2020-05-06 21:38] #1156 closed, assigned to nobody

[2020-05-06 21:43] aaronn opened #1157 "stripe.error.IdempotencyError in `Customer.get_or_create(subscriber=user)`"
I'm getting this error when trying to create a new Customer with `Customer.get_or_create(subscriber=user)`

[code]

This is the state after a user has cancelled their account and is now trying to create a new one. It seems the `get_or_create()` method isn't generating a new idempotecy key as necessary.

[2020-05-06 21:53] aaronn commented on #1157
Not really sure what to do here since I can't pass my own idempotentcy key to the method– so I've just changed the idempotency key in the database directly to something else. Not sure how this happened.

[2020-05-06 21:56] aaronn commented on #1157
Okay, looks like this happens when the user changes their email– because the `Customer.get_or_create()` method requires the **exact** same input. What's a good solution for this?

We need to either refresh the key, or strip the email. Refreshing the key is preferred.

[2020-05-08 01:18] mrcoles commented on #494
@tkwon, I’m curious, did you end up dropping the relation? ~~Are you creating a different Stripe customer for each account + django user combination in your platform? It seems like if one is doing direct charges, then that would make sense.~~

Update: is the main assumption in this issue incorrect?

1. The email field on Customers is never unique in Stripe—this is not specific to Connect
1. With S

[2020-05-09 19:43] dzhang228 opened #1159 "1824, "Failed to open the referenced table 'auth_user'""
I installed djstripe, (in window 10),  when doing migrate, 0001_initial, get the operation error:
    1824, "Failed to open the referenced table 'auth_user'"

searched, but get no clues how to solve that.

[2020-05-09 20:36] anjunamonkey commented on #1124
+1 on this. Subscriptions created using Stripe Checkout are syncing to dj-stripe via webhooks, but not clear on how to sync single checkout sessions to a dj stripe model (e.g containing           line_items and payment_intent_data)

[2020-05-11 17:33] dzhang228 commented on #1159
seems due to storage engine inconsistent

[2020-05-11 17:33] #1159 closed, assigned to nobody

[2020-05-11 20:42] aaronn commented on #1157
I decided to solve this by catching the `stripe.error.IdempotencyError` and resetting the key:

[code]

[2020-05-12 04:19] kavdev commented on #1133
Is body guaranteed to be JSON? If so, I suppose we could attempt to convert it, but that would likely be quite a pain for people. I'm open to it.

As for whether it was overlooked: I don't remember exactly, but it's entirely possible that JSONField (even the non-native one) wasn't a thing back when we first created the webhook mechanism.

[2020-05-14 19:57] nickromanooo commented on #1125
I am seeing this as well. My issue was related to having multiple developers local environments hooked up to the same Stripe environment. Customer update events would trigger this if they weren't in the local with correct djstripe_id.

[2020-05-15 12:31] mands opened #1161 "Rolling back migrataions fails when uninstalling"
We're trying a few different pricing strategies so I'm trying to uninstall `dj-stripe` for the time being and hitting some issues.

I can't see any documentation for uninstalling so am assuming it's just a case of removing it from the code-base, rolling the migrations back to `zero`, and then removing the app (although please let me know if there is another recommended way to uninstall).

When rol

[2020-05-15 14:25] ghassett opened #1162 "Infinite recursion when webhook gets called"
**Describe the bug**
When the dj-stripe webhook gets called, it enters an infinite recursion which eventually raises an exception with the message "maximum recursion depth exceeded while calling a Python object"

**To Reproduce**

1. Install dj-stripe
2. Put Stripe into "view test data" mode so we can work with test data.  `settings.STRIPE_LIVE_MODE` should be `False`
3. Point your stripe account

[2020-05-16 11:47] jleclanche opened #1164 "Missing fields on Invoice"
Looking at a hosted invoice, I can see the following fields are missing.

[code]

[2020-05-17 10:23] caligoig commented on #1162
I am having EXACT same issue,
@ghassett let me know if you have any additional details, maybe we can fix this together
Thanks

[2020-05-18 00:52] lee-hodg opened #1165 "Customer charge doesn't accept the stripe_account argument"
When doing direct charges on a connect account stripe accepts the `stripe_account` argument, see https://stripe.com/docs/payments/charges-api/connect but djstripe `Customer.charge` method does not accept that argument.

[2020-05-18 16:37] PabloCastellano opened #1166 "What do you think about this DjstripeTestCase?"
Hi all.

I wanted to build some integration tests to verify the flow of registering a Customer, then adding a PaymentMethod, purchasing a Subscription, etc. For this, I need to be able to receive the webhook events and process them while running the tests. Tools like [vcrpy](https://github.com/kevin1024/vcrpy) are useful but only work for requests made in the test case (you cannot use it for recei

[2020-05-18 16:39] PabloCastellano commented on #1162
I confirm I've run into this too

[2020-05-18 16:42] mattstrayer opened #1167 "Stripe Introduced new LineItem Api Resource in v2.48 - Causing TaxRate Sync Failure"
**Describe the bug**
Syncing TaxRate from stripe data will fail with `AttributeError: module 'stripe.api_resources' has no attribute 'LineItem'` as Stripe has introduced a new API Resource (LineItem)

**To Reproduce**
Steps to reproduce the behavior:
Create a TaxRate via Stripe Library
[code]

**Expected behavior**
Expectation would be 1) support for LineItem model or a passthrough to avoid parsin

[2020-05-18 21:10] kavdev commented on #1162
@ghassett @caligoig @PabloCastellano are you all experiencing this when an invoice gets synced? If so, next step is to identify at what point in the json tree ``_create_from_stripe_object`` loops back to an object that's already been checked.

Based on @ghassett's event sample, I have a hunch that it's subscription.

[2020-05-18 21:15] kavdev commented on #1166
@PabloCastellano this is interesting. Can you show an example of a test you'd write using it?

[2020-05-19 07:19] caligoig commented on #1162
@kavdev
Yes, it is subscription.
Fails on start can not be null.
and if I add nulls allowed on subscription start column, it is working ok.
Column start is replaced with start_date in https://stripe.com/docs/upgrades#2019-10-17
Thanks

[2020-05-26 22:09] JohnnyZ opened #1168 "Incomplete subscription not removed after delete/expiration"
An incomplete subscription that expires or is manually deleted in the stripe admin portal does not update the stripe subscription object leaving me to have to manually delete it.

Replicate/Flow
A user creates a new subscription
Payment fails
Subscription is marked as incomplete (in stripe dashboard)
Subscription object is created in Django backend
IF/WHEN - subscription expires or is manually del

[2020-05-27 08:11] ezet opened #1169 "Error in payment_intent.created webhook if customer has deleted payment method"
**Describe the bug**
If a customer deletes their payment method immediately after performing a payment intent charge, the `payment_intent.created` wehbook handler may error out as it attempts to retrieve the non-existent payment method.

**To Reproduce**

1. Charge a payment intent with a payment method
2. Delete the payment method immediately
3. If the payment method is detached before the PI eve

[2020-05-28 12:28] ezet commented on #1068
Also encountering this issue, and this is a pretty major blocker for us :(

[2020-05-28 19:35] seizir opened #1170 "Prices support"
Stripe recently added a new prices API as a replacement for plans.

https://stripe.com/docs/api/prices
https://stripe.com/docs/api/plans

[2020-05-30 02:35] steverecio commented on #850
Still getting this issue (migrating from 1.2.3 to 2.3.0)

[code]

[2020-05-30 04:00] therefromhere commented on #850
@steverecio can you try running the manage command in https://github.com/dj-stripe/dj-stripe/pull/1171/files before running the 0003 migration - this is a branch from stable/2.0, so running that branch should be equivalent to running v2.0.5 + this command.

If that works you should then be able to migrate and then upgrade to newer versions.

BTW I would suggest upgrade one minor version at a time

[2020-05-30 06:21] brandnamewater commented on #97
This is obviously old but I am using dj-stripe and also need to use Express Connect.  Is the Account Model  in dj-stripe just used for me to store the API response from the Stripe Express callback or is there some other functionality I'm missing?

[2020-05-30 12:30] steverecio commented on #850
@therefromhere that worked really well. Thanks!

[2020-05-30 21:02] therefromhere commented on #850
Great!

[2020-05-30 22:14] steverecio commented on #850
I'm all set at this point but might be a good idea to patch the 0003 migration with the contents of that management command

[2020-05-30 23:25] therefromhere commented on #850
Yeah that's the weird thing - it's part of the 0003 migration and has been since 2.0.1 (see #863 / aec23be3b77879b9aab7549a9e45c5b77be44f9c ).  Not sure why it wasn't working in your case, since it did fix the issue for other people - presumably something subtle to do with Postgres config?

[2020-05-30 23:33] therefromhere commented on #650
If anyone else is still stuck on this issue, try the management command in #1171 (which is on the 2.0 branch).

[2020-05-31 01:42] jleclanche commented on #512
Coming back to this with a clearer head: I implemented a custom StripeForeignKey class which replaces models.ForeignKey for everything except the Coupon and Plan special-cases.

I subsequently am able to create a setting which lets me swap out the `to_field` on StripeForeignKey for "id" instead of "djstripe_id". However, this breaks during the migrations because of the renames, and I frankly did n

[2020-05-31 01:42] therefromhere opened #1174 "Fix system check failure on Django 3.1: (fields.W903) NullBooleanField is deprecated."
eg from https://travis-ci.org/github/dj-stripe/dj-stripe/jobs/693027232

[code]

Currently muted as part of #1173, but we should fix properly.

[2020-05-31 01:51] jleclanche opened #1175 "TODO: Docs: Document usage of USE_NATIVE_JSONFIELD"
With #1173 landing, we should recommend using `USE_NATIVE_JSONFIELD`, or possibly even defaulting to it (though defaulting may break backwards-compat for people upgrading).

[2020-05-31 06:20] #1174 closed, assigned to nobody

[2020-05-31 17:34] jleclanche opened #1179 "Account owner foreign key on all models"
I'm sure I opened an issue about this before but I can't find it now.

I'd like to add an `Account` foreign key on every model, which namespaces the object to a particular Stripe account.

This is distinct from the `Account` foreign keys used for Stripe Connect, at least at first for simplicity. It might not be entirely distinct, I don't fully understand whether Stripe namespaces connect accounts

[2020-05-31 23:54] therefromhere commented on #1175
I'm wondering if maybe removing the default False, so new users are forced to choose a value of `USE_NATIVE_JSONFIELD` would be a good idea? Along with a useful hint in a check - eg something like:

"You must set a value of USE_NATIVE_JSONFIELD. Existing installs of dj-stripe that haven't set this value, or those using Django<3.1 and not using postgres must use USE_NATIVE_JSONFIELD=False. New inst

[2020-06-01 01:25] therefromhere commented on #1179
How about only storing a hash of the secret key?

[2020-06-01 02:57] jleclanche commented on #1179
@therefromhere I thought about it, but I also think we could just use the in-database secret key for making API queries and no longer have it in the settings. This was talked about before by some users who want support for multiple secret keys for multi-tenant (which is what I'm working on right now).

[2020-06-01 03:13] therefromhere commented on #1179
Hmm, maybe. I haven't thought much about multitenancy tbh. I guess by putting the keys in the DB it at least means you can dynamically add new tenants, but it does make me a bit nervous.

Do you think having keys in the DB is a must-have for multitenancy?

[2020-06-01 03:15] jleclanche commented on #1179
It's a must-have for dynamic setups. We could have an opt-in for it though; it makes me nervous as well (and it really shouldn't considering that as I said, the entire djstripe db *should* be encrypted).

[2020-06-01 03:16] jleclanche commented on #1179
By opt-in I mean something like a setting which has to be set to True for the keys to be stored in the db, otherwise multitenancy support is disabled and the key is fetched for the setting (and we'd need something like this for backwards compatibility anyway).

[2020-06-01 03:52] jleclanche commented on #512
@therefromhere I have a set of commits which implements Stripe IDs as foreign keys as a setting, similar to how we handled USE_NATIVE_JSONFIELD. This kind of sidesteps implementing a migration, expecting the user to take care of that part of it themselves should they change the setting.

One thing I realized while working on this is that generic foreign keys cannot consistently reference other mod

[2020-06-01 03:57] therefromhere commented on #1179
Yep, sounds good.

[2020-06-01 04:01] jleclanche opened #1180 "Less fields on base StripeModel"
- `description` is on the base StripeModel but it's not consistently on every sub-model.
- `livemode` is missing from some models (Account is always livemode afaict); I'm thinking it should be a mixin? Maybe we could have a StripeBaseModel and a StripeModel or something.

[2020-06-01 04:14] therefromhere commented on #1180
Yep, makes sense

[2020-06-01 05:27] therefromhere commented on #512
Yeah a setting to enable stripe ids makes sense to avoid migration pain. Downside is of course it's another dimension of configuration to test, but seems like the less painful option.

Are you thinking we'd default it off, or force people to choose like I was suggesting for `USE_NATIVE_JSONFIELD`, and recommend that new installs use it?

As for not supporting the same id in live + test mode, yeah,

[2020-06-01 05:28] jleclanche commented on #512
Coupons and plans used to be manual-only, it's only somewhat recently they started giving them (still-optional) autogenerated IDs.

OTOH we haven't had dual live+test mode support for particularly long.

[2020-06-01 05:36] jleclanche commented on #851
What does the data look like if you get it with the cli/api?

[2020-06-01 07:59] kavdev commented on #512
It looks like stripe is actively trying to move away from custom object ids. The new pricing plans ui only lets you add a description.

I'm sure the coupon ui will change soon too.

As long as we're assured that object ids are globally unique, this should be a good move forward. Having it behind a setting is probably a good idea; not sure which way to go on that (default true/false) yet though.

[2020-06-02 10:07] jayvdb commented on #1161
I get a different error even when uninstalling a different set of migrations, when using https://github.com/dex4er/django-migrations-ignore-attrs (will raise it there also)

[code]

[code]

# Versions
*   OS: Linux (Fedora 32)
*   Python: 3.8.2
*    Django: 3.0.6
*    dj-stripe: 2.3.0

[2020-06-02 14:17] czue commented on #1170
Anyone working on this? It appears that all new Stripe billing implementations are now forcing people to use `Prices` instead of `Plans` which means this is going to be an important thing to have support for

[2020-06-02 21:00] therefromhere commented on #1170
I don't plan to work on it myself, but if someone wants to take it on I can give guidance.

[2020-06-03 07:23] czue commented on #1170
Thankfully it appears that the current `Plans` API is fully backwards compatible, so everything still works if you just use djstripe `Plan` support (it's just a little confusing that the model is different). That said, I assume it makes sense to add explicit support for `Prices` eventually. I may take a crack at this if I have time, though have not looked deep into the internals of this lib before

[2020-06-03 08:00] therefromhere commented on #1170
Cool!

In terms of the scope of code changes I imagine it'd look similar to #1027 - that's a fairly recent PR adding a new model (TaxRate in that example). #914 is a larger one (adding SetupIntent etc).

Prices are part of the Core section of the api so should be added to models/core.py.

Generally speaking I think dj-stripe's strength is for syncing from Stripe to Django (rather than the other wa

[2020-06-03 08:02] czue commented on #1170
Thanks for the quick response! This is awesome. I'll digest this and report back if I'm able to make any progress.

[2020-06-03 20:32] smartcoder-7 opened #1181 "Can we get the doc elaborate how to use webhooks in more detail?"
I have followed instructions and set up the routes.
[https://dj-stripe.readthedocs.io/en/stable/installation.html](url)

I implemented the webhook handlers with the decorator.
[https://dj-stripe.readthedocs.io/en/stable/usage/webhooks.html](url).
but I am not sure how to register the handlers to the app.
The doc says like the following but very confusing.
`In order to get registrations picked up,

[2020-06-04 19:17] mrcoles opened #1182 "ModuleNotFoundError 'rest_framework' after setup.py develop"
**Describe the bug**

Running `python setup.py develop` and then `python manage.py shell` yields the error:

**To Reproduce**

See the following execution of commands from a bash shell:

[code]

**Expected behavior**

I expected `python manage.py shell` to just work after doing the setup. As you can see, installing `djangorestframework` made the problem go away.

**Environment**

- dj-stripe versi

[2020-06-04 19:30] mrcoles opened #1183 "Add more issue templates"
There should be another issue template in this project for generic issues that are not “webhook / sync issues”. How it’s currently set up, I think almost everyone is making issues with that tag, because the UI makes it look like that’s the only option for creating an issue.

![image](https://user-images.githubusercontent.com/136651/83802103-2da07c00-a678-11ea-9964-4b548f316619.png)

[2020-06-04 20:09] jleclanche opened #1184 "Support for migrations across many dj-stripe versions"
I'm still working on the stripe id / djstripe_id issue and in order to fix it without spending days hacking up and monkeypatching django, I think I have to remove the `id => djstripe_id` rename migrations from `0003_auto_20181117_2328_squashed_0004_auto_20190227_2114`.

What that means in practice is dropping support for migrating from versions that have not yet run that migration, which is anythi

[2020-06-04 20:11] jleclanche commented on #1184
@therefromhere incidentally this would override #1171.

[2020-06-04 20:46] therefromhere commented on #1184
Yeah, I'm not against this providing the upgrade path is clear to users - eg see #1151

I agree #1171 wouldn't be needed on stable/2.0 but maybe it should be backported to stable/1.2, so people can run it before migrating if they still hit #850.

[2020-06-04 20:50] therefromhere commented on #1183
Yeah fair point on this. We could add another issue template for "Other issues" to make it slightly more obvious how to create an issue that's not related to webhooks/sync.

[2020-06-04 20:51] therefromhere commented on #1151
Note that this will be more important if we squash migrations (see #1184)

[2020-06-05 10:07] jleclanche commented on #1133
I wrote webhookeventtrigger IIRC, and it's not guaranteed to be JSON no, if there's an error especially it might be some other text. WebhookEventTrigger is not really supposed to be looked at programmatically anyway; what you want instead if you'd like to query a history of events @hcNick is the Event model.

Remember the WebhookEventTrigger table will have entries for *every* trigger, not just in

[2020-06-05 10:07] #1133 closed, assigned to nobody

[2020-06-05 10:14] ndjdev commented on #1133
Thanks for the explanation @jleclanche

[2020-06-06 02:14] mrcoles opened #1187 "Connect Webhooks Support"
Currently, dj-stripe has partial support for working with [connected accounts](https://stripe.com/docs/api/connected_accounts), but in order to handle this fully it needs to support the separate connect webhook endpoint (in addition to the normal webhook) and it needs to be able to identify—for each object—which account it is associated with.

I have been working on changes here: https://github.co

[2020-06-08 00:01] jleclanche commented on #464
I'm gonna go ahead and close this as a wontfix. Given that plans are able to have unique IDs now it seems like stripe is "deprecating" having these non-unique IDs.

[2020-06-08 00:01] #464 closed, assigned to nobody

[2020-06-08 14:02] jayvdb commented on #1179
Maybe https://github.com/dj-stripe/dj-stripe/issues/494 ?

[2020-06-11 16:01] #1179 closed, assigned to jleclanche

[2020-06-12 07:04] jayvdb commented on #1175
Enable it by default only for Django 3.1 users?

And include a mild threat that `USE_NATIVE_JSONFIELD=False` will be deprecated in Django 3.2/3.3/whatever?

Anyone upgrading to Django 3.1 should be doing that in a careful way, and they should get an informative error telling them how to upgrade the field.  Most will do it, or they will

1. Abandon Django 3.1 upgrade, and allocate more time to do i

[2020-06-12 07:43] jleclanche commented on #1175
I do not have a production legacy install using the non native jsonfield so I don't feel comfortable requiring people to migrate unless we have a migration guide for them.

If you are able to write and test one then I'd be +1 on officially deprecating it.

[2020-06-12 07:55] jayvdb commented on #1175
I do have a production non native jsonfield, and I have been intending to upgrade, so I'll do this in the next few days and prepare a migration guide for it.

[2020-06-12 08:23] jleclanche commented on #1175
That'll be massively helpful, thank you.

[2020-06-12 11:12] therefromhere commented on #1175
Yeah if you can help with this @jayvdb that would be great.

It's quite tricky - I'm thinking the conversion process would be something like a manage command rather than a django migration? Since apart from anything else the migrations still need to support Django<3.1.

Is it possible to use the migration operations (eg [AlterField](https://docs.djangoproject.com/en/3.1/ref/migration-operations/#a

[2020-06-12 11:23] jleclanche commented on #1175
Agreed on this being a management command.

[2020-06-12 11:29] therefromhere commented on #958
eg maybe `StripeDecimalQuantumCurrencyAmountField` ? (a bit of a mouthful)

Maybe consider renaming `StripeDecimalCurrencyAmountField` if it helps?

[2020-06-12 19:58] mrcoles opened #1191 "Undefined values for JSONField are synced as empty strings"
**Describe the bug**

Looking in the django-admin and in the shell, I’m seeing that JSONField values (e.g., Account.tos_acceptance, Account.individual, Account.company) are getting saved as the string `""`.

This feels inconsistent with how the data is represented, and it also can lead to future inconsistencies, e.g., if we add another JSONField to a model, then that value will be the string `null

[2020-06-13 13:01] jleclanche commented on #958
Ok, here's my thoughts. We have two field types: One that stores currency amounts as int, one that stores currency amounts as decimal.

In #1190, I store cents as decimal in the existing decimal field type, which gives us `Decimal("150.1")` for `$1.501`.

However, and for a separate task, I don't think there should necessarily be a difference in the type we expose to the user: We could deserialize

[2020-06-13 15:02] jayvdb commented on #958
I would like to see https://github.com/django-money/django-money used, or py-moneyed directly.  Having custom fields, especially lots of different data types, increases risks for devs and implementers.  dj-stripe already needs to be super careful about `ZERO_DECIMAL_CURRENCIES`; the more different data types and the more chance there is that something will go wrong.  And I expect a significant num

[2020-06-13 15:45] jleclanche commented on #958
So would I, see discussion I previously opened in here: https://github.com/django-money/django-money/issues/552

[2020-06-13 22:23] #1170 closed, assigned to jleclanche

[2020-06-13 23:36] therefromhere commented on #958
My concern is that I think for all other other `StripeDecimalCurrencyAmountField` fields we're storing  `Decimal("1.501")` for `$1.501`?

It seems that with this change we're making it harder to migrate to a sane type handling for currency values, since `StripeDecimalCurrencyAmountField` is holding "dollar" values in other fields but cents in this case?

We should also update the docstring since i

[2020-06-13 23:38] jleclanche commented on #1146
What's missing for this exactly? Is dj-stripe creating subscriptions by itself?

[2020-06-13 23:40] therefromhere commented on #1191
I agree, it seems sensible that we store null in this case.

[2020-06-13 23:42] jleclanche opened #1192 "Deprecate creating Plan objects from Admin"
We don't support creating anything else from the admin. Now with Price objects being in and not creatable from the admin either, we should officially deprecate creating plans from the admin until we get a proper read-write admin.

[2020-06-13 23:42] jleclanche commented on #949
Superseded by #1192

[2020-06-13 23:42] #949 closed, assigned to nobody

[2020-06-13 23:45] jleclanche commented on #958
It's pretty easy to add a blacklist/whitelist of fields we'd migrate (or not migrate) that currently use `StripeDecimalCurrencyAmountField`.

[2020-06-13 23:56] therefromhere commented on #1192
+1

[2020-06-14 09:29] PabloCastellano commented on #1146
I think this is what we need:

* [ ] Add the `backdate_start_date` field to Subscription
* [ ] Check if the pinned Stripe version (2019-09-09) works, otherwise bump it

If you confirm nothing else is required I can start working on it :+1:

[2020-06-14 09:44] PabloCastellano commented on #1182
@mrcoles dj-stripe has recently migrated to `poetry` as dependency manager. Can you check if this is still an issue in the master version?

[2020-06-14 10:09] PabloCastellano commented on #1166
@kavdev Sure, here are some examples:

**Creating a customer object for a user that has signed up and updated his profile**. In this case the test checks that two webhook events have been received (customer.created, customer.updated)

[code]

**Buying a product**. A fake payment method is added (`payment_method.attached` is received), then the customer follows the path to buy the product (add it t

[2020-06-17 17:16] itergator opened #1193 "Option to make django admin interface read-only"
Hello,

Thank you for this package.

While installing this for the first time I was slightly confused to see that the updates were only one way from Stripe to djstripe, considering the ability to add and modify models in the django admin. While I understand this is reinventing the wheel, as stripes dashboard is so easy to manage, I did find this very confusing in terms of a new user.

I have seen

[2020-06-17 20:01] jleclanche commented on #1193
It hasn't been implemented yet, no. I'm going to close this as a duplicate of #452 just to keep things in one place. The ideal fix is indeed not only to implement a read-only django admin, but also to have a way of writing back upstream.

[2020-06-17 20:01] jleclanche commented on #1193
Duplicate of #452

[2020-06-17 20:01] #1193 closed, assigned to nobody

[2020-06-17 20:05] #994 closed, assigned to nobody

[2020-06-18 09:53] jayvdb opened #1195 "'Settings' object has no attribute 'DJSTRIPE_FOREIGN_KEY_TO_FIELD'"
I am starting from an existing 2.3.0 install on Django 3.0.7, looking to upgrade, so giving `master` a spin.

I first run `makemigrations djstripe` to check if there are any missing migrations, resulting in the title error, backtrace below.  The same occurs if I run `migrate djstripe`.

There is no mention of this in the docs, changelog, etc.  Possibly because the next release is still being drawn

[2020-06-18 10:46] jayvdb commented on #740
I can confirm this still exists on `master`.  The webhooks code ignores the `account` field in the payload, and then tries to get objects from the API using the platform account instead of the connected account.

@jleclanche , this seems tightly related around the recent Connected Account features that you have completed.  it would be a shame to leave this out of 2.4.0 , and I think it is impossib

[2020-06-18 12:56] jayvdb opened #1197 "Customer.objects.get_or_create requires balance and delinquent"
It seems a bit odd that a get or create needs to supply a `delinquent` value, which the help describes as "Whether or not the latest charge for the customer's latest invoice has failed".

If it is a new customer, never seen before, then it seems like they should have no invoice that could have failed...?

Also supplying `balance=0` to a `get_or_create` feels bad.  Is the `balance=0` a get criteria

[2020-06-18 13:52] jleclanche commented on #740
@jayvdb I don't have a Stripe Connect setup to test this with.

However, I think a good approach might be to implement the `WebhookEndpoint` model: https://stripe.com/docs/api/webhook_endpoints

When creating it, we receive a `secret` parameter. Same as APIKeys, we can store that in the model in the db and use *that* instead to figure out what secret to verify the signature with.

[2020-06-18 14:05] jayvdb commented on #740
https://github.com/dj-stripe/dj-stripe/pull/1196 is the first step IMO.  Without the ability to have a customer connected to more than one account, it is hard to have webhooks or sync working without unique key constraint failures.

[2020-06-18 14:23] #494 closed, assigned to nobody

[2020-06-18 14:23] jleclanche commented on #740
Landed.

[2020-06-18 14:59] jayvdb commented on #1197
I see there is a separate class method which hides this oddity.

Why cant the balance column/field have a default 0, and delinquent also have a field default?

[2020-06-18 19:48] taewookim commented on #1135
@jleclanche and @kavdev

When I run

`curl` -D - -d "user=user1&pass=abcd" -X POST https://my.server/stripe/webhook/

I get this response

[code]

I followed the instructions down to the dot. Is this a server config issue?

[2020-06-18 21:01] jleclanche commented on #1135
It's most likely a gunicorn, or gunicorn<->nginx configuration issue. Personally I use (and recommend) uwsgi, so I don't know if I can help much there.

[2020-06-19 03:00] jayvdb opened #1198 "Add "View on Stripe Dashboard" support for objects pulled from connected accounts"
In Django Admin, Products, prices, etc that exist on a Stripe connected account are linked to the Stripe Dashboard of the platform account, which shows a page "Product not found", etc

[2020-06-19 16:47] danpalmer opened #1199 "Clarity on behaviour for edited synced data"
**Describe the bug**

When I use the Django admin to change the name of a Product, the product name in Stripe does not change.

**To Reproduce**

1. Open Django admin (or shell, or whatever)
2. Go to a Product
3. Change name
4. Save
5. Click "View in Stripe Dashboard"
6. Name not changed.

**Expected behavior**

My expectation after reading the documentation and browsing the admin site setup that

[2020-06-21 13:29] jleclanche commented on #1029
Closing as upstream issue. This isn't really something we can debug better than mongodb users.

[2020-06-21 13:29] #1029 closed, assigned to nobody

[2020-06-30 00:26] jcobacho opened #1205 "Subscription default_source not updating"
**Describe the bug**

When updating the default_source of a subscription using Stripe Api endpoint the subscription doesn't get syncronized

**To Reproduce**

1. call stripe api: stripe.Subscription.modify(id, default_source=source.id)
2. sync stripe response: Subscription.sync_from_stripe_data(response)

**Expected behavior**
model Subscription default_source should be populated

[2020-06-30 16:09] taewookim commented on #1195
Having same problem here

[2020-06-30 16:40] taewookim commented on #1135
Took your advice. Was spending way too much time debuggin gunicorn. Decided to move to uwsgi. Much easier. Closing issue.

[2020-06-30 16:40] #1135 closed, assigned to nobody

[2020-06-30 16:40] taewookim commented on #1135
PSA: Use Stripe CLI to trigger webhook events to test. Came in pretty handy

[2020-07-01 21:50] jcobacho opened #1206 "Event Model Request Field Not Saved"
**Describe the bug**
Event Model not saving request field received from webhook, is always an empty string

[2020-07-10 20:31] danihodovic commented on #1124
@anuzis Could you post a full example on how you got it working? A flowchart with the HTTP flow between Django and Stripe would be useful. What objects are created in the DB during a checkout session?

[2020-07-10 20:56] anuzis commented on #1124
@danihodovic  I ended up switching away from Stripe Checkout to reduce the purchase funnel by 1 click while having more control over the pre-purchase UX. It was a good learning experience getting Stripe Checkout working with djstripe, but I don't have a great example of the code anymore. Your best bet is probably the workaround from #1043 -- good luck.

[2020-07-13 12:56] chrissam opened #1207 "Support for 'proration_behavior' during upgrade"
**Describe the bug**
To make the payment immediately ( Instead of prorating it to next billing ), stripe provides an option (proration_behavior=always_invoice) to attempt the payment immediately. This option is currently not supported and throws
```update() got an unexpected keyword argument 'proration_behavior'```

**To Reproduce**
Add `proration_behaviour` as part of subscription update

[code]

[2020-07-14 08:56] therefromhere commented on #1207
Note that as workaround you do the same as `update` does internally , see the implementation:

https://github.com/dj-stripe/dj-stripe/blob/b65c515dfbbec06bb52b238e112a5b0c0816cc30/djstripe/models/billing.py#L1629-L1635

Related #795

[2020-07-14 09:28] chrissam commented on #1207
@therefromhere Yeh, I just wanted to quote that here so you can implement it in future release. For now, doing a manual sync is what I'm planning to do.

[2020-07-17 14:07] rasulkireev opened #1208 "LIVE keys are used despite LIVE_MODE = FALSE"
In my settings.py I have the following:

[code]

and in my .env file:
[code]

When I try to render the TEST_PUBLIC_KEY to a page I still get LIVE_PUBLIC_KEY.

**views.py**
[code]

When I call `{{  STRIPE_PUBLIC_KEY' }}` it renders key starting with `pk_live...`

Same in the shell
<img width="340" alt="image" src="https://user-images.githubusercontent.com/8257474/87794788-23e06b80-c815-11ea-9192-fb

[2020-07-18 03:36] templargin opened #1209 "Update the ``subscription_payment_required`` decorator to grant access to users with a free trial"
[code]

This decorator is great!
How about including users with "free trial" (in other words users with ```user.subscription.status == 'trialing' ```) into this decorator?

I understand it could easily be done locally, just a suggestion for an upgrade!

Great module, thank you guys!
Cheers.

[2020-07-18 16:39] onekiloparsec commented on #1181
Hi.

In one of my `urls.py` files, I have:

[code]

And in the file where `wevhook_handler` is defined, I have:

[code]

It should be enough.

[2020-07-20 18:03] Andrew-Chen-Wang opened #1210 "Connect Express authorization not creating Account object in database"
**Describe the bug**

Edit: I used version 2.3.0. This seems to work in 2.4.0.dev0 or current master branch as of Jul 20, 2020. I looked through the commit history: nothing really showed up as to why it's broken.

I'm using Connect Express to create Accounts. I'm looking at the djstripe_account table, but there is no data. However, I do see the web hook event was processed: `2020-07-20 13:33:14

[2020-07-22 11:21] adamcharnock opened #1211 "Database error when working with stripe-mock"
I try to sync a customer returned by `stripe-mock`:

[code]

The result is the following:

[code]

The database logs the following:

[code]

So it seems that stripe-mock is providing a value of `alipay_account`, which is too long for the `type` field on the `DjstripePaymentMethod` model.

Can this field be lengthened to handle this data? FWIW: I don't believe there are any real performance issues

[2020-07-22 11:28] adamcharnock commented on #1211
For now I'm hacking around this using a migration within my own app:

[code]

[2020-07-28 19:44] androbwebb commented on #1197
For those coming here from google, the correct method is `Customer.get_or_create`, not `Customer.objects.get_or_create`

@jayvdb Agreed with you on defaults values.

[2020-08-04 22:54] Andrew-Chen-Wang commented on #1210
Reopening just until release is made incorporating the fix.

[2020-08-17 07:07] anjunamonkey opened #1213 "Stripe Connect - Account Updated webhook"
Hi, I'm looking to allow users to create a Stripe Connect Account. The application should then listen for a webhook (account.updated) and update the database with the Connected account ID when the account has been created, so that I can create transfers / payouts.

Currently, this webhook is not valid or processed, but produces a 'No such event:' message.

I understand this functionality may be be

[2020-08-17 15:54] tarsil opened #1214 "NullBooleanField"
In Django 3.1+ the warning of the NullBooleanField is raised and the field will be removed in Django 4. It would be a good idea to upgrade the code base?

[2020-08-20 19:27] elpedromiguel opened #1215 "Sync Customer data gives me the next erro: maximum recursion depth exceeded while calling a Python object"
**Describe the bug**
When I try to sync a newly created customer data it hangs with the next message: "maximum recursion depth exceeded while calling a Python object"

**To Reproduce**

[code]

e.g.:
It creates the Customer in the Stripe Dashboard but not in Django Dashboard, whenever I comment on "djstripe_customer = djstripe.models.Customer.sync_from_stripe_data(customer) " it works perfect

**E

[2020-08-20 21:18] therefromhere commented on #1215
I think this is a duplicate of #1162

[2020-08-21 13:31] jlariza opened #1216 "When is next release scheduled?"
Good day,

Checking the code, there is new support for Stripe Prices, a better approach than the subscriptions when using one time prices.
https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/billing.py#L1219

However, this is not included in the latest published release 2.3.0.

When is next release scheduled?

Thank you

[2020-08-22 00:07] kalsky commented on #1214
seems like it's part of the next release/s:
https://github.com/dj-stripe/dj-stripe/commit/5bd29e55ad0b4b2c973aba1b664069d6405d769f

[2020-08-22 10:13] tarsil commented on #1214
Also, in terms of documentation is quite hard to implement features mostly for syncing and maintaining. When do you think it will be updated? Now more than ever, Stripe is being used

[2020-08-22 18:08] jleclanche opened #1217 "FileUpload crash in refresh_account()"
[code]

[2020-08-22 18:27] jleclanche opened #1218 "A plan.created webhook will fail if the plan was deleted before the webhook was processed"
Relevant tb snippet:

[code]

Reproduce by creating a plan, holding the webhook off (eg. by failing the plan.created webhook), deleting the plan, then retrying the plan.created webhook.

[2020-08-22 18:28] jleclanche commented on #1216
It's not scheduled right now, but I'll try to work on it in the next few days/couple of weeks.

[2020-08-22 18:29] jleclanche commented on #1214
Closing as this is fixed in master.

[2020-08-22 18:29] #1214 closed, assigned to nobody

[2020-08-22 18:30] jleclanche commented on #1215
Dupe of #1162

[2020-08-22 18:30] #1215 closed, assigned to nobody

[2020-08-23 07:00] onekiloparsec commented on #1216
@jleclanche I had a similar question, but I was wondering whether you would welcome a bit of help with the project.

Probably like some others, this project is rather critical for my own. It's hard for me to support with money, as I don't make any so far.

But what about help with issues / triage / documentation ? There are some PR as old as almost 2 years. Nothing really to worry about but this w

[2020-08-23 09:07] jleclanche commented on #1216
Help is always welcome. We're actually working on an announcement which will allow us to spend more time on this, and one of my short term goals is to train new contributors.

For now if you need my eyes don't hesitate to @ me. Next week I'll have some more time.

[2020-08-23 12:27] onekiloparsec commented on #1216
Good news, I'll wait for your annoucement. My wish would be to see this project relying on a few additional people to ensure it's keep moving. And I'd be happy to help in one way or another.

I personally don't have blocking issues myself right now, but thanks for the message.

[2020-08-24 14:32] tarsil opened #1219 "Sync plans"
When we create plans and products on stripe, the first sync works really well but when we change the product on stripe, for instance, **metadata** or **title** and try to re-sync with the project, unless we remove the old version, it won't sync at all.

[2020-08-26 17:31] perepicornell commented on #1208
Not a dj-stripe issue at all, but maybe I can help.

Are you using django environ perhaps?
If so, this:
STRIPE_LIVE_MODE = env('STRIPE_LIVE_MODE')
is loading the setting as a string, you need this:
STRIPE_LIVE_MODE = env('STRIPE_LIVE_MODE', bool)

And I'm not sure if 'False' is right, maybe it is, I'm setting it like that though:
STRIPE_LIVE_MODE=off

[2020-08-27 14:27] rasulkireev commented on #1208
@perepicornell 🙏

That's what it was. Thanks a ton.

[2020-08-27 14:27] #1208 closed, assigned to nobody

[2020-08-30 19:08] Andrew-Chen-Wang commented on #1213
Is this related to #1210 ? If so, then it's fixed in master but hasn't been released.

[2020-09-01 14:14] tarsil commented on #419
I have the same issue and my custom webhooks are not working at all. The documentation is a mess and this product cannot be used whatsoever since we can't even understand how this works properly.

[2020-09-01 17:27] kavdev commented on #419
@tiagoarasilva please provide a bit more info. What version are you running and which events are you looking to hook into? If you can please post a snippet of your code.

I understand you might be frustrated, but know that this project is maintained by a group of volunteers in their free time. Functionality and keeping up with stripe api changes have been prioritized over detailed documentation. B

[2020-09-01 17:30] tarsil commented on #419
@kavdev  I'm using the latest with Django 3.1 which is fantastic with the webhooks. I found a way to make it work but took me a lot of time to understand it and reverse engineering it where simple documentation would explain with some examples, I would say.

I think dj-stripe is fantastic as it does a lot of heavy lifting for us but the lack of examples and documentation, for instance, for invoice

[2020-09-01 17:45] kavdev opened #1220 "Transferring license and copyrights to the dj-stripe organization"
Hi All,

The core maintainer team has grown and we've been an organization for a while. There are a few remaining holdout tasks that "transfer" rights from me to our org. Don't worry, I'm not going anywhere; the project is bigger than just me now and things should reflect that.

I'll be making changes soon that will replace my attribution ("Alexander Kavanaugh") with that of our org ("The @dj-stri

[2020-09-01 17:49] kavdev commented on #419
@tiagoarasilva I should clarify that I totally agree the documentation is lacking 🙂 We'll be sharing some news shortly that will allow us to take steps to focus on more aspects of the library, including documentation.

[2020-09-01 23:14] italodesouzacolombi commented on #210
good evening! I am implementing a project using django_tenant_schemas and dj-stripe. when I run the command:

python manage.py djstripe_init_customers

this error is returned to me:

django.db.utils.ProgrammingError: "djstripe_customer" relationship does not exist
LINE 1: ... on_id "FROM" customer_tenantuser "LEFT OUTER JOIN" djstripe _...

I did not understand what I should do from what they disc

[2020-09-02 00:13] kavdev commented on #210
@italodesouzacolombi can you create a stackoverflow question for this and link it here? The question should include relevant parts of your settings file along with a description of relevant table relationships. The output from ``python manage.py showmigrations`` would also be helpful. Be sure to tag it with ``dj-stripe``

[2020-09-02 09:49] tarsil commented on #419
@kavdev I would be more than happy to help if you want. I did a lot of reverse engineering and I'm still doing as we speak since I want to implement features such as collecting invoices, generate them by logged in user and guest checkout.

I liked the REST side of things but again, it would be great to have that documented and with more features since REST is becoming the new norm, this way dj-str

[2020-09-02 22:24] kavdev commented on #419
@tiagoarasilva go ahead and hop on our [discord](https://discord.com/invite/UJY8fcc); @jleclanche or I will ping you once we have an updated roadmap

[2020-09-02 22:50] tarsil commented on #419
@kavdev I've joined discord and thank you for the invite :). Let me know how can be helpful somehow

[2020-09-03 05:40] onekiloparsec commented on #829
I just encountered the same problem with UsageRecord:

[code]

Should I reopen the case ?

[2020-09-03 09:03] jleclanche commented on #829
@onekiloparsec Can you open a new issue?

[2020-09-03 17:48] kavdev commented on #741
@jleclanche https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/account.py#L120 can probably be deprecated in favor of the work in #1188

[2020-09-03 17:59] kavdev commented on #483
@jleclanche I think this is something worth updating. If we can keep the same interface (``@webhooks.handler("event.string")``) and just swap the backend to leverage signals, I think this'll be a solid refactor.

[2020-09-03 18:05] kavdev commented on #419
related: #483

[2020-09-03 18:18] jleclanche opened #1221 "Announcement: Github Sponsors & Stripe sponsorship"
Hi folks,

@kavdev and I are thrilled to share two announcements with all of you today.

The first one is that [we now have a Github Sponsors page](https://github.com/sponsors/dj-stripe) - funds go to an [Open Collective](https://opencollective.com/dj-stripe) account, transparently co-managed by @kavdev and myself.

That's right, you can now sponsor us! Whether you're using dj-stripe for personal

[2020-09-03 18:24] jleclanche commented on #1216
@onekiloparsec #1221

[2020-09-03 18:30] #854 closed, assigned to nobody

[2020-09-03 18:40] kavdev commented on #511
@jleclanche is this still relevant?

[2020-09-03 18:50] kavdev commented on #419
@tiagoarasilva #1221

[2020-09-03 18:52] tarsil commented on #483
@kavdev relying entirely on signals and if we have loads of webhooks that can make the application slow and break. I would leverage the signals using async io and make it all async anyway just by transforming the webhooks into async await functions ?

[2020-09-03 18:56] tarsil commented on #1221
This is more than fantastic!! Congratulations to everyone. Well deserved :-). I love dj-stripe and knowing that now we will have Stripe backing us uo is even better :)

[2020-09-03 19:00] kavdev commented on #483
@tiagoarasilva the webhook handling code currently works in pretty much the same fashion as signals, albeit in a slightly more brittle way. The idea is to just provide some syntactic sugar and leverage django's built-in code.

Also to note, built-in async for django is coming https://docs.djangoproject.com/en/3.1/topics/async/; we'd rather let them do the heavy lifting.

[2020-09-03 19:05] tarsil commented on #483
@kavdev that is true that's why I was actually mentioning the async io buy that is a given that will do the heavy lifting for us. Fantastic work then

[2020-09-03 19:05] jleclanche commented on #511
Possibly… Stripe changed a lot about the II interface.

[2020-09-03 19:08] jleclanche commented on #741
Yeah.

[2020-09-03 19:17] #1197 closed, assigned to nobody

[2020-09-03 19:35] kavdev commented on #1187
This might have been superceded by the work in #1188. @jleclanche can you confirm?

[2020-09-03 20:18] kavdev opened #1222 "Switch to using a configuration file for readthedocs"
https://docs.readthedocs.io/en/stable/config-file/v2.html

See also https://github.com/dj-stripe/dj-stripe/pull/1204#issuecomment-650497814

[2020-09-03 20:21] kavdev commented on #1192
Related https://github.com/dj-stripe/dj-stripe/issues/452

[2020-09-03 20:21] kavdev commented on #1199
Related https://github.com/dj-stripe/dj-stripe/issues/452

[2020-09-04 03:43] jleclanche commented on #1187
Partly, but I'm not sure it's entirely the case. Pulling something via an api key currently sets the owner account to that api key's owner account which, in the case of Connect, isn't necessarily the case… and having not used Connect much at all, I'm not sure what the correct handling is here.

[2020-09-04 11:13] onekiloparsec opened #1224 "UsageRecord not syncing"
**Describe the bug**
Trying to sync a `UsageRecord` from stripe to dj-stripe raises an `AttributeError` exception.

**To Reproduce**

For any `SubscriptionItem`, run:

[code]

**Expected behavior**
An updated Dj-Stripe UsageRecord should be saved.

**Environment**
- dj-stripe version: 2.3.0
- Your Stripe account's default API version: 2020-03-02
- Database: PostgresQL 12.3
- Python version: 3.7-3.

[2020-09-04 11:13] onekiloparsec commented on #829
#1224

[2020-09-04 13:11] anjunamonkey commented on #1213
Yes - seems to be the same webhook issue. That's great news - any timeframe for a release?

[2020-09-04 13:14] jleclanche commented on #1213
Hoping to have one out in the next ~2-3 weeks.

[2020-09-04 15:40] kavdev commented on #1213
Duplicates #1210

[2020-09-04 15:41] #1213 closed, assigned to nobody

[2020-09-04 15:45] kavdev commented on #1187
gotcha. I'm imagining the connect webhooks implementation will be able to handle assignment

[2020-09-04 15:53] kavdev commented on #1169
See also #1068

[2020-09-04 16:01] kavdev commented on #1183
I keep running into this and telling myself I'm going to add a whole bunch of templates. Might as well do that now.

Here are the ones I'll add to start:
- [x] General Bug
- [x] Webhooks/Sync Bug
- [x] Documentation Issue/Request
- [x] Migration/Upgrade Issue
- [x] API Change Notice (Updates, Additions, Deprecations)
- [x] How To/Usage Question (if code related, requires stackoverflow link)
- [x]

[2020-09-04 16:07] jleclanche commented on #1183
@kavdev i honestly don't think we need to go crazy with them, and I kind of dislike the templates as they are (far too verbose).

Yes on:

- Webhooks/sync
- Usage Question
- Feature request / New Stripe feature support
- Migration / upgrade issue

-1 on the rest, a blank issue can be opened.

[2020-09-04 16:08] jleclanche commented on #1183
Ok with "Other issue" as well I support.

[2020-09-04 16:13] jleclanche commented on #495
I don't think we should do this anymore. It's brittle and I suspect it's even configurable on Stripe's end, which will end up biting us down the line either way.

If it's not a db-level constraint I don't believe it's worth doing. I do think we could have a mechanism to catch Stripe's error and feed it at the model level, so I'll reword the issue.

[2020-09-04 16:16] jleclanche commented on #900
This should be done in a django check imo not a management command.

[2020-09-04 16:18] kavdev commented on #1183
@jleclanche the ones I listed are based on labels we frequently assign. I don't plan on using the template body for most of these; I just like the idea of having things auto-labeled.

These three were your -1s:
* General Bug -- Turns out we already have this template; I think it's helpful to show people how to write bug reports so that we don't need to ask a bunch of questions in the comments
* Do

[2020-09-04 21:46] kavdev opened #1226 "Add tox to poetry dev-dependencies"

[2020-09-04 21:47] kavdev commented on #1226
@jleclanche Is there anything against doing this?

[2020-09-04 22:03] jleclanche commented on #1226
Not sure it's correct; I'm not sure how other projects handle it tbh. It's a bit weird because tox manages its own venv/deps as well…

[2020-09-04 22:06] kavdev commented on #1226
Seems to not be breaking anything from within the virtualenv 🤷‍♂️ I'll close for now and will keep an eye out for how others do it.

[2020-09-04 22:06] #1226 closed, assigned to nobody

[2020-09-04 22:08] #1198 closed, assigned to nobody

[2020-09-04 22:17] kavdev opened #1227 "Upgrade isort to version 5"
There was recently a massive overhaul of isort: https://pycqa.github.io/isort/docs/major_releases/introducing_isort_5/ that will take a few minutes to review.

[2020-09-04 23:21] kavdev opened #1228 "Docs Content Updates"
Some thoughts on what might be nice:

**Index**
- [ ] Add an "Overview" section that talks about how dj-stripe should and shouldn't be used (use it as a powerful local copy to work with; stripe is source of truth; we provide models, decorators, utils, etc)
- [ ] Incorporate the  "Constraints" section into the Overview

**Getting Started**
- [ ] Add some more flavor to the Installation page. It was

[2020-09-04 23:28] kavdev commented on #336
@buddylindsey How do you feel about re-igniting the dj-stripe series once v3.0 drops? ;)

[2020-09-05 02:03] kavdev commented on #454
Superseded by https://github.com/dj-stripe/dj-stripe/issues/490

[2020-09-05 02:03] #454 closed, assigned to nobody

[2020-09-05 02:06] kavdev commented on #492
Possibly fixed by #1188

[2020-09-05 02:06] kavdev commented on #492
@tkwon is this still an issue?

[2020-09-05 02:09] #586 closed, assigned to nobody

[2020-09-05 02:09] kavdev commented on #586
Closing, as REST interface will move to a separate package

[2020-09-05 02:14] kavdev commented on #638
@jleclanche still relevant?

[2020-09-05 02:28] kavdev commented on #937
Considering this part of the docs overhaul to clear up how to keep local users synced with their stripe customer counterparts: See https://github.com/dj-stripe/dj-stripe/issues/1228

[2020-09-05 02:28] #937 closed, assigned to nobody

[2020-09-05 02:30] kavdev commented on #1228
I'll collect some more things from issues with documentation labels: https://github.com/dj-stripe/dj-stripe/labels/documentation

[2020-09-05 02:32] kavdev commented on #900
(And should be decently documented if/when it lands)

[2020-09-05 02:37] tkwon commented on #492
I think I hacked a solution but in any case, that project ultimately failed
and is not undergoing any further development.

On Fri, Sep 4, 2020 at 7:06 PM Alexander Kavanaugh <notifications@github.com>
wrote:

[2020-09-05 02:38] kavdev commented on #1043
See https://github.com/dj-stripe/dj-stripe/issues/1228; docs updates are coming to make this more clear.

[2020-09-05 02:38] #1043 closed, assigned to nobody

[2020-09-05 02:38] kavdev commented on #1124
Coming in https://github.com/dj-stripe/dj-stripe/issues/1228

[2020-09-05 02:38] #1124 closed, assigned to nobody

[2020-09-05 02:40] kavdev commented on #1044
not enough info to reproduce. if this is still an issue, we can reopen.

[2020-09-05 02:40] #1044 closed, assigned to nobody

[2020-09-05 02:42] kavdev commented on #1062
See #1067

[2020-09-05 02:42] #1062 closed, assigned to nobody

[2020-09-05 02:43] kavdev commented on #1069
not enough info to reproduce; probably duplicated

[2020-09-05 02:43] #1069 closed, assigned to nobody

[2020-09-05 02:44] kavdev commented on #1101
Fixed in https://github.com/dj-stripe/dj-stripe/commit/b3c9fb90003a887b45075c17c1e843d7ed8ebad1

[2020-09-05 02:44] #1101 closed, assigned to nobody

[2020-09-05 09:30] jleclanche commented on #638
Probably

[2020-09-05 19:35] kavdev commented on #1113
See #830

[2020-09-05 19:35] #1113 closed, assigned to nobody

[2020-09-05 19:37] kavdev commented on #1126
See https://github.com/dj-stripe/dj-stripe/issues/452

[2020-09-05 19:37] #1126 closed, assigned to nobody

[2020-09-05 19:46] kavdev commented on #1182
We keep the drf dependency separate because it's in a contrib package (and is now moving to a separate contrib library). Closing as wontfix.

[2020-09-05 19:46] #1182 closed, assigned to nobody

[2020-09-05 19:47] #1216 closed, assigned to nobody

[2020-09-05 19:51] kavdev commented on #472
Superceeded by https://github.com/dj-stripe/dj-stripe/issues/1228

[2020-09-05 19:51] #472 closed, assigned to nobody

[2020-09-05 19:55] kavdev opened #1229 "Add new ActiveSubscriptionRequiredMixin"
Add something similar to the ``ActiveSubscriptionRequiredMixin`` mixin proposed by @ZachPerkitny in https://github.com/dj-stripe/dj-stripe/issues/1091#issuecomment-583680381

Ensure this is documented in the "Checking if a customer has a subscription" usage section and a mixins reference section of the docs

[2020-09-05 19:56] kavdev commented on #1091
See #1228 for documentation request; #1229 for mixin implementation

[2020-09-05 19:56] kavdev commented on #1229
@ZachPerkitny feel like sending in a PR? :)

[2020-09-05 19:56] #1091 closed, assigned to nobody

[2020-09-05 19:57] kavdev commented on #1116
Superseded by https://github.com/dj-stripe/dj-stripe/issues/1228

[2020-09-05 19:57] #1116 closed, assigned to nobody

[2020-09-05 19:57] kavdev commented on #1181
Superseded by https://github.com/dj-stripe/dj-stripe/issues/1228

[2020-09-05 19:57] #1181 closed, assigned to nobody

[2020-09-05 20:02] kavdev commented on #1142
Might be good to include as a "A note on" type of thing in the "Getting Started" section

Tracking in https://github.com/dj-stripe/dj-stripe/issues/1228

[2020-09-05 20:02] #1142 closed, assigned to nobody

[2020-09-05 20:09] #1183 closed, assigned to kavdev

[2020-09-05 23:41] kavdev opened #1230 "Switch to GitHub Actions?"
Should we switch?

This lib switched from travis; might be helpful: https://github.com/more-itertools/more-itertools/pull/448

[2020-09-06 03:46] kavdev commented on #1227
Should be pretty simple actually. Here's an example that matches our config: https://github.com/adamchainz/django-cors-headers/pull/555/files

[2020-09-06 09:07] jleclanche commented on #1227
@kavdev yes it's what I have in my branch

[2020-09-07 00:52] jpulec opened #1231 "Can't Override Settings for Tests"
**Describe the bug**
Due to the way settings are set up, it doesn't appear that using django's `override_settings` works as expected.

**To Reproduce**

Try to use `override_settings` for a djstripe setting, like `DJSTRIPE_WEBHOOK_VALIDATION` and recognize that the override is not the used value by code that imports `djstripe_settings`.

**Software versions**
- Dj-Stripe version: 2.3.0
- Python ve

[2020-09-07 16:16] ndjdev opened #1233 "SubscriptionItem "end_time" not saved"
Not sure whether I've missed something here but I can't see anywhere where the end_time of a SubscriptionItem is saved? We have quite a few subscriptions where we removed 1 product and added 2 others and they all have 3 SubscriptionItem entries. This is obviously useful for historical reasons but how do we determine which of the 3 are current? I realise end_time isn't part of the Stripe API but it

[2020-09-07 18:11] kavdev commented on #1233
@hcNick so is this a feature request for a calculated `end_time` field?

[2020-09-08 00:29] kalsky commented on #830
Hi

I had the opposite error message:
Request req_D1eZsAUFS9KdfN: No such file upload: 'file_1H8w95DynT2vGDTfYQb69lfD'; a similar object exists in test mode, but a live mode key was used to make this request.

Seems like if you upload the image while in test/live you'll be able to use it only with the matching keys.
I re-uploaded the image while in live mode, and resent the webhook, and then it wo

[2020-09-08 00:32] jleclanche commented on #830
I had that problem and worked around it the same way. I also paged stripe
support about it, might try again.

On Tue, Sep 8, 2020, 02:30 kalsky <notifications@github.com> wrote:

[2020-09-10 10:49] Javedgouri opened #1236 "we can add support for rest apis."

[2020-09-12 21:34] Javedgouri opened #1237 "How i can create a paymentIntent from cutomer model"
Hi,

How i can create payment Intent for customer like charge methed which is present in customer model.

[2020-09-13 20:56] #1222 closed, assigned to jleclanche

[2020-09-13 20:56] #1227 closed, assigned to jleclanche

[2020-09-14 10:39] RaceDirectorsHQ opened #1239 "Duplicate event errors when receiving duplicate webhooks from Stripe"
Hi,

For a while now, we've been getting duplicate event errors on our webhook.

This is the full traceback and error:

[code]

A consequence of that is that, although Djstripe objects are unpdated and kept in sync fine, our webhook handlers are not triggering. For example, if we have an action set up when a subscription is moved to past_due, like so:

[code]

it never executes, although it works

[2020-09-14 10:53] jleclanche commented on #1239
Can you tell me the value of your `DJSTRIPE_WEBHOOK_VALIDATION` setting (`"verify_signature"`, `"retrieve_event"` or unset)?

[2020-09-14 14:33] RaceDirectorsHQ commented on #1239
Hi @jleclanche - Thanks for your help. I'm not settings DJSTRIPE_WEBHOOK_VALIDATION anywhere so it's whatever the default is.

[2020-09-14 18:42] jleclanche commented on #1239
@RaceDirectorsHQ do you know why you're getting duplicate events?

If it's complaining that the event already exists, then the event has already been synced… which would most likely only happen with a webhook.

It's possible you're receiving the webhooks *twice* (maybe you set up two webhook endpoints?). It isn't supposed to crash, but in this case, you would still have the first webhook process t

[2020-09-14 18:43] jleclanche commented on #1239
To check you can take a look at your [endpoints dashboard](https://dashboard.stripe.com/webhooks) and verify if there's duplicate endpoints. More info the better.

[2020-09-15 06:28] RaceDirectorsHQ commented on #1239
@jleclanche - I checked on Stripe and there's only one webhook endpoint.

The error I'm getting:

`UniqueViolation: duplicate key value violates unique constraint "djstripe_event_stripe_id_key" DETAIL:  Key (id)=(***) already exists.`

suggests that the event is already created.

If there is a first event that comes through fine before the duplicate, my webhook handlers are not getting triggered.

[2020-09-15 15:15] lifenautjoe commented on #1219
I am not seeing any sync working with freshly created products and plans.

[2020-09-15 15:22] lifenautjoe opened #1240 "Can't sync Products/Plans"
The Products and Plans/Prices cannot be synched for any new project with a latest stripe API.

**Software versions**
- dj-stripe version: 2.3.0
- Python version: 3.8
- Django version: 3.1.1
- Stripe API version: 2020-08-27
- Database type and version:MySQL

**Steps To Reproduce**

1. Create a new product on Stripe
2. Add Price's to the product
3. On a fresh project, add djstripe to the django inst

[2020-09-16 07:26] jleclanche commented on #1239
You'd need to have them somewhere they can be found, yes. I do usually put them in apps.py.

There's three separate issues being described here:
1. You have an event being created / detected twice, for a reason I'd like to understand.
2. Your webhooks are not getting triggered
3. The duplicate key violation causes a crash when the event is called again (I'm not sure what *should* happen, but it sh

[2020-09-16 11:18] twbagustin commented on #1216
Hey @jleclanche awesome work first and foremost with dj-stripe, I was wondering how "unstable" do you think #master is to use it meantime while waiting for an official release, stable in terms of what the OP asks, "support for Stripe Prices" for one time purchases solely.. Reading the code I think it's not ready yet because I don't see a way to create InvoiceItems with a price instead of a plan co

[2020-09-16 11:22] RaceDirectorsHQ commented on #1239
So I did two things that seem to have fixed both the duplicate event error and the webhooks not being triggered issue.

1) I imported my webhook handlers file in my app's AppConfig like so:

[code]
I'm still not sure that's really needed there... I haven't come across such an instruction in the docs or elsewhere, but I just tried it because signals need to be imported that way and I guess webhooks

[2020-09-16 13:14] lifenautjoe commented on #1240
Correction, test products/plans cannot be synched. How are we supposed to do development with test data?

[2020-09-16 16:12] buddylindsey commented on #336
Hey just saw this. Congrats on a new version. Sorry, but I haven't done videos in a couple of years at this point. Not sure it would be a great idea. Also don't necessarily have the time trying to get a bunch of stuff ready for my new baby 😬

[2020-09-16 18:28] Aniket-Singla opened #1241 "Webhook handler transaction.atomic block is causing issues."
**Describe the bug**
Due to transactional block, I am unable to save partial updates to my database models. In case of any database exception whole of the transaction gets rolled back being atomic.

**To Reproduce**
Steps to reproduce the behavior:
Do database related operations in webhook handler. Will get whole transaction rolled back in case of any integrity error.

**Expected behavior**
Partia

[2020-09-16 21:57] jleclanche commented on #1239
It's more that, if they're not imported anywhere else, they simply won't be picked up. But I'm making a note of this and will try to clarify the documentation (I'm working on doc next week).

Ok, yeah, this  … makes sense, I think. It's basically causing an undefined state. I think an easy way to reproduce this might be to have two webhook endpoints going to the same dj-stripe instance.

I'll keep

[2020-09-17 05:15] RaceDirectorsHQ commented on #1239
Thanks a lot for your help, @jleclanche!

[2020-09-17 08:30] jleclanche commented on #1240
Can you try the management command `djstripe_sync_models` instead? itll sync everything

[2020-09-17 08:31] jleclanche commented on #1240
This is fixed in master; you can use that version if you like but there's less API stability until we release.

[2020-09-17 08:33] jleclanche commented on #1216
Master is always usable in production (I personally use it in production right now), with the caveat that it might require some more manual work when it comes to upgrading things as we don't keep backwards compatibility before release.

[2020-09-17 08:54] jleclanche commented on #1216
Also I believe you'll be fine, just because it's not fully implemented in dj-stripe, it'll still work. You might just not be able to access certain properties you expect, or won't have the data for all of it. Keep in mind that "Plans" and "Prices" are the same underlying object, they'll be synced on stripe's end, so most of the stuff you can do with prices you can do with plans as well and vice ve

[2020-09-17 09:16] lifenautjoe commented on #1240
The sync models command syncs everything in the live stripe account only.

How can I sync some test plans to do development with ?

On Thu, 17 Sep 2020 at 10:31, Jerome Leclanche <notifications@github.com>
wrote:

[2020-09-17 09:18] jleclanche commented on #1240
It'll sync based on your settings.py. You want to set `STRIPE_LIVE_MODE = False` if you want to use test mode.

[2020-09-17 15:22] lifenautjoe commented on #1240
That worked.

Was loading env variables from a `.env` file and they were loaded as strings, thus the setting was always true.

Thanks you Jerome!

[2020-09-17 15:27] #1240 closed, assigned to nobody

[2020-09-17 17:02] steverecio opened #1242 "Support Promotion Codes"
Dj-Stripe supports the Coupon object but doesn't have any support for customer facing promotional codes ([API Docs](https://stripe.com/docs/billing/subscriptions/discounts/codes)). Would be great to easily validate promo-codes.

[2020-09-17 17:12] lifenautjoe commented on #1224
Hi @onekiloparsec ,

We're also building a metered service. Were you able to get around this?

Thanks!

[2020-09-17 17:38] twbagustin commented on #1216
Thanks @jleclanche as update I'm in fact using it in production, after all I was just needing the sync capabilities, then you can work on the primitives that are not there yet in dj-stripe, to create Sessions in example, or Invoices/PaymentIntents (checkout way and custom way respectively). If it helps anyone out there I usually add all those primitives or logic into proxy models on top of the mod

[2020-09-17 19:03] onekiloparsec commented on #1224
Yes, using direct (python) stripe APIs.

First, get the subscriptionitem's id. I did it starting with the Plan (`dj-stripe` classes):

[code]

Then, using `stripe` python module:

[code]

[2020-09-17 22:40] kavdev commented on #336
@buddylindsey congrats on the new baby!! No worries about the videos; was more of a longshot :)

[2020-09-19 03:52] jayvdb opened #1243 "model-bakery & automated admin smoke tests"
tl;dr: search for `require_model_field_value` below to see a bunch of dj-stripe model fields which should probably be made mandatory.

I have a set of model 'hacks' and other setup so that [`model-bakery`](https://pypi.org/project/model-bakery/) can be used with [`django-admin-smoke-tests` PR 18](https://github.com/greyside/django-admin-smoke-tests/pull/18) & [`django-admin-auto-tests`](https://gi

[2020-09-19 15:38] jayvdb opened #1244 "Coupon.currency as a mandatory field"
`Coupon.currency` is required by `Coupon.__str__`, so it would be helpful if the field was mandatory.

When creating an instance without a currency, an AttributeError occurs when it goes through `__str__`.

[code]

[2020-09-20 23:49] justinmerrell commented on #1219
The same thing here gives me this error stripe.error.InvalidRequestError: Request req_vHmNTLO1TBwlg2: No such product: 'prod_I3jL9xYIJ8bMwC'; a similar object exists in test mode, but a live mode key was used to make this request.

I commented out all the live keys and still having an issue.

[2020-09-22 08:13] RaceDirectorsHQ opened #1246 "How do I stop djstripe from syncing Payment Method data from Stripe?"
We are using Stripe's customer portal for managing payment methods, so I'd like to not have to store customer payment method data in our db.

One way I thought of doing it would be to disable relevant events on Stripe's end (so we don't receive Payment Method related events) and then delete all current djstripe Payment Method objects from our db.

Will this work? Any concerns with this approach? I

[2020-09-22 10:06] jleclanche commented on #1246
I believe it would work, yes, though I'm not sure if the data would end up being fetched either way. The customer table has a FK to the paymentmethod table which you might want to null out if you wipe the payment methods table.

One way you could achieve this is with an in-database hook that essentially devnulls the data coming in.

But do keep in mind: All data sent by Stripe is more or less equa

[2020-09-22 10:08] RaceDirectorsHQ commented on #1246
Very helpful - thanks for your answer, @jleclanche

[2020-09-22 10:08] #1246 closed, assigned to nobody

[2020-09-23 01:41] LordXyTh commented on #419
Did this ever get resolved? @tiagoarasilva how were you able to move forward?

[2020-09-24 10:03] edthrn opened #1247 "Price updates or deletion made in Stripe dashboard are not synced to Django database"
## Description
When I update a new `Price` on Stripe dashboard, the price object is not updated accordingly in the Django database.

I'm not sure if that's @jleclanche is referring to when he says in this [PR message](https://github.com/dj-stripe/dj-stripe/pull/1190#issue-433293290):

but it seems to be an issue with webhooks indeed.

## To reproduce

1. Enable stripe webhook on dj-stripe
2. Updat

[2020-09-24 10:08] jleclanche commented on #1247
Price webhooks are not implemented yet. I was hoping to have time to work
on them this week but alas. If you want to contribute a patch it's a good
one to work on, I can help if you ping me on the discord server.

On Thu, Sep 24, 2020, 12:03 Edouard Theron <notifications@github.com> wrote:

[2020-09-24 11:27] edthrn commented on #1247
Ok. If I understand the code base correctly, implementing `Price` webhooks should be done in a `webhooks.handler` decorated function in `event_handlers.py` ?

[2020-09-24 22:40] Javedgouri opened #1248 "How to create payment method on stripe using model"
I want to create payment method on stripe while saving model .

[2020-09-24 22:41] #1237 closed, assigned to nobody

[2020-09-25 10:51] Javedgouri opened #1249 "get error while modifying the paymentintent"
usage = instance.update(sid=instance.id,amount=200)

stripe.error.AuthenticationError: No API key provided. (HINT: set your API key using "stripe.api_key = <API-KEY>"). You can generate API keys from the Stripe web interface.  See https://stripe.com/api for details, or email support@stripe.com if you have any questions.

[2020-10-04 06:43] Javedgouri commented on #1249
any workaround please???

[2020-10-07 10:48] tarsil opened #1250 "DJStripeSubscriptionPermission issue returning bool"
This permission is not returning properly the bool.

**Current behaviour**

[code]

Here is not returning True or False except if it falls in the exception.

**Expected Behaviour**

[code]

Just missing a return and it solves the problem. We don't need a bool directly there, I just added just to follow the same patterns as the DRF (also being added to the other project :-))

[2020-10-07 23:53] jleclanche commented on #830
I have a workaround for this in dj-stripe. Will PR it soon.

[2020-10-08 11:00] jayvdb opened #1252 "Subscription .cancel and .update ignore Stripe Connect account"
**Describe the bug**
`Subscription` methods `.update` and `.cancel` ignore the Stripe Connect account for the subscription, resulting in "No such subscription: 'sub_I9yv1RtRhrYsdfs'

**To Reproduce**
Set up Stripe Connect.
Create a Subscription on a connected account.
Use `Subscription.cancel()`

**Software versions**
- Dj-Stripe version: master
- Python version: 3.8
- Django version: 3.0
- Stripe

[2020-10-12 16:09] LordXyTh opened #1254 "'customer.subscription.updated' start null constraint error"
**Describe the bug**
When cancelling a subscription using the stripe api, the customer.subscription.updated is posted to the webhook with a 500 post error:

[code]

I've verified that the event itself does not contain a null value.

**To Reproduce**
Create a subscription for a user. Try to cancel it with the method:
[code]
**Software versions**
- Dj-Stripe version: 2.3
- Python version:3.8
- Djang

[2020-10-12 16:18] LordXyTh commented on #1254
Reading the code it seems like the 'start' field will be deprecated in 2.4. Is the recommendation to simply delete this field in the package code?

[2020-10-12 20:18] lifenautjoe opened #1255 "mysql8 support"
# What?

Support mysq8

# How?

AFAIK the only possible breaking change is on the models that text cant have a default value.

```django.db.utils.OperationalError: (1101, "BLOB, TEXT, GEOMETRY or JSON column 'account_holder_name' can't have a default value")```

So default="" needs to be removed from model fields like this one

[code]

# Related

- [Stackoverflow question on this](https://stackove

[2020-10-12 20:59] jleclanche commented on #1255
Is this a problem in MariaDB?

[2020-10-12 21:01] lifenautjoe commented on #1255
I'm not sure.. I'm trying with DIgitalOcean's only offering of MySQL: MySQL 8.0

[2020-10-15 22:31] eriktelepovsky commented on #299
Is there any archive of https://dj-stripe.readthedocs.io/en/latest/cookbook.html#making-individual-purchases?

[2020-10-15 22:48] jonafato commented on #299
@eriktelepovsky Looks like that now exists within a `usage` section: https://dj-stripe.readthedocs.io/en/latest/usage/cookbook.html#making-individual-purchases

[2020-10-19 17:10] kavdev commented on #1247
@edouardtheron correct

[2020-10-19 17:13] kavdev commented on #1249
@Javedgouri what are you using for your api key settings in your django settings file? (be sure to redact info)

[2020-10-19 17:14] kavdev commented on #1250
@tiagoarasilva good catch. Can you submit a quick PR with just adding the return?

[2020-10-20 06:23] Javedgouri commented on #1249
@kavdev
STRIPE_LIVE_PUBLIC_KEY = get_secret('STRIPE_LIVE_PUBLIC_KEY')
STRIPE_LIVE_SECRET_KEY = get_secret('STRIPE_LIVE_SECRET_KEY')
STRIPE_TEST_PUBLIC_KEY = get_secret('STRIPE_TEST_PUBLIC_KEY')
STRIPE_TEST_SECRET_KEY = get_secret('STRIPE_TEST_SECRET_KEY')
STRIPE_LIVE_MODE = False  # Change to True in production
DJSTRIPE_WEBHOOK_SECRET = get_secret('DJSTRIPE_WEBHOOK_SECRET')

It works while creatin

[2020-10-20 20:42] trey commented on #1174
Just curious if we know when this will be officially released? Or is it a good idea to just run off the `master` branch?

[2020-10-29 00:19] anuzis commented on #1174
Any update?

[2020-10-29 17:30] kavdev commented on #1249
@Javedgouri ah okay. It's been a while since I've dug into the api, but you might be missing an ``api_key`` argument to ``.update()``. What object is ``instance`` an instance of?

[2020-10-30 16:41] jleclanche commented on #1254
You can safely alter the column to make it nullable for the time being. I'll figure out what's going on.

[2020-10-30 16:46] jleclanche commented on #1236
I'm closing this; someone is working on a DRF library, but it's happening off-repo.

[2020-10-30 16:46] #1236 closed, assigned to nobody

[2020-10-30 16:47] jleclanche commented on #1230
This was done.

[2020-10-30 16:47] #1230 closed, assigned to jleclanche

[2020-10-30 16:47] jleclanche commented on #1220
@kavdev go ahead with this?

[2020-10-30 16:55] #1250 closed, assigned to nobody

[2020-10-30 17:20] jleclanche commented on #1244
Can you create an instance without a currency in Stripe itself?

[2020-10-30 17:39] #830 closed, assigned to nobody

[2020-10-30 17:43] kavdev commented on #1220
@jleclanche yep. If you're already deep in the code, feel free to just mark me as an author. Otherwise, I can take care of this next week

[2020-10-31 10:16] jayvdb commented on #1244
https://stripe.com/docs/api/coupons/create says it is optional

[2020-10-31 18:54] jleclanche commented on #1132
#1262 has a working prototype of what a multi-api-key architecture looks like. I'm actively using it in a test environment.

The way it works is by relying on the new APIKey model I implemented a while back: API keys are in the database. API keys have an account. Objects fetched using specific API keys will gain their account as owner account. By default, the API key used to retrieve/refresh items

[2020-10-31 20:18] jleclanche commented on #1217
Fixed by c09d25f52bfdcf883e9eec0bf6c25af1771a644a

[2020-10-31 20:18] #1217 closed, assigned to jleclanche

[2020-10-31 20:20] jleclanche commented on #1145
Closing this; if it's a legitimate issue it sounds like it's a stripe-mock one. You can report it [here](https://github.com/stripe/stripe-mock) (cc @remi-stripe)

[2020-10-31 20:34] jleclanche commented on #920
@kavdev where's the config right now?

[2020-10-31 21:51] jleclanche commented on #1249
@Javedgouri what is the `instance` object? a PaymentIntent object?

I don't really know why we have an `update()` method on PaymentIntent actually… it's a shorthand for `.api_retrieve().modify(…)`, seems very unnecessary especially since it's the only model (other than Invoice) to have an update() method.

[2020-11-01 00:34] kavdev commented on #920
@jleclanche Not sure off the top of my head. It might have been removed by now.

[2020-11-01 05:51] remi-stripe commented on #1145
To provide a bit of context, passing `plan` as a parameter to the `Subscription` creation API has been deprecated for a few years. This happened when we introduced `items` to support multiple plans per subscription. While it still works in production, we undocumented it a few weeks ago to ensure new developers didn't mistakenly integrate something actively deprecated. It will keep working though w

[2020-11-01 12:16] jleclanche commented on #1145
Oh thanks for the context, that makes it a lot more actionable then.

[2020-11-01 13:38] #1252 closed, assigned to nobody

[2020-11-01 18:12] #1132 closed, assigned to jleclanche

[2020-11-01 18:35] #920 closed, assigned to jleclanche

[2020-11-01 18:35] #1145 closed, assigned to jleclanche

[2020-11-01 18:35] #1244 closed, assigned to jleclanche

[2020-11-02 07:27] jhill-cmd commented on #1255
same issue here

[2020-11-03 11:39] jleclanche commented on #1192
I decided to just remove it instead of deprecating, it doesn't make sense at all anymore; Products are what you want to be creating anyway.

[2020-11-03 11:39] #1192 closed, assigned to nobody

[2020-11-03 12:04] jleclanche opened #1265 "Release 2.4.0: preparation"
I'm starting the prep work for the next release. I'd like to have it some time in November (I wanted to do this in October but life got in the way).

Highlight features of this release:

- Support for API keys in the database
- Support for multiple Stripe accounts.
- First-class support for the Price model, replacing Plans
- First-class support for multi-item subscriptions
- Django 3.1 support (an

[2020-11-03 12:14] jleclanche opened #1266 "CountrySpec should probably not be a StripeModel"
CountrySpec is different from most stripe models. It has no write APIs and thus lacks all of the common stuff even `livemode`. Can split up StripeModel into a BaseStripeModel which it would inherit from instead of overriding all those fields.

[2020-11-03 12:16] jleclanche commented on #740
@jayvdb Would you know what the next step is on this?

[2020-11-04 10:55] lifenautjoe commented on #1255
I ended up having to switch to Postgres just to fix this issue. This is unfourtunately not a choice in my production projects which are based on MySQL.

Until this is addressed, this library is unusable.

[2020-11-04 10:57] jleclanche commented on #1255
This is the only report of an issue on mysql tbh, I know a few others are
using it in production so something else is going on.

On Wed, Nov 4, 2020, 11:56 Joel Hernández <notifications@github.com> wrote:

[2020-11-04 11:11] lifenautjoe commented on #1255
This is specific to mysql8, which even now it’s not widely employed on
cloud platforms.

I would not have used it yet but had no choice given that this is the only
version that DigitalOcean offers. In AWS, 7.x is the norm.

The issue is solved by removing redundant lines of code.

I will make a PR in a week or so.. when I will try to use this with MySQL 8
again.

On Wed, 4 Nov 2020 at 11:57, Jerom

[2020-11-04 14:59] jlariza commented on #1068
Any news about this issue?

is there a way to bypass it while it is being fixed?

Thank you

[2020-11-04 18:26] jleclanche commented on #1068
@jlariza can you attach a traceback? even better, an exact method of repro, and I'll work on it this week.

[2020-11-06 14:05] sirheimer opened #1267 "Deadlock Error"
**Describe the bug**
Deadlock detected when dj-stripe tried to handle webhooks from Stripe. Error has been found with multiple different webhooks types from Stripe. In live mode.

`
deadlock detected
DETAIL:  Process 1561572 waits for ShareLock on transaction 2685881; blocked by process 1561568.
Process 1561568 waits for ShareLock on transaction 2685874; blocked by process 1561572.
HINT:  See serv

[2020-11-07 14:44] #1221 closed, assigned to nobody

[2020-11-08 14:15] jleclanche commented on #1267
`charge.failed`:

[code]

`invoice.finalized`:

[code]

[2020-11-08 14:27] jleclanche commented on #1267
This is a very hard one to fix. I think I understand what's going on more or less; two webhooks come at the same time, and during `sync_from_stripe_data` the transactions end up stepping over each other.

It's not that the process isn't thread-save; transactions are doing their job here: preventing partial inserts/updates, at the cost of a deadlock happening. In practice I'm guessing the webhook p

[2020-11-08 15:29] jleclanche commented on #1211
This was fixed by cec238e4cf5338b87479504811f409b87ded66fe

[2020-11-08 15:29] #1211 closed, assigned to nobody

[2020-11-08 15:35] #1255 closed, assigned to nobody

[2020-11-08 23:33] #904 closed, assigned to jleclanche

[2020-11-09 00:14] #1028 closed, assigned to jleclanche

[2020-11-09 00:59] jleclanche commented on #1184
A migrated installation of dj-stripe 2.2.0 will be required to upgrade to 2.4.0. This is definitive, and gets rid of some custom, nasty migration logic that was problematic before (especially when running backwards migrations).

`migrate djstripe zero` is successful now on master.

[2020-11-09 00:59] #1184 closed, assigned to jleclanche

[2020-11-09 01:00] jleclanche commented on #1161
Fixed on master, will be released with 2.4.0. You have to be running an already-migrated version of dj-stripe 2.2.0 or higher to upgrade to 2.4.0.

[2020-11-09 01:00] #1161 closed, assigned to jleclanche

[2020-11-09 01:03] jleclanche commented on #850
This migration is now gone in master (2.4.0). In order to migrate to dj-stripe 2.4.0, you will have to be in an already-migrated 2.2+ installation of dj-stripe.

If you are running an older version and need help migrating, feel free to reply here or email me and I'll assist manually. We won't be restoring these migrations in the codebase.

[2020-11-09 01:03] #850 closed, assigned to jleclanche

[2020-11-09 01:23] #1206 closed, assigned to jleclanche

[2020-11-11 08:33] jleclanche commented on #899
Merged #1121 to master

[2020-11-11 08:33] #899 closed, assigned to nobody

[2020-11-11 09:56] saleweaver commented on #1224
The problem here seems to be that the `stripe_class` is missing in djstripe's `UsageRecord`. Once you add it, you can sync usage records manually. Webhooks don't work for invoices/items though.
[code]

[2020-11-11 13:03] #1224 closed, assigned to jleclanche

[2020-11-11 18:42] jleclanche opened #1273 "Some way to fetch/update help_text dynamically from Stripe"
`help_text` is copypasted from the API docs most of the time. It'd probably be better if we can somehow auto-generate that from the fixtures (eg. once per release).

[2020-11-11 21:56] keeth commented on #1167
Would be great to see LineItem support in dj-stripe.  Wonder how hard this would be to implement.

[2020-11-12 13:11] jleclanche commented on #1167
I can't reproduce this error, and it sounds like it may have been an outdated stripe sdk issue. Closing this. LineItem support is a separate issue.

[2020-11-12 13:11] #1167 closed, assigned to nobody

[2020-11-12 13:16] #741 closed, assigned to jleclanche

[2020-11-13 20:16] jleclanche commented on #1168
#452 - As is, using the admin to do upstream write changes is not supported.

[2020-11-13 20:16] #1168 closed, assigned to nobody

[2020-11-13 20:25] jleclanche commented on #1081
The issue is indeed in `BankAccount`. In a972965855b1f9ea619a9411c5ee26f9d9563165 I added a check so that the syncing fails in a cleaner way. In f497820f300cc297b9213797a943f2597b276c15, I'm expanding the `destination` field so that the bank account is synced properly when syncing the Payout. So this should be fixed now.

[2020-11-13 20:25] #1081 closed, assigned to jleclanche

[2020-11-13 20:27] jleclanche commented on #720
Gonna close this as this is not really being picked up by anyone. I made an [example project](https://github.com/dj-stripe/djstripe-example-project) to help test things.

[2020-11-13 20:27] #720 closed, assigned to nobody

[2020-11-13 20:30] jleclanche commented on #1146
In 508f844c7fe8b501e6faa4fbf546d43eeeac1a3c, `Customer.subscribe()` now forwards any arguments to the sdk, so this is supported now.

[2020-11-13 20:30] #1146 closed, assigned to nobody

[2020-11-13 20:32] jleclanche commented on #1199
Yeah, this is tracked in #452. I'd really like to get it fixed but we have too many oddities to easily start work on it, so for the next releases we're still in data model cleanup mode.

[2020-11-13 20:32] #1199 closed, assigned to nobody

[2020-11-13 21:01] jleclanche commented on #1195
Sorry for the lack of documentation on this. See #1265 for that. Closing in favour of that issue.

[2020-11-13 21:01] #1195 closed, assigned to nobody

[2020-11-14 22:28] jleclanche commented on #1059
I would classify this as a stripe-level bug. I'm going to close this, will reopen if I can get confirmation from Stripe that it's intended behaviour *and* that it can still happen.
Also, if it's still happening for you (or anyone reading this in the future), please do reply here.

[2020-11-14 22:28] #1059 closed, assigned to nobody

[2020-11-14 22:34] jleclanche commented on #1191
As @PabloCastellano found out recently the default value for jsonfield None is `""`. Though I see this is on Django 2.2 - @PabloCastellano can you confirm?

[2020-11-14 22:36] jleclanche commented on #1022
Gonna close this as duplicate of #567 to keep discussion there.

[2020-11-14 22:36] #1022 closed, assigned to nobody

[2020-11-14 22:40] jleclanche commented on #511
Okay, looks like Stripe has cleaned up the invoice item API indeed. I have an old invoice (`in_1GsovGEU4JBg99IS63skU8Ps`) where I can reproduce this issue, but with a different result:

[code]

[2020-11-14 23:42] #511 closed, assigned to jleclanche

[2020-11-14 23:46] jleclanche commented on #511
In db7c7dd30a8853aec3477c3064fb5cf3c887fdde, a new management command has been implemented to migrate the old InvoiceItem IDs to the new format.

## Why isn't this part of database migrations?

1. Because it's potentially expensive to run for databases with large amounts of InvoiceItems
2. It's mostly harmless, but may lead to weird data inconsistencies
3. The management command does it more safel

[2020-11-15 01:00] wolph opened #1277 "Card should not be required for all payment methods"
**Describe the bug**
Card is currently not nullable which breaks with payment methods that don't use a card such as SEPA Direct Debit.

**To Reproduce**
Steps to reproduce the behavior:

1. Make a charge using SEPA Direct Debit
2. See attached error on webhook

**Expected behavior**

A created payment method (and dependents)

**Environment**
- dj-stripe==2.3.0
- stripe==2.55.0
- Django==3.0.11
- P

[2020-11-15 18:33] #958 closed, assigned to jleclanche

[2020-11-15 18:35] jleclanche commented on #1218
I think this comes back to the general topic of marking rows as deleted (without deleting them altogether). We probably need a `djstripe_marked_as_deleted` boolean/datetime.

[2020-11-15 18:37] jleclanche commented on #1218
The kicker being that there are multiple possible states for some models such as Customer:

- The instance is still live and retrievable
- The instance is retrievable, but was purged (deleted Customers go through that flow)
- The instance has been permanently deleted and is no longer retrievable (For a Customer this could happen after a testmode wipe)
- The instance was not deleted as far as djstr

[2020-11-15 18:48] jleclanche commented on #1016
I'm closing this because it's not actionable. Happy to land PRs that implement refreshes in places where it's missing, or reopen if someone wants to make a list of where to implement those.

[2020-11-15 18:48] #1016 closed, assigned to nobody

[2020-11-15 18:59] jleclanche commented on #1277
I just tried charging a test ACH account, and the charge looked like this:

[code]

I'll try with an account that has SEPA enabled, but I'm not sure why they would look different…

[2020-11-15 20:13] wolph commented on #1277
Those results seem similar, but it's definitely not working here.

Here's my charge:
[code]

What does the system save in your `card` column in that case? An empty string or is it somehow nullable?

[2020-11-15 20:51] jleclanche commented on #1277
It doesn't save a payment method at all in the ACH case, because `payment_method` is null. It does look wrong though. I'll try to get your case fixed so it doesn't crash, but this will need further improvements in the future I suspect.

[2020-11-15 20:54] wolph commented on #1277
Thank you for the quick response and the help in any case 👍

I suspect the same actually... I could have made a pull request to set the `card` to nullable, but I doubt it's the only thing that will go wrong in this scenario. I've only used this library for a bit so I'm not that experienced with it yet.

[2020-11-15 21:00] jleclanche commented on #1277
It's probably correct but I'd really like to be able to reproduce this.

I have an account with SEPA enabled but I can't find a way to add a SEPA payment method to a customer…

[2020-11-15 21:03] wolph commented on #1277
A quick way to test is to use the stripe checkout system.

Based on: https://stripe.com/docs/payments/accept-a-payment?integration=checkout
[code]

[2020-11-15 23:04] jleclanche commented on #1265
## Introducing in-database Stripe API keys

Stripe API keys are now stored in the database, and are now editable in the admin.

**Important note**: By default, keys are visible by anyone who has access to the Dj-Stripe administration.

### Why?

As we work on supporting multiple Stripe accounts per instance, it is vital for Dj-Stripe to have a mechanism to store more than one Stripe API key. It al

[2020-11-16 00:50] #1277 closed, assigned to jleclanche

[2020-11-16 01:01] jleclanche commented on #1277
Okay, took me a while, but I finally got those Checkout Sessions working. I took the opportunity to implement them [in the example project](https://github.com/dj-stripe/djstripe-example-project/commit/bb37d9118c2a4928225fb5dca57d03ddf851e892).

Commit c0d9ddf implements a migration which brings PaymentMethod in line with what it should actually look like, so now you have access to all those extra

[2020-11-16 01:12] wolph commented on #1277
Awesome! Thank you for the quick fix. I'll try it right away.

As for sponsoring. The project I'm working on is currently in the proof-of-concept phase so there's no money to go around yet. If it takes off though, I'll throw a few bucks your way :)

[2020-11-16 01:24] jleclanche commented on #1277
Sounds good!
2.4 is slated for release this week. If you're running off master, make sure to run all the migrations up to the current commit before upgrading to the final release. And please do report any other issues you find!

[2020-11-16 01:26] jleclanche commented on #1248
As with all models, the pattern right now when using the Stripe sdk:

[code]

[2020-11-16 01:26] #1248 closed, assigned to nobody

[2020-11-16 01:27] jleclanche commented on #1229
I'm closing this because I'm going to deprecate all the mixins as they are currently implemented. We can rediscuss bringing them back in a .contrib module or some such after 3.0.

[2020-11-16 01:27] #1229 closed, assigned to nobody

[2020-11-16 01:29] jleclanche commented on #1130
Closing as unreproducible. Please file a new issue if you find something similar happening; as is, there isn't enough info to know what this is about.

[2020-11-16 01:29] #1130 closed, assigned to nobody

[2020-11-16 01:30] jleclanche commented on #1046
2.4 will have better support for Stripe Connect since we're getting in-db api keys. I don't know how helpful that is. Someone was working on improved Stripe Connect support and we might have some more of that landing in 2.5.

[2020-11-16 01:30] #1046 closed, assigned to nobody

[2020-11-16 01:33] #495 closed, assigned to nobody

[2020-11-16 01:36] jleclanche commented on #1117
I've implemented a new example app here: https://github.com/dj-stripe/djstripe-example-project

It's not much yet but I'm using it for testing dj-stripe. File issues and PRs on that project if you want to see something specific.

[2020-11-16 01:36] #1117 closed, assigned to nobody

[2020-11-16 01:38] jleclanche commented on #1011
Solution is to watch for the webhook (via djstripe's signals), and check `trial_end`.

[2020-11-16 01:38] #1011 closed, assigned to nobody

[2020-11-16 02:58] jleclanche commented on #1265
## Major deprecations

Nobody likes features being removed. However, the last few releases we have had to remove features that were not core to what dj-stripe does, or simply poorly-maintained. To keep up with the trend, we are making three major deprecations this release:

### Creating Plans from the Django Admin is no longer supported

The `Plan` model was special cased in various places, includ

[2020-11-16 15:15] unformatt commented on #1011
@jleclanche Can you elaborate? Stripe sends a webhook 3 days before a trial expires. It does not send a webhook when the trial actually expires.

[2020-11-16 15:19] jleclanche commented on #1011
@unformatt Oh I see what you mean. No, when the trial expires you'll receive a `subscription.updated` webhook (as the status changes), so you can just check subscription details at that point.

[2020-11-16 15:25] unformatt commented on #1011
@jleclanche As far as I remember, when `subscription.updated` webhook comes through when the trial expires, status goes from trialing -> active rather than cancelled. Stripe creates invoice which has 1 hour to be paid. I guess I just need to do this in a way that doesn't rely on webhooks.

[2020-11-16 15:30] jleclanche commented on #1011
This is configurable from your stripe dashboard IIRC. You might want to talk to Stripe support if you need to change this behaviour.

[2020-11-16 16:32] #1165 closed, assigned to jleclanche

[2020-11-16 16:32] jleclanche commented on #1165
In 2.4.0, Customer.charge() accepts any argument you can pass to stripe.Charge.create().

[2020-11-16 16:58] cjavilla-stripe commented on #1059
Hey @maarten2015 any chance you can share that file ID so I can take a look at the logs and see what's happening here?

[2020-11-16 18:48] jleclanche commented on #1243
Moving discussion to #567

[2020-11-16 18:48] #1243 closed, assigned to nobody

[2020-11-16 18:50] jleclanche commented on #1247
This is implemented in master for 2.4 now.

[2020-11-16 18:50] #1247 closed, assigned to nobody

[2020-11-16 18:52] jleclanche commented on #1151
I've started an upgrade guide for 2.4.0. We'll have proper release notes and upgrade guides moving forward.

https://dj-stripe.readthedocs.io/en/master/history/2_4_0/

[2020-11-16 18:52] #1151 closed, assigned to jleclanche

[2020-11-16 19:08] jleclanche commented on #925
Done up until 2.0

[2020-11-16 19:08] #925 closed, assigned to jleclanche

[2020-11-16 19:25] #1207 closed, assigned to jleclanche

[2020-11-16 19:36] jleclanche commented on #419
Closing this in favour of #483.

[2020-11-16 19:36] #419 closed, assigned to nobody

[2020-11-16 22:34] jleclanche commented on #1175
Done: https://dj-stripe.readthedocs.io/en/master/reference/settings/#djstripe_use_native_jsonfield-false

@jayvdb did you ever perform that migration?

[2020-11-16 22:34] #1175 closed, assigned to nobody

[2020-11-17 14:50] jleclanche commented on #1149
Closing as this sounds like a stripe issue.

[2020-11-17 14:50] #1149 closed, assigned to nobody

[2020-11-17 18:35] jleclanche commented on #356
Closing this as non-actionable. The [examples project](https://github.com/dj-stripe/djstripe-example-project) may help with the documentation in the future, as I'd like to have an example subscription system on it.

[2020-11-17 18:35] #356 closed, assigned to nobody

[2020-11-17 18:40] #1035 closed, assigned to nobody

[2020-11-17 19:46] #1220 closed, assigned to kavdev

[2020-11-17 20:24] kavdev commented on #1265
@jleclanche here are a couple more things if you want them in there. You've covered everything else 👍

**New Features**
* Revamped the documentation

**Improvements**
* Updated signals to include new stripe webhook event types

**Bugfixes**
* Fixed Account creation error when ``Account.payouts_enabled`` is missing from request [\#1107]
* As of API version 2020-03-02, there is no permission that ca

[2020-11-17 20:57] kavdev commented on #925
Added all 1.x releases. 0.x releases are next

[2020-11-17 21:16] kavdev commented on #925
Done

[2020-11-17 21:46] kavdev commented on #1191
My go-to for this is to set `default=dict` on the field. Haven't had any issues.

[2020-11-18 02:09] jayvdb commented on #1175
No. I also needed to upgrade to dj3.1 and tried dj-stripe master, and ran into https://github.com/dj-stripe/dj-stripe/issues/1195 , and didnt get any response there, so worked on serious Stripe Connect bugs.

[2020-11-18 13:18] jleclanche commented on #1175
@jayvdb can you ping me on the [discord server](https://discord.gg/UJY8fcc) so I can help you with whatever's left?
I'm gearing up to release 2.4 this week (probably Friday). Would really like to make sure everything is ready for it.

[2020-11-19 19:22] trey commented on #1174
@anuzis, I think this may be a good place to keep up with what's going on: https://github.com/dj-stripe/dj-stripe/issues/1265

[2020-11-19 19:34] anuzis commented on #1174
@trey  Perfect! Thanks.

[2020-11-19 21:06] jleclanche commented on #1174
@trey @anuzis 2.4.0 is planned for tonight / tomorrow.

[2020-11-19 21:57] jleclanche commented on #1265
**dj-stripe 2.4.0 is out!**

Release notes: https://dj-stripe.readthedocs.io/en/stable-2.4/history/2_4_0/
Github release: https://github.com/dj-stripe/dj-stripe/releases/tag/2.4.0

Thanks to everyone who helped with it!

[2020-11-19 21:57] #1265 closed, assigned to jleclanche

[2020-11-19 23:19] trey commented on #1174
@jleclanche Thank you! 😃

[2020-11-20 07:06] pplante opened #1278 "Price.human_readable_price returns $29900 instead of $299"
**Describe the bug**
When calling `human_readable_price` on `Price`, I was expecting it to return `$299` which reflects the price I have set in the Stripe dashboard.  The method returns `$29900`.

The code is getting the amount via:
[code]

I think that should be using `self.amount_in_cents` rather than `self.unit_amount`

**To Reproduce**
Call the method in v2.4.0.

**Software versions**
- Dj-Str

[2020-11-20 12:57] #1278 closed, assigned to jleclanche

[2020-11-20 13:04] jleclanche commented on #1278
Thanks for the report, this is fixed in master.

2.4.1 will be released before the end of november and this fix will be in it, depending on whether there are other minor issues cropping up.

As a hacky workaround until then you can do something like this (only :

[code]

[2020-11-20 23:52] robertgalloway-nobleai opened #1279 "Customer not editable in Django admin with a null "Default source""
**Describe the bug**

If a Customer does not have a default payment source (perhaps because the customer is on a free trial or has an 100% coupon, etc, so they don't need to provide credit card details), editing that Customer in Django admin is impossible. The admin interface requires a non-blank valid payment source in the "Default source:" field.

This is because the `Customer.default_source` mo

[2020-11-21 00:13] jleclanche commented on #1279
Thanks for the report. There's a lot of these types of issues; I'll fix this one but there's certainly more.

Two things though:
- 2.4.0 is out, you should use that especially if you're just starting. It's a big one :)
- Why are you editing customers in the admin? This is not fully supported, the changes won't be reflected on Stripe's side (it only changes the local db)

[2020-11-21 00:17] robertgalloway-nobleai commented on #1279
Was looking to manually connect a Stripe customer to a Django user by setting the `subscriber` FKey... is there a better way to do this?

[2020-11-21 00:55] jleclanche commented on #1279
@kavdev do you remember how this is done? We use the `djstripe_subscriber_id` metadata key on Customer iirc but I forget how you would do it for an existing customer / as a one-off

[2020-11-21 03:07] #1279 closed, assigned to jleclanche

[2020-11-21 03:16] kavdev commented on #1279
@jleclanche there's some documentation in github somewhere. I think you just have to fill out the metadata in stripe and it should link up automatically when the customer gets synced.

[2020-11-22 22:32] anjunamonkey opened #1281 "Connect webhooks - account.updated not working in 2.4.0"
Webhooks for Connect account.updated events aren't working for me - I understand this should be implemented as part of 2.4.0?

I have defined the following webhook handler:
[code]

Currently, connect webhook hooks are not valid or processed, but produces a 'No such event:' error e.g
Request req_WJgghRM9iI7B2b: No such event: 'evt_1HqP9gIgSzDCinL0fWSPFYs5'

I'd guess this is because dj stripe is ch

[2020-11-23 03:44] jleclanche commented on #1281
Could you share the contents of a test mode event reproduction, and its
full traceback please?

Connect has been exceedingly hard to test for us unfortunately :(

On Sun, Nov 22, 2020, 23:32 anjunamonkey <notifications@github.com> wrote:

[2020-11-23 09:06] anjunamonkey commented on #1281
Test mode webhook event trigger:

**body**:

{
"id": "evt_1HqPELIgSzDCinL0HYpoZQw3",
"object": "event",
"account": "acct_1HqP6jIgSzDCinL0",
"api_version": "2020-03-02",
"created": 1606077137,
"data": {
"object": {
"id": "acct_1HqP6jIgSzDCinL0",
"object": "account",
"business_profile": {
"mcc": "7392",
"name": null,
"support_address": null,
"support_email": null,
"support_phone": "+44772340020",
"s

[2020-11-23 09:22] jleclanche commented on #1281
Thanks, I'll have a look later this week. If I can fix it, I'll see if it can go into the upcoming 2.4.1 (planned for end of next week / following monday).

[2020-11-23 09:24] jleclanche commented on #1281
@anjunamonkey I could really use the full body object to debug this though, please

[2020-11-23 09:32] anjunamonkey commented on #1281
Many thanks! Certainly - the full body object's below:

[code]

[2020-11-24 16:15] wolph opened #1282 "Shipping, source, source transfer and transfer should not be required for a Charge"
**Describe the bug**

Existing charges cannot be safed  due to required fields that should not be required. When selling digital good/services these are all unavailable

![image](https://user-images.githubusercontent.com/270571/100120476-4005b080-2e78-11eb-88cc-a036178a76eb.png)

**To Reproduce**
1. Create a payment without a shipping address
2. Try to save the Charge from the Django Admin

**Soft

[2020-11-24 16:19] jleclanche commented on #1282
Gonna fix, but same as #1279, why are you trying to modify the object from the admin? You should be modifying it from the stripe dashboard - changes made in the admin will not reflect in the dashboard.

[2020-11-24 16:20] wolph commented on #1282
To trigger a `post_save` signal :)

[2020-11-24 20:34] martinmain93 opened #1283 "Can't sync Products after upgrading to 2.4 / Django 3.1"
**Describe the bug**
I've recently been doing a big upgrade from Django 1.11 and Djstripe 1.2.4. I successfully made a series of scripts and migrations to bring everything up to Django 3.1 and Djstripe 2.3, and this all worked well and was tested. I was still using the legacy Plan models, and I hadn't set up the system to use Products at this time. When I saw the release of version 2.4 I wanted to

[2020-11-24 20:46] jleclanche commented on #1283
Thanks for the report.

Did you ever touch the structure of the tables outside of Django? (eg. tweaking migrations, skipping them, or manually modifying the tables in postgres)

It sounds to me like a migration which was supposed to make `djstripe_product` nullable (prior to 2.1) was either not run, or ran incorrectly.

That would be the migration [0002_auto_20180627_1121](https://github.com/dj-st

[2020-11-24 20:46] #1283 closed, assigned to nobody

[2020-11-24 21:59] keeth commented on #1068
@ezet @jlariza my workaround was simply to ignore the `payment_method.detached` event via the `DJSTRIPE_WEBHOOK_EVENT_CALLBACK` setting.  The `customer.source.deleted` handler handles the detach properly, as far as I can tell, so no further processing is needed.

[code]

@jleclanche I get this webhook error simply by creating a source for a customer and then detaching it via `Source.objects.get(id

[2020-11-25 01:06] martimarkov opened #1284 "Issue when attempting to sync tiered Price Model"
**Describe the bug**

The Price model does not include `tiers` information when the billing scheme is `Tiered`.

**Software versions**
- dj-stripe version: 2.4.0
- Python version: 3.8.6
- Django version: 3.1
- Stripe API version:
- Database type and version: PSQL 11

**Steps To Reproduce**
1. Create tiered `Price` and add tiers in Stripe Dashboard
2. Sync `Price` models with manage command

**Can

[2020-11-25 01:16] martimarkov commented on #1284
I'm not familiar with the internals of djstripe yet but i think

https://github.com/dj-stripe/dj-stripe/blob/d6a6b51eb1821eeb6ffc441c5c083ff6b51fc272/djstripe/models/core.py#L1904 might have something to do with it.

And

I have it uncommented, and the call to `api_list` still does not include it which I think is by design so I'm not quite sure how this should be fixed.

Maybe something like `pric

[2020-11-25 01:56] steverecio opened #1285 "How do I set subscription quantity?"
After upgrading from 2.3.0 -> 2.4.0, I'm getting the following error message: "Received both items and quantity parameters. Please pass in only one."

Looking at the docs, it seems like you need to pass `quantity` in the `items` price dictionary but [the code in 2.4.0](https://github.com/dj-stripe/dj-stripe/blob/2.4.0/djstripe/models/core.py#L818) doesn't offer that flexibility.

What is the recom

[2020-11-25 02:06] jleclanche commented on #1285
Eesh, sorry. Yeah this sucks a bit, will get it addressed for 2.5.0.

Try with charge_immediately=False in the mean time, I think it creates a draft invoice / you may be able to edit the invoice for a short time still. If that doesn't work, you might have to copy the function locally for the time being and edit it to your liking.

[2020-11-25 10:53] martimarkov commented on #1284
Not sure if this is hacky or not but my fix was to add:

[code]

after https://github.com/dj-stripe/dj-stripe/blob/d6a6b51eb1821eeb6ffc441c5c083ff6b51fc272/djstripe/management/commands/djstripe_sync_models.py#L133

I can submit a PR if you are happy so we can release this with the potential 2.4.1 Monday release.

[2020-11-25 11:01] martimarkov commented on #1284
Actually, I think an even better way would be to change:
https://github.com/dj-stripe/dj-stripe/blob/d6a6b51eb1821eeb6ffc441c5c083ff6b51fc272/djstripe/models/core.py#L1904
to ["data.tiers"] as per https://stripe.com/docs/api/expanding_objects

Then we can change:

`all_list_kwargs = [{"expand": ["data.tiers"]}]` to `all_list_kwargs = [{"expand": models.Price.expand_fields}]`

So yeah just tell me

[2020-11-25 17:18] steverecio opened #1286 "django.db.utils.ProgrammingError: column djstripe_customer.business_vat_id does not exist"
After migrating from 2.3.0 -> 2.4.0, I created a new subscription and then when I retrieve the Customer object thereafter (not sure if these two actions are related), I get the following error:

[code]

I see in the release notes that `business_vat_id` has been deprecated:

Do we need to create a DB migration to delete this field? I'm not accessing it directly, just retrieving the Customer object.

[2020-11-25 17:30] jleclanche commented on #1286
The 2.4.0 migrations should have deleted it, which is why you're getting the sql error. Is your code referencing the field somewhere?

[2020-11-25 17:30] jleclanche commented on #1286
Looking at that second sql query, it's almost like you ran the migration but didn't upgrade the dj-stripe code itself correctly.

[2020-11-25 18:17] muditbisht-delhivery opened #1287 "Failure in syncing Customer model with stripe."
**Software versions**
- Upgrading from dj-stripe version: 2.3.0
- Upgrading to dj-stripe version: 2.4.0
- Python version: 3.70
- Django version: 3.0.6
- Stripe API version: 2.55.0

On syncing local dj_stripe data with stripe database using `sync_from_stripe_data` API, the new version is raising this exception.
(here `customer`  is an instance returned from `stripe.Customer.create` API.)

`djstripe

[2020-11-25 18:29] jleclanche commented on #1287
Can you show me all your DJSTRIPE settings please? (censor the secret keys of course)

[2020-11-25 19:10] steverecio commented on #1286
Here is the result of `showmigrations djstripe`:

[code]

My code does not reference business_vat_id anywhere. The issue comes from the line `Customer.objects.get(subscriber=user)`.

[2020-11-25 19:15] jleclanche commented on #1286
We don't reference `business_vat_id` *anywhere* in the codebase as of 2.4, aside from the `Customer.business_vat_id` property.

Okay, well, I'll give this a shot tomorrow and see if I can reproduce it. Can you give me a minimal reproducible step-by-step?

[2020-11-25 19:22] steverecio commented on #1286
PEBKAC

[2020-11-25 19:22] #1286 closed, assigned to nobody

[2020-11-25 19:29] jleclanche commented on #1286
ok :) What was the issue?

[2020-11-25 20:00] steverecio commented on #1286
Docker issues. Forgot to rebuild the Celery container :)

On Wed, Nov 25, 2020 at 2:29 PM Jerome Leclanche <notifications@github.com>
wrote:

[2020-11-26 10:58] muditbisht-delhivery commented on #1287
These are my settings for DJSTRIPE

`STRIPE_TEST_PUBLIC_KEY = config('STRIPE_TEST_PUBLIC_KEY')`
`STRIPE_TEST_SECRET_KEY = config('STRIPE_TEST_SECRET_KEY')`
`STRIPE_LIVE_MODE = False  # Change to True in production`
`DJSTRIPE_WEBHOOK_SECRET = config('DJSTRIPE_WEBHOOK_SECRET')`
`DJSTRIPE_FOREIGN_KEY_TO_FIELD = "djstripe_id"`

[2020-11-27 19:36] muditbisht-delhivery commented on #1287
If anyone watching this in the future it was an easy solve by setting the value of DJSTRIPE_FOREIGN_KEY_TO_FIELD to "id".

[2020-11-27 19:36] #1287 closed, assigned to nobody

[2020-11-29 19:21] jleclanche commented on #1284
I'm unable to reproduce this with graduated or volume pricing.

I can add `tiers` to the `expand_fields`, but I'd like to actually see the crash. I'm concerned I can't reproduce it.

[2020-11-29 19:25] martimarkov commented on #1284
There isn’t a crash.
I think this will allow you to reproduce it:

1. Disable web hooks
1. Create a Price with tier mode.
1. Try to sync

—
MM

[2020-11-29 19:26] jleclanche commented on #1284
Ah, so you mean the issue is just that the tiers info is missing?

[2020-11-29 19:45] #1282 closed, assigned to jleclanche

[2020-11-29 19:45] #1284 closed, assigned to jleclanche

[2020-11-29 19:54] jleclanche commented on #1287
For new installations, the value should be `"id"`. For old installations, it should be `"djstripe_id"`.

[2020-11-29 20:05] jleclanche commented on #1278
2.4.1 is out.

[2020-11-29 20:05] jleclanche commented on #1279
2.4.1 is out.

[2020-11-29 20:05] jleclanche commented on #1284
2.4.1 is out.

[2020-11-29 22:12] al-muammar opened #1289 "Broken backward compatibility"
**Describe the bug**
There are two problems. First, a new flag:
[code]
When I add it as per README, the second error hits me:
[code]

**To Reproduce**
[code]

**Software versions**
- Dj-Stripe version: 2.4.1
- Python version: 3.7.6
- Django version: 2.2.17
- Stripe API version: not applicable
- Database type and version: SQLite 3.22.0

[2020-11-29 22:43] jleclanche commented on #1289
That first issue is described in the [upgrade guide](https://dj-stripe.readthedocs.io/en/master/history/2_4_0/#upgrade-guide) - did you follow it?

Follow-up questions:
1. Are you able to reproduce this in a non-sqlite database?
2. Are there any issues if you upgrade to sqlite 3.26+? (Latest version is 3.33)

If this is specific to sqlite <3.26 I'm comfortable marking this as wontfix, and adding a

[2020-11-30 13:02] martinmain93 opened #1290 "Subscription __str__ method uses Plans instead of Prices"
Since Plans are being deprecated, shouldn't the `__str__` method on Subscriptions use Prices by default instead of Plans?
Current code:
[code]

I could attempt to make a PR on this, but wanted to make sure this was the intentional behaviour

[2020-11-30 14:08] PabloCastellano commented on #1290
Stripe subscriptions now support multiple plans so IMO that field should be deprecated. Maybe `__str__` could contain a list of all products instead.

[2020-12-01 11:57] martimarkov opened #1291 "Sync metadata"
@jleclanche

Building on top of this: https://github.com/dj-stripe/dj-stripe/commit/599c30d221be7717d5f200c3faee6bf154d1905c

Should we also include metadata in the sync?

[2020-12-01 12:13] martimarkov commented on #1291
My bad!

[2020-12-01 12:13] #1291 closed, assigned to nobody

[2020-12-02 00:53] wolph commented on #1282
@jleclanche it seems I wasn't paying enough attention or something has changed. There are more fields which shouldn't be required:
 - `dispute`
- `invoice`
- `on_behalf_of`

[2020-12-02 00:56] wolph commented on #1282
Can I suggest adding `blank=True` to all `null=True` fields?
Suitable regex: `s/blank=True,/blank=True,\n        null=True,/g` followed by: `s/null=True\n\s*null=True/null=True/g`.

I can create a pull request if needed :)

[2020-12-02 00:58] jleclanche commented on #1282
That isn't always a valid change which is the main reason we haven't done it yet. And it needs careful application in the migrations too.

But once again I recommend heavily against using the admin for anything other than apikey management right now.

[2020-12-02 01:00] wolph commented on #1282
That's fair :)

I'm just using this to test a `post_save` signal since it's much easier to replicate than a `webhook` signal. For now a `some_charge.save()` works fine too, but from the admin would save the hassle of creating a Python file.

[2020-12-02 22:57] jleclanche opened #1292 "Implementing StripeEnumField as a real postgres enum field"
I'm not sure we'll end up doing this in dj-stripe rather than in Django itself, or some django third-party library, but I would really like to see us use proper enums on postgres. We talked about doing this before, but it's always been low priority.

@wolph given your [interest in postgres enums](https://w.wol.ph/2020/03/18/altering-postgres-int-columns-to-enum-type/), I don't suppose you'd be up

[2020-12-02 23:12] wolph commented on #1292
It should largely be easy enough to fix, but I should note that you are not allowed to remove items from a Postgres enum.

So... to add a new value you can do this:
[code]

Changing values is supported since Postgres 10 which might still be too new to rely on for now. So before we switch to native enums, make sure that the values are final ;)

[2020-12-02 23:19] jleclanche commented on #1292
Removing items won't be something we will need to do anyway, or at least shouldn't be… And yeah, Postgres 10 minimum is probably fine by the time we release this. Django minimum is 9.6 in 3.2 anyway.

[2020-12-03 08:27] al-muammar commented on #1289
@jleclanche, sorry, returning back here. If you break backward compatibility, you have to update the major version, otherwise, package installers like pipenv or poetry will pick up the next version and break the code.

Signaling that you are not working with old versions of SQLite somewhere should be fine.

[2020-12-03 15:00] jleclanche commented on #1289
I follow the same versioning policy as Django in dj-stripe: backwards compatibility between x.y is preserved where possible, with deprecations and exceptions noted in the release notes. Backwards compatibility is only guaranteed between patch versions.

With that said, nobody I know tests with sqlite in production, so it's likely you will encounter issues with it. I highly recommend using a real d

[2020-12-03 23:58] al-muammar commented on #1289
Hah, interesting, I didn't know it.
As for the testing with SQLite in prod, I didn't say that. However, my unit tests started to fail because of this problem, which is sad.

[2020-12-04 03:13] jleclanche commented on #1289
@Jihadik Fair enough, since this was happening in migrations I assumed it happened during an upgrade. That it happens during migrations from 0 concerns me more, to be honest.

Can I ask for your help with the following?

1. Can you test with SQLite 3.26.0 and report back that whatever you're doing doesn't break on that version?
2. Can you tell me exactly how you're triggering this issue? Is it jus

[2020-12-04 18:39] steverecio opened #1293 "Adding a card fails in 2.4.1"
After upgrading to 2.4.1, I'm seeing an `AttributeError` when attempting to add a new card to the customer object:

[code]

[2020-12-04 18:41] jleclanche commented on #1293
What's your `stripe` sdk version please?

[2020-12-04 18:47] steverecio commented on #1293
I'm on dj-stripe==2.4.1 (upgraded from working 2.4.0 version). Does the `stripe` sdk need to be installed separately?

[2020-12-04 18:48] jleclanche commented on #1293
No you probably have it as a dependency, I just need you to check the version of your `stripe` package.

Also did this happen in 2.4.0?

[2020-12-04 18:50] steverecio commented on #1293
[code]

No it works fine on 2.4.0. I just tried moving back and forth between the two versions and it appears to be specific to 2.4.1. I'm attempting to upgrade to 2.4.1 because some webhooks are throwing 500 errors in 2.4.0.

[2020-12-04 18:52] jleclanche commented on #1293
That makes very little sense…

Can you try downgrading to 2.55.0 (by forcing `pip install stripe==2.55.0`) and see if it happens? It looks like it's crashing in Stripe's code.

[2020-12-04 19:13] steverecio commented on #1293
Same issue with 2.55.0. Gonna keep digging but its very predictably caused by 2.4.0 -> 2.4.1

[2020-12-04 19:17] jleclanche commented on #1293
Ok, I can't look into this any more right this minute but one more thing I'd like you to try: please give a shot at setting `DEFAULT_STRIPE_API_VERSION = "2020-03-02"` in your settings and see if it still happens.

[2020-12-04 19:25] steverecio commented on #1293
Ok I'll give that a try. I just double checked and it works fine with dj-stripe==2.4.0 and stripe==2.55.1.

[2020-12-04 19:38] steverecio commented on #1293
Updating `DEFAULT_STRIPE_API_VERSION = "2020-03-02"` does not fix the issue unfortunately...

[2020-12-04 19:46] jleclanche commented on #1293
I'm at a complete loss then. 2.4.1 did not touch anything relevant to this as far as I can see. And the error is in stripe's sdk. @kavdev @therefromhere thoughts?

[2020-12-04 19:58] steverecio commented on #1293
Hard to tell as this line is a bit cryptic but looks like the `_stripe_object_to_customer` function has changed just slightly: https://github.com/dj-stripe/dj-stripe/compare/2.4.0...2.4.1#diff-92652cc100faa74b696687ae45deb269ec9937e9c1a89d77b69e489c62cf67d5R649

The issue stems from the [customer object](https://github.com/dj-stripe/dj-stripe/blob/2.4.1/djstripe/models/core.py#L963). Could that be

[2020-12-04 20:03] jleclanche commented on #1293
I don't think so? That change was just made by @dulacp to prevent infinite loops, it doesn't change the structure of the customer object. And keep in mind in that code, `stripe_customer` is a stripe.Customer object, not a djstripe.Customer object.

[2020-12-04 20:21] steverecio commented on #1293
Ok fair enough. Figured I'd try taking a look at the release diffs. Is there any more info I could provide that might help? Are you able to call `add_card()` successfully in 2.4.1?

[2020-12-04 20:25] jleclanche commented on #1293
Can't test right now. If you want to help you can try to drill down to the exact change that causes this, or create the smallest reproducible case, it'll save a lot of time.

[2020-12-05 04:14] therefromhere commented on #1293
Yeah I can reproduce this with a minimal install, and I can confirm it works on 2.4.0 and fails on 2.4.1

[code]

[2020-12-05 04:27] therefromhere commented on #1293
```STRIPE_API_VERSION = '2020-03-02'``` in settings fixes it (note - not `DEFAULT_STRIPE_API_VERSION`)

[2020-12-05 04:30] therefromhere commented on #1293
from https://stripe.com/docs/upgrades#2020-08-27

"The sources property on Customers is no longer included by default. You can expand the list but for performance reasons we recommended against doing so unless needed."

[2020-12-05 08:23] jleclanche commented on #1293
Oops. I dunno why we use different naming for the internal setting.

[2020-12-05 08:23] jleclanche commented on #1293
Sounds like the fix for now is to expand this, and in 2.5 we will get rid of its usage.

[2020-12-05 20:14] dankolbman opened #1294 "Accounts fail to sync and APIKeys are not able to be inserted"
**Describe the bug**
Accounts and API keys do not seem to be created when running `python manage.py djstripe_sync_models`.
I believe this is preventing all other models from synchronizing and any database saves from occurring for djstripe models.

**To Reproduce**
Install as specified in docs.
Run `python manage.py djstripe_sync_models`

<details>
  <summary>Log output here</summary>

[code]
</det

[2020-12-05 20:16] jleclanche commented on #1294
Hi, thanks for the report.

`djstripe_sync_models` does not sync API keys; you should already have a default API key configured in the settings. Can you elaborate on how you got to this issue?

[2020-12-05 21:08] dankolbman commented on #1294
Appreciate the quick response!

I have the keys setup in the environment as in the docs:
[code]
And then I attempt to run `python manage.py djstripe_sync_models` which results in nothing being saved to the database (see log output in issue description).

This is strange because I can certainly view those objects from using the api using `api_list()`, but invoking the next step `_get_or_create_from

[2020-12-05 21:45] jleclanche commented on #1294
The docs aren't completely clear here but you still need to specify the default key in your settings.py. I'll try to improve this next release so you can get by with only in-db keys.

I'll look into the issue next week.

[2020-12-06 01:03] #1293 closed, assigned to jleclanche

[2020-12-06 01:03] jleclanche opened #1295 "Get rid of customer.sources usage"
Follow-up on #1293

[2020-12-06 01:39] dankolbman commented on #1294
Ok, so I did some tweaking and managed to fix the issue and am now, rather unhelpfully, unable to reproduce it.

I noticed that the [APIKeyManager](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/api.py#L37-L42) was attempting to create a new `APIKey` even when it already existed. However, this was only happening when trying to create a database instance for my Stripe store's lo

[2020-12-06 01:42] jleclanche commented on #1294
Thanks, this helps. Yes, I'm all too familiar with the logo & icon dependency issue. I thought I fixed it, but I guess there must be another way to trigger it.

[2020-12-06 14:10] steverecio opened #1296 "Invoice related webhooks are failing with 2.4.0+"
Invoice related webhooks are failing with 2.4.0+

<img width="351" alt="webhook_failures" src="https://user-images.githubusercontent.com/978415/101282317-82958a00-37a2-11eb-9e68-f327c7cbbf86.png">

**Stacktrace**:

[code]

[2020-12-06 14:17] steverecio commented on #1296
When I grep the codebase, looks like only `statement_descriptor` and `calculated_statement_descriptor` are varchar fields with max_length=22. My webhook data returned `"statement_descriptor": null` so I would be surprised if that's the issue.

[2020-12-07 17:21] kavdev commented on #1292
related: https://code.djangoproject.com/ticket/24342

[2020-12-07 17:31] wolph commented on #1292
I wouldn't hold my breath for a fix from Django itself. In my experience you can wait a long time for a fix. Like this bug that's been hanging around for over 7 years: https://code.djangoproject.com/ticket/21080

I think it would be fairly easy to implement though. I think I'll work on adding it to the automatic choices that I've been using for several years now: https://django-utils-2.readthedocs

[2020-12-07 22:07] sp576 commented on #740
Hi, I encountered this problem too when I try to integrate Stripe for my new project.
I am still new to Stripe and dj-stripe, so not sure what I am doing is correct.
However as the others on this thread pointed out, seems like when Webhook Event is being handled by `_handle_crud_like_event`, `account` attribute from Stripe's webhook event (https://stripe.com/docs/api/events/object#event_object-acc

[2020-12-07 23:33] jayvdb commented on #740
@sp576 , I have PR https://github.com/dj-stripe/dj-stripe/pull/1232 which mostly fixes this, but you've rightly pointed towards a few bits that I havent added `stripe_account` to yet.

I also have a bunch of other Connect fixes, mixed in with other misc enhancements, in https://github.com/jayvdb/dj-stripe/tree/pr_1109-and-sync-and-update .  The DRF there is #1109 + some Connect fixes.

[2020-12-08 09:50] sp576 commented on #740
@jayvdb thank you for the updates!

[2020-12-09 22:51] coryrwest opened #1297 "Accounts will not sync for new installs"
**Describe the bug**
When trying to sync a new database using the env variable's for API keys the sync returns "no results found"

**To Reproduce**
1. Hook up dj-stripe to a new DJango app (no existing DB)
2. Run the migrationsm then run djstripe_sync_models
3. Observe that nothing syncs
* This may be because I have multiple stripe accounts under my login, though the keys should be different so ma

[2020-12-10 19:28] hyshka commented on #1284
Just in case someone else runs into this with v2.4.1. We had some older code still referencing `subscription.plan.tiers` and in this case, it will only return an empty string. To work around this, just get the whole Price object:

[code]

[2020-12-14 17:38] hyshka opened #1298 "API change for Subscription in version 2020-08-27"
**Changelog Link**
- [changelog](https://stripe.com/docs/upgrades#2020-08-27)

**Describe the Change**
- This affects the [Subscription model](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/billing.py#L1216)
- The `prorate` parameter is deprecated in favor of `proration_behavior`.
- Affects dj-stripe v2.4.1 and Stripe API 2020-08-27

The Subscription [update method](https://git

[2020-12-18 22:45] PabloCastellano opened #1299 "Action required email from Stripe regarding Strong Customer Authentication (SCA)"
Hello.

On 14th December I received an email from Stripe (see below) warning about my payments made using dj-stripe not being SCA ready. I find it weird since I'm using PaymentIntents to process payments and these are all supposed to be SCA ready. I still using dj-stripe==2.3.0 though.

While I continue reviewing all the details. Has anyone else received this email too?

Here is the email content:

[2020-12-19 03:46] PabloCastellano commented on #1298
@hyshka I've hit this issue today too and I've prepared a pull request. Could you review it? https://github.com/dj-stripe/dj-stripe/pull/1300

[2020-12-21 16:11] hyshka commented on #1298
I will take a look at it today, thanks @PabloCastellano

[2020-12-21 19:09] PabloCastellano commented on #1297
I can confirm the same for TaxRate model in 2.4.1 (worked in 2.4.0)

[2020-12-21 22:14] #1298 closed, assigned to PabloCastellano

[2020-12-24 20:13] ebk46 commented on #1294
I just had this problem and solved it by getting rid of the logo and icon, running sync, and adding them back. This started happening on every event after upgrading to 2.4.1 from 2.3.0.

[2020-12-26 14:44] jleclanche commented on #1296
Hi @steverecio, sorry for the delay, I've been on christmas break.

`null` would not be "too long for character varying(22)". Are you sure they're null?

[2021-01-11 17:58] bradykieffer commented on #1297
I'm also seeing a similar issue on a fresh install

[2021-01-12 21:27] MartinSchere opened #1304 "Easy way to check subscription plan"
I'm using this project together with Django REST framework for my SAAS app. I have three subscription plans with different accessibility features, so I constantly need to check which plan the user has and show the correct output. I'm aware of the `has_active_subscription` and middleware options, but these are only yes/no solutions that don't fit my use case.

The models of `djstripe` didn't also h

[2021-01-12 21:53] #1304 closed, assigned to nobody

[2021-01-12 22:44] pavitrakumar78 opened #1305 "Webhook sending results in max recursion depth exceeded"
**Describe the bug**
We webhook sent from Stripe (production) results in max recursion depth reached.

Full log: https://pastebin.com/gARPRbcj

This is only happening since today. I've been using 2.3 since release with zero issues in production (processed 100s of webhooks) but this is not something I've ever seen before.

I also updated stripe's library to most recent, djstripe's library ([by foll

[2021-01-13 07:18] czue commented on #1289
I just ran into this also. One annoyance is that it's not all that easy to upgrade your sqlite because Python uses its own version, and telling it to use a different one [involves mucking around with your path and recompiling Python after upgrading, or using a 3rd-party module like pysqlite](https://stackoverflow.com/questions/14541869/how-to-upgrade-sqlite3-in-python-2-7-3-inside-a-virtualenv).

[2021-01-16 08:17] pavitrakumar78 commented on #1305
Any idea on why this may happen? If it's possible to share the exact webhook while removing the personal info I would share it, but not sure exactly why - I understand because of this, it's hard to reproduce this issue, but any help on where I could be looking at to fix this would be really appreciated!

[2021-01-16 08:20] pavitrakumar78 commented on #1162
Any way to patch this for now? I'm having the [same issue](https://github.com/dj-stripe/dj-stripe/issues/1305) (did not notice this was already discussed earlier)

@caligoig did you find any solution for this?

[2021-01-16 08:51] jleclanche commented on #1162
I'll be able to work on this Sunday and next week. Sorry for the delays everyone, this has been a busy new years period.

[2021-01-18 07:36] jqsjqs commented on #1162
++

I'm having this issue as well when calling djstripe_sync_models

Appreciate you taking a look at it @jleclanche

[2021-01-19 17:27] steverecio commented on #1296
Closing this issue as these errors seem to have stopped. Must have been on Stripe's end.

[2021-01-19 17:27] #1296 closed, assigned to nobody

[2021-01-22 07:47] jleclanche opened #1307 "Using Dj-stripe at a company? Share the details here!"
Hi! I'm building a list of companies using dj-stripe to feature somewhere in our documentation.

If you're using it in production, please reply here with the name of your company, a link to your site and if possible a link to a clean logo for it.

Thank you!

[2021-01-22 12:16] magamig opened #1308 "Multiple Stripe Accounts"
**Problem:**
Currently, there is no way to access more than one account within dj-stripe.

**Solution:**
Add the capability to have a list of accounts within dj-stripe instead of just one single account per installation.

**Additional context:**
This is can be useful when you have two sepparate companies that share the same store / app, but have two sepparate stripe accounts in two distinct countr

[2021-01-22 12:18] jleclanche commented on #1308
Hi @magamig - are you running the latest version of dj-stripe? Per our [release notes](https://github.com/dj-stripe/dj-stripe/releases/tag/2.4.0) we actually do support multiple Stripe accounts now. It's still rough around the edges though so if you encounter issues you can file them.

[2021-01-22 13:36] magamig commented on #1308
Thanks for your answer.

I understand it's possible to add the keys within the django-admin, however I still have to add the keys "STRIPE_LIVE_SECRET_KEY" and "STRIPE_TEST_SECRET_KEY" to be able to run anything. If I don't, it throws an error. I understand this will be removed in v2.5, however I think it should not be mandatory for v2.4. I'd also consider removing it from the README to avoid incen

[2021-01-22 13:39] jleclanche commented on #1308
Yes, they'll be made optional next release. Though I don't think we will outright remove them. There's still some decisions to take there

That's not possible yet, but it will be in 2.5.

[2021-01-22 13:43] magamig commented on #1308
Thanks @jleclanche !

[2021-01-24 08:30] jqsjqs commented on #1162
@jleclanche - Well, I know what's causing it for me, at least in the [direct sense](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/core.py#L690)  -- but I think the overall issue is that as djstripe is iterating over fields to build out its models, it's not saving along the way (which is likely intended behavior). When we find stripe objects that refer to each other (or that dj

[2021-01-24 17:55] jleclanche commented on #1305
@pavitrakumar78 Thanks for the report.

This usually happens when there is an update&fetch loop in dj-stripe's logic; in other words, we find a property where we need to make an API call, and we find again the same one further down the chain. I'm closing this in favour of #1162.

[2021-01-24 17:55] #1305 closed, assigned to nobody

[2021-01-24 17:57] jleclanche commented on #1162
Yeah, the logic has to be refactored; I'll make it a real TODO item to do that but I don't know if it'll make the cut for 2.5.x. In the mean time I'm going to keep fixing standalone finds like these.

Thanks a lot for your debugging work, it helps a ton. I'll get a fix for this into the next minor release.

[2021-01-24 18:32] jleclanche commented on #1294
I've been trying to reproduce this (specifically the logo/icon issue) without success. Is there someone still able to reproduce it who can share a traceback?

[2021-01-24 19:28] jleclanche commented on #1289
@czue yeah there's major downsides to it; making the migrations unreliable is a no-go.

Which python version are you using that uses such an old version of sqlite?

[2021-01-24 19:31] #1289 closed, assigned to nobody

[2021-01-24 21:44] jqsjqs commented on #1162
No problem. Happy to help. The fix that occurred to me was to have the logic that puts "default_payment_method" in the customer object (i.e., in _manipulate_stripe_object_hook) be a 2nd pass after resolution of the primary objects.... but I'm not confident enough in that overall codebase to do that without knowing if there are other ramifications. It would result in an add'l save on the customer o

[2021-01-25 06:08] czue commented on #1289
I'm using Python 3.8. I think the issue is that my OS is somewhat old (Ubuntu 16.04). Anyway, workarounds are fine, I only use sqlite for testing compatibility of a library i maintain, and i haven't heard any of my users complain about this.

[2021-01-25 18:27] jleclanche commented on #1289
Good to hear. Feel free to ping if it causes more issues. PS, if you're using dj-stripe at a company, give #1307 a look :)

[2021-01-26 06:19] czue commented on #1307
A couple of my projects using dj-stripe:

[SaaS Pegasus](https://www.saaspegasus.com/) - [Logo?](https://www.saaspegasus.com/static/images/web/pegasus-social-facebook.png)
[Place Card Me](https://www.placecard.me/) - [Logo?](https://www.placecard.me/static/images/placecard-logo-new.png)

Don't really have great logos...

[2021-01-26 06:20] czue commented on #1289
Done!

[2021-01-28 05:35] jamalmoir opened #1309 "Does dj-stripe update objects automatically?"
**What are you trying to accomplish?**
Looking into using this library and from the documentation, this is not clear to me.

Does the updating of the dj-stripe objects happen automatically, or do I need to handle it myself?

For example, let's say that someone signs up to a subscription, does dj-stripe have webhooks set up by default to accept the incoming event and update the corresponding object

[2021-01-28 18:41] pavitrakumar78 commented on #1162
Are there any temporary fixes for this? I've been manually managing records for most of my new users :/

[2021-01-28 22:41] jleclanche commented on #1162
@pavitrakumar78 Are you able to reliably reproduce this? If so, would you be available to hop on a screenshare with me some time this week/weekend?

[2021-01-29 00:36] jleclanche commented on #1309
Hi @jamalmoir -- dj-stripe does handle [Stripe webhooks](https://stripe.com/docs/webhooks) for you once you set it up. It will receive all webhook events and update the models in the db (as long as the matching models have been implemented which is the case for most of them).

When you receive a subscription.updated webhook, the `djstripe_subscription` table (accessible via the model `djstripe.mod

[2021-01-29 00:40] #1309 closed, assigned to nobody

[2021-01-29 06:26] bmull commented on #1307
I'm using for https://www.podpage.com/

[2021-01-29 06:32] bmull opened #1310 "This object cannot be accessed right now because another API request or Stripe process is currently accessing it"
**Describe the bug**
Every time a user checks out, the card goes through, the payment is made, and the user continues on. But I get this error:

**To Reproduce**
Steps to reproduce the behavior:

1. Enable stripe webhook to dj-stripe
2. In stripe dashboard create a billing product with feature X
3. See attached error on webhook

[code]

**Expected behavior**
A clear and concise description of what

[2021-01-29 06:34] jleclanche commented on #1310
What's your stripe account default API version?

[2021-01-29 08:41] pavitrakumar78 commented on #1162
@jleclanche No. It only happens for some customers and not all in production and for those customers, ALL the webhooks fail - not just one or 2. All of them have the same stack trace that I posted in my original issue thread (#1305). I'm trying to find the cause, but the stack is the same - recursion error.

I'm trying to get a reproducible env on my local dev machine - is there a proper way to de

[2021-01-30 22:27] jleclanche commented on #1162
Folks if you're seeing this could you tell me what stripe version the webhook itself is using? (you can see it in the webhooks settings; it is not necessarily the same as your default stripe API version configured in the dashboard, and it's not the same as the one configured in the django settings either)
And if it's an old version, can you try upgrading to the latest version for that webhook and

[2021-01-30 23:29] jqsjqs commented on #1162
@jleclanche Ok, interesting. The Stripe dashboard shows it is using an old API version when sending to my webhook (because it will use the "default" for the account regardless of whether in test mode or not). My production site is using an old API version and I can't upgrade the entire account until I roll out the new site. I'm assuming from the question that if dj-stripe receives a request from a

[2021-01-31 20:57] PabloCastellano opened #1311 "Issue when attempting to sync tiered Price Model in 2.4.2"
**Describe the bug**

It looks like 9bd896ffd944e809b95abae884a2149dc8a79f27 introduced a regression when trying to sync a tiered Price model. Probably Price is not the only model affected.

Check out this trace:

[code]

The Price objects are synced twice. The first time with the tiers attribute expanded and the second time without expanding it and overwriting it, so the final object doesn't incl

[2021-01-31 21:03] #1311 closed, assigned to nobody

[2021-01-31 21:29] PabloCastellano commented on #1307
I'm using dj-stripe for https://librebor.me ([logo](https://static-2.librebor.me/static/svg/librebor_logo.svg))

[2021-02-01 21:39] hyshka commented on #1311
We were affected by this in production today, implementing these changes manually resolved our issue.

[2021-02-01 21:51] jleclanche commented on #1311
@hyshka 2.4.3 will resolve this, some time this/next week.

[2021-02-06 02:22] jleclanche commented on #1304
Hi Martin, sorry for not addressing this sooner, didn't see the notification until now.

You're right the relationship is quite deeply nested but that is basically Stripe's models being replicated.

You should be able to easily query those though thanks to the Django ORM. For example, if you wanted all products used by a particular customer, you can do: `Product.objects.filter(plan__subscriptions_

[2021-02-06 02:23] #1308 closed, assigned to nobody

[2021-02-09 21:45] andresmachado opened #1318 "Error when trying to reference Event.customer: `TypeError: string indices must be integers`"
**Describe the bug**
Hi guys, first of all, thank you for your amazing work on this lib. This is an amazing tool!

Secondly, I'm trying to reference the `customer` attribute of the `Event` model and I'm getting this error:

[code]

**To Reproduce**
To reproduce, instantiate a Event and reference the customer using dot notation like this:

evt = Event.objects.first()
evt.customer

The `TypeError` s

[2021-02-09 21:46] jleclanche commented on #1318
Thanks for the report!

Can you do `print(repr(Event.objects.last().data))` and paste the output?

[2021-02-09 22:06] andresmachado commented on #1318
Sure thing.

[code]

(I removed a couple of info because it's live data. :) )

[2021-02-09 22:54] jleclanche commented on #1318
Thanks. Weird, this shouldn't be a string. Would like to understand why it stored it as one, but also it shouldn't error like this if it finds a string.

[2021-02-10 07:32] amorAaluxion commented on #1162
Hello, new to the conversation here.
The same error started happening 3 days ago for me, I'm using the library version `2.4.3` and both on my server and on Stripe, the API version `2020-08-27` just in case that information helps resolving the issue. If you need any kind of log or information, I can provide it :D have a nice day everyone.

[2021-02-15 10:22] Tuuleh opened #1320 "Creating and syncing TaxIDs does not propagate to Stripe"
**Describe the bug**
Creating a tax ID for a customer persisted locally does not create a tax id for the customer on Stripe

**To Reproduce**
I've tried to do this through the Django admin interface by adding (or changing) a tax ID for a customer. I've also tried doing the same through command line. Two things happen:
- It creates a tax ID without the ID column filled in, which results in an error

[2021-02-17 13:08] Tuuleh commented on #1320
OK, I've done some reading and I've understood that this might be intentional behavior, since it seems like changes through the admin dash generally speaking don't make changes on Stripe. I understand that the workflow might actually be to make changes on Stripe and then rely on webhooks or the manual sync to get the changes locally. Is that correct?
I've noticed that if I create tax IDs on Stripe

[2021-02-17 15:27] jleclanche commented on #1320
Hu @Tuuleh - Sorry for the slow reply, I was away until now.

You are correct: Admin changes are not (currently) reflected back to stripe. Support for this is planned but still a few major releases away.

You are expected to either use the Stripe dashboard to change your data, or change it programmatically using `sync_from_stripe_data` and the like.

This I'm more confused about. Can you explain t

[2021-02-18 14:37] #1266 closed, assigned to jleclanche

[2021-02-19 12:25] Tuuleh commented on #1320
Hey again,
Some more context on this - issuing `djstripe_sync_models TaxId` skips the class - ```Skipping <class 'djstripe.models.billing.TaxId'>: no stripe_class.list``` Similar to some other objects (I see the api_list method overridden also e.g. for payment methods which must also be fetched through Customer). TaxIds can only be listed through customer, but right now they also don't get added i

[2021-02-23 16:17] Skorpyon opened #1323 "Dispute and Charge relation changed"
Hey guys.

Looks like Stripe changed models of Charge and Dispute objects.

Previously Change object contained `dispute_id` field, that still represent in dj-stripe DB model.

[code]

But Stripe changed models and Charge just contain boolean `disputed` field, what said that Charge was disputed and relation was moved to Dispute object, that contain `charge_id` now.
[code]
[code]

We still have `Cha

[2021-02-24 03:16] bgreatfit opened #1324 "How to Manage Customers Multiple Subscription"
**What did you run into?**
How do I manage customers multiple subscriptions
**Why would it be helpful to document or fix this?**
I can't find anywhere in the docs to manage multiple subscriptions
**To which section of the docs does this belong?**
Subscriptions

[2021-02-24 08:23] jleclanche commented on #1324
Improving use cases in the documentation is definitely planned… Is there any specific question you have? Managing multiple subscriptions is a matter of creating those subscriptions from the stripe SDK as you normally would, and dj-stripe will pick up on them. You can filter them as you would other subscriptions: `Subscription.objects.filter(customer=customer_object)`, etc.

[2021-02-24 08:24] jleclanche commented on #1323
Thanks for the heads up. I'm guessing it's now going to be possible to have multiple disputes per charge.

[2021-02-24 09:07] colin-byrne-1 opened #1325 "Issue when attempting to sync [Stripe Object Name(s)]"
**Describe the bug**

**Software versions**
- dj-stripe version: 2.4.1
- Python version:3.7
- Django version: 2.2
- Stripe API version: 2020-08-27
- Database type and version: postgres 9.5.4

**Steps To Reproduce**

1. Clean/Fresh install of 2.4.1 (although a personal fork with a couple changes, which should have no effect)
2. run `customer.add_payment_method('pm_23t9usdfakenumberou34')` with api

[2021-02-24 09:47] jleclanche commented on #1325
It sounds like you misconfigured your `DJSTRIPE_FOREIGN_KEY_TO_FIELD`. If your database previously existed, you need to set it to `"djstripe_id"`, not `"id"`. You can only set it to `"id"` if it's a fresh db.

[2021-02-24 09:47] #1325 closed, assigned to nobody

[2021-02-24 09:58] colin-byrne-1 commented on #1325
Thank you. That worked, but it was a fresh db 🤷‍♂️?

[2021-02-24 09:59] jleclanche commented on #1325
@cobyrne09 Are you certain? It needs to be set like this before your first ever `migrate`.

[2021-02-24 10:00] jleclanche commented on #1325
If you are actually on a fresh install / fresh database, try deleting the table, setting `DJSTRIPE_FOREIGN_KEY_TO_FIELD` to `"id"` again, and *then* running migrate. If that works it won't be an issue in the future.

[2021-02-25 02:07] kavdev commented on #1307
We can throw mine on there too if you want; I'll leave it up to you to decide if it's some kind of insider-bias or something 😄

[PolyRents](https://polyrents.com) - [logo](https://kavdev.io/img/polyrents-logo.svg)
[Roopairs](https://roopairs.com) - [logo](https://kavdev.io/img/roopairs-logo.svg)

[2021-02-25 02:21] kavdev commented on #1299
Haven't seen it yet, but I find it super interesting that they use aggregated usage of the dj-stripe library tag with their API to know we have SCA support because people are using SCA with the library.

[2021-02-25 05:34] PatDuJour opened #1326 "Subscription Pauses"
Stripe now supports pausing a subscription. Would love to see djstripe adding support for this as well.
If adopted, happy to work on a PR for it!

[2021-02-25 16:19] kavdev commented on #1326
@PatDuJour we're always happy to review PRs that bring us closer parity with stripe :)

[2021-03-05 09:08] BelDaw commented on #1281
This issue has not been resolved.
My stripe event is being sent successfully.
But it is not calling webhook handler.

Can someone help with this?

[2021-03-05 09:15] BelDaw opened #1327 "Webhook handler is not being called."
**Describe the bug**
Stripe event is being sent successfully on stripe dashboard.
But dj-stripe webhook handler is not being triggered.

**To Reproduce**
Steps to reproduce the behavior:

e.g.:

1. Enable stripe webhook to dj-stripe
2. Add an event in stripe and add a test url.
3. Update stripe customer to receive an event.
4. Check on stripe dashboard that even is successfully sent.

**Expected b

[2021-03-08 19:04] kavdev commented on #1281
@BelDaw sounds like you might be having a different issue than this one. Please open a new issue and we'll see if we can help.

[2021-03-09 03:08] kavdev commented on #1327
Are you writing a custom webhook handler that isn't working, or is one of the built-in handlers not working for you? (i.e. are items not syncing through regular events?)

[2021-03-09 11:36] BelDaw commented on #1327
Im using built-in handlers in django project. And thats not working for me i.e myhandler is not called when an event is triggered

[2021-03-09 16:35] kavdev commented on #1327
@BelDaw just to clarify: are you [writing your own handler](https://dj-stripe.readthedocs.io/en/master/usage/webhooks/) or not? If you are, are you ensuring the handler gets discovered by importing the handlers file in an app config?

By "built-in", I mean the internal dj-stripe handlers that keep objects up-to-date via stripe's webhooks.

[2021-03-12 13:43] unformatt commented on #1327
Is it possible your are resending a previous webhook from the Stripe dashboard? [This code](https://github.com/dj-stripe/dj-stripe/blob/3eaf46f1b0baac02dbce2f39d69182de6b50b671/djstripe/models/core.py#L1375) implies that if it receives an event it's already seen, it will not [invoke the webhook handlers](https://github.com/dj-stripe/dj-stripe/blob/3eaf46f1b0baac02dbce2f39d69182de6b50b671/djstripe/

[2021-03-12 20:52] taewookim opened #1329 "DETAIL: Key columns "on_behalf_of_id" and "id" are of incompatible types: bigint and character varying."
**Describe the bug**
installing dj-stripe on latest django

**To Reproduce**

pip install git+https://github.com/dj-stripe/dj-stripe/
python mange.py makemigrations
python mange.py migrate

**Software versions**
- Dj-Stripe version: git+https://github.com/dj-stripe/dj-stripe/
- Python version: 3.7.5
- Django version: 3.1.7
- Stripe API version: 2020-08-27
- Database type and version: psql (12.3 (U

[2021-03-12 20:55] taewookim commented on #1329
Full error:

[code]

[2021-03-12 21:05] jleclanche commented on #1329
Did you follow the upgrade guide? https://dj-stripe.readthedocs.io/en/master/history/2_4_0/

[2021-03-12 22:14] taewookim commented on #1329
Dang it.. wished i checked this before wiping all the migrations and re-installing

[2021-03-15 23:42] #1329 closed, assigned to nobody

[2021-03-17 12:16] scottydelta commented on #1294
I am able to reproduce similar bug but when running the command `python manage.py  djstripe_sync_plans_from_stripe`

Removing the icon and the logo from the portal helped resolve the issue, here is the traceback:

[code]

### Versions
- Dj-Stripe version: 2.4.1
- Python version: 3.8
- Django version: 3.1.5
- Stripe API version: 2020-08-27
- Database type and version: SQLITE

[2021-03-17 14:56] jleclanche commented on #1294
I don't know if that's the same issue @scottydelta but indeed it should not happen. Weird, you say removing the icon and logo got rid of that error for you?

[2021-03-17 15:03] scottydelta commented on #1294
Yes, removing the icon and the logo from customer portal settings on stripe got rid of the error for me.

On Wed, Mar 17, 2021, at 8:26 PM, Jerome Leclanche wrote: