[2016-07-08 03:39] kavdev commented on #307
@aleccool213: Great! Either make an issue or just create a PR

[2016-07-08 03:41] kavdev commented on #336
@aleccool213: Unfortunately, those videos are out of date and won't reflect the 1.0.0 API

[2016-07-08 03:41] #336 closed, assigned to nobody

[2016-07-08 15:55] aleccool213 commented on #336
@kavdev Damn :/

[2016-07-08 15:59] aleccool213 opened #337 "Add tests for REST API"
- for 1.0.0 release

[2016-07-08 16:02] aleccool213 opened #338 "Add pydocstyle via flake8"
To enforce documentation in the future we should enforce `flake8-docstrings`.

To implement this many places need extra documentation:

TODO:

- Add `decorators.rst` to https://github.com/kavdev/dj-stripe/tree/%23162-api-updates-through_2015-07-28/docs
  - Explain usage of decorators at a high level
- Admin
- Event handlers
- Managers
- Signals
- Models
- Stripe_Objects
- Install `flake8-docstring

[2016-07-08 16:03] aleccool213 commented on #337
@kavdev assign this to me :)

[2016-07-08 16:04] aleccool213 commented on #338
@kavdev assign this to me :)

[2016-07-08 16:09] #337 closed, assigned to nobody

[2016-07-08 16:09] aleccool213 commented on #337
found them lol

[2016-07-08 17:20] aleccool213 opened #339 "Implement pydocstyle"
https://github.com/PyCQA/pydocstyle

[2016-07-08 17:44] kavdev commented on #338
@aleccool213: There's no way for me to officially assign you to an issue, but it's yours!

[2016-07-08 17:45] kavdev commented on #338
In addition to the high level explanation, go ahead and also autodoc the decorators we have

[2016-07-08 18:03] kavdev commented on #339
@aleccool213: This would be great; go ahead and submit a PR. I'd like to see a #noqa type functionality though.

[2016-07-08 19:14] aleccool213 commented on #338
@kavdev coolio.

What do you mean by `autodoc`?

[2016-07-08 20:01] aleccool213 commented on #339
<img width="671" alt="ugh" src="https://cloud.githubusercontent.com/assets/6475934/16699945/2b9f37c4-4525-11e6-85d5-c52268045b0e.png">

![dead_inside](https://cloud.githubusercontent.com/assets/6475934/16699950/306d6b7c-4525-11e6-92ec-dd13e32fc887.gif)

[2016-07-09 00:49] kavdev commented on #338
@aleccool213: see the documentation in docs/models.rst

[2016-07-09 03:15] #328 closed, assigned to kavdev

[2016-07-09 03:27] #330 closed, assigned to kavdev

[2016-07-09 03:32] kavdev opened #341 "Invoice.close()"

[2016-07-09 03:32] kavdev opened #342 "Invoice.forgive()"

[2016-07-11 15:22] aleccool213 opened #343 "Consider project migration to a public Github organization"
@kavdev any reasons why this project is on a personal account? Just wondering

[2016-07-11 17:48] kavdev commented on #343
@aleccool213: An organization isn't necessary for a single, small project such as this.

[2016-07-11 17:48] #343 closed, assigned to nobody

[2016-07-17 20:47] lskillen commented on #333
@allthetime @kavdev Just wanted to add that it _is_ possible to reactivate subscriptions after they have been cancelled, but only if cancel has been called with `at_period_end=True` so that the cancellation isn't immediate.  As mentioned on this [support question at Stripe](https://support.stripe.com/questions/how-can-i-resume-a-subscription-after-it-has-been-canceled), you can reactivate a plan b

[2016-07-17 20:51] lskillen commented on #75
@kavdev I'm rather tempted to give this a go in the very near future, but probably won't be ready in time for 1.0. :-)  Do you think it would be acceptable to break it up into a few chunks of work?  Say, begin with the model equivalents and event handling first; views later (if at all?)

[2016-07-17 20:54] kavdev commented on #75
@lskillen Definitely.

The tricky part is finding a consistent and complete method of attaching an account object to each model. Once that's figured out, everything else falls into place

[2016-07-19 02:04] aleccool213 commented on #307
@lskillen Hey there! I noticed you mentioned sales tax. Is that something you could show me how you implemented? It could help me or show me some general direction. I am needing to implement this in my dj-stripe fork for work.

Edit:

Sales tax is in the 1.0.0 branch and working 👍

[2016-08-02 22:46] ErikSvedin commented on #75
Is there any info about how we can use the #162 changes as mentioned above? I've tried installing djstripe from that branch with `pip install git+https://github.com/100state/dj-stripe#egg=djstripe`.

However when calling `subscribe()` with a coupon argument it gives me `TypeError: subscribe() got an unexpected keyword argument 'coupon'`.

Im probably doing something very silly, but going through t

[2016-08-03 15:50] kavdev commented on #75
@ErikSvedin: Adding a `coupon` kwarg should just get passed to [the parent method](https://github.com/100state/dj-stripe/blob/master/djstripe/stripe_objects.py#L613). Are you also passing in a plan as the first arg?

Post your method call with arguments here and I'll help test it.

[2016-08-04 23:06] aleccool213 opened #345 "Add the ability to add a sales tax to new Subscriptions"
- Stripe supports this but current dj-stripe does not 😢

[2016-08-04 23:06] aleccool213 commented on #345
@kavdev I dont mind taking this. I need to do this for work anyways lol

[2016-08-05 04:08] beeekind commented on #326
I'm encountering this myself, @allthetime did you find a solution to this?

[2016-08-08 12:41] ErikSvedin commented on #75
@kavdev Now while testing im just passing a string as the coupon argument. If I remove the "coupon" argument it works as expected.

`
                            customer.subscribe(
                                plan=serializer.data["plan"],
                                coupon="HALFPRICE"
                            )
`

[2016-08-09 15:23] kavdev commented on #345
@aleccool213: Sounds good, go for it! :)

Can you post a link to the Stripe docs please?

[2016-08-10 14:06] aleccool213 commented on #345
@kavdev

Official api docs:
- https://stripe.com/docs/api#create_subscription-tax_percent

I have the requirement currently to hard-code the sales-tax to 13% as we only are selling products to people in Ontario but have the need to change that to dynamic in the future (https://support.stripe.com/questions/custom-fields-for-tax-tips-shipping-and-more).  Dynamic sales tax calculated by a third-party

[2016-08-10 16:13] ffigiel opened #346 "Django 1.10 support"
https://github.com/kavdev/dj-stripe/blob/master/djstripe/__init__.py#L19

`'1.10'` is less than `'1.7.x'`

[2016-08-10 19:36] tiggshigh5 commented on #345
For now @aleccool213 let's stick with 13%

[2016-08-17 00:03] kavdev commented on #345
@aleccool213: seems reasonable. If this wasn't a recent API change, there must have been a reason for leaving it out (that I can no longer remember :). I'll look into it.

[2016-08-17 14:10] ffigiel commented on #346
@kavdev I had submitted a PR to fix it, can you take a look?

[2016-08-18 21:33] kavdev commented on #346
@megapctr: I see the PR; I'd suggest making the PR to the #162 branch to see if the tests still fail

[2016-08-19 16:52] kavdev commented on #346
@megapctr: It seems like there are a bunch of fixes that need to be made before 1.10 will work with dj-stripe. I'll have some time to work on it in the next week or so. Changes will be made to the #162 branch.

[2016-08-19 16:53] ffigiel commented on #346
Thanks for taking care of this, should I still try rebasing to #162 branch?

[2016-08-19 16:57] kavdev commented on #346
I'd definitely recommend using that branch for your project, especially if you're starting a new one. See #307 for details on how much is left before we can release.

[2016-08-20 18:39] aleccool213 commented on #345
@kavdev

Investigated this more (on the #162 branch) and it seems `tax_percent` is already a field on `StripeCustomer`, which is 🔥. And it is also implemented in the API call (https://github.com/kavdev/dj-stripe/blob/%23162-api-updates-through_2015-07-28/djstripe/stripe_objects.py#L597). For my purposes I would like to add this into the contrib.rest_framework (https://github.com/kavdev/dj-stripe/b

[2016-08-22 06:48] kavdev commented on #345
@aleccool213: Sweet!

[2016-08-22 06:48] #345 closed, assigned to kavdev

[2016-08-24 17:44] jameshiew opened #350 "StripeSource should be abstract?"
In the pre-1.0 branch - it seems all the Stripe objects are declared as abstract models, but `StripeSource` is not? See https://github.com/kavdev/dj-stripe/blob/%23162-api-updates-through_2015-07-28/djstripe/stripe_objects.py#L399 Is there a reason for this? There is a `djstripe_stripesource` table in my database.

The parent class of `StripeSource` (`StripeObject`) is abstract, as is the child cl

[2016-08-25 07:39] kavdev commented on #350
Hi @jameshiew! Thanks for using it!

StripeSource polymorphic model (see [django-polymorphic](django-polymorphic.readthedocs.io/) because we'll be implementing more than just Cards as sources in the future. If you delete the card, the associated StripeSource entry will also be deleted.

You should really use [`Card.remove()`](https://github.com/kavdev/dj-stripe/blob/%23162-api-updates-through_2015

[2016-08-25 07:39] #350 closed, assigned to kavdev

[2016-08-28 01:17] krisfields opened #351 "Add the ability to send HTML emails"
Since send_receipt is implemented as a model method, I'm not sure what the best way would be to extend or override the existing functionality to also include an html version of the receipt/invoice email that is sent out.  I could monkey patch but that seems gross.  I'm leaning towards listening to post_save signal on Charge when created=True.  Would that be roughly equivalent?  Is there a better w

[2016-09-01 15:31] alexphelps commented on #351
I disabled DJ-stripe's invoice emails in favor of using Stripes built in HTML Invoices which is works well.

Can read more about them here - https://stripe.com/blog/email-receipts

[2016-09-06 12:15] chozabu opened #352 "Django Rest Framework integration?"
Hey - I notice there is some support for DRF: http://dj-stripe.readthedocs.io/en/latest/cookbook.html

But the docs seem rather lacking - looking around the code I see: /djstripe/contrib/rest_framework/urls.py

and indeed - there are views for subscriptions.

I'm interested in using DRF for other things too (like single payments) and am currently considering doing my work in app-space, but would m

[2016-09-06 12:43] chozabu commented on #352
I think also needed is a route to get a list of plans?

[2016-09-07 12:47] jleclanche commented on #346
@kavdev What's left for 1.10 support on the 162 branch? Can I help somehow?

[2016-09-07 13:55] alexphelps commented on #346
Yes, I'm in need of this asap. Let me know how I can help.

[2016-09-07 16:55] ffigiel commented on #346
FYI this library worked fine for me on 1.10. All this issue concerns is the annoying warning. That said, I used only few of the available features so I can't say for sure.

[2016-09-08 17:36] aleccool213 commented on #352
@chozabu Hey there, I am also interested in extending out the django-rest-framework portion of the project as I am using that right now for a project.

I would suggest creating a PR as a proposal.

[2016-09-08 17:38] aleccool213 commented on #351
@krisfields Think you can just have a webhook handler as Stripe will send you a webhook when an Invoice is charged to a customer.

Also @alexphelps did exactly what I did and just let Stripe take care of the emails as they do a good job at it already.

[2016-09-08 18:01] chozabu commented on #352
@aleccool213 OK, will do
For now, this is the few lines of code I have added to use dj-stripe in my app: https://gist.github.com/chozabu/63f515be722234ea801f00b0cb639bee

Not sure how quickly I will get round to doing a PR for dj-stripe, but it will probably have the same one-liner to get the list of plans (even if not used in an app, makes things more clear for a developer)
And an empty "subscrip

[2016-09-11 03:21] kavdev commented on #352
@chozabu: Looking forward to it. Please target the 1.0.0 branch when you do.

[2016-09-11 03:24] kavdev commented on #351
@krisfields: I suggest using the stripe system for now. The ability to send html email with a custom template is definitely a good feature to have though.

[2016-09-11 14:40] lskillen opened #354 "Official 1.0.0 Branch"
@kavdev - I keep meaning to bring this up but it would be extremely helpful if the existing `#api-updates-through_2015-07-28` was branched (or re-branched) as something like `1.0.0`, `next`, `develop` or even using `master` if that's your preference.  The main reasons that I can think off the top of my head (in no particular order, but preference is subjective):
1. Jumping between the branches loc

[2016-09-11 17:58] kavdev commented on #354
@lskillen: I think this exact idea has been on all of our minds. I'll create a 1.0.0 branch and retarget all of the pull requests (I wasn't able to do that before).

[2016-09-11 18:07] kavdev commented on #354
Definitely just killed the old branch before retargeting the PRs... stand by lol

[2016-09-12 01:32] kavdev commented on #346
@jleclanche, @alexphelps, @megapctr: 1.10 support is now in the 1.1.0 branch. There's still one warning, but I have no idea what's sending it so I'm leaving it (for now). If anyone knows how to fix it, please create a PR.

[2016-09-12 01:32] #346 closed, assigned to nobody

[2016-09-12 01:33] kavdev commented on #354
@lskillen: Done.

[2016-09-12 01:33] #354 closed, assigned to nobody

[2016-09-12 06:35] lskillen commented on #354
Fantastic - Thanks @kavdev!

[2016-09-15 00:49] kavdev commented on #339
see #340

[2016-09-15 00:49] #339 closed, assigned to nobody

[2016-09-15 00:59] #352 closed, assigned to nobody

[2016-09-15 01:00] #329 closed, assigned to nobody

[2016-09-15 05:04] pyup-bot opened #355 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create seperate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2016-09-15 06:25] #355 closed, assigned to nobody

[2016-09-23 12:15] uditagarwal opened #356 "Trial plan without initially charging credit card"
DjStripe is a great module and it's working flawlessly with my app. The only roadblock I've hit is that I want to set a initial trial period, but I don't want to ask the user for his card information initially, only when his trial runs out.

I know I can only create a customer in Stripe and attach him to a subscription plan without charging his card. I also know that a webhook is called when the p

[2016-09-23 16:10] kavdev commented on #356
Hi @uditagarwal,

At the moment, there's no direct built in feature I can think of for the functionality you want. It does seem like a feature dj-stripe should have though, so thanks for bringing it up!

What I typically do, and what I suggest to do in the meantime is to create a _virtual plan_ i.e. create a plan locally for your free trial that isn't associated with Stripe. Have a field on that p

[2016-09-26 13:48] uditagarwal commented on #356
Hey Kav,

Let me know if you have an idea about how this can be implemented. I'm trying to work on this for a client and would be happy to send in a PR for djstripe.

[2016-09-26 16:13] kavdev commented on #356
@uditagarwal: Nothing at the moment that would be generic enough for the package. I'll let you know if I think of anything.

Feel free to submit a PR for review though. I can't promise it will get merged, but if it integrates well and others find good use for it, it might.

[2016-10-02 04:45] devdlabs opened #357 "send signal should be in finally ?"
Hi guys, good work. I observed that signal processing not executing  in try catch so changed it into finally clause. Any suggestions ?

[2016-10-04 00:11] kavdev commented on #357
@devdlabs: So there are two signal branches in that try/except block. In the success case, the appropriate signal is sent. If an error occurs, we send an exception signal called `webhook_processing_error`.

I think the original idea was that you want the signal to have valid, accessible data. You probably don't want to handle invalid webhook data if the assumption is that the Event that comes thro

[2016-10-04 00:12] kavdev commented on #357
Totally unrelated, but since this is #357, a quick shout-out to fellow Cal Poly alumni: https://www.youtube.com/watch?v=95sK_dJyWHA

[2016-10-09 16:32] alexphelps commented on #356
I'm currently using djstripe with a "Trial" period and also with notifications about before the trial ends. Here is how my flow works:
1.  Create a subscription for them that has a Trial period without a credit card (Note - Stripe allows trial subscriptions without credit cards). Set the length of your trial period in djstripe settings in settings.py.
2.  During the trial period, djstripe has the

[2016-11-01 18:57] #357 closed, assigned to kavdev

[2016-11-02 09:15] terjeto opened #360 "Missing currency field in Charge model"
Hi, and thanks for maintaining this repo.
I'm missing the currency field in the Charge model. Stripe gives this out in the Charge event.

Looking up currency from the InvoiceItems is not always trivial.
PS. You assume USD-currency in your receipts - I don't understand why this is hardcoded. Updating the Charge-model (and email/body_base.txt) would fix this.

[2016-11-02 23:21] kavdev commented on #360
Hi @terjeto, go ahead and check out the 1.0.0 branch. That should give you what you need. See #307 to understand what's different/missing in comparison to the master branch.

[2016-11-02 23:22] #360 closed, assigned to nobody

[2016-11-10 19:42] kronok opened #362 "Using the same stripe account for non-djstripe charges"
I've been using dj-stripe for a couple years now, and I was planning on allowing a separate 3rd party service to handle some subscriptions on the same stripe account that I use for dj-stripe. The reason is so I can integrate it all into dj-stripe at a much later date.

I'm unsure if this will cause issues with dj-stripe. Perhaps it'll get confused if it tries to sync things, or maybe webhooks migh

[2016-11-11 00:45] kavdev commented on #362
Hi @kronok, as far as I know, having another service manipulate subscriptions on your stripe account should not be an issue. The webhooks sent as a result of the manipulations will just keep subscriptions in your local database in sync with your stripe account.

The only issues you will encounter are those related to unknown customers. These will arise if this third party is creating customer acco

[2016-11-11 15:30] aleccool213 commented on #338
Updated comment to adhere to new pull requests coming in. They will be focused on each part of the todo list.

[2016-11-11 16:08] aleccool213 commented on #338
@kavdev split up the mega-pr into separate smaller ones which will be much easier to merge and review :D

[2016-11-12 19:21] woolf-wen opened #379 "Report a bug, in djstripe"
Please check the line 20 in file __init__.py under djstripe.
--
if get_django_version() <= '1.7.x':   <--- Here, the version string can't directly compare
                                                                 if django.VERSION <= (1,7):     <---  compared naturally
...
--

OS: Mac OSX 10.11
Python: 3.5.2
Django: 1.10.1,

[2016-11-13 13:27] lskillen commented on #379
@woolf-wen This was fixed in PR #348, but probably only exists on the 1.0.0 branch.  I'm not the maintainer for this repository but I'd recommend migrating to 1.0.0 ASAP or at least evaluating it for migration.  Check out the "master issue" for the 1.0.0 release (including details of changes) at: #307

HTH!

[2016-11-14 18:12] kronok commented on #362
Yeah, it's possible there will be some unknown customers in there, but I'm trying to figure out how to minimize that as much as possible.

I'm not on the 1.0.0 branch yet, but that's good to know. Thanks for the answer!

[2016-11-14 18:12] #362 closed, assigned to nobody

[2016-11-14 19:16] kavdev commented on #379
@woolf-wen: I cherry-picked the fix @lskillen mentioned onto the master branch a couple weeks ago. If you can't do the migration right away, I suggest pip installing from the master branch.

The next official pip release will be 1.0.0 (That'll happen once we finish up the remaining TODOs)

[2016-11-14 19:17] #379 closed, assigned to kavdev

[2016-11-17 01:28] kronok opened #380 "[v1.0.0] Migrating to 1.0.0 on a test database"
I'm on my local setup, going through a "test migration" to 1.0.0 and making notes before I do anything on my live site.

If I run ./manage.py migrate djstripe on my test db, I noticed it communicates with Stripe and syncs a bunch of stuff.

One thing isn't quite clear to me. Is it changing the data in my stripe account at all or is it just making changes to my local database?

I imagine it's treat

[2016-11-19 23:45] aleccool213 opened #381 "Fix pep8 E305 errors"
Somehow a failing build made it past the initial pull request CI?

https://travis-ci.org/kavdev/dj-stripe/jobs/176502723

[2016-11-20 03:46] kavdev commented on #380
Hi @kronok,

Yes, that migration process is read only.

If we wrote the code correctly, you don't need to change your API version. The webhook code is designed to get a request in the api version you have and then re-request the event using the API version we support.

[2016-11-20 03:47] kavdev commented on #380
See https://github.com/kavdev/dj-stripe/blob/1.0.0/djstripe/migrations/0012_model_sync.py

[2016-11-20 03:50] kavdev commented on #381
Hmm. Not sure how that happened. It'll all be cleaned up soon when I find the time to go through all the PRs :)

[2016-11-21 23:29] kronok commented on #380
Thanks, I read through a lot of the code but wasn't completely sure, so figured it was smart to ask. Hopefully this helps others wondering the same thing.

[2016-11-21 23:29] #380 closed, assigned to nobody

[2016-11-22 19:23] allthetime opened #383 "v1.0.0 usable?"
Hi, sorry for jamming up issues, I'll delete this after...

But is v1.0.0 usable in production? Or are some things broken?

Looking around I couldn't get a clear picture of where development is at,

What features are still in development? I would like to contribute so it would be good to know where to direct my efforts...

Thanks.

[2016-11-23 11:00] lskillen commented on #383
@allthetime: Don't take this as a guarantee (DYOR) but I suppose it is a reasonable testimonial we have 1.0.0 in production (albeit "public alpha release") without any issues.  If you're looking to utilise the latest version of the Stripe API then the 1.0.0 branch is the only way forward really.  As for what was left to do for release, I also [asked this](https://github.com/kavdev/dj-stripe/issues

[2016-11-23 17:44] kavdev commented on #383
Hi @allthetime, @lskillen is right -- 1.0.0 is stable and we only have a few more things to button up. Development has slowed down quite a bit as I'm low on free time at the moment, but we're getting there.

Definitely check out #307. Theres a full changelog along with a list of what still needs to be done.

@lskillen: Documentation is almost there. @aleccool213 has been working hard on it and I h

[2016-11-23 18:06] lskillen commented on #383
@kavdev Aye, been keeping tabs - definitely on the right track!  If it's worth anything I've been testing on the latest version of the Stripe API (and continue to update where possible) without issues.  Changes are primarily to do with retrieval so haven't affect model structure.

[2016-11-23 18:18] kavdev commented on #383
@lskillen: Good to hear!

[2016-11-23 18:20] kavdev commented on #307
**Bug notice:** ``application_fee`` was being passed to ``Stripe.Customer.charge()`` with the ``amount`` argument value.

See https://github.com/kavdev/dj-stripe/pull/382

[2016-11-23 18:22] kavdev commented on #381
@aleccool213: Fixed: https://github.com/kavdev/dj-stripe/commit/4fe9b778431536265b63d3ffe1ad5a44529955bd

[2016-11-23 18:22] #381 closed, assigned to kavdev

[2016-11-25 11:03] lskillen opened #384 "1.0.0 Missing Migrations"
Looks like a makemigrations is required on the `1.0.0` branch (seems to be help_text updates at first glance):

[code]

Cheers!

[2016-11-25 15:42] aleccool213 commented on #381
@kavdev it may be because a PEP related package isnt pinned to a specific version. New version got downloaded in a build which had new requirements than the build previously did.

[2016-11-28 22:34] #383 closed, assigned to nobody

[2016-11-30 15:59] jameshiew opened #385 "Using admin.ModelAdmin subclasses in admin.py"
Hey, what are thoughts on using subclasses of `admin.ModelAdmin` for things like the Charge and Invoice? Currently the library does `admin.site.register()` calls for most models (e.g. https://github.com/kavdev/dj-stripe/blob/adcb64ee8691ca34fc55f302ee28e5075697ce96/djstripe/admin.py#L129-L129). An advantage of using `admin.ModelAdmin` subclasses would be that they could be inherited from by projec

[2016-11-30 21:35] kavdev commented on #385
Hi @jameshiew!

Yeah our admin code is in desperate need of an update. That code was written quite a long time ago :)

I completely agree and would greatly appreciate a PR; please use the 1.0.0 branch as a base.

[2016-12-03 16:55] aleccool213 commented on #31
Useful [documentation](https://docs.djangoproject.com/en/1.10/topics/i18n/translation/) on internationalization.

Seems like general flow to implement this would be to:

1. Add [this](https://docs.djangoproject.com/en/1.10/ref/settings/#std:setting-USE_I18N) var to settings.py
2. Enable [this](https://docs.djangoproject.com/en/1.10/topics/i18n/translation/#how-django-discovers-language-preference)

[2016-12-05 23:28] allthetime opened #386 "Plans are randomly deleted from DB (1.0.0)"
Hi, I'm noticing some strange and troubling behaviour.

After doing `manage.py djstripe_init_plans` and having Stripe populated successfully everything looks good.

But after a little while (maybe after restarting the dev server) I am noticing plans just disappearing out of nowhere. Sometimes it's one, sometimes it's two. To fix it I just delete the missing plan on stripe.com and then run `manage.

[2016-12-06 00:37] kavdev commented on #386
@allthetime: Not sure what's going on there or what could be causing the issue. Is this in production? Have you checked your stripe event logs to see if any plan deletion actions happened? What database are you using? Is there any process that touches the database that might be messing with the data?

[2016-12-06 00:38] kavdev commented on #386
Leaving as cannot reproduce until we figure out what's going on.

[2016-12-06 00:42] kavdev commented on #386
There are no foreign key relationships from Plan, so cascading deletion isn't a possibility.

[2016-12-06 01:02] allthetime commented on #386
@kavdev I will be working with and digging around the lib heavily for the next week or so... so I'll be keeping a close eye on it. I'll let you know what I find, if anything. I've been messing around quite a bit, deleting and re-creating things all over the place, so it could have been something strange I did.

[2016-12-06 05:14] kavdev commented on #31
@aleccool213: There are some open-source collaborative services around that help with translation. It's really just a matter of getting that set up

[2016-12-07 21:38] jameshiew opened #388 "Stripe 400 error when adding a card via ChangeCardView"
This is on the 1.0.0 branch.

When trying to add a test Stripe card (4242424242424242) via the view at `/payments/change/cards/`, a message like "Request req_xxx: Missing required param: source." flashes.

The following is from my Stripe log - it looks like no request body is posted.

![req](https://cloud.githubusercontent.com/assets/2990876/20987423/77e49fea-bcc4-11e6-9e26-47a7f9f26dbb.png)

[2016-12-07 21:42] jameshiew commented on #385
Hey @kavdev , it looks like most if not all model fields in the admin pages are editable - I think it will make sense to make most of the fields readonly (definitely things like `stripe_id`) since changes made in the admin panel don't sync back to Stripe, at least for the current time. Will PR soon!

![screen shot 2016-12-07 at 21 40 12](https://cloud.githubusercontent.com/assets/2990876/20987805/

[2016-12-07 22:41] kavdev commented on #307
Here's a rough outline of what we need for documentation:

**Installation** (currently being updated by @jameshiew)
**Usage**
*Docs on how to use different aspects of dj-stripe:*
* checking if a customer has a subscription
* subscribing a customer to a plan
* creating a single charge for a customer
* restricting access based on subscriptions
* Managing subscriptions, cards, etc.
* Creating Invoice

[2016-12-07 23:47] allthetime commented on #386
Once I stopped manually manipulating entries in the admin this problem went away.

[2016-12-07 23:47] #386 closed, assigned to kavdev

[2016-12-07 23:48] allthetime opened #390 "Quick Help: Multiple Subscriptions, single invoice."
Looking through the code, I'm having a hard time understanding how to apply multiple subscriptions to a single invoice (and then charge, once the invoice is complete)... is this achievable  in a simple way with the existing library?

[2016-12-08 00:02] aleccool213 commented on #307
@kavdev you can use https://github.com/kentcdodds/all-contributors for Credits section

[2016-12-08 00:23] kavdev commented on #307
@aleccool213: good idea. It'll take forever to go back and categorize almost four years of contributions though haha so I vote the contributors section should be updated by the contributors themselves. We'll just set up the initial template with the existing contributors and just their profile images and have people update it with PRs

The contributing section will just have a note - "Submit a pul

[2016-12-08 00:40] kavdev commented on #390
@allthetime: You can do it by creating an Invoice for the customer and then add InvoiceItems for each subscription to that Invoice.

[2016-12-08 00:40] #390 closed, assigned to kavdev

[2016-12-08 00:41] kavdev commented on #390
For future reference, questions like this are better asked on Stack Overflow so that our issue tracker doesn't get crowded.

[2016-12-08 06:19] aleccool213 commented on #390
@kavdev Might need to update [this](https://github.com/kavdev/dj-stripe/blob/master/CONTRIBUTING.rst) to direct people to Stack Overflow 👍

[2016-12-08 18:15] kavdev commented on #390
@aleccool213 agreed

[2016-12-08 18:20] kavdev commented on #307
**Bug notice:** old reference to ``has_valid_card`` in the confirm form template.

See #391

[2016-12-08 18:22] kavdev commented on #307
^ I'm going to keep doing these until this branch is merged and on pypi

[2016-12-11 03:35] jameshiew opened #392 "Sending a test webhook results in an `InvalidRequestError` exception"
Sending a test webhook (`charge.succeeded`):

<img width="802" alt="screen shot 2016-12-11 at 03 28 41" src="https://cloud.githubusercontent.com/assets/2990876/21077894/8e639010-bf52-11e6-9ed2-f52c89a00638.png">

The following log out appears in the console:
[code]

An `Event` object is saved with event id "evt_00000000000000", but no `EventProcessingException`. Also, the next time a test webhook

[2016-12-11 03:36] jameshiew commented on #392
This is on the 1.0.0 branch

[2016-12-12 01:10] kavdev opened #393 "Remove the sites dependency"
Doesn't seem necessary; we could just use a setting for the same details

[2016-12-12 01:27] kavdev commented on #392
@jameshiew: I like the idea of reserving ``evt_00000000000000`` as a test event and handling it specially. Seems like the best way to go - just need to document it in the webhook docs.

Stripe won't be sending a 0 id event so there won't be a conflict.

[2016-12-17 03:24] joeyespo commented on #307
(Sorry, this is a bit lengthy. But only because I'm new here and want to include more detail in case I'm off about something.)

I have some ideas on how to mitigate this while making the workflow more obvious and less error-prone. First, some context.

### Plan ownership

After catching up with all past comments, it sounds like some core issues are related to the question of "who owns the plans"?

[2016-12-17 05:22] kavdev commented on #307
Hi @joeyespo! First off, thanks for the writeup - it's a nice hybrid option that we haven't seen before and it works perfectly with what we'd like to accomplish. Well done.

So, a few points to hit:
* I agree that Plans should be, for the most part, immutable locally. There are some fields you can actually change, so the plan is to override the save() method to only push through changes on editabl

[2016-12-19 06:07] JMIdeaMaker opened #394 "Out of the box, checkout (subscribing) works on mobile chrome but not desktop chrome"
When checking out any plan, and confirming the subscription, on Chrome in my desktop nothing visible happens. I check the network tab of my console and see things happening, so I check my stripe test dashboard but nothing has changed. When doing the same on my phone (confirming the subscription) I am redirected to checkout.stripe.com (which is an acceptable outcome).

More info: I initially signed

[2016-12-19 21:23] JMIdeaMaker commented on #394
Stripe account was not activated, is now working

[2016-12-19 21:23] #394 closed, assigned to nobody

[2016-12-23 08:58] hyusetiawan opened #395 "JSONField dependency is incompatible with django 1.10"
I am getting this error:
class JSONField(six.with_metaclass(models.SubfieldBase, models.Field)):
AttributeError: 'module' object has no attribute 'SubfieldBase'

[2016-12-23 18:56] kavdev commented on #395
Looks like we'll be looking for a JSONField replacement...

[2016-12-28 15:26] lskillen commented on #384
Fixed as a part of PR #396.

[2016-12-28 19:41] #384 closed, assigned to kavdev

[2016-12-28 23:21] lskillen opened #397 "Make "1.0.0" Default Branch"
In preparation for the 1.0.0 release, and to assist with PRs being automatically targetted to the 1.0.0 branch (especially since PRs to master aren't accepted), I propose that it would make a lot of sense to make 1.0.0 the default branch *until it has been merged to master*.  Thoughts?

[2016-12-29 00:12] kavdev commented on #397
I was thinking about this earlier today and agree. I was initially concerned about any confusion that might arise, but if people are coming to GitHub, they might as well see the latest version of the library.

Setting 1.0.0 as the default branch and updating the version number to 1.0.0.dev

[2016-12-29 00:12] #397 closed, assigned to nobody

[2016-12-29 00:16] kavdev opened #398 "Switch license to MIT"
We're currently using a modified 3-clause BSD. I'd like to hear any concerns about switching.

[2016-12-29 00:47] lskillen commented on #398
No concerns here, I agree that MIT is a superior (and simpler) license.

[2017-01-04 20:57] dkvdm opened #399 "Add the ability to update the Customer's stripe metadata"
I'd like to add some metadata to the customer that is automatically created upon Stripe Checkout. How can I do this?

Much obliged,
Dennis

[2017-01-04 21:49] kavdev commented on #399
We don't currently have any calls to add metadata to the customer object. You can currently add data locally via a custom Subscriber model

[2017-01-04 21:51] dkvdm commented on #399
I happen to be messing around with the custom Subscriber model as we speak. How can I add metadata to that?

[2017-01-04 22:38] kavdev commented on #399
@flxfxp: As any fields you want to add to the model. The metadata won't get sent to stripe; it will just be available locally on that custom model

[2017-01-04 22:40] dkvdm commented on #399
I'm specifically interested in sending custom metadata from Django to Stripe :)

[2017-01-04 22:46] kavdev commented on #399
Okay. I'll turn this issue into a proposal. If you're up for submitting a PR, feel free :)

[2017-01-04 22:47] kavdev commented on #399
Best way to do this would be via a model method on Customer/StripeCustomer

[2017-01-10 08:06] kavdev commented on #307
**Bug notice**: "metadata" typo.

See https://github.com/kavdev/dj-stripe/commit/df6ee7f33e31fb83765f9881622ce19eee4a5358

[2017-01-11 07:19] pilgrim2go opened #404 "Deprecated Plan sync no longer saves the remotely created object locally"
Hi,

From the commit
https://github.com/kavdev/dj-stripe/commit/d42acfa1601b538bd01ccca08296e52ba8829619#diff-0f205ead1a9e2ca00972a26fec958e91

I find Stripe Plan is no longer saved into DB.
I don't know what the reasons behind.

I do need Plan object to create so that I can have Django model after_save signal and create something like Group/Permission respectively.

Anyone knows or give me a solu

[2017-01-11 08:26] kavdev commented on #404
@pilgrim2go: See #307; we're in the process of re-writing the sync functions so that they work as expected (1.0.0 is the dev branch).

You're correct though, that's a bug that came up during an update. Plans are created remotely, but the response isn't synced locally. I won't be able to get to this for a while (and since it's getting replaced soon, I might not get to it at all); the fix would be t

[2017-01-16 09:21] pilgrim2go commented on #404
Thank @kavdev for pointing it out.

[2017-01-19 17:43] kerryrm opened #407 "TLS 1.0 to TLS 1.2 issue"
Worth noting: If you get the "Stripe no longer supports API requests made with TLS 1.0. Please initiate HTTPS connections with TLS 1.2 or later" error you can probably just run the following to solve the problem.

pip install –upgrade pyopenssl==0.15.1

[2017-01-19 17:43] #407 closed, assigned to nobody

[2017-01-24 22:55] jameshiew opened #409 "`invoice.payment_succeeded` webhook causes an IntegrityError to be raised"
Steps to reproduce using a fresh test Stripe account (API version 2016-10-19 but have encountered it on API version 2016-07-06 as well):

1. caused a Stripe Customer to be created for my Django user by visiting the `AccountView` while logged in
2. added a Card for my Customer on the Stripe dashboard
3. created a Plan on the Stripe dashboard
4. created a Subscription to the Plan for my Customer on

[2017-01-26 20:35] kavdev commented on #409
That seems likely. The fix should be to convert a lot of ``create`` calls to ``get_or_create``

[2017-02-05 08:49] jleclanche commented on #395
@kavdev Is it possible to use Django's native JSONField on postgres? Or to have a setting for it? I'm currently implementing dj-stripe on Django 1.10 + Postgres; I'll gladly submit a PR if this is an OK approach.

[2017-02-05 18:47] kavdev commented on #395
That unfortunately isn't an option because as a third-party plugin, we have to support any database django supports

[2017-02-05 19:21] jleclanche commented on #395
@kavdev There's no reason why it's not possible to switch between the two based on a setting. Of course that would have to be done at init time, as migrations would be messy...

[2017-02-10 10:15] terjeto commented on #393
+1
It's not needed and does not work well with none-sites-systems (like mine). It's an optional framework from Django, and so should be for djstripe. A setting is all that is needed.

[2017-02-10 10:57] isaac-jordan opened #412 "djstripe_init_customers fails on Django 1.10"
Command: python manage.py djstripe_init_customers

Error:
[code]
This method was removed in 1.10, and should be replaced with Options.get_field(). See https://docs.djangoproject.com/en/1.10/ref/models/meta/#migrating-from-the-old-api.

Any idea when this might get fixed, as this prevents me from integrating with dj-stripe?

[2017-02-10 11:10] isaac-jordan commented on #412
Ah, I've pip installed directly from this repository, and it's fixed. Just not been pushed to PyPi. Feel free to close this issue if you feel it is unnecessary.

[2017-02-11 00:34] lskillen commented on #409
I've seen this as well, so +1 for the `get_or_create` suggestion. :-)

[2017-02-11 00:36] lskillen commented on #392
@kavdev: Looks like you can close this one.

[2017-02-11 00:37] #392 closed, assigned to kavdev

[2017-02-11 00:56] kavdev commented on #412
Yeah, see #307. Thanks for the report though!

[2017-02-12 23:11] jameshiew opened #413 "Default max digits of `StripeCurrencyField` should be 8, not 7"
Trying to do a charge of 999,999.99 results in a `decimal.InvalidOperation: [<class 'decimal.InvalidOperation'>]` when a webhook is received and we attempt to create the `Charge` object.

[2017-02-13 19:38] jleclanche opened #415 ""Received unknown parameter: api_key" on Card.api_list()"
How to reproduce:

[code]

I don't know what's going on exactly here but it looks like it's passing `api_key` in the json body.

This is in `stripe_objects.py` in `StripeCard.api_list`:

`        return customer.api_retrieve().sources.list(api_key=api_key, object="card", **clean_kwargs).auto_paging_iter()`

[2017-02-13 19:39] jleclanche commented on #415
Removing `api_key=api_key` fixes it.

[2017-02-13 19:41] jleclanche commented on #415
I think the `api_key` argument was supposed to be passed to the `api_retrieve()` method rather.

[2017-02-13 19:45] jleclanche commented on #415
Looks like it was added in 0919fd6c and somehow never hit.

[2017-02-15 06:03] jleclanche opened #416 "subscription.cancel() does not guard against the subscription already being canceled"
If the subscription does not exist, the exception isn't caught. This probably should be caught. It would happen if an attempt to cancel is made on stale data.

[2017-02-16 20:01] kavdev opened #417 "Support Multiplan Subscriptions"
https://stripe.com/blog/multiplan-subscriptions

[2017-02-18 09:14] jleclanche commented on #398
@kavdev Is this blocked on something? :)

[2017-02-18 18:44] kavdev commented on #398
Nope, seems like people like the idea.

[2017-02-18 18:47] #398 closed, assigned to kavdev

[2017-02-18 18:50] kavdev commented on #413
Good catch. See also https://support.stripe.com/questions/what-is-the-maximum-amount-i-can-charge-with-stripe.

@jameshiew Let me know if you'd like to submit a PR or if you want me to add it to my list (which might take a while)

[2017-02-18 18:52] kavdev commented on #415
Yeah this is definitely a bug; it's hard to catch because the calls to stripe are mocked.

Can you split this bugfix off from #414?

[2017-02-18 18:56] kavdev commented on #416
Good catch. I think there used to be a fetch and check when this was part of the Customer model. This bug probably arose from an assumption that webhooks would take care of it.

[2017-02-18 20:16] tkwon opened #419 "1.0.0 not triggering webhooks?"
I'm on django 1.10.4.

I have used this code to test the reception of webhooks:

[code]

When I create the subscription, I see the event created in the db and an invoice is sent. So all seems well. However, this webhook signal never triggers.

[2017-02-18 20:25] kavdev commented on #419
Hi @tkwon, sorry our docs aren't quite up to speed yet. You might be better off using our Event Handlers paradigm (See [here](https://github.com/kavdev/dj-stripe/blob/1.0.0/djstripe/event_handlers.py)):

[code]

[2017-02-18 20:26] kavdev commented on #419
(closing this, but feel free to reopen if need be)

[2017-02-18 20:31] kavdev commented on #419
I realized I'll have to confirm that the signals do still work. Leaving open and setting as bug (unconfirmed for now)

[2017-02-18 22:02] jleclanche commented on #416
I don't think doing a fetch every time is necessary. It should be sufficient to try/except and do a fetch on except.

[2017-02-19 03:25] tkwon commented on #419
No success. I'll try to debug.

[2017-02-22 08:37] #415 closed, assigned to kavdev

[2017-02-22 08:45] #217 closed, assigned to nobody

[2017-02-22 21:34] isaac-jordan commented on #404
What's the current way to get around this? No matter whether my plans are in Stripe or not when I run `python manage.py djstripe_init_plans`, I don't get Plan objects in my database.

[2017-02-22 22:12] kavdev commented on #404
@Sheepzez: For a workaround, just add the plan locally manually via ``python manage.py shell``. We just closed down the admin, but if you're on a build that still allows you to create plans via the admin, I suggest doing it there.

[2017-02-23 16:26] jameshiew commented on #413
@kavdev unfortunately I won't have time to do much dj-stripe stuff anytime soon (i.e. in the next few months), if it's still around then I can take a crack at it :)

[2017-02-23 18:54] kavdev commented on #413
@jameshiew: no worries, I'm in the same boat. We'll soon be implementing a 20% time type of deal at work, so I'll hopefully have more time to dedicate to this project in the coming months as well.

[2017-02-25 10:30] isaac-jordan commented on #307
Not to take this off-topic, but is there any estimates on the timeline for 1.0 release?

[2017-02-25 10:33] isaac-jordan opened #422 "Overriding template pages"
I'm using dj-stripe in a non-bootstrap project (Materialize to be precise), whats the best way to modify the templates to use Materialize?

What I was planning on doing is to just override all the templates under the `djstripe` namespace - but is this the proper thing to do? Is there something neater I could do, such as extending them?

[2017-02-25 20:25] kavdev commented on #307
@Sheepzez: There's no hard timeline yet. We'll soon be implementing 20% time at work, so if all goes well, I'll be able to actually put time into finishing this release.

Rough estimate right now is probably June-ish. That said, v1.0.0 is useable as is, provided you have webhooks running and manually add plans.

[2017-02-26 02:52] kavdev commented on #422
@Sheepzez: we currently only support bootstrap; you're best option at the moment is overriding.

That said, if you have a cool idea on how to support multiple frameworks that's easy to maintain, I'm all for it.

[2017-02-26 15:13] isaac-jordan commented on #422
@kavdev Django crispy-forms supports multiple frameworks by including multiple versions of templates (see https://github.com/django-crispy-forms/django-crispy-forms/tree/dev/crispy_forms/templates), however I don't think much of this idea in terms of the DRY principle. Though it would probably be the easiest to implement.

An idea I had would be to use Django's template language to switch between

[2017-02-26 22:00] kavdev commented on #422
I like the latter solution. Have a setting ``DJSTRIPE_TEMPLATE_FRAMEWORK="bootstrap|materialize|etc."`` and then adding classes based on that setting is a solid implementation. It does require maintainers to know each framework, but that shouldn't be to difficult.

[2017-02-26 23:25] lskillen commented on #422
@kavdev: Here's a different angle that won't be everyone's cup of tea.  We've briefly discussed this before in the context of having an example application, but it might be worth thinking about moving djstripe towards not having any templates/views at all (other than examples).  A solid reason for doing so is that as views/templates are very opinionated depending on the context of the application,

[2017-02-27 00:00] kavdev opened #428 "Consider Dropping Views and Templates"
-@lskillen [source](https://github.com/kavdev/dj-stripe/issues/422#issuecomment-282597703)

I haven't actually used djstripe views and templates in a project yet. They're really there just to support devs who want a quick, out-of-the-box solution for payment processing. That said, I don't know many devs who have used the templates as-is. That could either be because a) we haven't really paid much

[2017-02-27 17:14] isaac-jordan commented on #428
I have no disagreement with this. Removing the built-in templates, and simply providing detailed documentation on how to integrate djstripe with existing templates, or how to create your own, would be great.

I'd gladly take better documentation over out-of-the-box functionality.

[2017-02-27 23:04] jleclanche commented on #428
+1 from me. The only view I can see being useful (at the moment) is the CancelSubscriptionView as a form endpoint. The rest are way too specific to be useful.

At the very least, the views should not be included in the djstripe urls by default imo.

[2017-02-27 23:08] jleclanche opened #429 "_get_or_create_from_stripe_object is not atomic"
Code:

[code]

Doing a try/except is a source of race conditions, which are actually very likely to happen at high loads with webhooks turned on.

The proper way to do this would be with a `get_or_create` with a defaults keyword argument like I do in [this commit](https://github.com/jleclanche/dj-stripe/commit/74da2915ee0a329dabad3e486ba4993cb3e19052).

[2017-02-28 00:43] aleccool213 commented on #429
Hi @jleclanche,

Can you explain:

maybe a bit more? For the code above, how could a race condition occur? This is for my own personal knowledge.

[2017-02-28 01:04] jleclanche commented on #429
A race condition can occur if the database gets updated from a separate source, between the time of the `get(stripe_id=stripe_id)` and the time of the `save()`.

Which would often happen for example if a webhook triggers and gets processed between the two.

Using `get_or_create` guarantees idempotency at the database level as long as the non-default parameters given to it are guaranteed-unique.

[2017-02-28 09:39] isaac-jordan commented on #428
For my use case, I would be fine using all the views that are present, I only need custom templates. The view logic is exactly what I need (at least to begin with).

Would it be odd to have djstripe views, but no provided templates in the package? In my head, the developer would look at the documentation of what views to override, what variables are available in the templates of those views, and i

[2017-02-28 09:51] isaac-jordan opened #431 "Webhooks documentation"
I've seen a few people mentioning webhooks around the repository, but I've yet to find any documentation mentioning them in detail. Has the documentation not been created yet, or am I just looking in the wrong place? :)

[2017-02-28 13:00] jleclanche commented on #428
I don't think so, it's a pretty common pattern for libraries.

[2017-02-28 14:20] lskillen commented on #428
Structuring it as the following might work:

- `djstripe.views` (required/suggested views, such as the webhooks endpoint).
- `djstripe.urls` (only has the required views, so the user is free to pick and choose).
- `djstripe.mixins` (helpful mixins that can be picked and chosen, such as PaymentRequiredMixin).
- `djstripe_example` (miniature example app with views/templates based on current set, use

[2017-02-28 14:22] jleclanche opened #432 "Card.api_retrieve() will crash if the customer associated with the card has been deleted"
Situation: Calling `on_delete_subscriber_purge_customer` on a customer that has already been deleted by Stripe.

Eventually, we enter `Customer.purge()` which hits `for source in self.sources.all(): source.remove()`.

However, if the customer has already been deleted, calling `remove()` on a source whose customer has already been deleted will crash, because it first calls `retrieve()` on the card

[2017-02-28 14:37] jleclanche commented on #432
This is pretty hard to fix without reworking the djstripe api because api_retrieve() is always expected to either return a real object, or a native stripe error.

We can check for `if "sources" not in customer...` but then what to do with that? raise our own error? return none? neither of those are handled anywhere.

[2017-02-28 15:03] jleclanche commented on #432
Something like this should work, but ain't pretty:

[code]

[2017-02-28 21:43] isaac-jordan commented on #431
Nevermind, I just didn't look hard enough. There's reasonable documentation available at https://github.com/kavdev/dj-stripe/blob/1.0.0/docs/settings.rst#djstripe_webhook_url-rwebhook to get started

[2017-02-28 21:43] #431 closed, assigned to nobody

[2017-02-28 22:12] kbrownlees commented on #429
Are you actually seeing corrupted data, or is it just failing further downstream than you would like?

The flow here is essentially get_or_create without the extra helper to refetch the object if the race condition gets hit (https://github.com/django/django/blob/master/django/db/models/query.py#L439).

To me the issue here looks more like the time it takes to call the stripe api after the get call

[2017-02-28 22:20] jleclanche commented on #429
Data isn't corrupted, but can end up being out of date, which usually results in a crash.

[2017-02-28 22:37] kbrownlees commented on #429
Ah, object create + save does an upsert. Should probably add a force_insert to the save so it explodes rather than updating.

[2017-03-02 01:05] dmkoch commented on #395
@kavdev I am working with the django-jsonfield (jsonfield on PyPI) author to try to get a new release out that supports updated versions of Django.

[2017-03-02 04:39] tkwon commented on #419
I have been unable to track down the problem with webhooks. Hopefully someone else can chime in.

[2017-03-03 22:21] lskillen commented on #395
Looks like ~it's been~ it is nearly released:

- GitHub: https://github.com/bradjasper/django-jsonfield
- PyPi: https://pypi.python.org/pypi/jsonfield/

Edit: Not on pypi yet, but presumably it must be pretty close. :-)

[2017-03-04 23:56] dmkoch commented on #395
I just released version 2.0.0, please help test!

[2017-03-07 01:13] jleclanche opened #435 "Usage of livemode for concurrent support for live and test modes"
I've been reviewing support for concurrent live + test mode (as in, on the same database). The good news is that, outside of the views, this mostly works as long as we filter by livemode=x.

Setting an "is in test mode" variable is as easy as `settings.STRIPE_PUBLIC_KEY.startswith("pk_test_")`.

However the major shortcoming is in the customer model's `subscriber` field and `Customer.get_or_create

[2017-03-07 08:04] jleclanche commented on #428
Seeing as I dropped all views except CancelSubscriptionView in my fork, here are some difficulties I hit getting Travis green again:

- `DJSTRIPE_SUBSCRIPTION_REDIRECT` setting defaults to `djstripe:subscribe`. This has to go.
- Decorators: `subscriber_passes_pay_test` and `subscription_payment_required` currently have a `djstripe:subscribe` default pay page. They now have to require the pay_page

[2017-03-07 10:50] isaac-jordan commented on #435
Out of curiosity, what's the use-case for concurrent use of live and test modes on the same database?

Edit: Ah, I've just seen your explanation in #440.

[2017-03-07 18:02] kavdev commented on #431
Yeah proper docs are WIP

[2017-03-07 18:04] kavdev commented on #419
@tkwon: I'd suggest posting on Stack Overflow with your configuration. Closing as Cannot Reproduce.

[2017-03-07 18:50] kavdev commented on #429
@jleclanche the commit seems to have been removed in a rebase. Can you re-reference it?

(I still have quite a few PRs/issues to go through; if this is already in PR, nevermind)

[2017-03-07 19:42] #395 closed, assigned to kavdev

[2017-03-07 20:15] kavdev commented on #428
In my mind, it's either all or nothing; either we're exclusive a library with useful functions and utils that devs would use in their own views, or we're a full service package that gives you everything out of the box.

I'm totally fine with going either way. It sounds like most of you are using the views in one way or another (as-is, extending, etc.), so I think we should go ahead and keep views/

[2017-03-07 20:22] isaac-jordan opened #441 "Integrating with other payment processors (Does dj-stripe to play nicely with others?)"
I was reading a blog post that mentioned they had much better sales results by having a Paypal option (as people trust it). How hard would it be to integrate something like a Paypal backend in my application if I'm using djstripe. Would I need to have double checks for everything, such as "if user.has_djstripe_sub or user.has_paypal_sub"?

[2017-03-07 20:44] kavdev commented on #441
dj-stripe should be pretty standalone unless you're using middleware.

I'd assume so, yes. I'd add a flag (or use a polymorphic model) to distinguish between the services. You'd then want to add a generic ``has_subscribtion`` method to your model that checks the flag and calls the appropriate service. Be sure to set the flag when the user chooses which service to use.

[2017-03-07 22:17] jleclanche commented on #429
Done, but the commit in question does not fix this, it's just an example.

[2017-03-08 00:50] #435 closed, assigned to jleclanche, kavdev

[2017-03-08 00:59] jleclanche opened #442 "Proposal: Drop DJSTRIPE_PLANS settings"
I have completely dropped support for settings-based plans on my prod system. Plans are now created in Stripe and synchronized with webhooks.

I'd like to suggest doing the same here upstream. This guarantees a single source of truth and simplifies the code and integration.

[2017-03-08 01:05] kavdev commented on #442
Yep. The whole plans system is set to be reworked. See https://github.com/kavdev/dj-stripe/issues/307#issuecomment-267739842

[2017-03-08 01:07] #442 closed, assigned to nobody

[2017-03-08 01:13] kavdev commented on #429
Ah yeah. The problem with this is that using a "get or create" across a network is inherently a pain if the endpoint doesn't support it. At first thought, we'd probably have to implement our own blocking system.

Add in the "refetch" feature and it becomes even more fun /s. I'd love to brainstorm a clever solution.

[2017-03-08 01:17] kavdev commented on #429
@kbrownlees, how's your [solution](https://github.com/kandoio/dj-stripe/commit/18494f789325b51759b042f9c0c7c41c846370d8) working out?

[2017-03-08 01:21] kbrownlees commented on #429
I haven't hit any issues so far, but I am not putting high volume through so hard to say whether it has helped or not.

@jleclanche do you have a good way to reproduce it?

[2017-03-08 01:36] jleclanche commented on #429
I can't really think of a way to reliably reproduce it, maybe some kind of script that locks the db or some such.

At a glance, the solution looks good, although I'm not sure your exception handling is foolproof. IntegrityError *could* potentially be raised even if stripe_id isn't in the db, I think (for example, another unique field has been hit). In which case you are swallowing the exception an

[2017-03-08 01:46] kavdev commented on #429
We could be dumb about it and just throw in a recursive call

[2017-03-08 01:55] kbrownlees commented on #429
I just copied what django does for get or create (https://github.com/django/django/blob/master/django/db/models/query.py#L476). One of the other calls within _create_from_stripe_object could throw an IntegrityError however. Could wrap the lower save call and raise something else if we thought that was issue.

[2017-03-08 05:53] jleclanche opened #445 "Webhooks fail to process if they are not in the same mode as the site"
Sorta-follow up on #435

Let's say you have a single site configured to received webhooks, and the configuration is the same in both test mode and live mode.

Let's say the site is in live mode. While it is in live mode, you make a change in the Stripe dashboard that causes a testmode webhook to be fired.

The webhook will fail to process, with `errorRequest req_AFS1...: No such event: evt_19ux7..

[2017-03-08 06:12] jleclanche opened #446 "Consider making Customers nullable and allowing orphaned objects"
When creating a payment from the Stripe dashboard, no customer is associated to the charge by default. dj-stripe crashes when processing its webhook:

[code]

[2017-03-08 07:55] jleclanche commented on #413
Taking this

[2017-03-08 09:16] jleclanche opened #449 "Reconcile StripeTransfer.source_type and StripeCharge.source_type"
StripeCharge.source_type does not currently have choices. I'd like to reconcile the two as according to [the docs](https://stripe.com/docs/api/python#create_transfer) they behave the same (except one of them is optional). Right now they don't even have the same max_length.

This means moving StripeTransfer.SOURCE_TYPES and StripeTransfer.SOURCE_TYPE_CHOICES to another namespace.
Moving those could

[2017-03-08 09:18] jleclanche commented on #449
Aside: If those fields are moved to use enums, I would also recommend looking into using straight up IntEnum with string key mappings. This is much more efficient to store.

I built django-intenumfield exactly for that scenario, in fact: https://github.com/hearthsim/django-intenumfield

[2017-03-09 04:04] jleclanche opened #452 "Giving the admin both a "read only" and a "read-write" mode."
So, like I said in another issue I've been using dj-stripe mostly as a "cache" to what's in Stripe. I believe this is its correct role as there is no point in duplicating what Stripe does so well.

To that end, I see a future in which the djstripe admin is a *read-only* interface to what is cached in the database. Editing anything in there is extremely misleading as it does not get updated upstrea

[2017-03-09 04:08] jleclanche commented on #452
My first revamp is in #451 which cleans up the models so that they are usable. I might have a followup so that more models can be registered.

I'll probably mess around with making a read-only interface at some point, but I don't know if I'll work on a read-write interface. There's quite a bit that needs to happen first in order to have such functionality. I'm unhappy leaving it as is though, it's

[2017-03-09 09:28] jleclanche commented on #409
I think this is the same as #429

[2017-03-09 11:43] jleclanche commented on #315
I got inspired by the discord icons. Did Visa and Mastercard so far.

[2017-03-09 11:44] jleclanche commented on #315
I hereby place these files into the public domain:

visa.svg

[code]

mastercard.svg

[code]

[2017-03-09 12:12] lskillen opened #454 "Invalid Subscription Past Due"
It looks like the implementation of `Subscription.is_status_current` (and by extension, `Subscription.is_valid` then `Subscription.has_active_subscription`) *might* be incorrect, depending on the definition of what valid and current actually means.

The background for us that after a customer has trialled a subscription, but doesn't input their card details, Stripe moves the status to `past_due`,

[2017-03-09 21:16] kbrownlees commented on #356
Would probably be nice to put @alexphelps's comment in the documentation somewhere? (Probably a cookbook?)

[2017-03-09 23:13] kbrownlees commented on #454
May be of interest: https://github.com/kavdev/dj-stripe/issues/356#issuecomment-252496686

[2017-03-09 23:52] lskillen commented on #454
Thank you @kbrownlees - that's actually roughly how we implement it as well. :-)

@kavdev My gut feeling is that a "past due" subscription should still be considered as valid and even current.  Right now I'm looking at a customer that is *on* the "past due" subscription because they haven't paid yet, and yet ... that is their current subscription.  We don't lock out customers immediately just beca

[2017-03-10 04:38] jleclanche opened #455 "Race conditions in Customer.get_or_create()"
Since landing #440 I've been trying to figure out the race conditions in Customer.get_or_create().

The issue is the same as #429, except that in this case we don't have a stripe ID to play with. Let's look at the code:

[code]

When this path is reached by two threads at the same time and the customer does not exist in the local db, both of them reach the last line, which creates the customer.
Th

[2017-03-10 08:48] #413 closed, assigned to kavdev

[2017-03-10 08:56] kavdev commented on #452
I believe there's also a large discussion on this in #307

[2017-03-10 09:13] #432 closed, assigned to jleclanche, kavdev

[2017-03-10 09:22] kavdev commented on #455
I'm adding a new label for the race conditions you're finding :)

[2017-03-10 09:31] kavdev commented on #454
@lskillen: Interesting. Since this is likely to be different per use-case, a good option would be to open this up to a settings variable. That way devs get to define which statuses denote "current" subscriptions instead of us forcing the definition on them.

Thoughts?

[2017-03-10 10:21] lskillen commented on #454
Yep, it makes sense to me for it to be configurable, although I still think that having past due in there as a sane default would also make sense (but debatable). ;-)  That's the reason I raised this as an issue first rather than just submitting a pull request - does anyone else have a good reason to *not* treat past due subscriptions as valid by default?

[2017-03-10 10:25] jleclanche commented on #454
+1 from me, which also simplifies things greatly. See commit 0043c79bb444005a335f805e6a70510d0aac8450 for example; filtering on Subscription.valid_subscriptions() is easier.

In fact the whole system behind has_active_subscription() does far more work than it should; there's really only two sql queries needed: subscriber has a subscription in trial and the trial period is not over; subscriber has

[2017-03-10 10:58] pilgrim2go opened #456 "Integrate Django Permission the right way?"
Hi,
Anyone knows what is the best practices to manage Subscription features?
eg,
Plan A
+ feature 1
+ feature 2

Plan B
+ feature 1
+ feature 2
+ feature 3

My approach is if user subscribes a plan, he will be added to relevant Django Group ( GroupA vs GroupB respectively).
Also, with such approach, when I can assign user to group?
eg using signal or webhooks, something like
[code]
using web hook

[2017-03-10 14:56] jleclanche commented on #455
Okay, a quick email conversation with Stripe support pointed out that we can use [Stripe idempotency keys](https://stripe.com/docs/api#idempotent_requests) for this scenario.

Now I'm wondering, how to integrate these keys into the database to ensure ACID compliance?

I think there's two ways to do this: Either we integrate them directly on the Customer object, or we make a separate table for keys

[2017-03-10 15:03] jleclanche commented on #455
The alternative to this is not to have a model at all. Instead, we add an idempotency key as `creation_key` on the Customer model itself. I'm torn, that means it's not reusable ... although, I don't know how reusable that unique_together denominator system is either.

[2017-03-10 15:05] jleclanche commented on #455
Could also make that denominator a unique CharField and have a pattern for it. Like `"customer:123"` in case of a customer. It just has to be consistently reproducible.

[2017-03-10 15:13] lskillen commented on #455
@jleclanche Fantastic digging - I came across the idempotence documentation before and had meant to bring it up for discussion, but got sidetracked away from djstripe work at the time.  A potential suggestion is, assuming that our model instances are hashable, we could use either `__hash__` or a special/new method for calculating the idempotence key based on attributes of the object.  This would a

[2017-03-10 15:18] jleclanche commented on #455
I don't think hashing would work. I believe it would fail if some attributes change.

I actually quite like the denominator being a mere charfield. With a consistent pattern I think it's super flexible. This is my current prototype, I'm going to try it on live:

[code]

[2017-03-10 15:27] lskillen commented on #455
Sorry, what I actually meant was something *like* `__hash__` and not `__hash__` itself - I realise that offering every attribute wouldn't work because it wouldn't be consistent (e.g. timestamps updated on save, or other fields on derived classes that we don't control).

If we offered a method or a property on each model then the model itself could determine what parts of itself contribute to its o

[2017-03-10 16:02] jleclanche commented on #455
This limits you to one action per model though. What if you want, say, an idempotency key for deleting a customer as well?
I'm also quite liking more verbosity for the lookup :)

Anyway, I'm trying this on a live site right now:
https://github.com/jleclanche/dj-stripe/compare/1e3eef88cc350955f510115c08583b2ac4677158~...0e5f27b

Will report back if it's suitable.

[2017-03-10 16:06] lskillen commented on #455
Good point.  In that case I would suggest offering a grouping based on action then let the subclass itself decide what it actually means.

E.g. `self.get_idempotence_key('create')` calls `self.get_idempotence_key_fields('create')`. :-)

Sounds good though.  Let us know how your testing goes!

[2017-03-10 18:02] kavdev commented on #454
@lskillen: The only thing I can think of is limiting features when the user is past-due, e.g. show only the payment form if the subscribtion has lapsed.

That said, I agree with @jleclanche. The subscription check hasn't had some love in a while and could use some lookover.

[2017-03-10 19:34] kavdev commented on #455
Awesome digging @jleclanche. Idempotency has always been in the back of my mind; I just never put aside the time to sit down and think of an architecture for it.

I think the best way to go about this is to combine the best of both solutions:

@lskillen, I like your idea of having each StripeObject tell the idempotency generator what key (thoughts on using the word "seed"?) to use. @jleclanche, it

[2017-03-10 19:36] kavdev commented on #456
@pilgrim2go: I'd suggest letting dj-stripe do the heavy lifiting: [docs](https://dj-stripe.readthedocs.io/en/latest/cookbook.html#customer-user-model-has-active-subscription-property). There are also mixins and middleware for you to use.

[2017-03-11 05:32] pilgrim2go commented on #456
@kavdev : I just looked at it. The point is we want to differentiate User's features or User in Plan A can't do some actions ( or features) in Plan B.
We might do like that
[code]

But if we can separate permissions with subscription, I think implementation much more cleaner.
PS: I haven't implemented such kind of features before so I might miss something.

Thanks anyway.

[2017-03-11 05:46] jleclanche commented on #455
I've been thinking about this and I'm still -1 on having a `get_idempotency_key` method. The reason for that being that, two different actions on the same model may want *different* fields to unify on.

I'm not against making the interface publicly available but I don't see a way of doing it that is actually useful in any scenario. I also made certain that the idempotency key can be long (max leng

[2017-03-11 08:22] jleclanche commented on #307
Here's what I think should still happen before calling it for a 1.0 release:

- [x] Get dj-stripe working with Django 1.11. This is blocked on polymorphic models.
- [x] ~~Potentially drop polymorphic models (at least have a discussion about this)~~
- [x] Land idempotency keys (#460)
- [x] Land improved admin
- [x] Fix Django Rest Framework 3.5+ (#475)
- [x] If the views/templates are to be dropped

[2017-03-11 08:35] jleclanche commented on #307
I'd also like to see if we can land support for concurrent live + test keys and some checks verifying key sanity. I'm probably going to work on this today a bit.

[2017-03-11 09:41] jleclanche commented on #338
I just tried flake8-docstrings in another project of mine and I gotta say it's a completely ridiculous thing. Only usable in whitelist mode. I had to immediately blacklist `D100, D101, D102, D103, D200, D202, D205, D104, D105, D400, D401, D402` because of the amount of false positives, english-specific absurdities (essentially preventing you from writing docstrings in different languages - scan fo

[2017-03-11 09:43] jleclanche commented on #338
Just to drive the point home: the PR proposing this adds a docstring to setup.py and runtests.py's main() function.

Edit: And looking at some of the "cleanup" PRs, the code is worse for it. noqa tags added all over the place, low quality docstrings, etc.

[2017-03-11 22:20] lskillen commented on #455
@jleclanche Yep, agreed on the last bit, but that's why I said about using a differentiator in [my comment](https://github.com/kavdev/dj-stripe/issues/455#issuecomment-285709174) above.  The client method call it can pass it an identifier/key for the action, such as "create", and the class itself (or a derived class) can determine what fields actually contribute towards it.  This would also make i

[2017-03-11 22:27] lskillen commented on #455
@kavdev Good question on the key fields.

To be honest it looks like *most* fields should apply to the idempotency key.  In fact if we did just start with all of the keys, that would still result in a stronger guarantee of idempotence than having no idempotency key at all.  I'd be in two minds if we should make it a whitelist or a blacklist.  If it's a whitelist, we'll explicitly list the keys tha

[2017-03-11 22:32] jleclanche commented on #455
Oh my, good call on the live vs. test mode! I'll think about that. I also need to verify whether the idempotency keys are scoped to live/test mode, or global to all modes, on stripe's side.

Elaborate? I don't see this happening.

There's four scenarios in which the code can crash:

- Before the idempotency key is committed to the DB
- After the idempotency key is committed to the DB, but before t

[2017-03-11 22:35] jleclanche commented on #455
@lskillen The idempotency keys can't take in stripe fields as idempotence source, because Stripe creates those fields.

[2017-03-11 22:36] lskillen commented on #456
@pilgrim2go This isn't really something that would be within the realm of `dj-stripe`, but I can tell you that plan-based (and feature-based) permissioning isn't a simple issue to solve!  My suggestion would be to go with a logic-based permissioning system such as [rules](https://pypi.python.org/pypi/rules) or [django-permission](http://django-permission.readthedocs.io/en/latest/).  Then you can i

[2017-03-11 22:54] lskillen commented on #455
@jleclanche For the scenarios above, it absolutely could happen and I've seen something like this happen in a completely different context (not dj-stripe).  Assuming the user is in a mode like `ATOMIC_REQUESTS` (or at least the entire request is in a transaction), then any *synchronous* calls to Stripe would result in the creation of a uuid on your table.  Although these are written to the databas

[2017-03-11 22:58] lskillen commented on #454
@kavdev I think that sort-of knowledge falls under the "permissioning" remit of the client code to determine itself, but I suppose that plays hand-in-hand with "should be configurable". ;-)  I've monkey patched (ugh) this locally to fix in our installation for now, but definitely looking forward to figuring out how to improve this area!

[2017-03-11 23:14] jleclanche commented on #455
I think you are misunderstanding the way idempotency keys work and how the
system is implemented. The keys will reliably generate the same action for
the same customer getting created, none of it depends on the return from
Stripe.
The uuid is created first, alongside the action, and because both are
constrained the consistency is guaranteed up to this point. If an item
matching the action already

[2017-03-11 23:26] lskillen commented on #455
I don't believe I am misunderstanding.  I realise that Stripe isn't involved at all and I realise that they use the idempotency key to guarantee that the same request won't happen twice, but *only if they get the same key from us twice*.  What I'm saying is that the UUID that we generate will be lost, despite it being created first, despite the same input key of "customer:create:1234" being used,

[2017-03-11 23:35] jleclanche commented on #455
Why would the transaction roll back? The transaction completes before we
submit the first POST. If it rolls back we are not in a state where Stripe
knows about the key yet, as we do not send it until it's complete.

On Sun, Mar 12, 2017, 01:26 Lee Skillen <notifications@github.com> wrote:

[2017-03-11 23:38] lskillen commented on #455
It'd roll back if any exception is raised after the call into `dj-stripe`, and that's out of our control.  If something happens in the client code it'll occur.  For example, imagine the user is batch processing and then hits an error, or maybe they create a customer but then do something else that's intended to be an atomic set of actions.  These aren't multiple transactions when you use something

[2017-03-11 23:39] jleclanche commented on #455
To be clear I'm still talking about the Customer object here. But I believe
this pattern applies equally to other actions as long as we follow it very
strictly:

- Generate a consistent action key scoped to the action being performed,
with its parameters
- Get-or-create an idempotencykey object using the action key
- Send a request specifying the idempotency_key

On Sun, Mar 12, 2017, 01:35 Jerome

[2017-03-11 23:42] jleclanche commented on #455
I don't think that's correct; but if it is, *that* is what's wrong. The entire system relies on one transaction to get-or-create the key, then a separate transaction to perform the write. If we want to batch-write, we can use a larger scoped action.

[2017-03-11 23:46] lskillen commented on #455
It's correct, as seen [here](https://docs.djangoproject.com/en/1.10/topics/db/transactions/), in the sense that it isn't possible to do partial-writes with subtransactions in this mode of operation (but partial rollbacks are of course supported with the subtransaction savepoints, but that doesn't help here).  It'll also still happen if the client application wraps the outer code within a transacti

[2017-03-11 23:56] jleclanche commented on #455
Hm yeah I see what you mean. Are we using that pattern in djstripe though?
If this is something clients are using then we can probably pass the
responsibility downstream. How else would you do it to prevent this from
happening?

On Sun, Mar 12, 2017, 01:46 Lee Skillen <notifications@github.com> wrote:

[2017-03-12 00:07] lskillen commented on #455
Sorry @jleclanche, I didn't mean to derail you or ruin your night.  My company personally runs with `ATOMIC_REQUESTS` enabled for various reasons, and we've encountered this issue in other places outside of `dj-stripe`, which is why I've brought all of this up as this would definitely apply to me.  I imagine `ATOMIC_REQUESTS` can't be too uncommon since it is mentioned almost at the top of the Dja

[2017-03-12 07:52] jleclanche commented on #455
No problem at all! This is why we have these discussions.
Looking at this with a fresh head, how about an overridable
get_idempotency_key callback? This way the idempotency key can be stored
anywhere you would want to implement it... Redis, the db, a different
model/db, etc.

Would this work?

On Sun, Mar 12, 2017, 02:07 Lee Skillen <notifications@github.com> wrote:

[2017-03-12 14:02] isaac-jordan commented on #456
@lskillen Is there any way in dj-stripe to check what plan a user is subscribed to? If not, why does dj-stripe support multiple plans at all?

[2017-03-12 14:39] pilgrim2go commented on #456
@lskillen :  That's why I came to my  question :). I'm using Django Rules. Do you have another approach?

[2017-03-12 15:51] jleclanche opened #462 "StripeObject.livemode default should be None, not False"
Touching up my livemode PR, I just noticed that the default for `livemode` is False. It should be None instead, which currently means "unknown". Any reason why it's not?

[2017-03-12 22:36] kavdev commented on #456
@Sheepzez: We do support multiple subscriptions in v1.0.0

I think this is what you and @pilgrim2go are looking for:
https://github.com/kavdev/dj-stripe/blob/1.0.0/djstripe/utils.py#L27

[2017-03-12 22:40] kavdev commented on #462
@jleclanche: No good reason. Go ahead and change it

[2017-03-12 22:45] kavdev commented on #449
@jleclanche: Have you looked at [django-choices](https://github.com/bigjason/django-choices)? I've been using it in a few of my latest projects and it works quite well.

My ideal would be to incorporate a django choices subclass for each model that uses choices. That gives us access to niceties like ``Transfer.SourceTypes.card``

[2017-03-13 00:10] kavdev commented on #446
@jleclanche: dj-stripe revolves around a Customer object; I don't see how saving objects unrelated to any user in the system is particularly useful.

That said, it would be best for this not to cause the webhook to crash. See #344.

[2017-03-13 00:51] #441 closed, assigned to kavdev

[2017-03-13 01:26] kavdev commented on #455
@lskillen you're not being an idiot lol; this is a very worthwhile discussion. Highlighting why a proposal won't work for your (and possibly others') use case is why all major decisions are brought to the dj-stripe community for a weigh in.

I think this is going in the right direction. @lskillen as far as fields go, keys are so closely tied to actions that there's a good chance the fields will be

[2017-03-13 02:11] kavdev commented on #307
@jleclanche: That's a solid addition to the roadmap. Thanks for all the shiny new contributions!

Haha no kidding. We were on track for a release at one point, but then work, completing uni, etc. slowed things down. Then I decided to switch from consulting work to working on a few startups full+ time and dj-stripe went to the backburner. Luckily things are opening up a bit again, especially now th

[2017-03-13 02:15] kavdev commented on #428
The more I think about it, the more I'd really love to drop everything except the webhook endpoint and the cancel subscription endpoint. The other views and templates can go in a separate contrib package.

Unless someone is vehemently opposed to us dropping views and templates, I suggest we move forward and thin the package.

[2017-03-13 05:58] jleclanche commented on #428
+1. I don't have a particularly strong attachment to the CancelSubscriptionView, by the way, but I believe it can be made generic enough that it's usable as a viewpiece for fresh users. I can also contribute my UpdateCardView.

This leaves two types of views: The core type (webhook) and the contrib type.

[2017-03-13 06:03] jleclanche commented on #446
@kavdev It's not useful, but dj-stripe should be able to handle the webhook regardless. I'm +1 on #344 but that won't solve the issue at hand.

[2017-03-13 06:12] jleclanche commented on #449
I did look at Django Choices when I was evaluating solutions to my IntEnum issue. The problem is that it does not play well with *existing* enums and imho there is no reason why the enums (choices) should themselves have a dependency on a django library.

With django-intenumfield it can look something like this:

[code]

[2017-03-13 06:28] #385 closed, assigned to jameshiew

[2017-03-13 06:42] kavdev commented on #449
Can you give me an example?

Also, thinking about it some more, converting all the choices to use ints means data migrations. Also, I'd rather keep the data coming from stripe as is in the db. I still think all of the choices need to be switched to something more manageable though.

[2017-03-13 06:59] kavdev commented on #428
Thoughts on asding ``CancelSubscriptionView`` and ``UpdateCardView`` to "contrib/extra_views" or something and keeping the webhook endpoint as our only view?

[2017-03-13 07:01] kavdev commented on #446
@jleclanche define "handle" -- I agree that a 500 shouldn't be sent back to Stripe, but I don't believe we should be storing orphan objects

[2017-03-13 07:14] jleclanche commented on #449
@kavdev My use case was that I needed to use [these enums](https://github.com/HearthSim/python-hearthstone/blob/master/hearthstone/enums.py) in Django. Any of the existing django solutions do not let you use third party enums.

With that said, I can build a non-intenum parallel to django-intenum. It's just not something I had needed until now. I do kind of see the appeal of using the raw Stripe da

[2017-03-13 07:24] jleclanche commented on #446
@kavdev If you perform a customer sync, orphan objects will show up (unless they've been deleted in Stripe as well).

Remember I'm in a context where dj-stripe is a cache of the upstream source of truth. I understand why you would want to ignore it, though.

With that said: Customer and Charge *should* be nullable because they are nullable upstream.

[2017-03-13 07:24] jleclanche commented on #428
Yeah +1

[2017-03-13 16:01] jleclanche commented on #409
Confirming this is the same issue as #429. I'm following up in that issue.

[2017-03-13 16:04] lskillen commented on #455
@kavdev @jleclanche The more I think about it, the more it seems like it should be the client application's responsibility to calculate the actual key, but we should facilitate making it as easy as possible to use/specify.  We're in danger of making the wrong assumptions for generating a key based on the above information, and we need to consider other scenarios, such as "failed upstream", where t

[2017-03-13 16:06] lskillen commented on #428
@kavdev +1 from me as well.  IMHO the views/templates (other than the webhook) are documentation/examples.  Without them there'd be a lot less work to maintain because you don't need to show absolutely everything that is possible, just a reasonable implementation of it.

[2017-03-13 16:06] jleclanche commented on #429
So, playing around with this a bit more, the real culprit really is `_create_from_stripe_object`:

[code]

 Now, the pattern we need to use is, I believe, `update_or_create`: https://docs.djangoproject.com/en/1.10/ref/models/querysets/#update-or-create

I think we should be calling update_or_create with the stripe id as the primary key and everything else as defaults.

The problem is in the `save=

[2017-03-13 16:11] lskillen commented on #429
It might be possible to implement UpcomingInvoice in a slightly different way, albeit it'll probably involve duplicating (ugh) some of the existing logic and using it for that instead, and then fixing this appropriately using the update or create pattern.

[2017-03-13 16:14] jleclanche commented on #429
If we can get rid of the mock_django dependency that'd be great.. it's only used for UpcomingInvoice, nasty stuff.

[2017-03-13 16:15] jleclanche commented on #455
@lskillen what do you think of the approach in #460 that uses a callback? It lets you define the storage behaviour yourself.

Such an action is not a second instance of a single idempotent request, it's a separate request. We consider it a bug if the action key is not specific enough to be consistently generated.

The question really is, is the framework I'm providing here flexible enough to allow

[2017-03-13 16:47] aleccool213 commented on #307
@kavdev Maybe a firm migration guide for people moving from old versions to 1.0.0 could be a nice addition.

[2017-03-13 18:43] dkvdm commented on #307
Agreed. I've just implemented 0.8.0 with heavy modifications because 1.0.0 was still a ways off. As there are some fairly substantial changes to the feature set, I'm totally for having a solid migration guide. Let me know if I can help out with this in any way.

[2017-03-13 20:50] kavdev commented on #449
@jleclanche The 0.8->1.0 migration path works. I agree that someone out there will have an issue with the migrations, but we'll take that a case at a time.

Switching to ints is definitely an optimization problem that warrants a proper discussion.

[2017-03-13 21:20] kavdev commented on #446
Yep, I take that into account as I'm working through your issues and PRs. This is just one of those points of contention where I need to make sure the package remains true to its purpose.

They'll show up and will be attached to Customer objects that aren't attached to a local user. If the customer syncing process was more reliable (email uniqueness), we'd be able to link local users to Stripe Cus

[2017-03-13 21:21] jleclanche commented on #446
Is 99356de85ef036b6a3e85eb6541f2f2441099355 something you're interested in?

[2017-03-13 21:22] jleclanche commented on #446
It's useful to be able to tell what an ID corresponds to though. If it doesn't correspond to a Django user, that's a data point you might want.

[2017-03-13 21:23] jleclanche commented on #446
PS 2: This is also really important if you're transitioning to dj-stripe as a *new* system (from a previous custom integration, or a non-django product)

[2017-03-13 22:02] kavdev commented on #446
@jleclanche the only missing piece to this puzzle is hooking up local users to stripe objects. Even then, though, it'd only be a quick sync to pull the data that was previously ignored for that customer.

This is definitely something worth discussing further. I do realize it's a bit silly to just say "No, you can't have orphaned objects" if you really want them. I'd be open to making the database

[2017-03-13 23:46] jleclanche commented on #462
Done in #461

[2017-03-14 06:57] pilgrim2go commented on #456
Thanks @kavdev : Your suggestion is a good start to me.

[2017-03-14 06:57] #456 closed, assigned to nobody

[2017-03-15 00:12] lskillen commented on #455
Comment on #460:

@jleclanche You're right though, we probably do need to delve into design a little bit more, but I think for your use case your model-based approach is definitely adequate.  Although I still have reservations for the model-based from the performance overhead (string-based interpolation and insert/delete per request cycle) and cleanup (when/who/how are the records removed) angle.

[2017-03-15 00:24] lskillen commented on #455
Other comments from #460:

@jleclanche:

@lskillen:

[2017-03-15 00:30] jleclanche commented on #455
Yep no problem at all.

There's no way this is a performance issue even at extreme scales. We're interpolating directly in Python, not at the DB level.

Yes, this is more of an issue. Right now though I'm not doing a delete, so it's a single insert per cycle. Deletes can be batched every 24 hours (when the keys themselves expire); *when* they happen depends very much on the action.

I'm not sure t

[2017-03-15 00:38] lskillen commented on #455
Sorry, when I said string-based interpolation, what I *really* meant was indexing on potentially sizable string-based keys in a potentially large table (but like you said, it only starts to matter at scale *and* when API calls other than customer are introduced, but are really not a concern otherwise).  You're absolutely right though, it's hard to judge before we've even designed any other part of

[2017-03-15 00:41] jleclanche commented on #455
Sounds good! Don't worry about holding me back - I'm using my fork in prod, and I have to use it until a lot more stuff lands (Postgres JSONField support, stuff like that). But right now I'm getting roughly at the point where my fork is in a production-ready state, as our product is subscription-based (we don't really have a lot of idempotency-critical paths).

[2017-03-15 00:55] kbrownlees commented on #455
@jleclanche presumably a client side lock would be sufficient (on subscriber in this case), not quite as elegant as having stripe deal with it for you - but at 34 comments in it doesn't appear simple either.

(having only skimmed this thread feel free to ignore!)

[2017-03-15 00:56] jleclanche commented on #455
A clientside lock does not solve the issue for distributed servers. The lock has to be at the db level (which this achieves).

[2017-03-15 01:10] kbrownlees commented on #455
Obviously I am not talking about 'threading.Lock'. select_for_update would solve this example, but if you used a callback people could use what ever they like (etcd, redis, etc).

[2017-03-15 01:17] jleclanche commented on #455
Yeah, I considered select_for_update(). I ended up not using it simply because Stripe themselves advised using their Idempotency Key system for this scenario, which I figured we would want to introduce anyway.

[2017-03-15 20:31] kbrownlees commented on #455
Sorry if I missed it, but what is the need to turn two unique_together fields into a random uuid? Why can't we just send 'live:subscriber:<subscriber_id>:create:customer' (or a hash of it) as the idempotency_key?

I like @lskillen's idea to allow the classes to specify the fields which should contribute to the key, with a callback so the user can override it. I wonder if you would need two differe

[2017-03-15 21:39] jleclanche commented on #455
Having a natural key as the idempotency key creates a risk that, if the request was bad the first time around, it's now impossible to recreate the request for 24 hours.

[2017-03-15 21:52] kbrownlees commented on #455
Fair enough, but that doesn't mean you can't use the natural key by default and have a way to add exceptions. Eg:

    key = cache.get(key, key)

[2017-03-15 21:53] jleclanche commented on #455
I don't understand how that gives you exceptions -- also, if you get exceptions, doesn't that defeat the whole point?

[2017-03-15 22:12] kbrownlees commented on #455
cache.get is cache.get(key, default) so in the general case you would just get the natural key back, but it would allow the exception handler (or a user) to do something like:

    cache.set('live:subscriber:12:create:customer', 'live:subscriber:12:create:customer:retry-2', ttl=24h)

Obviously this could also be done with a table.

You are proposing adding an extra insert to every stripe request (

[2017-03-15 22:15] jleclanche commented on #455
Right now it expands just to Customer creation. In the future it'll probably expand to charge and subscription creation. It's unlikely to expand to more than that.

[2017-03-16 13:57] jleclanche opened #464 "Plans on live + test mode with the same stripe IDs"
`Plan.stripe_id` is inherited from StripeObject which makes it unique. Plan stripe IDs don't work quite the same way as other stripe objects though because their IDs are user-input and users are likely to use the same ID on live and test. If this is not supported, it needs to be documented, but I personally think we should move to a unique_together w/ stripe_id + livemode for Plan.

[2017-03-17 21:06] MarquisT commented on #412
This still isn't working. I've tried installing it a few times using pip but even with 1.50.0 the djstripe_init_customers fails. Any suggestions?

[2017-03-19 14:56] uditagarwal commented on #97
Is this still on the roadmap?

[2017-03-20 00:11] kavdev commented on #412
@MarquisT: Please post your stacktrace. Also, I'm assuming you meant ``1.0.0``

[2017-03-20 00:27] kavdev commented on #464
Makes sense and sounds good

[2017-03-20 00:34] kavdev commented on #97
Yep, just not a high priority at the moment

[2017-03-20 00:46] jleclanche commented on #464
PS: I think the same situation is true for coupons, once we get support for those.

[2017-03-22 02:57] jleclanche opened #468 "Full audit of all field usage"
While auditing the model code I found that Stripe stores all currency amounts in *cents*. We store them in a DecimalField, which is probably related to #247. I don't fully understand why djstripe does that rather than give a way to translate from one to the other.

Additionally, the `StripeCurrencyField` naming is extremely confusing... because of all these:
`currency = StripeCharField(max_length=

[2017-03-22 03:09] jleclanche commented on #468
It looks like djstripe is storing a lot of bigints into ints. This works for most use cases but it's probably easy to get the dashboard to crash djstripe.

[2017-03-22 04:20] jleclanche commented on #75
I started work on coupons in my branch:

https://github.com/jleclanche/dj-stripe/compare/7d4459b1b301c869b7c32b6cff6360006d2dc1cc~4...7d4459b1b301c869b7c32b6cff6360006d2dc1cc

[2017-03-22 09:04] jleclanche commented on #75
Continuing coupons work, I'm not sure how to do discounts just yet. There's no Discount object in the stripe API (docs aren't quite up to date).

They make it look like the representation is a Discount object with a fkey to Customer and a fkey to Subscription. However I think the correct representation is a m2m on the Coupon object to Customer, and another to Subscription. Both m2m have a through

[2017-03-22 09:53] jleclanche commented on #428
Once most of my PRs get merged I can work on dropping the views. I don't want to do this before because of rebase hell.

[2017-03-22 09:55] jleclanche commented on #409
@kavdev can you close this one?

[2017-03-22 17:11] kavdev commented on #409
Yes.

Closing. See #429.

[2017-03-22 17:11] #409 closed, assigned to kavdev

[2017-03-22 17:26] kavdev commented on #455
@lskillen @kbrownlees: @jleclanche has a working implementation that's battle tested in production at high volume. I'm rolling with it unless you can give me a concrete reason not to.

[2017-03-22 17:44] kavdev commented on #428
@jleclanche: sounds good

[2017-03-22 17:48] kavdev opened #472 "Add documentation for idempotency keys"
This is dependent on the documentation reorg.

[2017-03-22 17:49] kavdev opened #473 "Remove the model_utils dependency"
#469 removed it from the models, next step is removing the actual dependency.

[2017-03-22 17:53] kavdev commented on #468
The answer is sheer convenience. I'll add a comment to #247.

For which fields?

Now that django has a bigint field, we can switch over any fields that need it.

[2017-03-22 17:58] kavdev commented on #247
One solution to this: store currency as cents and either add a property (sort of like https://github.com/kavdev/dj-stripe/pull/466) or modify the currency field's to_python. The property or field would rely on a setting (``DJSTRIPE_USE_ZERO_DECIMAL_CURRENCIES`` maybe?). If that's set, we return cents. If not, we return decimal currency (dollars)

Thoughts?

[2017-03-22 18:01] kavdev commented on #247
The other option is to explicitly state which currencies are zero-decimal (as @jleclanche does in https://github.com/kavdev/dj-stripe/pull/466) and conditionally return based on that. This would be suitable with proper documentation.

[2017-03-22 18:11] lskillen commented on #455
@kavdev @jleclanche Nope, you're good to go. Sorry about the delay in getting back, I'm currently on the ninth level of Hell with work and just couldn't get to it on time.  We can examine this again if the idempotency functionality is added to anything else (especially `Charge`), but it's a thumbs up from me.  It might still be at least worth mentioning that with the model-based approach, a rollba

[2017-03-22 18:23] kavdev opened #474 "Switch int fields that are set as bigints in Stripe to bigintfields"

[2017-03-22 18:26] kavdev commented on #455
It's nice and cozy here, isn't it? lol

[2017-03-22 18:44] jleclanche commented on #247
I think we should move to storing currencies in an integer field just like Stripe does. It'll simplify synchronization.

I also quite like the idea of making the field a tuple of currency + amount. That way the amount is never separated from the currency. But it's probably adding a ton of complexity we don't want.

[2017-03-22 19:05] jleclanche commented on #468
I'll do a full audit of all fields at some point and report my findings here.

[2017-03-23 01:49] #455 closed, assigned to nobody

[2017-03-23 04:01] jleclanche commented on #229
I'd like to reopen #228. Now that Stripe natively supports receipt emails, IMHO support for emails in djstripe can and should be dropped - Stripe emails are *far* higher quality than Djstripe ones, have a higher SLA, and if someone wants full control of the emails they send they can absolutely use a signal for it.

Doing so would close #229, #228 and #351 all at once.

[2017-03-23 09:20] jleclanche commented on #75
Wooo, look at that:

![coupons](https://cdn.discordapp.com/attachments/197129017545981953/294394753775173632/unknown.png)

I ended up not going with a Discount object at all. Instead, a ForeignKey is attached to the customer.

I didn't implement coupons on Subscription objects yet but it should be very similar. No tests yet either.

The core model is in #471 and is ready to land. The rest can come

[2017-03-23 09:22] jleclanche commented on #75
Also they don't get synced by the webhook for some reason, dunno why.

[2017-03-23 16:24] kavdev commented on #446
I'm seeing less and less of an issue with this. The only thing we're currently doing is preventing data that was created elsewhere from being loaded into the local database... Does not having string customer linkage hurt anyone? I don't think so.

@lskillen @wahuneke: thoughts?

[2017-03-23 16:25] kavdev commented on #446
And you can always manually hook up a local customer by specifying the remote customer's stripe id when creating and then attach it to a subscriber

[2017-03-23 16:28] kavdev commented on #446
Worst case scenario is you end up with a database full of orphaned objects that you'll have to hook up manually.

[2017-03-23 16:33] kavdev opened #478 "Drop dj-stripe receipt email support"
Stripe has full email receipt support. Why maintain a old wheel we invented when there's a shiny new one made by the manufacturer that's free?

See https://github.com/kavdev/dj-stripe/issues/229#issuecomment-288611407

This would close #229, #228, and  #351

[2017-03-23 19:13] alexphelps commented on #478
@kavdev Agree, the dj-stripe emails dont provide any advantage over stripe's built in receipt emails. It's also not difficult to roll your own solution based on webhook events, which is what I'd probably do anyways if I needed something custom.

[2017-03-23 22:19] lskillen commented on #446
I think it makes sense to allow it, a lot of sense.  If Stripe is seen as the One True Source and if it's allowed upstream then we should follow semantics necessary to also allow it locally.  We should be aiming to remain in lockstep with Stripe as much as possible.

[2017-03-23 22:20] jleclanche commented on #446
I agree, that's what I've been going for so far.

PS: Once again plugging #djstripe on freenode.

[2017-03-23 22:21] lskillen commented on #478
@kavdev: +1 from me.   As with views/templates, we also roll our own for emails/invoices.

[2017-03-23 22:21] jleclanche commented on #478
I'll file a PR to drop the emails, they're already dropped in my fork.

[2017-03-23 22:24] lskillen commented on #75
@jleclanche Just wanted to say this is awesome, that is all.  I had really wanted to add support for this myself, time permitting (which, it didn't), so thank you for taking it up.

[2017-03-23 22:44] kavdev commented on #446
Well I no longer have any objections; let's merge some stuff :)

We used to have a Gitter, but shut it down for a few reasons:
1) utilization was low
2) some discussions should have been on a PR instead of in chat for record keeping
3) It ultimately turned into a support chat, which we don't want to do

[2017-03-23 22:47] jleclanche commented on #446
@kavdev Yeah I don't think an official channel is useful, but i'd like to be able to coordinate better with you while I'm working on this actively.

[2017-03-24 09:29] #305 closed, assigned to nobody

[2017-03-24 09:30] #229 closed, assigned to nobody

[2017-03-29 16:05] jleclanche commented on #75
So apparently Stripe does not send webhooks when a customer discount gets consumed. That means in order to retain synchronicity, we need to re-sync the Customer object after there is a possibility a coupon has been consumed (Read: After creating a charge or a subscription while a coupon is attached to the user).

I don't know if the same is true of coupons attached to subscriptions as I haven't us

[2017-04-02 15:03] ncrmro opened #482 "stripe.Source created using python library doesn't include required "address_city""
Using 1.0.0 branch I'm mocking a user creating a source on the client side. The user has a source_id ready to be posted to django in further test cases.

Possibly an edge case since you would almost always be using stripe.js on the client to create the source which correctly includes an address_field

[code]
The response ends up being.

[code]
[code]

[2017-04-02 15:07] jleclanche commented on #482
Why is it showing up as required though? It's [nullable](https://github.com/kavdev/dj-stripe/blob/5871fcf8ab09d79e9c9625b8a875c3e290f2d05f/djstripe/stripe_objects.py#L1134). Is it because it's lacking blank=True?

[2017-04-02 15:41] ncrmro commented on #482
@jleclanche catching the django field error and manually attempting to create the card myself show stripe has already created the object and returned it to djstripe to process into a django model.

```Request req_AOylNWPprKxBYD: The source you provided has already been attached to a customer.```

[code]

I think the takeaway is the python and the js client return different source card objects atm.

[2017-04-02 15:46] ncrmro commented on #482
@jleclanche I'll attempt to add to add blank=True to my version of djstripes model.

[2017-04-02 17:33] ncrmro commented on #482
Doesn't appear that adding Blank has any effect.

I should also mention add adding address_city to the card object on the stripe source object also doesn't work when attempting to create a source using the python stripe library.

[2017-04-03 18:14] jleclanche commented on #446
@kavdev ping? :/

[2017-04-09 21:55] kbrownlees opened #483 "Transition Webhook Handlers underlying implementation to use the signals framework"
Right now the webhooks handler uses position arguments to dispatch webhook events (https://github.com/kavdev/dj-stripe/blob/1.0.0/djstripe/webhooks.py#L116). Thoughts on changing to the django style (https://docs.djangoproject.com/en/1.10/topics/signals/#receiver-functions) where everything is keyword args and you must include **kwargs. This allows for greater future flexibility, and allows you to

[2017-04-10 08:11] jleclanche commented on #483
Sounds good to me.

[2017-04-11 13:25] #482 closed, assigned to nobody

[2017-04-15 18:13] #446 closed, assigned to nobody

[2017-04-16 21:51] #462 closed, assigned to nobody

[2017-04-16 22:12] kavdev commented on #483
+1 for the "I will explode"; gave me a chuckle.

Sounds good. I'd say the last three args should be able to be collapsed, since they're just shortcuts to attributes on the event:

[code]

[2017-04-16 22:17] #114 closed, assigned to nobody

[2017-04-16 22:17] #288 closed, assigned to nobody

[2017-04-16 22:18] #304 closed, assigned to nobody

[2017-04-16 22:18] #388 closed, assigned to kavdev

[2017-04-16 22:24] #478 closed, assigned to nobody

[2017-04-16 22:25] #351 closed, assigned to nobody

[2017-04-16 22:26] #428 closed, assigned to kavdev

[2017-04-16 22:27] #422 closed, assigned to kavdev

[2017-04-19 12:55] jleclanche commented on #445
I think this was actually fixed by 0ed4fddba8c58bd552f821f4f604aac31547be94.

[2017-04-19 14:05] jleclanche commented on #468
# General

- [x] The `StripeCurrencyField` field type needs discussion, as per original post here.
- [x] All currency objects need discussion, see above.
- [x] For the sake of simplicity, I will not be going into details on stripe connect functionality.
- [x] There are `created` and `modified` objects on the `StripeObject` model. Stripe itself has a `created` object. These two are not the same - o

[2017-04-19 15:28] kavdev commented on #445
I think so too. Closing.

[2017-04-19 15:28] #445 closed, assigned to jleclanche

[2017-04-19 15:35] kavdev commented on #393
Removed in #480

[2017-04-19 15:35] #393 closed, assigned to kavdev

[2017-04-20 15:21] kavdev opened #490 "Remove subscription valid/active/current inconsistencies"
So we currently have a few inconsistencies surrounding subscription status/categorization:

## Customer
https://github.com/kavdev/dj-stripe/blob/1.0.0/djstripe/models.py#L229
[code]

[code]

[code]

[code]

## Subscription
https://github.com/kavdev/dj-stripe/blob/1.0.0/djstripe/models.py#L871
[code]

[code]

[code]

[code]

I'd like to get a discussion going on what we want to keep, how we want to

[2017-04-20 16:45] kavdev opened #491 "Get linty working"
really just rewrite the test harness

[2017-04-20 17:10] jleclanche commented on #491
I've been thinking about touching up the test runner. Get rid of runtests.py in favour of using pytest as a test runner. And instead of having coveralls run inside of the test runner for each version, we'd run it in a separate travis job, that way it doesn't turn all the builds red, just a single "coverage" job.

[2017-04-20 19:00] kavdev commented on #491
Yeah I've been switching projects over to just having the built-in django test runner do the testing and then leave it up to the dev to choose whether or not to check coverage or style. GitHub status checks block anything that doesn't pass anyway.

There's also some parallel test code that I need to add.

[2017-04-20 19:01] kavdev commented on #491
I'll make a PR and open it for discussion

[2017-04-20 21:49] tkwon opened #492 "Stripe Connect: customer.add_card needs to use stripe_account field internally"
When using 1.0.0 I tried to add a card to a customer using:

[code]
The "add_card" step returns "customer cannot be found" error.

Using the straight python lib works:

[code]

For both attempts, the customer was successfully retrieved and identical. Apparently internal to the add_card method there needs to be a reference to the vendor stripe account.

[2017-04-20 22:38] tkwon opened #493 "Charge is not recording application_fee"
I successfully implemented a stripe charge using:

[code]
I verified the charge and fees were processed properly on the Stripe dashboard. When viewing djstripe_charge in my db, I see the "fee" field is left null.

[2017-04-21 01:17] tkwon opened #494 "Stripe connect - user account and multiple vendor accounts"
There seems to be a fundamental issue with dj-stripe 1.0.0 and Stripe Connect. Stripe Connect allows a single user email to be associated with different vendor accounts by adding "stripe_account=(account_id)". However,  the Customer model has:

`unique_together = ("subscriber", "livemode")`

Therefore, on my platform when I visit one vendor it creates an account. And then when I visit another vend

[2017-04-21 01:19] jleclanche commented on #494
You can remove the constraint for now, but you might run into race conditions and such.

I suppose the real fix is to add the account to the unique_together.

[2017-04-21 01:22] jleclanche commented on #493
Th `application_fee` is not tracked, per https://github.com/kavdev/dj-stripe/issues/468#issuecomment-295281871.

[2017-04-21 01:23] jleclanche commented on #493
FWIW a lot of the Stripe connect stuff is not implemented. It'd be good to get in for 1.1.0.

[2017-04-21 01:23] jleclanche commented on #490
Also see #454

[2017-04-21 04:06] tkwon commented on #493
Ok thx. I'll hold off any more issues regarding Stripe Connect

[2017-04-21 04:06] #493 closed, assigned to nobody

[2017-04-21 04:40] kavdev commented on #494
@tkwon can you link to the relevant section of the stripe docs? I haven't gone through the API in quite some time. If objects now all have a reference to an account, we can finally properly implement the Account model along with stripe connect functionality.

See also #97

[2017-04-21 05:00] tkwon commented on #494
@kavdev unfortunately the api docs do not address the "stripe_account" field directly. They seem to be dedicated to standard Stripe usage, not Stripe Connect.

In the Connect documentation they do explain it a bit:

https://stripe.com/docs/connect/authentication

They talk about authenticating with a header including the stripe account (stripe_account=..)  and mention:

You can also see their exam

[2017-04-21 05:04] tkwon commented on #494
On a related note, it is possible for an email to be used multiple times in creating Stripe accounts. I have done so accidentally in my testing, even in a single vendor account. It seems this might pose a problem for dj-stripe although I noticed lately there have been updates to 1.0.0 which are slowly addressing this.

[2017-04-21 11:12] jleclanche commented on #494
Yes I want us to shift away from the model where a stripe customer is always a django user.

[2017-04-21 14:28] kavdev opened #495 "Cleanly handle coupon redemption date validation"
Redemption dates cannot be more than 5 years in the future. Stripe will yell at you if you try to pass in a greater value, so let's preemptively catch it in a validator:

[code]

[2017-04-21 15:18] kavdev opened #496 "dj-stripe org logo proposals"
Hey all, I'm going to move dj-stripe into an org and would love some input on a logo. Feel free to submit them here for review.

@jacobjohannesen feel like doing some quick open source work?

[2017-04-21 15:53] jleclanche commented on #483
After a chat on gitter, here are some findings:

1. Our webhook handlers are super confusing. They're signals, but they're not quite signals.
2. We do have actual signals, but we don't use them. To users, the difference between signals and handlers is hazy.
3. We're not happy about having the webhook handler subsystem which reimplements essentially what signals are doing, but using custom logic.
4

[2017-04-21 16:03] kavdev commented on #483
@lskillen your input would be great here

[2017-04-21 16:07] jleclanche commented on #496
How about something like this?

![image](https://cloud.githubusercontent.com/assets/235410/25286217/a9317c38-26c5-11e7-844b-faf618738936.png)

(surely the trademark infringements cancel each-other out, right?)

[2017-04-22 20:24] patroqueeet commented on #275
why am I seeing
[code]
in my Django 1.10.7 installation? shouldn't that be void?

[2017-04-23 20:01] jdlnolen opened #497 "Error: Cannot resolve keyword 'customer' into field."
All,

Cannot get past the step

`python manage.py djstripe_init_customers`

in the installation.

Running Python 3.6.0, Django 1.11, and the latest version of dj-stripe (1.0.0).

What combination of Django version and dj-stripe version are folks successfully using at the moment? Thanks!

Here is the traceback:
[code]

[2017-04-23 20:06] jleclanche commented on #497
dj-stripe doesn't work on Django 1.11 yet due to the Polymorphic Model dependency. Does this happen on 1.10?

[2017-04-24 02:21] kbrownlees commented on #483
I am definitely 👍 on that @jleclanche, initially I didn't find the whole webhooks thing and raised https://github.com/kavdev/dj-stripe/pull/450 to make the signals more usable. The stripe_receiver function in that pull request could easily be made to support parenting.

[2017-04-24 11:18] jdlnolen commented on #497
Update from me...

Using 1.10 generated this error:

AttributeError: 'Options' object has no attribute 'get_all_field_names'

But...going back to 1.9 no errors so far.

[2017-04-24 17:26] kavdev commented on #497
Hi @jdlnolen, thanks for reporting this. Can you post the full traceback for that AttributeError?

[2017-04-24 19:59] jleclanche commented on #496
More serious attempt that is probably more in the clear trademark-wise:

![image](https://cloud.githubusercontent.com/assets/235410/25356084/ab030bca-2941-11e7-9e3b-d99719353aa2.png)

[2017-04-25 00:01] jdlnolen commented on #497
@kavdev here you go:

[code]

and here is the dump from pip freeze:

appdirs==1.4.3
dj-stripe==0.8.0
Django==1.10
django-braces==1.11.0
django-model-utils==3.0.0
jsonfield==2.0.1
packaging==16.8
pyparsing==2.2.0
pytz==2017.2
requests==2.13.0
six==1.10.0
stripe==1.53.0

[2017-04-25 05:00] #416 closed, assigned to kavdev

[2017-04-25 05:01] kavdev commented on #497
@jdlnolen You sure about that? :)

[2017-04-25 05:06] kavdev commented on #497
(fixed in 1.0.0 [here](https://github.com/kavdev/dj-stripe/blob/1.0.0/djstripe/settings.py#L138))

[2017-04-25 15:42] isaac-jordan commented on #496
What about a DJ wearing a stripy jumper? "dj-stripe"

[2017-04-25 15:56] kavdev commented on #496
^
![djstripe-mock](https://cloud.githubusercontent.com/assets/4859329/25395279/6d456f86-2995-11e7-8933-4741f956d998.png)

[2017-04-25 16:06] isaac-jordan commented on #496
@kavdev I more meant [this](http://www.youreventuk.com/wp-content/uploads/2016/10/dj-only-hire-herts.jpg) type of DJ, but that works too ;)

[2017-04-25 16:39] jleclanche commented on #496
Shutterstock to the rescue!

![image](https://cloud.githubusercontent.com/assets/235410/25396885/ead57ec4-29ee-11e7-8ff5-38c72406bbe4.png)

It's unanimous I think?

[2017-04-25 16:57] isaac-jordan commented on #496
Photoshop a striped christmas jumper on, and it's perfect.

[2017-04-25 19:25] jdlnolen commented on #497
@kavdev doh! sorry for the goof, trying to get a clean env to show the error.

Now...with 1.0.0 installed, this is the error:

[code]

let me know if you need more info...

[2017-04-25 19:29] jleclanche commented on #497
Yeah that line looks wrong: `for subscriber in get_subscriber_model().objects.filter(customer__isnull=True):`

[2017-04-25 19:33] jdlnolen commented on #497
and that is with django 1.10

[2017-04-25 20:51] kavdev commented on #497
@jleclanche yep, that broke when we switched to a ``customers`` ForeignKey. That line should probably be:
[code]

(untested). We probably also want to fit livemode in there somehow

[2017-04-25 20:53] kavdev commented on #497
Really this is just another "we need to get syncing fixed" issue

[2017-04-26 07:10] jleclanche opened #503 "Deserializing Stripe JSON objects should enforce "object" key validity"
I'm currently debugging a deserialization issue, stemming from a `customer` object being deserialized into a `Card` and failing due to Card required fields not being set.

This brings up the issue that we're not checking the `"object"` key. Doing so before attempting deserialization will ensure we're not trying to do something weird like that.

[2017-04-26 20:03] lskillen commented on #496
And as we know, DJs are used to seeing life in a spectrum of colours:

![dj-stripe](https://cloud.githubusercontent.com/assets/2248287/25454142/603b13de-2ac3-11e7-94fe-fea53a7be7d0.png)

OK, so it's a bit mental. ;-)

In saying that, it might be *so* different that neither Django nor Stripe would complain!

[2017-04-27 14:09] lskillen commented on #490
From Gitter:

[2017-05-01 04:53] patroqueeet opened #506 "Add dj-stripe project status to README"
Dear,

I tried to setup dj-stripe during these days and ran into quite some troubles. Most confusion was created by the fact that 0.8 is available at latest version on pypi, but on github most communication and even the default branch is pointing to 1.0.0. Hence for people arriving here looking for a great django/stripe lib might be happy finding a short explanation what the current status of the

[2017-05-01 05:26] jleclanche commented on #506
You can find the 1.0 release plans in #307, which also contains for the time being a migration guide.

I think we're actually almost there. The last big blocker is going to be polymorphic models (Django 1.11 compatibility), and that's landed on their master already I believe. You can safely use 1.0 from git and I would highly recommend doing so in a new project, it'll save you heaps of trouble.

[2017-05-01 05:31] patroqueeet commented on #506
ah, didn't see that one. mind linking this most important one on the default brach README ?! Might save some time for others :)

[2017-05-01 05:31] #506 closed, assigned to nobody

[2017-05-01 05:32] jleclanche commented on #506
Yeah, I think clarifying the situation at this point would take more time than releasing 1.0 :) I'm pushing hard to get that finished asap, and then we can talk about organization!

[2017-05-01 05:34] patroqueeet commented on #506
alright. your choice :) looking fwd to 1.0.0 release... will surely go there and provide more feedback on the migration process... thanks for answering so fast!

[2017-05-02 01:31] mikhuang commented on #412
Not sure what exact issue @MarquisT faced but I'm getting the following:

    Traceback (most recent call last):
      File "manage.py", line 10, in <module>
        execute_from_command_line(sys.argv)
      File "/Users/mikhuang/.virtualenvs/ptm/lib/python2.7/site-packages/django/core/management/__init__.py", line 367, in execute_from_command_line
        utility.execute()
      File "/Users/mikh

[2017-05-02 02:35] kavdev commented on #412
Yep, see also #497

[2017-05-16 14:42] twidi commented on #417
I was in the process of creating this issue... then I checked and found this one.

As stated on the stripe documentation a subscription that can handle more than one plans  has a big advantage: only one billing cycle, ie less fees.

See https://stripe.com/docs/subscriptions/multiplan (multiple plans on one subscription)
And https://stripe.com/docs/subscriptions/multiple (multiple subscriptions)

[2017-05-18 22:29] jleclanche opened #508 "Simplify CrudType"
I'd like to suggest simplifying the CrudType class. Currently it's a multi-state class that can have `created`, `updated` and `deleted` all set to True or False.

I'd like to change it in favour of an enum:

[code]

The `valid` attribute on CrudType is used in `customer_event_attach` and `customer_webhook_handler`. It's used incorrectly in the former, and the latter just skips processing if not va

[2017-05-20 14:52] jleclanche opened #511 "InvoiceItem.api_retrieve() always fails"
InvoiceItem is .. weird, to say the least.

There's this whole thing going on:

[code]

So, the `stripe_id` of InvoiceItem is, for subscriptions at least, never correct.
I don't even know what's happening here. Stripe doesn't seem to be using InvoiceItem by itself. The *only* InvoiceItem I get when doing InvoiceItem.list() is `Unused time on $plan (with 100% off) after 09 Apr 2017`, which is an it

[2017-05-20 15:11] jleclanche commented on #511
Okay, I see what's going on.

How it's actually laid out: Invoice.lines is a list of `line_item`. Some of these line items are of type `invoiceitem` and can be retrieved with `InvoiceItem.retrieve(id=...)`. The rest are of type `subscription` and do not seem to be retrievable without their invoice.

dj-stripe reuses the InvoiceItem object for both types. This makes subscription line items unretrie

[2017-05-21 08:11] jleclanche opened #512 "Discussion: Use stripe IDs as primary keys"
I've been trying to think through the implications of using stripe IDs as primary keys for all models that could bear it. I'm not sure it's a correct approach, but I want to consider it at least.

Pros:
* Simpler handling of foreign keys for most models.
* Syncing data becomes a lot simpler as well, as it is no longer necessary to perform a db lookup when only the ID is needed.

Cons:
* String IDs

[2017-05-21 18:46] jleclanche opened #513 "Split up Event and Event processing"
The `Event` model is currently used for two purposes: Duplicating the `Event` object from the Stripe database, as well as tracking webhook processing requests.

I would like to propose splitting up the two into the following:

* `Event`
* `WebhookRequest`

The `Event` model will be a 1:1 of the `Event` Stripe object. The `WebhookRequest` model however will be created *whenever a webhook pings us*.

[2017-05-21 18:50] jleclanche commented on #513
I forgot to specify the use case: I'm looking into this because I want to reliably enumerate certain event types, such as `charge.failed`. This may mean syncing previous events which are missing from the db (webhooks won't help us!).
This also greatly improves our ability to debug webhook issues. The code has a TODO to "catch more exceptions" which is very reasonable.

[2017-05-21 19:50] jleclanche opened #514 "Use an enum type field on postgres"
https://www.postgresql.org/docs/9.6/static/datatype-enum.html (mysql has an equivalent, but at first glance it looks much poorer).

This was discussed in #449 where I brought up the possibility of using an IntEnum.
After some more consideration, I think using a string-type enum would work better, but only properly on postgres. Other DB types would be left with a CharField.

A native EnumField was

[2017-05-21 20:11] jleclanche commented on #514
Here's an approach which gets us closer to the goal, without making the jump to using an actual enum field:

https://github.com/jleclanche/dj-stripe/commit/fdbafbba6bc8652bcbcf46a2ebcae2188d01e36c

[2017-05-21 21:11] twidi commented on #512
It's a common usage to have the same stripe id for plans in test and live mode. So this won't work here.

[2017-05-21 21:47] jleclanche commented on #512
I agree, if we do this it probably doesn't involve the Plan or Coupon models, at least immediately (cf what I said in the OP)

[2017-05-21 21:55] twidi commented on #512
Sorry, I read your post but... I don't know. Sorry for that.

By the way, for me it's not a good idea to have some models working this way, and some others the other way.

It will complicate the code as we'd have different ways of managing things. In addition to all your "cons".

[2017-05-21 22:30] jleclanche commented on #512
Yep.
Ideally I'd want to figure out a way that ensures Coupon and Plan *can* be fkey'd like that. I am currently trying to figure out if it's a good idea to mandate separate databases for live and test mode -- I think it would simplify things, and it might not be a terrible idea to recommend a separate billing db in general either.

[2017-05-22 09:07] alexsmkn opened #515 "Migration conflict 0028_auto_20170313_2316 vs 0029_coupon"
There is migration conflict between changes made in https://github.com/kavdev/dj-stripe/commit/4c02a8fa0b3f397c1b4278f5f2546924b56f4930 (`0028_auto_20170313_2316`) and migration made right after - https://github.com/kavdev/dj-stripe/commit/5f923934d84bc236b001d067b2a3cae64bbe37b3 (`0029_coupon`).

`0029_coupon` adds model with field `Coupon.livemode` defaulting to `False` which should be `None` -

[2017-05-22 09:10] twidi commented on #512
Having separate DBs sounds like a great idea, but could have some implications (I "hack" dj-stripe to use the test stripe mode as the source of truth for plans and then sync them to live mode... but it could easily be done with two DBs. In fact I cannot really see strong cons)

Another way I just thought of for ids: each object have a method to compose a "composite key", then the real key could be

[2017-05-27 11:30] isaac-jordan opened #516 "Basic payment process"
I'm setting up dj-stripe for a website which needs a subscription payment to access. What's the simplest payment process I can set up for my users? Using the (old) default templates leads to a process like:

1. Sign-Up
2. Verify email
3. Log-in
4. Enter card details for django db
5. Select plan
6. Enter card details again for Stripe pop-up
7. Pay and Wait
8. Access service

It seems like the card

[2017-05-27 12:23] twidi commented on #516
My process is :

Log in
Confirm email
Select a plan
If no source, ask for credit card details via the stripe button
Subscribe to the plan

[2017-05-27 13:11] isaac-jordan commented on #516
@twidi By source do you mean a card in the Django DB, or some kind of link to a card in Stripe for that user?

[2017-05-28 12:37] twidi commented on #516
I use the stripe "checkout" (just need an empty form and the stripe js) that will submit the form with a "source" token, Then in my view I use `customer.add_card(token)` (a dj-stripe method). That's all. dj-stripe call stripe, then populate what it needs to, I do nothing more. Then I just later subscribe my customer to a plan and everything is automatic.

[2017-05-30 01:05] kavdev commented on #511
@jleclanche yeah it's a damn mess. A long time ago, it was a lot simpler. We can probably get rid of most of this when we implement multi-plan subscriptions

[2017-05-30 01:08] kavdev commented on #512
I'd be all for this if the stripe id was consistent and unique for all objects. Maybe one day stripe will decide to expose stripe ids for everything

[2017-05-30 01:12] kavdev commented on #516
guys, this type of question should be posted to StackOverflow.

[2017-05-30 01:12] #516 closed, assigned to nobody

[2017-05-30 01:13] kavdev commented on #515
@jleclanche

[2017-05-30 04:29] kavdev commented on #75
See #471, etc.

[2017-05-30 04:29] #75 closed, assigned to nobody

[2017-05-30 04:29] jleclanche commented on #75
The last part of this landed in #505!

`Subscription.discount` is not implemented. We'll push that for later.

[2017-05-30 04:45] jleclanche opened #517 "Allow usage of native Postgres JSONField"
I want to figure out how we can do this. In my fork I just replaced the JSONField import by the native one and it works perfectly. A setting maybe?

[2017-05-30 04:48] jleclanche commented on #429
mock_django is gone.

[2017-05-30 04:48] #287 closed, assigned to nobody

[2017-05-30 04:57] kavdev commented on #515
We think this was fixed in one of the newer commits

[2017-05-30 04:57] #515 closed, assigned to nobody

[2017-05-30 05:25] jleclanche commented on #515
@lskillen can you confirm this is fixed?

[2017-05-30 05:27] jleclanche commented on #404
This has been dropped in #489 so we can close this.

[2017-05-30 06:29] alexsmkn commented on #515
It was fixed by migration from #505. Thanks!

[2017-05-30 09:45] twidi commented on #517
It's a really great idea. I needed this to be able to filter plans based on metadata. So I did this locally via a setting which is the string of the import path of the field.

The only problem is: if the user change the setting, it will generate a new migration as if dj-stripe were a dev lib. But it's not. Definitely something to investigate about. A solution, for this: provide each model as a abs

[2017-05-30 10:23] lskillen commented on #517
@twidi Yep, you're thinking along the same lines as our (me, @kavdev, @jleclanche) previous discussion on gitter to abstract the difference so that the migrations have a consist object to work with.  A quick search reveals (unsurprisingly) that this has been [discussed elsewhere](https://groups.google.com/forum/#!topic/django-developers/zfred27yVPg), and given the lack of progress there's probably

[2017-05-30 16:32] AfolabiOlaoluwa opened #519 "A better documentation reflecting dropped support"
I like to use this package to implement Stripe Connect with my marketplace app, however, I can see changes 12 hours ago and no documentation reflects the changes/deprecated modules.

[2017-05-30 18:00] bytesoverflow commented on #275
Why am I being asked to upgrade to django 1.8 or higher when I'm running django 1.11.1?

[2017-05-30 18:33] kavdev commented on #519
@AfolabiOlaoluwa See #307

[2017-05-30 18:34] kavdev commented on #275
@tobydeh see #307. We haven't cherry-picked that fix into master and won't because we're about to release 1.0.0

[2017-05-30 18:45] #404 closed, assigned to nobody

[2017-05-31 09:25] isaac-jordan commented on #404
Will djstripe auto pull down plans upon start-up, or is a management command (or otherwise) required?

[2017-05-31 18:12] kavdev commented on #404
@Sheepzez the latter

[2017-06-01 10:38] AfolabiOlaoluwa commented on #519
@kavdev, thanks you so much for the reference. However, I see no documentation for StripeConnect in the Release Doc.

[2017-06-01 16:10] kavdev commented on #519
@AfolabiOlaoluwa no worries! That's simply because we don't officially support it yet. There are, however, hooks in the package that allows most of Stripe connect to work (as you've noticed)

[2017-06-01 16:49] jleclanche commented on #472
Think this is going to happen for 1.0?

[2017-06-02 20:06] jleclanche opened #521 "Test failures on Django 1.11.2"
We were wondering on Gitter why coverage dropped in Django 1.11.0 and 1.11.1. Well, with Django 1.11.2, the tests now outright fail. I don't know if it's related, I suspect it is. @lskillen can you help figure this one out?

[code]

[2017-06-02 21:39] lskillen commented on #521
@jleclanche From gitter:

Looks like the sub-crashes (that ultimately are causing the get_or_creates to fail) are related to django-jsonfield.  The above commit fixes the exact location of the crash located at:

[code]

I'm not sure it's actually related to the oddness seen in the coverage drop.

[2017-06-03 21:21] jleclanche commented on #521
So this is definitely not related, after adding some bjson tests this error does not trigger there. This issue is a matter of waiting for a new jsonfield release.

[2017-06-03 22:27] jleclanche opened #524 "Dropped coverage on Django 1.11"
Tracking issue for Django 1.11 dropped coverage.

On Django 1.11, coverage has dropped in one very specific place: `Card.remove()`:

[code]

In the following method, the final `except` is never raised. Now, this is supposedly harmless, but we want to understand why before we greenlight Django 1.11.

This try/except was added by yours truly in commit 942ced2e0d19eeda923e188034e87082bccc7022. That c

[2017-06-03 22:29] jleclanche commented on #524
cc @vdboor

[2017-06-03 23:58] lskillen commented on #524
Is the last bit a red herring, perhaps?  It looks like they used to hardcode the class names but this was fixed in the following commit: https://github.com/django/django/commit/48826aa541f3a043690b90aa96f3fc07b7bc9fa9#diff-5b0dda5eb9a242c15879dc9cd2121379 ... which is no help at all, I know.  But if true, at least we know it's not because the QuerySet class is different!  This is a frustrating one

[2017-06-04 00:25] twidi commented on #524
Do you use v1.2 of polymorphic that officially supports django 1.11?

[2017-06-04 00:29] twidi commented on #524
It seems that they adapted the code following a change in django 1.11, related to the queryset iteration: https://github.com/django-polymorphic/django-polymorphic/commit/dbad7bd40dfdb63801095bdaf94509cd51c6c5cf

(not sure if really related, though! I was looking for important changes in this release)

[2017-06-04 00:36] lskillen commented on #524
@jleclanche: Looking at this from a different angle - In the `Card.remove()` code, we're saying that we *expect* that `delete()` might throw a `StripeCard.DoesNotExist` exception, which it does in Django 1.10.  As pointed out this originates when`django-polymorphic` tries to refetch the object via `attr = model.base_objects.get(pk=self.pk)` in order to get the name attribute.

It doesn't throw the

[2017-06-04 00:38] lskillen commented on #521
@dmkoch The ball's in your court!  We'll be patiently waiting on a new `django-jsonfield` release. :-)

[2017-06-04 04:54] jleclanche commented on #524
@lskillen Unless I misunderstand you, it's not a refetch, it's a prefetch of the related objects. In Django 1.11, the prefetch succeeds (into a PolymorphicQuerySet) whereas on Django 1.10, it fails.

I haven't looked at what changed in polymorphic itself because I used the same version for both 1.10 and 1.11 (the latest one, 1.2).

[2017-06-04 09:40] lskillen commented on #524
Confirmed on the red herring at least (this is Django 1.10):

[code]

As for the refetch, said this on gitter:

[2017-06-04 10:48] jleclanche commented on #524
Wee! We figured it out together on Gitter.

`Card.stripesource_ptr` is, on Django 1.10, a `ForwardManyToOneDescriptor`. On Django 1.11 however, it is a `ForwardOneToOneDescriptor` which was added in django/django@38575b007a722d6af510ea46d46393a4cda9ca29 and is a subclass of the former.

That means that [this if type(...) check falls through](https://github.com/django-polymorphic/django-polymorphic

[2017-06-04 11:03] lskillen commented on #524
@jleclanche and I did a bit of sleuthing this morning, and it's due to `ForwardOneToOneDescriptor` being added in Django 1.11 in https://github.com/django/django/commit/38575b007a722d6af510ea46d46393a4cda9ca29 - which breaks the following code that adds attribute wrappers to superclasses within [django-polymorphic](https://github.com/django-polymorphic/django-polymorphic/blob/master/polymorphic/mo

[2017-06-04 11:04] jleclanche commented on #524
PR submitted: https://github.com/django-polymorphic/django-polymorphic/pull/291

[2017-06-04 15:30] jleclanche commented on #307
Most likely the last blockers for 1.0:

* #521 - fixed upstream, waiting for a release (dmkoch/django-jsonfield#189)
* #524 - filed PR (django-polymorphic/django-polymorphic#291), waiting for it to land + a release

[2017-06-05 01:49] jleclanche commented on #496
I.. uh, I have another idea:

![image](https://cloud.githubusercontent.com/assets/235410/26767623/53120acc-49aa-11e7-8ac2-68d0eb9c2e1d.png)

[2017-06-05 01:57] jleclanche commented on #496
svg (cc0)
[code]

[2017-06-05 06:42] jmichelsen commented on #473
Is this just to clean up dependencies? Or is there something wrong with `model_utils`? I still see it recommended in Two Scoops so just wondering.

Would creating a project local mixin that provided the same functionality (same field names/types) save you a migration and still remove the dependency?

[2017-06-05 06:47] jleclanche commented on #473
It's probably just a matter of updating the migrations ... I don't think they're needed. But yes this is a cleanup job; we no longer depend on model_utils, the migrations do.

[2017-06-05 07:07] jmichelsen commented on #473
Ah right. Understood.

[2017-06-05 13:32] jleclanche commented on #412
This particular bug was fixed in 601c4d7efc6ac83b7234b2e938fb6c80c5b906ca. Tracking the followup issue in #497

[2017-06-05 13:32] #412 closed, assigned to nobody

[2017-06-05 13:37] jleclanche commented on #519
Stripe Connect is mostly unimplemented. #492 #494 track a couple of its issues; feel free to open new ones for specific functionality you'd like to see supported (it won't make the cut for 1.0 though).

Regarding dropped support/deprecated stuff etc, there's no point in spending time on transitional documentation anymore imo. #307 has an excellent migration guide and migration notes, but given tha

[2017-06-05 13:37] #519 closed, assigned to nobody

[2017-06-09 16:47] #517 closed, assigned to nobody

[2017-06-11 23:17] dkvdm opened #527 "get() returned more than one InvoiceItem"
Once in a while I'm running into an issue with one of my webhooks, giving me an error regarding `get() returned more than one InvoiceItem -- it returned 2!`.

[code]

Any idea why this happens? it specifically did for invoice.payment_succeeded (which processed fine in the past). Version 0.8.0

[2017-06-11 23:19] jleclanche commented on #527
What's your API version on your dashboard?

[2017-06-11 23:20] dkvdm commented on #527
2016-07-06

[2017-06-11 23:22] jleclanche commented on #527
That could be an issue... We're on 2017-02-14 officially and I know some stuff broke in January. OTOH the latest API version isn't supported either...
I've never seen this issue before. Can you reproduce it with test data?

[2017-06-11 23:27] dkvdm commented on #527
Unfortunately I cannot, it seems it has something to do with `invoice.items.get_or_create()` when iterating over `stripe_invoice["lines"]`, somehow this returns a double InvoiceItem. It's also weird because the data for this specific webhook only had 1 line: `"total_count":1,`

Edit: in addition, I only see one event logged for `invoice.created` prior, which pretty much has the same payload in ter

[2017-06-11 23:46] jleclanche commented on #527
Did you mess with your database constraint enforcement? `stripe_id` is unique and cannot be the same.

[2017-06-12 03:07] dkvdm commented on #527
Nope, I did not.

[2017-06-12 03:24] jleclanche commented on #527
What's your db engine?

[2017-06-12 03:44] dkvdm commented on #527
Postgres. I'm thinking maybe this multitenant middleware is causing issues? https://github.com/tomturner/django-tenants

[2017-06-12 03:53] jleclanche commented on #527
Possibly. @lskillen any thoughts?

[2017-06-12 09:11] lskillen commented on #527
Having a look at the code now but it almost sounds like the retrieval portion of get_or_create for invoices/items isn't working correctly, and it's attempting to create it twice in a row.  I'm not familiar with `django-tenants` and I don't personally run Postgres, so I can't comment on those for this.  I don't recall seeing this in production either though (but not saying it is related to those).

[2017-06-12 09:23] lskillen commented on #527
Hmm, it makes me wonder if it's related to [these lines of code](https://github.com/dj-stripe/dj-stripe/blob/1.0.0/djstripe/stripe_objects.py#L383-L392) when processing invoice items for an invoice (seems suspicious):

[code]

As in, is there a condition in which we expect this to happen, but it doesn't?  The invoice item ends up taking the stripe_id from the invoice, but doesn't qualify it, thus

[2017-06-12 09:27] jleclanche commented on #527
I don't think so; those were something else when I looked into it.

@flxfxp i just noticed you're running a pretty old version of dj-stripe... please try the current 1.0.0 branch.

[2017-06-12 10:53] lskillen commented on #527
He'll also have to fix the duplicates in the database manually, unfortunately.  You're right though, I missed that the specified "Version 0.8.0" at the bottom, and for some reason interpreted that as "upgraded from version 0.8.0 to 1.0.0". ;-)  In this case the problem might be the inverse of what I said above, the code above will actually *fix* the issue encountered by differentiating the invoice

[2017-06-13 08:51] alexsmkn commented on #247
I'm missing that feature now.

Agreed with @jleclanche.

Tuples should not be used. It is better to move currency + amount fields and related functionality to separate abstract model to be used elsewhere.

In this case problem with wrong amount values may arise.
To solve it I can offer to restrict direct access to amount field and allow to use setters for integers in smallest currency unit format

[2017-06-13 08:59] alexsmkn commented on #247
That abstract model can be bundled with getter properties for amount. They can be used for presentation with respect to currency as float and currency sign.

[2017-06-13 20:53] kavdev opened #528 "Consider setting the version number to the commit sha on master"
see also https://github.com/pyfidelity/setuptools-git-version

When installing django master, for instance, the version has the sha in it. This prevents stale installations

[2017-06-15 06:43] jleclanche commented on #524
I'm closing this, it's in the hands of polymorphic now.

[2017-06-15 06:43] #524 closed, assigned to nobody

[2017-06-15 06:45] jleclanche commented on #521
Closing this; we're just waiting for a new jsonfield release now.

[2017-06-15 06:45] #521 closed, assigned to nobody

[2017-06-19 17:46] dkvdm commented on #527
I'd love to fix this by upgrading to 1.0.0, but as I have some extensive changes deployed I'd love to know what the major changes are. Is there any word on a migration guide yet? Can I help in any way?

[2017-06-19 21:53] jleclanche commented on #527
Full guide in #307.

[2017-06-19 21:53] jleclanche commented on #527
I'm closing this, it seems unlikely to still be an issue.

[2017-06-19 21:53] #527 closed, assigned to nobody

[2017-06-19 22:11] dkvdm commented on #307
RE: #521 - jsonfield 2.0.2 got released today.

[2017-06-20 18:03] dkvdm commented on #307
RE: #524 - merged, waiting for new django-polymorphic release.

[2017-06-23 09:17] lskillen opened #530 "Received 'invoice.upcoming' webhook"
At 2:17am this morning we received an 'invoice.upcoming' event via web hooks that ultimately caused our production deployment to skip a beat:

[code]

For completeness here is an example of the event body:

[code]

This isn't an event that is described by the API (that I could see), so my assumption is that this was an error on Stripe's part, and that this is an upcoming (no pun intended) event th

[2017-06-23 12:18] lskillen commented on #530
Yep, it's a new event that hasn't been publicly documented yet, here's the response from Stripe:

So yep, fix is 100% necessary!

[2017-06-23 12:23] jleclanche commented on #530
Sweet. Although it's kinda weird they don't let you disable that.

[2017-06-23 18:39] tkwon opened #531 "Fixing redundant Customer objects"
This might be unique to my situation but somehow I created multiple Customers for the same email. I am always using Customer.get_or_create so I'm not sure how it happened. The main problem now is I am having difficulty deleting the Customer because there are so many ForeignKey dependencies. I.e. StripeSource, Event etc. If I don't delete them I get an error message about retrieving multiple Custom

[2017-06-23 19:02] jleclanche commented on #531
If you delete a customer you can pretty safely cascade.

Duplicate customer issues should be fixed in current master with our idempotency keys.

[2017-06-23 19:12] tkwon commented on #531
I cannot view the Customer list in the admin due to multiple subscriptions and hence cannot delete. I suppose I have to write a script to do it.

![multiplesubscriptionexception at 411 djstripe customer](https://user-images.githubusercontent.com/311161/27496990-3b1a7cb2-580d-11e7-9faf-e84cc56a64bd.png)

[2017-06-23 19:14] jleclanche commented on #531
are you running master?

[2017-06-23 19:19] tkwon commented on #531
No. I had to fork it awhile ago due to Stripe Connect functionality. Looks like we tried to merge some newer code but that branch was never fully merged.

[2017-06-23 19:29] jleclanche commented on #531
There's your problem then. And for what it's worth contributing the stripe connect functionality back would be easier for everyone.

[2017-06-24 12:05] twidi commented on #531
It may not be a good idea to forbid many customers for the same email.

For a saas mode, we can have personal accounts and organizations accounts, with different billiing, so different customers, but they may share the same email.

[2017-06-24 12:09] jleclanche commented on #531
Our idempotency key system just ensures that the customer:user mapping never exceeds 1:1.

[2017-06-24 12:14] twidi commented on #531
No problem, it's why I maintain my own fork. I just wanted to alert you that it may not be a so good idea ;)

Keep the good work!

[2017-06-24 12:19] jleclanche commented on #531
What I mean is that if you allow multiple emails per user, there's nothing in dj-stripe preventing multiple customers per email.

[2017-06-25 14:21] jleclanche commented on #530
Why doesn't this work?

https://github.com/jleclanche/dj-stripe/commit/cb0cfa69841dd396ca59b6a741fa7aa2885800bd

[2017-06-25 17:41] lskillen commented on #530
From gitter:

[2017-06-27 23:17] tkwon commented on #531
Does dj-stripe currently allow multiple subscriptions per customer? The error message I get for admin complains there are multiple subscriptions.

I have merged in the latest 1.0.0.

[2017-06-27 23:29] jleclanche commented on #531
It should, yes.

[2017-06-27 23:49] #531 closed, assigned to nobody

[2017-06-27 23:55] tkwon opened #534 "Admin view for Customer objects fail when customer has multiple subscriptions"
I can't send in a PR because I'm using a fork. However, I believe this is a bug. My system allows multiple subscriptions per user. When attempting to view Customer list in admin I get an error

In djstripe.admin there is a list display using _subscription_status_

[code]
https://github.com/dj-stripe/dj-stripe/blob/1.0.0/djstripe/admin.py#L281

which calls:

[code]
https://github.com/dj-stripe/dj-s

[2017-06-28 04:32] tkwon opened #535 "Latest commit on 1.0.0 missing migration"
I merged the latest code with my fork and it appears there is a missing migration. Running makemigrations gives me:

[code]

[2017-06-28 15:36] isaac-jordan opened #536 "Webhook Signature Verification"
Stripe has the ability to sign webhook requests in order to verify the hooks are coming from Stripe, does dj-stripe have any implementation to verify these checks yet?

If not, I'd like to put that in as a feature request.

https://stripe.com/docs/webhooks#signatures

[2017-06-28 16:53] lskillen commented on #536
Yep, sounds good - we had already discussed this briefly in the gitter channel. It would definitely make a good addition and the underlying Stripe library already has support for it so it'd be relatively easy to implement. If you'd like to kickstart the process with a PR, that would be even better, but if not we'll put it on the stack and it'll be implemented in due course. :-)

[2017-06-28 16:57] lskillen commented on #535
This will become a less frequent occurrence now that we've added a utility for checking and generating migrations. It's going to become part of the Travis build process to check that migrations are complete, so it'll be less likely that they'll be missed. We're also planning on performing a squash (in the most graceful way possible) prior to the full 1.0.0 release, but in the meantime if you submi

[2017-06-28 17:00] lskillen commented on #534
Yep, you're right - I think I've hit this problem elsewhere personally, so we'll need to sort this out in a way that's more consistent with the multiple subscriptions (and now multiple plans per subscription, but that's another topic for another issue).

How significant of a departure is your fork? You should really think about re-baselining if possible, and then extending the library either via P

[2017-06-29 00:31] tkwon commented on #534
I'm a self-taught hack so I'm worried about submitting crappy code. But I'll see what I can do.

[2017-06-29 01:17] jleclanche commented on #534
We all start somewhere :) Do what you can and we can review and help fix issues.

[2017-06-29 21:14] kbrownlees commented on #530
I just hit this as well, very annoying they don't let you disable it. From the configuration page: "Event will only be created if billing period is longer than xx days". I use monthly billing so have set it to 45 days, Hopefully that fixes it for me in the short term.

Is there a reason _handle_crud_type_event tries to process events that are not CRUD? Or is it actually a more generic handler?

[2017-06-30 15:59] lskillen commented on #530
@kbrownlees You're right, it's actually just a generic event handler, so perhaps we'll rename it.  All it does is apply the event onto existing objects, which is why it breaks for `invoice.upcoming` (the objects don't exist).

[2017-07-04 14:14] #535 closed, assigned to nobody

[2017-07-05 02:35] justinrporter opened #538 "Middleware in Django == 1.10"
Hi all,

I hope this hasn't already been addressed--I searched around on the issue tracker and tried with with the 1.0.0 branch pulled from github, commit `4c4ba92` (using python 3.6).

When I add the middleware `djstripe.middleware.SubscriptionPaymentMiddleware` and run `./manage.py runserver`, I get:

[code]

Which seems like it could be a Django >= 1.10 middleware compatibility issue, as outlin

[2017-07-05 04:00] wedwardbeck opened #540 "UserWarning Django 1.11+"
I'm getting the following warning on running Django with dj-stripe and I think it is similar to issue [359](https://github.com/dj-stripe/dj-stripe/pull/359).
"UserWarning: dj-stripe deprecation notice: Django 1.7 and lower are no longer
supported. Please upgrade to Django 1.8 or higher."

I've got Django 1.11 installed with dj-stripe.  Not creating any issues I can see, but is an incorrect warning

[2017-07-05 04:05] wedwardbeck commented on #540
I see this actually related to https://github.com/pydanny/dj-stripe/issues/275

[2017-07-05 04:05] #540 closed, assigned to nobody

[2017-07-05 04:37] jleclanche commented on #540
If you're doing a fresh setup of dj-stripe please make sure to use the 1.0.0 branch.

[2017-07-05 17:03] MarcMacia opened #541 "2017-05-25 api change breaks events by changing a request id with a request object"
Hello everybody!

I'm using the last commit of this package and I'm testing the webhooks in my project but the events that I'm receiving have a request_id field larger than the maximum 50 characters specified by the StripeEvent model. That causes an error when tries to save the event in db:

Does anybody know what is happening? For example the request_id that I am receiving from Stripe is like thi

[2017-07-05 19:41] jleclanche commented on #541
req_Ay8yMOlpSkyEUC is definitely not 50 characters.

Is it trying to interpret `{u'idempotency_key': None, u'id': u'req_Ay8yMOlpSkyEUC'}` as a request id?

[2017-07-05 22:21] MarcMacia commented on #541
Exactly, it is interpreting the dict: `{u'idempotency_key': None, u'id': u'req_Ay8yMOlpSkyEUC'}` as the request_id.

I printed the request_id just before the [save()](https://github.com/dj-stripe/dj-stripe/blob/1.0.0/djstripe/models.py#L556) and I got the dict. Also printing the request_id just after creating the event from the stripe object [in the view](https://github.com/dj-stripe/dj-stripe/blo

[2017-07-05 22:25] jleclanche commented on #541
Does it work better on Python 3?

[2017-07-05 22:32] MarcMacia commented on #541
I only tested it in python 2.7. Tomorrow morning I will prove to see how it works in Python 3. Thanks for the quick reply.

[2017-07-05 22:46] kavdev commented on #538
@justinrporter thanks for the report! If you submit a PR with the tests to catch this, we'll work with you to get a PR in if you're up for it.

[2017-07-06 10:53] MarcMacia commented on #541
Done.

I've tested with Python 3 with the same result. Now the request_id looks like: `{'id': 'req_AyTn2tPwdIAoQS', 'idempotency_key': None}` (without the u'..'). Clarify that I am using MySQL as database.

Next, I've tested with sqlite as db with no error. But if I check the Events stored in the DB I can see that it's saving the dict in the request_id field (that have more than 50 characters):

!

[2017-07-06 11:08] MarcMacia opened #542 "Drop DJSTRIPE_PLANS in docs"
You removed support for DJSTRIPE_DEFAULT_PLAN setting a month ago. It would be good to remove the DJSTRIPE_PLANS settings also in docs/installation.rst and README.rst in order to avoid misunderstandings.

[2017-07-06 13:40] justinrporter commented on #538
The thing is I have no idea how to test it or, for that matter, why the existing tests didn't catch it. Because the problem occurs when you so much as just add the middleware and hit `runserver`, I would expect _every_ middleware-related test to fail.

That's why I didn't just open a PR in the first place. Do you have a thought as to what could be going on?

[2017-07-06 17:01] kavdev commented on #542
Yep, it's in the works

[2017-07-06 17:03] kavdev commented on #541
@jleclanche I'm assuming is an api change on stripe's part

[2017-07-06 17:10] kavdev commented on #541
Seems unlikely though. @MarcMacia can you post a webhook payload?

[2017-07-06 17:27] MarcMacia commented on #541
Sure, webhook that I receive modifying a Plan name in the Stripe dashboard:
[code]

[2017-07-06 17:32] kavdev commented on #541
@jleclanche line 28

https://stripe.com/docs/upgrades#2017-05-25
https://stripe.com/docs/api#event_object-request

[2017-07-06 17:45] jleclanche commented on #541
so it is an API change...

bleh. The problem is that any work towards these more recent versions involves the payouts refactor...

[2017-07-06 18:02] kavdev commented on #541
yup. 1.0.2?

[2017-07-06 18:07] jleclanche commented on #541
probably, unless someone else wants to work on it before polymorphic's release. I'm short on time this month for dj-stripe so I can't get to this myself but I can probably help on gitter.

It's moving slowly so I expect we still have a few days, and there's still the migration to take care of.

[2017-07-07 12:04] mbaragiola commented on #542
What's the proper way of adding plans now?

[code]

and

[code]

both throw:

[code]

Thanks in advance!

[2017-07-07 12:11] isaac-jordan commented on #542
I believe you should create the plans in the Stripe dashboard, and sync then with a management command such as:

[code]

This seems to work well for me. Not sure if it's the intended method though.

[2017-07-09 14:25] justinrporter commented on #538
#543

[2017-07-09 15:29] justinrporter opened #544 "'djstripe:confirm' url"
The default `djstripe/subscribe.html` template includes a url reversal to `djstripe:confirm`, which doesn't appear in `urls.py`.

I found #428, which makes it sound like it's on me as the dev to implement this, which is fine, but I can't find any discussion anywhere of how that's done.  Based on the name and where it is in the workflow, it sounds like this URL is supposed to tell Stripe that the u

[2017-07-12 21:04] jleclanche opened #546 "Implement latest() / earliest() lookups"
Leaving this issue as a reminder to myself to implement get_latest_by etc so that we can use those queryset lookups. Can use stripe_timestamp for most models.

[2017-07-13 21:01] askpatrickw commented on #497
@kavdev  Just to give it a shot I tried your suggested change it still failed, but then I noticed that the error output says one of the valid options is djstripe_customers, so I tried this:

[code]

I ran `python manage.py djstripe_init_customers` and it completed successfully.

I have very limited knowledge of this project, but if you think that looks like the fix, I'm happy to submit a PR.

[2017-07-13 21:25] kavdev commented on #497
@W7PEA yep, that's the fix. This was changed after we realized there could be confusion between djstripe customers and stripe customers.

https://github.com/dj-stripe/dj-stripe/blob/1.0.0/djstripe/models.py#L158

[2017-07-17 23:50] lskillen commented on #544
I'm not sure if it'll make it in for 1.0.0, but we'd like to reinstate the old views/templates as an example project that demonstrates dj-stripe integration.  If it helps you can look at what the views used to be like [prior to them being removed](https://github.com/dj-stripe/dj-stripe/blob/4034f436416dedb79fd54ee6a8fdd67a3a18c435/djstripe/views.py).

[2017-07-18 22:19] #497 closed, assigned to nobody

[2017-07-19 16:03] martinzugnoni opened #548 "Best practice to keep data consistent between Django and Stripe Subscriptions"
Hey guys, I loved this library. But I'm having some doubts about which is the best way to use dj-stripe with the Stripe automatic subscriptions payments.

When I assign a Customer to a Plan in Stripe, they charge the Customer's CC regularly based on the Plan details. After some time, I will have some payments information in Stripe, that won't be in the Django DB. Which is the best way of keeping t

[2017-07-19 16:10] jackappleby commented on #548
Are you receiving webhooks from Stripe to your site? (https://dj-stripe.readthedocs.io/en/latest/settings.html#djstripe-webhook-url-r-webhook) Stripe will send events to the URL and DJ-Stripe will process and record events (invoices, customer updates, etc) in the DB

[2017-07-19 16:18] martinzugnoni commented on #548
Oh, that makes total sense @jackappleby, thanks a lot.

Last question. What's a valid use case for the `djstripe_sync_customers` command then?

Thanks!

[2017-07-19 16:31] jackappleby commented on #548
Someone correct me if I'm wrong, but I think that is just used on a clean install of DJ-Stripe and if one already has customers in Stripe. So a 'use once, if needed' command. After that, webhooks are the way to auto-sync (https://stripe.com/docs/webhooks)

[2017-07-19 16:37] martinzugnoni commented on #548
That clarifies all my questions. Thanks again, @jackappleby.

[2017-07-19 16:37] #548 closed, assigned to nobody

[2017-07-19 16:45] jleclanche commented on #548
You can use it to sync your existing users from before you hooked up stripe, so that they have a matching customer in the stripe db.

It's not required, seeing as the first time you do a Customer.get_or_create() a matching one will be created for you.

[2017-07-23 19:36] justinrporter commented on #544
Awesome. That's super helpful, thanks! 👍

[2017-07-23 19:37] #538 closed, assigned to nobody

[2017-07-23 20:50] lskillen commented on #544
You're welcome!

[2017-07-23 20:50] #544 closed, assigned to nobody

[2017-07-28 11:58] misja commented on #156
For reference, I was also bitten by this. The error happens because the view bypasses creating and setting context data which includes the required `STRIPE_PUBLIC_KEY` variable. See https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/views.py#L91 where it should get context via `self.get_context_data()` first and update with any extra.

[2017-07-30 01:12] 6233114 opened #549 "djstripe customers not deleted"
I have a test website that will be using stripe and djstripe 0.8.0 for subscription payments.

I had the test data set up to test the payments system was working.

I then deleted the stripe test data.

However, when I open the django admin console and navigate to djstripe > customers, I have the following records displayed, but no users/customers attached to them:

https://i.stack.imgur.com/4t7Z9.

[2017-07-30 04:17] justinrporter opened #550 "Custom User Models"
Hi all,

Using python 3.6 and Django 1.10 with `dj-stripe==1.0.0.dev1`, I cannot use a custom user model. Interestingly (and, to me at least, myseriously), if I upgrade to Django 1.11, _it works fine_.

### Steps to reproduce
In a fresh project, I made a new app called `myapp`, which contains a single model called `MyUser`, which extends `AbstractUser` as described in the [docs](https://docs.djang

[2017-07-30 07:50] jleclanche commented on #549
Not sure why you're getting this error but for the time being you can do something like this:

[code]

[2017-07-30 21:32] justinrporter opened #551 "STRIPE_API_VERSION settings"
Hi all,

I'm working on a project using djstripe, and I'm using the latest version of the python stripe library (`stripe==1.62.0`). When I run my tests (for example), I get a warning that reads:

[code]

My present reading of this is that my app is configured to use an older version of the stripe REST API (not the python library-level API), which is not supported. My question is this: what should

[2017-07-30 22:28] the-webguys commented on #275
Hello

I am receiving two different errors, this:
UserWarning: dj-stripe deprecation notice: Django 1.7 and lower are no longer
supported. Please upgrade to Django 1.8 or higher.
Reference: https://github.com/pydanny/dj-stripe/issues/275
  warnings.warn(msg)
I am using: Django==1.11.3 | stripe==1.62.0

And this, when running the final command 'python manage.py djstripe_init_customers' i receive th

[2017-07-31 05:15] kavdev commented on #383
@rigothedev Same policy, but 1.0.0 is being used in production by many of us and seems quite stable.

[2017-07-31 05:16] kavdev commented on #275
@the-webguys Go ahead and switch to the 1.0.0 branch. You'll find the errors will disappear

[2017-07-31 05:19] the-webguys commented on #275
@kavdev sorry for my ignorance, how do i switch? since i used pip install, is there a different command i need to run?

[2017-07-31 05:24] kavdev commented on #550
IIRC, there was some bug in django 1.10 that caused this. Have you tried versions ``>=1.10,<1.11``

[2017-07-31 06:19] kavdev commented on #275
@the-webguys no worries! We've been slow to release the major version change.

``pip install git+https://github.com/dj-stripe/dj-stripe.git@1.0.0``

[2017-07-31 06:19] the-webguys commented on #275
you are a legend, thank you

[2017-07-31 06:28] the-webguys commented on #275
@kavdev any reason i am seeing this error
?: (djstripe.C003) Bad Stripe test API key.
        HINT: STRIPE_TEST_SECRET_KEY should start with "sk_test_"
The key is a test key lol

[2017-07-31 06:35] jleclanche commented on #551
Setting `STRIPE_API_VERSION` sets the version of the API for outgoing API calls. There's here and there minor differences between api versions, and seeing as dj-stripe currently being tested with `2017-02-14`, that's your best bet.

`2016-03-07` is quite old and definitely not supported anymore as there's a couple of changes that were made to dj-stripe to support backwards-incompatible changes fro

[2017-07-31 08:28] the-webguys commented on #275
solved it, i needed to change STRIPE_SECRET_KEY to STRIPE_TEST_SECRET_KEY

[2017-07-31 08:38] the-webguys commented on #275
@kavdev but i have a load of new issues, where is the best place to put this, do you have slack?

[2017-07-31 11:32] the-webguys opened #552 "AttributeError: 'tqdm' object has no attribute 'disable'"
I receive the following when trying to migrate
I am using the following to resolve another issue kavdev helped me with

- pip install git+https://github.com/dj-stripe/dj-stripe.git@1.0.0
Thanks in advance

[code]

[2017-07-31 17:49] allthetime commented on #383
@rigothedev we've been using this for half a year now without issue to manage multiple recurring subscriptions

[2017-07-31 18:28] justinrporter commented on #550
Yeah, it works just fine in `django==1.11.3`. Sorry if this a duplicate--I searched through the issue tracker and didn't see anything!

[2017-07-31 18:32] justinrporter commented on #551
Sorry to be dense here--you're saying that overriding `STRIPE_API_VERSION` myself in `settings.py` is a reasonable course of action here? (I ask because prior to seeing the warning, I didn't actually set a value.)

[2017-07-31 18:34] jleclanche commented on #551
If you didn't set a value it should default to 2017-02-14.

[2017-07-31 18:56] justinrporter commented on #551
Hm. That's what I expected at first, too, based on my reading of the error message, so I did a `grep "_API_" $( find . -name "*.py" )` on my project directory and it didn't come up with anything. I also tried commenting out the single line in my settings where I say `STRIPE_API_VERSION = '2017-02-14'` and the error comes back.

Oddly, it was only after I rebuilt my development database in Django 1

[2017-07-31 22:17] kavdev commented on #550
@justinrporter did you mean ``1.10.3``?

[2017-07-31 22:24] kavdev commented on #275
@the-webguys stackoverflow is the best place to post the question, then just ping us about it on gitter

In the meantime, this is the setup I've used for a multi-server (prod, staging, etc.) setup that doesn't keep track of live and test data in the same db. I change the key in the environment for each server.

[code]

[2017-07-31 22:32] kavdev commented on #275
@the-webguys only go to stackoverflow if it's a question on how to configure or set up dj-stripe; if you find a possible bug, file an issue 👍

[2017-07-31 22:33] the-webguys commented on #552
@kavdev not sure what that means. Do you need any more info?

[2017-07-31 22:34] kavdev commented on #552
@the-webguys nope; just read through the stacktrace. Ignore my comment. Give me a couple mins to think it through

[2017-07-31 22:37] the-webguys commented on #552
@kavdev it looks like a column issue, possible typo...

`Unknown column 'djstripe_customer.coupon_id`

[2017-07-31 22:53] kavdev commented on #552
Yeah seems like it's a migration dependency linking issue:
https://github.com/dj-stripe/dj-stripe/blob/1.0.0/djstripe/models.py#L162

[2017-07-31 22:53] justinrporter commented on #550
Sorry that was kind of unclear.  Whichever `1.10.x` that I was on (which I can no longer find--oops) had the error, whereas `1.11.3` did not.

That's consistent with your recollection/comment above, right?

[2017-07-31 22:53] kavdev commented on #552
(maybe)

[2017-07-31 22:55] kavdev commented on #550
I was wondering if a newer version of the 1.10 branch you were on also had the bug. I'll keep this open until I have time to research further.

[2017-07-31 22:55] the-webguys commented on #275
@kavdev what would be the test mode for this?
STRIPE_LIVE_MODE = get_env_variable("STRIPE_LIVE_MODE")
STRIPE_TEST_MODE ?

[2017-07-31 22:56] kavdev commented on #275
@the-webguys ``STRIPE_LIVE_MODE`` is a boolean

[2017-07-31 22:58] the-webguys commented on #275
@kavdev would this work?
STRIPE_LIVE_MODE = false

[2017-07-31 22:59] kavdev commented on #275
@the-webguys with a capital F, yes 😉

[2017-07-31 23:06] justinrporter commented on #550
Oh I see--sorry for being dense. I tried `Django==1.10`, `Django==1.10.6`, and then I tried cloning `stable/1.10.x` from github (which I guess is the same as `1.10.8.dev20170609164328`), and those all displayed the bug.

[2017-07-31 23:08] the-webguys commented on #275
@kavdev
In the install / setup, the examples are
`STRIPE_PUBLIC_KEY = os.environ.get("STRIPE_PUBLIC_KEY", "pk_test_XXXXXXXXXXXXXXXXX")`
 but here you use
`STRIPE_SECRET_KEY = get_env_variable("STRIPE_SECRET_KEY")`
i just receive an error
`NameError: name 'get_env_variable' is not defined`

[2017-07-31 23:10] kavdev commented on #550
Okay cool, thanks. I think this might actually be an issue with django-polymorphic which we've fixed; I'll confirm that when I have some time.

[2017-07-31 23:11] kavdev commented on #275
@the-webguys yeah sorry that's just an example from a product of mine (I'm essentially using the env method described in Two Scoops).

Go ahead and use the format described in the docs

[2017-07-31 23:13] the-webguys commented on #275
@kavdev
which should be just the following 2 lines, of do i need the `STRIPE_LIVE_MODE = False` also
[code]

[2017-07-31 23:14] kavdev commented on #275
yep. also ``STRIPE_LIVE_SECRET_KEY = STRIPE_TEST_SECRET_KEY = STRIPE_SECRET_KEY`` if you're not splitting up the keys

[2017-07-31 23:15] the-webguys commented on #552
@kavdev looking at the database table - djstripe_customer - it seems to be missing the coupon row
![image](https://user-images.githubusercontent.com/27110030/28802492-8d73fe98-764e-11e7-802f-8ac5adb2bb0a.png)

[2017-07-31 23:18] isaac-jordan commented on #551
I've had similar problems with djstripe saying the STRIPE_API_VERSION is incorrect, even though I haven't set it anywhere in my project. I just added a line explicitly setting it to the version djstripe expected, definitely seems unintended behaviour though.

[2017-07-31 23:19] the-webguys commented on #275
that's a little confusing, the way i have it now with `STRIPE_LIVE_MODE = False` will or should work, as they are?
Sorry, I am fairly new to django

[2017-07-31 23:20] the-webguys commented on #275
as follows:
[code]
gives the following error
`HINT: STRIPE_TEST_SECRET_KEY should start with "sk_test_"`

[2017-07-31 23:22] kavdev commented on #275
@the-webguys it has to do with the way we're reading the variables. Technically you should be adding in both test and live keys explicitly.

For this to work as is, just add the following line:
``STRIPE_LIVE_SECRET_KEY = STRIPE_TEST_SECRET_KEY = STRIPE_SECRET_KEY``

[2017-07-31 23:22] the-webguys commented on #275
Do i replace STRIPE_TEST_SECRET_KEY with my test key?

[2017-07-31 23:23] kavdev commented on #551
@Sheepzez yep, sounds like a bug

[2017-07-31 23:24] kavdev commented on #552
yep. It's probably a bug. @jleclanche @lskillen

[2017-07-31 23:26] kavdev commented on #275
Ideally, you would set

``STRIPE_LIVE_SECRET_KEY``
``STRIPE_LIVE_PUBLIC_KEY``
``STRIPE_TEST_SECRET_KEY``
``STRIPE_TEST_PUBLIC_KEY``
``STRIPE_LIVE_MODE``

And populate them from the environment (hard-coding keys is bad practice)

[2017-07-31 23:30] the-webguys commented on #275
Think i have that correct, thanks again

[2017-08-01 01:04] jcugley opened #553 "dj-stripe telling me to upgrade to a Django 1.8 or higher, when I'm using Django 1.11"
Getting the following error:

`UserWarning: dj-stripe deprecation notice: Django 1.7 and lower are no longer
supported. Please upgrade to Django 1.8 or higher.`

In the same `python manage.py runserver` I'm getting the following output:

`System check identified no issues (0 silenced).
August 01, 2017 - 10:59:17
Django version 1.11.3`

Can't figure out why it thinks I'm not using an up-to-date ver

[2017-08-01 01:33] the-webguys commented on #552
Any thoughts on how to fix this?

[2017-08-01 03:08] kavdev commented on #553
Switch to the 1.0.0 git branch and the error will resolve itself

[2017-08-01 03:08] #553 closed, assigned to nobody

[2017-08-01 03:13] jcugley commented on #553
How?

[2017-08-01 04:23] kavdev commented on #553
@jcugley ``pip install git+https://github.com/dj-stripe/dj-stripe.git@1.0.0``

[2017-08-01 18:04] dkvdm commented on #307
[django-polymorphic 1.3 has been released](https://github.com/django-polymorphic/django-polymorphic/pull/291#issuecomment-319314217), we should be good to go from a technical dependency perspective: https://github.com/django-polymorphic/django-polymorphic/releases/tag/v1.3

[2017-08-01 18:14] kavdev commented on #307
@flxfxp agreed. I'm a bit worried about #552 though

[2017-08-01 18:37] dkvdm commented on #307
I was unaware of this issue. I agree that this should be fixed before moving forward with 1.0.0. I'll look into this later this week.

[2017-08-01 18:43] dkvdm commented on #552
I think there are two bugs happening in this issue. one is the missing column and one is an issue with tqdm on windows.

Please see the following issues for similar problems on windows and a possible fix: https://github.com/warner/magic-wormhole/issues/158 and https://github.com/tqdm/tqdm/pull/390

Can you try to migrate by upgrading tqdm to 4.15.0 and see if that fixes the "disable" attribute iss

[2017-08-01 19:37] the-webguys commented on #552
i have attempted to work through the tqdm posts, but i receive an error
![image](https://user-images.githubusercontent.com/27110030/28843478-3fedce5a-76f9-11e7-953b-86b2c28a7054.png)

[2017-08-01 19:44] the-webguys commented on #552
I have successfully installed 4.15.0 - but still the same error

![image](https://user-images.githubusercontent.com/27110030/28843712-20c4c7a8-76fa-11e7-9af2-38ee58f4c5ef.png)

[2017-08-01 19:51] dkvdm commented on #552
What version of python are you using? Judging from the error you're using Python 3?

[2017-08-01 20:03] the-webguys commented on #552
`python 3.6.1`
And, if this is any use:
[code]

[2017-08-01 22:01] dkvdm commented on #552
So what are you trying to accomplish in [this comment](https://github.com/dj-stripe/dj-stripe/issues/552#issuecomment-319474200)? As far as I can tell this is not related to the dj-stripe sourcecode and shows a code example of tqdm using the old form print statements. If you want to fix that specific error, you should use `print("exiting")` instead. However, I still don't understand how this parti

[2017-08-02 00:23] the-webguys commented on #552
@flxfxp This all started when installing and migrating dj-stripe, i had the following issue: [Here](https://github.com/dj-stripe/dj-stripe/issues/275#issuecomment-318934413)
Kavdev assisted me with fixing this, using version `pip install git+https://github.com/dj-stripe/dj-stripe.git@1.0.0`
but after this, the new errors came - I followed the link you gave me but couldn't get past [this](https://g

[2017-08-02 02:43] jcugley commented on #553
Still having the issue. Here's the full error for reference. I get it after running `manage.py runserver`

`C:\Python27\lib\site-packages\djstripe\__init__.py:23: UserWarning: dj-stripe deprecation notice: Django 1.7 and lower are no longer
supported. Please upgrade to Django 1.8 or higher.
Reference: https://github.com/pydanny/dj-stripe/issues/275
  warnings.warn(msg)`

[2017-08-02 10:23] jleclanche commented on #552
@the-webguys Python 3 requires parentheses with the print call because it's a function.

With that said, I understand where you're coming from but I frankly recommend against working on billing stuff without a decent amount of experience in the language...

[2017-08-02 18:06] kavdev commented on #553
Did you ``pip uninstall dj-stripe`` before installing from git? If not, try that and let me know

[2017-08-02 19:06] the-webguys commented on #552
Thanks for the response @jleclanche, i should have paid more attention to that. I have nearly 10 years in php and some other languages; and should have spotted that (facepalm).
Thanks for the advice, I like to delve in deep and get my hands dirty.
I am currently setting up a server for this project to move away from windows. Perhaps that will make a difference with the tqdm issue. Any idea when th

[2017-08-02 19:43] jleclanche commented on #552
The currently-released version of dj-stripe is ancient at this point, apologies for that. We've been blocked until recently on a proper 1.0 release but at this point I think we're clear, just need to update the migrations and do the release work.

[2017-08-03 01:45] jcugley commented on #553
I did.

`pip install git+https://github.com/dj-stripe/dj-stripe.git@1.0.0` Doesn't actually install anything into site-packages? I'm not sure what I'm doing wrong here as I'm new to github.

[2017-08-03 02:00] jleclanche commented on #553
Try upgrade setuptools first (`pip install --upgrade pip setuptools wheel`). You might have to restart from a clean environment.

[2017-08-03 02:11] jcugley commented on #553
@jleclanche that worked! I don't know where I went wrong, but cleaning up 'magically' fixed things... No longer seeing the original issue I was having.

Thanks for the help :)

[2017-08-03 09:47] the-webguys commented on #552
I just managed to get a server up and running with everything i need and the virtualEnvs working as expected, i'll try this again when i have time and check back here with any more findings or errors if i find any

[2017-08-03 16:20] kavdev commented on #307
Okay so I'm fairly confident we have a release candidate. Any objections?

[2017-08-03 16:42] justinmayer commented on #307
No objections. On the contrary: the sooner we get packages up on PyPI, the better.

[2017-08-03 19:40] dkvdm commented on #307
A long time coming, excited!

[2017-08-04 00:36] brandonjschwartz opened #554 "Incorrect Deprecation Notice"
1. Great app! Thank you for all your work on this.

2. I'm running Django 1.11.4 and on startup I get a UserWarning that Django 1.7 and lower are no longer supported.

There is a mismatch between what's on Github and what's on PyPi I think, could be source. Bug on the PyPi version *I think* is line 19 of __init__.py:

says get_django_version() <= '1.7.x'... unless I'm really out of it (possible tb

[2017-08-04 01:52] kavdev commented on #554
See also https://github.com/dj-stripe/dj-stripe/issues?utf8=%E2%9C%93&q=Django%201.7%20and%20lower

[2017-08-04 01:52] #554 closed, assigned to kavdev

[2017-08-04 01:54] kavdev commented on #554
It'll be fixed in the coming release

[2017-08-04 21:26] lskillen commented on #483
First step to simplification is on #556. It doesn't add `**kwargs`, but it does remove all arguments apart from event itself (and the attributes are still available on event). This is a non-backwards compatible change, which is why I wanted to do it before 1.0. Moving towards signal handlers could be a logical/better next step.

[2017-08-05 07:59] kavdev opened #558 "Egg package name is UNKNOWN-0.0.0"
I believe this started happening after the switch to setup.cfg. Any ideas on how to fix it?

[2017-08-05 08:01] kavdev commented on #558
Possible consequence:
![image](https://user-images.githubusercontent.com/4859329/28994048-85e1e61c-7979-11e7-96e5-07d555bef3d3.png)

[2017-08-05 09:49] lskillen commented on #558
@kavdev This is due to the change that was made to move the setup.py contents into setup.cfg - it requires a newer version of setuptools to work correctly. I think we force setuptools to upgrade as part of the Travis runs for this reason too.

[2017-08-05 12:54] jleclanche commented on #558
Yeah, djstripe just needs a newish version of setuptools. I always do `pip install --upgrade pip wheel setuptools` everywhere because of stuff like this.

[2017-08-05 19:02] #558 closed, assigned to jleclanche

[2017-08-05 22:10] jleclanche commented on #473
Done in 16114a4f11f13ddde968db07b13e778294f33fe2

[2017-08-05 22:10] #473 closed, assigned to kavdev

[2017-08-05 22:22] lskillen commented on #530
Fixed by #556.

[2017-08-05 22:22] #530 closed, assigned to lskillen

[2017-08-06 11:40] lskillen commented on #549
The error itself looks like it is caused because you're using 0.8.0 with a version of Django >1.9 - what version are you running?

The `Model._meta.get_all_field_names()` API was removed in Django 1.10. If you want to continue using 0.8.0 you'll have to downgrade Django to <1.10, but we'd obviously not recommend that. The latest 1.0.0 branch (which isn't available on PyPi *just yet*) is compatible

[2017-08-09 05:55] #541 closed, assigned to nobody

[2017-08-11 15:25] jdlnolen opened #562 "AttributeError: 'WSGIRequest' object has no attribute 'urlconf'"
Getting the error

AttributeError: 'WSGIRequest' object has no attribute 'urlconf'

when using the djstripe.middleware.SubscriptionPaymentMiddleware to lock down an entire site.

Also, the plans are not syncing/appearing...do not know if that is connected.

using djstripe 1.0.0.dev2 and django 1.11.4

Traceback follows...thanks for any help or a copy of a working example to see if my settings are

[2017-08-12 00:58] kavdev commented on #562
I haven't personally run into this, but middleware issues are usually due to ordering in the middleware list

[2017-08-12 09:15] jleclanche commented on #307
We're ready I think. Let's do this.

[2017-08-12 19:55] kavdev commented on #307
Solid. This will be a MOAChangelogs lol

[2017-08-12 22:22] kavdev commented on #307
❤️ Thanks to everyone who helped make this happen.

[2017-08-12 22:22] #307 closed, assigned to jleclanche, lskillen, kavdev

[2017-08-12 22:26] #542 closed, assigned to kavdev

[2017-08-12 22:27] kavdev commented on #491
pyup.io is running. Linty is still broken.

[2017-08-12 22:38] mbaragiola opened #563 "django-polymorphic>=1.4 doesn't exist yet"
Shouldn't be 1.3?

https://github.com/dj-stripe/dj-stripe/blob/cf137517b8d26d9a18dc97ba32941ddfdf46f7f7/setup.cfg#L31

Currently throws:

[code]

[2017-08-12 22:52] kavdev commented on #563
Yeah that was my bad. Fixed.

[2017-08-12 22:52] #563 closed, assigned to kavdev

[2017-08-13 00:27] jleclanche opened #564 "RFC: Dropping the Django Models/Stripe Objects split"
Yay, 1.0 is out! 💯

And now that it's out, it's time to talk about @kavdev's favourite feature: The split between stripe_objects.StripeX* and models.X* models. :)

I understand the reasoning behind the split: To keep the "stripe" layer and the "django" layer separate. However, I really don't think it's achieving this and also think it has lost some of what originally made it make sense.

The main

[2017-08-13 00:36] isaac-jordan commented on #564
Seems like a compelling argument for dropping the split. What are the main selling points of keeping the split?

[2017-08-13 01:12] kavdev commented on #564
@wahuneke feel free to drop in to correct me or add on something I've missed.

Before we implemented the spilt a few years ago, we were having major issues keeping things sane. There were issues with invoking the stripe singleton all over the place, inconsistencies in return values (stripe dict or dj-stripe instance?), etc.

Bill recommended we split things into two layers: stripe objects and mode

[2017-08-13 01:17] jleclanche commented on #564
Reading through that comment thread was insightful; I still think djstripe is in a far better place now though and has a lot less "extra functionality", especially when it comes to database fields.

[2017-08-13 01:19] kavdev commented on #564
@jleclanche my thoughts exactly. So much has been buttoned up since then that it's worth giving the split another look

[2017-08-13 01:43] jleclanche opened #566 "RFC: Wiping the migrations..."
The following is an "at some point" thing. Maybe we don't do it until we have our models more synced with Stripe's since that work will generate a lot more migrations.

Okay, so, over the past years djstripe has accumulated a *crapton* of migrations.
You may think "that's fine, it's all autogenerated", but migrations actually have some less visible costs to them:

- They're not always autogenerate

[2017-08-13 01:44] jleclanche commented on #549
Closing pre-1.0 issue.

[2017-08-13 01:44] #549 closed, assigned to nobody

[2017-08-13 10:13] twidi commented on #564
During the process of un-splitting it may  great be a good idea to have abstract models with full capabilities, so it would be easy for developers to enhance them.

[2017-08-13 16:44] jleclanche commented on #564
I'm not sure I like the idea of making our models abstract to be honest.

[2017-08-13 17:38] twidi commented on #564
It was just an idea to avoid hacks or forking to enhance stuff :)

(btw having abstract models doesn't mean to not have concrete one, see the django user model)

[2017-08-13 18:01] jleclanche commented on #564
Yeah I get you. Even so, I think it runs counter to the philosophy of having models as close as possible to the upstream stripe ones.

I think if I myself were to implement extra *non-stripe* functionality in the models that wouldn't get pulled back into dj-stripe, I'd be using separate models or the metadata field.

[2017-08-14 20:35] zirwin opened #569 "Customer.email not added before used in squashed migration"
I've run into this while migrating from 0.8.0 to 1.0.0. It seems that the email field was added in https://github.com/dj-stripe/dj-stripe/commit/9f374b7b0c324d1f7844ae885191b6afeb97e57a but not added in the migrations before it attempts to use them. So, running migrations, I end up with this error when it attempts to resync customers within the migration process:

`django.db.utils.OperationalError

[2017-08-16 03:44] jleclanche commented on #564
#568 addresses all of this and implements a compatibility shim for the next release with a deprecation notice.

[2017-08-18 09:38] ncouture opened #570 "getattr(request, 'urlconf', settings.ROOT_URLCONF)"
https://github.com/dj-stripe/dj-stripe/blob/e191dcea8bc8ae6f0422dcf192ba91923f882e9d/djstripe/middleware.py#L78

---

AttributeError at /payments/
'WSGIRequest' object has no attribute 'urlconf'

[2017-08-18 09:39] ncouture commented on #570
#562

[2017-08-18 09:39] #570 closed, assigned to nobody

[2017-08-20 00:09] #564 closed, assigned to nobody

[2017-08-21 15:22] jackappleby commented on #563
Is this fix in the djstripe version 1.0.0 that is up on pypi? If I do pip install dj-stripe==1.0.0 I get the error:

[code]

Also, using pip there seems to be a package / versoin called "dj-stripe-1.0.0.post1"..?

[2017-08-21 16:29] kavdev commented on #563
``dj-stripe-1.0.0.post1`` is the one to download

[2017-08-21 17:50] kavdev commented on #563
I can't wait until Warehouse comes out. Hiding builds is a PITA

[2017-08-25 11:51] dsppatel commented on #61
http://live24u.com/stripe-api-upgrading-and-downgrading-plans-switching-plans/

[2017-08-25 23:43] wedwardbeck commented on #464
Not sure if this is exactly related to my question, but seems to be close. I currently only have a text pub & secret key.  I just updated to 1.0.0 and am getting odd warnings.

putting only tst keys, it tells me:
CRITICALS:
?: (djstripe.C001) Could not find a Stripe API key.
        HINT: Add STRIPE_TEST_SECRET_KEY and STRIPE_LIVE_SECRET_KEY to your settings.

Should't I be able to test with only

[2017-08-26 00:40] jleclanche commented on #464
Make sure you specify `STRIPE_LIVE_MODE = False` and `STRIPE_TEST_SECRET_KEY = "sk_text_XXXXX"`

[2017-08-26 00:59] atleta opened #572 "STRIPE_XXX_KEY handling in settings and documentation is incorrect"
Hi,

The documentation claims that we need to set STRIPE_PUBLIC_KEY and STRIPE_SECRET_KEY, but configuration check will fail then for not having set TEST_API_KEY (which gets its value from STRIPE_TEST_SECRET_KEY).

The settings file would allow defining STRIPE_SECRET_KEY directly, but then you run into the above situation.

[2017-08-26 01:12] jleclanche commented on #572
@kavdev can you take care of updating the docs to match our new pattern?

[2017-08-26 02:09] kavdev commented on #572
@jleclanche yeah looks like rtd didn't pick up on the repo move.

@pydanny, can you either transfer the rtd project to me or delete the existing one so I can re-add?

[2017-08-26 02:10] kavdev commented on #572
@atleta until we get this oversight fixed, the updated documentation is in our repo: https://github.com/dj-stripe/dj-stripe/tree/master/docs

[2017-08-26 06:02] kavdev commented on #517
The django migration operations in case anyone needs them:
[code]

[2017-08-26 16:43] jleclanche commented on #513
I just implemented this model in dj-paypal: https://github.com/HearthSim/dj-paypal/commit/f00a6be780d64f1f4bd4286a48ff4e94458e2324

[2017-08-29 00:15] pydanny commented on #572
@atleta, I renamed this issue because it was extremely aggressive. You should be nicer to people doing unpaid work on a project dedicated to literally making you money.

[2017-08-29 00:18] pydanny commented on #572
@kavdev I just made you a maintainer on RTD for dj-stripe. I also restarted the docs build.

[2017-08-29 00:19] pydanny commented on #572
@kavdev Sorry, the docs build failed. You can see here that the configuration on RTD needs to change: https://readthedocs.org/projects/dj-stripe/builds/

[2017-08-29 22:53] jleclanche opened #573 "Stripe JS v3, Sources, Cards and Polymorphism"
Okay, well, here's the thing: **Card** objects (as we use them now) are not sources.

They can be used as sources, but they are not sources from the POV of the API. Source objects are different:
https://stripe.com/docs/api#sources

Card objects:
https://stripe.com/docs/api#cards

Here's the difference: Cards are created with Stripe API v2 (in other words, checkout.js). Sources are v3 (Stripe Eleme

[2017-08-30 00:03] kavdev commented on #573
@jleclanche sounds good. I figured they'd consolidate sources at some point and make them server-agnostic. I think the end goal is that all we'll be handling is the tokens

[2017-08-30 00:05] kavdev commented on #573
IIRC, Cards, bank accounts, bitcoin recievers, etc were all considered types of sources at the time of implementation

[2017-08-30 00:15] jleclanche commented on #573
Yes, they still are. But the sources api is just very consistent, the sub-fields are all in a field with the name of the resource. I think serverside they're pretty consistently the same object type with a bunch of different possible sub-resources.

[2017-08-30 00:16] jleclanche commented on #573
I'm having such a hard time unpolymorphizing cards... complex migrations :/

[2017-08-30 00:27] jleclanche commented on #573
Also I'm not sure what to do about the `Customer.default_source` foreign key. That FK can be either a Card, a BankAccount or a Source and for Stripe it works out because IDs are prefixed (`src_...`, `card_...`). For us, not so much.

[2017-08-30 01:49] atleta commented on #572
@pydanny Just for the record and to give some context to this public shaming, here is the original title: "STRIPE_XXX_KEY handling in settings and documentation is bogus and inconsistent"

Now since you've deleted the last three words, I deduct that the one(s) that make it 'extremely aggressive' must be some of "bogus and inconsistent". I guess it's not 'inconsistent' and probably not even the 'an

[2017-08-30 13:08] jleclanche commented on #573
I'm still considering whether to do a generic foreign key or a "custom" generic foreign key (maybe using a transient table).

So brain dump real quick: We create a `StripePaymentMethodForeignKey` field. The primary component of that field is a string id (the `stripe_id` of the source, which is globally unique).
Then we have one of two choices. Either:
1. We have an extra table which has a `stripe_

[2017-08-30 16:19] kavdev commented on #573
Or we could keep the models polymorphic and then it would just work :)

Polymorphic filtering is also a thing, so not much functionality is lost

[2017-08-30 16:24] jleclanche commented on #573
They're not polymorphic though; that just makes it harder. There's no concept of an alipay source, a card source etc; they're all sources.

[2017-08-30 16:30] kavdev commented on #573
They are all sources. A card is a source, a bitcoin receiver is a source, an alipay (receiver?) is a source. There's not much inheritance, but it follows the pattern and works in our use case.

Customers, Charges, etc. are agnostic about what the source type is; they just want a source.

[2017-08-30 16:41] jleclanche commented on #573
I think you don't understand the core of the issue there. `Card` and `BankAccount` objects are **not** sources. They're legacy structures. A "Source"-type card is not the same as a legacy `Card`, and Stripe has been working (according to a dev on IRC) on a way to convert legacy Card objects into Source objects.

[2017-08-30 16:56] kavdev commented on #573
@jleclanche Ah, yes. That is the case then.

So "object" can now be one of "card", "bank_account", "bitcoin_receiver", ..., and "source"? Yuck

In that case, I'd say go with option 1; composite key support in django is definitely a major pain.

And so begins the waiting game for Stripe to figure out a way to convert legacy objects...

[2017-08-30 16:59] jleclanche commented on #573
@kavdev Possible payment methods are:

- `card`
- `bank_account`
- `source`
  - [`card`](https://stripe.com/docs/sources/cards)
  - [`three_d_secure`](https://stripe.com/docs/sources/three-d-secure)
  - [`ach_credit_transfer`](https://stripe.com/docs/sources/ach-credit-transfer)
  - [`alipay`](https://stripe.com/docs/sources/alipay)
  - [`bancontact`](https://stripe.com/docs/sources/bancontact)

[2017-08-30 16:59] jleclanche commented on #573
PS: You saw that right, `bank_account` is not available as a source yet.

[2017-08-30 17:58] kavdev commented on #573
ugh well isn't that just great

[2017-09-01 00:56] draxxris commented on #562
I've seen this. Had to write my own middleware to add urlconf to request, though @ncouture patch will work.

[2017-09-01 01:02] atleta opened #574 "Some optional fields are handled as required in the admin"
Hi,

I've found that optional fields of Customer (and I guess on some other models) are marked as required in the admin. Part of problem seems to be that blank=True is not defined. This can probably be fixed in StripeFieldMixin.__init__:
[code]

lines https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/fields.py#L68 and https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/fields.py#

[2017-09-01 05:01] Copser opened #575 "djstripe_init_plans is not recognized by manage.py"
Hello,

I have a small problem when I run `./manage.py djstripe_init_plans`, the result is

[code]

I'm using [cookiecutter](https://cookiecutter-django.readthedocs.io/en/latest/) for my project.  Rest of the `/.manage.py` are running fine, only the last one is not working, in the end when I go to `/payment/subscribe/` the template is empty. Can you help me solve this, thanks.

[2017-09-01 09:19] lskillen commented on #575
Hi @Copser - Apologies, this is an inconsistency in the documentation with how it used to be done. There isn't currently support for initialising plans from a local definition. You need to define them within Stripe, and then let the webhooks create the plans. I realise this isn't the most convenient solution, especially if you're programmatically creating your development, testing, staging or prod

[2017-09-01 09:22] lskillen commented on #574
Hi @atleta - Yep, you're right, we need to fix these for  the places where we intend to allow changes. The real issue is that there hasn't been a lot of polish applied to the admin section just yet, but it's on the list of things to do. Another consideration is that Stripe is immutable in places, and so changing the local record might not impact Stripe (might be ignored). Worse than that, I'm not

[2017-09-01 10:52] atleta commented on #574
@lskillen Re not updating Stripe when changing a model in the admin: I've just checked the source and you seem to be right. But it does not only affect the admin. As far as I can see, changes to the model fields don't update Stripe.

I was thinking about fixing the model field definitions myself, but since the editing doesn't work this way anyway, I'll just create the Customer automagically and ha

[2017-09-03 12:32] jleclanche commented on #573
Work ongoing here:

https://github.com/dj-stripe/dj-stripe/compare/jleclanche:master...jleclanche:issue/573

[2017-09-05 14:17] jleclanche commented on #483
Alright so, I tried a different approach in dj-paypal. Instead of sending multiple signals, `webhook_handler` still exists and is syntactic sugar to register the function to all event types matching an event type spec.

Walkthrough:

* [Here](https://github.com/dj-stripe/dj-paypal/blob/5b2623688658ae59c8e26921bebe4519e47028f4/djpaypal/models/webhooks.py#L15-L62) we have a list of all the available

[2017-09-06 02:58] jleclanche opened #576 "Handle .deleted webhooks correctly"
While working on #573 I found out that currently, when we receive `customer.source.deleted`, we delete the source which causes a `SET_NULL` on `Charge` to trigger for `Charge.source`.

This is not correct behaviour. Stripe retains the card as you may want to access information about, for example, the last 4 digits of a previous payment.

Instead, `Charge.source` should not be nullable and when `cu

[2017-09-06 14:31] jleclanche commented on #573
This is the current monster migration:

https://github.com/jleclanche/dj-stripe/blob/61ad7e3fa0e0b6a8ead68d892f66fc7d26edefda/djstripe/migrations/0002_card_customer_from_source.py

I have yet to test it on real data

[2017-09-06 15:07] jleclanche commented on #573
Yay django bugs https://code.djangoproject.com/ticket/28573

[2017-09-06 21:26] radzia2 opened #578 "STRIPE_LIVE_MODE set to False but get_or_create is done on live mode"
When I set the STRIPE_LIVE_MODE to False, a new customer is created in the live subscription plan instead of the test environment.

[2017-09-07 00:16] jleclanche commented on #578
You're gonna have to be more specific...

Customer.get_or_create has a `livemode` parameter which defaults to `djstripe_settings.STRIPE_LIVE_MODE`. That should work as intended.

[2017-09-07 01:28] kavdev commented on #573
woohoo

[2017-09-07 19:24] kavdev commented on #572
fixed

[2017-09-07 19:24] #572 closed, assigned to nobody

[2017-09-07 22:09] kavdev commented on #576
IIRC, source is defined as nullable in stripe because it can be a charge on an account instead of a source. That's probably changed though

[2017-09-07 23:04] flc commented on #536
Hi! Does the webhook signing secret value changes if you go live similar to your publishable and secret keys or it's the same in test and live mode? I'm working on a PR and it's something that I'd need to know.

[2017-09-07 23:16] flc commented on #536
Ah, sorry, I can see now that every webhook has it's own signing secret value. Did they changed that recently or this has always been the case? Anyway, it makes things a bit more complicated in a case when multiple webhook urls are used. I don't see why would anybody use it that way but it's possible.

[2017-09-08 18:25] ElusiveSpirit opened #580 "Error in migration from 0.8.0 to 1.0.0"
An error occurs during update from  0.8.0 to 1.0.0 djstripe versions.
Python 3.5
DJango 1.11.5
postgres 9.3
psycopg2 2.6.1
[code]

[2017-09-08 23:24] radzia2 commented on #578
ok, extremely stupid to overlook this: the os.environ.get function pulls strings, not booleans.

so my pulling from my environment variables didn't work:
`STRIPE_LIVE_MODE = os.environ.get('STRIPE_LIVE_MODE')`

this works:
`STRIPE_LIVE_MODE = False`
OR
`STRIPE_LIVE_MODE = os.environ.get('STRIPE_LIVE_MODE') == 'True'`
this one returns boolean `True` if the string `True` is set, else it is `False`

[2017-09-11 13:40] ElusiveSpirit commented on #580
Ok, clearing the djstripe_invoice table has solved the problem, but after I've got another one.
[code]
I couldn't found adding this field into db, so I added this into migration
[code]
And I got this error now:
[code]
Please help me with applying the migrations. As I see, I need a special dance to do this.

[2017-09-20 10:52] flc opened #581 "Support translations in dj-stripe enums"
Hi, I need to add translations to djstripe. Enums don't support translations because of the usage of `ugettext` instead of `ugettext_lazy` plus the usage of `text_type` for the choice values here https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/enums.py#L43. Do you think simply removing `text_type` (only for the second element of the tuple) and change `ugettext` to `ugettext_lazy` is a

[2017-09-22 03:53] kbrownlees commented on #575
I have a management command which syncs the current plans from stripe, do we want something like that for the case where you don't have webhooks setup or the plans already exist? It is pretty basic:

[code]

Probably needs to deal with live / test mode a bit better though.

[2017-09-26 08:59] #578 closed, assigned to nobody

[2017-09-26 12:32] Copser commented on #575
Sorry for not participating in the discussion, I was on the vacation. @kbrownlees thanks for your management command but as @lskillen said I've

_You need to define them within Stripe, and then let the webhooks create the plans_

Nevertheless it would be awesome that they initially fix this issues, once again thank you all.