[2021-03-19 14:05] PabloCastellano commented on #1320
Hey @Tuuleh. Thanks for your PR https://github.com/dj-stripe/dj-stripe/pull/1321/ !

I have tested it and works fine. It looks like the only missing part to keep TaxIds synced is deleting the TaxId object from the database when `customer.tax_id.deleted` is received. At least it didn't work for me after several attempts.

Let me know if you are working on it or want me to give you a hand as this is

[2021-03-19 14:17] Tuuleh commented on #1320
Hi! I'm working on a ton of other things for my job right now so it would
be good if you could implement this if it's something you need. It may
indeed be the only thing that's missing but I wouldn't be surprised if
there were some other things that would need to be added to TaxIds to get
them to parity with the other models (at least the ones that don't require
fetching the resources through the

[2021-03-19 15:18] PabloCastellano commented on #1320
@Tuuleh Nevermind, it is working correctly. I was experiencing a different issue :smiley:

TTBOMK TaxIds are only related to customers, as opposed to TaxRates. I think this issue is complete now :+1:

[2021-03-21 20:02] MatejMijoski commented on #830
Has this been fixed? I just got `stripe.error.InvalidRequestError: Request req_h9HArBdlorJUdA: No such file upload: 'https://s3.amazonaws.com/stripe-uploads/....jpg' ` after changing the API keys from another account. Both were in Test mode.

[2021-03-23 17:08] jmbouffa opened #1331 "How to test for archived prices?"
I'm trying to create a pricing page.  Maybe I am incompetent but I can't find in the docs at all where to list products, but on an external site I found this code:

`{% for product in products %}`
       `<p class="subtitle">{{ product.name }}</p>`
        `{% for plan in product.plan_set.all %}`
            `<p class="heading">{{ plan.nickname }}</p>`
            `<p>{{ plan.human_readable_price

[2021-03-25 17:50] PabloCastellano commented on #1267
I have started seeing this bug too during my tests but not in production.

In my case I think the two webhooks that were received at the same time were: `customer.created` and `customer.tax_id.created`. One second later I received `customer.updated` too.

What I find interesting in my case is that it complains because APIKey does not exist: `djstripe.models.api.APIKey.DoesNotExist: APIKey matching

[2021-03-29 23:01] kavdev commented on #1331
@jmbouffa You can either filter products by whether or not they're active:
https://github.com/dj-stripe/dj-stripe/blob/3eaf46f1b0baac02dbce2f39d69182de6b50b671/djstripe/models/core.py#L469-L475

or filter plans by whether or not they're active:
https://github.com/dj-stripe/dj-stripe/blob/44fae4e86ae43c421fc4b43fbfd6f9b2e4d6ac91/djstripe/models/billing.py#L1037-L1039

[2021-03-30 12:23] rnegron commented on #1307
At [BrainHi](https://www.brainhi.com/) we're using dj-stripe! [Link to logo](https://drive.google.com/file/d/1pOf44gCIKA8earUd_cCLOo8erte4AdSR/view?usp=sharing)

[2021-03-31 23:16] shukryzablah commented on #576
Does this issue relate to deleted Products as well?

[2021-04-03 22:07] hosler opened #1336 "Session model should call stripe api"
I'm not sure if this a bug or not, but I couldn't see where it is happening when digging through the code.

Currently the Session object row doesn't get created automatically during a checkout. I'm having to manually create it like this:

`
session = stripe.checkout.Session.create(**data)
Session._create_from_stripe_object(data=session)
`

If I don't do this, I have to call djstripe_sync_models be

[2021-04-04 20:43] kavdev commented on #1336
@hosler seems reasonable. @jleclanche thoughts?

[2021-04-04 21:19] jleclanche commented on #1336
I remember hitting this, I believe at the time there were no webhooks for these objects. Has this changed?

[2021-04-05 12:13] hosler commented on #1336
I had to create this webhook for sessions to stay in sync.
[code]

[2021-04-05 14:48] shukryzablah opened #1337 "How do I use django stripe with connected accounts?"
**What are you trying to accomplish?**

_I'm trying to have the Products and Prices from a connected account in my database._

**Other**

When editing/creating a product on the connected account's dashboard I get the connect webhook event, but it finishes with a 500 error, the error in my server being

`stripe.error.InvalidRequestError: Request req_0msOTP9AEL3iRw: No such product: 'prod_JFNkegEUIq

[2021-04-06 05:26] haveamission opened #1338 "Is it possible to get better documentation?"
**Documentation is sparse**
I am having a ton of trouble figuring out how to do relatively basic things with the library.

**Solution I'd like**
Better documentation. Really show all the features you can do with this library.

**Additional context**
Right now when I want to figure out how to do anything, I have to pour over the library's code to figure out what I want to do. Like right now I want

[2021-04-06 15:30] jleclanche commented on #1338
Hi Andy, I want to work on documentation but time is short these days. If you're willing to help, we have [budget](https://github.com/dj-stripe/dj-stripe/issues/1221) for documentation contributions -- if interested please email me or hit me up on Discord (Adys#8135) :)

[2021-04-06 19:23] isvidler commented on #1285
For anyone struggling with this, here is the custom subscribe function we are using for our project:

[code]

Example usage:
[code]

[2021-04-09 19:13] kavdev commented on #1336
@jleclanche [looks like they're in now](https://stripe.com/docs/api/events/types#event_types-checkout.session.async_payment_failed)

@hosler if you're up for submitting a PR to add the new events, we'd welcome it

[2021-04-14 22:34] steverecio commented on #1320
In case this is helpful to anybody, here is a generic utility for updating and syncing dj-stripe models:

[code]

Would be great if the `StripeModel` had some sort of signal listener that would apply that to any changed fields 😎

[2021-04-15 04:11] Chinokaiser opened #1340 "Issue when doing initial Migration on MYSQL8"
**Describe the bug**
"BLOB, TEXT, GEOMETRY or JSON column 'account_holder_name' can't have a default value"

**To Reproduce**
- Do Initial Migration on MySQL8
- possibly this [line](https://github.com/dj-stripe/dj-stripe/blob/2.4.3/djstripe/migrations/0001_initial.py#L3974)

**Software versions**
- Dj-Stripe version: 2.4.3
- Python version: 3.6
- Django version: 3.1
- Database type and version: My

[2021-04-18 02:16] shukryzablah commented on #1337
Assuming the only way is to input API Keys from the connected accounts into the DB, those are only given in the OAuth flow for Standard and Express accounts. What if I don't use OAuth but instead use Stripe Onboarding? At present it's not clear how to get this functionality working.

[2021-04-19 07:22] haveamission commented on #1338
Sure, I'm interested! I'm getting a build out of an app and then I'll be willing to take on new work.

[2021-04-19 07:22] haveamission commented on #1340
Referenced here, though I am not sure if anything has been done on it:

https://github.com/dj-stripe/dj-stripe/issues/1255

[2021-04-19 18:53] haveamission commented on #1340
I've looked into this a bit more extensively, and it appears to be due to a bug in MySQL:

https://bugs.mysql.com/bug.php?id=21532

TEXT fields do not support default values.

Prior versions of MySQL, my understanding is (I may be wrong on this), would silently fail and make the field NULL and nullable.

This was deprecated and then removed.

I was unable to directly find any solution on MySQL 8,

[2021-04-20 05:11] aryaniyaps opened #1341 "sync_from_stripe_data does not work (Model matching query does not exist)"
**Describe the bug**
After creating a payment method with the stripe API wrapper, I want to sync the data to my local database using `PaymentMethod.sync_from_stripe_data`. However, a `DoesNotExist` exception is raised when I try to initially put in the data

**To Reproduce**

Make a sample test (create a test payment method)  with the stripe api wrapper
[code]
sync the data into the local database

[2021-04-20 07:55] aryaniyaps commented on #1341
The Implementation is based on this tutorial
https://www.saaspegasus.com/guides/django-stripe-integrate/ but I guess that it is outdated right now.

[2021-04-21 12:52] rcstanciu commented on #1294
I was encountering the same issue and creating a new account, without icon and logo, got rid of the error.

[2021-04-21 17:11] kavdev commented on #1294
Well color me confused lol. Does anyone have a hypothesis on why that would happen? Trying to get some repro steps together.

[2021-04-21 17:36] rcstanciu commented on #1294
I will dig into it deeper. At a first glance, I think it might have something to do with the files API request.

[2021-04-21 19:44] jleclanche commented on #1294
Same issue as last time, it's most likely because it fails to sync logo/icon in the livemode that mismatches the one it's been created in.

This is a Stripe bug but it's very hard to work around.

[2021-04-21 21:49] MattGalvis opened #1342 "How do I change STRIPE_LIVE_SECRET_KEY correctly or change Accounts?"
So I've been using dj-stripe for a lot of the implantation of a payment flow setup. Everything was working fine till i had to change to another account.

So in the admin I changed the api key that was there to the new one to continue like stated in https://dj-stripe.readthedocs.io/en/stable/api_keys/#updating-the-api-keys and i ran `python manage.py djstripe_sync_models
` to sync to the new accoun

[2021-04-23 19:28] jjorissen52 opened #1344 "New Django Migrations Generated when attempting to upgrade from dj-stripe < 2.4.3 to 2.4.3"
**Software versions**
- Upgrading from dj-stripe version: < 2.4.3
- Upgrading to dj-stripe version: 2.4.3
- Python version: 3.7.10
- Django version: 3.2
- Database type and version: PG 11
- Failing migration id: 0008

**Can you reproduce the issue with the latest version of master?**
Yes

**Describe the issue**
In Django 3.2, setting `DEFAULT_AUTO_FIELD = "django.db.models.BigAutoField"` and runni

[2021-04-23 19:30] jleclanche commented on #1344
Thanks for the report.

I'm pretty sure that's intended though. What's supposed to happen there? I guess we could be force-specifying this ourselves; wouldn't be a terrible idea.

[2021-04-23 19:31] jjorissen52 commented on #1344
I think that if dj-stripe needs to add a 0008 migration in the future, this will cause headache/confusion for those who accidentally run the auto-generated 0008.

[2021-04-23 19:32] jleclanche commented on #1344
Can you post a gist.github.com of what the migration looks like please?

[2021-04-23 19:35] jjorissen52 commented on #1344
https://gist.github.com/jjorissen52/e21aba138f3544b225214adb82ac1c43#file-dj-stripe-0008_auto-py

[2021-04-23 19:36] jleclanche commented on #1344
Hm, okay, that's less bad than I expected. I think we can just fix those two.

[2021-04-23 19:41] jjorissen52 commented on #1344
I think the rub here is that any one upgrading who uses a non-standard `DEFAULT_AUTO_FIELD` would have different migrations needed, right? So I don't think you can necessarily just bake the migration in.

[2021-04-23 19:43] jleclanche commented on #1344
No, but we can hard-specify the auto field to be a bigautofield there.

[2021-04-26 01:54] aryaniyaps commented on #1341
@jleclanche is this problem occurring only for me or for the whole library?
I cannot even use the library now,,

[2021-05-03 15:09] jleclanche commented on #1338
@haveamission Reminde to hit me up about this if you're still interested :)

[2021-05-05 21:17] PabloCastellano opened #1345 "JSONField is not returning valid JSON"
**Describe the bug**

In the admin view, when inspecting an object containing a JSONField field, the data is not JSON valid. It contains single quotes instead of double quotes, False instead of false, and so on.

**To Reproduce**

Check out the following url in any djstripe working installation:

`https://HOST/admin/djstripe/event/1/change/`

Moreover, I have tried fixing it myself but I don't kno

[2021-05-05 23:44] jleclanche commented on #1345
Isn't this just down to how JSONField is processed in Django?

[2021-05-07 05:11] #1249 closed, assigned to nobody

[2021-05-07 07:22] czue commented on #1344
Just got bit by this as well. I see this has been moved to the `2.5.0` milestone. is there any clear timeline for that release? Perhaps for `2.4.x` you could explicitly set it to `AutoField` which would at least prevent migrations from being generated?

[2021-05-07 08:09] jleclanche commented on #1344
@czue There's no hard timeline, but if you want to contribute a fix I can review/merge it. A migrationless autofield for 2.4.x is a reasonable solution yeah.

In general right now dj-stripe is starved for development. If you want to help contribute, we could really use the help; we even have a sponsorship program active for regular contributors, see #1221. If you're interested let me know and I ca

[2021-05-07 08:16] czue commented on #1344
Hey @jleclanche - I'm interested! I"ll give this change a shot and see how it goes. :pray:

[2021-05-07 08:25] jleclanche commented on #1344
Sweet :) Yeah just CC me on the PR and I'll take a look; if you go the AutoField route I can release a minor version with it.

For further contributions feel free to book some time with me [here](https://calendly.com/jleclanche) if you want me to take you through the codebase and what sort of things need to be done :)

[2021-05-07 09:32] czue opened #1348 "ModuleNotFoundError: No module named 'six' when setting up a dev environment"
This is likely something I did / am doing wrong, but I haven't been able to sort it out yet, so posting here in case someone can help. It's worth noting this is my first time using poetry, and I suspect that's somehow the problem.

Reproduction steps, following [CONTRIBUTING.md](https://github.com/dj-stripe/dj-stripe/blob/master/CONTRIBUTING.md)

1. I installed poetry according to [these instructi

[2021-05-07 09:34] czue commented on #1348
(obviously I can install six manually but that somehow seems like the wrong thing to be doing... and it led to another dependency issue. I'd like to just figure out the root cause instead)

[2021-05-07 09:41] czue commented on #1344
@jleclanche running into some annoying issues getting set up in case you have any thoughts: https://github.com/dj-stripe/dj-stripe/issues/1348

[2021-05-07 09:54] czue commented on #1348
This is the output from `poetry install` on a clean set up.

[code]

It appears to only be installing a subset of dependencies but I can't figure out why.

[2021-05-07 10:05] jleclanche commented on #1348
@czue Hmm, I think this might be an issue with pytest-django not declaring its dependencies correctly.

[2021-05-07 10:10] czue commented on #1348
Hmm, it would be comforting if it wasn't something on my side, but even so, I think `six` would then get picked up by the `livereload` dependency? (shooting in the dark, still trying to wrap my head around poetry)

This is the output of my `poetry show --tree` command. And `six` does end up with an entry in `poetry.lock`
[code]

[2021-05-07 11:05] jleclanche commented on #1348
I think for the time being you can do `poetry add --dev six`.

[2021-05-07 11:22] czue commented on #1348
After installing six I get:
[code]

[2021-05-07 15:25] jleclanche commented on #1348
@czue I noticed that error in CI. It's new, I'm not quite sure what triggered it; a few commits ago i don't think it was happening. Haven't had time to look into it yet; you want to give it a shot?

[2021-05-07 20:33] haveamission commented on #1338
Added you as a friend on Discord

[2021-05-08 04:36] czue commented on #1348
sure, though i won't get a chance till mid-late next week at the earliest

[2021-05-10 05:57] jleclanche commented on #1338
@haveamission I didn't receive anything. Can you try again or join the dj-stripe discord itself?

[2021-05-10 14:25] CasperLA opened #1349 "Migrations are slow"
**Problem**
It takes ~25 seconds to migrate `dj-stripe`. This is very cumbersome if you run tests repeatetly (f.e. with TDD).

**Expected behaviour**
I expect the migrations to take 5 seconds max, but it takes 5 times longer than that.
Any idea why this happens? The migrations seem quite straightforward. The default django migrations take less than 2 seconds

**How to reproduce**
[code]
The migrat

[2021-05-10 14:37] jleclanche commented on #1349
The migrations are actually pretty massive, even if they look straightforward.

Every major release we drop migrations older than 2 releases, so we only support upgrading from 2.2+ in 2.4 for example. I think this is a problem that should "fix" itself next release, or the one after.

[2021-05-10 14:43] CasperLA commented on #1349
Thanks for the quick reply. I'll stick to a more lean (custom) approach then instead of dj-stripe in the meantime.

[2021-05-11 16:24] #1348 closed, assigned to nobody

[2021-05-11 20:11] patroqueeet commented on #1329
I came from 0.8.0 one by one version with migration. but now with 2.3->2.4.0 stuck with above error. even going back to 2.3.0 then migration to `zero`, migrate again, then upgrade to 2.4.0 brought the error back

[2021-05-11 22:30] jleclanche commented on #1329
@patroqueeet it sounds like you might have missed a step in the upgrade guide. Specifically:

[2021-05-12 04:21] patroqueeet commented on #1329
@jleclanche hey, yes I read carefully above linked docs and followed it, but the issue persisted...

[2021-05-12 09:27] vedran opened #1352 "Are SubscriptionItems supposed to sync automatically?"
**Describe the bug**

Thank you for creating this library. My issue is that SubscriptionItems don't seem to automatically sync through any webhook from Stripe, even with all webhook events enabled, and no errors thrown during webhook event processing or validation.

**Quick question**

As a first pass, can you please clarify if we're expected to sync updates to these nested structures (e.g. Subscr

[2021-05-12 13:16] jleclanche commented on #1352
I think the syncing for this might just not be implemented.

[2021-05-12 14:20] #1344 closed, assigned to nobody

[2021-05-12 23:30] vedran commented on #1352
Thanks for responding!

[2021-05-12 23:33] jleclanche commented on #1352
@vedran if you want to take a shot at it it should be straightforward, adding the relevant signal to [signals.py](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/signals.py) and the handler in [event_handlers.py](https://github.com/dj-stripe/dj-stripe/blob/831ee6902b6c5ac663029e9615ca0ae65b4703ed/djstripe/event_handlers.py). CC me and I'll review your PR as long as you've tested it loc

[2021-05-13 21:00] francipvb commented on #1352
Hello,

I were finding this out, too. I think I'd try to add it.

Cheers,

[2021-05-13 21:02] francipvb commented on #1352
Anyway, I think that there is no need to write a new handler, it is needed to inspect the subscription `sync_from_data` method.

[2021-05-17 09:06] jeffrey04-laloka commented on #1340
Just out of curiosity, is this going to be addressed? My team is deciding whether to pick MySQL8 for the project

[2021-05-17 09:38] jleclanche commented on #1340
Well I definitely recommend Postgres, especially for Django stuff it'll tend to work better.

To answer, yes I'd like to address it but I don't personally use mysql and so far the only PR for it breaks backwards compatibility entirely which isn't acceptable.

[2021-05-20 00:34] yuekui commented on #1340
Hi @jeffrey04-xoxzo my personal solution is just to monkey-patch schema editor to skip setting default values during migrations, like:
[code]
That seems the simplest way to solve it, since it's not a bug of `dj-stripe`(wagtail also had the same issue https://github.com/wagtail/wagtail/pull/6999)

[2021-05-20 00:44] jleclanche commented on #1340
Ref https://code.djangoproject.com/ticket/32503

[2021-05-20 07:41] killertilapia opened #1354 "Webhook and Stripe CLI causing an InvalidRequestError (500)"
**Describe the bug**
Using the Stripe CLI to generate events in the Stripe dashboard which triggers my local webhook endpoint but the webhook returns a `InvalidRequestError: Request req_dFc6XprHd0MZdd: No Such customer: 'cus_JW7dDQnX5iGVRF'`

I can confirm that the Customer object is present on my Stripe dashboard.

**Software versions**
- dj-stripe version:  2.4.3
- Python version: 3.8.5
- Django

[2021-05-21 08:10] killertilapia commented on #1354
The error was apparently caused by Docker and a stale image using the wrong api key that had the same Stripe account name and very similar account id.

Fixed it by doing a system prune on docker and forcing a rebuild.

[2021-05-21 08:10] #1354 closed, assigned to nobody

[2021-05-21 21:41] jleclanche commented on #1354
@killertilapia Thanks for the report and the update on the false alarm. Don't hesitate to file a new issue if you encounter more problems.

[2021-05-22 06:37] arnav13081994 commented on #1337
@shukryzablah Stripe now recommends that one use the `stripe_account` header to make any API calls "on behalf of" their connected account. Hence you need not worry about using the API keys of your connected accounts unless your use-case demands it. You simply need to send the `Account ID` of the `connected account` along with your request and Stripe will automatically associate that request with t

[2021-05-28 12:45] arnav13081994 commented on #1281
@anjunamonkey Your error was caused because `dj-stripe` wasn't handling `account.*` events on Stripe Connected Accounts. I have raised a PR to fix that issue. Please check it out here https://github.com/dj-stripe/dj-stripe/pull/1359

[2021-05-28 12:57] arnav13081994 commented on #1210
@Andrew-Chen-Wang Is this still an issue? I just tested this and it's not happening in the PR I just raised #1359

[2021-05-28 14:05] Andrew-Chen-Wang commented on #1210
@arnav13081994  Ah sorry. It was fixed in 2.4.0 last I checked (I dropped the project so idk anymore). Assuming nothing broke plus you also checked, I'll close this issue.

[2021-05-28 14:05] #1210 closed, assigned to nobody

[2021-05-28 18:16] francipvb commented on #1352
Hi,

Where is an example about this to implement it myself?

Thanks

[2021-05-30 03:32] kavdev commented on #1352
@francipvb to do this in your own codebase, docs are [here](https://dj-stripe.readthedocs.io/en/stable-2.0/usage/webhooks.html). Essentially, you create a handler and target the correct dotted path and then add whatever logic you want inside it.

As for creating a PR to have it included in dj-stripe:
* Add the missing dotted paths to the [signals](https://github.com/dj-stripe/dj-stripe/blob/master

[2021-05-31 00:07] #1331 closed, assigned to nobody

[2021-05-31 00:32] #987 closed, assigned to nobody

[2021-06-01 14:52] dmugtasimov opened #1360 "Migrations should not depend on having/not having sensitive information in configuration files"
You should not request developer to fill in sensitive information in configuration to all migrations:

[code]

My default configuration file:

[code]

[2021-06-01 16:56] jleclanche commented on #1360
Mmh, I've been thinking about making those warnings instead. I see your point.

For now, you can set `STRIPE_LIVE_SECRET_KEY = "sk_live_x"`, `STRIPE_TEST_SECRET_KEY = "sk_test_x"` and `DJSTRIPE_WEBHOOK_SECRET = "whsec_x"`.

[2021-06-06 16:16] #1281 closed, assigned to jleclanche, kavdev

[2021-06-10 13:36] #508 closed, assigned to jleclanche

[2021-06-10 18:21] arnav13081994 commented on #1345
@PabloCastellano After spending a lot of time today investigating this issue, it turns out the issue was **not in how the data was being stored in the DB** but in **how it was being displayed**.

I have raised a PR https://github.com/dj-stripe/dj-stripe/pull/1371 that should fix this.

For sanity check, please do the following:

[code]

And notice that all the fields are retrieved properly regardl

[2021-06-10 19:22] #1345 closed, assigned to arnav13081994

[2021-06-11 08:54] PabloCastellano commented on #1345
@arnav13081994 Nice finding, thanks for fixing it! :clap:

[2021-06-11 10:38] arnav13081994 commented on #1345
Anytime!

[2021-06-11 13:16] arnav13081994 commented on #1231
@jpulec I have been able to replicate this issue. It seems this may be a quirk in `django` itself as it is even mentioned in the docs

A quick and dirty solution would be to simply call `reload(djstripe_settings)` at the beginning of the test case.

[2021-06-12 16:30] shukryzablah commented on #1337
@arnav13081994 Thank you. I'll try out the latest release 2.5.0 soon.

[2021-06-12 18:03] mohcer opened #1372 "Error while running tests , djstripe migration facing attribute error"
**Describe the bug**
A clear and concise description of what the bug is.
[code]
**To Reproduce**

python manage.py test

**Software versions**
- Dj-Stripe version: 2.4.3
- Python version: 3.6
- Django version: 2.2.13
- Stripe API version: 2020-08-27
- Database type and version: postgresql, 9.3.10

[2021-06-14 12:18] arnav13081994 opened #1374 "Stripe Webhook Issue: Retrieving Incorrect Stripe object with ID."
**Describe the bug**

The `customer_webhook_handler` being the handler for a top-level key, `customer`, receives all events and some of them may not be relevant when `Event.data.object.object != "customer"` and will cause like `stripe.error.InvalidRequestError: Request req_VWVnxVii6TzLhK: No such customer: 'sub_JfZfQX4QNAVVVh'`

This is the generic behavior as long as there is a handler for any to

[2021-06-14 15:59] arnav13081994 commented on #1352
@vedran You were right. `SubscriptionItem` objects were not getting synced due to the exact reason you mentioned. I just raised a PR that should fix this issue: https://github.com/dj-stripe/dj-stripe/pull/1376

[2021-06-14 17:27] #1231 closed, assigned to jleclanche

[2021-06-14 17:30] #1352 closed, assigned to arnav13081994

[2021-06-14 17:40] #1374 closed, assigned to arnav13081994

[2021-06-14 21:49] shukryzablah commented on #1337
I have upgraded to 2.5.0. No problems here.

This is in test mode:
I added an endpoint in my dashboard to receive all connect events (same endpoint that I have for all events from my platform). However, the events have a response 400 (Bad Request). The request of the sent events looks as expected for those events. Is there additional setup that needs to occur before the connect webhooks start work

[2021-06-15 03:46] arnav13081994 commented on #1337
400 usually means something wrong with keys or the webhook secret.

Did you make sure all the keys and secrets were changed correctly?

And are the other webhook endpoints returning 200?

[2021-06-15 10:16] arnav13081994 commented on #1089
@twbagustin I believe this should now work. Earlier `SubscriptionItem` objects were not getting updated whenever `Subscription` objects were updated due to various reasons.

Please try the latest version (`master`) and see if it works or not.

[2021-06-15 10:31] arnav13081994 commented on #1219
It seems this issue has been resolved. Please try again with the latest version (`master`).

A lot of webhook sync fixes were pushed in the last few months.

[2021-06-15 13:41] shukryzablah commented on #1337
Yes. I checked. My platform's webhooks are firing as normally, returning 200.

I did not change any keys and secrets when I upgraded, did I have to do so?

If you tell me how to figure out what is going wrong, then I can look into it myself. I do need that guidance to get started on debugging though.

[2021-06-15 15:40] arnav13081994 commented on #1337
Your test keys etc don't need to be touched. If you can get 200 with the keys that means they are valid and as such should work for connect webhooks as well.

400 can be due to a lot of reasons.

It basically means that Stripe was able to contact the server but the endpoint was not valid.

To figure out why is that the case, I'd do the following:

1. Start with the server logs to see what is the e

[2021-06-16 06:11] arnav13081994 commented on #740
@sp576 @stygmate This issue should be resolved starting in `2.5.0`

[2021-06-16 06:13] arnav13081994 commented on #1187
@mrcoles Connect Webhooks support has been added in `2.5.0`

[2021-06-18 16:13] #1372 closed, assigned to nobody

[2021-06-23 03:35] terrylgarner opened #1380 "SubscriptionItems database table not updating from webhook after stripe.Subscription.modify command"
**Describe the bug**
After combining multiple "subscriptions" to different plans/prices inside one Stripe Subscription via attachment of multiple SubscriptionItems (one for each "subscription") to the Subscription object at creation or through modification, if you modify a SubscriptionItem attached to the Subscription by changing either plan/price or quantity associated with the SubscriptionItem,

[2021-06-23 06:32] arnav13081994 commented on #1380
I believe this is fixed in master. Can you please try with that and check if it works or not.

Earlier SubscriptionItems were not getting updated on Subscription changes and that is exactly what I believe is ultimately happening in your case. This was resolved a few days ago.

[2021-06-23 12:14] patroqueeet commented on #1307
using it for long time already in www.das-aktienregister.ch ( [Logo](https://www.dropbox.com/s/7je1azul3a6dl6o/aktienregister_logo_transparent_bg%20%281%29.png?dl=0) )

[2021-06-23 12:27] abdulwahidgul24085 commented on #729
Customer.objects.get_or_create() still gives the dubplicate key error.
`IntegrityError('duplicate key value violates unique constraint "djstripe_customer_id_key"\nDETAIL:  Key (id)=() already exists.\n')`.

If I use
``cust = Customer.create(
     subscriber=instance,
 )``
This gives me an error on the second customer that I want to create. Saying the subscriber_id need's to be incremented.

But wh

[2021-06-23 16:01] terrylgarner commented on #1380
When I tried to update to 2.5 I got an error on attempting to make migration for the missing djstripe parent node 0005_2_2.  I found no solution for that either, so I had to roll back my version to 2.4.4.   Is 2.4 already past its EOL?

[2021-06-23 16:51] vedran commented on #1352
Thank you!

[2021-06-23 22:38] jleclanche commented on #1380
@terrylgarner no, we still support 2.4. What's that error you're having? I'm supposed to publish 2.5.1 with some migration-related fixes soon.

[2021-06-24 01:17] terrylgarner commented on #1380
The error that prevented me from updating to 2.5 was the migration 0005_2_2.py was missing from 2.5?  It is listed as a dependency to one of the migrations on one of my apps--I presume because it has models that have FKs to dj-stripe Subscriptions.  When I tried to manually put the 0005 migration into 2.5's migrations it created a merge with djstripe migration 0008_2_5 but then it threw another er

[2021-06-25 17:01] jleclanche commented on #1380
@terrylgarner OK, I see what you mean. Yes, unfortunately there's no way to tell django to try harder to depend on `0001_initial` instead of the tip migration, which we delete on a regular basis.

I'll try to think of a better way to do this for 2.6.0 because it's not the first time this comes up. In the mean time, replace `0005_2_2` with `0001_initial` in your migration, it will work fine.

[2021-06-25 17:49] terrylgarner commented on #1380
To clarify: I can upgrade to 2.5 and then in _my_ app migration that listed `0005_2_2` as a dependency, change _that_ line to show the dependency as `0001_initial`, and proceed as normal?  Thanks for getting back to me with that! As a work-around, if anyone needs to stay on 2.4, I found the classmethod `sync_from_stripe_data` and instead of updating the subscription, I updated the subscriptionItem

[2021-06-25 18:27] terrylgarner commented on #1380
To update you:  I upgraded to 2.5 and after changing my dependencies, was able to migrate, however, djstripe is still not updating the database entry for SI2 after I call `stripe.SubscriptionItem.modify(SI2.id, quantity=2)` or `stripe.Subscriptions.modify(sub1.id, items=[{"id":SI2.id, "quantity":2},],)` and I still have to use the classmethod as described above

[2021-06-25 23:03] arnav13081994 commented on #1380
@terrylgarner It was fixed in master. And should land in 2.5.1. It unfortunately isn't in 2.5.0. Sorry if I implied upgrading to 2.5.0 would fix your issue.

This is the relevant PR: https://github.com/dj-stripe/dj-stripe/pull/1376

[2021-06-25 23:34] epoq commented on #1327
hello, i have the same problem here. i litterally copy the example  in the  documentation :
[code]

[2021-06-27 06:45] arnav13081994 commented on #1380
@terrylgarner `2.5.1` is now live. Please update and see if that resolves your issue or not.

[2021-06-27 08:55] lucargir opened #1382 "djstripe_sync_models should sync all PaymentMethod objects and not just cards"
**Is your request related to a problem? Please describe.**
When syncing models using ./manage.py djstripe_sync_models PaymentMethod, only cards are synced due to a payment method type restriction when making the request to Stripe's API:

**Describe the solution you'd like**
djstripe_sync_models PaymentMethod should sync all payment method types

**Additional context**
N/A

[2021-06-29 15:51] terrylgarner commented on #1380
Thank you for helping out with this.  I tried to upgrade via `pip install --upgrade dj-stripe` and 2.5.1 has not been published to PyPI

[2021-07-01 07:12] belltagy commented on #1342
@MattGalvis  this type of problem already comes when you did not run python manage.py djstripe_sync_models at first
so please run python manage.py djstripe_sync_models command this almost helped me

[2021-07-01 07:13] belltagy commented on #1341
@aryan340  this problem solved with me by running python manage.py djstripe_sync_models command hope this help

[2021-07-02 00:14] tartieret opened #1384 "Invoice webhook fails with AttributeError: 'dict' object has no attribute 'auto_paging_iter'"
**Describe the bug**

Invoice-related webhooks failed due to an `AttributeError` exception: `'dict' object has no attribute 'auto_paging_iter'`
The payload sends by Stripe does not reach my own webhook, the error is generated when djstripe handles the request from Stripe.

Thanks for your help.

**To Reproduce**

Implement a simple webhook for all Invoice actions:
[code]

When stripe sends an invo

[2021-07-02 10:37] patroqueeet opened #1385 "Allow invoice editing in admin without related charge"
**Is your request related to a problem? Please describe.**
I am creating custom one off invoices in stripe. these are synced to djstripe via webhook. as I can't adjust period_start/end in stripe, I need to adjust it inside django admin. but can't save as of now, because there is no related charge and inside the model def the `blank=True` is missing

**Describe the solution you'd like**
add model d

[2021-07-02 10:47] jleclanche commented on #1385
Hi! You can't really edit anything from the admin as the changes are not reflected in Stripe at the moment. Adding write capabilities to the admin is planned but part of a different issue.

I recommend you edit from the stripe dashboard, the changes will be automatically reflected in the admin if you have webhooks set up.

[2021-07-02 10:47] #1385 closed, assigned to nobody

[2021-07-02 11:16] patroqueeet commented on #1385
hey, as written above: in stripe dashboard this data is not editable. I only can enter the count and price for one off items, but no period data for invoice or invoice items. otherwise I would have done so already because I'm aware of your `one source of thruth` policy.

[2021-07-02 11:18] jleclanche commented on #1385
Can you explain to me what you're trying to accomplish? Because if the data is not editable from Stripe, the edits you make won't be (can't be) reflected in the real invoice either.

[2021-07-02 11:20] patroqueeet commented on #1385
I'm sending out custom invoices with my own branding. Ignoring the stripe invoice communication features. therefore the local data will result in a properly showing custom invoice pdf...

and yes I'm aware without the stripe sync this won't go well in the future... but that level of maturity has yet to come for my project here.

probably it would be better to create a way to define the invoice dat

[2021-07-02 11:25] patroqueeet commented on #1385
and to go deeper into your question. I have a subscription page here. but occasionally I have custom jobs for clients. then I need to send out a one off invoice with items data like: desc, count, price per item, period_start, period_end. that's it. but as of now the period_* can't be edited/entered in stripe for one off items

[2021-07-02 11:25] jleclanche commented on #1385
Yeah i think if you're using this data exclusively locally then you don't want to be storing this stuff on the stripe invoice model. A sync here or there would revert your changes, too.

If you want local overrides i recommend storing custom data either in a custom model, or maybe in the metadata field of the invoice which i believe you can still edit after it's issued.

[2021-07-02 11:27] jleclanche commented on #1385
I think this is possible with Stripe invoices. I might be wrong; can't check as I'm on a train right now but i find it odd you can't just use stripe's own solution (that is, that it isn't suitable for your use case)

[2021-07-03 03:08] arnav13081994 commented on #1380
@terrylgarner Sorry for the confusion. It should be live now.

[2021-07-03 20:38] mpkasp opened #1386 "Issue when attempting to sync tiered Price Model (possible regression)"
Describe the bug

The Price model does not include tiers information when the billing scheme is Tiered; Same issue as reported in #1284 ; Confirmed the bug is fixed in djstripe version 2.4.1, but is broken again in 2.5.1.

Software versions

dj-stripe version: 2.5.1
Python version: 3.7.4
Django version: 3.2
Stripe API version:
Database type and version: Sqlite3
Steps To Reproduce

Create tiered gr

[2021-07-04 01:48] arnav13081994 commented on #1386
@mpkasp You are right about this. One of the fixes I have made in the latest PR is to address the issue of `expand_fields` attribute not getting handled correctly by the `get_list_kwargs` function in the `djstripe_sync_models` management command.

This is the relevant PR and with the change [highlighted](https://github.com/dj-stripe/dj-stripe/pull/1381/files#diff-b066c845672e18d86e3f74dc7829838157

[2021-07-12 11:43] belendax opened #1397 "There are no fields in djstripe_taxrate table which store Country and State"
In [Stripe ](https://stripe.com/docs/api/tax_rates/object) you can store the Country and State for each tax rate. However, there are no fields to store them in djstripe_taxrate table. Those fields need to be added to the TaxRate model.

[2021-07-13 11:27] arnav13081994 commented on #1397
@belendax Thank you for raising this issue. Yes, you are correct. Our model representation of `Tax Rate` is not up to date with Stripe. I will add to the list of tasks to complete.

[2021-07-13 11:49] arnav13081994 commented on #1384
@tartieret From your attached traceback, your custom handler is being invoked but the line
`Invoice.sync_from_stripe_data(invoice_data)` is throwing that error you mentioned. And that's because invoice_data is a python `dict` and not a `StripeObject`. In order to call `auto_paging_iter` you need to call Stripe and get the actual data object.

Please note `object: list` is what you need, to be able

[2021-07-13 11:53] arnav13081994 commented on #1382
@lucargir I agree and have added this to the list of tasks.

For the time being, if you need help syncing other payment types, please reply to this comment.

[2021-07-14 00:18] kavdev opened #1398 "Add Open in VS Code Badge to ReadMe"
VS Code supports opening an OSS repo directly from GitHub without having to clone the repo; now there's a way to just supply a badge to let users quickly browse or run code with a few clicks:

[code]
[![Open in Visual Studio Code](https://open.vscode.dev/badges/open-in-vscode.svg)](https://open.vscode.dev/dj-stripe/dj-stripe)

Quick, nice-to-have addition. Thoughts on adding it?

[2021-07-14 00:19] jleclanche commented on #1398
Eh, sure

[2021-07-14 07:08] kavdev commented on #1340
Fyi, the django fix landed in 3.2.5: https://docs.djangoproject.com/en/3.2/releases/3.2.5/

[2021-07-14 07:57] kavdev commented on #1089
Assuming this works with latest changes. If that's not the case, feel free to reopen.

[2021-07-14 07:57] #1089 closed, assigned to nobody

[2021-07-14 08:00] #1219 closed, assigned to nobody

[2021-07-14 08:02] #740 closed, assigned to nobody

[2021-07-14 08:02] #1187 closed, assigned to nobody

[2021-07-14 08:15] #1380 closed, assigned to nobody

[2021-07-14 13:26] #1386 closed, assigned to nobody

[2021-07-14 13:45] #1340 closed, assigned to nobody

[2021-07-14 13:45] jleclanche commented on #1340
Wonderful. Closing as fixed by documentation.

[2021-07-15 08:07] allburov opened #1400 "How do I set two DJSTRIPE_WEBHOOK_SECRET values for LIVE and DEV modes?"
Hey there, thank you a lot for making the library! I just was thinking about "How can I quickly access my data from Stripe? Well, I need to sync it" and found this awesome library.

The question is - how can I set two values DJSTRIPE_WEBHOOK_SECRET for LIVE and DEV move in the one django instance?

We use Stripe's modes with the same server, so the current architecture is this:
1. `Stripe LIVE` =>

[2021-07-15 10:49] arnav13081994 commented on #1400
@allburov I don't think it is possible to run a Django instance in both `live` and `dev` mode at the same time.

In case all you want is to somehow access both the `live` and `dev` data in the same Django instance but as different DB tables in the same DB that may be possible. But in the current avatar of the library, we do not expose a way to modify the `DB` table names.

You can still set up you

[2021-07-15 12:21] arnav13081994 commented on #1327
@epoq What you are doing is exactly what needs to be done in case you want to run your code `in addition` to the default code provided by `Dj-stripe`.  Please note that all `registered webhooks` are run inside the same db transaction and currently there is no way to `override` the default `sync functionality` provided by dj-stripe.

Also please note that the handler for `customer` will run for all

[2021-07-15 12:42] jleclanche commented on #1400
It's not possible right now but just for the record, I'd like it to be, and the plan is to move the webhook secrets to the database as part of the WebhookEndpoint model. This will make it possible to have multiple endpoints per djstripe instance.

[2021-07-15 13:14] allburov commented on #1400
@arnav13081994 I'm talking only about Stripe's mode, not django's one.

The idea is simple - in the production environment we have all our real clients who have Custom accounts in "live" Stripe. But also we have one client for test - who uses "dev" mode in Stripe, it's kinda like a way to test the flow in the production without spending real money :)

One quick fix for me, as @arnav13081994 mentio

[2021-07-15 15:19] #1320 closed, assigned to jleclanche

[2021-07-17 19:59] onekiloparsec commented on #1285
For the sake of completeness (and because I care a lot about that question), here is what I do to set a quantity to a subscription (mettered usage), that is, using a usage record, directly from Stripe python module. How does it compare to the solution above ?

[code]

[2021-07-19 21:13] alecdalelio commented on #1110
@lee-hodg @therefromhere - I have set DJSTRIPE_SUBSCRIBER_MODEL to my app's User model. I'm trying to set up the "checkout.session.completed" webhook so that whenever a new customer is created, I update the corresponding instance of User. Unfortunately, when I create new customers this doesn't work - subscriber_id remains null! Any tips?

[2021-07-19 21:17] alecdalelio commented on #1110
Several of the customers that I created in the past few weeks do have a subscriber_id. Strangely, when I create new customers through Stripe checkout they are not assigned a subscriber_id.

[2021-07-19 21:37] alecdalelio commented on #937
@kavdev @aaronn @Skorpyon

I have set DJSTRIPE_SUBSCRIBER_MODEL to my app's User model. I'm trying to set up the "checkout.session.completed" webhook so that when a new Customer is created, I update the corresponding instance of User. Currently, when I create a new Customer via Stripe Checkout, the "subscriber_id" field is empty. This makes it impossible to query information about the correspondin

[2021-07-19 21:44] alecdalelio opened #1402 "Dj-Stripe Customer does not sync with Subscriber/User model upon Customer Creation"
I have set DJSTRIPE_SUBSCRIBER_MODEL to my app's User model. I'm trying to set up the "checkout.session.completed" webhook so that when a new Customer is created, I update the corresponding instance of User. Currently, when I create a new Customer via Stripe Checkout, the "subscriber_id" field is empty. This makes it impossible to query information about the corresponding User. Here are my setting

[2021-07-20 01:27] arnav13081994 commented on #1110
@alecdalelio Could you please copy-paste the code you use for creating a checkout session?

Also have you been using the same webhook earlier as well? Or were you using customer.created etc?

There are 2 ways to create a Stripe Checkout Session:

1) Give the user email (Stripe will create new customers for the same email)

2) Give the customer id and stripe will create another entry for that custo

[2021-07-20 08:38] kailip commented on #1039
The issue still persists. It's easily testable using Stripe test card `4000 0000 0000 5126` for payment:

[2021-07-20 09:57] arnav13081994 commented on #937
@alecdalelio I can confirm that using `checkout.session.completed` will not work. Just to confirm that you are creating `customer` directly from `checkout.session.completed`, right?

After reviewing the code I can confirm that the `metadata` will have the required key (`subscriber_id `)`only` for customers that were created using the `Customer.get_or_create` or `Customer.create` classmethods.

[2021-07-20 10:11] arnav13081994 opened #1403 "subscriber_id will be empty for all new customers created from checkout.session.completed"
**Describe the bug**

`Djstripe` internally uses the `subscriber` key to map `customers` to `DJSTRIPE_SUBSCRIBER_MODEL`. This works fine as long as new `customers` are created using `Customer.get_or_create` or `Customer.create` class methods. Stripe, however, exposes another modality to create customers as well via `Stripe Checkout`. In case the user of `Djstripe` relies on getting the newly creat

[2021-07-20 10:17] arnav13081994 commented on #1402
@alecdalelio I can confirm this is a bug. I have added a ticket for this.

The reason for this bug is that when `customers` are created using `Customer.get_or_create` or `Customer.create` classmethods, the `subscriber_id` key is added to the `customer metadata`. This, however, is not the case when `customers` are created on Stripe like the case of `Stripe.Checkout.completed` webhook.

Also please

[2021-07-20 13:09] allburov opened #1404 "djstripe_sync_models doesn't sync payouts for Custom accounts"
**Describe the bug**
We use Stripe's Custom Accounts. For some reason, looks like `djstripe_sync_models` doesn sync payouts for them, only for the main stripe's account.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest dj-stripe (from master branch)
2. Run `djstripe_sync_models`
3. It syncs only the main account's payouts, but doesn't Custom's payouts

**Expected behavior**

[2021-07-20 13:13] allburov commented on #1404
I have tested this only with "test" stripe mode tho.

[2021-07-20 13:22] arnav13081994 commented on #1404
@allburov Yes, you are correct about that. That is already on my [todo](https://github.com/dj-stripe/dj-stripe/projects/3#card-65050174) list. Currently `djstripe_sync_models` only works for the `platform account` and not its `Connected Accounts`.

[2021-07-20 13:26] allburov commented on #1404
I see, thank you for the quick response! I'll be waiting the feature.

I guess it syncs via webhook because webhook's data contains "stripe_account" field, right?
But `Payout.list` has to have `stripe_account` or it'll give us the main stripe account data

[2021-07-20 13:42] arnav13081994 commented on #1404
No problem.

Yes,you need to add the stripe_account header to get data for the connected account

[2021-07-23 08:40] arnav13081994 commented on #1162
Closed by https://github.com/dj-stripe/dj-stripe/pull/1387

[2021-07-23 08:40] #1162 closed, assigned to arnav13081994

[2021-07-23 08:43] arnav13081994 commented on #1125
Closed by https://github.com/dj-stripe/dj-stripe/pull/1387

[2021-07-23 08:43] #1125 closed, assigned to arnav13081994

[2021-07-23 09:03] arnav13081994 commented on #1327
@BelDaw I think there may be some confusion between `django signals` and `Djstripe webhooks`. Djstripe `webhooks` internally use `Django Signals` and while you can use `Signals` to achieve the same functionality, djstripe `webhooks` allow you to quickly get started and do more faster. Please refer to the documenatation on how to use `webhooks` [here](https://dj-stripe.readthedocs.io/en/master/usag

[2021-07-23 09:03] #1327 closed, assigned to nobody

[2021-07-23 09:07] arnav13081994 commented on #1039
@jcobacho Yes this was an issue where the `event_type` and the `target_obj` class didn't match. This was addressed in the later releases.

If you update to the latest version of `djstripe` you will not get this error. However, please note that we do not have full support for `Refunds` from Stripe Connected Accounts yet. It is something I am planning on working on soon. Also, we have no default `we

[2021-07-23 13:14] kailip commented on #1039
@arnav13081994 I'm using the latest version (2.5.1) of djstripe, but I'm still getting this error. Receiving `charge.refund.updated` event ends with getting `stripe.error.InvalidRequestError: Request req_vtjsM2K1dccH1l: No such charge: 're_1JGO8ZI5dFMQdzrR5uYabcde'` error.

[2021-07-23 15:28] arnav13081994 commented on #1039
@kailip My bad. It should be in the next minor release but is already in `master` if you'd like to give it a try.

[2021-07-26 11:14] arnav13081994 commented on #1297
@coryrwest @PabloCastellano @bradykieffer Please check with the `latest release` or `master`, if possible. In the last few months, a lot of fixes were pushed and I am unable to reproduce this issue.

All `Model` syncs including `Account` and `TaxRate` sync for me and like @coryrwest I also have multiple Stripe accounts.

[2021-07-26 11:22] arnav13081994 commented on #1318
@jleclanche This seems like an issue with `JSONfield`. And that is causing the `data` to not get correctly serialised. That said, it seems like an upstream problem and not something under our control.

@andresmachado Are you able to reproduce this issue with the `latest release` or with `master`?

[2021-07-26 11:24] arnav13081994 commented on #1384
Feel free to re-open this issue if the problem persists.

[2021-07-26 11:24] #1384 closed, assigned to nobody

[2021-07-26 12:02] arnav13081994 commented on #492
I can confirm that this issue has been fixed due to all the `connect` changes that were made in the last few weeks. Please feel free to re-open if this issue persists.

[2021-07-26 12:02] #492 closed, assigned to nobody

[2021-07-28 14:27] magamig opened #1408 "ValidationError in models.Customer.sync_from_stripe_data"
[code]

Gives the following error:
[code]

**Software versions**
- Dj-Stripe version: 2.5.0
- Python version: 3.8.11
- Django version: 3.2
- Stripe API version: 2.60.0
- Database type and version: PostgreSQL 12

[2021-07-28 23:33] kyle-nrs commented on #1318
I haven't been able to figure out why this happened, but I did get a similar issue to this in my dev database.

I found that most of what should have been jsonb fields were being saved as text fields in my database.

`SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = 'djstripe_charge' AND (data_type = 'jsonb' OR data_type = 'text');`

[code]

[code]

 In

[2021-07-29 09:37] jleclanche commented on #1318
Is it possible you were mistakenly on an older version than that which didn't yet support `USE_NATIVE_JSONFIELDS`?

[2021-07-29 16:25] kyle-nrs commented on #1318
I don't remember having a version before that, but there is a good chance that I set `USE_NATIVE_JSONFIELD` after creating the tables on that initial dataset.

[2021-08-01 23:58] #1408 closed, assigned to nobody

[2021-08-02 21:32] tartieret commented on #1384
@arnav13081994 thank you for your help, this works. What confused me is that the function is called `sync_from_stripe_data` but what I understand now is that it does not work with data returned by Stripe !

[2021-08-03 18:12] psacawa opened #1414 "When a Price nickname attribute is set, the wrong id is sent in request"
**Describe the bug**

When the price has the `nickname` attribute set to a string like `"Test Monthly"`  , and I try to create a checkout session, I get a stack trace like the following

[code]

So it seems  it is applying  `str()` to the price to find the data for the request?

**To Reproduce**

[code]

Then in the code somewhere:

[code]

**Software versions**
- Dj-Stripe version: 2.5.1
- python

[2021-08-04 01:31] arnav13081994 commented on #1384
Anytime!

[2021-08-04 04:31] arnav13081994 commented on #1414
@psacawa I am unable to replicate this issue.

It seems that it is trying to query by the nickname, but that's actually not what's happening.

The [code](https://github.com/dj-stripe/dj-stripe/blob/stable/2.5/djstripe/models/core.py#L2083) for `__str__()` returns `nickname` if it exists, otherwise the `id` so the error message getting printed is what's causing the `nickname` to be printed. This be

[2021-08-04 13:38] psacawa commented on #1414
The problem can't be with `djstripe`. I didn't call any `djstripe` methods, but rather those from  the first-party `python-stripe`. If anything the problem is there.

1. Yes
2. This  is what I initially did. I went to Stripe web console and went to "Products", "Edit Product", and added "Price Description" under "Additional Options". Then I confirmed these strings appeared in the API via `stripe pr

[2021-08-04 20:57] jleclanche commented on #1414
cc @ob-stripe - I agree this is unlikely to be coming from dj-stripe. Do you recognize this issue?

[2021-08-04 22:27] #1323 closed, assigned to arnav13081994

[2021-08-05 09:26] arnav13081994 commented on #1414
Weirdly enough I'm not able to replicate it with the ClI either.

[2021-08-08 12:45] arnav13081994 commented on #911
@aaronn Can you please share a link to this information? I am not able to find anything on Stripe that mentions one cannot use the `Session.metadata` to pass custom data.

No mention [here](https://stripe.com/docs/upgrades) either.

[2021-08-08 16:52] arnav13081994 commented on #1336
This PR will fix this https://github.com/dj-stripe/dj-stripe/pull/1415

[2021-08-09 13:51] arnav13081994 opened #1418 "Subscription workflow for organizations"
### Discussed in https://github.com/dj-stripe/dj-stripe/discussions/1322

<div type='discussions-op-text'>

<sup>Originally posted by **epicserve** February 22, 2021</sup>
Right now I have a proof of concept on how billing works with dj-strip which is tied to a user and dj-stripe customer. However, the SaaS web application I'm working on is going to offer subscription plans for organizations and n

[2021-08-09 18:51] #1418 closed, assigned to arnav13081994

[2021-08-09 18:52] #1336 closed, assigned to nobody

[2021-08-11 02:57] arnav13081994 commented on #1337
Feel free to re-open this issue, if you are still not able to use connected accounts.

[2021-08-11 02:57] #1337 closed, assigned to nobody

[2021-08-11 04:51] arnav13081994 commented on #1157
@aaronn I am unable to replicate this. Can you please try with `2.5.1` and the `latest` to see if you can replicate the error?

[2021-08-11 12:32] #911 closed, assigned to nobody

[2021-08-11 12:32] #1402 closed, assigned to nobody

[2021-08-11 12:32] #1403 closed, assigned to arnav13081994

[2021-08-13 04:51] arnav13081994 opened #1422 "Add docker support for contributors"
**Is your request related to a problem? Please describe.**

It would be a lot easier to manage and test on multiple dbs and have the stripe service run on the localhost if a single docker-compose file could orchestrate all these services.

This would also allow to easily manage one developing for multiple stripe accounts on the same server (localhost) and there would be no need to login in to stri

[2021-08-14 15:30] Skorpyon opened #1423 "django.db.migrations.exceptions.NodeNotFoundError"
[code]

Guys, what you doing with migrations? I using dj-stripe since 2017 and each of your migration is painful. Why you didn't just leave migrations? Squashing is bad idea, all time upgrading require manual tricks, monkey patching, playing with versioning. I don't remember that Two Scoops advice this bad practice.

[2021-08-14 15:36] jleclanche commented on #1423
@Skorpyon Change your migrations referencing `0005_2_2` to depend on `0001_initial` instead.

They'll be less painful in the future, but we have to remove some of them once in a while otherwise they just take ages to run and are completely unmaintainable (some random examples: #850, #909, #1161, #1340, #1349)

Current approach we're taking is the least bad option. Happy to guide you if you want to

[2021-08-14 15:36] #1423 closed, assigned to nobody

[2021-08-17 01:27] awhileback opened #1424 "STRIPE_LIVE_MODE only works as a string, not as a proper boolean setting... maybe"
**Describe the bug**
Re-reporting a previous bug, #578.  Feel like this is worth documenting perhaps?

I've run across this in multiple Django-isms in the deployment I'm currently working on, and there's little rhyme or reason to it. Quoting env variables causes mod_wsgi to fail because it respects the quotes.  Not quoting env variables causes dj_stripe to fail, because it does expect the quotes.

[2021-08-17 03:04] arnav13081994 commented on #1424
@awhileback I can understand your frustration and this does seem like an annoying quirk of all these systems. I'm curious to know why are you exporting `STRIPE_LIVE_MODE` as an env key? If your `settings.py` is different for different deployment environments with perhaps a common ancestor, wouldn't it be just easier to hardcode this variable depending on which environment that `settings.py` file i

[2021-08-17 08:09] jleclanche commented on #1424
@awhileback Putting aside arnav's concerns for a moment, the title of this issue makes no sense to me. `STRIPE_LIVE_MODE` is a boolean, and expects a boolean, if you feed it a non-boolean its behaviour is not guaranteed at all.

If you want to fill it in from environment variables, you can use `STRIPE_LIVE_MODE = os.environ.get("STRIPE_LIVE_MODE", "") == "true"` for example, or use the excellend [

[2021-08-17 08:10] jleclanche commented on #1424
Actually gonna keep open as a documentation bug if you want to take it @arnav13081994

[2021-08-17 08:11] jleclanche commented on #1424
@arnav13081994 I'm happy to recommend django-environ fwiw it's a great lib.

[2021-08-17 13:14] arnav13081994 commented on #1424
Sure. I'll take this up. Yes I'm aware and I use it in some projects. Thanks for the recommendation!

[2021-08-18 01:13] awhileback commented on #1424
The reason for storing the key as an env variable is deployment via containers.  There are no hard-coded settings in my django settings files for that reason.

Thanks for the recommendations!

@jleclanche I have seen lots of people praise that environ lib and will take a look. It always seemed superfluous to me to depend on an external lib to hold variables, when a shell can (presumably) do that v

[2021-08-18 06:01] arnav13081994 commented on #1285
@onekiloparsec In the next [release](https://github.com/dj-stripe/dj-stripe/pull/1425) `UsageRecord` and `UsageRecordSummary` models will be available and syncing should work. Please note that Stripe doesn't expose a way to retrieve `UsageRecord` objects directly so we sync them at creation time, similar to how you have done.

[code]

Relevant PR #1425

[2021-08-18 13:54] arnav13081994 commented on #1285
@steverecio In the next release you should be able to use Djstripe's `Customer.subscribe()` to subscribe the given customer to multiple plans like its mentioned in the docs.

Relevant PR: #1426

[2021-08-19 06:16] arnav13081994 commented on #1254
@LordXyTh This issue is no longer happening with the latest release. `start` field has been deprecated too.

Please feel free to re-open this issue if it persists.

[2021-08-19 06:16] #1254 closed, assigned to nobody

[2021-08-19 14:42] #1290 closed, assigned to nobody

[2021-08-23 07:11] arnav13081994 commented on #1422
@jleclanche Any thoughts on this? Would definitely make it easier to work on multiple projects on one's localhost?

[2021-08-23 10:01] jleclanche commented on #1422
I have no opinion on this, but if you want to make a dockerfile go for it. I personally wouldn't use it. I find Poetry does everything i need it to.

[2021-08-23 11:06] #1424 closed, assigned to arnav13081994

[2021-08-23 11:38] #1422 closed, assigned to nobody

[2021-08-23 11:49] ob-stripe commented on #1414
Sorry for the delayed reply, I was OOO until today.

The issue is that you're trying to use the price's `nickname` in place of its `id`. When [creating a Checkout Session](https://stripe.com/docs/api/checkout/sessions/create), Stripe's API expects the [`line_items.price`](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-line_items-price) argument to be a price ID.

E.g:

[2021-08-25 21:11] jleclanche commented on #1424
@awhileback for clarity, django-environ is a tool to pull values out of os.environ in a more standard way rather than doing eg. boolean conversion yourself. It doesn't "hold" anything.

[2021-08-29 06:43] arnav13081994 opened #1436 "ci.yml runs tox only against postgres and postgres-nativejson Databases"
**Describe the bug**

[This](https://github.com/dj-stripe/dj-stripe/blob/master/.github/workflows/ci.yml#L95
) line runs tox against the db environments `postgres` and `postgres-nativejson` even though `ci.yml` was written to support `mysql, sqlite and variations` as well.

[code]
Not sure if this was intentional?

**Software versions**
- dj-stripe version: All
- Python version: All
- Django versi

[2021-08-29 12:47] #1032 closed, assigned to nobody

[2021-08-29 12:49] jleclanche commented on #1436
https://github.com/dj-stripe/dj-stripe/blob/master/.github/workflows/ci.yml#L95 <- the `-e …` just needs to be removed I think.

[2021-08-29 14:53] arnav13081994 commented on #1436
I think so too. I'll push a fix to this.

[2021-09-02 13:38] zonwizard opened #1439 "Issue when attempting to sync [Stripe Object Name(s)]"
**Describe the bug**

missing api_key when calling stripe.Customer.retrieve_source() in models.payment_methods.LegacySourceMixin.api_retrieve()

**Software versions**
- dj-stripe version: 2.5.1
- Python version: 3.6
- Django version: 3.2.5
- Stripe API version: 2020-08-27
- Database type and version: mySql 5

**Steps To Reproduce**

**Can you reproduce the issue with the latest version of master?*

[2021-09-02 14:02] zonwizard commented on #1439
the code missing in dj-stripe 2.5.1 is present in dj-stripe master

[2021-09-04 06:54] arnav13081994 commented on #1439
@zonwizard That must be frustrating for you. But since the code is present in Master then this issue will get fixed in the next minor release.

For now, I suggest simply overriding the method in your code. `LegacySourceMixin` is used in `Card` and `BankAccount` models so for now, you'd have to override the `api_retrieve` method in those 2 classes individually to get around this issue. For example

[2021-09-04 13:39] zonwizard commented on #1439
Ok @arnav13081994, thank you very much for your help.

[2021-09-05 07:16] arnav13081994 commented on #1439
You're most welcome. Feel free to re-open the issue if the problem still exists.

[2021-09-05 07:16] #1439 closed, assigned to nobody

[2021-09-05 08:48] arnav13081994 commented on #1414
@psacawa Feel free to re-open this issue if the problem persists.

[2021-09-05 08:48] #1414 closed, assigned to nobody

[2021-09-05 20:33] boatcoder opened #1440 "djstripe migrations add more than 15 seconds to my unit tests"
Using postgresql, the app makes testing almost unbearably slow.  We need something that won't make unit tests run so slowly.

[2021-09-06 07:30] arnav13081994 commented on #1440
@boatcoder I understand that must be frustrating especially if you run unit tests repeatedly. But unfortunately, the migrations are pretty massive so they would be time-consuming. We try to support as many models exposed by Stripe as possible

And as mentioned [here](https://github.com/dj-stripe/dj-stripe/issues/1349)

I hope that helps. Please feel to re-open this issue if there is something, in

[2021-09-06 07:30] #1440 closed, assigned to nobody

[2021-09-14 03:13] lmeyerov commented on #1162
We are still seeing these:

[code]

On a fairly small test account so surprising -- a few products with a few tiers, and a few customers subscribing to them.

[2021-09-14 04:28] arnav13081994 commented on #1162
Hi @lmeyerov

The fix is in `master` but not in the `latest` release yet. It should land in the `next release.`

[2021-09-16 16:55] alecdalelio opened #1445 "Extra/Empty Customer Instance Created During Checkout"
**Describe the bug**

DJ-stripe is creating an additional customer object for each of my real Stripe customers upon creation. This extra (blank) customer is the one that is related to my User model, so when I try to access Stripe Customer data via the authenticated User on my site, the data comes back empty. The original Stripe Customer object (with all of the correct data) still lives in my datab

[2021-09-17 03:57] arnav13081994 commented on #1445
@alecdalelio Can you paste you Stripe Checkout Session code? Please note that Stripe will create a new customer object even for the `same customer email`. Only if you send the `customer_id` in the `Checkout Session` will it link that `Session` to the provided customer and a new customer will not get created.

Also please checkout this PR https://github.com/dj-stripe/dj-stripe/pull/1416 Seems relev

[2021-09-22 15:06] #1436 closed, assigned to arnav13081994

[2021-09-22 15:16] #1285 closed, assigned to arnav13081994

[2021-09-22 15:16] #1324 closed, assigned to arnav13081994

[2021-09-23 08:07] tiwariayush commented on #1307
Used it at https://bureauxlocaux.com
Also contributed in SCA migration https://github.com/dj-stripe/dj-stripe/pull/914 funded by company

[2021-10-19 12:34] husseinsaade opened #1462 "Changing Subscription Items' quantities on Stripe does not sync back to djstripe, even with sync_from_stripe_data"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

**Software versions**
- Dj-Stripe version: 2.4.3
- Python version: 3.6.9
- Django version: 2.2
- Stripe API version: 2018-11-08
- Database type and version: Postgres 11

We have a business requirement to change quantities on the Stripe Subscription items since we are selling subs to groups. So upon addition

[2021-10-20 09:34] arnav13081994 commented on #1462
@hsaade-algo This issue may have been fixed in `2.5.1`. Please update and try to reproduce this.
Please check out https://github.com/dj-stripe/dj-stripe/issues/1380 and https://github.com/dj-stripe/dj-stripe/issues/1352

Also `Stripe` unfortunately doesn't emit any webhook whenever a `SubscriptionItem` is updated, which is why we update them only via the `customer.subcription.updated` webhook.

[2021-10-20 09:35] arnav13081994 commented on #1445
Closing this due to no response. Feel free to re-open if you encounter this issue again.

[2021-10-20 09:35] #1445 closed, assigned to nobody

[2021-10-20 12:06] husseinsaade commented on #1462
okay thank you @arnav13081994. I guess it is now the panic of upgrading to 2.5.1 in production and facing the migration hell :)

[2021-10-20 12:16] arnav13081994 commented on #1462
@hsaade-algo Feel Free to ask for help in case you face any migration issues. I will open a separate issue to try to make migrations easy from `2.5.1` onwards.

[2021-10-20 12:54] husseinsaade commented on #1462
@arnav13081994 thank you! I will keep an eye on the matter and probably won't upgrade until the migration issue is smooth. We faced huge problems with our DB last time. Thanks again for your help!

[2021-10-23 13:36] yabesh12 commented on #497
can please anyone fix my error--[https://stackoverflow.com/questions/69687988/django-core-exceptions-fielderror-cannot-resolve-keyword-productcategory-id-i](url)

[2021-10-25 20:13] dbartenstein commented on #1111
Are there any objections / side effects of calling `Customer.add_payment_method` for a payment method which already is associated with the customer just to make it the default payment method?

[2021-10-26 01:31] jleclanche commented on #1111
@dbartenstein I believe that will create a duplicate payment method object. They don't do the deduplication for you; although they give you a `fingerprint` to check if two payment methods are the same.

[2021-10-28 19:40] yemarnevets opened #1465 "Should dj-stripe's ProcessWebhookView work with Stripe CLI testing?"
Should the Stripe CLI work with dj-stripe? I asked [this question](https://stackoverflow.com/questions/69531754/why-does-stripe-cli-testing-fail-with-dj-stripe) on StackOverflow and got crickets. As I noted in the question, it looks like  `ProcessWebhookView` is designed to throw a 400 error if `"HTTP_STRIPE_SIGNATURE" not in request.META` or if `not trigger.valid`.

Looking at pdb.set_trace() wit

[2021-10-29 03:56] arnav13081994 commented on #1465
@yemarnevets `dj-stripe` works with `stripe-cli`. You just need to make sure the `webhook events` get passed from your localhost to the correct `url`. The instructions can be found [here](https://dj-stripe.readthedocs.io/en/master/installation/). Once you have configured `dj-stripe`, you can start the `local stripe server` for webhook forwarding like so:

[code]
`stripe/webhook/ ` is the default u

[2021-11-01 03:06] alecdalelio commented on #1445
@arnav13081994 - I have a checkout page where users can toggle between two options for checkout: annual ($110/yr) or quarterly ($30/quarter). Below is the handleClick() method which calls my backend server to create a checkout session using the Stripe price_id corresponding to annual membership and redirects to it.

[code]

Here is the backend endpoint in question: this is what we discussed in Dis

[2021-11-01 03:25] arnav13081994 commented on #1445
`GET` will not work for your flow as you are sending data from the frontend to create the session. Although you could just have the `price_id` as a `url kwarg` and then you could call the url that triggers the `CheckoutSession` with that kwarg. But lets keep this as a backup. The way you are sending data to the `checkout` session shouldn't matter anyway.

Just to make sure I understand your flow,

[2021-11-01 03:29] alecdalelio commented on #1445
@arnav13081994 Yes the flow is correct.

Assuming djstripe_settings.get_subscriber_model() corresponds to the DJSTRIPE_SUBSCRIBER_MODEL environment variable, my subscriber model in this case is simply myApp.User.

[2021-11-01 03:36] arnav13081994 commented on #1445
Ok and I assume you simply overrode the built-in User model provided by Django out of the box, right?

And how do you handle the returned `{"session_id": session.id}` from this view?

Change the view to this:

[code]

[2021-11-01 03:38] alecdalelio commented on #1445
@arnav13081994  Correct - I am using a custom user model. I'll give this a go - thanks!

The session ID returned from the backend is used to redirect the user to the checkout session here (see the full handleClick() method above for more context)

[code]

[2021-11-01 03:43] alecdalelio commented on #1445
@arnav13081994 Just gave it a shot after making the changes you suggested. Nothing changed unfortunately.

<img width="1118" alt="Screen Shot 2021-10-31 at 11 43 13 PM" src="https://user-images.githubusercontent.com/71644173/139618834-e81d1717-903d-4909-b706-f65996946685.png">
d.

[2021-11-01 03:52] arnav13081994 commented on #1445
Up until now, I was under the impression that your local db had duplicate customers. As the customers are getting created twice on the `Stripe Dashboard`, the issue is not with `dj-stripe` as we just sync to the local db and do not create anything on the `Stripe Dashboard`.

I think some other part of your code is somehow triggering something that is resulting in customer creation because one of y

[2021-11-01 03:54] alecdalelio commented on #1445
@arnav13081994 Only the customer with no description has metadata. It has the following: djstripe_subscriber: 52

The other customer whose description is "Alec DAlelio" is actually the customer that I want...that is the one containing the payment method, subscription plan, etc.

[2021-11-01 03:56] alecdalelio commented on #1445
Worth noting that both of these customers are being created in my local db each time.

[2021-11-01 04:00] arnav13081994 commented on #1445
The customer with `djstripe_subscriber` key in its metadata dict is the one created by Stripe Checkout.

Are you populating the field corresponding to `"Alec DAlelio"` somewhere else in your code? Perhaps that's the name or the full_name field or something?

They will be in your local db as they are on the Stripe Dashboard. `dj-stripe` syncs whatever data is in the upstream `Stripe Dashboard`. Had

[2021-11-01 04:06] alecdalelio commented on #1445
The field corresponding to "Alec DAlelio" here comes from the Stripe Checkout session. The user that I am testing this on has a separate name in my db/in the myApp.User model. Here it is again after going through the flow once more using your name instead in the "Name on Card" field.

<img width="1116" alt="Screen Shot 2021-11-01 at 12 03 25 AM" src="https://user-images.githubusercontent.com/71644

[2021-11-01 04:16] arnav13081994 commented on #1445
Wait. You just mentioned that the customer with no description had the 'djstripe_subscriber' key but now you are saying the customer with the populated description is coming from Stripe Checkout. I'm confused. The one from stripe checkout created by the APIView must have that key.

As it stands right now, there doesn't seem to be any issue with Dj-stripe, the library itself. And I am also out of i

[2021-11-01 04:19] alecdalelio commented on #1445
I believe both customers are coming from Stripe Checkout. The bottom one for whatever reason is taking the "Name on card" input as the description. That same Stripe customer also includes all of the data that I want (payment method, subscription, etc.)

The second customer (on top) is the one that includes the djstripe_subscriber metadata. However, that is all that it includes. It doesn't have any

[2021-11-01 04:27] alecdalelio commented on #1445
I think I see what's happening but still do not understand why.

The customer that is being created via Stripe Checkout is not actually being associated with djstripe_subscriber_model at all. One customer (with the description) is taking all of the data from the Stripe Checkout session. The other customer is completely empty with the exception of the metadata from the API view. I need to consolida

[2021-11-01 05:48] arnav13081994 commented on #1445
You would need to update to `2.5.1` and then override the files as done in #1416 or wait until the next minor release. That way the created customer from `checkout` will get associated with the `User` as specified by `djstripe_subscriber` key in the metadata dict.

Also it's unlikely that there is any issue with the `dj-stripe` source code that is causing duplicate customers to be created because:

[2021-11-01 13:33] alecdalelio commented on #1445
@arnav13081994 Thanks for clarifying. I've confirmed I am using 2.5.1 already. Could you please specify exactly what you mean by "override the files as done" in the PR? Which files am I overriding and where? Thanks so much - I think this is nearly all sorted out.

[2021-11-01 13:44] alecdalelio commented on #1445
Implementing the checkout webhook from PR #1416 mostly worked - it stopped the second customer from being created. However, the customer that WAS created does not have any metadata, in other words it is not linked to myApp.user / DJSTRIPE_SUBSCRIBER_MODEL yet.

It is still not fully compatible with my integration but is a step in the right direction. It is pretty crucial that I can keep my Stripe

[2021-11-02 20:51] alecdalelio commented on #1445
@arnav13081994 as you requested via Discord - here is the updated code including:
- CheckoutSessionApiView (used to create the checkout session, passes sessionId to frontend for redirect)
- Checkout webhook (basically identical to the implementation here in dj-stripe)
- CustomerPortalApiView (used to create Stripe billing portal for users to manage their payment method, subscription, etc)

I am us

[2021-11-03 05:52] arnav13081994 commented on #1445
@alecdalelio Thank you for posting the upto date code.

I suspect the `customer.created` event is fired after the `checkout.session.completed` as the order of the webhooks is not reliable anyway and that's why the metadata is not being updated, which is expected behaviour as the customer doesn't exist yet. And that's also why `update_customer_helper(metadata, customer_id, subscriber_key)` is invok

[2021-11-03 12:58] alecdalelio commented on #1445
Thanks for the insight, @arnav13081994.

I've added this webhook listener and unfortunately the behavior has not changed at all.

[2021-11-03 13:06] alecdalelio commented on #1445
@arnav13081994 Here's views.py including a webhook event listener that I neglected to include before. It could be that there's a conflict between my webhook handler and the one that you had me implement from dj-stripe.

[code]

[2021-11-03 13:11] arnav13081994 commented on #1445
@alecdalelio Can you remove the webhook mentioned below

[code]

[2021-11-03 13:11] alecdalelio commented on #1445
@arnav13081994 That was my first impulse - unfortunately removing it did not change anything

[2021-11-03 13:15] arnav13081994 commented on #1445
Can you run `python manage.py djstripe_sync_models Customer Session`? And check if the customer metdata gets updated and the relation between the `Customer` and the `Subscriber` gets created?

Also can you also add a few print statement to see how `update_customer_helper(metadata, customer_id, subscriber_key)` is getting invoked?

[2021-11-03 13:16] alecdalelio commented on #1445
Good ideas - yeah I'll give that a go and let you know how it goes.

[2021-11-03 13:21] alecdalelio commented on #1445
@arnav13081994 I'm getting this:
NameError: name '_handle_crud_like_event' is not defined

I am importing it like so:
from djstripe.event_handlers import *

Would it be better if I actually copy/paste that method from dj-stripe source code into my views.py, import it directly, or something different?

[2021-11-03 13:23] arnav13081994 commented on #1445
You'll have to copy paste it as it is in `master` and not `2.5.1`

[2021-11-03 13:35] alecdalelio commented on #1445
File "/Users/alecdalelio/Development/Mochi/backend/payments/views.py", line 259, in _handle_crud_like_event
    if crud_type is CrudType.DELETED:
AttributeError: type object 'CrudType' has no attribute 'DELETED'

This error seems to be preventing the webhooks from running properly

[2021-11-03 13:41] arnav13081994 commented on #1445
@alecdalelio Let me try to run a few scenarios on my end. I suspect, the `customer` does not exist locally by the time the 2 webhooks get fired.

For now, You can remove all the 3 webhooks (`checkout_success`, `customer_webhook_handler `, `checkout_webhook_handler `), and instead add this

[code]

This completely bypasses whether `metadata` is in `checkout` or not. I assume `User` model is the `Su

[2021-11-03 13:44] alecdalelio commented on #1445
Sounds like a safe assumption regarding the Webhooks.
You're correct - User is the Subscriber model and I set up the Checkout session such that User.email is pre-loaded when the user redirects to checkout. So I can guarantee that Customer.email and User.email are consistent.

[2021-11-03 13:46] arnav13081994 commented on #1445
Ok. Please let me know if this fixes the 2 issues or not.

[2021-11-03 13:52] alecdalelio commented on #1445
These changes did not have an impact on the behavior - still no metadata on the customer.

[2021-11-03 13:54] arnav13081994 commented on #1445
Oh sorry I forgot to add a line for metdata. But you are getting the correct association between the `User` and the `Customer` and no duplicate customers?

[code]

[2021-11-03 13:57] alecdalelio commented on #1445
Gotcha - I'm going into a quick meeting right now but I'll try it again with the metadata line in ~30min!

[2021-11-03 19:35] alecdalelio commented on #1445
@arnav13081994 sorry for the delay - even with the update to add_customer_subscriber() I'm still getting exactly the same behavior

[2021-11-04 04:11] arnav13081994 commented on #1445
@alecdalelio
Just to be clear you're getting 1 customer with no metadata and no relation to User or you're getting duplicate customers and no relation between the Customer and User?

[2021-11-04 05:22] alecdalelio commented on #1445
The former- I'm getting one customer via Stripe Checkout which has no metadata and no relation to the user. It does have all the relevant payment/subscription info, though.

[2021-11-04 08:00] arnav13081994 commented on #1445
@alecdalelio I'm sorry to hear that. I think I have been able to fix the issue.

Please remove the webhook, `checkout_success`.

Keep the `customer_webhook_handler` webhook and update the `checkout_webhook_handler` like this:

[code]

Basically I moved `update_customer_helper(metadata, customer_id, subscriber_key)` to below `_handle_crud_like_event(target_cls=models.Session, event=event)`

[2021-11-04 10:14] arnav13081994 commented on #1445
@alecdalelio I have found the root cause. I will raise a PR in the next few hours that should fix it.

[2021-11-04 15:21] alecdalelio commented on #1445
@arnav13081994 Excellent! I'll be traveling today but I'll let you know as soon as I'm able to look it over and implement it.

[2021-11-05 05:35] arnav13081994 commented on #1445
@alecdalelio Please refer to this PR #1471

[2021-11-08 08:38] arnav13081994 commented on #1465
Closing due to no response. Feel free to re-open if you still face the issue.

[2021-11-08 08:38] #1465 closed, assigned to nobody

[2021-11-09 18:17] emilepetrone commented on #1465
@yemarnevets  I bet you aren't setting the webhook signing secret in your settings. I was getting 400s until I set that.

[2021-11-10 09:14] arnav13081994 commented on #1445
@alecdalelio I was wondering if you got a chance to check the PR out.

[2021-11-10 18:54] alecdalelio commented on #1445
Hey @arnav13081994 - I've taken a look at the PR and seems to make sense. Was waiting on y'all to pull it into the codebase so I can test it out. Anything you need from me to help move that process along?

[2021-11-11 04:52] arnav13081994 commented on #1445
Yes that would make more sense. I forgot there are changes in the models too and that would not be possible for you integrate into your code.

[2021-11-11 18:32] emilepetrone opened #1476 "Live deployment and webhook is saving events while returning 400s to Stripe"
**Describe the bug**
I deployed a project to Heroku and my webhook triggers are not being properly handled. They are hitting my URL, being created in my DB, but then not being Processed or Validated. On Stripe's side, I see they are getting 400's back from my server.

* I set the webhook in my Stripe settings
* When there is a transaction, Stripe fires the events at my webhook, they are received b

[2021-11-11 20:44] #1476 closed, assigned to nobody

[2021-11-11 20:45] emilepetrone commented on #1476
Make sure you put in the `webhook secret` in prod.

Closed.

[2021-11-19 13:48] gerdemb opened #1481 "djstripe_owner_account not being set when running djstripe_process_events"
**Describe the bug**
Models created by the `djstripe_process_events` management command do not have the `djstripe_owner_account` field set.

This method `StripeBaseModel._find_owner_account()` is broken.

https://github.com/dj-stripe/dj-stripe/blob/f0317ebd823e3ed7e65e24a8c6cd7d747a48751f/djstripe/models/base.py#L259-L275

I monkey-patched in the following code which solved the problem:

[code]

I

[2021-11-20 05:25] arnav13081994 commented on #1481
@gerdemb This issue has been fixed in master and will be in the next release.

Closing this issue for now.

[2021-11-20 05:25] #1481 closed, assigned to nobody

[2021-11-22 19:50] alecdalelio commented on #1445
Hey @arnav13081994 I see this PR is still open - any progress on your end? Hoping to figure out a timeline for when I can fix my Stripe integration so that I can communicate to my customers. Let me know!

[2021-11-23 04:24] arnav13081994 commented on #1445
Hi @alecdalelio I am waiting for the PR to get merged too. I have no idea why it is not yet merged.

[2021-11-24 22:38] oitsl opened #1487 "How to set up both Account and Connect webhooks on Dj-stripe"
Hi,

I'm using `dj-stripe==2.5.1`

I've recently ran into an issue when trying to listen to both Connect and Account webhook events. According to [this](https://stripe.com/docs/connect/webhooks#connect-webhooks)  documentation: one would have to create two webhook instances, one with `connect=True` and another with `connect=False` so both types would be listened.

Issue is: How can I set up two we

[2021-11-25 19:15] piraka9011 opened #1488 "What is the minimum set of events I should be sending to dj-stripe?"
**What are you trying to accomplish?**

Let's say I'm a B2B SaaS company with some subscriptions and customers.
What should be the minimum set of events I should send to the dj-stripe webhook such that I have a record of my customers' information and their subscription statuses?

I know this is very likely use case dependent, however, it would be great if there would be a section in the documentat

[2021-11-25 19:19] jleclanche commented on #1488
Hi Anas

I recommend sending all events. dj-stripe operates under the assumption that you're doing this, and can handle all of them (or ignore the ones it doesn't care about)

In more practical terms however, it will probably be fine if you don't send everything. You should at least care about charge.*, customer.* and invoice.*. Those three namespaces contain pretty much everything you'll need for

[2021-11-25 20:31] piraka9011 commented on #1488
Interesting, given the number of events Stripe usually generates, wouldn't this put excessive load in terms of API requests and DB writes?
Or is this considered a non-issue and we just need to adjust how we scale up our API accordingly?

This makes sense. We are currently just reading from customer.*, but will include the rest per your suggestion, thanks!

[2021-11-25 20:33] jleclanche commented on #1488
You'd have to have a pretty extreme load of users to generate too much traffic to handle even on a tiny server. Stripe doesn't generate that many events, honestly -- you can see all of them in the stripe dashboard in fact.

IMO the only reason to scale down in how many events you receive is if you explicitly don't want to be storing data you don't need.

[2021-11-25 20:33] #1488 closed, assigned to nobody

[2021-11-26 16:41] oitsl commented on #1487
Follow up if anyone is interested in how I solved this:

First I created a model `WebhookEventTriggerConnect` which inherits from djstripe `WebhookEventTrigger` . Idea was to override `validate` method of the base model so that instead of using `djstripe_settings.WEBHOOK_SECRET` it used my own settings' secret for the connect webhook.

I also created a `/stripe/webhook/connect/` url which uses a c

[2021-11-26 17:00] arnav13081994 commented on #1487
@oitsl Apologies for the late response. I somehow missed this issue. You are absolutely correct about that approach, in fact that is what we are doing too: https://github.com/dj-stripe/dj-stripe/pull/1473  https://github.com/dj-stripe/dj-stripe/pull/1482

If you'd like to share your thoughts on how this should be implemented, please feel free to chime in [here](https://github.com/dj-stripe/dj-stri

[2021-11-26 21:07] oitsl commented on #1487
@arnav13081994 No problem at all! Glad at least my approach was similar to what you guys thought.

I'll surely go over the thread and add comments as suggested. I understand the idea is to support dynamic URLs which would indirectly resolve this issue. I like it.

Thanks for the reply and pointing towards the discussion thread!

[2021-11-27 11:12] arnav13081994 commented on #1404
Closed by #1484

[2021-11-27 11:12] #1404 closed, assigned to arnav13081994

[2021-11-27 11:26] arnav13081994 opened #1489 "Sync for all Models related to the Customer instance deleted on Stripe fails"
**Describe the bug**
A clear and concise description of what the bug is.

Unlike other objects, Stripe allows to retrieve deleted customers for tracking purposes and returns:

[code]

Whenever `Related Models` try to retrieve and sync such a deleted customer, an `IntegrityError` gets throws as most fields are stored as `null` which is not allowed, but the code assumed that the `IntegrityError` is

[2021-12-01 22:28] dbartenstein commented on #1155
Hi guys! I just ran into this bug myself with the latest djstripe version 2.5.1. Is this issue being worked on or are you using the workaround mentioned in the [very beginning of this thread](https://github.com/dj-stripe/dj-stripe/issues/1155#issue-612096447)? Thanks!

[2021-12-02 08:42] dbartenstein commented on #1155
@arnav13081994 do you have an idea how to elegantly fix this?

[2021-12-02 17:19] shukryzablah opened #1494 "Coupon.objects.get(id=<id>) is different than Coupon.sync_from_stripe_data(stripe.Coupon.retrieve(id=<id>))"
**Describe the bug**
The value for `Coupon.objects.get(id=<id>)` is different than `Coupon.sync_from_stripe_data(stripe.Coupon.retrieve(id=<id>))`.

![Screen Shot 2021-12-02 at 12 01 56 PM](https://user-images.githubusercontent.com/28762146/144469291-2271f4c0-3b68-480c-bda9-3b7312abeabd.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Create a coupon with a 50% percent off.
2. Look at t

[2021-12-02 17:39] jleclanche commented on #1494
`sync_from_stripe_data` is definitely in the wrong there, `percent_off` should not be a float value

[2021-12-02 18:06] arnav13081994 commented on #1155
@dbartenstein I have not been able to reproduce this issue so far. Only `cards` get added as `PaymentMethods` for some reason and not `Bank Accounts`. Does this happen for you too?

[2021-12-02 22:54] dbartenstein commented on #1155
@arnav13081994 we’re using the following means to let our customers manager their payment methods:
- Stripe’s checkout session (mode=setup) https://stripe.com/docs/api/checkout/sessions/create
- Stripe’s billing portal https://stripe.com/docs/api/customer_portal/sessions/create

By using these sessions we receive the following webhook events:

**payment_method.attached**
[code]

**customer_updated

[2021-12-03 12:42] arnav13081994 commented on #1155
@dbartenstein Thanks. I will take a look and let you know.

[2021-12-03 13:32] oleksandr-shvab opened #1496 "Bug with use another model for Customer"
I'm working on the project and we have billing based on Subscriptions. Customer based on User model. In the next feature, we need to make users use Workspaces ( the new model). And we need to make Customer based on Workspace, and make all billing throw the Workspace. I tried to make a demo to understand how we can make this.

I created Workspace model:
[code]

In setting I added these lines from d

[2021-12-03 16:01] arnav13081994 commented on #1496
@oleksandr-shvab Can you please update to the latest version and try this? A **lot** of things have been fixed in `2.5.0` and `2.5.1`

[2021-12-04 06:10] arnav13081994 commented on #1494
This was a general issue of instance with stale data getting returned by `StripeModel.sync_from_stripe_data` but could only be observed using the `DecimalField` model field and the `StripePercentField` and should now be fixed by https://github.com/dj-stripe/dj-stripe/pull/1498

Thank you @shukryzablah for catching and reporting this bug.

[2021-12-04 23:22] #1382 closed, assigned to arnav13081994

[2021-12-05 22:42] steverecio opened #1499 "Missing Some Invoices"
I have a customer who received a prorated invoice that was not properly synced with dj-stripe through the webhooks.

I use the `pending_invoice_item_interval` flag when creating subscriptions so the invoice was created automatically via Stripe from pending invoice items. The Stripe events log says regarding this invoice "There is 1 pending webhook".

Is there a management command or a cronjob that

[2021-12-05 23:14] steverecio commented on #1499
https://dj-stripe.readthedocs.io/en/master/usage/manually_syncing_with_stripe/

[2021-12-06 00:30] steverecio commented on #1499
Reopening this. I've tried running `python manage.py djstripe_process_events --failed` and `python manage.py djstripe_sync_models Invoice` but the invoice never makes its way into dj-stripe. Running v2.5.1.

I see the following error message: `value too long for type character varying(22)`

I reported this same error a while back: https://github.com/dj-stripe/dj-stripe/issues/1296

[2021-12-06 01:46] banagale opened #1501 "DEFAULT_STRIPE_API_VERSION module definition path incorrect"
**What did you run into?**
In the "[dj-stripe's API Version](https://dj-stripe.readthedocs.io/en/master/api_versions/#dj-stripes-api-version)" section of the docs, the `DEFAULT_STRIPE_API_VERSION` constant is said to be defined by `djstripe.settings.djstripe_settings.DEFAULT_STRIPE_API_VERSION`.

It appears to in fact be defined by:

`djstripe.settings.DEFAULT_STRIPE_API_VERSION`

Similarly,

Over

[2021-12-06 08:42] oleksandr-shvab commented on #1496
I tried updating the version to 2.5.1 but have the same error. The problem is in DB subscriber foreign key is still associated with a user. Call 'migrate' not help. Are there any solutions that can trigger recreate customer without deleting DB?

[2021-12-07 17:34] alecdalelio commented on #1445
Hey @arnav13081994! Could you touch base with your collaborators here regarding this PR?

[2021-12-07 17:37] arnav13081994 commented on #1445
Hi @alecdalelio We are planning on releasing a new version by the end of this month, if not sooner. Sorry for the delay.

[2021-12-07 19:16] eliezerp3 opened #1502 "Signal provided_args deprecated"
Hi. I created a new django project just to try out this package for the first time. After following the docs for setup, I am getting an error about an unexpected kwarg 'provided_args'. I checked it up in the source and it seems someone already fixed this [here](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/signals.py) by removing 'provided_args'. My issue is that i am running the lat

[2021-12-08 00:32] zeke commented on #690
I just ran into this today. In my case I was hitting a CSRF error because I wasn't adding a trailing slash.

Adding the trailing slash resolved it for me: `/stripe/webhook/`

[2021-12-08 00:33] arnav13081994 commented on #1502
Hi @eliezerp3, yes the issue has been fixed in master and should be part of the next release which should go out by the end of the month.

Closing this issue for now.

[2021-12-08 00:34] #1502 closed, assigned to nobody

[2021-12-08 04:07] arnav13081994 commented on #1501
@banagale In the latest release we have refactored the settings module to expose a `djstripe_settings` object as mentioned [here](https://github.com/dj-stripe/dj-stripe/commit/7374a295ce1827cfab2756d6845dfa26db1899a6#diff-e84b60c7f2ab63e45d3c1a36c108620c2bc5a3de1efd4a6cacc2cf5c5a7eb526) so the latest documentation is in fact correct.

Closing this issue for now. Feel free to re-open in case you fa

[2021-12-08 04:07] #1501 closed, assigned to nobody

[2021-12-08 04:14] eliezerp3 commented on #1502
@arnav13081994 Thank you. Am I able to download the package from master branch until then? I tried download the zip and installing it locally (pip install -e .) but it gives me an error that there is no setup.py file.

[2021-12-08 05:35] arnav13081994 commented on #1502
If by downloading you mean `PyPi` then no. You can always fork this repo and integrate it with your code base as another django app in your project.

We use `poetry` and the instructions for that can be found [here](https://python-poetry.org/)

[code]

[2021-12-08 06:56] banagale commented on #1501
Hm. Okay. Thank you for clarifying.

I must have somehow installed the prior version. I had thought I used a default `pip install dj-stripe` but perhaps not.

[2021-12-08 20:55] eliezerp3 opened #1504 "How do I create a PaymentIntent?"
Hi. I am trying to use to use this package to power stripe in my backend and 'https://pub.dev/packages/flutter_stripe' to power stripe in my frontend in my flutter app. They want me to get a payment intent from my backend and pass down the results to my app. I see that there is a PaymentIntent model in the models/core folder but there is nothing in the documentation about using it. Only option of

[2021-12-09 02:11] jleclanche commented on #1504
Hi @eliezerp3, you can create a paymentintent from the python sdk which is installed if you have dj-stripe installed:

https://stripe.com/docs/api/payment_intents/create?lang=python

dj-stripe's role is less in assisting you to execute API operations, and more in ingesting the stripe webhooks and keeping your billing database up to date automatically according to those, making the data available a

[2021-12-09 02:11] #1504 closed, assigned to nobody

[2021-12-09 03:29] eliezerp3 commented on #1504
@jleclanche Thank you for the response. So to be clear, I just use the official stripe package to make requests and my djstripe models will automatically keep themselves up to date without me touching them?

[2021-12-09 03:29] jleclanche commented on #1504
Yes, you just need to set up the webhooks.

[2021-12-09 03:39] eliezerp3 commented on #1504
@jleclanche  Wow. Just thought it was a django wrapper around their sdk. That is really cool. Guess I’ll have to delve into the stripe docs. Really appreciate the help. Hopefully I can support this project in the future if it works out with it.

[2021-12-09 03:40] jleclanche commented on #1504
Sure thing, feel free to use the discussions forum if you have more questions: https://github.com/dj-stripe/dj-stripe/discussions

If you want to support the project financially we look forward to having you as a sponsor :) https://github.com/sponsors/dj-stripe

[2021-12-09 05:31] arnav13081994 commented on #1155
@dbartenstein

What is your Stripe API Version?

In the latest (`2020-08-27`) , I only get the `default_source` and never the `default_payment_method` regardless of whether the `customer` has one or more than 1 `Payment Methods` with one being explicitly set as the default.

Sample `customer.updated`:

[code]

Also please answer the following questions:

dj-stripe version:
Your Stripe account's de

[2021-12-09 06:40] arnav13081994 commented on #1155
@dbartenstein I was able to replicate this issue. This happens when the customer has atleast 1 or more subscriptions. This **does not** happen for one time payments for some reason. This is Stripe's default behaviour. Also this is a more generic issue with `nulled` FKs not being synced. The current logic essentially skips their sync which is why sync fails when the last `PM` is removed. Or more ge

[2021-12-09 08:19] arnav13081994 commented on #1155
@dbartenstein This issue should be fixed by this PR #1505

We should be releasing a new version by the end of this month. Until then you could try the webhook handler approach as mentioned earlier. I have not gone through that code though.

[2021-12-09 08:54] arnav13081994 commented on #1499
@steverecio please follow the bug reporting template for us to properly help you. Without the traceback and the `webhook json` it is very difficult to help.

[2021-12-09 09:09] arnav13081994 commented on #1299
@jleclanche This issue seems irrelevant now. Close it?

[2021-12-09 12:35] #1299 closed, assigned to nobody

[2021-12-09 13:48] dbartenstein commented on #1155
@arnav13081994 that’s great! Thank you! Is it realistic that the [webhook endpoints](https://github.com/dj-stripe/dj-stripe/discussions/1437) will also make it into the next version?

[2021-12-10 11:47] arnav13081994 commented on #1155
@dbartenstein No I don't think that would be possible. Sorry.

[2021-12-11 12:22] #1489 closed, assigned to nobody

[2021-12-13 08:49] Melevir opened #1507 "Add support for Django 4.0"
It would be great if dj-stripe supported Django 4.0.

Sadly, update requires more, than a version bump. New Django has following change:

So installing dj-stripe on new django results in runtime error:

[code]

[2021-12-13 09:46] arnav13081994 commented on #1507
@Melevir This issue has been fixed in master and should be part of the next release that should come out before the end of this month.

Closing this issue for now.

Feel free to re-open it in case you still face the same problem.

[2021-12-13 09:46] #1507 closed, assigned to nobody

[2021-12-13 15:51] marcelkooi opened #1508 "Throw error if DJSTRIPE_WEBHOOK_SECRET is incorrect"
**Is your request related to a problem? Please describe.**

Hi there! I was running into an issue with the Stripe webhook where events were being sent from Stripe, but a 400 was returned and I didn't see any errors in my logs. My issue ended up being that I was using the wrong value for the Stripe webhook secret.

**Describe the solution you'd like**

My proposal is to output a warning/error messa

[2021-12-13 23:54] kavdev opened #1509 "Look into using Towncrier"
Might be useful? https://towncrier.readthedocs.io/en/actual-freaking-docs/

[2021-12-14 17:13] arnav13081994 commented on #1508
@marcelkooi Just to make sure I understand correctly, you didn't get any output on your logs? I replicated this by inputting an incorrect `WEBHOOK_SECRET` and got the following on my console.

[code]

In case you mean to specifically catch the case that the `WEBHOOK_SECRET` entered is invalid, I regret to inform you that as far as I know, there is no way to catch that case. All Stripe lets us do i

[2021-12-17 00:34] #1155 closed, assigned to nobody

[2021-12-20 11:38] #1494 closed, assigned to nobody

[2021-12-22 19:21] Hafnernuss commented on #1445
Hi @arnav13081994

There seem to be many issues that have been fixed (thanks!) regarding the `Checkout` API in conjunction with custom subscriber models and so on. Almost all of them seem to be fixed, and (at least from my PoV) the library is currently not usable on 2.5.1 for the aforementioned usecase. Is there any chance of a new release? Is end of december still realistic?

[2021-12-22 19:33] arnav13081994 commented on #1445
Hi @Hafnernuss,

Yes that's the plan.

[2021-12-23 05:47] arnav13081994 commented on #1341
@aryaniyaps I am not able to reproduce your issue. Are you able to create and sync a `PaymentMethod` from the django `shell`?

[2021-12-23 05:49] arnav13081994 commented on #1499
Closing due to no response.

Feel free to re-open if you face any issue.

[2021-12-23 05:49] #1499 closed, assigned to nobody

[2021-12-23 05:52] arnav13081994 commented on #1462
@hsaade-algo I would suggest opening a new issue about what all migration issues you face when upgrading to `2.5.1`. Perhaps take a dump on your local from prod and try? Or do a `dry-run` of migrations? I want to make running `forward` and `reverse` migrations as smooth as possible.

Also closing this issue as it is fixed in master.

[2021-12-23 05:52] #1462 closed, assigned to nobody

[2021-12-23 06:02] arnav13081994 commented on #1002
@jleclanche I think like https://github.com/dj-stripe/dj-stripe/pull/1003 this also seems irrelevant now. Can we close this?

[2021-12-26 21:49] dbartenstein commented on #1307
Using it at https://www.zemtu.com/
[Link to logo](https://www.zemtu.com/_nuxt/img/logo-colored.d62fb11.svg)

[2021-12-27 20:55] sreno77 opened #1522 "Signal providing_args is deprecated"
I updated Django from 3.2 to 4.0 and now there's a TypeError: __init__() got an unexpected keyword argument 'providing_args' error. Apparently providing_args argument for django.dispatch.Signal is removed.

**Software versions**
- Dj-Stripe version: dj-stripe-2.5.1
- Python version: 3.9.5
- Django version: 4.0
- Stripe API version: stripe-2.64.0

[2021-12-28 04:51] arnav13081994 commented on #1522
@sreno77 This has been fixed in [master](https://github.com/dj-stripe/dj-stripe/pull/1443/commits/87a53113b16cf76d9ca7d2dbedd30a67f1a8b383) and should be part of the next release, which should be live soon.

[2021-12-28 04:51] #1522 closed, assigned to nobody

[2021-12-29 15:31] jleclanche commented on #1487
@oitsl if you want, work is happening on the dev/webhooks-refactor branch. You can already use the django admin to create new webhooks. You may have to do some manual surgery to get existing endpoints into the db.

[2021-12-29 23:07] arnav13081994 commented on #1508
Closing this issue due to no reply. Feel free to re-open if you face another issue.

[2021-12-29 23:07] #1508 closed, assigned to nobody

[2022-01-01 19:35] juliusdeane opened #1528 "Package 2.5.1 in PyPi does not reflect the changes on djstripe/signals.py"
Not sure if this is the proper place, but here it is.

When adding the package from PyPi (pip install dj-stripe==2.5.1), the changes applied to signals.py (lines 8 and 15) seem not to be updated:

## File:
https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/signals.py

## Lines changed in the repo (correct):
8:
[code]

15:
[code]

What the package installs:
[code]

Maybe a new package shou

[2022-01-02 03:44] arnav13081994 commented on #1528
Hi @juliusdeane The next release will have that update. The issue is fixed in master and not `stable/2.5` which is what you get on `pypi`.

[2022-01-02 03:44] #1528 closed, assigned to nobody

[2022-01-05 14:26] arnav13081994 commented on #1205
@jcobacho This issue has been fixed in `master` and should be part of `2.6`.

[2022-01-05 14:26] #1205 closed, assigned to nobody

[2022-01-05 14:28] arnav13081994 commented on #1067
Fixed by #1516

[2022-01-05 14:28] #1067 closed, assigned to arnav13081994

[2022-01-05 14:30] arnav13081994 commented on #1209
@jleclanche Is this issue still relevant? `subscription_payment_required` is no longer part of the codebase.

[2022-01-05 15:12] arnav13081994 commented on #1009
@malikfaiq This issue has been fixed in `master` and will be in the `2.6` release.

[2022-01-05 15:12] #1009 closed, assigned to nobody

[2022-01-05 15:15] malikfaiq commented on #1009
@arnav13081994 thanks mate :)

[2022-01-05 15:40] arnav13081994 commented on #851
Stripe returns `due_date` as `null` when `collection_method="charge_automcatically"` and it also does sync correctly. Closing this issue.

[2022-01-05 15:40] #851 closed, assigned to nobody

[2022-01-05 15:45] arnav13081994 commented on #1341
Closing due to no response.  Please feel to re-open this issue in case you face the same issue.

[2022-01-05 15:45] #1341 closed, assigned to nobody

[2022-01-05 18:01] arnav13081994 commented on #1233
@jleclanche Should this be implemented? This will not be as straightforward as one might think because this would need to be updated when a customer `pauses` a subscription too etc. Perhaps this is better off as something a user does on their own in their code base? Besides most subscriptions will not really have a known `end_time` until after they have been `cancelled` or `paused indefinitely` et

[2022-01-06 14:53] arnav13081994 commented on #1191
@mrcoles This issue was fixed by PR #1371.

[2022-01-06 14:53] #1191 closed, assigned to nobody

[2022-01-07 16:21] arnav13081994 commented on #1106
@islamgulov The error is happening because we do not yet support `source_transaction` objects.

[2022-01-08 22:26] Biszu commented on #1522
@arnav13081994 Can you please let us know the planned release date or what is currently stopping the release?
Dj-stripe not working with Django 4.0 is becoming a pressing issue for my team, and I'm sure more people are in the same position.

Thank you.

[2022-01-08 23:31] jleclanche commented on #1522
@Biszu I'm working on getting the release out this coming week at the latest.

[2022-01-09 16:05] fabge commented on #1507
Any updates here?
The last release on pip was 2nd July 2021...

[2022-01-09 17:02] #970 closed, assigned to nobody

[2022-01-09 17:19] jleclanche commented on #1507
@fabge We're working on a new release right now. Will be out in the next couple of days.

[2022-01-12 21:08] dbartenstein commented on #1111
@jleclanche currently when using Stripe’s checkout session for adding the first payment method, the payment method is added successfully but it’s not set as default payment method. The default payment method remains `None`. What’s your recommended approach of setting it as default payment method (if there currently is not default payment method set)?

[2022-01-12 21:11] jleclanche commented on #1111
You can set the default payment method via the [Customer API](https://stripe.com/docs/api/customers/update) (`invoice_settings.default_payment_method`).

[2022-01-12 21:22] dbartenstein commented on #1111
@jleclanche thanks - we use the following methods. Where do you think the `update_default_payment_method` is best called? Customer post_save signal?

[code]

[2022-01-12 21:27] jleclanche commented on #1111
I'm not sure, to be honest, it depends on your flow; I don't think it matters much (beyond calling it too much becoming noisy) seeing as either way, Stripe will pick a payment method as the default one if one isn't set.

[2022-01-12 21:30] dbartenstein commented on #1111
@jleclanche we currently use the [can_charge](https://github.com/dj-stripe/dj-stripe/blob/a0de35c5527c5aaee940b9939d376f339ba7e773/djstripe/models/core.py#L1187) method for checking if the customer already has a valid payment method. And `can_charge` only checks for the default payment method.

So one approach is to proactively set a default payment method, another one is to use an extended `can_c

[2022-01-12 21:33] jleclanche commented on #1111
Looking at `can_charge`, I would not use that method. `has_valid_source` is incorrect as well. I'll get them fixed for 2.7 but I will probably deprecate the first one as it's very misleading.

[2022-01-12 21:33] jleclanche commented on #1111
In your case you can just check for `self.payment_methods.exists()`.

[2022-01-12 21:47] jleclanche commented on #1111
@dbartenstein I've decided I'll be deprecating both `can_charge` and `has_valid_source` in 2.6 and removing them in 2.8. They're super misleading, don't do what it says on the tin and changing this would be a severe breaking change only to remove them later…

[2022-01-12 21:51] jleclanche commented on #1400
Hi @allburov, we're preparing this feature to release in dj-stripe 2.7.0 (to be released next week). dj-stripe 2.6.0 has a WebhookEndpoint model but doesn't have all the changes yet to handle multiple endpoint sources.

[2022-01-12 21:51] dbartenstein commented on #1111
@jleclanche jep - they are super misleading ;-) Good to get rid of them.

[2022-01-13 18:50] bufke opened #1552 "Unable to subscribe a customer in 2.6.0c1"
**Describe the bug**

In 2.6.0c1, I'm not able to subscribe a customer to a price/plan as described in documentation. Instead I get

`stripe.error.InvalidRequestError: Request req_k0ZUHR6WvUV5Ze: No such price: '$0.00 USD/month for Foo (0 subscriptions)'`

**To Reproduce**

1. Clone https://gitlab.com/bufke/dj-stripe-subscribe-bug
2. Enter a test secret key env var/setting `STRIPE_TEST_SECRET_KEY`

[2022-01-13 21:18] arnav13081994 commented on #1552
@bufke Sorry for the inconvenience caused. I have found the root cause and would be fix it soon. This will be part of the next release which should come out very soon. Until the new release is out, you could override the `subscribe` method by creating a class that inherits from the `djstripe Customer` model and then overriding its `subscribe()` method. The code could be copied from the PR I will r

[2022-01-14 01:21] jleclanche commented on #1552
@bufke thanks for testing and reporting the issue. We'll get the fix in before 2.6.0 final is out indeed.

[2022-01-14 01:23] jleclanche commented on #1294
A work-around for this has landed and will be in 2.6.0.

Closed by 87b7cfcaff8cb7e9fdb94fadfd6a11815296f713.

[2022-01-14 01:23] #1294 closed, assigned to jleclanche, kavdev

[2022-01-14 01:34] jleclanche commented on #1295
We still have a stray reference in `Customer.add_card`.

[2022-01-14 01:44] jleclanche commented on #1360
I'm going to close this, because as far as migrations go, you can use `--skip-checks` in the migrate command. There is also the workaround I just described if you can't use that.

Finally, both of these checks will likely disappear as we are moving these settings to the db, so the settings will become optional.

[2022-01-14 01:44] #1360 closed, assigned to nobody

[2022-01-14 01:45] jleclanche commented on #1440
@boatcoder migrations in 2.6.0 are a lot faster. It's still not great, but it's the best we can do under the circumstances. 2.7.0 will be even better.

[2022-01-14 01:46] jleclanche commented on #1349
Migrations are a lot faster in 2.6.0 and will be even faster in 2.7.0 as we drop a fairly large one. This is the best we can do for now.

[2022-01-14 01:46] #1349 closed, assigned to nobody

[2022-01-14 01:51] jleclanche commented on #1307
Closing this issue so it's not in the open issues list. But keep sharing.

[2022-01-14 01:51] #1307 closed, assigned to nobody

[2022-01-14 01:52] jleclanche commented on #1509
I did investigate it for a bit, it's interesting but honestly I don't see us using this so I'm closing. Github also has a way to generate decent changelogs now.

[2022-01-14 01:52] #1509 closed, assigned to nobody

[2022-01-14 01:57] jleclanche commented on #1292
I'm closing this, it's just not worth doing it on our end. Oh well... maybe one day Django will have proper enums.

[2022-01-14 01:57] #1292 closed, assigned to nobody

[2022-01-14 02:00] #1039 closed, assigned to arnav13081994

[2022-01-14 02:01] jleclanche commented on #1002
Yeha

[2022-01-14 02:01] #1002 closed, assigned to nobody

[2022-01-14 02:03] #1398 closed, assigned to nobody

[2022-01-14 02:05] jleclanche commented on #1318
Closing this as user error then, but also we're moving to just entirely native jsonfields with 2.6.0 with a migration path to the new fields in 2.8.

[2022-01-14 02:05] #1318 closed, assigned to nobody

[2022-01-14 02:06] jleclanche commented on #1233
I don't think we can reliably do this, no.

[2022-01-14 02:06] #1233 closed, assigned to nobody

[2022-01-14 07:48] arnav13081994 commented on #1552
@bufke PR #1553 should fix this issue

[2022-01-14 08:20] CasperLA commented on #1349
Thanks for the update and the work that's been put in! Great news indeed

[2022-01-14 23:39] davidfischer commented on #1360
Just a quick note: `--skip-checks` was added in 3.0 and is not present in Django 2.2.

[2022-01-15 16:51] scottydelta commented on #1242
I could implement this if it is still due. Will there be a need for models for promotion codes/sync them or djstripe could just let users create a promotion code and use it?

[2022-01-15 22:14] bufke commented on #1552
Thanks for the fast responses @arnav13081994 and @jleclanche . Unfortunately it appears that subscribe still isn't working in 2.6.0. The same snippet now results in

[code]

The record is fully present in stripe itself. I tried with a brand new customer and saw the customer and subscribed plan in stripe. It looks like the problem is related to not being able to sync that data back to Django.

I up

[2022-01-16 01:56] ebk46 opened #1560 "checkout.session.completed and customer.subscription.created failing"
**Describe the bug**
When a customer subscribes to our service, 2 webhooks are triggered:
1) checkout.session.completed
2) customer.subscription.created

In djstripe 2.4.4 and 2.5.1, these webhooks work perfectly fine. In 2.6.0, they both fail with the following 2 errors:
`django.db.utils.IntegrityError: duplicate key value violates unique constraint "djstripe_subscription_stripe_id_key"`
and then

[2022-01-16 12:29] jleclanche commented on #1560
@arnav13081994 sounds like the same as #1552 right?

[2022-01-16 12:36] arnav13081994 commented on #1560
I suspect some race condition. I have to still look into this though.

[2022-01-19 05:06] jleclanche opened #1561 "Replace WEBHOOK_EVENT_CALLBACK with a signal"
I believe this setting can be replaced with a signal trigger instead. Needs further investigation.

[2022-01-19 05:44] arnav13081994 commented on #1561
Shouldn't this be configurable on a webhook basis?

[2022-01-19 14:06] jleclanche commented on #1561
It will be if we use a proper signal

[2022-01-19 18:58] arnav13081994 commented on #1560
@ebk46 Quick Update: I have almost been able to replicate this error and this has something to do with recursive syncs and `Subscription` with **not null** `latest_invoice` triggering the `Subscription` sync again along with a race condition with one of the other webhooks fired. Unsure exactly what is the cause. I am currently sick so unable to focus but this will be the first issue I am planning

[2022-01-19 19:01] arnav13081994 commented on #1552
@bufke Quick Update: I have almost been able to replicate this error and it has something to do with recursive syncs and `Subscription` with **not null** `latest_invoice` triggering the `Subscription` sync again along with a race condition with one of the other fired webhooks. Unsure exactly what is the root cause. I am currently sick, so unable to focus but this will be the first issue I am plann

[2022-01-19 19:02] arnav13081994 commented on #1487
@jleclanche I think this can be closed with the release of `2.7.0`?

[2022-01-19 22:49] ebk46 commented on #1560
@arnav13081994 Thanks Arnav! Hope you feel better soon (not just for my sake!). Please let me know if there's any way I can help figure this out.

[2022-01-19 22:51] jleclanche commented on #1400
Please try dj-stripe 2.7.0a0 which contains the aforementioned changes.

[2022-01-19 22:51] #1400 closed, assigned to jleclanche

[2022-01-19 22:52] jleclanche commented on #1487
Please try dj-stripe 2.7.0a0 which contains the aforementioned changes.

[2022-01-19 22:52] #1487 closed, assigned to arnav13081994

[2022-01-20 13:32] oitsl commented on #1487
Great guys! Thank you, will try to update to `2.7.0` as soon as i can and set up webhooks with the webhooks refactor. Thanks!

[2022-01-23 17:54] paris-ci opened #1562 "Got error from_request() got an unexpected keyword argument 'stripe_account' when handling webhooks"
**Describe the bug**
The bug prevents dj-stripe from processing incoming webhooks. When a given webhook arrives, the request fails with the following error:

[code]

**To Reproduce**
Install the latest version from git (currently f1a7159399a99b22b270bd12b768fe0e41b9e504), recive a webhook from stripe.

**Software versions**
- Dj-Stripe version:  dj-stripe-2.7.0a
- Python version: 3.9
- Django vers

[2022-01-23 17:56] paris-ci commented on #1562
I think this commit is the cause of the issue https://github.com/dj-stripe/dj-stripe/commit/a63ec73168f0127630aa7cd283ed19b5bff01a6f

[2022-01-24 13:13] jleclanche commented on #1562
Fixed by f27936c

[2022-01-24 13:13] #1562 closed, assigned to nobody

[2022-01-24 20:04] arnav13081994 commented on #1552
@bufke Can you see if you are still getting this issue in `2.7.0a2`? I am no longer able to replicate this issue.

[2022-01-24 20:04] arnav13081994 commented on #1560
@ebk46  Thank you! I am doing a lot better now.

Can you see if you are still getting this issue in `2.7.0a2`? I am no longer able to replicate this issue.

[2022-01-24 20:22] danihodovic commented on #517
@kavdev Why hasn't the above migration been added to this package?

[2022-01-24 20:28] jleclanche commented on #517
@danihodovic Because it's an extremely expensive and aggressive migration, and one we don't want people to accidentally run automatically. It should also only be run in some scenarios. So instead, we have a setting that lets you choose whether to run on the legacy system (if you have legacy data), or on the new system (if you're on a fresh install, or have already migrated your data).

For dj-stri

[2022-01-24 20:30] danihodovic commented on #517
That makes sense. Thanks.

Where can I find this setting?

[2022-01-24 20:32] jleclanche commented on #517
`DJSTRIPE_USE_NATIVE_JSONFIELD`. Make sure it's set to True. There are some heuristics in place that try to proactively warn you if  we think you've set it to the wrong value in the wrong scenario.

[2022-01-24 20:32] danihodovic commented on #517
Awesome! Thank you.

[2022-01-24 20:36] danihodovic commented on #517
I've unwittingly set DJSTRIPE_USE_NATIVE_JSONFIELD on my app already, but it still uses a TEXT field.

[code]

This applies to a production setup which has been running for 3 years. My local development database which is nuked on a regular basis uses a `jsonb` column. Any idea why?

[2022-01-24 20:41] jleclanche commented on #517
If you have data stored in `text` fields then that is the case where you need to set it to `False`, otherwise you will have inconsistency issues / crashes. You should migrate every one of those json `text` columns to `jsonb` using similar sql as @kavdev pasted (but there's more now, since we added more columns), and only then should you set it back to `True`.

I'm sorry we don't have a good automa

[2022-01-24 20:48] danihodovic commented on #517
What do you have in mind? A migration that converts all columns to JSONB or a management command that spits out a migration file?

[2022-01-24 20:56] jleclanche opened #1566 "Create a way to migrate legacy JSONField text columns"
Follow up from discussion on #517.

A portion of the installed dj-stripe userbase is using legacy-style `text` jsonfield columns. We want to migrate those users over to the "new" Django JSONField columns.

Thing to keep in mind:

1. Some users are in that scenario, and some others are already using new-style JSONField columns.
2. It is a bit opaque to users which scenario they are in, and we may w

[2022-01-24 20:56] jleclanche commented on #517
@danihodovic follow up in #1566.

[2022-01-24 21:14] bufke commented on #1552
Hello, thanks for following up. Unfortunately I still get the same error. I updated my example repo to 2.7.0a2 to demonstrate.

[2022-01-24 21:17] bufke commented on #1552
Here's some data from stripe to see the example objects I'm using. In short, it's a price object for a free subscription plan. I've reproduced it with other customers/prices. I've not seen it work at all since 2.5.

![image](https://user-images.githubusercontent.com/739307/150866152-a9971125-0bdb-4ebc-911b-28455e130c12.png)
![image](https://user-images.githubusercontent.com/739307/150866245-861969

[2022-01-24 21:52] dbartenstein opened #1569 "Webhook events for database-stored webhooks seem to be processed using the API key stored in environment"
**Describe the bug**
When Stripe calls the webhook URL for a database-stored webhook, the Stripe account seems to be lost on the way. `Event.process` seems to only receive the JSON body but not the webhook’s Stripe account:
https://github.com/dj-stripe/dj-stripe/blob/f27936ca7880e35526417174ce15a15fbd81c42a/djstripe/models/webhooks.py#L315

**To Reproduce**
1. Create webhook in Stripe admin
2. Cre

[2022-01-24 22:15] jleclanche commented on #1569
@arnav13081994 so I take it this is a mixup in which API key we use to process the event, right? I've no idea which one we're supposed to use in this scenario. Can you look into it?

[2022-01-24 22:29] dbartenstein commented on #1569
@arnav13081994 what do you think of adding `stripe_trigger_account` as additional parameter to `obj.process` https://github.com/dj-stripe/dj-stripe/blob/f27936ca7880e35526417174ce15a15fbd81c42a/djstripe/models/webhooks.py#L216 **and** to `Event.process`?

From what I see, the JSON body does not contain anything which would link us to the Stripe account that triggered the event.

[2022-01-24 22:30] jleclanche commented on #1569
@dbartenstein yes it's what I was looking into doing but I'm not entirely sure it's what's correct.

[2022-01-25 05:15] arnav13081994 commented on #1569
@dbartenstein I will look into this issue later today and will update you all here.

[2022-01-25 17:55] arnav13081994 commented on #1569
@dbartenstein did you create the webhook on the `Stripe Admin` and **not** on the `djstripe Admin`?

And could you please write the exacts steps you took to get that error? I am unable to replicate this error.

For reference this is what I did to try to recreate this error:

1) Created a new `connect` webhook using the `dj-stripe` admin.
2) Started the local `stripe` server to forward incoming web

[2022-01-25 18:22] dbartenstein commented on #1569
I created two webhook endpoints using djstripe admin in the Django backend:
![image](https://user-images.githubusercontent.com/809590/151036662-939cb186-80a3-405d-b309-c29f983ee8c1.png)

1. One for the Stripe account which API key also is assigned for the environment variables: `STRIPE_TEST_SECRET_KEY` and `STRIPE_LIVE_SECRET_KEY`.
2. A second one for another Stripe account

Notes:
- These Stripe

[2022-01-25 19:14] arnav13081994 commented on #1569
@dbartenstein Thank you for the detailed response. Before you created the endpoints, did you add `api_key`s for both of them in the db as well? If not can you first add both of their keys and try again?

And also please confirm the webhooks created on the `Stripe Dashboard` match what are on the `djstripe dashboard` and are created correctly. If possible in both the scenarios, before `api_key`s ar

[2022-01-25 21:24] dbartenstein commented on #1569
@arnav13081994 you’re welcome!

Yes, I had created both api keys in the database **before**. Otherwise I would not have been able to select a Stripe account when adding a new webhook endpoint, would I? (The djstripe Stripe account was created when adding the api key)

Also the webhooks created by djstripe in the `Stripe Dashboard` match the ones of the created webhook endpoints.

[2022-01-25 21:41] dbartenstein commented on #1569
@arnav13081994 from what I see, the `WebhookEventTrigger` objects were always created successfully: https://github.com/dj-stripe/dj-stripe/blob/f27936ca7880e35526417174ce15a15fbd81c42a/djstripe/models/webhooks.py#L200

When the error 500 occurs with the second Stripe account, a `WebhookEventTrigger` object is successfully created and validated:
[code]

Looking at the webhook event trigger, both ar

[2022-01-25 21:45] arnav13081994 commented on #1569
Thank you for all the information. I'll try to recreate it. If I can recreate the issue, finding and fixing the root cause should be straightforward.

[2022-01-26 10:52] #1496 closed, assigned to nobody

[2022-01-26 10:53] oleksandr-shvab commented on #1496
Fixed this by creating custom migration that changes FK in DB.

[2022-01-26 11:30] oleksandr-shvab opened #1570 "Error while subscription sync_from_stripe_data"
Hi to all. Yesterday one developer updated dj-stripe version to 2.6.0 in the project cause he found bug with Customer syncing in previous. ( Previous was 2.5.1).

We had a code that create a trial Subscription for users when they registered. For new it crushed when tried sync subscription with stripe.
[code]

Here is the exception that I have. I left only main parts
[code]

I saw old issues with a

[2022-01-26 17:06] arnav13081994 commented on #1570
Related to #1560 and #1552

[2022-01-26 22:44] lovmo opened #1571 "Sqlite3 database is locked error"
**Describe the bug**
I receive a sqlite3.OperationalError: database is locked error when syncing with Stripe with webhook.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable stripe webhook to dj-stripe
2. Start local stripe webhook CLI
3. Run the command: _stripe trigger checkout.session.completed_
3. See attached error on webhook

**Expected behavior**
I expect that django would handle

[2022-01-26 22:48] jleclanche commented on #1571
Will leave it as a valid issue but to be frank, sqlite backend is meant to be used at most for loose testing; anything production-worthy will be using a different backend. Webhooks not working on it is not completely unsurprising.

Still, will look into it.

[2022-01-26 22:55] lovmo commented on #1571
Thanks! Yeah, I will use Postgresql for production, but I have not bothered to set that up yet. The project is fairly new so using sqlite has been sufficient until now. Keep up the good work!

[2022-01-27 08:11] oleksandr-shvab commented on #1570
From other issues, I found that we have 2.7.0 alpha version, but we decided to roll back the project to 2.5.1. version for now. Thanks for the help.

[2022-01-27 08:11] #1570 closed, assigned to arnav13081994

[2022-01-27 23:01] PabloCastellano opened #1572 "Readthedocs documentation seems outdated"
It looks like the webhook or the pipeline to deploy the documentation is not working.

In the following screenshot, you can see that the latest available release notes are for 2.5.0 while in this repo there are also release notes for [2.6.0](https://github.com/dj-stripe/dj-stripe/blob/master/docs/history/2_6_0.md) and [2.7.0](https://github.com/dj-stripe/dj-stripe/blob/master/docs/history/2_7_0.md

[2022-01-28 01:09] jleclanche commented on #1570
Yeah this is a dupe. Will get it fixed in 2.6.1 asap.

[2022-01-28 04:32] arnav13081994 commented on #1572
Yes that is correct. The updated docs are hosted at https://dj-stripe.github.io/dj-stripe/

[2022-01-28 14:10] #1572 closed, assigned to nobody

[2022-01-28 14:12] jleclanche commented on #1572
@arnav13081994 is there a way to set up a redirect from rtd?

[2022-01-28 14:14] arnav13081994 commented on #1572
I can look into it. Not aware of any way on top of my head. We could however update the rtd with a huge alert on the homepage about the location of the new docs though?

[2022-01-28 14:35] arnav13081994 commented on #1572
@jleclanche It seems possible from the `RTD Admin` so please give me admin access and I can set a default redirect to the default version of the `Github Pages` hosted docs.

[2022-01-28 14:37] jleclanche commented on #1572
I'll take care of it once I'm back up and running…

[2022-01-29 02:09] jleclanche commented on #1572
@arnav13081994 what's your RTD username?

[2022-01-29 06:23] arnav13081994 commented on #1572
It's `arnav13`

[2022-01-31 07:54] Hafnernuss commented on #1571
I can confirm this happening on SQLite, which is quite handy in development.

[2022-01-31 16:46] arnav13081994 commented on #1569
@jleclanche @dbartenstein

While I still am not able to recreate the issue, I have a very good idea of what is potentially causing the problem. The basic assumption the entire sync infrastructure makes is that, if the `stripe_account` key is in the `WebhookEventTrigger` body, we use that to `retrieve` and `sync` the` Object` and all `RelatedObjects`. If it is **not** present, the `api_key` set in

[2022-01-31 16:47] arnav13081994 commented on #1273
@jleclanche This doesn't seem possible.

[2022-01-31 20:45] bufke commented on #1552
I looked at it more today, it may really be a Can't sync Subscriptions at all bug. I cleared all my test data in my Stripe test account. I created a free subscription based product. Subscribed a new user. I get the same error.

![image](https://user-images.githubusercontent.com/739307/151870265-8ddc9c2c-7e6a-4292-9cd5-08d2c7ae5b42.png)

[2022-01-31 22:40] dbartenstein commented on #1569
Unfortunately it still does not work.

Stripe API calls triggered by the event are done with the API key defined in the environment which leads to objects not being found on the incorrect Stripe account:
`stripe.error.InvalidRequestError: Request req_vcSUuTukAbWXnh: No such customer: 'cus_L3pz5P2RMxvQEe'`

### First steps to solve the issue
1. Add `api_key` to `Event.process`
https://github.com/dj

[2022-01-31 22:43] jleclanche commented on #1569
@dbartenstein I'm also unable to reproduce this. You think we could schedule a call this week where I try to reproduce this in your environment? Happy to sign a NDA/contract as needed.

[2022-02-01 00:08] dbartenstein commented on #1569
@jleclanche @arnav13081994
With the following changes the events of the other Stripe account worked: https://github.com/dj-stripe/dj-stripe/pull/1575

[2022-02-01 00:12] dbartenstein commented on #1569
@jleclanche for reproducing the issue two separate, not connected Stripe accounts are necessary. The incoming webhook events are not associated with the proper Stripe account, it seems.

[2022-02-01 07:29] arnav13081994 commented on #1552
@bufke I am still not able to replicate the issue and I suspect the root cause of the issue has nothing to do with `latest_invoice` on the `Subscription` model. I think it is a deeper issue with the way we handle webhooks relying on the CPU to handle the webhooks which causes them to be paused midway as we do not handle webhooks using **cooperative multi-tasking** yet.

So for now I have created t

[2022-02-01 07:29] arnav13081994 commented on #1560
@ebk46 I am still not able to replicate the issue and I suspect the root cause of the issue has nothing to do with `latest_invoice` on the `Subscription` model. I think it is a deeper issue with the way we handle webhooks relying on the CPU to handle the webhooks which causes them to be paused midway as we do not handle webhooks using **cooperative multi-tasking** yet.

So for now I have created t

[2022-02-01 14:51] bufke commented on #1552
Thank you @arnav13081994 that seems to fix it. I'll continue testing. One thing I noticed, that revert_latest_invoice has a migration 0013 that refers to migration 0012, but 0012 is not in that branch.

[2022-02-01 14:53] arnav13081994 commented on #1552
Hi @bufke my branch is off master so as long as that migration is in master, it should work.

Please continue to use this for atleast 1-2 weeks and then please post here if you faced any issues or not.

[2022-02-01 15:10] bufke commented on #1552
No worries, for reference I do think you may have missed a migration. Perhaps you had a migration file from another branch locally? I don't mind patching it myself but just for reference:

https://github.com/arnav13081994/dj-stripe/tree/revert_latest_invoice/djstripe/migrations
https://github.com/arnav13081994/dj-stripe/pull/14/files#diff-76e3365818d6b8431e484956100bed23eb0587c2dab148a23c9a4e9c48c

[2022-02-01 15:26] arnav13081994 commented on #1552
Yes, you are correct. I updated the branch.

And sure I will let you know.

[2022-02-01 15:53] #1569 closed, assigned to nobody

[2022-02-01 21:24] arnav13081994 commented on #1552
@bufke I have been able to find the root cause and #1580 should fix it. You can always give it a go by installing it like so:

[code]

Let me know if it fixes the issue or not. No need to revert `latest_invoice`.

[2022-02-02 18:55] #1552 closed, assigned to arnav13081994

[2022-02-02 18:55] #1560 closed, assigned to arnav13081994

[2022-02-02 20:16] bufke commented on #1552
Look good, thank you!

[2022-02-02 23:00] dbartenstein opened #1584 "Error 500 when syncing from second Stripe account"
**Describe the bug**
When two Stripe accounts are configured, some webhook calls fail with error 500. (It works fine for the first Stripe account for which the API key is defined in the environment)

**To Reproduce**
Steps to reproduce the behavior:

1. Set up two Stripe accounts
2. Set up webhooks for these Stripe accounts
3. See attached error logs on webhook
<details>
<summary>Details</summary>

[2022-02-03 23:43] marcelkornblum commented on #1552
@arnav13081994
Hi - I am also having this issue. I'm new to stripe and therefore to `dj-stripe` - thanks for fixing it so fast 🙏.
Can I ask whether I'll have to wait for v2.8.0 to see this fix officially out via pypi, or will it make e.g. 2.6.1? and what are the normal release cycles? Sorry for the questions, just trying to work out if I should wait or make a quick patch in the mean time...

[2022-02-04 04:51] jleclanche commented on #1552
We will get this backported to 2.6.1 as soon as possible.

[2022-02-07 10:20] CodeWithEmad opened #1588 "webhook failed to execute the view"
**Describe the bug**
I'm using dj-stripe on my application. it's a simple app that listens to a subscription-created event and does something after that. it was working fine, but a couple of days ago it keep raising server errors after the subscription was created.
it's funny, there is nothing in the database (all djstripe records are deleted) and I myself resend the failed event (I mean it's not

[2022-02-07 10:39] arnav13081994 commented on #1584
Hi Dominik,

For some reason I am not able to replicate your issue with 2 independent stripe accounts.

Can you confirm that the 2 WebhookEndpoints for the 2 Stripe Platform Accounts have been setup correctly?

Initially I was also getting the same error as you but that was because I didn't have the `api_key` for the second Platform Account as well as the `WebhookEndpoint` for that account in the

[2022-02-07 10:50] arnav13081994 commented on #1584
I just found an issue in the `charge.succeeded` webhook and have fixed that. Perhaps you were facing the same issue.

It would be very helpful if you could share exactly which webhook is failing in your case.

[2022-02-07 12:13] arnav13081994 commented on #1588
@CodeWithEmad  This issue has been fixed by https://github.com/dj-stripe/dj-stripe/pull/1580

@jleclanche Please consider releasing `2.6.1` with #1580

[2022-02-07 12:13] #1588 closed, assigned to nobody

[2022-02-07 12:51] dbartenstein commented on #1584
@arnav13081994 I will have time to look into it more deeply in the evening.

Until I can provide you with further data, the following assessment might be helpful:
Some webhooks events of the second platform account are processed successfully, some not.
![image](https://user-images.githubusercontent.com/809590/152791367-7e56f434-3e19-4cce-be51-8ba5981c40e1.png)

I assume that it might be related to

[2022-02-07 12:56] arnav13081994 commented on #1584
@dbartenstein I have already fixed all the issues with `checkout.session.completed` webhook and that should also take care of these issues. Unfortunately I do not have any publicly exposed testing environment so need to rely on the `stripe-cli` for all of this.

And yes the primary issue was that the `api_key` was either not getting passed around or was being passed around incorrectly. I will be r

[2022-02-07 13:47] jleclanche commented on #1588
Done.

[2022-02-07 14:10] arnav13081994 commented on #1584
@dbartenstein Please install from #1589 and see if that fixes your issues or not.

[2022-02-07 18:37] joshuakoh1 commented on #1236
@jleclanche sorry for digging but do you by any chance have a link to that DRF repo?

[2022-02-07 19:29] dbartenstein commented on #1584
@arnav13081994 thanks - it looks a lot better now. I haven’t encountered any of these errors anymore:
`stripe.error.PermissionError: Only Stripe Connect platforms can work with other accounts. If you specified a client_id parameter, make sure it's correct. If you need to setup a Stripe Connect platform, you can do so at https://dashboard.stripe.com/account/applications/settings.
`

The remaining e

[2022-02-07 19:34] arnav13081994 commented on #1584
I'm glad this helped! Please also check if the data is getting synced correctly. And definitely feel free to open another issue if you face any other problem.

[2022-02-07 19:54] CodeWithEmad commented on #1588
Thanks, @jleclanche. would you please update the PyPI package?

[2022-02-07 20:15] dbartenstein commented on #1584
@arnav13081994 what data would you like me to check specifically?

[2022-02-07 20:21] arnav13081994 commented on #1584
At the risk of sounding vague, I'm going to say the data you care most about. I would suggest randomly checking a few entries to make sure the data is populated as expected.

And I'm sure once you start fixing the failing tests you might stumble upon some issue that could perhaps be a dj-stripe issue. Hopefully not though :)

[2022-02-07 20:23] arnav13081994 commented on #1584
@jleclanche it seems the related PR #1589 could be merged.

[2022-02-07 20:25] jleclanche commented on #1588
Thanks for the reminder @CodeWithEmad. Done.

[2022-02-07 20:29] #1584 closed, assigned to arnav13081994

[2022-02-07 22:00] jleclanche commented on #1236
@joshuakoh1 no, the contributor in question never ended up releasing their work. Sorry.

[2022-02-08 09:02] ayushin opened #1592 "django 4.0.0 missing migrations"
**Describe the bug**
1. Install django >= 4.0 and latest djstripe
2. `./manage.py migrate`
[code]

No such warning is generated with django < 4.0

[2022-02-10 15:52] dbartenstein opened #1600 "Fail to add APIKey via djstripe admin interface"
**Describe the bug**
When adding a new API key via the djstripe admin interface the following error occurs:
![admin](https://user-images.githubusercontent.com/809590/153444135-de83f010-9889-42b8-b5ff-853218b93b28.jpg)

**To Reproduce**
Simply add a new API key via https://localhost/admin/djstripe/apikey/add/
Hint: the issue only appears when the associated Djstripe Account does not exist yet!

For

[2022-02-10 16:10] arnav13081994 commented on #1600
@dbartenstein This issue was not happening in the previous release?

[2022-02-10 16:15] dbartenstein commented on #1600
@arnav13081994 haven’t tested that with the previous release. So I cannot really tell when it was introduced. Can you reproduce it?

[2022-02-10 16:16] arnav13081994 commented on #1600
I will take this up later today. Need to finish some stuff for work first.

[2022-02-10 20:28] #1600 closed, assigned to arnav13081994

[2022-02-10 22:04] dbartenstein opened #1602 "Invoice.sync_from_stripe_data(stripe_invoice_data) fails with StripeErrorWithParamCode"
**Describe the bug**
When creating a Stripe invoice the following happens:

1. Create Stripe invoice items
[code]
2. Create Stripe invoice
[code]
3. `Invoice.sync_from_stripe_data(stripe_invoice_data)` crashed with the following error:

[code]

**Hints**
- In the invoice portal the Stripe invoice is complete and includes the seemingly missing product.

**To Reproduce**
- I tried the procedure desc

[2022-02-10 22:52] dbartenstein commented on #1602
Adding the API key to `Invoice.sync_from_stripe_data(data=stripe_invoice_data, api_key=api_key.secret)` of course solves the issue.

[2022-02-10 22:52] #1602 closed, assigned to nobody

[2022-02-11 09:38] dbartenstein commented on #1278
@jleclanche @arnav13081994
I am encountering the same issue on dj-stripe 2.6.1 for a `PaymentIntent`:
[code]

It should say: €19.90 EUR. Additionally it should either have the €-symbol or "EUR".

[2022-02-11 17:30] fabge commented on #1571
I can confirm this too. Although I would argue that sqlite can handle quite the load and a single webhook call should not lock the database.

[2022-02-11 20:32] onipiing opened #1603 "TypeError: argument of type 'NoneType' is not iterable (Direct charge on connected account)"
**Describe the bug**
[code]

**To Reproduce**
I was getting "Application fee" issue on
1. Upgraded djstripe from 2.5.0 to 2.6.1 because I was getting application_fee errors on webhook.
2. Run the below code
[code]

**Environment**
- dj-stripe version: [2.6.1]
- Database: [postgres 12]
- Python version: [e.g. 3.8.10]
- Django version: [e.g. 3.2.5]

[2022-02-11 21:03] arnav13081994 commented on #1603
@onipiing `ApplicationFee` and related models are not yet supported. This is a known issue. This should be done soon.

Sorry for the inconvenience.

[2022-02-11 21:06] onipiing commented on #1603
@arnav13081994 When do you think it will be resolved?

[2022-02-11 21:07] arnav13081994 commented on #1603
Aim is to get them all done by `2.8`. Next release would be `2.7`.

[2022-02-11 21:17] arnav13081994 commented on #1278
@dbartenstein I have reproduced and fixed the first part. It is a related but different error from this issue.

Also `t.payment_intent.amount` is rightly equal to 19.90. It was never supposed to show the currency symbol. That is how Stripe works as well.

Calling `t.payment_intent.human_readable_amount` should give you what you want.

[2022-02-11 21:24] dbartenstein commented on #1278
@arnav13081994
`t.payment_amount.amount` was only there to show the value for comparison. From a Stripe point of view it’s correct as €-cent are stored.

Calling human readable amount gives the following for a value of €1.15 - with the value between `€` and `EUR`.
[code]

[2022-02-11 21:27] arnav13081994 opened #1604 "PaymentIntent.human_readable_amount returns €1990.00 EUR instead of €19.90 EUR"
I am encountering the same issue on dj-stripe 2.6.1 for a PaymentIntent:

<PaymentIntent: €1990.00 EUR by Mxxxx Kxxxxx. The funds are in your account.>

1990
It should say: €19.90 EUR. Additionally it should either have the €-symbol or "EUR".

[2022-02-11 21:28] arnav13081994 commented on #1278
Fixed by https://github.com/dj-stripe/dj-stripe/pull/1605

[2022-02-14 21:17] edomora97 commented on #1592
I've the same issue. If I try to run `manage.py makemigrations` it reports:

[code]

[2022-02-14 22:03] arnav13081994 commented on #1592
@edomora97 @ayushin It seems this is a `side-effect` of `Django 4.0` and not specific to `dj-stripe`. Please check this [link](https://docs.djangoproject.com/en/4.0/releases/4.0/#migrations-autodetector-changes)

[2022-02-15 09:02] jleclanche commented on #1592
@arnav13081994 we will probably have to regenerate migrations for 4.0, I'll investigate as soon as I can.

[2022-02-15 13:49] arnav13081994 commented on #1592
@jleclanche This should be fixed by #1607

[2022-02-25 11:12] #1592 closed, assigned to jleclanche

[2022-03-09 21:39] #1604 closed, assigned to arnav13081994

[2022-03-12 20:58] MicahLyle commented on #1571
I think I've noticed that, even in PostgreSQL, since `djstripe` `2.6.0` (I could be wrong about the since which version), there seems to be more deadlocks on the Sentry logs.

Here's where it can become a problem. I have some older (like ~3 year old code) that does some sanity check things with default sources that looks like this.

[code]

That code is part of a critical production workflow that

[2022-03-13 22:17] eliezerp3 opened #1621 "Ability to create express account attached to auth user"
Hi. Is does this package have a way to create an express account and attach it to the django auth user (onetoonefield) or does this have to be done manually?

[2022-03-14 00:02] eliezerp3 commented on #1621
Just to be more clear, when creating a customer there is the ability to do something like Customer.get_or_create(..). I was wondering if there was something like that for the Account model. If not, would i be able to get some idea on how to do this or should i be querying the account model every time by email?

[2022-03-14 00:43] eliezerp3 opened #1622 "Webhook Fails For Account Creation"
**Describe the bug**
Hi. All of the webhooks are working except for Account creation. To be clear, it successfully creates the account on stripes end but the webhook fails and causes the account not to appear in djstripe database.

This is the call i am making:
[code]

And this is the response from the server attempting to run the webhook:
[code]

**Software versions**
- Dj-Stripe version: 2.6.1
-

[2022-03-14 14:42] arnav13081994 commented on #1621
Hi @eliezerp3, we do not do that out of the box as this is a custom requirement. We do, however, automatically link a `Customer` object with the `User` model as defined by `settings.AUTH_USER_MODEL`. This can be overriden by the `dj-stripe` settings, [DJSTRIPE_SUBSCRIBER_MODEL](https://dj-stripe.dev/reference/settings/#djstripe_subscriber_model-settingsauth_user_model)

That being said, we are pla

[2022-03-14 14:42] #1621 closed, assigned to nobody

[2022-03-14 14:44] arnav13081994 commented on #1622
Closing as duplicate of https://github.com/dj-stripe/dj-stripe/issues/1571

[2022-03-14 14:44] #1622 closed, assigned to nobody

[2022-03-14 15:00] eliezerp3 commented on #1621
@arnav13081994 Thanks. Is there a stripe account creation webhook I would be able to listen to and attach it to a user based on the email?

[2022-03-14 15:19] arnav13081994 commented on #1621
You can look at `account.external_account.created` and `account.updated` depending on what you are looking at doing. If you only care about creation then the first one is all you need but if you want to track any updates to the `Connected Account`, the second one should do.

Eg

[code]

Please note that you would need to call `sync_from_stripe_data` on the returned model data because the order in

[2022-03-15 16:06] eliezerp3 commented on #1621
Wow. Didn’t realize that had the sync_from_stripe_data for every model. So i just synced it right after creating it in the code and added the field to the user. Didn’t even need the webhook. Thank you so much! This package is great!

[2022-03-15 16:52] MicahLyle commented on #1571
^ By the way, with the above comment, the resolution was to make sure to not try and create the customer and payment method together in the same request (we were only creating customers right about when they were adding payment info, because we were doing it an older way with sources using `DjstripePaymentMethod`. Creating the customer just earlier on and separately in the flow I believe resolves

[2022-03-15 18:11] arnav13081994 commented on #1621
I'm glad :)

And we always appreciate financial contributions as well as that helps us continue building and maintaining this package.

[2022-03-15 23:02] eliezerp3 commented on #1621
@arnav13081994 Still just playing around and getting the feel of the package. Waiting for djstripe v7 to fix the django 4.0 migration issue (#1592) and then will implement it into my production codebase. If my billion dollar idea takes off, I will definitely be sending some kickback ;-). Really appreciate how quickly you respond to issues and upload new releases.

[2022-03-19 07:09] jakemanger opened #1625 "djstripe 2.6.1 Can't sync a new subscription event via webhooks"
**Describe the bug**
After a user uses the checkout session to subscribe to a new plan/price, a POST request to the webhook always fails with a 500 error. This only occurs when using a djstripe 2.6 version. It is not present if I downgrade to djstripe 2.5.1.

**To Reproduce**
1. Use djstripe 2.6.1
2. Create a checkout session id (with the below code), send that to the frontend and subscribe a user

[2022-03-19 07:12] jakemanger commented on #1571
This appears to be very similar to my issue that only occurs when using djstripe 2.6.
See #1625

[2022-03-19 08:56] plumber-craic opened #1626 "How do I use foreign keys for django admin of Subscriptions?"
**What are you trying to accomplish?**
From Django Admin Subscriptions I want to see the plan intervals, plan tiers and also see which currently active plans have been cancelled. How do I add extra columns to the Subscription Admin list view when they are foreign key attributes of the Subscription model?

I can put this in my own admin.py to add **cancel_at**, but it doesn't work for foreign keys

[2022-03-19 11:12] arnav13081994 commented on #1626
@plumber-craic

You can look at [this](https://github.com/dj-stripe/dj-stripe/pull/1618/commits/6db59c2223e8ffa25b65e5ea2df1a959ec6d95fa) and [this](https://github.com/dj-stripe/dj-stripe/pull/1618/commits/cbae01f39a2757e6a9592cea41144ba3e5c75145) commit to get what you want. The second commit is required because it stops the divulge of db queries. The idea is to return a string representation in

[2022-03-19 11:39] plumber-craic commented on #1626
perfect - thanks so much! Not as advanced as your tax rates column, but seeing that, I now know I can do this :
[code]

[2022-03-19 11:39] #1626 closed, assigned to nobody

[2022-03-19 11:46] arnav13081994 commented on #1626
Glad it helped :)

[2022-03-22 11:30] Kub-AT opened #1629 "Why Customer.subscribe is not returning Subscription object anymore ?"
Why `Customer.subscribe` method is not returning `Subscription` object anymore (since 2.6.x) ?

and how to get newly created subscription now ?
I can do something like that `customer.active_subscriptions.first()` but maybe is better solution for that ?

This change is missing in docs Breaking changes: https://dj-stripe.dev/dj-stripe/2.6/history/2_6_0/

[2022-03-22 18:07] albertsalgueda commented on #610
Still get this issue:
openai.error.AuthenticationError: Incorrect API key provided: sk-Z1i4R***************************************wnI2. You can find your API key at https://beta.openai.com.

But my API key is correct

[2022-03-23 16:01] Saga4 opened #1631 "No such Subscription exist error post creating and syncing the subscription"
**Describe the bug**
After trying to create a subscription using below code:
[code]

Getting error stripe.error.InvalidRequestError: Request req_xxx : No such subscription 'sub_xxx'.

**To Reproduce**
Steps to reproduce the behavior:
The error we are currently catching is with pytest. We are using all kinds of mocking and things are working fine with 2.5.1.
We are using postgres db for this.

**En

[2022-03-24 06:46] arnav13081994 commented on #1631
@Saga4 Please post the complete traceback?

Also you may be interested in checking out this [issue](https://github.com/dj-stripe/dj-stripe/issues/1570).

[2022-03-24 06:47] arnav13081994 commented on #1625
@jakemanger Are you able to reproduce the `deadlock` error reliably?

[2022-03-24 06:53] arnav13081994 commented on #1629
@jleclanche This id my [doing](https://github.com/dj-stripe/dj-stripe/commit/004bb20ac9b4b0246f31b4b9a9c00d604b87b8d2). Should we return the `Subscription` object? Without that it would be very tricky to reliably return the newly created `Subscription` Object.

[2022-03-24 19:39] kavdev commented on #1338
See https://github.com/dj-stripe/dj-stripe/discussions/1633

[2022-03-24 19:39] #1338 closed, assigned to nobody

[2022-03-27 05:41] eliezerp3 opened #1636 "When is v2.7 being released"
Hi. I’ve been testing out this package for last couple weeks and am ready to implement into my production code. When is v2.7 being released as need #1607 fixed? Thank you.

[2022-03-27 07:06] AtoroDesu opened #1637 "No Such File Upload / resource_missing from Stripe API on fresh install"
**Describe the bug**
Fresh install unable to sync initial data, every model returning an error: `Skipping price_xxxx: Request req_LKxxxx: No such file upload: 'https://s3.amazonaws.com/stripe-uploads/acct_xxxxmerchant-icon-1455482561989-FH2.png'`

Error is being thrown from Stripe API as 404. Direct link to the S3 URL mentioned works, URLs changed in this issue for privacy. A previous issue  #(830

[2022-03-28 12:32] czue commented on #1592
will there be a release that includes this anytime soon?

[2022-03-29 06:18] AtoroDesu commented on #1637
Tried several things over the past couple days, seems to be erroring from several places, but all getting the same 403 from Stripe. I followed the docs to the T, so unless I'm missing something this is definitely a lib issue. Any advice?

[2022-03-30 10:16] AtoroDesu commented on #1637
Spoke with karllekko#1216 on the Stripe Developers Discord, who narrowed the issue down to a difference between the AWS S3 image trying to be fetched by the `_attach_objects_post_save_hook` and the actual file. Apparently my account is "quite old" and there was a breaking change in Stripe's data structure from direct S3 URLs to File objects.

SO, for anybody else who sees this error, try deleting

[2022-03-30 10:16] #1637 closed, assigned to nobody

[2022-03-30 21:30] dbartenstein commented on #1636
Jep, would be great to have a final 2.7 release soon.

[2022-03-31 23:42] kavdev commented on #1629
@arnav13081994 returning the new subscription is definitely the way to go.

[2022-04-01 02:17] arnav13081994 commented on #1629
Sounds good. I'll make that change.

[2022-04-02 18:13] czue opened #1647 "Was support for Python 3.7 dropped?"
In the README file it indicates that Python 3.7 is supported, but I noticed that the classifiers on PyPi no longer include it for version 2.6 and above.

Is this a bug in the classifiers or a bug in the docs?

[2022-04-04 13:59] ntohill95 opened #1648 "Errors thrown when following the instrumentation doc"
**What did you run into?**
When following the instructions here https://github.com/dj-stripe/dj-stripe/blob/master/docs/installation.md

error thrown on the execution of the command `python manage.py djstripe_sync_models`

Terminal output:

`
True
Skipping <class 'djstripe.models.base.IdempotencyKey'>: not a StripeModel
Skipping <class 'djstripe.models.api.APIKey'>: no stripe_class
Syncing Account

[2022-04-04 17:33] kosperun opened #1649 "dj-stripe creates a strange migration which is not present in 2.6.1 release package or source repo"
**Describe the bug**

I created a django model where I have a OneToOneField to djstripe's Customer. When I run `makemigrations` a migration is created with the following dependency:

 `dependencies = [
        ('djstripe', '0011_alter_invoice_charge_alter_invoice_customer_and_more'),
        ('users', '0007_rename_username),
    ]`

Everything seems to be okay locally, but then when I deploy my co

[2022-04-06 14:12] sshishov commented on #955
We are using the price like `0.0089$` which is metered and has tiers. We are calculating the usage with some transaction done by the customer and for us storing cents will show `None` and cannot be calculated. How guys you are going to address this issue?

Currently for this small price we are having this exception when we are trying to print the price:
[code]
And the dictionary of the object is s

[2022-04-07 09:00] rahimbtc opened #1652 "Django.db.utils.NotSupportedError when do python manage migrate"
Renaming the 'djstripe_fileupload' table while in a transaction is not supported on SQLite < 3.26 because it would break referential integrity. Try adding `atomic = False` to the Migration class.

[2022-04-07 09:43] arnav13081994 commented on #1647
@czue Sorry for the delayed response. Yes we have dropped support for `python 3.7`. I can see how one might interpret `python 3.7+` as supporting `3.7`. I will fix that.

[2022-04-07 09:47] arnav13081994 commented on #1648
@ntohill95 That's a great suggestion. Will definitely see how that can be addressed by the documentation. Perhaps we will output a link to the relevant section in the `docs` along with the `warnings/errors`. @jleclanche Thoughts?

Also most of the output that you have mentioned are just `warnings` because the given `model` is just an `internal dj-stripe` model or the `model` cannot be synced becau

[2022-04-07 09:55] arnav13081994 commented on #1652
@rahimbtc We do not recommend running `sqlite` in production anyway and setting `atomic=False` can be disastrous in case something goes wrong.

Please consider upgrading your version of `sqlite`. As I understand the recent versions of `sqlite` have addressed this limitation.

Closing this issue for now. Feel free to open another issue in case you face any other problem.

[2022-04-07 09:55] #1652 closed, assigned to nobody

[2022-04-07 10:11] arnav13081994 commented on #1649
@jleclanche Was this `migration` removed or `squashed`?

[2022-04-07 23:12] eliezerp3 opened #1654 "Are all djstripe model id's indexed"
I am storing stripe id's ("acct_...") in my models. Just confirming that using Account.objects.get(id=id) or any of the other djstripe model id's (which contain the stripe object id's) are indexed by default. I am just a bit confused because i see
[code]
so it doesn't look like the id has a db_index. Only the djstripe_id. I'm not sure what the difference is between them. Would i be able to get a b

[2022-04-08 11:50] jleclanche commented on #1654
`unique` and `primary_key` both imply `db_index`, as it requires indexing in order to enforce uniqueness. Does that answer your question?

[2022-04-08 15:20] eliezerp3 commented on #1654
I knew primary key does but didn’t know unique does also. Thank you.

[2022-04-08 15:20] #1654 closed, assigned to nobody

[2022-04-08 15:36] eliezerp3 commented on #1654
@jleclanche  I closed the issue bec the question has been answered but would you just be able to give me an est time for the next release? I am unable to add this release to my production code because of the issue below.

I made a couple of ForeignKeys pointing to djstripe models from my own models. The interesting part is that it works fine on an existing postgres database, but on deleting my db

[2022-04-09 15:32] jleclanche commented on #1654
@eliezerp3 I'm sorry, I can't make guarantees right now. The war in Ukraine has affected me a lot and my time to work on dj-stripe has gotten near-nil. Arnav is still doing great work but I don't have time to review and merge any of it yet.

[2022-04-10 04:24] eliezerp3 commented on #1654
@jleclanche Wow. Sorry to hear man. Take all the time you need and really appreciate it.

[2022-04-12 09:32] arnav13081994 commented on #1647
@czue I checked the code again and I was wrong, we support `>=3.7.12` for `python 3.7`. I have updated the docs.

@jleclanche I don't have access to `pypi` to address this.

[2022-04-12 15:50] jleclanche commented on #1652
We clearly require sqlite >= 3.26 in the readme.

[2022-04-13 15:11] kosperun opened #1662 "Can't process webhook event because of TypeError: argument of type 'NoneType' is not iterable"
**Describe the bug**
Cannot process webhook events because an error is thrown
[code]

**To Reproduce**

1. Install dj-stripe 2.6.1, set up endpoint to listen to webhooks
2. Create webhook handler for event "payment_intent.processing"
3. Use stripe APIs to create a payment intent
4. The following error is thrown:

[code]

**Software versions**
- Dj-Stripe version: 2.6.1
- Python version: 3.9.11
- D

[2022-04-13 16:03] janbaykara opened #1663 "Add ShippingRate model"
[Shipping Rates](https://stripe.com/docs/api/shipping_rates/object) don't seem to be in the codebase, although Tax Rates are.

[2022-04-13 16:52] arnav13081994 commented on #1662
@Perun108 Could you please attach the `Event` instance that failed as well?

[2022-04-14 06:01] kosperun commented on #1662
@arnav13081994 Here it is
[code]

[2022-04-19 06:13] kosperun commented on #1662
@arnav13081994 Is there any update on this issue? Thanks.

[2022-04-19 09:47] ahmedsafadii opened #1668 "specified length too long for its datatype - Oracle"
**Describe the bug**
I want use it over oracle db but I keep getting this error in migrate
specified length too long for its datatype

**To Reproduce**
just make your database oracle and give it a test

**Software versions**
- Dj-Stripe version: 2.6.1
- Python version: 3.10
- Django version: 4.0.3
- Stripe API version: Latest
- Database type and version: Oracle 21.3

[2022-04-19 10:00] ahmedsafadii commented on #1668
i made a fork and looks like the issue is max_length of URLField is 2048 and in oracle it should be less or equal to 2000

[2022-04-19 11:23] arnav13081994 commented on #1668
@ahmedsafadii Unfortunately we do not support oracle at the moment.

[2022-04-19 11:36] ahmedsafadii commented on #1668
any plan to support it in the future? @arnav13081994

[2022-04-19 14:29] arnav13081994 commented on #1668
We could probably support it. @jleclanche what do you think?

[2022-04-19 14:30] jleclanche commented on #1668
If it's simple / best effort, maybe. But I'd rather not.

[2022-04-19 14:30] #1668 closed, assigned to nobody

[2022-04-19 14:31] ahmedsafadii commented on #1668
@jleclanche , i implement it and no issue appear for now, only the issue with URLField most be less than 2000 for the length, don't know if there something else

[2022-04-19 14:39] jleclanche commented on #1668
The problem is, that limitation is on Stripe's end, not ours, so making it 2000 max would potentially break things for other users.

[2022-04-20 06:41] arnav13081994 commented on #1662
@Perun108 I am not able to replicate your issue.

What is the `Stripe API Version` you are using? You can find this on your stripe dashboard by checking out the `Logs` of the `API call` that triggered this.  For example, latest is `2020-08-27`.

Also can you share how you created the `Payment Intent`. There are a lot of options for that so perhaps that should help me in replicating this.

[2022-04-20 08:55] kosperun commented on #1662
@arnav13081994 Thank you.

My Stripe API version is `2020-08-27 Latest`. I created the `PaymentIntent` with the standard call

[code]

[2022-04-20 11:00] arnav13081994 commented on #1662
@Perun108 I tried and still not able to replicate your issue.

Could you try to convert your `JSON` into a python `dict` and then run `PaymentIntent.sync_from_stripe_data(JSON_CONVERTED_DICT)`. The `json` library will come in handy for this.

Also your `JSON` object seems a bit weird to me, in particular the following lines:

[code]

I do not get the Stripe Dashboard URLs in mine.

[2022-04-20 12:10] kosperun commented on #1662
Regarding the URLs, they were miraculously added by GiHub autoformatting in several places when I pasted the Event object. They are not there in the Event object in the Stripe Dashboard. Here is the detailed Event object (with these auto-pasted urls removed) that I copied from https://dashboard.stripe.com/test/events/evt_3KoLgwC4XECnXYgi0TmwkS7y

[code]

[2022-04-20 12:14] kosperun commented on #1662
I converted this Event JSON into the following python dict:

[code]

Then, when I try to sync it I get the following error:

[code]

What I am doing wrong?

[2022-04-20 15:32] ahmedsafadii opened #1670 "Customer matching query does not exist."
**Describe the bug**
When the customer pays using the payment link, the first payment works fine, but the second one or thirds gives error

A customer matching query does not exist.

Traceback

[code]

**To Reproduce**
simply you just need to pay using the payment link, note that the user is registered on the website before going to do the payment.

[code]

**Software versions**
- Dj-Stripe versio

[2022-04-20 17:36] arnav13081994 commented on #1670
@ahmedsafadii Are you able to replicate this error with `master`? I remember fixing this issue.

And are you sending any `metadata` with the `SUBSCRIBER_CUSTOMER_KEY`?

And can you explain your use-case a bit? Are you trying to associate `more than 1 customer` to the same `subscriber`? Or are you trying to pay more than once for the same customer?

And after the first payment is made, is the `cust

[2022-04-20 18:28] ahmedsafadii commented on #1670
Are you able to replicate this error with the master? I remember fixing this issue.

I didn't try the master one yet.

And are you sending any metadata with the SUBSCRIBER_CUSTOMER_KEY?

what do you mean by that,
<img width="1513" alt="Screen Shot 2022-04-20 at 9 26 09 PM" src="https://user-images.githubusercontent.com/6974081/164297769-6d7965b6-3769-4366-9920-0288dd0d8ebf.png">

this is the only

[2022-04-20 18:30] ahmedsafadii commented on #1670
Note that i did try to see what is going on

when I remove this constraint the issue is gone and everything works again

[code]

from customer model inside the core file @arnav13081994

[2022-04-20 18:47] arnav13081994 commented on #1670
@ahmedsafadii

When you say `upcoming user` you mean the **same** user making another payment or **another** user making a payment?

For example, Assume you start from an empty database, and now you populate your db with 10 `users`. Then one of the users lets say `user A` goes to the `payment link` created by you and `pays`. So far so good.

Now lets say another user, `user B` goes to the same `pa

[2022-04-20 18:54] arnav13081994 commented on #1662
@Perun108 Could you please try to use the `master` branch to replicate this issue? I am still not able to replicate it. Everything seems to be working smoothly for me. I have tried local stripe triggers as well as the `stripe api`.

[2022-04-20 19:58] ahmedsafadii commented on #1670
upcoming user another user making a payment.

`For example, Assume you start from an empty database, and now you populate your db with 10 users. Then one of the users lets say user A goes to the payment link created by you and pays. So far so good.
`
yes

`Now lets say another user, user B goes to the same payment link and pays, is this when you get this error? or the error happens if user A tries

[2022-04-20 21:38] ahmedsafadii commented on #1670
@arnav13081994 in case you want a demo video for the issue, I would do that also if it would help.

[2022-04-21 05:03] arnav13081994 commented on #1670
Ok thank you for the information. Basically nothing works for any user (new or returning) after 1 payment is made. I will look into this more over the weekend.

[2022-04-21 10:18] ahmedsafadii commented on #1670
@arnav13081994 thank you.

[2022-04-21 17:39] janbaykara opened #1671 "Coupon model is missing `applies_to` field"
The [`applies_to` field](https://stripe.com/docs/api/coupons/object#coupon_object-applies_to) should list product IDs and so on.

[2022-04-21 20:49] eliezerp3 opened #1672 "Session.sync_from_stripe_data() doesn't sync the charges associated to the sessions payment intent"
Hi. It seems that "Session.sync_from_stripe_data()" only syncs the associated payment intent but not the associated payment intents charges. (Calling session.payment_intent.charges.all() returns an empty queryset)

[2022-04-22 01:54] arnav13081994 commented on #1672
@eliezerp3 Yes that is correct. We don't yet support syncing reverse Fks and m2m relations. But this is already on my todo list.

[2022-04-22 01:55] arnav13081994 commented on #1671
PR #1573 fixes this issue.

[2022-04-22 01:56] #1671 closed, assigned to nobody

[2022-04-22 19:15] puppetninja commented on #178
I got a 404 ? is there any discussion group I can join ?

[2022-04-23 15:46] arnav13081994 commented on #178
https://discord.com/channels/455973396094648322/455973396627587073

@puppetninja

[2022-04-23 19:59] puppetninja commented on #178
@arnav13081994 I got no text channels prompt ? is that a public channel ?

[2022-04-24 02:36] arnav13081994 commented on #178
Try this: https://discord.gg/BpECaBXD

[2022-04-24 14:26] eliezerp3 commented on #1672
Ok. Thanks. I guess for now I am just going to get the charges associated to that payment intent through the stripe api and loop through and manually sync each of them.

[2022-04-24 14:26] #1672 closed, assigned to nobody

[2022-04-24 14:30] eliezerp3 commented on #1672
@arnav13081994 Just curious if you know if this is slated for this upcoming release or after that?

[2022-04-24 14:57] arnav13081994 commented on #1672
Definitely not the upcoming release. I’ll try to get it in for the one
after that.

On Sun, 24 Apr 2022 at 8:00 PM, eliezerp3 ***@***.***> wrote:

--
Regards,

Arnav

[2022-04-24 15:01] eliezerp3 commented on #1672
Awesome. Much appreciated.

[2022-04-24 16:55] puppetninja commented on #178
Thanks, works for me!

[2022-04-26 12:11] jleclanche commented on #1592
@czue Sorry for the late response. Yes. Working on it for next week.

[2022-04-26 16:06] kosperun commented on #1662
@arnav13081994 I tried with the master branch and there was no change, this error was still being thrown. Then I decided to change stripe customer (i.e. create a new customer in Stripe on my email and add a card to it) and then miraculously everything worked as expected. I cannot reproduce this issue with a new customer and I'm totally bewildered regarding what was the cause of this strange behavi

[2022-04-26 18:17] arnav13081994 commented on #1662
I'm glad it worked out.

That indeed is buzzard.

Closing this issue for now. Feel free to reopen in case you face this issue again.

[2022-04-26 18:17] #1662 closed, assigned to arnav13081994

[2022-04-27 19:26] hamsterhooey opened #1674 "Subscription deleted on Stripe Dashboard not reflected in local database"
**Describe the bug**
A subscription deleted on Stripe Dashboard is not reflected in local database even after running `./manage.py distripe_sync_models`.

**To Reproduce**
1. Create customer (name=Test) and subscribe them to a price on Stripe Dashboard. Run `./manage.py distripe_sync_models`.
2. In Django Shell run: `Customer.objects.get(name="Test").active_subscriptions`. This shows the active su

[2022-05-01 23:07] janbaykara commented on #1603
What can be done as a workaround for now?

[2022-05-02 01:41] arnav13081994 commented on #1603
@janbaykara you could write your own webhook handler to handle such webhook connect events.

[2022-05-02 09:33] janbaykara opened #1676 "Webhook fails to create `Event` for `api_version` like `2018-08-23; orders_beta=v3` (too long for `max_length` constraint)"
### Describe the bug

Receiving webhooks is failing, throwing a `django.db.utils.DataError: value too long for type character varying(15)` error when trying to create an Event.

Searching the issues in this repo reveals similar errors (#1211, #1296) and on their advice I looked for model fields with `max_length=15`.

The only field with this constraint is `Event.api_version`:

https://github.com/d

[2022-05-02 10:10] jleclanche commented on #1676
Thanks for the PR.

You can safely manually increase the character length in your database in the mean time as a workaround.

[2022-05-04 19:40] eliezerp3 commented on #1649
@arnav13081994 Django version 4 is still unusable due to this bug.

[2022-05-05 11:06] richkirsch commented on #1488
Is there a better way of doing this other than going to the dashboard and clicking on the dozens of event subheaders in the 'Select events' dropdown?

[2022-05-05 11:13] arnav13081994 commented on #1488
@richkirsch In the upcoming release, you would be able to create webhookendpoints from
the django admin. For now, you'd be able to create one or more endpoints will all events enabled. Maybe in the future we'd let one select the events they'd want to be sent just like the Stripe Dashboard.

[2022-05-06 10:34] arnav13081994 commented on #1649
@eliezerp3 The upcoming release should fix this issue.

[2022-05-07 10:54] #1397 closed, assigned to nobody

[2022-05-07 10:55] #1629 closed, assigned to arnav13081994

[2022-05-09 15:55] arnav13081994 commented on #1674
@hamsterhooey Sorry for the delayed response. I am not able to replicate your issue.

`active_subscriptions` returns `Subscriptions` that have an `end time` greater than `now`.

So the cancelled subscription was `Cancelled Immediately`? And did the corresponding `Stripe Webhook` get fired for you?

Another way would be to cancel the subscription from the `dj-stripe` admin which will cancel the sub

[2022-05-16 12:42] shamjam commented on #1649
I had this same problem and it goes away when I install the latest pre-release version of dj-stripe. When can we expect the next stable release to be up?

[2022-05-22 19:12] idubinets commented on #1310
Hello guys,

we are facing the same issue. we are using 2.3.0 version. was the issue fixed in the newest version? if so, can you please update the status of this ticket?

[2022-05-23 03:26] arnav13081994 commented on #1310
@idubinets I don't think this issue was fixed intentionally. I would suggest giving the latest pre-release a try. Maybe that resolves it.

[2022-05-24 17:30] steverecio commented on #1588
I just upgraded from 2.5.1 to 2.6.1 and I just started seeing this issue...

[2022-05-24 17:51] steverecio opened #1692 "API change for Invoice.billing_reason"
It seems to be undocumented ([docs](https://stripe.com/docs/api/invoices/object#invoice_object-billing_reason)) but the [`InvoiceBillingReason`](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/enums.py#L390) enum is missing the value `automatic_pending_invoice_item_invoice`. Stripe is sending this undocumented value which is causing my webhooks to fail due to the max_length of the `Inv

[2022-05-24 23:03] steverecio commented on #1692
This should solve #1296 as well.

[2022-05-24 23:03] steverecio commented on #1692
This should solve #1296 as well.

[2022-05-25 02:46] arnav13081994 commented on #1692
@steverecio We are aware of the migration issue. Please install the latest pre-release. It will
be part of the next release.

And thank you for helping out. Appreciate it.

[2022-05-26 09:50] edomora97 commented on #1592
Any update for a release including this fix?

[2022-05-27 10:24] jleclanche commented on #1592
@edomora97 There is an alpha out now that has this fix.

[2022-05-27 10:27] #1692 closed, assigned to nobody

[2022-05-28 04:49] robd003 opened #1709 "Customer Billing Portal"
It would be awesome to have a customizable end-user billing portal so that customers could update their billing method, lookup past invoices, etc.

[2022-05-29 00:58] kavdev commented on #1709
Hi @robd003! Thanks for the suggestion, but we've been moving away from building out any UI/view components and have deprecated anything we've previously had. The core competency of this project is bringing your stripe data into Django models and helping you take actions with that data.

[2022-05-29 00:58] #1709 closed, assigned to nobody

[2022-06-09 18:01] VahanDrnoyan opened #1718 "Not all migrations present in package"
Hello!

I see that not all migrations are made in latest package. This is a small problem. Each time docker image is being build it installs fresh copy of package. And in  project there are dependancies from those  migrations. They are being  added from pervious makemigrations command. So each time on image build once you want to makemigrations to fix this issue it returns error as the dependancie

[2022-06-09 19:13] KennyLepping commented on #1649
@shamjam

Hi shamjam! Where did you find the pre-release version?

Is it the 2.6.0 pre-release?

[2022-06-09 22:23] shamjam commented on #1649
Hi @KennyLepping, I'm using the 2.7.0a8 pre-release which I found [here](https://pypi.org/project/dj-stripe/#history).

[2022-06-09 23:47] KennyLepping commented on #1649
Awesome, thank you! I will try that. I actually just found a temporary fix that brought my Heroku Django project back online. It was to copy the djstripe app from the site_packages directory into my Django project so I can push the correct migrations to Heroku.

[2022-06-10 05:03] arnav13081994 opened #1720 "How are you using dj-stripe? Share the details here!"
Hey Everyone!

I'm curious to know how `dj-stripe` is being used in your products/projects? I'm thinking of documenting a few common and unique ways that people are using `dj-stripe` in.

Thanks!

[2022-06-13 02:06] michael-yin opened #1721 "Customer.valid_subscriptions should exclude SubscriptionStatus.incomplete"
If people use Payment Elements to sell subscription by following this guide https://stripe.com/docs/billing/subscriptions/build-subscriptions?ui=elements#install-setup

People will create subscription using code below:

[code]

This will create `Subscription` which has `incomplete` status (before we confirm the payment), and I do not think it is `valid_subscriptions`

[code]

I think we should upd

[2022-06-13 02:34] eliezerp3 opened #1722 "New Stripe Order API Support"
Hi. I’m planning on migrating over to the new stripe order api (from the session api) once it leaves beta. Will this be supported in this upcoming release (v2.7.0)?

[2022-06-13 03:12] arnav13081994 commented on #1722
Yes.

[2022-06-13 03:26] eliezerp3 commented on #1722
Thanks

[2022-06-13 03:26] #1722 closed, assigned to nobody

[2022-06-15 02:08] eliezerp3 commented on #1722
@arnav13081994 I tried testing out the new order api (using just the regular stripe package for now) but I got an error that the beta version wasn't a valid version.  I see that you merged a pull request to validate beta versions of stripe. Any way we can get a new pre release so I can start testing it in preparation for full release? Appreciate your work here.

[2022-06-15 02:36] arnav13081994 commented on #1722
@eliezerp3 You can install the `master/main` branch like so:

[code]

[2022-06-15 02:38] eliezerp3 commented on #1722
How would I do that via poetry?

[2022-06-15 02:47] eliezerp3 commented on #1722
All good.
[code]
seems to have done the trick. Thanks again.

[2022-06-15 03:01] arnav13081994 commented on #1722
Great! You should know that I have not created a `PR` for `Order Webhooks` as I couldn't test them locally. They are not yet supported by the `Stripe-CLI`.

[2022-06-15 03:07] eliezerp3 commented on #1722
@arnav13081994 Yep. Saw that in the order pull request. Guess stripe will have to sort that out. One thing though. After installing master with the poetry command above, I am able to use the models in my code and through the shell (python manage.py shell) but none of the djstripe models are appearing in my admin panel. This was not an issue in the latest pre-release though.

[2022-06-15 18:59] aburgel commented on #1718
this is addressed in https://github.com/dj-stripe/dj-stripe/pull/1607, we're just waiting for 2.7 to be released 🤞

[2022-06-15 19:00] aburgel commented on #1636
@arnav13081994 @jleclanche any updates on 2.7? it's blocking a bunch of us from upgrading to django 4.0

i'm happy to help out with the release if it's needed 😄

[2022-06-15 19:44] jleclanche commented on #1636
@aburgel thanks for proposing your help. I'd like to merge quite a few PRs before we release 2.7. One particularly difficult one to merge will be this one: #1638

It will block the release for quite a bit because according to @arnav13081994 our payout model is currently wrong, and we have to correct it but to do so we need a SQL-style migration, and I *hate* those because they are so fragile from

[2022-06-15 20:09] #1718 closed, assigned to nobody

[2022-06-15 20:10] jleclanche commented on #1676
PR merged, fixed in next release.

[2022-06-15 20:10] #1676 closed, assigned to nobody

[2022-06-16 02:15] aburgel commented on #1636
@jleclanche I suggested some changes to that PR and tested locally.

I'm concerned that it will take a while to get that PR into good shape, let alone all the other PRs you'd like to merge.

Would you be open to shipping those Django 4 migrations in 2.6.2? I think we wouldn't be violating semver by calling it a patch release even though it has migrations because those migrations don't actually mak

[2022-06-16 06:07] arnav13081994 commented on #1721
@jleclanche Going off the discussion in https://github.com/dj-stripe/dj-stripe/issues/490, I think we should deprecate all these helper methods as they are very subjective and the code is simple enough for users to implement that on their end anyway. We don't really add much value and can definitely frustrate them especially if our definition of `valid`, `invalid`, `current` etc diverges from thei

[2022-06-16 09:57] rupesh2306 commented on #610
@albertsalgueda I am also facing same issue. I want to set API key through windows terminal. I am using "set" for this task. But I am getting following error.
←[91mError:←[0m Incorrect API key provided: "sk-iQJX*****************************************mux". You can find your API key at https://beta.openai.com. (HTTP status code: 401)

[2022-06-16 09:59] jleclanche commented on #610
Please stop talking about errors which have nothing to do with this library.

[2022-06-16 10:56] shamjam commented on #1297
I'm experiencing this same issue with dj-stripe version 2.7.0a8.

I need to go back and install version 2.6.1 for the sync to work.

[2022-06-16 11:00] arnav13081994 commented on #1297
@shamjam in the pre-release and all future versions you need to have `API` keys in the `DB`. The sync command should have outputted a warning on the console as well.

[2022-06-16 16:55] kavdev commented on #1721
@arnav13081994 I'd mostly agree, but there are some objective methods/utils we could create to replace them. A lot of the inconsistencies might be because we're not up to date with Stripe's latest subscription conventions.

It's important to have a quick way of determining whether or not a customer is paying, but with all the new plan structures, these methods should be more specific to a product/

[2022-06-17 04:48] arnav13081994 commented on #1721
@kavdev Fair enough I will look at the Subscription Lifecycle and report back.

[2022-06-17 06:55] ritwickdsouza opened #1723 "unhandled exception with price using tiered model"
**Describe the bug**
A Price with a tiered model, with one tier having a unit price of 0 causes an unhandled exception.

https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/core.py#L2306

**To Reproduce**
1. Create a price with multiple tiers, of of the tier should have a unit price of 0 ![image](https://user-images.githubusercontent.com/9320326/174241055-847914c6-9d27-4e8b-9bba-d61

[2022-06-17 07:18] arnav13081994 commented on #1723
@ritwickdsouza I am unable to reproduce this. It seems to have been fixed in `master`.

Are you able to reproduce this with `master`?

[2022-06-19 12:09] arnav13081994 commented on #1721
@kavdev @jleclanche

I looked at the docs and the picture is complicated.

To truly figure out if a `Subscription` is `Valid` or `Invalid`, one needs to consider the `Latest Invoice` generated by the `Subscription` as well as the `Payment Intent` associated with the aforementioned `Latest Invoice`. For new `Subscriptions`, `Latest Invoice`  assumes the role of the first invoice. And for continuing

[2022-06-20 17:46] eliezerp3 commented on #1722
@arnav13081994  Is this fixed by any chance?

[2022-06-20 19:42] VahanDrnoyan commented on #1718
Thank you for answer. Could you estimate, when this version will be out?

[2022-06-21 01:58] michael-yin commented on #1721
@arnav13081994

Now models in `dj-stripe` have some custom method, for example `Subscription.valid_subscriptions`

Some methods are very useful and help newbie developers quickly get things done.

And I believe it make sense to keep them in this project.

But I also notice some little issues:

1. The helper methods are not easy to find if people do not check the source code
2. The helper methods a

[2022-06-21 06:09] arnav13081994 commented on #1722
@eliezerp3 I just raised a PR for this issue: https://github.com/dj-stripe/dj-stripe/pull/1728

[2022-06-21 08:10] arnav13081994 commented on #1722
@eliezerp3 Till that PR gets merged you can add the following line to any `admin` module in your project to fix this issue.

[code]

Once the PR gets merged, you could remove it.

[2022-06-21 08:26] skonikevrone opened #1729 "How do I trigger webhooks within pytest/unittest test cases?"
Hey there.

I'm writing some test cases for my backend and would like to trigger webhook without stripe host  validation, etc. How can I do  that? Any examples?

[2022-06-21 10:17] arnav13081994 commented on #1729
@skonikevrone Please refer to the official docs [here](https://stripe.com/docs/stripe-cli)

[2022-06-21 10:17] #1729 closed, assigned to nobody

[2022-06-21 11:23] skonikevrone commented on #1729
The question isn't related to triggering  from the side of the stripe. I want to trigger it within pytest test case.

Anyway, I ended up redefining `ProcessWebhookView` without validation and applying decorator `@override_settings(ROOT_URLCONF='tests.membership.urls')`. Called the webhook endpoint via `APIClient`  and it seems to be working.

Wanted to make sure that I don't miss more convenient w

[2022-06-21 12:07] jleclanche commented on #1729
@skonikevrone you can set `DJSTRIPE_WEBHOOK_VALIDATION` to `None` in your tests if you want to skip validation, does that help?

[2022-06-21 12:32] arnav13081994 commented on #1729
@skonikevrone Ah ok. My bad. You can look at the function [_send_event()](https://github.com/dj-stripe/dj-stripe/blob/master/tests/test_webhooks.py#L41) and [this test](https://github.com/dj-stripe/dj-stripe/blob/master/tests/test_webhooks.py#L49) as an example for triggering `webhooks` with validation. For without validation, you can use [this test](https://github.com/dj-stripe/dj-stripe/blob/mas

[2022-06-21 12:34] arnav13081994 commented on #1721
@michael-yin Plan is not to remove any helper method as of now. I will definitely update the docs to make them easier to find.

[2022-06-21 14:01] skonikevrone commented on #1729
Thank you all.

I had some issues with `@override_settings(DJSTRIPE_WEBHOOK_VALIDATION=None)`,  but upgrading to the latest version solved my issue. This seems to be the easiest way. Patching `WebhookEventTrigger` is also very useful for understanding

[2022-06-22 16:39] eliezerp3 commented on #1722
@arnav13081994 Thanks. Sorry to bother you but one more question. I see that the order  models was just merged to master; does that mean server webhook’s will work for it or are you still waiting for stripe to implement local cli webhooks?

[2022-06-22 17:20] arnav13081994 commented on #1722
`Webhooks` will not work in the sense that the data will not sync automatically. There wouldn't be any errors though. They were added [here](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/signals.py#L114) so you can always implement them in your code as mentioned in the docs. My plan is to add them as soon as they get a bit easier to test. I am currently not aware of any straightforwa

[2022-06-22 18:02] eliezerp3 commented on #1722
@arnav13081994 The easiest way to test them is to use a tool like localtunnel (https://theboroer.github.io/localtunnel-www/) which gives you a temporary access to any local port to the web with one command (and then add that address to the test stripe webhook). I find it way easier to use then stripe cli anyway.

Just to be clear; manual syncing using Order.sync_from_stripe_data(order_data) will w

[2022-06-22 20:09] eliezerp3 commented on #1722
@arnav13081994 Also, just to let you know; just tried new master branch and clicking the Order model in the admin page (or even just running "Order.objects.all()" in the shell) is showing the below error message.

ProgrammingError at /api/admin/djstripe/order/
relation "djstripe_order" does not exist
LINE 1: SELECT COUNT(*) AS "__count" FROM "djstripe_order"

[2022-06-22 21:49] jleclanche commented on #1722
@eliezerp3 you will need to run the migrations, but they've been squashed so youll need to roll them back first or start from a fresh db.

When we release the beta version there will be a small upgrade guide.

[2022-06-23 02:17] eliezerp3 commented on #1722
@jleclanche Thanks. Just deleted and re-created as it was dev database anyway. Any chance production release of v2.7 will be by end of next week?

[2022-06-23 10:43] jleclanche commented on #1722
I'm aiming for a beta release next week. Production will follow in the weeks after.

[2022-06-23 15:22] arnav13081994 commented on #1722
@eliezerp3 Are you able to get the Test webhook events using `localtunnel` or `ngrok` without having the local stripe server running?

[2022-06-23 17:05] eliezerp3 commented on #1722
@arnav13081994 Yes. Just add the public url ngrok gives u with path to webhook, **don't** check the "Listen to events on connected accounts", change server to use that webhook secret. Local tunnel seems too be [down at the moment](https://github.com/localtunnel/localtunnel/issues/501) but I confirmed ngrok does work.

[2022-06-24 03:04] arnav13081994 commented on #1722
@eliezerp3 I must be doing something wrong because I literally had the same setup and wasn't able to get any webhook event on my localhost. It's the same setup I use whenever I work with any app webhook.

I'll try again and let you know.

[2022-06-24 04:02] eliezerp3 commented on #1722
@arnav13081994 Weird. All I can say is make sure your using the test webhooks, check to listen to all events and you leave the “Listen to events on connected accounts” checkbox unchecked.

[2022-06-24 05:42] arnav13081994 commented on #1722
@eliezerp3 I just unchecked the “Listen to events on connected accounts”  checkbox and now magically my localhost is receiving all the events! Is this a bug or a feature?

[2022-06-24 05:43] eliezerp3 commented on #1722
@arnav13081994 I had the same experience and the same question lol. If you find out let me know.

[2022-06-24 06:57] shamjam commented on #1297
Thank you @arnav13081994, that works great for us now. However, we do not see any warning on the console that prompts us to do this.

[2022-06-24 07:28] arnav13081994 commented on #1722
@eliezerp3 Turns out the mistake I was making was not including the `stripe_account` header in my `API calls`. I followed the exact same setup to create another test webhook except that this time I checked the “Listen to events on connected accounts” checkbox and then created an `Order` on a `Connected Account` and it hit my `ngrok url`. So I think for `Connect` webhooks the `stripe_account` heade

[2022-06-24 07:29] arnav13081994 commented on #1297
@shamjam Just to confirm, you are on the latest pre-release and you never saw any warning when running the `djstripe_sync_models` management command when there were no `APIkeys` in your DB?

[2022-06-24 11:01] shamjam commented on #1297
Yes, that's correct.

[2022-06-24 13:23] arnav13081994 commented on #1297
@shamjam That certainly doesn't happen in my case. What do you see on the console?

[2022-06-24 13:49] arnav13081994 commented on #1663
Closed by #1691

[2022-06-24 13:49] #1663 closed, assigned to arnav13081994

[2022-06-24 13:51] arnav13081994 commented on #1326
Closed by #1532

[2022-06-24 13:51] #1326 closed, assigned to nobody

[2022-06-24 15:06] eliezerp3 commented on #1722
@arnav13081994 Interesting. Guess the easiest way to do it is just to have 2 webhooks pointing to the same stripe webhook endpoint; one with the box checked and one without. Weird they wouldn’t give an option to default it to primary account though.

[2022-06-25 02:09] shamjam commented on #1297
After we execute `python manage.py djstripe_sync_models`, we see nothing at all. This happened with all 3 devs on our team.

[2022-06-26 05:22] arnav13081994 commented on #1297
@shamjam Sorry if I'm asking for this information again but can you answer the following questions? I am unable to replicate your issue.

If I don't have any `APIKeys` in my local DB, I see this, in red, on the console:

[code]

Please be as specific as possible because if this is a bug then it most likely is a corner case or perhaps some issue in how `dj-stripe` was setup in your codebase.

Quest

[2022-06-27 23:38] kavdev commented on #1721
@arnav13081994 yeah that sounds super complicated. You'd think stripe would expose something easier to deal with in the api.

[2022-06-28 11:04] jleclanche commented on #1721
I'm a strong +1 on keeping these helper methods around.

[2022-07-02 13:43] jleclanche commented on #1649
dj-stripe 2.6.2 has been released, containing this fix.

[2022-07-02 13:43] #1649 closed, assigned to nobody

[2022-07-02 13:54] #1723 closed, assigned to arnav13081994

[2022-07-02 14:00] jleclanche opened #1737 "Write 2.7.0 changelog"
@arnav13081994 we need to start work on a 2.7.0 changelog. 2.7.0b1 is released now, we can start from there.

Including current changelog text below, we can work on it collaboratively.

But there is no need to make it so repetitive; the high level points are most important, if people want a commit-by-commit breakdown they can look at the git history. Aggregate all the related changes into single l

[2022-07-02 14:00] jleclanche commented on #1737
Most important to gather:
- deprecated features
- removed features
- breaking changes
- explanations behind behavioural changes

[2022-07-03 03:57] eliezerp3 commented on #1722
@arnav13081994 Can I just confirm that with the 2.7 beta release, all of the order events will auto sync with the local order model. And also do I still need to make 2 webhooks (one with connected account checkbox checked and one without) in production (and when using ngrok)?

[2022-07-03 04:00] arnav13081994 commented on #1722
@eliezerp3 They should get synced automatically. I don't know about needing to create multiple webhooks in production as stripes behaviour may be different. You'd need to test that.

[2022-07-03 19:13] eliezerp3 commented on #1722
@arnav13081994 Thank you for the beta and all your help and looking forward for the 2.7 full release

[2022-07-03 19:57] eliezerp3 commented on #1722
@arnav13081994 Just to let you know; I just downloaded beta and after running make migrations I'm getting
[code]
Seems all migrations haven't been made.

Also, stripe models are still not in the admin panel (without manually adding them)

And lastly, let me know if you would rather I post beta issues on this thread or make new issues lol (or neither and wait for a more official release)

[2022-07-03 20:20] onekiloparsec commented on #1720
I am using `dj-stripe` in the backend of my project (https://api.arcsecond.io - back / https://www.arcsecond.io - front). Nothing really fancy, all monthly / yearly subscriptions (some with a metered usage).

But `dj-stripe` helps me manage the thing from the Django admin, and with an eye on the Stripe dashboard.

[2022-07-04 05:21] arnav13081994 commented on #1722
@eliezerp3 please create new issues.

@jleclanche This migration would need to be added to the next release.

[2022-07-06 20:17] mishaplotkine opened #1743 "Selecting Key in Multiple Key environment"
If multiple keys are stored (key 1, key 2), how is it possible to tell djstrip to use key 1 or key 2 in specific situations.
Usecase example, 2 jurisdictions. User is in zone for key1, backend knows this, and wants to create a paymentintent -> how to force key1 to be used in this case?

[2022-07-06 20:21] arnav13081994 commented on #1743
@mishaplotkine Are you calling any specific `dj-stripe` method? You can pass in the `api_key` in most `dj-stripe` methods to achieve that.

[2022-07-07 19:50] eliezerp3 opened #1744 "Expand Order Discount In Webhook Sync"
Hi. When the Djstripe Order model auto syncs with the webhook, it just contains the list of discount id's. There is a way to expand the discount field so shows each discount as its own object (which seems to already be implemented with line items as those return the whole objects correctly) by adding
[code]
to the request when retrieving an order. Is this something that can be added on your end or

[2022-07-08 05:16] arnav13081994 commented on #1744
@eliezerp3 That would need to be done at the `dj-stripe` level. Please note that we don't yet have a `discount` model implemented.

[2022-07-08 07:32] eliezerp3 commented on #1744
@arnav13081994 But until we get a discount model, it can just be stored as a json object. This already works if webhooks are disabled and the order is retrieved with expand=[‘line_items’, ‘discounts’] and manually synced the response using Order.sync_from_stripe_data(res). Is there a way to get this to work with automatic order webhooks syncing?

Unless you still plan on adding in a discount model

[2022-07-09 02:20] gschurck opened #1745 "Failure when attempting to upgrade from dj-stripe 2.6.1 to 2.6.2"
**Software versions**
- Upgrading from dj-stripe version:  2.6.1
- Upgrading to dj-stripe version:  2.6.2
- Python version: 3.9
- Django version: 4.0.6
- Stripe API version: Last
- Database type and version: PostgreSQL 13.7
- Failing migration id: 0011_alter_invoiceitem_tax_rates_and_more

**Can you reproduce the issue with the latest version of master?**
Yes

**Describe the issue**
Upgraded djstr