[2019-01-21 21:42] jleclanche commented on #356
I'm trying to keep an eye on it all but super busy at the moment. You can always ping me by email or on discord if Im urgently needed but @therefromhere has a handle on it all I believe so far.

[2019-01-21 22:51] therefromhere opened #801 "Test coverage of Source"
As part of #788 I realised we don't have test coverage of the Source model.  It would be good to have some simple tests (similar to those in `test_card`) to be applied to master before #788 lands to catch regressions.

[2019-01-22 00:46] blackboxoperations commented on #356
Yep, he sure does. I'll just pass whatever I have, whenever I have it, over to him. Trying not to contribute to the inevitable PR merge nightmare this thing is becoming slowly and surely. But you're right, @therefromhere's got a stranglehold on this thing - I'll just follow his lead, thank you sir.

[2019-01-22 22:52] thejerwang opened #803 "PaymentIntent"
Hi John,

Thank you for the nice package. A quick question, will this package support PaymentIntent or 3D Secure Card Payments?

Please accept my apology if this is already the case.

Regards,
Jeremy

[2019-01-22 22:53] jleclanche commented on #803
Definitely the plan, but not supported right now.

[2019-01-22 23:27] thejerwang commented on #803
@jleclanche thanks for the prompt response. Look forward to it.

[2019-01-23 00:48] therefromhere commented on #801
resolved by #802

[2019-01-23 00:48] #801 closed, assigned to therefromhere

[2019-02-01 14:35] dantium commented on #745
Seems the customer currency can't be changed in Stripe after it is set.

[2019-02-01 14:35] #745 closed, assigned to nobody

[2019-02-01 20:24] steverecio opened #809 "Plan Trial Ignored by Default"
https://github.com/dj-stripe/dj-stripe/blob/c325c3985d6cc899c9ac4c8d0ea79124cab34c4e/djstripe/models/core.py#L512

If you have a Plan with a trial period attached and you call `customer.subscribe(plan_id)` the default behavior is to charge the customer immediately, ignoring the plan settings. This is confusing and undesirable.

Default behavior should subscribe the customer according to the Plan s

[2019-02-01 21:25] steverecio commented on #809
For anyone wondering, this is how I was able to subscribe with a trial:

[code]

[2019-02-03 23:53] PabloCastellano opened #814 "Cannot specify billing_cycle_anchor attribute for a Subscription"
According to the documentation the ` billing_cycle_anchor ` attribute can be used when creating and updating a subscription.

This is particularly useful for the use case of [Combining trials with billing cycle anchor](https://stripe.com/docs/billing/subscriptions/trials#combine-trial-anchor).

As I understand, djstripe supports this option:

https://github.com/dj-stripe/dj-stripe/blob/master/djst

[2019-02-04 00:35] PabloCastellano commented on #814
I've got it working in my branch.

[code]

I've submitted two PRs, for master and stable-1.2

[2019-02-04 02:24] therefromhere commented on #795
Related: #814

[2019-02-04 02:24] therefromhere commented on #814
Thanks, that looks reasonable, I'll take a closer look later.

[2019-02-04 03:31] blackboxoperations commented on #814
Be sure to note two things when leaning on the anchor like this:

1. It isn't odd anymore for everyone to have their own distinct subscription start date/time, as opposed to forcing everyone into a first/middle/last of the month start/stop date and pro-rate yourself into an early code grace unnecessarily

2. The billing_cycle_anchor is primarily about helping those who need to round off a cycle an

[2019-02-04 06:28] keeth commented on #599
I worked around this problem in my fork as follows:

in event_handlers.py:

[code]

[2019-02-04 06:48] #681 closed, assigned to therefromhere

[2019-02-04 06:50] #714 closed, assigned to therefromhere

[2019-02-04 07:22] #781 closed, assigned to nobody

[2019-02-04 07:32] #814 closed, assigned to nobody

[2019-02-04 22:21] williamflynt opened #817 "Webhooks sent with created Source objects from Stripe Elements do not appear to sync to Customer"
**Context**: We are trying to implement Stripe Elements on the frontend, which creates `Source` objects within Stripe. Those objects are passed back to `djstripe` via webhooks.

**Problem**: From what I can see, the `Source` [event handler](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/event_handlers.py) only updates the `Card` model, and only if `object == "card"`. Here is the most

[2019-02-04 22:26] williamflynt opened #818 "Manual Customer sync results in IntegrityError for not-null constraint"
**Context**: I am trying to manually sync a single `Customer` to retrieve sources that have been created on the Stripe servers but not on mine (see [this issue](https://github.com/dj-stripe/dj-stripe/issues/817) ).

**Issue**: When I call for the sync like `customer.sync_from_stripe_data( {"id": customer.id, "type": "customer"} )` I get this error:
[code]

**Solution**: Without further understandi

[2019-02-04 22:40] therefromhere commented on #818
Hi @williamflynt which version of dj-stripe is this with?

Note that I merged #788 to master yesterday so that changes the sync functionality a bit.

[2019-02-04 23:31] williamflynt commented on #818
This is installed from `master` (`git+...`) this morning at noon EST.

[2019-02-04 23:35] jleclanche commented on #817
Not sure what you're saying but that doesn't sound right. We do have a special hook for sources:

https://github.com/dj-stripe/dj-stripe/blob/922dff8a43d2e49bf3b4b4ab20ce946346bd6f49/djstripe/event_handlers.py#L75-L94

[2019-02-04 23:40] williamflynt commented on #817
I saw that! I actually reference it in my issue here — and I may be wrong.

See the sample webhook? That what was sent to my server today at 1EST as I test this release.

In that event handler there are two reference to object, where the second reference is `source_type` - is this doesn’t evaluate to “card” (based on the `enum` there) then we do nothing with it.

There’s a clear TODO there as well

[2019-02-04 23:42] jleclanche commented on #817
There's no check on object==card. It's a check on the source type, which in the payload you pasted, is indeed `card`.

[2019-02-05 00:03] williamflynt commented on #817
I see. I am clearly missing something. Maybe I am just tired but here it looks like the object would evaluate to a string of `source`?

I added a source today from Stripe. The webhook endpoint returned a 200. No `Source` was added.

[2019-02-05 00:13] williamflynt commented on #817
Ah - perhaps I am missing that the `event` parameter is the model object, not the webhook content.

[2019-02-05 00:32] jleclanche commented on #817
Yes. You're confusing two things: The object type, and the source type. The object is the top level type of the object that is sent by the webhook, in this case it's a Source object. Sources have multiple types, such as `card`, `three_d_secure`, `bancontact` etc.

[2019-02-05 00:58] williamflynt commented on #817
So let me see if I understand:
[code]
In this case, `event.data` is the `data` part of the webhook JSON. So `customer_data` is:
[code]
And then we get `source_type` like `source_type = customer_data.get("object", {}) `. So that looks like the string `"source"` in this webhook from today. Please tell me I'm not losing it. I might be losing it.

[2019-02-05 01:05] jleclanche commented on #817
Hm, I think you're right, but that seems weird because I'm pretty sure this webhook worked for me when I wrote this code.

[2019-02-05 10:00] blackboxoperations commented on #817
Verified this on my end. When you manage the customer's payment sources from dj-stripe, no problem. When you update or attempt to add a payment source to a customer within the Stripe dashboard, it fires off a request to the webhook to notify us of the customer.source.updated event that just occurred. dj-stripe then throws a 400, bad request.

[2019-02-05 11:26] blackboxoperations commented on #817
@williamflynt - check your signing secret - the signing secret string is different for every webhook created on Stripe's back-end, chances are it's simply that. Hope it is.

[2019-02-05 16:42] williamflynt commented on #817
I’ll check it - thanks! I only have the one main signing secret for the API.

How does that change the object, again?

[2019-02-09 05:59] therefromhere opened #821 "Django 3.0 Compatability"
Tests are failing vs Django master due to django.utils.six (etc) having being removed, which is currently breaking some of our dependencies - django jsonfield and django rest framework.

I've added issues on the affected projects:

- [ ] https://github.com/dmkoch/django-jsonfield/issues/225
- [x] https://github.com/encode/django-rest-framework/issues/6449

[2019-02-11 20:31] therefromhere commented on #821
My mistake - Django master is for Django 3.0 now - we should test vs Django 2.2 stable though.

[2019-02-12 22:59] therefromhere opened #823 "Account sync failing if business_logo is none-null (FileUpload sync failing?)"
I think it's first failing to sync the FileUpload for the business_logo, and then hitting a second exception the logo isn't found.

This manifested as errors in eg `charge.succeeded` webhook, with this stack trace:

[code]

Workaround was to remove the account logo via the dashboard and run to do initial sync of the account:

[code]

or

[code]

to force resync of the account, and then re-instate

[2019-02-15 10:26] tasn opened #828 "payout.created/paid events cause an exception"
I know what's the cause, but unfortunately I'm not sure about the correct solution, here's a detailed description below:

Version:
Tried 5ff153465e15ee2d5fcd30d5514fd2534bfbee39 which is fairly recent, but should be the same for master.

Issue:
payout.created, payout.paid and probably other payout.* events aren't processed correctly and cause an exception to be raised.
The reason is that the objec

[2019-02-15 22:39] therefromhere commented on #828
I'm assuming this was resolved by #819.

[2019-02-16 00:37] williamflynt commented on #823
Unsure why, but workaround didn't work for one of my backend devs on a small project (2nd hand info). Can confirm the issue exists, though!.

[2019-02-16 04:52] therefromhere commented on #823
Should be resolved by #825

[2019-02-16 04:52] #823 closed, assigned to nobody

[2019-02-16 04:54] therefromhere commented on #795
Also #822

[2019-02-16 05:11] #667 closed, assigned to nobody

[2019-02-16 09:56] tasn commented on #828
Nope it was not. Read the report, the problem is in the model, not the event. The event is just what's triggering it. Please reopen.

I also wrote the solution here, it's trivial to implement if that's the correct way of doing it.

[2019-02-16 19:46] therefromhere commented on #828
Sorry about that. I'm not touched Payouts and Transfers, but that sounds like a reasonable solution.

[2019-02-16 23:55] therefromhere commented on #828
I've had a look in my staging environment webhookeventtrigger logs and I'm seeing "payout.created"/"payout.paid" events, which both have object type "payout" (id "po_..." - not "transfer" like you're seeing, which is interesting.

The webhooks are marked as processed, however I don't have any payouts in the DB, so I may be hitting a bug further down the line.

[2019-02-17 00:52] therefromhere opened #829 "BankAccount not syncing"
BankAccount doesn't have a stripe_class defined, so `BankAccount.api_retrieve` fails with `'NoneType' object has no attribute 'retrieve'`.

However the fix isn't not quite as simple as setting `BankAccount.stripe_class = stripe.BankAccount` as per other models, because `stripe.BankAccount.retrieve()` is:

[code]

So needs some special casing.

Relates to #828 - this is causing `Payout.sync_from_st

[2019-02-17 07:13] williamflynt commented on #823
Consider re-opening this PR? I am running into issues with tests during test mode. It appears as if the logo files are only valid in live mode:

**Error**:
[code]

**Full Traceback**:
[code]

[2019-02-17 08:15] therefromhere commented on #823
Yeah I noticed that issue when investigating this the first time round - I think it's a stripe issue?

It's kind of weird, seems that test mode uses the same stripe account id as live mode but doesn't have access to the logo file - seems like a bug on their side unless we're doing something dumb?

Worth tracking as an issue but probably should be a different ticket.

[2019-02-17 08:26] therefromhere opened #830 "Account logo sync failing on test mode due to logo with error "a similar object exists in live mode, but a test mode key was used to make this request.""
Account sync fails vs test mode because we get the same Account data back from Stripe for test/live, but the logo file isn't readable with the test API keys.

Hits this error:

[code]

Related to #823 , reported by @williamflynt in https://github.com/dj-stripe/dj-stripe/issues/823#issuecomment-464424384

[2019-02-17 08:26] therefromhere commented on #830
Related - I noticed that account updates are sent to the live webhook only, whereas you could argue they should be sent to both live and test webhook.

I guess a workaround would be to configure a live webhook to send account events to the test environment but we don't yet support multiple webhook.

[2019-02-17 08:35] therefromhere commented on #830
Probably worth producing a small reproducible test that doesn't use dj-stripe and reporting to Stripe.

[2019-02-17 12:42] tasn commented on #828
I just checked and my Stripe API version is 2018-05-21, is yours the same? Maybe behaviour has changed?

If the object type is payout for you, then it's just not being processed at all, so you're not hitting the bug. There's a check to only process certain object types, and this is not one of them.

[2019-02-17 18:28] therefromhere commented on #828
Yeah, I'm on 2018-11-08 (and will be testing upgrade to latest today), it could be a version issue.

Are you paying out to a card or a bank account?  It's a bank account in my case (hence hitting #829).

[2019-02-17 19:24] blackboxoperations commented on #817
When you create a webhook, a new hash is generated for both the live instance and testing bed. It changes only when you explicitly decide and select to reset it yourself, and is different for _every_ webhook.

This one bit me in the ass before, because you don't realize it when you do something like "ah shit forgot that slash at the end, I'll just kill this webhook and start over..."

When you do

[2019-02-17 19:25] blackboxoperations commented on #817
also note, it's the same hash for any given webhook - no need to juggle two hashes - same hash for live, same hash for testing, per webhook.

Unless, of course, Stripe did what Stripe seems to be doing a lot these days, and as I type this, a new API version has been released, because screw you, that's why.

Just check the docs, not hard to find, you'll see for yourself easily and quickly enough.

[2019-02-17 19:27] blackboxoperations commented on #795
#822 is going to be critical for a lot of folks. In the real world, double charging means losing customers a lot of the time. They'll go from loving us, to hunting us, unless safeguards such as these are put into place.

[2019-02-17 19:27] blackboxoperations commented on #795
And @therefromhere - you remembering to sleep and eat buddy? Take care of yourself sir.

[2019-02-17 21:01] williamflynt commented on #817
Right, so to address this issue for anyone reading:

I could not have gotten to this point without the right signing key because the check for test webhooks (`evt_000000...`) is no longer functional.

Regardless, this would not change the object that I’m seeing in the webhook.

So I think this is actually a bug.

[2019-02-17 22:40] blackboxoperations commented on #817
Sure, very well could be, but Stripe won't remain silent, it'll respond, you'll get a payload back from them, it'll just be a fa-q (say it out loud) payload.

I'll shut up and reread the thread from the perspective of it being a bug, though, not trying to dismiss you or the issue here unwittingly, sorry if I came off that way.

[2019-02-17 23:00] williamflynt commented on #817
No worries on my end. :-) I tracked this payload from Stripe all the way though the code, line by line. I think, based on the code and the payload, the outcome of any webhooks like this is clear.

Of course it will be different for different API versions.

[2019-02-18 01:01] therefromhere commented on #817
So do we think this is the bug?

I've not tried verifying this myself - but do you really mean adding "When you update or attempt to add a payment source to a customer within the Stripe dashboard" - do you mean add a Source or add a Card?  Because I don't see adding source as an option in the dashboard, only adding a Card - unless I'm missing something?

(though I can see you could presumably hit

[2019-02-18 01:29] williamflynt commented on #817
I discovered this while debugging payments through Stripe Elements.
This is the way that Stripe is pushing add payment sources: put their
JS on your frontend to create a payment source with an easy, gorgeous
UI element. The `Card` model is deprecated. `Source` appears to be the
new hotness.

So the bug is this: if you create a payment source on your frontend
using the default Stripe method (Elemen

[2019-02-18 04:17] therefromhere commented on #817
OK yeah I can reproduce this or a similar issue - creating a Source using JS Elements causes a `source.chargeable` webhook event (with no Customer, since we've not attached the source to a customer yet), but this isn't ending up in the DB (though the webhook is marked as processed with no exception).

[code]

Aside:

It doesn't help that the Stripe elements quick start documentation is explaining

[2019-02-18 06:33] blackboxoperations commented on #830
life hack: use servicebot to grab live data, switch to test keys, push live data into testing bed, have testing bed reflect live environment without, well, all those fires.

I spent a lot of time working dj-stripe in while glancing at the servicebot code for inspiration/ideas/whatever, there's some higher-order good-stuff logic in there that would be useful here too.

Are we free and clear to star

[2019-02-18 11:00] tasn commented on #828
Bank account.
I just checked the API changelog, and the transfer/payout split happened in 2017, though there's no mention of the object type changing in the events. I suspect that what may be happening is that for some reason the webhooks are being sent in the old API version here and then I try fetching with the more recent API.
I can't unfortunately update to a more recent version, because djstr

[2019-02-18 11:09] jleclanche commented on #828
Webhooks are sent at the version set in your stripe dashboard settings regardless of the version you set in djstripe.

You should be able to upgrade to the latest if you're running master. If there's any issue you can still downgrade back for some time after that.

[2019-02-18 11:09] jleclanche commented on #828
@therefromhere I guess we're mostly ready for a new release?

[2019-02-18 11:21] tasn commented on #828
@jleclanche, I know, and I've done just that. Though running master in production and upgrading the stripe version willy-nilly is not fun. :)

I'm talking to the Stripe people at the moment, it's definitely not a dj-stripe issue.

[2019-02-18 11:42] jleclanche commented on #828
Yep, I generally wouldn't recommend running master but I think we're good for release, so if this is pressing for you I think you're safe.

[2019-02-18 11:46] tasn commented on #828
I am already running master, and have been for a few weeks now, and it does seem fine. I just updated to latest master. I hope that one is fine too. :)

Anyhow, I'm closing this one. Thanks a lot, and sorry for the noise. The issue is real, but I don't think it's worth adding a workaround here.
For posterity: I haven't tested it, but I assume using the "fetch events" rather than the "use signature

[2019-02-18 11:46] #828 closed, assigned to nobody

[2019-02-18 11:55] tasn commented on #828
Actually, I just tried updating to latest from 2018-05-21 and I'm getting server errors. For some reason though, signal handlers don't trigger backtraces in django, so I can't tell you what exactly caused it, but I got 3 errors out of these 5 signals that were sent at the same time:
invoice.finalized
invoice.updated
invoice.payment_failed
customer.updated
customer.subscription.updated

So I assume

[2019-02-18 12:04] tasn commented on #828
Update: just got another one for invoice.created, so it's definitely that.

[2019-02-18 13:28] blackboxoperations commented on #830
@therefromhere: save some sanity, here's what's breaking with the master build re: instantiating an account when syncing up with Stripe.

Within Stripe dashboard -> Business Settings -> Branding, 'icon' is the file/image the code's looking for, not 'logo'.

For those who set an icon image, no problems will be had. For those who don't or only set a logo image, well then how dare you, hurk die.

tl;

[2019-02-18 14:51] williamflynt commented on #830
Good find!

[2019-02-18 17:59] therefromhere commented on #828
@jleclanche yes I'd like to get a release out.  Also one for 1.2 stable since there are a few unreleased commits there.

@tasn thanks for the feedback, please let us know if you get any more detail on the errors.

[2019-02-18 18:11] tasn commented on #828
It was happening in production, and unfortunately I don't get backtraces for errors in the djstripe signal handlers for some reason. Side question: any idea why? Works fine on my own code.
Though I'm happy to send you a slightly censored dump of the events I got if it helps. Though it seems to be consistent with anything handling "invoice.*" events. Do you not see it? I'm using the latest API vers

[2019-02-18 18:33] therefromhere commented on #828
I'm not seeing the invoice.* issue, no - I'm definitely getting Invoices in djstripe from webhooks.

On the second issue, yes I've seen that, probably is worth opening a ticket, yes.

[2019-02-18 20:52] tasn commented on #828
You said you're on  2018-11-08 though, have you tried latest already?
What about the no backtrace on signal handlers issue, do you see that one too?

Will open a ticket now for the other things.

P.S, my logging config:

[code]

Edit: Actually, an update, looking at the code it's obvious why it's not showing a backtrace. Djstripe is explicitly returning a 500 rather than raising the exception agai

[2019-02-18 20:55] tasn opened #832 "Webhooks are not properly retried on errors"
Webhooks are not properly retried on errors, and to make matter works, they actually cause stripe to think they've been successful preventing any future retries or ability to track failures.
The way it works (iirc, haven't looked at the internals in a few days) is that upon getting a webhook an event is created, and then the hooks are called on the event. Then on the second retry of the hook, the

[2019-02-18 21:14] tasn commented on #828
Another update: I managed to get a backtrace (easy, just ran the code manually from the shell):

The above exception was the direct cause of the following exception:

[code]

Event:

[code]

Not sure why it's trying to set it to null, but it is.

Edit: I originally wrote the below, but actually, I think it's just embedded in the status now, so never mind the following comment.
Also, I thought they

[2019-02-18 21:21] therefromhere commented on #828
@tasn Thanks, to keep the conversation clear we probably should have separate tickets each of those:

* the invoice closed issue
* re-raising the exception

Can you open them?  ("reference in new issue" from the menu in top-right of comment)

[2019-02-19 07:35] therefromhere commented on #793
Closing this for now

[2019-02-19 07:35] #793 closed, assigned to nobody

[2019-02-19 07:53] therefromhere commented on #828
@tasn on Invoice.closed is nullable since #812 (2b27fd9f848871337c9b74f46b7358e463bcf88a) - you mentioned upthread you're on 5ff153465e15ee2d5fcd30d5514fd2534bfbee39 which is earlier than that, so if you upgrade (you'll need to manually migrate the migration diff) you should be good?

[2019-02-19 09:21] tasn commented on #828
Sorry, I wasn't clear, when I tested it, I already updated to 18242148e4c4cc59163dbdd4bcc8266bd5597a5c. I obviously also ran the migration...

Will open two tickets, let's continue the discussions there.

[2019-02-19 09:27] tasn opened #833 "Djstripe is suppressing backtraces that would otherwise be shown by the logging framework"
Example logging config:

[code]

Normally it would print an error and a backtrace, but it can't because djstripe is explicitly returning a 500 rather than raising the exception again!

I initially suggested that return line in https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/views.py#L39 should be replaced with `raise trigger.exception`. Though I now realised that it's actually just a s

[2019-02-19 09:36] tasn opened #834 "Djstripe crashes with invoice.* events and API version 2019-02-11"
Hey,

This report is split out of #828. After upgrading the stripe api version to 2019-02-11 and djstripe to 18242148e4c4cc59163dbdd4bcc8266bd5597a5c (currently latest) I started getting exceptions every time an invoice.* event was received. After some investigation (was hard to get because of #833) I got the backtrace below:

[code]

Event:

[code]

Not sure why it's trying to set it to null, but

[2019-02-19 13:00] tasn commented on #834
As you can see from my previous comment, the migration has been applied, though looking at the postgres database schema you can see it's still not null:
`closed                      | boolean                  |           | not null |                                                       | plain    | `
I also checked it locally, and I get the same result with sqlite!

Here's the output from that (I

[2019-02-19 13:06] tasn commented on #834
Looking at #812 again, the problem is obvious. You changed an existing migration manually, and since that migration has already been applied here (because I was using master), it didn't get applied again with the minor modifications. Why did you edit the existing migration and not create a new one?

I also can't undo this migration because it seems like it relieved some constraints (getting: djang

[2019-02-19 18:33] therefromhere commented on #834
Hi, I'm sorry you've hit that issue, we edit the migration rather than adding new ones since 0003 hasn't been released (it was added on master and package version 2.0 isn't published yet).

This keeps down the number of migrations , but the down side is that if you're running Vs master version you'll need to apply those database changes manually.

One solution that might work for you would be to c

[2019-02-19 18:38] therefromhere commented on #833
Alternatively would adding `logger.exception()` at https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/webhooks.py#L101 do the job?

[2019-02-19 19:19] tasn commented on #833
No idea... Haven't looked at that subsystem since I created the above
config. It's easy to check though, just try the above config and see if it
triggers an email with a backtrace? Maybe you don't even need the config,
but just try the debug server and check the output?

Sorry, writing from my phone. Really no idea. :/

On Tue, 19 Feb 2019, 18:38 John Carter <notifications@github.com wrote:

[2019-02-19 20:30] tasn commented on #834
I guess this ticket can be closed then (closing it).

If you don't mind me asking, why do you care about reducing the number of migrations? And if you do, why don't you use the standard way of doing that, which is squashmigrations? As in, make as many migrations as needed during development, and then use squashmigrations to merge them for releases. This would work just fine in my case and will sol

[2019-02-19 20:30] #834 closed, assigned to nobody

[2019-02-19 21:15] tasn commented on #833
I took a look here: https://docs.djangoproject.com/en/2.1/topics/logging/
and it looks like logger.exception() will do the trick.

[2019-02-20 00:46] jleclanche commented on #834
Migrations are a maintenance burden. They're code paths which have to be maintained and tested. Limiting the number of migrations between two releases to just a single one if possible allows us to iterate a lot on the models between releases without massively increasing the scope of maintenance for future ones.

Squashmigrations doesn't solve the issue of increased code branches.

[2019-02-20 09:17] tasn commented on #834
I'm sorry, but I just don't get it. I'd love to know what I'm missing in case I'm missing something. The migration itself, especially in this case was just copy-pasted from one file to another. That doesn't solve anything with reducing complexity or maintenance burden... There's no difference in code branches. Furthermore, migrations are a well tested part of django, you can just trust them to wor

[2019-02-20 09:39] blackboxoperations commented on #832
Adding to this, when Stripe has too many webhooks queued due to lack of response from the endpoint (it's sending, but no one's acknowledging/replying - could be site's down, could be shit's broken, who knows), other critical operations will be put on hold until the queue is flushed or the webhook is deleted/refreshed.

In other words, automated invoicing, charges, and so on - it all just stops, ev

[2019-02-20 11:26] jleclanche commented on #832
This doesn't sound right.  We explicitly return a non-200 HTTP error if the webhook handler crashes. We may catch the exception and not raise, but we still make Stripe think they have to retry and, last I checked, they do retry (up to 87 times or so, IIRC).

[2019-02-20 11:28] tasn commented on #832
Reread what I wrote. You return a non-200 error if the webhook handler crashes, and stripe gets that. All is well there. Though then stripe tries again, and because the event (or webhook?) object already exists (even though the handlers were not fully processed!), it just replies with a 200 and does nothing, as it thinks the event has already been processed.

[2019-02-20 11:32] jleclanche commented on #834
Squashmigrations do not remove other migrations, they have to live side by side, so the increased code branching is very much still there.

dj-stripe used to have a *lot* of migrations, and that was causing a *lot* of issues. It's fine when it's a couple of fields being added here and there, but for example fields being deleted/renamed can cause issues when they're being backreferenced by a future

[2019-02-20 11:33] jleclanche commented on #832
Right, that part is an issue, but I was addressing specifically @blackboxoperations's comment.

[2019-02-20 11:39] tasn commented on #834
I think you misunderstood squashmigrations, as they *do* remove other migrations if you use them correctly.
The correct way of doing it, if you want to reduce migrations (from what I understand), is to add as many migrations as you want during development, then one commit before you release a version, you run squashmigrations to squash all of the ones added since the last release, and then *delete

[2019-02-20 12:21] blackboxoperations commented on #832
It could retry a million times, it still wouldn't change the fact that there's a limit to the number of webhook requests Stripe will queue before freezing production operations.

[2019-02-20 12:33] blackboxoperations commented on #832
An example of what I'm talking about: if you use Stripe for more than just one website running on Django, using dj-stripe, and the site goes down, nothing is returned, webhook requests build up and keep trying, and a few hours later customers start calling because they can't buy something on a different website, or purchase something at the store where the POS is essentially just handing off to St

[2019-02-20 13:11] tasn commented on #832
@blackboxoperations, I appreciate your issue is frustrating, though it's really unrelated to this issue, and tbh, it's a stripe thing, not a djstripe thing. Moreover, it actually looks specific to your setup. Disabling webhooks from the stripe dashboard will momentarily fix it, though you should really put monitoring on your servers so failures can be handled with quickly.

Summary: please just co

[2019-02-20 13:28] blackboxoperations commented on #832
Oh, I'm fine on my end, and I agree it's a Stripe issue - I said as much. I was just trying to provide some insight as to why your issue becomes a larger and more nuanced issue as the business operations scale up.

But my apologies. Knock yourselves out, I'll leave you to it.

[2019-02-20 13:30] tasn commented on #832
Appreciated. I just think it was getting confusing and we were going a bit off topic. :)

[2019-02-24 14:21] tasn opened #835 "invoiceitem.created events cause an exception"
As the title says.

Due to #833 I can't tell you the actual exception I got, but I later manually tried to call invoke_webhook_handlers and I got the following backtrace:

[code]
Event I got from stripe:

[code]

I don't think it matters, but this invoice item in particular was created automatically due to proration.

[2019-02-24 20:11] therefromhere commented on #833
I don't disagree with logging these exceptions as discussed, but just checking - are you not able to see the saved exceptions in webhook admin?

[2019-02-24 20:22] tasn commented on #833
I do, which is a good point for the next time I need to report an issue (instead of rerunning the hooks manually), though being able to view them doesn't solve this issue. Djstripe is messing with how Django handles exceptions and is therefore breaking the logging system that can be used (as in my case) for email reporting, but I assume also for other integrations such as Sentry.

Why are you agai

[2019-02-24 20:22] therefromhere commented on #835
OK, so I think this is because ` _get_or_create_from_stripe_object` returned a `None` here:

https://github.com/dj-stripe/dj-stripe/blob/2fcbe9644c5166cfe41239cc04b4808dc3bf38d9/djstripe/models/base.py#L395

Because  `invoice = None`

Looks like a bug yeah, we should test that case.

[2019-02-24 20:23] tasn commented on #834
Have you considered my suggestion? Should I open a new ticket with it? Or are you set with the current method?

[2019-02-24 20:25] tasn commented on #835
I think having a null there means it's an invoiceitem for an invoice that is not yet created, which is quite common, and is essentially the case with every proration.

[2019-02-24 20:33] therefromhere commented on #833
I don't know why it was implemented this way - one advantage is that it keeps a record of the input data with the exception, which does make it a lot easier to debug in my experience.

But I think there's no harm in also logging it at the point it occurs.

[2019-02-24 20:36] tasn commented on #833
I have no problem with logging it to the model. That looks like a good idea and I'm all for it. What I'm saying is that in addition I think the event should be raised again to Django after it has been recorded so Django will just handle it however it sees fit.
Alternatively, if logger.exception() works correctly, that's also a solution, though I have no idea if it will.

[2019-02-24 21:33] jleclanche commented on #833
I rewrote the exception handling code at some point. Before I did so, it also was swallowing exceptions. I honestly don't remember why I didn't change that behaviour.

I'm +1 on re-raising.

[2019-02-24 21:37] jleclanche commented on #834
I guess I'm not against it, but keep in mind there are some manually-written migrations in there, so it's not possible to straight up squash everything automatically.

[2019-02-25 01:05] #835 closed, assigned to nobody

[2019-02-25 07:45] tasn commented on #834
I think django handles those just fine too, but even if not, having, if you squashmigartions at the end like I suggested, and then manually squash the few manual ones, that's still the same.

[2019-02-25 07:46] tasn commented on #833
Thanks a lot!

[2019-02-26 22:19] drothroc commented on #809
I received the same error trying to attach `trial_from_plan` keyword to `customer.subscribe` using the REST api version of subscribe. It is weird because the code shows that it has it as a keyword.

https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/core.py#L509

Error:
[code]

Code that was breaking:
[code]
Where trial_period is a Boolean from our env variables. I will try your me

[2019-02-27 00:38] therefromhere commented on #817
#831 resolves the issue I mentioned above - `source.chargeable` webhook event will now create a Source in the database.

@williamflynt OK to close this issue?

[2019-02-27 02:49] therefromhere opened #841 "Rename PaymentMethod class to avoid clash"
Stripe-python is about to add a PaymentMethod class (https://github.com/stripe/stripe-python/pull/537/ ), but we already have a model class with that name.  We should to get out of the way to avoid a conflict.

As discussed with @jleclanche the suggested plan is to rename our model to DjstripePaymentMethod or similar & add a deprecation warning.

[2019-02-27 23:59] therefromhere commented on #841
Resolved by #843

[2019-02-27 23:59] #841 closed, assigned to nobody

[2019-03-01 04:05] jleclanche commented on #716
Closing, these old versions are no longer supported.

[2019-03-01 04:05] #716 closed, assigned to nobody

[2019-03-01 04:10] therefromhere commented on #761
Closing - upgrade to 2.0.0 instead

[2019-03-01 04:10] #761 closed, assigned to nobody

[2019-03-01 04:10] therefromhere commented on #758
Closing - upgrade to 2.0.0 instead

[2019-03-01 04:10] #758 closed, assigned to nobody

[2019-03-04 02:09] PabloCastellano opened #847 "business_vat_id field is not used since 2018-08-23"
According to the [changes in version 2018-08-23](https://stripe.com/docs/upgrades#2018-08-23):

dj-stripe's Customer model still uses the field `business_vat_id`. Should we update it for coherency?

[2019-03-04 03:36] therefromhere commented on #847
Hi, yes, but I think this is the sort of change that would go along with updating the default stripe api version - see my comment on https://github.com/dj-stripe/dj-stripe/pull/845#issuecomment-469105369

[2019-03-04 03:41] PabloCastellano opened #848 "Dj-stripe crashes on invoiceitem.updated event"
An exception is raised when adding an invoice item to a Customer and invoicing 'now'.

Three webhook events are received: `invoiceitem.created`, `invoiceitem.updated` and `invoice.created`.

The second event is not handled properly as seen in the following screenshot:

![image](https://user-images.githubusercontent.com/73274/53709219-d331c380-3e15-11e9-8009-1b0418a14f20.png)

These are the details

[2019-03-04 03:57] therefromhere commented on #848
Thanks for the report, I can reproduce the same bug.

[2019-03-04 04:44] PabloCastellano commented on #847
Oh, I see.

I'm closing the issue. I got it wrong.

[2019-03-04 04:44] #847 closed, assigned to nobody

[2019-03-04 05:12] alexandre-paroissien opened #850 "Migration OperationalError after upgrading from 1.2.4 to 2.0.0 (cannot ALTER TABLE "djstripe_card")"
Hello, I upgraded the library from version 1.2.4 to 2.0.0 and when I ran the migration I got the following error:

django.db.utils.OperationalError: cannot ALTER TABLE "djstripe_card" because it has pending trigger events

Here is the name of the migration:
0003_auto_20181117_2328_squashed_0004_auto_20190227_2114

And here is the stack trace:

[code]

And this link might be useful:
https://stackov

[2019-03-04 13:09] jleclanche commented on #850
What is the postgres version?

[2019-03-04 15:53] alexandre-paroissien commented on #850
I had the bug with postgres 10.6 on ubuntu, and just had the same bug with postgres 11.1 on manjaro

edit: postgres 10.6 on ubuntu and not 10.5

[2019-03-05 03:11] PabloCastellano opened #851 "Due date should be null when billing=charge_automatically"
I was looking into the details of an Invoice created by a customer subscription when I noticed the following case.

![image](https://user-images.githubusercontent.com/73274/53778326-0e49fa80-3edb-11e9-9e36-f02892523eff.png)

The field due_date should be null according to its own `help_text`:

https://github.com/dj-stripe/dj-stripe/blob/4490fda09e5888da82499f1e17ecf883b00b36c6/djstripe/models/billi

[2019-03-05 03:13] PabloCastellano commented on #779
FYI: 2.0.0 is already out :tada:

[2019-03-05 03:25] PabloCastellano commented on #724
This issue was solved in https://github.com/dj-stripe/dj-stripe/pull/749 and can be closed now

[2019-03-05 05:04] #724 closed, assigned to nobody

[2019-03-05 08:33] #848 closed, assigned to nobody

[2019-03-06 15:55] PabloCastellano commented on #848
Thanks for fixing it so quickly @therefromhere! :tada:

[2019-03-06 16:03] PabloCastellano opened #852 "Subscription.start is updated when subscription is canceled"
When I cancel a subscription, Subscription.start is also updated to the date when the subscription was canceled. I haven't investigated deeper but this behaviour looks wrong. According to the code, Subscription.start is the "date the subscription started".

https://github.com/dj-stripe/dj-stripe/blob/4490fda09e5888da82499f1e17ecf883b00b36c6/djstripe/models/billing.py#L963

Here is the trace of the

[2019-03-06 16:51] PabloCastellano opened #854 "How to do integration tests"
How do you usually write integration tests for dj-stripe in your application?
Has anyone tried [stripe-mock](https://github.com/stripe/stripe-mock)?

[2019-03-06 17:53] williamflynt commented on #817
Good with me. :-) We are using the RELEASED 2.0!

[2019-03-06 18:36] #817 closed, assigned to nobody

[2019-03-06 18:44] therefromhere commented on #854
For my application I'm using vcrpy (https://github.com/kevin1024/vcrpy) to create fixtures of the API calls made by dj-stripe.  This works reasonably well.

We're going to look at stripe-mock for making dj-stripes's own tests more maintainable.

[2019-03-06 18:57] jleclanche commented on #854
Related, #567

[2019-03-06 18:58] jleclanche commented on #854
stripe-mock's problem is it's not a very good quality mock. it's just placeholder data and doesnt support anything like version gates, dynamic assignments etc

[2019-03-06 21:29] PabloCastellano opened #855 "Canceled subscriptions are deleted from DB"
This is something quite confusing to me.

Whenever I cancel a subscription, Stripe sends the `customer.subscription.deleted` event and dj-stripe removes the Subscription from the database. Actually I would expect the subscription to be kept in the database with status = 'canceled'. In fact, I can still retrieve the subscription using the stripe library:

[code]

I understand that Stripe is sending

[2019-03-06 22:20] therefromhere commented on #855
Related issues: #599 (which was closed as a dupe of #576 )

[2019-03-06 23:06] PabloCastellano commented on #576
Similar to this issue, when we receive `customer.subscription.deleted`, we delete the subscription which causes a SET_NULL on Invoice to trigger for Invoice.subscription.

Subscriptions should not be deleted but sync'ed and marked as 'canceled'. For more information about this issue there are also https://github.com/dj-stripe/dj-stripe/issues/599 and https://github.com/dj-stripe/dj-stripe/issues/8

[2019-03-06 23:06] PabloCastellano commented on #855
Thanks, I'm closing this issue and adding more information to the open issue.

[2019-03-06 23:06] #855 closed, assigned to nobody

[2019-03-06 23:12] PabloCastellano commented on #576
@jleclanche Would you mind changing the title of the issue to something more generic like ".deleted webhooks are not handled correctly" ?

[2019-03-08 19:46] PabloCastellano commented on #779
I can partly reproduce this bug in v2.0.0 and API 2019-02-19

In my case dj-stripe does not return error 500 but the test event is not properly handled.

[code]

So when Stripe sends an `account.external_account.created` test event, the id is `account.external_00000000000000`. Similarly for a `charge.expired` event, event id is `charge.expired_00000000000000`.

**Note that the first event id is no

[2019-03-08 20:25] PabloCastellano commented on #725
I have successfully done the following steps in Stripe dashboard and **I can't reproduce this bug** with Stripe API 2019-02-19 and dj-stripe v2.0.0:

1. Create coupon (`coupon.created` is sent and saved to the database)
2. Assign coupon to customer (`customer.discount.created` and `coupon.updated` are sent and changes synchronized in database)

At this point I have checked that Customer.coupon is

[2019-03-10 02:46] #779 closed, assigned to nobody

[2019-03-10 05:40] therefromhere commented on #850
I can reproduce this, using postgres 10.6

Steps to reproduce:

[code]

Sync a Customer with a Card from stripe which has a null address_country:

[code]
[code]
[code]
I get the same issue if I run the result of `./manage.py sqlmigrate`

[sqlmigrate output as gist](https://gist.github.com/therefromhere/d51890fea89e662692a58a1a261ab315)

It's failing on the last of these lines mid way through the m

[2019-03-10 07:10] therefromhere commented on #850
@alexandre-paroissien I think the manage command in #861 should work around this, can you try running it before migrating?

[2019-03-10 10:04] alexandre-paroissien commented on #850
Yes, after running the command, the migration ran successfully

Could you include this data migration in the  0003_auto_20181117_2328_squashed_0004_auto_20190227_2114 migration before any other operation?

This way, users who already migrated won't be affected and users who haven't migrated or failed migrating will be able to run the migration successfully, right?

[2019-03-10 18:30] therefromhere commented on #850
I don't think we can, no - the problem is that Django wraps the whole migration in a transaction, this bug is occurring because postgres doesn't allow you to UPDATE and ALTER the same table in one transaction.

The existing migration is trying to do the update nulls to "", I don't think we can tell Django to have a separate transaction in the migration.  We could disable transactions altogether on

[2019-03-11 09:15] alexandre-paroissien commented on #850
Actually I tested putting the data migration at the beginning of the migration 0003, with Postgres 10.6 (ubuntu) and an un-migrated version of my database, and it worked

`  Applying djstripe.0003_auto_20181117_2328_squashed_0004_auto_20190227_2114... OK`

For the users of postgres I think it would be better as they would not have to run any command, but I'm not sure if there are other concerns

h

[2019-03-11 10:22] therefromhere commented on #850
Huh, that's interesting.  I agree that'd be better, I'm just surprised that works - how is it different from the query that the existing migration is generating?

Does RunPython add a transaction or something?   Or is it because the update is done before any alter table?

Anyway, can you add a PR for that commit, it looks like a better fix than #861.

[2019-03-11 12:34] alexandre-paroissien commented on #850
The `./manage.py sqlmigrate` does not give much information:
[code]

The documentation says

https://docs.djangoproject.com/en/2.1/topics/migrations/#data-migrations

So the migration runs into one transaction, including the postgres prep Python script and then the schema updates. But regarding the warning I think this part of the documentation might be outdated

In my experience with Django/Postg

[2019-03-12 00:44] johanneswilm opened #864 "missing docs"
Hey,
I am sure it's obvious how to use this for long-term Stripe users, but for those of us who aren't, it's somewhat of a mystery. I realize that the documentation probably takes a long time to update, but it would be good to have at least the bare minimum of how to get users subscribed to a plan and how to unsubscribe them again. I have been looking through large parts of the sources, but I cann

[2019-03-12 08:32] blackboxoperations commented on #864
Aye.

Until there's documentation detailing processes and workflows for higher order businessy things, you have to sort of roll your own relative to your own application and its respective requirements.

I put a gist online, it's a command, for those like you who just needed some glue to get going - maybe it'll help: https://gist.github.com/blackboxoperations/23b95ed8c78227b7b8501b75cd064d20

[2019-03-12 09:30] johanneswilm commented on #864
@blackboxoperations thanks!

Actually, looking further at the documentation on stripe.com, it looks like all sellers in Europe will have to use either their Checkout page or their Payment Intents API starting fall 2019. The Payment Intents API doesn't seem to work for subscriptions, so there is only the Checkout page left. And the API for the Checkout page doesn't seem to allow to specify an exist

[2019-03-12 13:40] johanneswilm commented on #864
@blackboxoperations btw, very funny comments in your source code :)

[2019-03-12 20:40] jameschristopher opened #865 "Error when creating SubscriptionItems for metered plans"
Python==3.7.1
Django==2.1.7
djstripe==2.0.0

The issue seems to arise when processing the `customer.subscription.created` webhook callback. dj-stripe attempts to create the `SubscriptionItem`s listed in the Stripe response. The Stripe response for `Subscription` items that are on metered plans does not contain the `quantity` attribute, thus when dj-stripe ingests that data it fails to create a `Su

[2019-03-12 21:15] johanneswilm commented on #864
After reading the gist of @blackboxoperations  and spending another few hours sifting through the source code of djstripe, I came up with this, which seems to work if the user's Id is given as the clientReferenceId for `stripe.redirectToCheckout`.

Yet I hardly know what I am doing here - for example I don't know why we save the user id also in the metadata - so I don;t really know if this will wo

[2019-03-12 23:25] PabloCastellano commented on #720
If you are developing dj-stripe I think it's safe to assume that you are using a python virtual environment. At this point, installing tox is just `pip install tox`.

I agree that using docker can ease setting up the database and running tests. Indeed this is what I do. I like it specially because I keep my laptop clean.

In case someone wants to follow this approach here is the recipe:

[code]

W

[2019-03-13 08:18] blackboxoperations commented on #864
Let me give it a whirl and see if I can provide some feedback.

When it comes to the maintainers of dj-stripe, I've found that this type of software isn't going to have the type of ops coverage it requires without a larger and better organized team - given that this is OSS, that isn't going to happen easily or just up and occur naturally, so in reality dj-stripe is maintained by two guys who I thi

[2019-03-13 08:57] blackboxoperations commented on #864
Alright, I see where the confusion comes in. Let's rip order from chaos this fine morning, and build a reality with the points below in order to understand what stripe.Customer.metadata['djstripe_subscriber'] is all about, and why it's important precisely.

1. Start fresh, new application, new Stripe account, new database, new everything. You have 0 users, 0 Stripe customers, 0 subscriptions.
2. Y

[2019-03-13 09:31] blackboxoperations commented on #865
Note: the code below uses the Stripe API alongside dj-stripe, but there is likely a way to do this using just the dj-stripe code/objects as of v2. @therefromhere may be able to tell us, I don't know off the top off my head.

Also, I'm just plucking off the first plan from the set Stripe Plans in the example below, be sure to set the subscription to the plan the user actually selected in the subscr

[2019-03-13 14:35] jameschristopher commented on #865
Yes, I am setting the quantity for the first subscription item to 0 when I create the subscription. It should be noted that I created the subscription from the Stripe dashboard. So this error is purely happening during the webhooks event callback.

[2019-03-13 21:53] therefromhere commented on #865
I've not looked into this deeply but it sounds like this could be a similar case to #773 - fudge the data on the stable 2.0 branch (which we won't allow migrations) using `_manipulate_stripe_object_hook` and add a migration on master that makes `SubscriptionItem.quantity nullable` (which would be part of a future 2.1 release).

I've a feeling there's a different PR which was more similar but I can

[2019-03-13 23:00] blackboxoperations commented on #865
@jameschristopher - check your setup. I'm not sure why you want to instantiate a tiered subscription with a quantity of 0, but for gits and shiggles I went in and subscribed a customer to a tiered subscription with quantity=0, and the events/webhooks and updates to the application all went through and look fine on my end.

Stripe API Version: 2018-11-08
[customer.subscription.created webhook](http

[2019-03-14 01:08] jameschristopher commented on #865
Well the issue isn’t with tiered plans it’s with metered plans.

[2019-03-14 01:09] jameschristopher commented on #865
@therefromhere I’ll give that a shot and update this thread

[2019-03-14 01:53] therefromhere commented on #865
Cool.  Note that master and stable/2.0 are currently in sync since we didn't add any post-2.0 release breaking changes yet (migrations etc), so this would be a point where they'll diverge.

[2019-03-14 20:29] jameschristopher commented on #865
It seems that `_manipulate_stripe_object_hook` is not getting called during this issue. I was able to resolve the issue by fudging the `_stripe_object_to_subscription_items` method using `.setdefault` right before it calls the `_get_or_create_from_stripe_object` class method.
[code]

 I also added a similar line to `_manipulate_stripe_object_hook` as suggested.

[2019-03-15 08:58] therefromhere commented on #865
@jameschristopher I'm not sure why _manipulate_stripe_object_hook wasn't firing for you, I've gone ahead and implemented the fix as discussed as #866.

[2019-03-17 02:10] therefromhere commented on #850
I've merged #863, I don't think my #861 is needed - if anyone still has a problem they can still run the update commands by hand.

E.g. by importing the result of this:

[code]

[2019-03-17 02:13] #865 closed, assigned to nobody

[2019-03-18 08:55] alexandre-paroissien commented on #850
Nice! Seems reasonable since the data migration fix should work starting from postgres 9.4 which was out in 2014 and is the oldest release supported as of today
https://en.wikipedia.org/wiki/PostgreSQL#Release_history

[2019-03-20 08:16] tkrevh opened #867 "Subscription that was set to cancel at period end, can not be reactivated"
Using latest release 1.2.0, the cancel_at_period_end remains set to True when updating/reactivating the subscription.

The solution could be to add:
[code]
after:
[code]

Or simply add a default parameter cancel_at_period_end=False to the update function.

[2019-03-20 10:13] tkrevh commented on #867
I've opened a PR for this: #868

[2019-03-20 13:03] PabloCastellano commented on #867
Just a note: 1.2.0 is not the latest release, but 2.0.0

[2019-03-20 13:11] tkrevh commented on #867
@PabloCastellano whoops, you're right, thanks! 2.0.0 contains the same bug I think.

[2019-03-21 17:01] derek-adair commented on #864
As a potential user of this... you guys need to either remove the links to the docs OR just throw in some naive examples.  Looking at the commits and code this looks to be VERY promising, but seeing "nothing here yet" is a huge turn off.

This is nothing to do w/ the code base or even design decisions... this is marketing.  Examples in the docs would convert more users.

[2019-03-21 19:28] mapineda commented on #803
Any update on this @jleclanche ? Anyway we can use PaymentIntent or 3D secure using stable/1.2 or stable/2.0

[2019-03-23 22:21] blackboxoperations commented on #864
I've tried to approach documentation a few times now, but never pushed anything in, for two reasons:
1. Because Stripe's API has changed so quickly, so much, the code here has pivoted just as aggressively, so getting to the use-case scenarios and code examples is hard to maintain alongside functional maintenance to ensure efficacy, correctness
2. If you issue a PR here, better hope the maintainers

[2019-03-23 22:40] jleclanche commented on #864
If you have a problem with this project's maintainership I invite you to
actually voice your specific concerns in a separate issue rather than offer
snark in an unrelated one.

You've probably been largely ignored because you've consistently taking
issues off-track and off-topic, just like you're doing here in this issue
about .. documentation.

I'll also remind you not to be dickish to unpaid vol

[2019-03-24 00:35] blackboxoperations commented on #864
See what I mean

[2019-03-24 22:36] ZachPerkitny commented on #852
I noticed the same thing, according to [stripe's documentation ](https://stripe.com/docs/api/subscriptions/object#subscription_object-start) for the subscription object, the `start` attribute is the `date of the last substantial change to this subscription` (the name is misleading). The method `is_status_temporarily_current` on the `Subscription` model will always return `False` because `self.star

[2019-03-26 14:21] derek-adair commented on #864
Whoa didn't mean to kick the hornets nest. HA!

Ya'll need to take a step back and recognize we are on the same team here.  Neither of you are _really_ wrong, and both of you need to take a deep breath.

@blackboxoperations I get where you are coming from.  It's super frustrating when you do not agree with the maintainer of a project.  I've been on both sides of this situation and its not an easy

[2019-03-26 14:25] derek-adair commented on #864
Also @jleclanche, @blackboxoperations CLEARLY has a passion for this project.  How can we put negativity behind us and work towards this goal of an up-to-date and clean django-stripe implementation?

Ya'll dont have to like each other to work together.

[2019-03-26 23:01] jleclanche commented on #864
I want to make clear that I've acknowledged the project's deficiencies several times here on Github. This is by no means a defence of what state the documentation is in. I'm just asking that snark and statements such as "your PR won't be considered" aren't tolerated as long as I'm around.

If your stuff's not getting looked at, bug me directly if you must, email me if you like (email's on the prof

[2019-03-26 23:31] johanneswilm commented on #864
Hey,
as for my original request: I was just really not getting how to handle subscriptions and the documentation didn't help. @blackboxoperations code actually helped a little bit in making me understand what I needed to add as I wrote in my follow-up comment. As far as I can tell, my code is now working, but I still feel I haven't quite understood how it's supposed to work. What I have understood

[2019-03-27 01:45] williamflynt opened #870 "`Plan.create()` cannot create both Stripe object and Django object"
This is the `djstripe.models.billing.Plan.create()` method.
[code]
It's broken (as far as I can tell). Here's why:

* `api_kwargs` requires a string for `product`
* `kwargs` requires a model instance of `djstripe.Product`

To fix this, we should add `api_kwargs["product"] = kwargs["product"].id)` or change the string `repr` of `Product` to be the `id` attribute.

[2019-03-27 03:03] williamflynt opened #871 "SubscriptionItem raises error when syncing from Stripe"
Error occurs on `save()` in `djstripe.models.base.py` on Line 346 --

Prevents adding a subscription for a customer.

Ultimate error is a `TransactionManagementError` with message `An error occurred in the current transaction. You can't execute queries until the end of the 'atomic' block.`

[2019-03-28 06:08] blackboxoperations commented on #864
@jleclanche - I'm not worried about it, and there's no sense in making a big deal out of nothing - I'm passionate about what I do, but if it wasn't clear in previous comments, am more grateful that you created this thing to begin with.

What I take away from all this, is minimize my own chaotic distractions here. You're right on that point, in that it's hard to take someone seriously, or follow up

[2019-03-29 02:40] therefromhere commented on #871
Hi, a few questions:

1. which version or commit of djstripe is this with?
2. can you try with the latest version of master and confirm it still happens?
3. what database is this with?
4. can you post a traceback?

Thanks

[2019-03-29 20:29] williamflynt commented on #871
Hey John. I saw this one and confirmed it in the heat of development late at night --
this was with v2.0.0

It might be best to just... ignore it. I don't have the code any more even. Next time
I'll do a better job.

What I'm consistently noticing are integrity errors from `webhook` view when I use
djstripe to create a Stripe object or charge, etc. This wasn't that. I'm sorry this is
just a junk i

[2019-03-29 20:50] therefromhere commented on #871
OK, closing this one then.  Please do raise another issue around the integrity errors if you have more details.

[2019-03-29 20:50] #871 closed, assigned to nobody

[2019-04-02 15:52] mavas opened #873 "Using DjstripePaymentMethod"
**Describe the bug**
I don't know what to do with the token retrieved from POST data, along with DjstripePaymentMethod.

**To Reproduce**

- Try to follow https://stripe.com/docs/quickstart, but using djstripe.

- Make sure to use the HTML form which references checkout.js
- Instead of making a "stripe.Charge.create" call, attempt to make a Django Charge.objects.create(...) call, setting source eq

[2019-04-02 16:06] mavas commented on #873
I didn't add that "webhook / sync issues" label.

[2019-04-02 16:44] mavas commented on #873
I think I got it.  The 'id' field isn't an automatically made field - it's the token.  And I think the 'type' field is a string which should equal 'token' or 'card'

[2019-04-02 16:44] #873 closed, assigned to nobody

[2019-04-07 22:27] williamflynt commented on #870
@therefromhere Can you do this?

[code]

[2019-04-07 23:15] therefromhere commented on #870
If we were going to do that we should also change all the other similar method to check for isinstance(kwargs[key], StripeModel) - not necessarily against this but we should be consistent.

In this case though I wonder why we're not using `sync_from_stripe_data` inside Plan.create.

[2019-04-07 23:34] williamflynt commented on #870
So this recommendation is actually for the `_api_create` method on the StripeModel superclass.

That might solve it for Subscription, etc also.

[2019-04-08 00:57] therefromhere commented on #870
Yeah, I meant we'd should probably change `_api_delete`, `api_list` etc as well

[2019-04-08 01:52] williamflynt commented on #870
Those appear to be functioning just fine. It's specifically `create`,
because `list` and `delete` don't require foreign keys to work.

On 4/7/2019 5:57 PM, John Carter wrote:

[2019-04-09 20:34] williamflynt opened #875 "Subscription models do not sync"
**Describe the bug**
Subscriptions do not sync properly due to a null `quantity` value. I have only tried with `metered` type subscriptions.

**Recommended Fix**
Set `null=True` on the `SubscriptionItem.quantity` field.

**To Reproduce**
[code]

**Expected behavior**
Expect `djstripe.Subscription` to be created (if not already existent) for each `stripe.Subscription` that exists.

**Environment**

[2019-04-09 20:36] williamflynt commented on #830
I attempted to push this issue to Stripe. They told me to shove off without some sample code and a multi-day chat session that I don't have time for...

[2019-04-09 21:09] williamflynt commented on #875
Workaround / Shim:

[code]

[2019-04-09 22:09] therefromhere commented on #875
Thanks for the report, can you confirm it's broken on the latest version of master?

This sounds like #865, I added a workaround in #866 , which landed as 032fe367f0cd7c3d15ba9bcf8658278eea57f14f (we should do a 2.0.1 release soon though to release this).

[2019-04-10 09:08] therefromhere commented on #875
PS, if it is still broken at 032fe367f0cd7c3d15ba9bcf8658278eea57f14f or later, can you include a sample of the data you're trying to sync?

Eg from body of `/admin/djstripe/webhookeventtrigger/`

[2019-04-12 00:45] martinmain93 commented on #871
Hi, I Just encountered this issue while using the library. I'm using:

dj-stripe==1.2.4
Django==1.11.6
STRIPE_API_VERSION = "2018-05-21"
Stripe Webhook version = 2017-08-15

Traceback:
[code]
I believe it was during a subscription update action, but I haven't been able to reproduce again...

[2019-04-12 01:30] himynameistimli commented on #830
I'm finding a similar issue as described above, when just trying to run `Account.get_default_account()` with my test keys. However, I only get the `InvalidRequestError: Request req_xxxxxxxxxxx: No such file upload: https://s3.amazonaws.com/stripe-uploads/acct_xxxxxxxxmerchant-icon-1496549404663-xxxxxxxx.png`, and nothing about the test mode key (though I am running in test mode).

In this case I o

[2019-04-12 02:28] therefromhere commented on #830
Note that Stripe changed lots of stuff with the Account API a couple of days after I logged this in https://stripe.com/docs/upgrades#2019-02-19 , I've not re-tested it since, it might be manifesting differently now.

[2019-04-13 01:52] robd003 opened #878 "Support for Stripe API 2019-03-14"
Just wondering if there's a fix in place for the invoice object changes

[2019-04-13 03:03] therefromhere opened #879 "Make it easier to test API upgrades / track schema changes"
Currently our tests are entirely based on hand-written fixtures of fake API data.  This makes it hard for us to upgrade the `DEFAULT_STRIPE_API_VERSION` (currently `2018-05-21`) which is the API version we use to fetch data when processing webhooks etc, since the API schema changes between versions.

I'm going to look into a slightly different approach as follows:

1) A script to populate a throw-

[2019-04-13 03:05] therefromhere commented on #878
Hi, I've not tested it, are you having problems with webhooks?

API changes that are just field renames should have no effect, since we fix the stripe API version we use (currently fixed to `2018-05-21`).  But it does look like some of those changes in https://stripe.com/docs/upgrades#2019-03-14 might need some special handling.

Going forwards I'd like to make it easier for us to upgrade to match

[2019-04-13 03:12] robd003 commented on #878
Why wouldn’t we upgrade the models so that they’re identical to the current API? There have been so many significant changes recently.

[2019-04-13 03:18] therefromhere commented on #878
That's the aim but it's currently not easy to test - see #879 :)

[2019-04-14 20:11] ryancausey commented on #878
I apologize if this has been answered somewhere already (I couldn't find it), but the main README.rst says the following: `Supports Stripe API 2019-02-19`. However, the `DEFAULT_STRIPE_API_VERSION` is set to `"2018-05-21"` as you mention above. I understand I can override the `DEFAULT_STRIPE_API_VERSION` using the `STRIPE_API_VERSION` setting, but it's no longer clear to me which version of the st

[2019-04-14 20:43] ryancausey opened #882 "migrate djstripe zero leaves migration entry in django_migrations table"
### Background:
I recently found the `DJSTRIPE_USE_NATIVE_JSONFIELD` setting and since I'm using PostgreSQL wanted to change it to `True`. I figured I needed to un-apply and then re-apply the djstripe migrations in order to make this happen. The re-apply step is where I noticed this issue. I'm not sure if this is a django bug related to squashed migrations or not, and I don't know how to check, so

[2019-04-14 21:06] therefromhere commented on #882
Interesting, thanks for the report.

[2019-04-14 21:24] therefromhere commented on #878
Yeah we probably could document this a bit better, there's two things in play:

1) The Stripe account API version that we support.   The account API version is the one you see here as `default` https://dashboard.stripe.com/test/developers

This is the supported version that the README refers to, it's the latest Stripe account API version we tested against in prod.

Other Stripe account API version

[2019-04-14 21:42] jleclanche commented on #882
That sounds like it might be a django issue?

[2019-04-16 02:54] ryancausey commented on #882
I wasn't sure because the squashed migration in question had some extra stuff in it that I hadn't seen in a migration before (`postgres_migration_prep`) and I thought that maybe there was some custom migration stuff that was borking things. I'll also ask on the Django user group and see if a bug needs to be opened up over on Django itself.

[2019-04-16 02:55] ryancausey commented on #878
Are documentation pull requests welcome? I could see about documenting the above so that future travelers can make sense of it.

[2019-04-16 03:04] therefromhere commented on #878
Yes please!

We have some explanation of this here: https://dj-stripe.readthedocs.io/en/latest/reference/settings.html#stripe-api-version-2018-05-21 , maybe expanding that to mention the stripe account API version, and then linking to it from relevant places (especially the README)?

[2019-04-16 03:12] ryancausey commented on #882
Actually, it appears to be an issue that the original migrations no longer exist in the migrations folder but the squashed migration still says it "replaces" some migrations. [The django migration docs](https://docs.djangoproject.com/en/2.2/topics/migrations/#squashing-migrations) seem to say that in order to transition the squashed migration to a normal one, and ostensibly allow the old migration

[2019-04-16 03:29] therefromhere commented on #882
Yep, sounds good.

[2019-04-16 03:40] #882 closed, assigned to nobody

[2019-04-22 01:54] ryancausey commented on #878
If this is the wrong issue for this please let me know, but it seemed the most relevant:

I am having webhook issues with charges and I think it might be API related. It seems fairly straightforward that the code is trying to access the `object` attribute of `source` when `source` is None. I'm using test mode with the test always success card number, so maybe that's why no `source.object` exists?

[2019-04-23 04:31] alexandre-paroissien opened #885 "Next release for 2.0 branch"
Hi there, wondering when will be the next release for 2.0 branch

I would like to switch from branch 1.2 to 2.0 but I am waiting for the postgres prep fix to be released

Thanks

[2019-04-23 05:49] jleclanche commented on #885
Which fix do you mean?

[2019-04-23 05:50] jleclanche commented on #885
@therefromhere is on holiday so I think once he gets back we can start talking about a 2.0.1 and/or 2.1 release.

[2019-04-23 11:25] SteveChurch commented on #864
+1 - Some crude implementation examples would be great. Nothing complicated, just simple usage.

[2019-04-23 15:39] ryancausey commented on #832
I dug into this a little bit and it looks like there's a couple of options for a fix that popped into my head right away:

1. Wrap the process() call on the Event class in a transaction.atomic block to prevent the Event object from being saved to the database if the webhooks fail. This will prevent the event from being created, and allow subsequent retries to be processed, when the webhooks raise

[2019-04-23 16:25] alexandre-paroissien commented on #885
Noted with thanks

I was referring to #850

[2019-04-25 02:35] ryancausey commented on #740
Related to this, I've found that Stripe treats Account and Connect webhooks as separate entities, and thus there are two different signing keys. That doesn't appear to be supported by djstripe at this time. Is multi-webhook support for Connect vs Account webhooks worthy of a separate issue?

[2019-04-25 02:43] jleclanche commented on #740
I thought there was an issue regarding this. There's some 3.0-milestoned stuff to help with it as well, iirc the Account fk needs to be added to all the stripe objects.

[2019-04-25 14:02] tasn commented on #832
The first suggestion sounds better to me too. The signals are a problem indeed, so as triggering external actions (e.g. sending an email). Though I think it's still better to correctly fail and in some cases end up trigger some actions rather than quietly mark them as succeeded.

[2019-04-25 23:18] charleshan opened #888 "requires STRIPE_LIVE_PUBLIC_KEY even when STRIPE_LIVE_MODE is false"
I'm trying to figure out how you set up a development environment. `STRIPE_LIVE_MODE` may not be related to this issue but I'm thinking that `STRIPE_TEST_PUBLIC_KEY' and `STRIPE_TEST_SECRET_KEY' should be sufficient for a development environment. However, I get the following error:
[code]
I think there's a typo in the error message but that's another issue. I tried adding the test keys to the live

[2019-04-25 23:20] jleclanche commented on #888
We're a bit overbearing with the checks but that is because those are fairly sensitive settings and we don't want to ever accidentally have you ingest test data and mark it as prod (or the other way around).

If you want to simulate the key, you can do `STRIPE_LIVE_SECRET_KEY = "sk_live_"`. But I don't remember if setting it at all is actually required despite what the error message says.

[2019-04-25 23:28] charleshan commented on #888
I see. Thank you for the explanation. I think that is important information to point out in the installation process. Just to be clear, is it correct to say that the library doesn't use the live keys when `STRIPE_LIVE_MODE=False`?

I'll try using the following in my setup.
[code]

[2019-04-25 23:28] jleclanche commented on #888
Correct, the live keys will be used only if mode is set to live. Your snippet is a fine way of setting it yep.

[2019-04-25 23:28] #888 closed, assigned to nobody

[2019-04-25 23:30] jleclanche commented on #888
But I really think there's a way to set it to something saner. `= None` maybe? I'd have to check.

[2019-04-26 00:16] charleshan commented on #888
I just wanted to report back to fix my mistake. It was a typo I made. I used `'False'` as a string. As you mentioned `None` works fine.
[code]

[2019-04-26 00:16] jleclanche commented on #888
Great, so I guess the check did its job then :)

[2019-04-26 00:17] charleshan commented on #888
yep :) 💯

[2019-04-26 09:03] charleshan opened #889 "TransactionManagementError occurs with webhook when ATOMIC_REQUESTS=True"
When I create a new subscription from a fresh database with `ATOMIC_REQUESTS=True`, I get multiple `TransactionManagementError` as seen below. When `ATOMIC_REQUESTS=False` everything runs smoothly.

[code]

[2019-04-26 22:47] #870 closed, assigned to nobody

[2019-04-27 08:32] therefromhere commented on #885
I'm aiming for a 2.0.1 release on Monday if time allows.

[2019-04-27 14:27] aymericderbois commented on #803
Hi everyone,

Is someone is currently working on this ?
I need this feature, so if nobody is working on it, I would like to try to do it

Aymeric,

[2019-04-27 18:36] jleclanche commented on #803
Go for it @aymericderbois  -- I don't think anyone is actively doing it.

[2019-04-27 18:36] jleclanche commented on #803
FYI PaymentIntent will not land in 2.0 but I'm hoping we can have a 2.1 release with it.

[2019-04-27 21:38] therefromhere commented on #889
Hi, so you're creating a subscription outside of dj-stripe, eg using python stripe API or the dashboard (which is fine), and then getting this error from the webhook?

Can you fill in the issue template below for some more details?

PS, presumably you meant  "When `ATOMIC_REQUESTS=False` everything runs smoothly." in the second sentence here here?

Issue template:

[2019-04-28 21:32] charleshan commented on #889
@therefromhere I didn't find anything about dj-stripe being able to create subscriptions in the documentation so I started using stripe-python for interacting with Stripe. For now, dj-stripe is just syncing with stripe using the webhook.

Oh yes, that was a typo. When `ATOMIC_REQUESTS=False` everything runs smoothly.

[2019-04-28 21:34] therefromhere commented on #889
Yes, that's correct - dj-stripe is mainly for syncing from stripe to Django.

[2019-04-28 21:51] charleshan commented on #889
@therefromhere thanks for the confirmation. I was a little confused at what the library does. Syncing stripe to Django is definitely useful but maybe we could mention in the doc.

---
Details the bug:

**Describe the bug**
django.db.transaction.TransactionManagementError occurs with Subscription.create webhook when ATOMIC_REQUESTS=True

**To Reproduce**
Steps to reproduce the behavior:

1. Enable

[2019-04-29 02:33] therefromhere commented on #885
2.0.1 is live on pypi now.

[2019-04-29 02:33] #885 closed, assigned to nobody

[2019-04-29 07:50] therefromhere commented on #832
Resolved by #887

[2019-04-29 07:50] #832 closed, assigned to nobody

[2019-05-01 16:30] tasn commented on #803
Just a small comment on this: it seems to be a requirement for [SCA](https://stripe.com/docs/strong-customer-authentication), so essentially a requirement for anyone dealing with Europe. SCA will come into effect in September this year, and given people will need time to integrate it, it's actually quite urgent.

So if anyone is reading it and has some free time (@aymericderbois ?), you'll be a he

[2019-05-01 19:07] aymericderbois commented on #803
I started working on it. I hope to progress quickly on it!

[2019-05-01 19:08] tasn commented on #803
Great news, thanks! :)

[2019-05-01 20:09] mapineda commented on #803
You’re a hero!

On Wed, May 1, 2019 at 2:07 PM Aymeric Derbois <notifications@github.com>
wrote:

--
Marco Pineda
m | 314-401-2324

Author | "The Bitcoin Book: A Comprehensive Guide To Bitcoin"
Founder | Sanitation Project <http://www.sanitationproject.com>

Connect with me on Linkedin <http://www.linkedin/in/pinedamarco>
Follow me on Github <http://www.github.com/mapineda>
www.marcopineda.com

[2019-05-02 16:25] williamflynt commented on #889
Seconded for:
Django 2.1.8
Python 3.6.8
Postgres 10.5

Have not changed `ATOMIC_REQUESTS`

[2019-05-06 11:10] DeanSherwin commented on #803
+1 on this.

For now I'm going to use DJStipe for all non-payment related stripe stuff (eg. setting up customers. But because I'm in the EU I'll have to use the stripe API directly to create PaymentIntents, PaymentMethods etc...

[2019-05-08 04:27] ReagentX opened #894 "TemplateDoesNotExist at /stripe/subscribe/"
I am trying to load the subscribe page, however I keep getting this traceback:

    TemplateDoesNotExist at /stripe/subscribe/
    base.html
    Request Method:	GET
    Request URL:	http://127.0.0.1:8000/stripe/subscribe/
    Django Version:	1.11.16
    Exception Type:	TemplateDoesNotExist
    Exception Value:
    base.html
    Exception Location:	/Users/username/Documents/CSGO/project-name/venv/l

[2019-05-08 04:34] therefromhere commented on #894
Hi, I'm afraid subscribe view isn't supported and was removed in dj-stripe 2.0.

[2019-05-08 04:37] ReagentX commented on #894
Okay, so upgrading to the latest version in PyPi should be the fix here?

[2019-05-08 05:17] therefromhere commented on #894
Hi, no, the subscribe view has been removed - dj-stripe's focus is on syncing data from stripe to Django.

Instead you should create subscriptions in your own view using the Stripe python API, the result of that can be stored into dj-stripe.

eg something like this:

[code]

The documentation is a bit lacking on this.

[2019-05-08 06:00] ReagentX commented on #894
Okay, this makes a lot more sense. Thank you.

[2019-05-08 06:00] #894 closed, assigned to nobody

[2019-05-08 11:04] alexandre-paroissien commented on #885
Great news!

[2019-05-09 11:37] aymericderbois commented on #803
I started working on it.

I have implemented the two necessary models (PaymentIntent, PaymentMethod).
My first tests are positive. It seems working.

I still have some methods to develop, as well as unit tests.
I will soon create a WIP PR.

Aymeric

[2019-05-17 07:58] Jenselme commented on #803
@aymericderbois We are also interested in this feature. Is there a way we can help?

[2019-05-22 13:53] greyhare commented on #864
Even just some stubs for each use case, a "See Also" list of links on each page to the documented Model classes and their methods that apply, would be great.

[2019-05-22 13:55] greyhare commented on #878
Is this fixed by the merge above? Can this be closed?

[2019-05-22 14:01] greyhare opened #897 "Where are the Stripe Checkout APIs implemented?"
I'm reading through the Stripe docs for [how to do a server-based checkout process](https://stripe.com/docs/payments/checkout/server) and it starts off with a `curl` command to the [checkout/sessions](https://stripe.com/docs/api/checkout/sessions/create) API. What does this map to in dj-stripe?

I don't have access to the Stripe control panel this will be running against, so I'm using [stripe-mock

[2019-05-22 19:57] therefromhere commented on #878
We've not upgraded the stripe API version used internally, but that shouldn't prevent your account API version at 2019-03-14 or later from working with djstripe.

If someone can confirm they're using djstripe in production with webhooks with their account version at 2019-03-14 I'm happy to close this.

[2019-05-22 23:34] therefromhere opened #898 "Explain API version in README + documentation"
The 3 different API versions in play (your account version, latest version, version used by dj-stripe) is a source of confusion, we should document it better so that new users understand that that can use dj-stripe with a new stripe account.

As referenced in
https://github.com/dj-stripe/dj-stripe/issues/878#issuecomment-483059500 and elsewhere.

[2019-05-22 23:36] therefromhere commented on #878
I've tested my project in a production-like staging environment with stripe dashboard API at 2019-05-16 with:

* Create subscription + sync_from_stripe_data
* resulting webhooks to create invoice etc.

This worked OK (no errors from webhooks, invoice visible etc).

So I consider dj-stripe compatible with stripe dashboard at 2019-05-16, as expected.

I'll close this this ticket to avoid confusing n

[2019-05-22 23:36] #878 closed, assigned to nobody

[2019-05-24 10:51] adamshamsudeen commented on #658
Is there a way to change the billing date?

[2019-05-24 13:19] ndjdev opened #899 "Stripe Subscription Schedules"
Stripe currently have a Private Beta running a new feature called "Subscription Schedules". I was wondering whether this has appeared on anyone else's radar and whether there were any plans for inclusion in dj-stripe? I am happy to contribute if I'm the first user but it might take me a while before I can include it in my workload. The documentation is here https://stripe.com/docs/billing/subscrip

[2019-05-24 13:49] jleclanche commented on #899
If the APIs are in [stripe-python](https://github.com/stripe/stripe-python) you can pretty easily add them in dj-stripe, but they'll lack tests.

If they're not in the lib yet, I wouldn't bother adding them in dj-stripe.

[2019-05-24 13:51] ndjdev commented on #899
Yep looks like they were added back in Feb: https://github.com/stripe/stripe-python/commit/1c1d52cbb1cad3005b64ec160ba97f8ec4b888f2#diff-fc6e700fd4379f14279e7df41fe1f4cc

[2019-05-27 21:45] ryancausey commented on #897
As far as I am aware, dj-stripe doesn't currently have any of the models mapped out for the new Checkout and sessions objects.

What I'm currently doing in my project is creating a stripe session directly via [Stripe's Python API](https://github.com/stripe/stripe-python), and using dj-stripe to process the `charge.succeeded` webhook that fires when the session completes and a card is successfully

[2019-05-27 21:51] greyhare commented on #897
That's what I wound up doing this weekend, except with:

    session = stripe.checkout.Session.create(
        payment_method_types=['card'],
        line_items=[line_item],
        success_url=success_url,
        cancel_url=cancel_url,
        customer_email=user_email,
    )

Then elsewhere:

    @webhooks.handler("checkout.session.completed")
    def checkout_complete(event):
        session =

[2019-05-27 21:59] ryancausey commented on #897
No, it's reconciling the dj-stripe charge object with the rest of the system. I think dj-stripe is more for pulling data from Stripe rather than pushing data to Stripe.

It's probably best to use the `checkout.session.completed` event as you are, but for my purposes I need a dj-stripe charge object in the database to relate to via a foreign key, so I listen to the `charge.succeeded` event instead.

[2019-05-29 08:30] Jenselme commented on #803
@aymericderbois any updates?

[2019-05-29 10:39] aymericderbois commented on #803
Hi,

I'm sorry I didn't have time to work on it so much.
You may check on my fork repo what i did : https://github.com/aymericderbois/dj-stripe/commits/feature/payment-method

What I did:
 - model for PaymentMethod and PaymentIntent
 - Customer.add_payment_method, similar to Customer.add_card
 - handle webhook for PaymentIntent and PaymentMethod

For now, what's missing:
 - unit test
 - Customer.a

[2019-06-03 00:50] therefromhere opened #900 "Tool to help set a case-sensitive collation (utf8_bin) for StripeIdField on MySQL"
It's common practise to use case-insensitive database collations on MySQL, but Stripe IDs are case insensitive,

Stripe warns about this:

from https://stripe.com/docs/upgrades#api-changelog

It would be useful to have a tool to correct this.  A manage command or similar is probably easier than integrating this into the migrations, since Django doesn't provide access to collations via the ORM (htt

[2019-06-09 05:45] #898 closed, assigned to nobody

[2019-06-09 06:30] therefromhere commented on #875
Closing this since I think it was resolved by 2.0.1 release.

[2019-06-09 06:30] #875 closed, assigned to nobody

[2019-06-09 06:51] therefromhere commented on #417
Closing this since SubscriptionItem sync was released in 2.0.0.

[2019-06-09 06:51] #417 closed, assigned to kavdev

[2019-06-11 10:53] alexandre-paroissien commented on #889
I use Python 3.6.8 / Django 2.2 / Postgres 11.3

I had this issue in dj-stripe 2.0.2 and ATOMIC_REQUESTS value didn't matter

I dont have the issue anymore in 2.0.3 (released today)

[2019-06-11 19:11] therefromhere commented on #889
Thanks for the update @alexandre-paroissien !

Fixed via #903 / #877, in 2.0.3

[2019-06-11 19:11] #889 closed, assigned to nobody

[2019-06-14 09:01] therefromhere opened #904 "Add support for Customer TaxIds"
In https://stripe.com/docs/upgrades#2018-08-23

We don't support tax_info (and the accompanying tax_info_verification) yet, but that's already been deprecated in favour of a separate TaxIds endpoint (added to stripe python in https://github.com/stripe/stripe-python/releases/tag/v2.26.0 ), so maybe worth skipping straight to that:

https://stripe.com/docs/billing/migration/taxes#moving-from-taxinfo

[2019-06-14 09:56] #879 closed, assigned to nobody

[2019-06-14 22:22] steverecio commented on #650
I'm getting this error after trying to upgrade from 1.2.3 to 2.0.3

Anyone have any suggestions?

[2019-06-14 23:10] therefromhere commented on #650
@steverecio it sounds like #850 - see the comments in that thread.

[2019-06-16 07:03] therefromhere commented on #89
I'll try and do some form of this for 2.1.0, since it'd be useful for re-syncing Account with the changes from flat to the nested JSON fields - see https://stripe.com/docs/upgrades#2019-02-19 / #907

[2019-06-18 15:39] trag-stripe commented on #803
@Jenselme +1 to @aymericderbois's status - we're also reviewing the fork and will be making some contributions for this issue as well. 👍

[2019-06-18 15:55] lx-stripe commented on #803
@aymericderbois 👍Happy to contribute to the PaymentIntents integration and to assist with all the SCA related stuff.

[2019-06-19 22:11] jordotech opened #909 "Irreversible migrations"
It appears that we're unable to migrate backwards, you should be able to remove the dj-stripe db tables painlessly.  Am I missing something?

Django 2.1.9
dj-stripe==2.0.3

To reproduce- install app, migrate, attempt to migrate backwards
[code]

[2019-06-20 00:53] therefromhere commented on #909
Hi, no you're right that's a bug.

[2019-06-20 01:06] therefromhere commented on #909
Resolved by #910

[2019-06-20 01:06] #909 closed, assigned to nobody

[2019-06-20 17:37] aaronn commented on #864
Can someone that's implemented something with dj-stripe just post some naive examples in this thread if they aren't ready to go into the documentation?

[2019-06-20 23:07] therefromhere commented on #803
That's great @trag-stripe  @lx-stripe , and thanks for your work so far @aymericderbois.

Is anyone volunteering to take over the lead on this feature? (@trag-stripe are you planning on making a PR based on @aymericderbois 's branch?)

[2019-06-20 23:13] therefromhere commented on #864
@aaronn I'll try and add a simple working example of customer + subscription creation using Stripe JS this weekend to close this issue.

[2019-06-20 23:34] aaronn commented on #864
awesome, thank you @therefromhere

[2019-06-21 00:40] aaronn opened #911 "New Stripe Checkout: Metadata isn't a valid parameter."
`metadata` isn't a valid parameter in the new version of Stripe Checkout, so there isn't a way to tag a charge with `djstripe_subscriber`. They propose tagging the ID with `client_reference_id`, but they also don't have any plans to deprecate the old version of checkout.

[2019-06-21 03:26] trag-stripe commented on #803
@lx-stripe is taking the lead on our end, he's actively reviewing and scoping his work 👍
Good question on which branch he's working off of, will let him answer that

[2019-06-21 04:18] aymericderbois commented on #803
Hi !

Sorry I didn't answer earlier, I'm currently on vacation.

I did the developments on the feature/payment-method branch.

If all goes well, next week I could implement the main missing features.

I don't think there's much development left to do to make it work.

[2019-06-21 10:12] lx-stripe commented on #803
Thanks @therefromhere . There's lots of progress on @aymericderbois 's `feature/payment-method` branch. I've forked it and am reviewing/experimenting a bit. Planning to PR sometime next week.

@aymericderbois can we have a quick video call when you're back from vacation?

[2019-06-21 10:45] therefromhere commented on #803
Cool!

A couple of housekeeping things:

* this will need to land on master (since stable/2.0 is closed for new migrations) - that feature branch is a bit behind master but I don't think there's any major conflicts
* One change that's not on that branch yet is the command to generate JSON fixtures - https://dj-stripe.readthedocs.io/en/latest/project/test_fixtures.html - that doesn't currently supp

[2019-06-21 11:18] therefromhere opened #912 "Review model fields vs current API"
Check for new/deprecated/renamed fields.

- [x] Rename Customer.account_balance -> .balance + add deprecated property (#918)
- [x] Update Customer model fields (#931)
- [x] Update BalanceTransaction type enum (#912)
- [x] Charge - added TODO to look at Charge.account vs on_behalf_of (43ae53d)
- [x] Charge.payment_method,  (#984)
- [x] Charge.receipt_url, .payment_method_details (#985)
- [x] Paymen

[2019-06-22 08:47] therefromhere commented on #864
see #913, particularly the view: https://github.com/dj-stripe/dj-stripe/pull/913/files#diff-8e79ca913e72e919e117907146fd6901

[2019-06-30 08:09] #721 closed, assigned to nobody

[2019-06-30 08:10] therefromhere commented on #647
Closed via #913

[2019-06-30 08:10] #647 closed, assigned to nobody

[2019-06-30 08:11] therefromhere commented on #864
Closed via #913

[2019-06-30 08:11] #864 closed, assigned to nobody

[2019-07-01 10:20] M0dM commented on #789
I finally keep in sync users from external authentication backend with auth users in django...

[2019-07-01 10:20] #789 closed, assigned to nobody

[2019-07-03 07:39] stygmate opened #915 "Strong Customer Authentication (SCA)"
SCA is coming in September.
https://stripe.com/payments/strong-customer-authentication
https://stripe.com/docs/payments/cards/reusing-cards

We absolutely need PaymentIntent in DjStripe, else it will become useless in a lot of case.
Any progress on it?

[2019-07-03 07:40] stygmate commented on #915
@therefromhere any progress ?

[2019-07-03 07:51] therefromhere commented on #915
Hi, see #914

Closing this as duplicate of #803

[2019-07-03 07:51] #915 closed, assigned to nobody

[2019-07-04 15:25] tiwariayush commented on #803
Hello everyone ! I have been working on top of the work done by @aymericderbois. I have already a draft PR (#914) which seems to be going well currently.

Just a heads up so that it doesn't use time of multiple people working on same issue :)

[2019-07-04 16:39] lx-stripe commented on #803
Hey @tiwariayush , so cool!! I've been quite busy the last few days and couldn't find time to finish my work on top of @aymericderbois fork – now it's no longer needed :) Great job!!

Next Monday I'll definitely have some time to help with anything that might be pending. I think it would be a good idea to include the new `setup_future_usage` attribute [[0]], so the users affected by SCA can get a

[2019-07-05 21:29] matteing opened #916 "AttributeError: sources after customer purge, can't fix it"
Hi,
I'm having quite a bit of trouble here: I tried to .purge() a customer as a way of removing all payment sources, and it seems to have broken everything - the customer doesn't want to create again.

[code]

[2019-07-05 21:31] matteing commented on #916
Not only this, when sending failed webhooks, the server returns an integrity error (possibly related):

[code]

[2019-07-05 21:36] matteing commented on #916
I suspect it's an inconsistency between webhooks that failed and whatnot...

UPDATE: Not a webhook inconsistency. Replicated on clean DB. Customer object is deleted remotely but locally it doesn't seem to be, and even after syncing (or get_or_create), it's still doing this error.

[2019-07-05 23:01] matteing commented on #823
This just occurred on my end.

[2019-07-07 03:31] therefromhere commented on #916
It's actually intentional that `.purge()` doesn't delete the Customer locally, though this was implemented long before my time, I don't know off-hand why.

One thing that definitely looks like a bug is that we're explicitly removing `.legacy_cards` (`Card`s) but not also `.sources` (`Source`s), which looks like it might relate to your initial error.

https://github.com/dj-stripe/dj-stripe/blob/084

[2019-07-07 04:36] therefromhere commented on #916
Yeah, I can reproduce the problem.

I think the sources detach I suggested is needed, but the deeper problem is that we're not handling the case of recreating a deleted customer correctly - both the `sources` AttributeError and the not-null account_balance you're seeing are because the code is currently trying to work with a deleted customer object rather than re-creating it.

[2019-07-07 06:05] matteing commented on #916
I ended up implementing a card remove and detach function - exactly what the method does without the delete - but this behavior should be documented, as it’s quite odd.

On Jul 7, 2019, at 12:36 AM, John Carter <notifications@github.com<mailto:notifications@github.com>> wrote:

Yeah, I can reproduce the problem.

I think the sources detach I suggested is needed, but the deeper problem is that we'r

[2019-07-07 09:44] therefromhere commented on #916
Something that confused me while trying to debug this is that although we set `Customer.subscriber = None` in  `Customer.purge()` (and Stripe doesn't allow un-deletion of Customers), because of the way we handle idempotency keys, if you try to re-create a customer for a given subscriber within 24 hours of its initial creation, it'll fail in a strange way, due to the idempotency key hitting the old

[2019-07-08 09:58] aymericderbois commented on #803
Cool, that's great!
I'm really sorry I can't be more present and responsive, but i'm busy on my main activity :(.

It's really cool to see that this feature is almost ready :) !

[2019-07-20 04:10] therefromhere commented on #89
I've added a manage command to sync arbitrary models in #919, though I'll leave this ticket open since
doesn't trigger webhook signals.

[2019-07-21 09:38] #916 closed, assigned to nobody

[2019-07-22 10:23] cameronepstein commented on #419
Did anyone find a fix to this? Tried kccheung's method and no fix. Still not getting any triggers from ```@webhooks.handler('plan.created')```

[2019-07-25 06:23] kavdev commented on #419
@cameronepstein what version of dj-stripe are you running?

[2019-07-25 06:38] kavdev opened #920 "Add a codecov yaml configuration"
Codecov has switched to using a yaml spec since we first set up a config 4 years ago. Add a yaml config that makes sense, and remove the annoying codecov report -- status checks are enough.

[2019-07-25 06:48] kavdev commented on #833
@therefromhere @jleclanche The reason for error suppression was to avoid returning 500s to stripe, as stripe used to (and probably still does) shut down webhooks to an endpoint if it saw failures come back from that endpoint.

I think logger.exception() might be better in this case.

[2019-07-25 06:52] tasn commented on #833
@kavdev, I've been using this fix in production since February (and have experienced server errors) just fine! Stripe tries again a few minutes later and that's it. I don't know if they have a cut-off at some point, but if they do, I've never reached it.

[2019-07-25 06:53] kavdev commented on #833
@tasn good to know! They must have changed their policy.

[2019-07-25 07:25] kavdev commented on #740
Stripe doesn't provide an account id for every object in the api (at least last time I checked), so there's no way for us to know to which account a model instance belongs, and thus no easy way to segment data by account. We were considering possible hacks around this limitation, but decided to push that off (as @jleclanche mentioned)

I brought this up to one of our stripe reps, and she said she'

[2019-07-25 07:27] kavdev commented on #740
@ryancausey yes. We then can track it as blocked

[2019-07-25 07:46] kavdev opened #921 "Remove mention of Python 3.4 support in README"
Python 3.4 is EOL: https://devguide.python.org/devcycle/#end-of-life-branches

[2019-07-25 08:01] therefromhere commented on #921
Already done, I think?

See #824 / 36402e7add2fff810636f41f02208703f8b52e64

[2019-07-25 08:05] kavdev commented on #921
@therefromhere yep. Looks like just a readme change then: [readme](https://github.com/dj-stripe/dj-stripe/blob/master/README.rst#requirements)

Also, idk if this might be able to be removed: [test harness IS_EXCEPTION_AUTOSPEC_SUPPORTED](https://github.com/dj-stripe/dj-stripe/blob/master/tests/__init__.py#L40)

[2019-07-25 08:19] kavdev commented on #818
@williamflynt are you still seeing this issue?

[2019-07-25 08:23] kavdev commented on #576
see also https://github.com/dj-stripe/dj-stripe/pull/858 and https://github.com/dj-stripe/dj-stripe/pull/862

[2019-07-25 08:42] kavdev commented on #725
Closed as nonrepro with latest. Use v2 if you're encountering issues.

[2019-07-25 08:42] #725 closed, assigned to nobody

[2019-07-25 08:58] kavdev commented on #867
@tkrevh I just realized we have a [``Subscription.reactivate()``](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/billing.py#L1155) method that should work for you.

[2019-07-25 09:00] kavdev commented on #867
I still want to figure ifthe regression mentioned in #868 was planned in favor of the reactivate method, so I'm leaving this open for now.

[2019-07-25 09:55] kavdev commented on #809
@therefromhere are you able to reproduce this in latest?

[2019-07-25 14:04] tkrevh commented on #867
@kavdev thanks, `Subscription.reactivate()` would be a viable workaround yes. But as I said, it was working in v1.0.1 and stopped in v1.2 (and same problem persists in v2.0). Maybe worth mentioning it in the upgrade documentation?

[2019-07-27 17:50] williamflynt commented on #818
I haven't tried it lately -- I'll see if I can look at it today.

[2019-07-28 03:38] #921 closed, assigned to therefromhere

[2019-07-28 03:56] therefromhere commented on #809
@kavdev I can't reproduce the `TypeError` problem.

To be honest I've never used our `Customer.subscribe()` since it didn't support the args I needed for my implementation - actually I forgot it existed when I documented subscription creation here ( https://dj-stripe.readthedocs.io/en/latest/usage/subscribing_customers.html ) :grimacing: .

[2019-07-28 06:35] kavdev opened #924 "Update subscription usage doc to use Customer.subscribe()"
https://dj-stripe.readthedocs.io/en/latest/usage/subscribing_customers.html

[2019-07-28 06:36] kavdev commented on #809
https://github.com/dj-stripe/dj-stripe/issues/924 :)

[2019-07-28 06:37] kavdev commented on #809
Closing as fixed somewhere along the line since this first came up. Please yell at me to reopen if that's not the case

[2019-07-28 06:37] #809 closed, assigned to nobody

[2019-07-29 19:26] kavdev opened #925 "Collect and add release notes to GitHub releases"
The last release update was 9 releases ago. Go in and add some flavor
https://github.com/dj-stripe/dj-stripe/releases

[2019-07-29 19:58] kavdev commented on #576
@therefromhere @jleclanche Should this be a simple unlink, or should we mark the objects as "purged" as we do with Customer?

[2019-07-29 20:29] kavdev opened #926 "Switch to Black"
Let me start by saying this isn't a dig on Tan or people in the tabs camp by any means.

We're currently using @jleclanche's Tan for formatting because we, as a team, decided to switch to tabs.

Here are some reasons we should switch to Black, and, therefore, switch back to spaces:
* sing a fork means we're not up-to-date with latest Black
* **Pep 8 [specifically says use spaces](https://www.pytho

[2019-07-29 20:36] kavdev commented on #821
drf latest dropped support for python 2. the django-jsonfield library looks to have gone stale as soon as django added the postgres jsonfield support. Idk how we should deal with that.

[2019-07-29 20:38] kavdev commented on #867
See https://github.com/dj-stripe/dj-stripe/pull/868#issuecomment-516138289

[2019-07-29 20:38] #867 closed, assigned to kavdev

[2019-07-29 21:48] therefromhere commented on #821
Yeah, I think the simplest option is switching to a fork of jsonfield - eg https://github.com/rpkilby/jsonfield2/ ?

[2019-07-29 21:58] therefromhere commented on #926
:+1: from me, my only concern is that the big reformat makes the commit history difficult to follow, but worth it I think.

[2019-07-29 22:04] therefromhere commented on #576
I don't know.  What's the reasoning behind the Customer purge behaviour?

[2019-07-29 22:19] therefromhere commented on #926
hopefully this isn't a deal-breaker for @jleclanche ?

[2019-07-29 22:26] kavdev commented on #576
keeping the local data intact for reporting. I suppose that goes against our "stripe == one source of truth" philosophy

[2019-07-29 23:48] therefromhere opened #927 "Add code format check to CI"
Currently we have a flake8 step that also runs isort, it would be good to have this also run tan/black, so unformatted changes cause a CI failure.

Note that isn't quite as simple as running tan or black with `--check`, since they currently disagree with isort about formatting of imports, but something like running ```tan --use-tabs .; isort --apply``` and looking for changes would work.

At this

[2019-07-30 01:01] jleclanche commented on #926
This doesn't matter enough for me (at least, [not in the context of djstripe](https://www.reddit.com/r/javascript/comments/c8drjo/nobody_talks_about_the_real_reason_to_use_tabs)) to have a say in this. All I hope is Black will themselves reconsider their ridiculous stance, now that they're no longer a "hobby" project and are actually PSF-sponsored and all.

[2019-07-30 10:50] lskillen commented on #926
:+1: from me as well. I utilise Black extensively elsewhere in the Python ecosystem, so for me this is the "default tooling" argument (regardless of not agreeing 100% with some of the decisions, but in the end consistency is key).

[2019-07-30 20:18] kavdev commented on #927
@therefromhere good news, I think? https://github.com/psf/black/issues/127

[2019-07-30 20:19] kavdev commented on #927
Also, +1 on the idea of using the word "lint"

[2019-07-30 20:39] therefromhere commented on #927
Ok, so from that it seems that configuring isort like this will do the trick? https://github.com/einsteinpy/einsteinpy/pull/205

[2019-07-30 20:57] kavdev commented on #927
Yep. https://github.com/einsteinpy/einsteinpy/issues/185, specifcally [this config pattern recommended by Black](https://black.readthedocs.io/en/stable/the_black_code_style.html?highlight=.isort.cfg#how-black-wraps-lines)

[2019-08-01 09:21] therefromhere opened #929 "Support default_payment_method on customer"
See https://stripe.com/docs/api/payment_methods/attach

- [x] Add `Customer.invoice_settings` (JSONField?) (#931)
- [x] Add default_payment_method ForeignKey
- [x] Add a `set_default=True` param to `Customer.add_payment_method` to match `add_card`
- [ ] ~Update `Customer.can_charge` - Maybe add a `Customer.has_valid_payment_method` to match had `has_valid_source`? (not a great method name though,

[2019-08-01 09:36] #803 closed, assigned to nobody

[2019-08-01 09:37] therefromhere commented on #897
Resolved by #914

[2019-08-01 09:37] #897 closed, assigned to nobody

[2019-08-03 22:44] #926 closed, assigned to kavdev

[2019-08-04 01:00] #927 closed, assigned to nobody

[2019-08-07 23:49] therefromhere opened #932 "Run travis vs MySQL as well as postgres"
Since we have some fairly complex migrations (some of which are vendor specific) it'd be good to automatically test vs MySQL in travis (and maybe with an allowed fail on sqlite).

E.g. see how wagtail does it:

https://github.com/wagtail/wagtail/blob/master/tox.ini
https://github.com/wagtail/wagtail/blob/master/.travis.yml

Some migration related issues this might have caught: #735 #762

[2019-08-15 17:53] takumatakuma commented on #850
For anyone who still gets the pending trigger error with 2.0.3 migrating from 0002, I manually ran John's [command](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/migrations/0003_auto_20181117_2328_squashed_0004_auto_20190227_2114.py) before the migration separately and it worked.

[2019-08-16 09:31] aaronn opened #937 "Customer, Subscription, and User out of sync."
I'm using `djstripe` with the webhooks but I keep feel like I'm doing something wrong.

Customers and subscriptions all seem to be created unpredictably (probably because they come down as webhooks in an indeterminate order via the checkout and subscription created calls) but this means I can't predictably map it to my user model. I've ended up having to fork the repo to get it to work predictably

[2019-08-16 20:09] Skorpyon commented on #937
I feel you need create customer manually firstly, before create subscription.

[code]

Webhooks can not create you link between user and customer, because user exists only in your database and Stripe don't know anything about it.

[2019-08-16 20:31] Skorpyon opened #938 "PaymentIntent does not save because status field too short"
Hey, guys and girls.

Actually ~winter~ SCA is coming, so we need fix PaymentIntents.

I found a bug, **PaymentIntentStatus** Enum made in wrong way and it born unexpected issue.

Current code trying inherit Enums:
https://github.com/dj-stripe/dj-stripe/blob/5aa810c3607a76ade2428ec3dc07cf92f3ecb539/djstripe/enums.py#L310-L314
https://github.com/dj-stripe/dj-stripe/blob/5aa810c3607a76ade2428ec3dc07

[2019-08-16 22:54] therefromhere commented on #937
Yes @Skorpyon is correct - use `Customer.get_or_create` (note - not `Customer.objects.get_or_create`).

I've not worked with cancelling customers much, but I would hold off deleting the customer until the end of your cancellation process.

[2019-08-16 23:09] therefromhere opened #939 "Add a PaymentIntent.create classmethod?"
Suggested by @Skorpyon in #938

[2019-08-16 23:09] therefromhere commented on #939
A `PaymentIntent.create()` classmethod is possible, though it seems like it would be a very thin wrapper around `stripe.PaymentIntent.create` (maybe just do a `cls.sync_from_stripe_data` on the result).

I was initiallly thinking maybe it should be a method of Customer instead, but since you can create PaymentIntents without a customer I think a PaymentIntent classmethod would be the way to go.

[2019-08-16 23:19] therefromhere commented on #938
Thanks for the enum bug report, I'll take a look.

I've added #939 for the `create` method.

When it's ready :grin: (sorry!).

I've not used it in a proper project yet so I'm reluctant to release it just yet - as you've found it needs a bit of testing.  However, I do have a new work project starting that should use this code, so I should be able to test it in a real project in the next few weeks.

[2019-08-17 01:36] therefromhere commented on #904
This might get bumped to next milestone instead.

[2019-08-17 02:16] #938 closed, assigned to nobody

[2019-08-18 20:28] tasn opened #941 "PaymentMethod (and potentially other new SCA models) don't sync from web hooks"
**Describe the bug**
I'm using 4a828a48092a3904094917776ce725ec9aa3fce5 (after the #914 merge) and trying to set up an SCA complaint flow though I'm encountering issues with the web hooks, they don't seem to sync.
The reason, I assume, is that the stripe object name in the event is "payment_method" while the name in the PR is "paymentmethod". I assume it's the same issue for the other new models.

[2019-08-18 20:33] tasn opened #942 "PaymentMethod detachment doesn't work because it doesn't unset customer"
**Describe the bug**
I'm using 4a828a48092a3904094917776ce725ec9aa3fce5 (after the #914 merge) and trying to set up an SCA complaint flow.
As I said in #941, the events don't sync this model. Though even if I sync it manually (using sync_from_stripe_data), it doesn't work correctly for the detached payment_method case. The customer isn't actually detached (the content of the stripe event is `custo

[2019-08-18 20:38] tasn opened #943 "PaymentMethod detach is missing and attach is awkward"
**Describe the bug**
I'm using 4a828a48092a3904094917776ce725ec9aa3fce5 (after the #914 merge) and trying to set up an SCA complaint flow.
While there's a `PaymentMethod.attach` function to attach a payment method to a customer, it's awkward for a couple of reasons:
1. It should be an object method, not a class method. The way it is now, it's just a thin wrapper around the Stripe method.
2. It sho

[2019-08-19 03:47] alexandre-paroissien commented on #850
@takumatakuma Out of curiosity, which is your postgres version?

[2019-08-19 18:08] tasn opened #944 "Customer "can_charge" doesn't work with payment_method"
**Describe the bug**
This is something I already flagged in #914, but I guess it slipped through.
The Customer model's "can_charge" only checks if the customer has a valid source, but with payment_methods you now need to check if there's maybe a valid payment_method too.

**To Reproduce**
1. Create a customer
2. Add a payment_method (assuming #941 is fixed)
3. Call customer.can_charge()
4. It retu

[2019-08-19 21:17] therefromhere commented on #944
Yeah, it's already on the checklist of #929 but no problem having a separate ticket for it.

[2019-08-19 23:59] #932 closed, assigned to nobody

[2019-08-20 22:34] bwilliams18 opened #946 "AttributeError on Webhook when creating subscription with Card"
**Describe the bug**
Whenever I try to create a subscription in the Stripe Dashboard linked to a credit card, I get the below error
**To Reproduce**
Steps to reproduce the behavior:
1. Enable stripe webhook to dj-stripe
2. In stripe dashboard create a subscription with a credit card
3. See attached error on webhook
[error.txt](https://github.com/dj-stripe/dj-stripe/files/3522851/error.txt)

**Expe

[2019-08-20 22:42] therefromhere commented on #946
Thanks for the report, presumably this doesn't happen with the pypi released version?

[2019-08-20 22:46] therefromhere commented on #946
It's due to the class in question not having `stripe_class` set.

[code]

[2019-08-20 22:52] bwilliams18 commented on #946
I was having this issue with the pypi released version as well, but wanted to upgrade to master to see if it was fixed. It's still happening there.

Yeah, I saw that but none of this calls any code that I have written, so am I doing something wrong or is this a bug in djstripe?

[2019-08-21 00:01] therefromhere commented on #946
It sounds like a dj-stripe bug, but I can't reproduce it on the latest stable release (2.0.3)  (I haven't tried master yet).

Can you post the request body that's causing the error?

See http://127.0.0.1:8000/admin/djstripe/webhookeventtrigger/

[2019-08-21 00:13] therefromhere opened #947 "Update to stripe API 2019-08-14"
I'm not sure any of these changes affect dj-stripe functionality:

https://stripe.com/docs/upgrades#2019-08-14

Need to try regenerate test fixtures with that API version set.

[2019-08-21 15:42] bwilliams18 commented on #946
So the event's aren't being captured in the webhookeventtrigger objects.
Attached is the request from the square dashboard (Developer,Events,Webhookrequest)

[webhookeventtrigger.txt](https://github.com/dj-stripe/dj-stripe/files/3526123/webhookeventtrigger.txt)

[2019-08-22 08:15] therefromhere commented on #829
See #946 for example data - this is breaking sync for a customer with a `bank_account` in `sources`.

[2019-08-22 08:17] therefromhere commented on #946
OK, I can reproduce the issue - it's not the card, it's the bank account payment source that dj-stripe can't handle.

Closing this as a duplicate of #829, we'll try and fix that for the next release though.

[2019-08-22 08:17] #946 closed, assigned to nobody

[2019-08-23 12:08] annshress commented on #248
This documentation has been on pending list since 2015?

[2019-08-24 12:02] rizwanarshad-esketchers opened #949 "Request Error while creating plan from admin"
**InvalidRequestError at /admin/djstripe/plan/7/change/**

When i create plan from django admin it failed with InvalidRequestError.

*Request Method*: POST
*Request URL*: http://localhost:8000/admin/djstripe/plan/7/change/
*Django Version*: 2.1
*Exception Type*: InvalidRequestError
*Exception Value*: Request req_BEeo0w9tQA8O5O: Received unknown parameter: name
/home/esketchers/webapps/Envs/env_loc

[2019-08-26 10:31] #829 closed, assigned to nobody

[2019-08-27 16:25] ndjdev commented on #939
My PR should cover this https://github.com/dj-stripe/dj-stripe/pull/950

[2019-08-27 16:51] kavdev commented on #248
@annshress [updated docs link](https://dj-stripe.readthedocs.io/en/stable-2.0/usage/cookbook.html#making-individual-purchases). Pull requests to flesh out the docs are more than welcome.

[2019-08-27 21:38] greyhare opened #951 "models.checkout.Session might have wrong stripe_class"
In `djstripe.models.checkout` there appears to be some copy/paste leftovers:

[code]

I'm pretty sure that's supposed to be `stripe_class = stripe.checkout.Session`.

[2019-08-27 22:06] therefromhere commented on #951
Yep, looks like it. Thanks for the report.

[2019-08-28 09:19] #951 closed, assigned to nobody

[2019-08-28 10:04] therefromhere commented on #247
2 years later...

I'm not sure if there's a better ticket for this, but I assume we're still thinking that moving towards storing all currencies as ints is the way forwards?

We've currently got a mix of `StripeQuantumCurrencyAmountField` and `StripeDecimalCurrencyAmountField` - the new PaymentIntent amount fields were implemented as  `StripeQuantumCurrencyAmountField`.

I'm not sure how we'd safe

[2019-08-29 05:46] ryancausey commented on #89
I just hit a case where I wanted to be able to run a management command that manually pulls in events and runs webhook event handlers. My plan is to write a command specific to `Event` objects that pulls the data from stripe and calls `Event.process` with the data. It appears that we can rely on `Event.process` to not fire webhooks if the `Event` object already exists in the django DB.

I'll try t

[2019-08-29 07:12] therefromhere commented on #89
Sounds good to me :+1:

I agree that a separate command makes sense.

[2019-08-30 02:25] takumatakuma commented on #850
@alexandre-paroissien I'm using 10.9 on Heroku Postgres.

[2019-08-30 23:11] therefromhere opened #955 "Standardise currency value storage as cents (StripeQuantumCurrencyAmountField)"
Stripe handles all currency values as integer cents, but we currently have a mixture of storage as cent and as decimals.

`StripeDecimalCurrencyAmountField` stores as decimal dollar (etc) values, ie $1.99 = `Decimal("1.99")`)

`StripeQuantumCurrencyAmountField` stores as integer cents values, ie $1.99 = `int(199)`

Currently we have something like 16 Decimal fields and 12 Quantum fields (see below

[2019-08-30 23:11] therefromhere commented on #247
I've added #955 to track this issue.

[2019-08-31 04:06] ryancausey commented on #89
Draft PR open(#954). I'm going to try to test it out over the weekend.

[2019-08-31 06:57] #941 closed, assigned to nobody

[2019-08-31 06:57] therefromhere commented on #941
Should be fixed now, thanks!

[2019-08-31 08:26] tasn commented on #941
Sweet, thanks!

[2019-08-31 13:52] onekiloparsec commented on #947
Would be happy to have a look if I knew how you "regenerate test fixtures".

[2019-09-01 03:58] therefromhere opened #958 "Support Plan.amount_decimal field"
There's a fairly new field `Plan.amount_decimal field`:

https://stripe.com/docs/api/plans/object#plan_object-amount_decimal

For normal values amount_decimal = str(amount):

E.g.  with a price of price of $12.95

amount = 1295
amount_decimal = "1295"

We should probably implement a new field type (in addition to the existing StripeQuantumCurrencyAmountField and StripeDecimalCurrencyAmountField) s

[2019-09-01 04:02] therefromhere commented on #955
Added #958 for a special case (probably would need a 3rd CurrencyAmountField class to support).

[2019-09-01 22:03] therefromhere opened #959 "PaymentMethod.card_present should be nullable"
It looks like PaymentMethod.card_present should be nullable - most of our JSONFields are.

See failing example posted by @ryancausey

_Originally posted by @therefromhere in https://github.com/dj-stripe/dj-stripe/pull/954#issuecomment-526884478_

[2019-09-02 18:28] ryancausey opened #960 "PaymentIntent Event with transfer_data fails to process"
**Describe the bug**
It looks like the `Account` model has foreign keys to `FileUpload`, but the default machinery in `_get_or_create_from_stripe_object()` fails at `cls_instance.api_retrieve()` when trying to sync the related `FileUpload` due to the file object existing in the connected account, not the platform account. This manifests as a `No such file upload` error from the Stripe API.

**To R

[2019-09-02 21:38] kavdev commented on #947
@onekiloparsec [docs](https://dj-stripe.readthedocs.io/en/stable-2.0/project/test_fixtures.html#regenerating-the-test-fixtures). Feel free to ask questions

[2019-09-02 21:41] kavdev commented on #955
@therefromhere I think it's time we finally bit the bullet and moved fully to cents. We might want to have  `amount_*_decimal` cached properties on our models to match what stripe is doing in #958 and to make the transition easier.

[2019-09-02 22:16] ryancausey commented on #960
Confirmed that passing the `Account.id` as `stripe_account` allows for the file to be retrieved.

[code]

[2019-09-02 22:26] therefromhere commented on #955
Yeah, I'm happy for us to move towards storing cents instead of decimal dollars.

So for now, shall we say that all new fields should be in cents (with comments on the fields to that effect), plus a note in the CHANGELOG about an upcoming migration of existing fields (probably for 3.0), and yeah we could look at adding *_cents and/or *_decimal properties on the models to help the migration.

We sh

[2019-09-02 22:42] therefromhere commented on #679
We should probably make it easier to find the Discord - currently it seems to be via word of mouth...

[2019-09-03 06:44] #89 closed, assigned to nobody

[2019-09-03 18:52] theikkila opened #964 "PaymentIntent sync: canceled_at-field is parsed incorrectly due wrong field type"
**Describe the bug**
``PaymentIntent.canceled_at`` is wrong type and it will cause exception when handling any sync operation with data from stripe containing unix-timestamp in that field.

Field type is currently normal `DateTimeField` when it should be djstripe specific `StripeDateTimeField`

Stacktraces will be like this:
[code]

**To Reproduce**
1. Sync with stripe data that contains timestamp

[2019-09-03 20:10] #964 closed, assigned to nobody

[2019-09-03 22:06] kavdev commented on #679
@therefromhere add it as a pill on the readme?

[2019-09-03 22:42] therefromhere commented on #679
Yep.

[2019-09-03 22:49] therefromhere commented on #679
@kavdev or maybe better in https://dj-stripe.readthedocs.io/en/master/project/contributing.html ?

Or fill in the empty https://dj-stripe.readthedocs.io/en/master/project/support.html - I'd like people to at least read the docs & try looking at github issues before they ping us.

[2019-09-03 22:53] therefromhere opened #966 "Update contributing docs, mention discord"
Mention discord as a place for questions re contributing.

(from https://github.com/dj-stripe/dj-stripe/issues/679#issuecomment-527670052_ )

[2019-09-03 23:33] kavdev commented on #679
makes sense in the contributing docs. it should really be restricted to help or questions regarding contributing

[2019-09-04 00:10] theikkila opened #967 "PaymentMethod event incorrect behavior"
**Describe the bug**
I encountered a new bug related to new models (#914 ) in current master.
At least `payment_method.*`-events are not working correctly with the general crud-style handling.

The payload can contain ie. card id instead of real PaymentMethod IDs and that means you can't currently retrieve them through stripe `/v1/payment_methods/:id`-api.

I also reported that to stripe (related

[2019-09-04 02:17] therefromhere commented on #960
Interesting, I'm not familiar with connected accounts, I'll have to take a look.

[2019-09-04 03:21] therefromhere commented on #740
This came up again in reference to #960/#962.  I think we're unlikely to support this in the upcoming 2.1 release (since getting PaymentIntent support live is pressing), but it could be a focus for 2.2 - I've not looked into how much work it would be (@ryancausey has made a start in #962).

[2019-09-04 09:53] PabloCastellano commented on #959
Looks like this issue has been fixed already in https://github.com/dj-stripe/dj-stripe/commit/af5d74828b1a53e8672bdc1e32cd88615cd102ba and can be closed now

[2019-09-04 09:59] therefromhere commented on #959
Yep, thanks, I forgot to close this.

Resolved by #961

[2019-09-04 09:59] #959 closed, assigned to nobody

[2019-09-05 03:17] therefromhere opened #970 "Sync doesn't follow reverse OneToOneFields (eg PaymentIntent.invoice)"
Currently our sync_from_stripe_data logic only handles forward ForeignKeys / OneToOneFields.

It would be useful if it could handle reverse OneToOneFields, because currently for example if you sync a PaymentIntent, the associated invoice isn't synced because they're related by Invoice.payment_intent.

It would be nice to get this fixed before 2.1 release, but not an absolute blocker I think.

[2019-09-05 05:58] therefromhere opened #971 "Balance fields should probably be StripeQuantumCurrencyAmountField"
These fields are currently IntegerFields, but should probably be StripeQuantumCurrencyAmountField, since they're storing an integer currency value:

- Customer.balance
- Invoice.starting_balance
- Invoice.ending_balance

Should just be a matter of updating the models in question and their existing migrations (since StripeQuantumCurrencyAmountField subclasses IntegerField).

(see #955 for bigger ti

[2019-09-05 06:14] therefromhere commented on #740
Provisionally putting this into 2.2 milestone, needs some investigation as to how much work it'd be / if it'll break much.

[2019-09-05 06:21] therefromhere commented on #818
Assuming this is now working, please ping if not.

[2019-09-05 06:21] #818 closed, assigned to nobody

[2019-09-05 06:42] therefromhere commented on #672
Something we might want to look at for 2.2 release.

However it doesn't seem to support PaymentIntent/PaymentMethod yet (or other new objects like TaxIds), so maybe we should hold off until it does.

[2019-09-05 20:44] akarca commented on #650
I fixed the migration issue with replacing null fields with empty string:
`Customer.objects.filter(business_vat_id__isnull=True).update(business_vat_id="")
Customer.objects.filter(currency__isnull=True).update(currency="")`

[2019-09-05 23:31] therefromhere opened #972 "Document our plan to standardise on storing currency in cents"
- [x] Add note on field classes that StripeQuantumCurrencyAmountField should be used for new fields
- [x] Update changelog about 3.0 migration to cents

_Originally posted by @therefromhere in https://github.com/dj-stripe/dj-stripe/issues/955#issuecomment-527251976_

[2019-09-06 10:18] johanneskoch opened #973 "Missing values in SubscriptionStatus: incomplete, incomplete_expired"
The values in https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/enums.py#L541 do not match the values in https://stripe.com/docs/api/subscriptions/object#subscription_object-status

Specifically, the `incomplete` and `incomplete_expired` values are missing. This raises an `django.db.utils.DataError` when trying to run `Customer.subscribe` with a payment method that requires 3DS, since th

[2019-09-06 18:59] therefromhere commented on #973
Thanks for the report!

[2019-09-06 20:33] #973 closed, assigned to nobody

[2019-09-07 22:17] #852 closed, assigned to nobody

[2019-09-07 23:08] #947 closed, assigned to nobody

[2019-09-07 23:44] #971 closed, assigned to nobody

[2019-09-07 23:57] therefromhere commented on #967
Thanks for the report and for chasing up with Stripe devs, it looks like we'll need to put in some special handling unless Stripe fix it on their side.

[2019-09-08 07:27] therefromhere commented on #943
I've partly fixed the PaymentMethod.attach issues in #936 - it's still a classmethod, but if you have a Customer object you can you can use customer.add_payment_method(pm) so I think that's OK.

[2019-09-08 08:40] therefromhere commented on #939
Removing this from 2.1.0 milestone because I don't think it's a blocker on release.

[2019-09-08 21:25] #929 closed, assigned to nobody

[2019-09-08 21:25] #944 closed, assigned to nobody

[2019-09-08 21:27] therefromhere commented on #944
Fixed, thanks for the report.

[2019-09-08 21:35] therefromhere commented on #943
I might bump the PaymentMethod.detach part of this this to next minor release (2.1.x) since I don't think it's a blocker on 2.1.0 release.

[2019-09-08 21:38] therefromhere commented on #960
I might bump this to next minor release (2.1.x) since I don't think it's a blocker on 2.1.0 release and it doesn't look like #962 is going to introduce any breaking changes.

[2019-09-08 21:40] ryancausey commented on #960
Alright. I'm working on tests for #962 so it should be good to go soon regardless of what is decided.

[2019-09-08 22:04] therefromhere commented on #967
I'll take a look at this but might bump it to the 2.1.x release.

[2019-09-08 22:09] therefromhere opened #978 "Release 2.1.0"
With the SCA rules coming into effect very shortly I'd like to get the 2.1.0 release live as soon as we're fairly confident that we won't need to make any breaking changes (ie migrations).

I think we're nearly there, see outstanding issues on the [2.1.0 milestone](https://github.com/dj-stripe/dj-stripe/milestone/7), please shout out if you have an issue that looks like it'll require breaking chan

[2019-09-09 09:25] #942 closed, assigned to nobody

[2019-09-09 09:26] therefromhere commented on #942
Fixed, thanks for the report!

[2019-09-09 09:26] tasn commented on #978
I like the idea of having an rc that is essentially the release but for people who used master and need to apply migrations. Good idea!

[2019-09-09 09:51] therefromhere commented on #967
I notice that your example is for a payment_method.detached event, I *think* at least part the problem here is that the old-style Card objects can't actually be detached in the same way as Source or PaymentMethod - they're deleted on the Stripe side when they're removed - I suspect that's probably confusing some things where Stripe is wrapping cards in a PaymentMethod.

I'm not sure if that's the

[2019-09-09 16:53] scruffs commented on #650
The solution posted by @akarca also solved the same issue for me when upgrading from 1.2.3 to 2.0.4. Thanks!

[2019-09-09 19:50] therefromhere opened #986 "Document our preferred model field types"
In project contribution docs.  Cover the following:

* TextField(max_length=5000, default="", blank=True) and why ref https://github.com/stripe/openapi/issues/26 )
* StripeEnumField
* StripeQuantumCurrencyAmountField for currency amounts
* StripeDateTimeField (for datetimes and dates?)

[2019-09-10 02:19] ryancausey opened #987 "Using instance methods on list objects no longer recommended"
Got this feedback on an issue I opened on the Stripe API python client (https://github.com/stripe/stripe-python/issues/609). Not sure that the alternative example given does what we want, at least for the usage in `LegacySourceMixin.api_retrieve`.

For now it looks like they're fixing those methods not taking the extra kwargs, but maybe we should move away from them if their use is discouraged?

[2019-09-10 02:35] therefromhere commented on #987
Thanks for looking into this.

[2019-09-10 09:38] therefromhere commented on #912
Done!

[2019-09-10 09:38] #912 closed, assigned to therefromhere

[2019-09-10 09:54] therefromhere commented on #978
OK, think we're nearly there, I've got through the new models in the API and make a few tweaks (see #912 and linked PRs).

I'll try running this in a prod-like environment probably tomorrow, if it looks good I'll merge #990 to squash migrations, release that as 2.1.0rc, and then release 2.1.0 fairly soon afterwards.

[2019-09-10 13:22] bwilliams18 commented on #830
Was there ever a solution to this?

[2019-09-10 19:05] therefromhere commented on #830
I'm not sure.  What version of djstripe are you seeing it with?

[2019-09-10 20:26] bwilliams18 commented on #830
Master.

[2019-09-11 01:06] therefromhere opened #991 "Customer.add_card (etc) hits "AuthenticationError: No API key provided." with stripe==2.36.0"
I've just found a breaking change with the latest version of the stripe python lib (2.36.0), see https://github.com/stripe/stripe-python/issues/611

This is manifesting in djstripe as ```Customer.add_card``` failing with "AuthenticationError: No API key provided.", I'm assuming we hit a similar problem in other places.

I'm going to hold of doing a 2.1.0 release for now until we decide how to hand

[2019-09-11 01:35] therefromhere commented on #991
If you're hitting this, the workaround for now is to either downgrade your stripe library ```pip install 'stripe<2.36'``` or to set your stripe secret key globally as per the normal stripe api examples:

[code]

[2019-09-11 01:36] therefromhere commented on #987
See also #991

[2019-09-11 01:48] therefromhere commented on #991
It's a regression, Stripe are on it.

[2019-09-11 02:20] therefromhere commented on #991
Note that our unit tests didn't find this because we're mocking the stripe objects in question.

My work project is using [vcr](https://github.com/kevin1024/vcrpy) to record/replay http requests so fortunately my integration tests there hit it.

We could do something similar but not sure I want *another* set of fixtures to maintain.

[2019-09-11 02:27] therefromhere commented on #991
Keeping this open for now until

- [x] we've confirmed it's fixed in 2.36.1 etc
- [x] it's merged to stable/2.0 (#993)

[2019-09-11 18:11] steverecio opened #994 "Tracking User Licenses"
I'm curious to hear how others are tracking user licenses with dj-stripe. I'm building a SaaS product where an admin will pay for X number of user licenses and then distribute them to the team. Maybe this is outside the scope of this project but might make for a good cookbook example in the docs.

Right now, I have access to the `Subscription` object which tracks the quantity of licenses purchased

[2019-09-11 20:51] steverecio commented on #650
@akarca @scruffs did you create a data migration to update these fields before the upgrading?

I have a production setup where I can't access a shell.

[2019-09-12 01:05] therefromhere commented on #978
I've released 2.1.0rc0 with the migration squash (see 33db6e9787bf443a66fcd5c24bdf6648dfba9f18).

[2019-09-12 01:18] steverecio opened #996 "Applying Discounts"
How can I apply discounts to a recurring subscription? I'm building a referral program where customers can accrue $10 off for every user they sign up. I see that I'm able to attach a coupon to a subscription but what happens when I want to credit their account between billings? How can I apply credits until there are none left and potentially add more later?

[2019-09-12 01:57] therefromhere commented on #991
Closing this now 2.1.0 and 2.0.5 are live with 2.36.0 excluded.

[2019-09-12 01:57] #991 closed, assigned to nobody

[2019-09-12 01:57] therefromhere commented on #978
2.1.0 is live now, thanks to everyone who contributed!

[2019-09-12 01:57] #978 closed, assigned to therefromhere

[2019-09-12 02:29] #996 closed, assigned to nobody

[2019-09-12 07:57] tasn commented on #943
None of these are blockers, I've been running an SCA complaint subscription service since #914 was merged, just by calling stripe directly. Detach: I'd have to keep on implementing it manually as this is how users remove payment info.

Thanks a lot for all of your great work!

[2019-09-12 10:32] Imphinium opened #997 "I'm not able to use the webhooks"
**Describe the bug**
Somehow I'm not able to create a handler for the webhooks. The server receives the request, and returns a 200 `"POST /stripe/webhook/ HTTP/1.1" 200 35`, but the handler doesn't trigger

**To Reproduce**
Steps to reproduce the behavior:

1. Follow the installation steps in a local server (my computer)
2. Open ports to allow communication with stripe
3. Create a test app
4. Defi

[2019-09-12 16:37] steverecio commented on #850
@takumatakuma How did you run this command? Can you supply a snippet? I'm trying to upgrade from 1.2.3 to 2.1.0 and having issues.

[2019-09-12 16:44] steverecio commented on #850
[code]

@therefromhere how do I import the result? Do you have a complete snippet I can run?

[2019-09-12 19:08] therefromhere commented on #997
Was that sending a test event, or did you really create a customer in the stripe dashboard?

If I remember right, test events are discarded before the webhooks are fired.

[2019-09-12 19:24] therefromhere commented on #850
That produces a SQL file, so you'd import however you run those - eg https://stackoverflow.com/questions/6842393/import-sql-dump-into-postgresql-database

[2019-09-13 01:54] therefromhere opened #999 "Update help texts of all CurrencyAmount fields to mention if they're dollars or cents"
An easy step to reducing dollars vs cents confusion (to be fully resolved by #955).

Currently some of them don't mention and I think some of them are wrong (probably due to copy-paste from stripe).

[2019-09-13 02:33] steverecio commented on #850
Oh ok I don't have access to my production DB shell so I couldn't use this. I need a django command at minimum but preferably something in the path of django migrate.

[2019-09-13 02:41] therefromhere commented on #850
I'm not sure why that's not working but you could maybe run the manage command from this (unmerged) PR, which should have the same effect.

https://github.com/dj-stripe/dj-stripe/pull/861/files

[2019-09-13 09:56] therefromhere commented on #925
I've made a start (added releases for 2.1.0, 2.1.0rc0, 2.0.5).

[2019-09-13 10:05] sibe7691 commented on #997
I am seeing the same thing with exact same setup, but for "payment_intent.succeeded"-event.

[2019-09-13 10:40] ndjdev opened #1000 "Webhook missing: invoice.payment_action_required"
I can't find any reference to ```invoice.payment_action_required``` anywhere, however this is a fairly critical piece of off-session SCA workflow. Is it simply a case of adding it to the signals list?

https://stripe.com/docs/api/events/types#event_types-invoice.payment_action_required

[2019-09-13 16:21] kavdev commented on #925
@therefromhere perfect

[2019-09-13 20:25] therefromhere commented on #1000
Yes it should be a simple fix.

[2019-09-13 21:31] #1000 closed, assigned to nobody

[2019-09-13 21:35] therefromhere commented on #1000
Fixed in master + stable/2.1, thanks for the report.

[2019-09-13 22:02] therefromhere commented on #720
Note that you can run tests vs sqlite with

[code]

Though we should probably make this a bit more obvious in CONTRIBUTING.rst

[2019-09-13 22:09] therefromhere opened #1002 "Should we allow webhook signals to fire on test events?"
Currently we ignore all test events, historically this was because we didn't support signature validation (we were validating by fetching the event, which would fail of course).

However since we do support signature validation now (since 2.0.0) we could if we wanted allow test events to get a bit further.

They'd fail to create objects of course, but maybe it would be useful for people developing

[2019-09-13 22:20] therefromhere commented on #997
@Imphinium @sibe7691

If you're using the "send test event" functionality, that won't fire djstripe's webhook handlers (see #1002).  @Imphinium 's example works fine for me when I actually create a customer in the stripe dashboard though.

[2019-09-13 23:27] #972 closed, assigned to nobody

[2019-09-14 23:49] therefromhere commented on #821
PS, not that it helps us with 3.0 compat, but there will hopefully be a cross-platform native jsonfield in Django 3.1 - see https://code.djangoproject.com/ticket/12990

[2019-09-15 01:57] therefromhere commented on #720
I've added mention of DJSTRIPE_TEST_DB_VENDOR=sqlite in #1004.

[2019-09-15 21:48] #960 closed, assigned to nobody

[2019-09-16 12:23] malikfaiq commented on #1002
@therefromhere it would be great if we let people test webhook events without creating actual Objects to initiate events.

[2019-09-16 12:29] malikfaiq commented on #994
It depends on the business model. I have added my own Membership model in which I am handling no of users to be created by Admin user. This type of subscription could not be general for all users it would make dj-stripe specific to some domain.

[2019-09-16 12:34] malikfaiq commented on #997
@therefromhere for default webhook url("/stripe/webhook/")  send test event is working and testing the webhook url mentioned in dashboard.

[2019-09-16 13:20] bwilliams18 commented on #830
How would people feel about in test mode catching this error for files and presenting a warning and not an error?

[2019-09-16 13:24] williamflynt commented on #830
Yes! Good idea. I engaged with Stripe and that didn’t end in a solution. I think this would work!

[2019-09-16 13:41] bwilliams18 commented on #830
Yeah, I'm talking with them in freenode now and they seem to feel like this is "expected functionality".

[2019-09-16 19:18] therefromhere commented on #830
Sounds good.  I'd like to be sure we target this as tightly as possible - eg maybe look for this string in the exception?

[2019-09-16 22:08] therefromhere commented on #1002
One thing to bear in mind - if we support connect account webhooks (see #740), since test data is sent to the production webhooks we'd presumably get dashboard webhook test events there as well.

[2019-09-17 09:40] tasn opened #1005 "Webhook errors for detaching payment method"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Detach a payment method (not source) outside of dj-stripe (though maybe that's broken too).

**Expected behavior**
Not error

**Environment**
- dj-stripe version: 2.1.0rc0
- Your Stripe account's default API version: 2019-05-16
- Database: postgres
- Python version: 3.7.4
- Django version: 2.2.5

**Can you r

[2019-09-17 10:56] therefromhere commented on #1005
I think this is the same issue as #967

[2019-09-17 12:25] tasn commented on #1005
Looks like it probably is. Looked different based on the title.

Sorry for the noise.

[2019-09-17 12:25] #1005 closed, assigned to nobody

[2019-09-17 12:26] tasn commented on #967
My server has been spitting our errors all the time ever since updating to rc0. Real pain in the ass. :|

I accidentally opened a duplicate at #1005. I closed it now, though you may find some of the details I put there useful.

[2019-09-17 20:33] arthurpham opened #1006 "Customer.subscription returns MultipleSubscriptionException if the customer has multiple incomplete_expired subscriptions"
Hi,

First of all, thank you for all your hard work, this is very useful.
I'm trying to implement SCA using dj-stripe 2.1.0.

However, the Customer.subscription returns a MultipleSubscriptionException exception if that customer has multiple subscription in the state incomplete_expired.
According to this page https://stripe.com/docs/billing/lifecycle :

So to me the issue is in Customer.valid_subsc

[2019-09-17 22:51] therefromhere commented on #1006
Yeah that sounds reasonable.

[2019-09-19 18:53] annshress opened #1007 "migration 0006_auto_20190729_1329 wont complete"
Currently, I am trying to deploy an application containing this package to AWS Elasticbeanstalk. Initially creating instance with `sqlite3` running as database, no issues are observed.

But once I configure a postgres database into the instance, the instance(t2.micro) uses up all its memory and stops responding. So turns out this particular migration was the culprit. It simply freezes (probably be

[2019-09-19 19:05] therefromhere commented on #1007
The runsql commands are renaming an index, you could try running that SQL on it's own, since the index name shouldn't matter (we're renaming it so it doesn't clash with a table we're creating in a later migration).

But yeah it's possible this is particularly memory intensive if you have a large number of cards in the system already - you might need a bigger db?

By the way, that migration is one

[2019-09-19 19:23] annshress commented on #1007
Thank you for prompt response. I guess you are correct about a bigger machine/db.

I will update the issue, if I find anything.

[2019-09-19 19:23] #1007 closed, assigned to nobody

[2019-09-20 07:46] annshress commented on #1007
Turns out to be memory issue. Thank you.

[2019-09-21 00:59] #1006 closed, assigned to nobody

[2019-09-23 12:01] tasn commented on #967
Any updates on this one? I'm getting so many errors from my server still, it's quite overwhelming. :(

[2019-09-23 14:09] malikfaiq opened #1009 "subscrition deletion webhook issue"
**Describe the bug**
I have created customer subscription deletion webhook by following djstripe documentation, because I want to maintain subscriptions with cancel status and update some application related models to maintain user wise all subscriptions.

This webhook hanlder throws `djstripe.models.billing.subscription.DoesNotExist ` exception while getting subscription object having subscriptio

[2019-09-23 19:36] therefromhere commented on #967
I've not had a chance to try a fix yet.

Is it only event type= "payment_method.detached" with   ```"object": { "id": "card_*``` that's causing errors, or is it a wider range of events?  Or a wider range of object ids?

[2019-09-23 19:47] tasn commented on #967
For what I've seen, only this.

[2019-09-23 21:46] therefromhere commented on #967
Thanks.  So yeah my hunch is that fix will be to special case this event in event_handlers.py, and only run the normal CRUD handlers if the id prefix isn't for legacy payment type (`card_` ) ~~/ `ba_` (bank account)~~).

[2019-09-23 21:53] unformatt opened #1010 "How to get plans back in sync if webhook fails?"
**Describe the bug**

The user's subscription has either expired or should have been updated with new "Current period end" but neither has happened. This is a dev server where webhook is not always processed. However, it's not unreasonable to think a webhook might be missed in production any number of reasons.

So the user's subscription is "active" even though the period end date has passed. I ca

[2019-09-23 22:04] therefromhere commented on #1010
Hi, the new manage commands `djstripe_process_events` or `djstripe_sync_models` should do what you want, but you'll need to upgrade your version of dj-stripe to 2.1 to get them (and upgrade to python 3, since py2 support was dropped in 2.0).

Alternatively you could look at backporting those commands to the stable/1.2 branch.

I'd suggest upgrading since python 2 is end of life soon, though I reco

[2019-09-23 22:11] unformatt commented on #1010
Appreciate the help @therefromhere - I will take a look!

[2019-09-23 22:11] #1010 closed, assigned to nobody

[2019-09-24 14:28] #195 closed, assigned to nobody

[2019-09-24 14:28] unformatt opened #1011 "How can I know when a trial expires?"
Stripe says it send a webhook 3 days before a trial expires. How can I tell when it actually expires? I'm trying to track Subscription status and it appears it goes like this:

- Trial ends: status goes from trialing -> active. Stripe creates invoice which has 1 hour to be paid
- After 1 hour, status goes from active to past due. There's then a 3 day grace period?
- After 3 days status goes from p

[2019-09-26 05:04] malikfaiq commented on #1002
Can we manage live and development webhook urls so there would be no test calls on production level.

[2019-09-26 16:52] ryancausey commented on #1009
Is it safe to assume that you're processing the webhook that adds the subscription as well? I know that stripe lets you specify which events will be sent to your webhook endpoint, so I just want to confirm that you're specifying that the add/update events get sent to your webhook endpoint as well.

[2019-09-27 12:30] malikfaiq commented on #1009
@ryancausey yeah I have configured the webhooks as configured in documentation and added the event which I want to receive on the webhook. Webhook is working  fine but I could not get the object from the djstripe models as mentioned. It thrown Does not exists exception.

[2019-09-27 12:31] malikfaiq commented on #1009
@ryancausey djstripe_subscription = djstripe.models.Subscription.objects.get(id=djstripe_subs_id) this line is causing the problem.

[2019-09-27 22:04] therefromhere commented on #967
Looking at this now, debug notes follow:

Creating a card through the stripe dashboard triggers the following events:

payment_method.attached   (object = `payment_method`, id = `card_xxx`)
customer.source.created   (object = `card`, id = `card_xxx`)
setup_intent.created (object = `setup_intent`, id = `seti_yyy`, payment_method = `card_xxx`)
setup_intent.succeeded (object = `setup_intent`, id = `s

[2019-09-27 22:19] therefromhere commented on #967
Also, the stripe PaymentMethod API does allow you to see cards - eg this works as expected : `djstripe.models.PaymentMethod(id="card_xxx").api_retrieve()`

I think my previous comment is right, the problem is that `card`s are deleted by Stripe on removal, and therefore the retrieve we do in `_handle_crud_like_event` fails.

[2019-09-27 23:35] #967 closed, assigned to nobody

[2019-09-27 23:38] therefromhere commented on #967
@tasn  / @theikkila can you confirm this fixes the issue for you?

[2019-09-28 13:20] tasn commented on #967
I upgraded. Let's see... :)

Thanks a lot!

[2019-09-28 23:41] #999 closed, assigned to nobody

[2019-09-29 01:33] #986 closed, assigned to therefromhere

[2019-09-29 02:07] therefromhere opened #1016 "More consistency on object refresh behaviour in model methods"
We should be more consistent about whether model methods (eg `source.detach()`) refreshes the model in question.  I'd argue that they should usually do `.refresh_from_db()` or similar, so that where possible the instance is up to date.

We already do this in some places (eg `Customer.add_payment_method`) but not everywhere.

Potentially a breaking change, so shouldn't be in a bugfix release.

[2019-09-29 07:04] tasn commented on #967
I think it's working. Hard to say exactly, but I used to get errors all the time and haven't gotten anything since I upgraded. Could just be a coincidence though.

[2019-09-29 20:11] #943 closed, assigned to nobody

[2019-09-30 08:05] malikfaiq opened #1017 "Adding customer source from stripe, webhook does not update customer source"
**Describe the bug**
I am adding default source for customer from stripe dashboard and was thinking that webhook will update a customer entry in database and add a source in it, but its just adding entry in card  table and does not adding source into customer table.

**To Reproduce**
Steps to reproduce the behavior:

1. Add source to a customer from stripe dashboard.
2. Add customer source webhook

[2019-09-30 08:32] malikfaiq commented on #1017
It was my mistake I have not added customer update webhook. I have just added customer.source.add webhook.

[2019-09-30 08:32] #1017 closed, assigned to nobody

[2019-09-30 08:35] therefromhere commented on #1017
For reference it's because the Stripe dashboard only supports adding legacy-type cards - you can tell this because they have ids starting with `card_`

Payment source are a newer api (ids starting `src_`), but are also obsolete (they can be create using stripe.js createSource).

New integrations should probably use PaymentMethods with the PaymentIntents API, for SCA compatibility.

[2019-10-01 00:35] therefromhere commented on #939
This might get bumped to 2.2

[2019-10-01 00:35] therefromhere commented on #970
This might get bumped to 2.2

[2019-10-02 10:19] therefromhere opened #1020 "Add Invoice.status enumfield"
I was intending to drop Invoice.closed and .forgiven, but since we don't have status to replace them they can stay till the next version.

https://stripe.com/docs/api/invoices/object#invoice_object-status

[2019-10-03 20:56] therefromhere opened #1022 "Investigate using stripe-openapi fixtures for tests"
As referenced in #567 / #892 we should look at whether we can use Stripe's openapi fixtures in our tests, rather than my wacky regenerate fixtures mechanism - see https://github.com/stripe/openapi/tree/master/openapi

One potential issue here would be that Stripe doesn't currently tag updates to that repo (see  https://github.com/stripe/openapi/issues/43 ).

Would it make sense to add stripe-opena

[2019-10-03 20:57] therefromhere commented on #1022
Tentatively adding this to 2.2.0 milestone.

[2019-10-04 16:54] #997 closed, assigned to nobody

[2019-10-05 05:46] therefromhere commented on #1022
From a quick look at the fixture (fixtures3.yaml) I think it'd be worth using as a test fixture source, but I don't think it'll be able to replace our test fixtures, since I don't think it has enough feature coverage - in most cases there's only one object per object type.

[2019-10-05 10:11] therefromhere commented on #672
Dropping for now unless someone wants to take this on.

[2019-10-07 09:40] therefromhere opened #1028 "Update InvoiceItem model"
Missing fields:

- [ ] unified_proration
- [ ] unit_amount

Don't add InvoiceItem.unit_amount_decimal yet (see #958)

[2019-10-07 23:25] kavdev commented on #650
@therefromhere looks like the fix didn't quite work?

[2019-10-07 23:37] kavdev commented on #195
@unformatt is this not relevant any more?

[2019-10-08 00:35] kavdev commented on #994
@steverecio this might be something you can accomplish with Stripe's new billing Product features. IIRC, you can do stuff with seats

[2019-10-08 01:00] kavdev commented on #1016
@therefromhere is there an issue with updating all of them

[2019-10-08 01:11] kavdev commented on #1011
@unformatt seems like that's the case. The grace period depends on your stripe dashboard settings for non-payment/declined cards.

Checking the status in the subscription updated webhook seems like the best bet: [SO Post from 2014 that may be way outdated but might still work](https://stackoverflow.com/a/27007075)

[2019-10-08 01:24] unformatt commented on #195
@kavdev I figured it was so old it was either no relevant or fixed. I definitely don't have my head wrapped around it anymore.

[2019-10-08 01:28] therefromhere commented on #1016
With updating all the methods?  No I don't think so in a feature release - aiming to do this as part of 2.2

[2019-10-08 01:30] kavdev commented on #195
Same

[2019-10-08 01:33] kavdev commented on #1016
sounds good

[2019-10-08 01:36] therefromhere commented on #650
@kavdev I'm not sure this is the right ticket to reopen - maybe #850 instead?

[2019-10-08 01:37] kavdev commented on #650
@therefromhere sure, whatever's best

[2019-10-08 07:42] therefromhere commented on #850
Reopening this since some people are having issues (see also recent comments on #650), the simple workaround would be a manage command (by updating #861) on the stable/2.0 branch (or on master and backported to 2.0).

[2019-10-08 07:42] therefromhere commented on #650
Closing this, reopened #850 instead.

[2019-10-08 07:42] #650 closed, assigned to nobody

[2019-10-09 23:38] JosiahDub opened #1029 "Support Djongo, or other MongoDB Connector"
I attempted to use dj-stripe with Djongo. I set up the settings file and ran manage.py migrate. Here is the error I got.

[code]

Python 3.7
Django 2.2.1
dj-stripe 2.1.1
djongo 1.2.33

I understand this is a huge task, and I don't expect support any time soon. It's also entirely possible this is a Djongo problem.

[2019-10-14 07:30] therefromhere opened #1032 "Test coverage of admin"
The dropped fields from #1019 broke a few bits of admin (eg Account._str__ and search, fixed in #1033), needs some test coverage.

For each model, test:

- [ ] list
- [ ] search
- [ ] detail

[2019-10-21 06:52] lijoev opened #1034 "Add products/plan from django admin"
I was trying to add plans from django admin. I could not see that plan being added in stripe account.

**Expected behavior**
Normally i hope stripe plans or data can be added from django admin also. Both the data should be synched

**Environment**
- dj-stripe version: [2.37.2]
- Database: [e.g. MySQL 5.7.25]
- Python version: [3.6.8]
- Django version: [2.2.5]

[2019-10-21 07:15] malikfaiq opened #1035 "Manually Sync customer delete source event"
**Describe the bug**
I don't want to wait for webhook to sync delete source event in database. I have to set timeout to retrieve default card details after customer dissociated his/her default card from my platform. Below mentioned code for customer default source api
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Associate multiple card with customer.
2.  Create rest API to retrieve

[2019-10-21 07:59] therefromhere commented on #1034
Hi, currently we just use admin as a way of browsing the stripe data, it doesn't write back to stripe.

To add plans you can either use the stripe dashboard and receive that data via a webhook, or create them in your code with either stripe python api or dj-stripe.

[2019-10-21 08:09] therefromhere commented on #1035
How are you deleting the default card?  Can you provide some example code, eg are you using the djstripe methods (`Card.remove()` or `Source.detach()`)

Beware that there's some inconsistent behavior due to how Stripe handles this - their first generation card objects (ids starting with "card_") are immediately deleted when removed, wheres second generation Source objects are detached instead.  Th

[2019-10-21 08:13] malikfaiq commented on #1035
[code]
I am using this code to delete customer source as specified in the stripe documentation. Is there any other way to do this to sync with djstripe. Documentation source https://stripe.com/docs/api/sources/detach

[2019-10-21 08:18] therefromhere commented on #1035
So yeah if you use `.detach()` on the djstripe Source object that should do what you want.

https://dj-stripe.readthedocs.io/en/latest/reference/models.html#djstripe.models.Source.detach

[2019-10-21 08:29] malikfaiq commented on #1035
The interesting thing is that after creating source with this code below. I could not find any entry in the djstripe source table. It creates an entry in the card table.
[code]

[2019-10-21 08:34] malikfaiq commented on #1035
should I using `card.remove()` instead of source deatch.

[2019-10-21 14:29] jcobacho opened #1036 "charge"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

e.g.:

1. Enable stripe webhook to dj-stripe
2. In stripe dashboard create a billing product with feature X
3. See attached error on webhook

**Expected behavior**
A clear and concise description of what you expected to happen.

If relevant it's very helpful to include webho

[2019-10-21 14:29] #1036 closed, assigned to nobody

[2019-10-21 15:06] jcobacho opened #1037 "charge.expired webhook returning 500 when deleting source"
**Describe the bug**
Simply throws an 500 error cancelling any further logic you may have implemented
The Refund object is not generated
The Charge object is not updated

**To Reproduce**
Steps to reproduce the behavior:
1. Create an uncaptured charge
2. Delete the sourced used
3. Wait for it to expire

**Expected behavior**
generate the refund
update the charge
maybe put a string field of the sou

[2019-10-21 17:38] therefromhere commented on #1037
Can you add the exception and ideally the json of the event that's causing this?

You can find both in djstripe admin webhook events.

[2019-10-21 17:49] therefromhere commented on #1035
Yes, use card.remove() in that case.

But i suggest moving to use sources of you can - you just need to switch to the more modern js (unfortunately Stripe's documentation is inconsistent).

Also look at using PaymentMethod if you need to be SCA compliant.

[2019-10-21 20:18] therefromhere commented on #1034
Closing this because it's not a bug, but feel free to comment if you need more help.

[2019-10-21 20:18] #1034 closed, assigned to nobody

[2019-10-21 21:24] jcobacho commented on #1037
**Here is the json**
[code]
**Exception**
Request req_sqcQwC5QMuroj0: No such payment_method: card_1FSaXyKHwh88Q9zc8lxzO0qT

[2019-10-22 08:27] therefromhere commented on #1037
I think it's a variant of #967 - legacy "card_" -type payment methods aren't fully supported, they're deleted on removal, so payment method retrieve fails afterwards.

I'll look at if we can handle this situation, but I suggest moving away from the legacy "card_" v2 if you can, to either sources (Stripe Elements, using createSource - see https://stripe.com/docs/stripe-js/reference#stripe-create-so

[2019-10-22 18:39] jcobacho commented on #1037
i'm currently using elements createToken and passing that token in the customer.add_card()
Following your suggestiong i've changed to createSource() and pass that source id to the customer.add_card() this creates the source properly but detaching the source raises the following exception from the webhook: stripe.error.InvalidRequestError: Request req_U7Ucu12zgvl8Tw: A source must be attached to a

[2019-10-23 04:05] jcobacho opened #1039 "charge.refund.updated webhook returning 500"
**Describe the bug**
error 500 in the webhook response
it seems as if the event object is treated as a charge since it uses charge.* as an event type
but the id is of a refund raising the following exception:
**stripe.error.InvalidRequestError: Request req_ULYEKm93zdYHoE: No such charge: re_1FWabuJbr8jEHIYewqcOCkH7**

**To Reproduce**
Steps to reproduce the behavior:

1. Create an uncaptured charg

[2019-10-23 08:04] malikfaiq commented on #1035
@therefromhere  thanks, I'll look into it.

[2019-10-23 08:47] therefromhere commented on #1035
FYI I've added some notes to the docs about card vs sources - see https://dj-stripe.readthedocs.io/en/master/stripe_elements_js/

[2019-10-23 16:06] M0dM opened #1040 "Migration 0004_2_1 is broken when using django-db-prefix"
**Describe the bug**
Migration 0004_2_1 is broken when using django-db-prefix.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an empty django project with django-db-prefix==1.0.5 and djstripe==2.0.5
2. Migrate everything with DB_PREFIX = "myprefix_" in settings.py
3. upgrade djstripe from 2.0.5 to 2.1.0 or 2.1.1
4. kaboooooom
`django.db.utils.ProgrammingError: relation "djstripe_pay

[2019-10-23 22:13] therefromhere commented on #967
It would be useful to have a reference to this issue that we can refer to (deleted "card_xxx" disappears, leaving a payment method that can't be retrieved), since it's popping up in various other issues.

@theikkila did you get any more feedback from stripe on this, eg a ticket number or something?

@lx-stripe just pinging you as a Stripe dev that touched the SCA stuff - any idea if there's an art

[2019-10-24 02:31] #821 closed, assigned to nobody

[2019-10-24 06:53] M0dM commented on #1040
I had run an a simple ALTER INDEX ... rename to ... clause to rename index like it was supposed to be nammed and everything seems working like a charm.

[2019-10-24 06:53] #1040 closed, assigned to nobody

[2019-10-24 17:07] lx-stripe commented on #967
Hi @therefromhere, thanks for flagging this. As you rightly pointed out, the root cause is the card being deleted when detached... but we should be consistent or at least provide a way to identify these payment-method-compatible cards. Looking at the prefix should never be required. I'll get back to you as soon as we ship a fix.

[2019-10-28 07:13] malikfaiq commented on #1035
@therefromhere would you please tell me how to prevent payment method duplication. For card we can  retrieve Token and then check if fingerprint matches that means card already exists. Is there any same way for payment methods.

[2019-10-28 07:13] malikfaiq commented on #1035
@therefromhere  I am using setup intents to add payment for off session payments.

[2019-10-28 07:40] malikfaiq commented on #1035
@therefromhere I don't want to make call on stripe api for paymentmethod retrieval.

[2019-10-28 07:54] therefromhere commented on #1035
Yeah I don't know, it might not be possible to avoid duplicate payment methods since "real" payment methods (ie those with pm_* ids) don't have a fingerprint field.  Maybe worth asking Stripe about that.

[2019-10-28 08:11] malikfaiq commented on #1035
@therefromhere I have figured out a way around. But I found that djstripe payment method database table is inconsistent as per models payment method model has Json fields but in payment method database table fields are text how is that possible. I have checked the migrations no such field conversion operation exists.

[2019-10-28 08:15] malikfaiq commented on #1035
![djstripe-paymentmethodtable](https://user-images.githubusercontent.com/10773864/67662249-d3726680-f984-11e9-9202-933646b6fc76.png)
![djstripepaymentmethodmodel](https://user-images.githubusercontent.com/10773864/67662315-fac93380-f984-11e9-982d-8494a2a29bb7.png)

[2019-10-28 14:40] Guest007 opened #1043 "dj-stripe way of stripe.checkout.Session.create"
For now, I make [One-time Payments with Checkout](https://stripe.com/docs/payments/checkout/server), passing "checkout session id" to client's side and get data from webhook after payment success.
Like in Stripe's docs:
[code]
I tried to create it by dj-stripe way:
[code]
but got error due to empty (not unique) `id` field (on second session - first session creates with empty `id`)
How can I create

[2019-10-28 16:05] stygmate opened #1044 "customer's default payment method doesn't sync from webhook when value of invoice_settings.default_payment_method is null"
all is in the title.

[2019-10-28 18:20] therefromhere commented on #1044
Hi, can you include more detail?

Eg what you did to set up, and the webhook json if possible?

Did you set customer.default_payment_method and it's not syncing?

[2019-10-28 18:27] stygmate commented on #1044
@therefromhere when doing:
[code]
None of function sync_from_stripe_data or of the webhook are updating customer's object default payment method field.

[2019-10-28 18:29] therefromhere commented on #1043
Hi, you should almost never directly call djstripe object.create (or objects.get_or_create), because those won't trigger object creation in stripe.

A few classes do have their own create classmethods eg `Plan.create` - note that that's not `Plan.objects.create`, but Session doesn't have that yet.

Currently your best bet is your existing first example, and the using `Session.sync_from_stripe_data

[2019-10-28 18:32] therefromhere commented on #1044
Can you include the value of `updated_customer`?

Presumably this is with djstripe 2.1.x?

[2019-10-28 18:36] therefromhere commented on #1035
Hi, djstripe uses a TextField for JSON unless you use the setting to enable native JSON field (which is currently postgres only).

Beware that you shouldn't change this setting on an existing database.

[2019-10-28 18:39] stygmate commented on #1044
version 2.1.1
don't have easy access to my previous tests but i double checked and the path invoice_settings.default_payment_method contain the correct value and when doing a stripe.retrieve i can confirm default paiement method is correctly set in stripe customer object but not in djstripe customer object
[code]
if you want i will redo my tests tomorow.

[2019-10-28 18:46] stygmate commented on #1044
mmm' i have source and payment method set on the same customer in stripe object maybe a source of problem ? Hosted invoice record source when entering a card and i'm creating payment method when entered in my app:

[code]
discovered also that this way PM have priority over source when we bill a customer.

[2019-10-28 19:30] aaronn commented on #937
@Skorpyon @therefromhere I see, do I need to create my subscription manually too? Is there a good example of where to do this?

Since everything seems automatic from the default webhook handlers in the djstripe package– should I actually be creating customers as soon as the user registers?

[2019-10-28 19:42] Skorpyon commented on #937
Personally I do it in two ways:
- when user register, but in background in Celery task, because doing it in request may slow it;
- or when user trying make first payment/subscription.

You need create Plans in Stripe's dashboard and it will be synced to your database with webhooks. After sure you need create subscriptions manually.

[2019-10-29 06:08] malikfaiq commented on #1035
@therefromhere thanks mate I would not change this settings.

[2019-10-29 15:52] aaronn commented on #937
@Skorpyon Thanks. I've actually been using Stripe Checkout in Client mode instead of Server mode, but I have indeed already created plans. Does this mean I need to switch to Server mode and cannot use the webhooks to do this? Because currently djstripe automatically creates both the customer and the subscription for me when the webhook is called from Checkout.

[2019-10-29 22:09] stygmate commented on #830
any news ?

[2019-10-29 22:16] therefromhere commented on #830
No, but I'd welcome a PR :grin:

[2019-10-29 22:32] stygmate commented on #830
@therefromhere it make a lot of webhook go in error. Is it really interesting to store images refs ? Can we just remove this from account model ?

[2019-10-29 22:42] therefromhere commented on #830
I'd prefer to catch the error in test mode as bwilliams18 suggested.

[2019-10-30 00:27] danielholmes opened #1045 "Currency field size too small for Stripe Large Charges"
The public max currency size is shown [in the stripe docs](https://stripe.com/docs/currencies#minimum-and-maximum-charge-amounts) as being 8 digits.

The current djstripe fields allow for this:

- [StripeQuantumCurrencyAmountField](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/fields.py#L49) uses [IntegerField](https://docs.djangoproject.com/en/2.2/ref/models/fields/#integerfield) wh

[2019-10-30 01:12] therefromhere commented on #1045
Assuming the large charge change is going to be rolled out globally I think I'd prefer change to `BigIntegerField` for `StripeQuantumCurrencyAmountField`, I'd rather not add more settings that affect the database structure because it's a maintenance headache.  Given the amount of data we store for other fields I don't think the increased integer field size is a concern.

So yes, a PR would be grea

[2019-10-30 01:29] danielholmes commented on #1045
@therefromhere

I don't know if it will, nothing the rep said made me think it was (or wasn't) going to be rolled out for everyone. I've contacted them and will report back when I get a response (I'm not sure if they would readily share that sort of info though).

[2019-10-30 03:43] danielholmes commented on #1045
@therefromhere Their response didn't directly answer it, but it sounds like

- It's done on an account by account basis because it doesn't work for some use cases. i.e. for some use cases they said "These restrictions are inherent in the financial infrastructure upstream of Stripe"
- There's no plans to roll out globally and they can't unless some of the upstream financial institutions change

Bas

[2019-10-30 04:01] therefromhere commented on #1045
@kavdev thoughts?

I don't object to changing to 11 digits/BigIntegerField to accommodate this, I just wonder how many of these long-lived feature flags there are on the stripe side?

[2019-10-30 08:38] stygmate commented on #830
is the bug reproductible in test with stripe-mock ?

[2019-10-30 13:12] leesolway opened #1046 "[QUESTION] Connected accounts and users"
Apologies if this has been covered, or i am missing something.

I have a scenario where a Customer will pay a specified Account a fixed amount.
Using the docs and dj-stripe i have managed to register cards without issues. What i am missing however is methods to register an account and then associate it to a user, or retrieve an existing accounts token.

Is this function supported, and if so are th

[2019-10-30 13:12] leesolway commented on #1046
**_Can't seem to edit the label_**

[2019-10-30 19:54] therefromhere commented on #1046
Hi, our support for Stripe Connect is incomplete, I don't think we support that functionality yet.

[2019-10-31 11:46] leesolway commented on #1046
Ahh :( It looked like most of the functionality existed.

[2019-11-02 01:05] colin-byrne-1 opened #1047 "Subscribing a Customer to a plan with paymentMethods"
Hey, I am creating a paymentMethod with Elements, and had been trying to follow this piece of documentation [https://dj-stripe.readthedocs.io/en/stable/usage/subscribing_customers.html](url).

It does not appear as though these set of steps work with paymentMethods, as you of course cannot use the add_card method with a paymentMethod ID.

Assuming there is no piece of documentation I am missing, i

[2019-11-02 03:50] therefromhere commented on #1047
You should be able to use `PaymentMethod.attach(payment_method, customer)`, in a similar way to `customer.add_card` - see https://github.com/dj-stripe/dj-stripe/blob/stable/2.1/djstripe/models/payment_methods.py#L547 (the model and example documentation needs updating to include this - I've added #1048, #1049 for that).

[2019-11-02 03:52] therefromhere opened #1048 "Update documentation to include PaymentMethod class"
Here: https://github.com/dj-stripe/dj-stripe/blob/master/docs/reference/models.rst#payment-methods

[2019-11-02 03:54] therefromhere opened #1049 "Update documentation examples to mention payment methods"
eg https://dj-stripe.readthedocs.io/en/stable/usage/subscribing_customers.html

See #1047

[2019-11-05 01:11] kavdev commented on #1045
@therefromhere yeah seems fine. If we're just going from IntegerField to BigIntegerField, it's not that big of a performance hit

[2019-11-07 08:05] #1045 closed, assigned to nobody

[2019-11-08 20:36] kavdev commented on #1029
This might just be one of the migration issues people have come across. @therefromhere thoughts? I think I've seen that error message before

[2019-11-08 20:39] kavdev commented on #1040
cc @therefromhere

[2019-11-08 21:57] therefromhere commented on #1029
It doesn't ring a bell with me, I assumed it was some eccentricity of the Djongo db backend - searching for that exception pops up a couple of issues on Djongo, eg https://github.com/nesdis/djongo/issues/188 , which was apparently fixed recently.

[2019-11-13 00:29] ajroberts0417 opened #1052 "Sync fails on Invoices w/ >10 line items (due to no pagination)"
**Describe the bug**
calling `Invoice.sync_from_stripe_data(<invoice>)` on a stripe.Invoice with more line items than the default page limit (default 10) will fail to sync any excess line items.

**To Reproduce**
Steps to reproduce the behavior:

e.g.:

1. Create an Invoice in Stripe with more than 10 invoice items -- note the id.
2. Run the following code:
[code]

**Expected behavior**
I expect d

[2019-11-13 01:19] ajroberts0417 commented on #1052
PR on the way with a first pass on a naive but working solution

[2019-11-13 01:21] therefromhere commented on #1052
That's great thanks!  Can you do the PR vs master and we can cherrypick it back to stable/2.1 after merging.

[2019-11-13 01:21] ajroberts0417 commented on #1052
yup

[2019-11-13 03:06] therefromhere opened #1054 "Paginate sync of Subscription.items + Charge.refunds"
I suspect we have the same issue in _stripe_object_to_subscription_items and _stripe_object_to_refunds as per #1052.

[2019-11-13 03:07] therefromhere commented on #1052
I suspect the exact same issue occurs in a couple of other places (added #1054 for that).

[2019-11-16 01:49] therefromhere opened #1056 "Drop django 2.1 support"
Since it's EOL in December

https://www.djangoproject.com/download/

[2019-11-16 02:02] therefromhere commented on #1002
Bumping this to next milestone.

[2019-11-18 21:00] therefromhere opened #1057 "Improve IP address logging for Webhooks"
in `WebhookEventTrigger.from_request` we log the webhook request IP address, but we extract it in a simplistic way:

https://github.com/dj-stripe/dj-stripe/blob/0dd7925602e9b2ac693391fc9c02c4d87b97f5a9/djstripe/models/webhooks.py#L86-L92

It might be useful to add a settings-overridable function here so that users could use django-ipware (https://github.com/un33k/django-ipware) etc to do a more co

[2019-11-19 13:24] varvaraDev commented on #949
I got the same error
My current solution: ovveride admin panel and create method (usage proxy model)

[2019-11-19 21:47] therefromhere commented on #949
Thanks for the report.

It's worth noting that Plan admin is a special case - it's the only model where we support sync from admin to stripe (see ``PlanAdmin.save_model``).  I'm not really a fan of this - we're effectively duplicating functionality from the stripe dashboard, and it's confusing since this doesn't work for the other models.

[2019-11-23 10:20] aaronn opened #1058 "Migration Issue When Upgrading To 2.1.1"
I have an issue migrating from 2.0.3 to 2.1.1:

[code]

I don't know how to fix this and I haven't manually messed with migration files before. Any help?

[2019-11-23 10:39] aaronn commented on #1058
I dropped that column. Now I'm seeing this:

[code]

[2019-11-23 22:38] #1058 closed, assigned to nobody

[2019-11-24 16:35] maarten2015 opened #1059 "Account sync fails if icon or logo are an URL instead of File Upload object"
**Describe the bug**
Older Stripe account have icon and logo specified as URL instead of File Upload objects. Syncing them will return an error; 'No such file upload'

Eg:
[code]
**Can you reproduce the issue with the latest version of master?**

Yes, when reuploading the file to Stripe, the url was replaced by an object and the error disappeared.

[2019-11-25 07:24] therefromhere commented on #1059
Thanks for the report.

If you have a more complete example of the failed document that'd be useful (from http://127.0.0.1:8000/admin/djstripe/webhookeventtrigger/ if it hit this error on a webhook)

I wonder if both logo and icon can be s3 urls or if it's just icon?

[2019-11-26 01:26] kavdev commented on #1029
@JosiahDub let us know if using a version of djongo with that fix in it works

[2019-11-26 19:09] steverecio opened #1060 "Syncing Account Balance"
I want to programmatically issue credits to my users when they refer a friend. I'm able to manually add a balance adjustment to the customer in my stripe dashboard but when I update the `account_balance` field on the Customer object in dj-stripe, the data doesn't sync automatically with stripe. Is there a sync command that I have to run manually? Kinda surprised this isn't handled with some sort o

[2019-11-26 22:18] steverecio commented on #1060
Solution:

[code]

[2019-11-26 22:18] #1060 closed, assigned to nobody

[2019-11-28 09:22] chenkuochen opened #1061 "Generic question on dj-stripe"
Hey guys,

I am a newbie to Stripe API and want to build a subscription payment website via Strip, Django and ReactJS.

The document for dj-stripe is quite confusing and seems outdated.
Sorry if my questions are too simple.

1. What's the next step to do after I setup the webhook?
2. Should I just use Stripe's frontend lib to interact with Stripe and let dj-stripe sync everything?

Thanks

[2019-11-28 09:59] chenkuochen commented on #1061
Ah! I figured it out. So basically dj-stripe created models on top on Stripe API and wrap those API interaction into Python obj methods.

[2019-11-28 09:59] #1061 closed, assigned to nobody

[2019-11-29 10:57] chenkuochen opened #1062 "Get latest_invoice payment intent when creating subscription"
I am doing this Stripe subscription flow. https://stripe.com/docs/billing/subscriptions/set-up-subscription#manage-sub-status

On the step 7, after subscription created, we need to check the status of subscription.payment_intent.latest_invoice in order to processing further confirmCardPayment.

Because the default behavior of dj-stripe customer.subscribe only return latest_invoice id and the webho

[2019-11-29 11:01] chenkuochen commented on #1062
#1063 Added a hotfix for this feature. Should be a better way to do it?

[2019-11-29 18:35] PabloCastellano opened #1064 "Can't access OneToOneField/related_name from webhook"
**Describe the bug**

Not sure if this is expected but I've found it weird so after testing for almost one hour I think this might be a bug :scream: .

Actually I have a UserSubscription model like this (simplified here):

[code]

The important part is the stripe_subscription OneToOneField that links to dj-stripe's Subscription and it's related_name `lb_subscription`.

I also have defined the foll

[2019-11-29 20:03] therefromhere commented on #1064
In what way does "I cannot access the related name for the subscription" manifest?
Do you get a RelatedObjectDoesNotExist exception or what?

If you could create a working example of the bug (eg `test.apps.example`, ideally hit by a test) that'd help.

[2019-11-29 20:10] therefromhere commented on #970
I've not had a chance to work on this, might get bumped again.

[2019-11-29 20:16] therefromhere commented on #1062
I think part of your problem is #970 - `payment_intent.invoice` isn't being synced automatically (because it's a reverse OneToOne relationship).

[2019-11-29 20:19] therefromhere commented on #1062
Are you not able to access these fields on the `Subscription` instance returned by `.subscribe()`?

[code]

[2019-11-30 14:39] PabloCastellano commented on #1064
Yes, exactly, I get RelatedObjectDoesNotExist.

I am pasting the relevant pdb trace again:

[code]

Ok I'm going to create a working example of the bug

[2019-11-30 14:47] PabloCastellano commented on #1062
For Strong Customer Authentication I am calling the stripe library directly and checking the result returned. Here is an example piece of code:

[code]

That should work for you too @chenkuochen

[2019-11-30 16:26] PabloCastellano commented on #1064
I have created a working example but I am unable to reproduce it this way (the test passes). Check https://github.com/PabloCastellano/dj-stripe/commits/test_related_name

https://github.com/PabloCastellano/dj-stripe/commit/4230ad102b9733916168dbe811036f8713021ba5#diff-e9a932f253dd1ca54f2e50aaa1723e44R998

[2019-11-30 16:49] PabloCastellano commented on #1011
@unformatt The Subscription model has a `trial_end` field described as:

Checking this field should be enough, doesn't it?

As @kavdev has said, the number of days you wait for the customer to pay the bill and the logic behind it is configured in your [Stripe dashboard](https://dashboard.stripe.com/account/billing/automatic)

[2019-11-30 17:45] PabloCastellano commented on #1064
Ok here is a second version, the previous one wasn't not good.

https://github.com/PabloCastellano/dj-stripe/commit/70634228f8ed7851fdceec72e4391a7773b279ee

Good news is that I am not able to reproduce the behavior I have reported in the issue so it must be a nasty bug somewhere in my code.

I'll continue debugging and report any findings in the next days or I will close the issue.
Please let me

[2019-11-30 17:54] unformatt commented on #1011
Yea, I didn't want to have to have a cronjob constantly checking `end_of_trial`. Maybe when

I can check `end_of_trial`.

[2019-11-30 19:48] therefromhere commented on #1064
Yeah, tricky.  All I can suggest is creating a similar unit test in your app and hacking away bits until it starts working.

[2019-11-30 19:50] therefromhere commented on #1064
Actually, one suggestion - are you sure that you're not getting the original Subscription object deleted by the dj-stripe webhook handler before you hit this? (thus triggering a cascade SET_NULL on your UserSubscription).

Maybe try with your code vs master and see if it fixes the issue?

[2019-11-30 20:00] therefromhere opened #1067 "Implement Subscription.latest_invoice"
Should be a nullable ForeignKey on Subscription.

https://stripe.com/docs/api/subscriptions/object#subscription_object-latest_invoice

Tentatively add to 2.2 milestone since it seems like it should be simple (potentially would hit a cyclic sync issue though, due to `Invoice.subscription` relation).

[2019-11-30 20:01] therefromhere commented on #1062
Ah my mistake - we haven't implemented `Subscription.latest_invoice` yet.  I've added #1067 to track that.

[2019-12-02 01:35] chenkuochen commented on #1062
@PabloCastellano Thank you! Yes, I will call Stripe API directly for now.
@therefromhere Thank you for checking this.

[2019-12-04 11:06] maarten2015 opened #1068 "djstripe_sync_models fails on removed or detached payment methods."
Stripe throws a 404 when a Payment Method used in a charge is removed by the customer or no longer attached to the customer. This breaks the sync. The payment method is part of the Charge object though, so even if the PaymentMethod API returns a 404, the historical values at the time of the charge are synced. So some basic error handling could solve the issue.

This happens in a high volume Stripe

[2019-12-04 11:40] maarten2015 opened #1069 "Sync fails on permanently deleted customers"
Stripe returns a HTTP/200 response for permanently deleted customers, although djstripe_sync_models doesn't create the customer.

So a 'Customer matching query does not exist.' error is raised.

This is the Stripe response:

{
  "id": "cus_FILQ[...]CXt",
  "object": "customer",
  "deleted": true
}

[2019-12-04 14:38] PabloCastellano commented on #1064
@therefromhere You were totally right. SET_NULL was triggered before the event handler even if the new value was not saved to the database yet.

I confirm that 0dd7925602e9b2ac693391fc9c02c4d87b97f5a9 from master fixed my issue. Thanks!

[2019-12-04 14:38] #1064 closed, assigned to nobody

[2019-12-04 15:47] PabloCastellano commented on #970
I wanted to give it a try but I definitely need some guidance from you @therefromhere.

So far I've identified two changes:

[code]

Can you give me some example failing tests?

[2019-12-04 16:09] PabloCastellano commented on #1069
Please follow the [issue template](https://github.com/dj-stripe/dj-stripe/blob/master/.github/ISSUE_TEMPLATE/issue-with-webhooks-or-sync.md) when creating an issue. It takes more time but makes sure we can help you.

Can you provide some steps to reproduce it?

[2019-12-04 21:29] therefromhere commented on #970
@PabloCastellano  great!

I made a start on a fix here - #969 , I hit some issues with it, but I can't remember exactly what right now.  Feel free to branch/steal from that though (note the unresolved comments in the PR about how to check field type).

[2019-12-04 23:38] keeth opened #1071 "Truncate events table?"
The djstripe_events table is the largest table in my DB by an order of magnitude.

Is it safe to remove old records (say 6-12 months old) from this table?

Thanks!

[2019-12-06 07:01] therefromhere commented on #1071
Hi yes that's fine.  You can probably be a lot more aggressive in pruning than that.

[2019-12-07 03:16] #924 closed, assigned to nobody

[2019-12-07 22:58] kavdev commented on #1056
@therefromhere on that note, I think it's time for a support cleanup on python as well. django 3.0 now recommends dropping support for django < 2.2 and python < 3.6 and enabling deprecation warnings. Might be good to land for the next minor release. Thoughts?

https://docs.djangoproject.com/en/3.0/releases/3.0/#python-compatibility
https://docs.djangoproject.com/en/3.0/releases/3.0/#third-party-li

[2019-12-08 03:11] therefromhere opened #1073 "Drop Python 3.5 support"
https://docs.djangoproject.com/en/3.0/releases/3.0/#third-party-library-support-for-older-version-of-django

_Originally posted by @kavdev in https://github.com/dj-stripe/dj-stripe/issues/1056#issuecomment-562894202_

@kavdev  I'd be happy to drop python 3.5 support soon. Would be good to start using proper type annotations!

I suggest we do this in version 2.3 though rather than 2.2 as per droppi

[2019-12-08 03:13] therefromhere commented on #1056
Yep, added #1073 for this.

[2019-12-12 13:35] jcobacho opened #1075 "Critical! charge.expired webhook returns 500 value too long for type character varying(21)"
**Describe the bug**
When receiving the charge.expired webhook stripes set the reason field to "expired_uncaptured_charge".
by default djstripe only manages this reasons:
[code]
the max_length on the reason field of the refund gets calculated using the above reason enum raising the following exception:
**value too long for type character varying(21)**

**To Reproduce**
1. create an uncaptured char

[2019-12-12 15:56] jcobacho commented on #1075
fixed by included expired_uncaptured_charge to the availble RefundReson enum class awaiting merge request

[2019-12-13 09:27] therefromhere commented on #1075
Resolved by #1076

[2019-12-13 09:27] #1075 closed, assigned to nobody

[2019-12-13 10:47] yeppus commented on #1068
Just ran into the same issue trying to sync/move old client charges to djstripe

[2019-12-14 07:36] therefromhere commented on #1020
Moving this to 2.3, since we need to get our legacy Invoice.status out of the way first (#1078).

[2019-12-14 19:50] therefromhere commented on #740
Bumping this to 2.3 since I'd like to get a 2.2 release done soon.

[2019-12-14 19:53] therefromhere commented on #970
Bumping this to 2.3 so I can close the 2.1.x milestone.

[2019-12-15 06:37] therefromhere commented on #1067
Bumping to 2.3 since there is a cyclic sync issue.

[2019-12-15 22:06] clintonb opened #1080 "Subscription status from webhook incorrect"
**Describe the bug**
When a subscription is created via webhook, the status is always set to "Incomplete" when it should be "Trialing". Running the `djstripe_sync_models` management command pulls the correct status.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable stripe webhook to dj-stripe
2. In stripe dashboard create a subscription with a trial.
3. Load the subscription in Django

[2019-12-16 07:52] clintonb commented on #1080
I wrote a custom webhook handler to fix subscriptions status. I haven't found the root cause of the status being incorrect.

[code]

[2019-12-16 08:20] therefromhere commented on #1080
Hi, thanks for the report + debug efforts.  I'm not able to reproduce this currently though - subscriptions show up as Trialling for me in admin as expected, with:

- dj-stripe version: 2.2.dev (@ 641e04f5ab34216769bf789bde8e1ff118553f30)
- Your Stripe account's default API version: 2019-03-14
- Database: MySql 5.7
- Python version: 3.7.4
- Django version: 3.0

Still works if I upgrade to API vers

[2019-12-16 08:40] therefromhere commented on #1080
If you're seeing this consistently, maybe try logging the `stripe.Subscription.retrieve` response values, since that should be the only thing updating this field.

[2019-12-16 15:49] clintonb commented on #1080
Great suggestion! I activated debug logging by setting the `STRIPE_LOG` environment variable to `debug`. The data initially returned by `stripe.Subscription.retrieve` does in fact have `status=incomplete`.

[2019-12-16 16:02] clintonb commented on #1080
I just found [docs](https://stripe.com/docs/billing/lifecycle#incomplete) that mention Checkout creates subscriptions in the `incomplete` state before they are transitioned to `active` (or `trialing` in my case). Given this, Stripe should be sending a `customer.subscription.updated` event when the status changes. I'll work with the team to figure out why we aren't doing that.

[2019-12-16 16:03] #1080 closed, assigned to nobody

[2019-12-16 17:30] therefromhere commented on #1080
Hah, that short-circuits the "we should report that bug to Stripe" on this one 😀

[2019-12-17 15:53] maarten2015 opened #1081 "Sync PayOuts fails"
**Describe the bug**
manage.py djstripe_sync_models Payout fails with this error:
'NoneType' object has no attribute 'api_retrieve'

**Expected behavior**
I expect that the Payout will be saved in the DB.

**Environment**
- dj-stripe version: 2.1.1
- Stripe API: 2016-03-07
- Database: Posgres 12
- Python version: 3.7
- Django version: 2.2.8

**Can you reproduce the issue with the latest version of

[2019-12-20 17:50] codetalcott opened #1082 "Should Customer balance field (StripeQuantumCurrencyAmountField) be null=True?"
This may be a mistake on my end, but putting this here in case others have a similar problem:
When creating a Customer object I get an IntegrityError "null value in column “balance” violates not-null constraint."
I thought Customers only required a user argument.
Using Django Version: 2.2.6, dj stripe 2.1.1

[2019-12-20 20:51] therefromhere commented on #1082
It sounds like you're maybe creating a Customer object manually, eg like this?

[code]

I know this is a source of confusion for new users, but you shouldn't do that with dj-stripe objects, instead either create them with the helper functions provided by dj-stripe, or create them with the stripe api or and sync them to dj-stripe.

[code]

eg see https://dj-stripe.readthedocs.io/en/stable/usage/sub

[2019-12-20 21:37] codetalcott commented on #1082
Yes, that was my problem. Thanks for your help.

[2019-12-20 21:37] #1082 closed, assigned to nobody

[2019-12-21 02:54] #1048 closed, assigned to nobody

[2019-12-21 03:04] #966 closed, assigned to nobody

[2019-12-21 03:41] #1049 closed, assigned to nobody

[2019-12-21 03:42] #1047 closed, assigned to nobody

[2019-12-21 03:57] therefromhere opened #1084 "Release 2.2.0"
I'd like to get a 2.2 release out sometime soon, but I don't want to release while people are on holiday break.

My current plan is to not do any more major changes before the 2.2 release, and aim to create a release candidate with squashed migrations (as per 2.1 release, see #978) around January 11th, with a production release following a day or so later once I've had some confirmation that peopl

[2019-12-24 08:04] tasn commented on #1082
I actually get this too every now and then, and I'm creating customers correctly:
[code]
(though because it happens rarely, I suspect it may be because I'm getting webhooks in a different order because e.g. one failed and was redelivered after djstripe expects it).

[2019-12-24 12:38] varvaraDev commented on #1084
Hello!

Is there any way to add some fields to the Subscription model? For 2.2 release or later
For example, in my project usage `cancel_at` usage, because subscription cancellation can be applied via custom date
Example via UX
![image](https://user-images.githubusercontent.com/24761400/71413327-43028a80-2684-11ea-840e-00179208aa1c.png)

Dj-stripe Subscription does not support mapping `cancel_at`

[2019-12-24 19:05] therefromhere opened #1087 "Update Subscription model"
- [ ] Add `cancel_at` field to model
- [ ] Support `cancel_at` in `Subscription.cancel` method
- [ ] Review model for other missing fields

https://stripe.com/docs/api/subscriptions/object

[2019-12-24 19:10] therefromhere commented on #1087
See contributing docs and https://dj-stripe.readthedocs.io/en/master/project/contributing.html and for example PR #1021 for an example of adding fields.

[2019-12-24 19:13] therefromhere commented on #1084
Hi @Varvara-Gornostaeva , I've added #1087 for that, a PR would be welcome!  Note that you can also just update the model via the stripe api and sync the result back to the database (with sync_from_stripe_data), which will work (though obviously the field won't appear in your database).

[2019-12-27 18:44] islamgulov commented on #830
As a temporary workaround, hook method can be monkey patched to ignore icon and logo fields in test mode.

[code]

[2019-12-30 13:04] alexphelps commented on #705
@jleclanche I think I finally figured this out and can get it to run with `dj-stripe==1.1.1`. Guess it's a bit of my own user error as well.

I first updated to dj-stripe 1.0.0 and ran migrations, it's able to successfully run the first migration `0001_squashed_0007_for_custom_subscriber_model` and then fails on the second migration `0008_auto_20150806_1641_squashed_0031_auto_20170606_1708`

Then

[2020-01-05 06:50] alexphelps opened #1088 "Problem Upgrading from 0.8 to 1.0.1"
This is a continuation of #705. I'm stuck upgrading from 0.8 -> 1.0.1 or newer. When initially installing dj-stripe 1.0.1, and running manage.py migrate I get the following error.

`django.db.utils.OperationalError: cannot ALTER TABLE "djstripe_invoice" because it has pending trigger events`

At this time, the squashed migration `djstripe.0001_squashed_0007_for_custom_subscriber_model` is already

[2020-01-05 13:37] alexphelps commented on #1088
Okay, so I finally think I have a plan to update from 0.8 to 1+.

First step after updating is to reset model states with `python manage.py migrate djstripe zero` and then run `python manage.py migrate djstripe`. Best I can tell this initializes all of the new models with no data, a clean slate more a less, could do this many ways but will probably go this route.

Now I have the new models but no

[2020-01-05 14:23] twbagustin opened #1089 "SubscriptionItem's plan not updated when changing plans at Subscription.update(plan=new)"
Tried several times, apparently the logic at `_stripe_object_to_subscription_items` just gets or creates related subscriptionItem, since the subscriptionItem is already created (ID present) then it does not update its fields.. in particular here the related Plan, not sure about implications of this, but creates an inconsistency between data at Stripe and djstripe models

[2020-01-06 01:06] therefromhere commented on #1089
Thanks for the report.  Yeah this is partly because sync_from_stripe_data doesn't handle nested updates very well, but also because plan (and quantity) are duplicated between Subscription and SubscriptionItem.

A possible slightly hacky fix would be to force a deep update of SubscriptionItem in `Subscription.update` if either plan or quantity are passed (note that in this case there should only be

[2020-01-06 18:47] ndjdev opened #1090 "What should happen with deleted Plans / Products?"
We've just deleted a handful of plans as we're having to put the prices up, however there are people in Stripe that are locked into the old prices on the old plans as Stripe only soft deletes them. Just had a couple of webhooks come through where it can't find the products as they've been removed from dj-stripe. Should that be happening?

[code]

[2020-01-06 21:07] therefromhere commented on #1090
I've not tried this, but it sounds like another instance of #576 (which I saw you've hit before with #599).

I know this isn't terribly handy for you, but for future reference for others I think archiving (ie set active=false) rather than deleting is suggested for obselete plans that are in-use.  See https://stripe.com/docs/billing/subscriptions/products-and-plans

[2020-01-06 21:11] therefromhere commented on #1090
I think a potential tidy-up fix for you would be to add new plans that replicate those you've deleted, migrate the legacy subscriptions to them, and then archive them (set active=false).

[2020-01-06 21:16] therefromhere commented on #1090
Actually, I think the InvalidRequestError will be because the product has been deleted from stripe, so maybe this isn't an instance of #576 after all.

The rule should be - if there's any subscriptions of a plan that you care about, archive it, don't delete it.

[2020-01-07 00:30] keeth commented on #1071
thanks!

[2020-01-07 00:30] #1071 closed, assigned to nobody

[2020-01-07 02:23] ndjdev commented on #1090
Thanks yeh I definitely got a bit mixed up here - for some reason had it in my head that Delete did what Archive did. Have now restored all the plans & restructured. Thanks!

[2020-01-07 02:23] #1090 closed, assigned to nobody

[2020-01-07 04:08] #1088 closed, assigned to nobody

[2020-01-07 06:06] therefromhere commented on #1090
Yeah it's a bit odd that archive is an action in the web UI but isn't mentioned in the API docs.

[2020-01-08 01:47] alexphelps commented on #1088
I was able to update after reseting models, ie deleting all data, and then re-syncing all of my data with a custom sync script to map customers to my custom subscriber model and pull data from stripe. Finally on 1.1.1 🍾

[2020-01-08 09:16] colin-byrne-1 opened #1091 "Recommended way to restrict access based on subscription plans."
I have subscription plans (three plans) setup and functioning, but I am a bit confused as to the best way to limit access based on these.

The documentation lists three approaches, but none of them show examples based on different plans, just whether a user is subscribed or not:
**Middleware approach to constrain entire projects easily.
Class-Based View mixin to constrain individual views.
View de

[2020-01-09 06:48] therefromhere commented on #1084
djstripe==2.2.0rc0 is on pypi now, any testing would be appreciated.

[2020-01-09 06:57] varvaraDev commented on #1084
Thanks a lot! <3

[2020-01-13 08:59] therefromhere commented on #1084
dj-stripe==2.2.0 is on pypi now