[2022-07-09 02:40] gschurck commented on #1745
Tried to reset migrations by uninstalling djstripe on local, now it's 0012 :
[code]

[2022-07-09 09:45] arnav13081994 commented on #1744
I doubt the discount model will make it to that.

For now you could add your own webhook handler for order events and in that retrieve the discount model using its key and then save it in the json field. That seeems like the easiest thing.

Another way would be to create a dj-stripe app in your project and then could do everything. But sure would need to maintain that patch until we support the di

[2022-07-09 22:06] gschurck commented on #1745
[This](https://github.com/dj-stripe/dj-stripe/issues/1649#issuecomment-1151717867) worked as a workaround.

[2022-07-10 03:15] eliezerp3 commented on #1744
@arnav13081994 issue with a custom webhooks is it would have to loop through and retureve every discount separately which would create too much overhead.

I can really just create a webhook to manually re-retrieve it with the expands patameter and then manually sync it. Is there an issue with having it expanded by default (even if don’t create a discount model)?

And what exactly do you mean by is

[2022-07-10 05:46] arnav13081994 commented on #1744
@eliezerp3 I don't think we're planning on adding anything to the 2.7 release at the moment. So you'll have to wait for the next one for that.

I'm not sure if those issues will affect you as it is being assumed that discount objects are essentially Coupons when they can be Coupons or Promotion codes. And another separate issue is that Line Items (Invoices) are assumed to be the same as Invoice It

[2022-07-12 17:41] eliezerp3 commented on #1744
It doesn’t even look like Discount has a retrieve by id option in the official stripe api. Guess I’m just gonna remove the order events from my stripe webhook for now and sync it on my own with the expand parameter. Any idea when v2.7 will hit a production release?

[2022-07-13 08:06] shamjam commented on #1297
Hi @arnav13081994, sorry for the late reply.

I tried it out on the latest version (2.7.0b1), and I now see the warning in red on the console :)

[2022-07-14 19:58] eliezerp3 commented on #1744
@arnav13081994  You are awesome. Thank you so much! Will this be included in v2.7?

[2022-07-14 20:02] arnav13081994 commented on #1744
Thanks! Unlikely to make it to 2.7

[2022-07-14 21:45] eliezerp3 commented on #1744
@arnav13081994 Ok. Might wait till 2.8 then to go to production as would rather have my orders syncing. Really appreciate this. Would you like me to close this or keep it open until it is implemented in a release?

[2022-07-15 04:33] arnav13081994 commented on #1744
You can keep it open until it gets merged.

[2022-07-26 03:38] tbarbugli commented on #413
I am hitting the same error but this looks related to a few fields using 12 decimal, 19 max_digits instead of 12 and 20 (which allows for something like 999,999.99 to be stored correctly

- https://github.com/dj-stripe/dj-stripe/blob/557f8ff65973769106e5b7604ff67910bca1fb0d/djstripe/models/billing.py#L1006
- https://github.com/dj-stripe/dj-stripe/blob/557f8ff65973769106e5b7604ff67910bca1fb0d/djstr

[2022-07-26 03:42] tbarbugli opened #1762 "Invalid decimal error for subscriptions larger than 99,999.99"
I am hitting the same error described in #413 `Skipping sub_REDACTED: [<class 'decimal.InvalidOperation'>]`

In this case the problem seems to be related to to a few fields using 12 decimal, 19 max_digits instead of 12 and 20 (which allows for something like 999,999.99 to be stored correctly

- https://github.com/dj-stripe/dj-stripe/blob/557f8ff65973769106e5b7604ff67910bca1fb0d/djstripe/models/bil

[2022-07-26 14:40] tbarbugli opened #1763 "How do I sync all the subscriptions for a customer including ended/canceled"
I noticed that the sync management command does not sync all customer subscriptions, it looks like cancelled and ended subscriptions are not stored in Django.

Stripe API exposes this information ([link](https://stripe.com/docs/api/subscriptions/list?lang=curl)) but my guess is that when sync'ing a customer the `status` field is not provided (or not set to `all`).

Any pointer on how to patch the

[2022-07-26 19:27] arnav13081994 commented on #1763
@tbarbugli There is no easy way to address this issue unfortunately. You can always create a `djstripe` in your project and add changes from the linked PR.

[2022-07-27 17:52] ckcollab opened #1766 "Attempting to contribute -- "dj-stripe distribution not found?""
Hey there! Thanks for this library.

We're trying to get support for `source.transaction.created` webhook events to work, but trying to get dj-stripe tests running locally produces this error:

[code]

This error appeared on 2 machines and on `master` and `stable/2.6` branches. Probably missing something small and silly, thank you!

PS: should there already be webhook support for `source.transacti

[2022-07-27 18:17] arnav13081994 commented on #1766
@ckcollab `SourceTransaction` model and none of its webhooks are supported. There is an open PR addressing this issue [here](https://github.com/dj-stripe/dj-stripe/pull/1542).

And can you please mention what exactly did you run to get this error? I am unable to reproduce this?

[2022-07-27 18:43] hhartwell commented on #1766
@arnav13081994 Thank you soo much for the speedy reply!!!
here is exactly what we did to get to this point where we get the `pkg_resources.DistributionNotFound` error

forked then cloned repo
[code]

[2022-07-27 19:14] arnav13081994 commented on #1766
@hhartwell I tried to replicate this issue in `python3.9` as well as `python3.10` and unfortunately I get no error.

Did you change anything after which this started to happen? I am inclined to say there is something unique about your environment that is causing the package to not be found.

Try seeing if `dj-stripe` appears when you run `pip list` or `poetry show dj-stripe`. And perhaps try to in

[2022-07-27 19:48] hhartwell commented on #1766
@arnav13081994 Thank you for checking. There is definitely a possibility it is our local envs, but we both ran these commands and ran into the same stacktrace on our separate machines. This makes me think we are just missing something small. . . . . . dj-stripe has worked wonderfully so far on the app we using it for. Also just noticed your branch that you linked. may just try to point our dj-stri

[2022-07-27 20:26] eliezerp3 commented on #1744
@arnav13081994 Any chance you can also expand the “breakdown” field ([documentation](https://stripe.com/docs/api/orders_v2/object#order_v2_object-total_details-breakdown))?

[2022-07-27 20:46] hhartwell commented on #1766
Thank you so much for your time @arnav13081994. pointing our dj-stripe version at that branch is working wonders for us!

[2022-07-27 21:22] ckcollab commented on #1766
@arnav13081994 thanks a ton for the help. I am able to see `djstripe` just opening up a REPL:

[code]

It does not appear in `pip list` .. and I don't think it should?! maybe I'm misunderstanding how to run tests here, thanks for your patience!

[2022-07-28 04:52] arnav13081994 commented on #1766
@ckcollab You're right about that. I'm not sure what's wrong here.

Can you try to install the master branch using pip by adding this to the requirements file replacing the reference to the dj-stripe package

[code]

@hhartwell I'm glad you find dj-stripe to be useful. We will continue to add super useful features! Definitely open a feature request if you think of a useful addition to this library

[2022-07-28 19:19] sparkle-motion-2 opened #1767 "Issue with syncing pricing tiers."
**Describe the bug**
When using a product with volume pricing tiers, the tiers aren't synced into djstripe models properly. This prevents viewing the models in the admin by throwing the following error:

File "C:\Users\david\anaconda3\envs\django\lib\site-packages\djstripe\models\core.py", line 2254, in human_readable_price tier_1 = self.tiers[0]
Exception Type: TypeError at /admin/djstripe/price/

[2022-07-28 19:33] ckcollab commented on #1766
..so strange. Installing `https://github.com/dj-stripe/dj-stripe/archive/master.zip` worked just fine...

still getting this strange error attempting to run `pytest`:
[code]

[2022-07-29 06:12] arnav13081994 commented on #1766
@ckcollab I even tried with a new fork on `python3.10` and still can't replicate the error.

Were you able to run pytest before you added your changes?

And perhaps try to create a new fork by following these steps and let me know if you still face this issue or not:

1. `gh repo clone dj-stripe/dj-stripe`
2. Open the dj-stripe repo in your code editor.
3. On the integrated Terminal run the follow

[2022-07-29 06:13] arnav13081994 commented on #1767
@sparkle-motion-2 I am aware of this error and have pushed a partial fix to `master` already. Would be raising another `PR` over the weekend closing this issue.

[2022-07-29 19:05] ckcollab commented on #1766
OK, finally figured it out. Poetry wasn't building the final distribution because `mysqlclient` was failing to install. I removed `mysqlclient` from pyproject.toml and she's running fine now!

**For anyone experiencing this in the future, make sure poetry finishes with no errors .. it might look like it succeeded "well enough," but for the distribution to be made every package must be installed su

[2022-07-29 19:05] #1766 closed, assigned to nobody

[2022-08-01 19:49] AsalhiOfficial opened #1770 "DJSTRIPE_WEBHOOK_SECRET required even if setup webhook from admin interface"
Hi. I am on the latest master branch and am using the new way of setting up webhooks from the admin console. Am i right for assuming that the DJSTRIPE_WEBHOOK_SECRET env is no longer used if it is set up this way? And if so, it should no longer complain when it is not set (which it currently does).

Also, if i am right that its not used anymore, what is the security that is being used; is it just

[2022-08-02 00:46] jleclanche commented on #1770
Indeed `DJSTRIPE_WEBHOOK_SECRET` is no longer used because the webhook secret is now stored in the db. The UUID endpoints allow for multiple webhook endpoints rather than just one, that's just an additional security benefit but we do still verify webhook signatures using the secret.

Does #1737 answer your question? That'll be the changelog once we're finished with it.

[2022-08-02 00:59] AsalhiOfficial commented on #1770
Thank you for explaining. #1737 doesnt say anything about the DJSTRIPE_WEBHOOK_SECRET. It only talks about deprecating DJSTRIPE_WEBHOOK_URL. But I hear what your saying.

So will this be fixed in the full release? This is what the bug label was for. It currently does not allow you to run the server without DJSTRIPE_WEBHOOK_SECRET set even when using the django admin to create the webhooks

[2022-08-03 04:58] arnav13081994 commented on #1770
@AsalhiOfficial

Thank you for reporting this issue. I'll push a fix within this week.

Feel free to report any other bugs. I hope everything else worked as expected.

[2022-08-03 13:35] bufke commented on #1720
[GlitchTip](https://glitchtip.com/), an open source error monitoring platform, uses dj-stripe on it's [back-end](https://gitlab.com/glitchtip/glitchtip-backend/) to sync subscription data. It's hosted version has paid tiers. The dj-stripe customer model is an Organization from [django-organizations](https://github.com/bennylope/django-organizations). Stripe customer portal is used for managing the

[2022-08-04 16:47] kavdev opened #1772 "API 2022-08-01 Breaking Changes Check"
**Changelog Link**

https://stripe.com/docs/upgrades#2022-08-01

**Describe the Change**

Stripe just released a new api version. Here's a summary of breaking changes: https://twitter.com/cjav_dev/status/1554922709737283585

[2022-08-04 20:01] sparkle-motion-2 commented on #1767
After upgrading to the most recent version of djstripe and making the changes that you put into your PR, it still isn't working. The only difference is that the error is now TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

[2022-08-04 20:23] #1770 closed, assigned to nobody

[2022-08-04 21:52] sparkle-motion-2 commented on #1767
I found the issue:
For pricing tiers, if the per unit price has >2 decimal places, it returns a null value in the "unit_amount" field in the tiers JSON object. This is what is causing the "TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'" error.

[2022-08-07 14:00] martinezleoml commented on #1767
Hi there!

We are facing the same issue but the root cause seems different in our case. We're using graduated pricing as shown in the screenshot below.

<img width="587" alt="image" src="https://user-images.githubusercontent.com/759215/183294212-c4af4bac-4318-4706-8c5f-8a74be76565d.png">

When you set `0` as unit price and define a flat fee, the API returns `null` for the `unit_amount` field, as s

[2022-08-07 15:33] AxanIqbal opened #1775 "complex charge to another account"
### Discussed in https://github.com/dj-stripe/dj-stripe/discussions/1774

<div type='discussions-op-text'>

<sup>Originally posted by **AxanIqbal** August  7, 2022</sup>
hey there, I've been confused for some time now what i want is to charge one account take some as application fee and transfer remaining to another account am ashamed not getting the exact thing i want if anyone can help me, ill b

[2022-08-08 13:47] AxanIqbal commented on #1775
https://stripe.com/docs/connect/charges-transfers
The way to do that but there's no documentation of connect how (dj-stripe)

[2022-08-08 13:50] arnav13081994 commented on #1775
@AxanIqbal Unfortunately we don't provide any helper methods to make that flow easier. We may choose to include that in the future.

Also please note that our data sync for connect only models like ApplicationFee, TransferFee and the like is buggy and we are aware of this problem. Plan is to address the sync issues first.

Hope this helps inform your future searches.

[2022-08-08 14:00] AxanIqbal commented on #1775
I see and do we have method to call stripe with api key implement?

[2022-08-08 14:07] arnav13081994 commented on #1775
For connect only models you'll be better off calling the stripe APIs directly.

[2022-08-08 14:10] AxanIqbal commented on #1775
Okay I'll do that thanks for the response

[2022-08-08 14:10] #1775 closed, assigned to nobody

[2022-08-08 15:22] dbartenstein commented on #1720
We are using dj-stripe for our SaaS car sharing platform [Zemtu](www.zemtu.com/). Via dj-stripe we connect the Stripe accounts of our partners to Zemtu’s billing engine.

[2022-08-11 01:11] Ahasseyp opened #1777 "Webhook fails on charge.succeeded when finishing a CheckoutSession with transfer_data"
**Describe the bug**
After successfully finishing a CheckoutSession for a destination charge with the method bellow, the returning charge.succeed event webhook fails by not finding the charge id.
[code]

**To Reproduce**
Steps to reproduce the behavior:

e.g.:

1. Enable stripe webhook to dj-stripe
2. Use a CheckoutSession to create a PaymentIntent with application_fee_amount and transfer_data (St

[2022-08-13 05:11] ANG3L0 opened #1778 "Webhook Using Both Live And Test Keys Simultaneously"
**Describe the bug**
My webhook uses both live and test keys simultaneously such that I receive errors like the below, regardless of whether I'm in live or dev:

[code]

I see the above making a user in test mode. But the "test "and "live" are simply reversed in prod when I get a real customer. Eventually, the other hook will capture the event correctly. But it seems to be using both live/test hoo

[2022-08-14 00:58] jleclanche commented on #1778
In the latest dj-stripe (released in beta currently, soon to be released live), we better support this use case by enabling multiple different unique webhook endpoints, tracked in the database.

If this is a dealbreaker for you, I invite you to upgrade to 2.7.0b1 and give feedback on it.

[2022-08-16 10:55] jaimin-chouhan opened #1781 "Djstripe admin tables not showing on on Django admin after upgrading to v2.7.0b1"
**Describe the bug**
Having upgraded to the latest version of Djstripe, 2.7.0b1, the DJSTRIPE section for all Djstripe tables where tables like Accounts, Api keys, etc is managed is missing. Using the previous version, 2.7.0a8, it shows and works fine.

Has this been disabled on purpose, if so then how can i view these Djstripe tables?

**Software versions**
- dj-stripe version: 2.7.0b1
- Python v

[2022-08-17 00:14] #1767 closed, assigned to arnav13081994

[2022-08-17 20:14] hbradlow commented on #1745
This is still an issue for me. Is there a fix for this that doesn't involve pulling the entire code base into ours?

[2022-08-17 21:38] eliezerp3 opened #1783 "Error when attempting to sync a Charge (AttributeError: 'dict' object has no attribute 'auto_paging_iter')"
Getting the following error when attempting to sync a charge from a 'charge.succeeded' signal. I am on the master branch.

Code:
[code]
Error Log
[code]

[2022-08-18 08:13] jaimin-chouhan commented on #1743
@mishaplotkine @arnav13081994 did you manage to get this working? if so, how did you select when key 1 should be used? thanks

[2022-08-18 09:09] jaimin-chouhan commented on #1781
@arnav13081994 are you able to answer whether this is a bug or intentional, thanks!?

[2022-08-18 09:11] arnav13081994 commented on #1781
Fix is [here](https://github.com/dj-stripe/dj-stripe/pull/1728)

[2022-08-18 09:11] #1781 closed, assigned to nobody

[2022-08-18 09:14] arnav13081994 commented on #1743
@jai-chouhan-onto if you have multiple keys for the same environment, you need to pass them explicitly using the `api_key` param.

[2022-08-18 09:17] arnav13081994 commented on #1777
@Ahasseyp This is a known bug. Support for `Stripe Connect` is very buggy right now.

[2022-08-19 06:05] BoPeng opened #1785 "How do I get customer balance transactions?"
**What are you trying to accomplish?**

List all balance transactions related to a customer, potentially within a specified time frame.

**Potential solutions**

Querying `BalanceTransaction` database is not easy since there is no `customer` field for this class. This class does have a `source`, but this is not a `ForeignKey` so I cannot query by something like `source.customer.id = request.user.c

[2022-08-22 00:53] jleclanche commented on #1745
@hbradlow Im hoping to have dj-stripe 2.7.0 out this week which will include the fix.

[2022-08-22 14:58] arnav13081994 commented on #1785
@BoPeng We currently do not support the `Customer Balance Transaction` model. It may be added in the future but I cannot guarantee that.

[2022-08-22 15:05] arnav13081994 commented on #1783
@eliezerp3 Could you please paste the `JSON` of the object. It'll be better if I could get the `event` object for `charge.succeeded` itself

[2022-08-22 15:12] BoPeng commented on #1785
Thanks for your quick reply. I will use `stripe.Customer.list_balance_transactions` directly for now.

[2022-08-22 18:59] arnav13081994 commented on #1744
@eliezerp3 Done. PR is [here](https://github.com/dj-stripe/dj-stripe/pull/1787)

[2022-08-23 14:39] eliezerp3 commented on #1744
@arnav13081994 You are awesome! Thank you for all your hard work!
Being as that this doesn’t add/remove/modify any fields on a migrations level and just adds json to an existing field, any way you can sneak this into v2.7 release?

[2022-08-23 15:21] eliezerp3 commented on #1783
Sure

[code]

[2022-08-23 19:36] arnav13081994 commented on #1744
@jleclanche Is it possible?

[2022-08-30 19:39] #1783 closed, assigned to arnav13081994

[2022-08-30 19:42] #1763 closed, assigned to arnav13081994

[2022-08-30 21:57] eliezerp3 opened #1792 "Error upgrading to latest master using poetry"
I just tried to upgrade to the latest branch by doing
[code]
like i've used to upgrade the last couple of times. Only this time its throwing the error below:
[code]

[2022-08-30 23:18] jleclanche commented on #1792
Hi @eliezerp3

Please excuse the state of master, since today it depends on an unreleased version of poetry, specifically, 1.2.0. You can install its rc2 and the error will go away: https://pypi.org/project/poetry/1.2.0rc2/

I'm blocking the final release on the actual stable release of poetry 1.2.0 anyway, which should be out imminently according to the poetry team (should have been out yesterday

[2022-08-30 23:18] #1792 closed, assigned to nobody

[2022-08-31 00:02] eliezerp3 commented on #1792
@jleclanche I pinned it to ```8021d60``` for now. Thanks. Just to let you know; there are a lot of unapplied migrations when I ran ```python manage.py makemigrations```.

[2022-08-31 00:04] jleclanche commented on #1792
@eliezerp3 What missing migrations are you seeing? This might be specific to your app, because on stock djstripe I don't see anything on makemigrations.

[2022-08-31 00:05] eliezerp3 commented on #1792
A ton.
[code]

[2022-08-31 00:07] jleclanche commented on #1792
What version of django are you running please?

[2022-08-31 00:07] eliezerp3 commented on #1792
4.0.2

[2022-08-31 00:08] jleclanche commented on #1792
I still cannot reproduce. Can you file a new issue and attach the generated migration please?

[2022-08-31 00:09] eliezerp3 commented on #1792
The logs?

[2022-08-31 00:09] jleclanche commented on #1792
This file:
Migrations for 'djstripe':
  /usr/local/lib/python3.10/site-packages/djstripe/migrations/0012_alter_account_business_profile_and_more.py

[2022-08-31 00:10] eliezerp3 commented on #1792
ok

[2022-08-31 00:16] eliezerp3 opened #1793 "Getting a ton of un-applied migrations for the latest version of master"
Had to change it to a .txt extension to upload it here.

[0012_alter_account_business_profile_and_more.txt](https://github.com/dj-stripe/dj-stripe/files/9457298/0012_alter_account_business_profile_and_more.txt)

**Software versions**
- dj-stripe version: #8021d60
- Python version: 3.10.2
- Django version: 4.0.2

[2022-08-31 00:16] eliezerp3 commented on #1792
@jleclanche Posted here #1793

[2022-08-31 01:48] eliezerp3 commented on #1793
@jleclanche After further debugging; It may be this issue only occurs if not using poetry.

[2022-08-31 02:48] eliezerp3 commented on #1793
@jleclanche  I am trying to do further debugging on this in the latest release candidate by creating a new minimal django project but it immediately fails due to
[code]
I see you tried to fix this in [here](https://github.com/dj-stripe/dj-stripe/commit/30842660c57297077fc00f5051fb171436697fb1) but you are only catching a ProgrammingError exception and I am getting a OperationalError exception.

[2022-08-31 03:08] arnav13081994 commented on #1793
@eliezerp3 That's weird. ProgrammingError is a subclass of DatabaseError which is what should be raised in case the table doesn't exist. As far as I know OperationalError are not for this but perhaps I missed a case.

Could you please attach the traceback? I'll address this asap.

[2022-08-31 03:10] eliezerp3 commented on #1793
[code]

[2022-08-31 08:05] PabloCastellano commented on #1792
@jleclanche JFTR, poetry 1.2.0 is now released!

[2022-08-31 15:34] arnav13081994 commented on #1793
@eliezerp3 I am unable to reproduce your migrations issue.

I have tried with `postgreSQL`, `mySQL`, and `sqlite` on Python `3.10` and django `4.0` and no migrations get created.

Please try to come up with steps to reproduce these migrations.

A fix for the failing check has been created [here](https://github.com/dj-stripe/dj-stripe/pull/1794)

[2022-08-31 15:57] eliezerp3 commented on #1793
@arnav13081994 I’ll try to reproduce once that pull request gets merged.

Did you try without using poetry?

[2022-08-31 17:00] eliezerp3 commented on #1793
@arnav13081994 I replicated it [here](https://github.com/eliezerp3/dj-migration-bug). I upgraded to poetry 1.2.0 and I am using the commit from your pull request so sqlite works. I can confirm it is still occurs even with poetry.

[2022-08-31 18:47] arnav13081994 commented on #1793
@eliezerp3 Thank you for replicating it. I can confirm this issue. I don't know the reason as of now but I can confirm that this issue happens on:

1. `sqlite` on `py 3.9`  and `django 4`
2. `sqlite` on `py 3.9` and `django 3.2`
3. `sqlite` on `py 3.10`  and `django 3.2`
4. `sqlite` on `py 3.10`  and `django 4`

[2022-08-31 20:16] eliezerp3 commented on #1793
@arnav13081994 In my main project I am using postgres and it is still creating the migrations

[2022-09-01 02:20] hbradlow commented on #1745
@jleclanche any update on this?

[2022-09-01 13:52] arnav13081994 commented on #1793
@eliezerp3 You can try with this `rev: "b423fafa1e7b06b4fc20ec0c21641a54dcfad731"` for `dj-stripe`

[2022-09-01 16:46] eliezerp3 commented on #1793
@arnav13081994 Couldnt test it on test repo above as doesnt contain the commit for the sqlite fix but tested it on my project with postgres and worked great. Thank you!
I see that you put the 1.8 milestone on both of these fixes. They are pretty important though as no one will be able to use this project with sqlite and these new migrations can cause conflicts. Are you planning on skipping straigh

[2022-09-01 17:12] arnav13081994 commented on #1793
@eliezerp3 I have requested Jerome to merge those 2 PRs as soon as possible.

[2022-09-01 17:20] arnav13081994 commented on #1670
@ahmedsafadii Sorry for the super delayed response. I got busy with work and forgot about this issue.

On going through this thread, it seems the error may be happening due to the `Customer` and `Subscriber` relation. Are you allowing multiple `Customers` to be related to the same `Subscriber` with the same `Stripe Account`?

That means that are you allowing the same `user` to be associated with m

[2022-09-01 17:21] arnav13081994 commented on #1631
Closing this issue due to a lack of response. Feel free to re-open if the issue persists.

[2022-09-01 17:21] #1631 closed, assigned to nobody

[2022-09-01 17:24] arnav13081994 commented on #1239
@jleclanche This issue no longer seems relevant. Can be closed?

[2022-09-01 17:25] arnav13081994 commented on #1674
Fixed by PR #1764

[2022-09-01 17:25] #1674 closed, assigned to arnav13081994

[2022-09-01 17:27] arnav13081994 commented on #1310
@jleclanche This issue is not relevant to `dj-stripe` and can be closed?

[2022-09-01 17:28] #1297 closed, assigned to jleclanche, arnav13081994

[2022-09-01 17:33] arnav13081994 commented on #1241
@Aniket-Singla This issue doesn't have anything to do with `dj-stripe` so unfortunately can't help you with this.

It seems you may gain by looking at [Transaction Savepoints](https://docs.djangoproject.com/en/4.1/topics/db/transactions/#savepoints).

[2022-09-01 17:33] #1241 closed, assigned to nobody

[2022-09-01 23:05] jleclanche commented on #1310
I think I'm closing this yes. Will reopen if someone comes up with a way to reproduce this reliably…

[2022-09-01 23:05] #1310 closed, assigned to nobody

[2022-09-02 21:15] #1793 closed, assigned to nobody

[2022-09-05 07:50] patroqueeet opened #1799 "Invoice Item Id inconsistent use"
**Describe the bug**
invoice item id is retrieved from stripe like this: `in_1LdXdHBBirzkVpobzVhTbSlx-il_1LdXdHBBirzkVpobyvdtatxX`

but when used in pagination for 10+ if line items, this would fail with: `No such invoice item: 'in_1LdXdHBBirzkVpobzVhTbSlx-il_1LdXdHBBirzkVpobyvdtatxX'`

But when using `params = {'starting_after': 'il_1LdXdHBBirzkVpobyvdtatxX'}` for obtaining the item in `requestor

[2022-09-05 07:52] patroqueeet commented on #1799
stack FYI

[code]

[2022-09-05 11:29] arnav13081994 commented on #1799
@patroqueeet Thank you for reporting this bug. This has to do with the incorrect implementation of `Invoice Item` in `dj-stripe`. There are currently several open PRs addressing the incorrect association between `Line Items` and `Invoice Items`.  Unfortunately I cannot give you the timeline of when they will be merged and released.

[2022-09-07 19:51] stsewd commented on #1068
We are facing a similar problem at Read the Docs, looks like stripe used to create payment methods as `src_xxx`, `card_xxx`, etc objects, but now they create them as payment method objects (`pm_xxx`). Old payment methods will still return the old id, and they can't be retrieved using the `https://api.stripe.com/v1/payment_methods/src_xxx` endpoint (it will return a 404), but using the `https://api

[2022-09-07 22:32] jleclanche commented on #1068
@stsewd Thanks for the input. Do you use dj-stripe on RTD or did you just come across this issue via google?

I'd like to get this fixed for 2.7.0 but I think it's best to wait until 2.7.1 since we're already in rc2.

[2022-09-08 00:27] stsewd commented on #1068
We are in the process of adopting djstripe to handle subscriptions, instead of our custom models. In this process I found that one subscription was missing, and ended up in this issue p:

And looks like there was just one subscription with this problem, as a workaround I skipped the creation of the paymen method for that subscription (we don't need the payment method, so we are okay skipping it fo

[2022-09-08 00:30] jleclanche commented on #1068
Cool, glad to hear you worked around it. LMK if you need help.

[2022-09-11 21:10] jleclanche commented on #1745
@hbradlow dj-stripe 2.7.0rc2 has been out for a little while, please test it and report back. We've gotten very little feedback on the release candidate which makes me feel uncomfortable releasing final stable.

[2022-09-12 17:58] hbradlow commented on #1745
@jleclanche I just upgraded to 2.7.0rc2 and it seems to resolve this problem. Thanks for getting it done! When will the official 2.7.0 version be released?

[2022-09-13 11:33] moonesque commented on #1267
We encountered this issue too. One occurrence in roughly one year. Here's the sentry issue:
https://sentry.io/share/issue/3ff3a1bff9204b6687a4472f7e355d4a/

[2022-09-14 19:26] dvannucci commented on #1745
Even using 2.7.0rc2 still doesn't seem to resolve the problem for me. Locally everything always works fine, but once pushing to production, I am unable to run any migration tasks because of this error.

Should I be uninstalling djstripe and starting from scratch?

[2022-09-15 20:56] JacquelineMorrissette opened #1802 "Price model throws error if `unit_amount` is Null"
**Describe the bug**
The `unit_amount` listed in Tiers can be null and is causing the Price model to throw a TypeError.

Copied from the response of our pricing table:
[code]

Error message recieved:
[code]
**To Reproduce**
1. Create a pricing table with Graduated Tiers, leave `per unit` blank
2. `python3 manage.py` `shell` or `shell_plus`
3. `from djstripe.models.core import Price`
4. `Price.obje

[2022-09-22 13:05] arnav13081994 commented on #1802
@JacquelineMorrissette I cannot reproduce this issue. Please update your `dj-stripe` version. This issue seems to have been fixed.

[2022-09-22 19:23] james-efani opened #1804 "Duplicate key value djstripe_paymentmethod_id_key and djstripe_customer_id_key"
**Describe the bug**
DJ Stripe has been working perfectly for me for over 1 year. With stripe test keys everything still works perfectly.
Without any code changes (but more customers in the database) - on stripe production this week, dj sync calls take 10 seconds and I get the error:

ERROR:  duplicate key value violates unique constraint "djstripe_paymentmethod_id_key"
ERROR:  duplicate key value

[2022-09-22 19:59] onekiloparsec commented on #1080
For those who still stumble upon the same problem, please note that [docs](https://stripe.com/docs/billing/subscriptions/overview#subscription-lifecycle) mention to listen the `invoice.paid` webhook, rather than `customer.subscription.updated`.

[2022-09-22 21:22] james-efani commented on #1804
Or just being able to catch the exception so it doesn't interrupt the rest of the payment stuff would be great.

[code]
This doesn't work though

[2022-09-23 16:30] arnav13081994 commented on #1804
@james-efani Please follow the bug template and give us the requested details. Without that it's not possible for us to assist.

[2022-09-23 17:09] james-efani commented on #1804
@arnav13081994 Thanks I updated the issue above

[2022-09-24 12:48] arnav13081994 commented on #1804
@james-efani Dealing with these errors must be super frustrating. I'm sorry about that.

Are you seeing these errors at the application level or in your DB logs? I ask because we take the classic python ask for forgiveness approach in a few places for syncing so the DB may raise those errors but they are all handled at the application level. I think to really see what's going on, I suggest please

[2022-09-24 14:39] james-efani commented on #1804
Thanks for the quick response.
The original error appears to be at the DB log level

<img width="940" alt="Screen Shot 2022-09-24 at 10 24 56 AM" src="https://user-images.githubusercontent.com/99301684/192103228-15b43e01-c262-4c62-a385-22cddfc09a86.png">

I changed a bunch of the duplicate customer field for the customer model mentioned in an error and after syncing it was changed correctly.
[code

[2022-09-24 14:49] arnav13081994 commented on #1804
I'm glad the issue was resolved.

The db queries are slow compared to test or in general?

Our sync algorithm is really simple so if you have any suggestions to improve please go ahead.

This is basically what we do:

Get the data from stripe (can't skip this part as we don't know and have no way of knowing if the given object changed upstream on stripe or not) --> start syncing field by field -->

[2022-09-24 15:10] james-efani commented on #1804
Apologies - it seems it was always doing this and my error is caused by something else. Thanks for the help!

[2022-09-24 15:10] #1804 closed, assigned to nobody

[2022-09-27 13:10] roniemartinez opened #1806 "Add support for other Payment Methods (enum)"
**Is your request related to a problem? Please describe.**
The [`PaymentMethodType`](https://github.com/dj-stripe/dj-stripe/blob/8d9a05daac2c4b2eb5c87e4249b9618b824ca901/djstripe/enums.py#L490) enum is only limited to basic methods. Accessing a `Charge` object (for example) with non-supported value (e.g. `customer_balance`) from Django admin will throw a `KeyError`.

**Describe the solution you'd

[2022-09-27 14:41] BoPeng opened #1807 "How do I stop old events from hitting the database?"
We use the same api key for multiple testing environments (unit tests, frontend tests etc). Some tests generate a large number of fake customers and events and only relevant events were handled for testing, which cause `stripe.com` to re-send these unhandled or failed events repeatedly. The problem is that all test environments share the same stripe account so all events will be sent to all test c

[2022-09-27 14:51] jleclanche commented on #1807
I'll look into the best way to do this and respond later (hopefully).

In the mean time, FYI, Stripe *eventually* stops retrying events (I don't remember after how long, but it's around a few days).

[2022-09-27 15:01] BoPeng commented on #1807
Thanks for your quick response. Yes, stripe.com will eventually stop sending these events but every round of tests generate more. Our test database is pretty fragile so we see `database is locked` pretty often due to this problem (symptoms similar to [#1571](https://github.com/dj-stripe/dj-stripe/issues/1571)).

So we need essentially a `EVENT_FILTER_FUNC` that is called before the event hits  the

[2022-09-27 15:07] jleclanche commented on #1807
I see. But your tests run against production and produce real events? Or are these test mode events you're receiving?

It might be possible to discard test mode events indiscriminately somewhat easily. I will see when I get back.

[2022-09-27 15:12] BoPeng commented on #1807
We use real events in test mode (using test api keys and `livemode=False`). Because no test will wait for `stripe.com` to re-send failed events, I believe it even makes sense for `djstripe` to discard old events using a test api key by default.

[2022-09-27 16:26] jleclanche commented on #1807
@BoPeng are you on 2.7 or 2.6? In 2.7 every webhook URL is unique, so you could simply disable / devnull the url for your test setup.

[2022-09-27 17:29] BoPeng commented on #1807
@jleclanche I am using 2.6. I am not sure about the webhook features of 2.7 but there is no easy way to discard events by their types. We essentially need to mark all resent test events as done with a 200 response and stop recording them in the database. As far as I can tell, the even does not have an "attempt count" field and we can only guess that by checking the `created` date.

[2022-09-27 17:31] jleclanche commented on #1807
@BoPeng in 2.7 test and live mode should have different webhook endpoints, so you can just discard the ones on test

[2022-09-27 17:31] jleclanche commented on #1807
I will try to release 2.7 this week. But you can safely use 2.7.0rc2 as there will be no changes between now and release (it's literally just the changelog that needs to be done)

[2022-09-27 17:35] BoPeng commented on #1807
I do not understand. I do not want to discard all test events, just those that were re-sent if they were not handled during testing.

[2022-09-27 17:36] jleclanche commented on #1807
I see what you mean... no I don't think there's a way to know the events in question were or were not handled during testing. I'm looking into whether there's an easy way to implement your own webhook handler though...

[2022-09-27 17:38] jleclanche commented on #1807
If instead of including djstripe urls, you include urls to your own webhook handler (see this file: https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/urls.py), subclassing [ProcessWebhookView](https://github.com/dj-stripe/dj-stripe/blob/4883129662829356370b18c7905c474ae8f528a3/djstripe/views.py#L18), you can do some pre-processing. Unfortunately it involves decoding the webhook twice. Fo

[2022-09-27 18:11] BoPeng commented on #1807
I understand, but rewritting the `url` and `ProcessWebhookView` is exactly the thing I wanted to avoid. I was hoping for something like

[code]

[2022-09-27 18:17] jleclanche commented on #1807
Yup I understand. I will try to do something to make life easier. But for now what you could do is monkey-patch `WebhookEventTrigger.is_test_event` to return `True` if whatever condition you want is present.

[2022-09-27 18:36] BoPeng commented on #1807
OK, I created a pull request just for the record. For my particular application, this solution has the advantage that I can define this preprocessor for testing only so it will not affect production runs.

[2022-09-28 04:08] francosuch commented on #1802
Encountered this error too. Using stripe webhook, I added a subscription item with billing scheme "per unit". Since it is newly created, there is no amount. and thus:

on djstripe.models.billing.Plan.human_readable_price:
the call to:
get_friendly_currency_amount(unit_amount, self.currency)
produces an error when
self.amount = Null
and it is transferred to unit_amount via
unit_amount =  self.amoun

[2022-09-28 15:13] #1802 closed, assigned to arnav13081994

[2022-09-28 15:14] jleclanche commented on #1802
This particular issue should already be fixed in 2.7.0rc2, but I still added further guards which should fully fix the issue for 2.7.0 final.

[2022-09-30 16:01] #1806 closed, assigned to nobody

[2022-10-02 19:46] hbradlow opened #1811 "Add support for Stripe Issuing"
**Describe the solution you'd like**
Add support for the models associated with [Stripe Issuing](https://stripe.com/docs/issuing). This includes:

- [Cardholder](https://stripe.com/docs/api/issuing/cardholders/object)
- [Card](https://stripe.com/docs/api/issuing/cards/object)
- [Authorization](https://stripe.com/docs/api/issuing/authorizations/object)
- [Dispute](https://stripe.com/docs/api/issuin

[2022-10-02 23:32] andrewkoltsov opened #1812 "Fix customer uniqueness checks"
**Describe the bug**
Stipe has limitation for subscriptions: 1 stripe customer - 1 currency, so there is a work around: 1 dj-stripe subscriber - multiple stripe customer, via api I can create several stripe customers with different currencies and subscribe them , but there is unique constraint
[code]
I think it should be changed to
[code]
PS: https://stripe.com/docs/invoicing/multi-currency-custom

[2022-10-04 03:23] arnav13081994 commented on #1745
@dvannucci Sorry for the delayed response. I believe some migration names were removed and that may have caused this issue.

I would suggest seeing all the applied migrations and then seeing if you're missing any and work from there.

[2022-10-04 03:32] arnav13081994 commented on #1812
@jleclanche

This is again about the unique together violation. I still think we should drop subscriber from this as 1 subscriber can be linked to multiple customers and stripe doesn't disallow it. One may also choose to create 1 customer linked to 1 product and have multiple such products. So in this workflow, 1 subscriber can be linked to multiple products and also multiple customers.

In fact I

[2022-10-04 23:22] andrewkoltsov commented on #1812
let me reformulate that, I can create several stripe customers and link them to same subscriber via metadata, but dj-stripe can’t store that

[2022-10-05 05:44] Robin-Bonnin opened #1814 "Failure when attempting to upgrade from dj-stripe 2.3.0 to 2.4.4"
**Software versions**
- Upgrading from dj-stripe version: 2.3.0
- Upgrading to dj-stripe version: 2.4.4
- Python version: 3.6.15
- Django version: 2.2.28
- Stripe API version: 2019-09-09
- Database type and version: POSTGRESQL - 11.17
- Failing migration id: 0002_auto_20180627_1121

**Can you reproduce the issue with the latest version of master?**
No

**Describe the issue**
We currently have a pr

[2022-10-05 14:35] jleclanche commented on #1814
Hi Robin!

Try changing the migration djstripe dependency to: `"djstripe", "0001_initial"`

This will work more reliably. If it does not for some reason, let me know the error.

[2022-10-05 16:25] Robin-Bonnin commented on #1814
Worked perfectly thank you!

[2022-10-05 16:25] #1814 closed, assigned to nobody

[2022-10-11 08:41] francosuch commented on #1802
Thank you! That is awesome.
________________________________
From: Jerome Leclanche ***@***.***>
Sent: Wednesday, September 28, 2022 11:14 PM
To: dj-stripe/dj-stripe ***@***.***>
Cc: Franco Such ***@***.***>; Comment ***@***.***>
Subject: Re: [dj-stripe/dj-stripe] Price model throws error if `unit_amount` is Null (Issue #1802)

This particular issue should already be fixed in 2.7.0rc2, but I still

[2022-10-11 08:57] arnav13081994 commented on #1722
I’ll see what’s happening. Thanks for letting me know.

On Wed, 15 Jun 2022 at 8:37 AM, eliezerp3 ***@***.***> wrote:

--
Regards,

Arnav

[2022-10-14 02:45] aburgel commented on #1745
This issue has been frustrating me too so I did some investigating.

The cause is that there were two fields that were missed when updating the migrations for django 4.0 compatibility: [`InvoiceItem.tax_rates`](https://github.com/dj-stripe/dj-stripe/blob/2.6.2/djstripe/migrations/0001_initial.py#L3744) and [`SubscriptionItem.tax_rates`](https://github.com/dj-stripe/dj-stripe/blob/2.6.2/djstripe/mi

[2022-10-14 23:15] jleclanche commented on #1737
Closing this issue and moving work to draft

[2022-10-14 23:15] #1737 closed, assigned to jleclanche, arnav13081994

[2022-10-14 23:21] jleclanche opened #1820 "[Call for contributors] We need a migration path for old-style to new-style JSONFields"
Hi folks

dj-stripe 2.8.0 will drop support for old-style JSONFields - that is, jsonfields that did not use postgres special JSONField or django's native JSONField. See [here](https://github.com/dj-stripe/dj-stripe/releases/tag/2.6.0) for the deprecation notice.

Blocking the 2.8.0 release will be a migration path for those poor souls stuck on the old JSONFields. These are text fields, and need to

[2022-10-14 23:23] jleclanche commented on #1566
Following-up in #1820.

[2022-10-14 23:23] #1566 closed, assigned to nobody

[2022-10-14 23:25] jleclanche commented on #1647
Sorry I don't know what's causing this. Poetry auto-adds the classifiers.  This might be a bug in Poetry?

[2022-10-17 13:26] pyarun commented on #1310
I am facing the same issue when checkout subscription.
This was the API called:
GET /v1/payment_methods/pm_1LttH4GjnXt2EdHYbSpi6HCD

[2022-10-17 13:51] arnav13081994 commented on #1310
@pyarun Dj-stripe is a wrapper around the stripe api and cannot do anything about RateLimitErrors.

[2022-10-17 19:47] jleclanche commented on #1636
2.7.0 is out

[2022-10-17 19:47] #1636 closed, assigned to nobody

[2022-10-17 20:14] jleclanche commented on #1647
Closing, this is probably a Poetry issue and we will drop 3.7 support soon-ish anyway (EOL is in 7 months, so likely in 2.8 or 2.9). But for now, 3.7 is still supported, and it will remain supported in the 2.7.x branch no matter what the classifiers say.

[2022-10-17 20:14] #1647 closed, assigned to arnav13081994

[2022-10-17 20:17] #1342 closed, assigned to nobody

[2022-10-18 06:36] czue commented on #1647
Sounds good - thanks for clarifying!

[2022-10-18 07:19] roniemartinez opened #1822 "Failure when attempting to upgrade from dj-stripe 2.6.3 to 2.7.0"
**Software versions**
- Upgrading from dj-stripe version:
- Upgrading to dj-stripe version:
- Python version:
- Django version: 4.1
- Stripe API version:
- Database type and version:
- Failing migration id:

**Can you reproduce the issue with the latest version of master?**
Yes

**Describe the issue**
Django 4.1 is not supported in the new release 2.7.0

These changes were created before Django 4.

[2022-10-18 09:04] patroqueeet commented on #1799
hey, any update here?

[2022-10-19 20:21] #1561 closed, assigned to nobody

[2022-10-19 20:34] jleclanche commented on #1778
2.7.0 is released.

[2022-10-19 20:34] #1778 closed, assigned to nobody

[2022-10-19 20:52] #1822 closed, assigned to nobody

[2022-10-20 01:30] jorgeavaldez opened #1826 "Cannot sync payouts to cards"
**Describe the bug**
When attempting to call `Payout.sync_from_stripe_data` using a stripe response for a payout containing a `card` destination, I receive the following error message:

[code]

This seems to affect webhooks as well, I receive these errors:

[code]

**To Reproduce**

1. Enable stripe webhook to dj-stripe
2. In stripe dashboard or via code create a payout object to a connect account

[2022-10-20 01:47] jorgeavaldez commented on #1826
This is currently blocking me unfortunately, but I'm brainstorming some workarounds.

Are there any weird edge cases if I inherit from Payout and override the destination field using a `PaymentMethodForeignKey` field? Besides using the management commands of course.

[2022-10-20 09:37] ndjdev opened #1827 "Missing migration in 2.7.0"
**Describe the bug**
Running `makemigrations` on dj-stripe 2.7.0 generates a missing migration:

[code]

**Software versions**
- Dj-Stripe version: 2.7.0
- Python version: 3.8
- Django version: 3.2.15
- Stripe API version: 3.0.0

[2022-10-20 13:49] jleclanche commented on #1827
Thanks for the report. I'm releasing 2.7.1 with a fix for this that removes the migration altogether.

[2022-10-20 13:49] #1827 closed, assigned to nobody

[2022-10-20 16:30] kyle-hamlin opened #1828 "dj-stripe 2.7.1 has wrong requirements to work with django 4.1"
In the release docs for dj-stripe 2.7.1 it notes allowing django 4.1 usage:

[code]

Ref: https://github.com/dj-stripe/dj-stripe/releases/tag/2.7.1

However poetry evaluates `django="^3.2"` to `django (>=3.2,<4.0)`

[code]

poetry docs confirm this behavior:
https://python-poetry.org/docs/dependency-specification/#caret-requirements

**To Reproduce**

**Software versions**
- Dj-Stripe version: 2.7

[2022-10-20 22:36] jorgeavaldez commented on #1826
Ahh I see a fix here https://github.com/dj-stripe/dj-stripe/pull/1638

I went ahead and just created my own version of the Payout model for the time being which seems to sync manually fine, only issues now are manual webhooks and of course the sync commands.

[2022-10-21 16:19] jleclanche commented on #1828
Thank you. I'm very annoyed this wasn't caught by our test suite, since we use tox not poetry to install on the various django installs… :(

[2022-10-21 16:26] jleclanche commented on #1828
2.7.2 is out.

[2022-10-21 16:26] #1828 closed, assigned to nobody

[2022-10-21 16:36] jleclanche commented on #1826
@jorgeavaldez thanks for the updates… yeah, a migration path is blocking the landing of #1638.

[2022-10-23 01:37] tartieret commented on #1720
Using dj-stripe for managing subscriptions (monthly & annual) on my side project (https://a320expert.com). It's a training platform for Airbus A320 pilots. Thanks for your great work on this !

[2022-10-23 01:42] jorgeavaldez commented on #1826
No worries, if there's any way I can help please let me know!

[2022-10-23 05:00] rasulkireev opened #1829 "What is the correct way of working with Webhooks locally?"
Hello all,

I'm running into some issues while working with webhooks locally. I'm using dj-stripe version 2.7.2. I have a couple of questions regarding the "best practices" of working with webhooks in the new version.

Apologies in advance for the long message.

I have read the following two pages about webhooks on ReadTheDocs:
- https://dj-stripe.dev/dj-stripe/2.7/usage/webhooks/
- https://dj-str

[2022-10-23 08:41] jleclanche commented on #1826
@jorgeavaldez contributions for said migration path are welcome, see the discussion in that issue. If you want to pick it up, read up and leave a message with any questions.

[2022-10-26 03:50] steverecio opened #1833 "Admin Models Search Fields"
I'm always frustrated when I'm trying to look up a customer or subscription in my django admin but I only have the user's email address that they used to sign up on my site. Sometimes this email is different than the billing contact email in Stripe. Unfortunately, you can't search the Customer objects in the django admin by the subscriber field.

The Customer admin model has the following search f

[2022-10-26 11:14] jleclanche commented on #1833
I believe you can do something like this, I haven't tested if it will work.

[code]

Put it in a file that is run by django early on, such as in an appconfig's ready().

[2022-10-26 14:24] steverecio commented on #1833
@jleclanche thank you!

[2022-10-26 14:24] #1833 closed, assigned to nobody

[2022-10-27 02:44] rasulkireev commented on #1829
I've been trying to make this work for the past 3 days, but just can't seem to get it working. I guess I am misunderstanding something. Especially this bit is confusing me a bit:

If someone could help me, I would really appreciate it.

[2022-10-27 02:52] rasulkireev commented on #1829
I just can't seem to figure out how to make Webhooks work locally with Stripe CLI in dj-stripe 2.7. I can't say that I'm a complete beginner, since I was able to configure webhooks in the previous versions.

[2022-10-27 12:20] jleclanche commented on #1829
Hi Rasul, sorry for the delay, I was on a work trip. TBH I'm as confused as you are

@arnav13081994 you wrote that documentation. Care to shed some light on this?

[2022-10-27 12:23] jleclanche commented on #1833
@steverecio You can confirm it worked?

[2022-10-27 12:47] steverecio commented on #1833
@jleclanche yes, this worked great. Here is a sample app config for anyone interested:

[code]

[2022-10-27 12:49] rasulkireev commented on #1829
@jleclanche thanks for taking a look and for the response. Of course, I understand that everyone have a personal life and I don't expect everyone to jump at the issue 🙈

[2022-10-27 23:14] eliezerp3 opened #1835 "Checkout session model display_items changed to line_items back in version 2020-08-27"
Hi. The checkout Session model's removed display_items in favor of line_items back in version 2020-08-27 (which is the current supported version listed on djstripe) as listed in breaking changes [here](https://stripe.com/docs/upgrades#2020-08-27). It is also not included by default and has to be included in expand_fields.

There is also many fields missing from the Checkout model from 2020-08-27:

[2022-10-28 00:02] eliezerp3 commented on #1744
@arnav13081994 Just letting you know; after finishing my entire platform using the new Order API, I emailed stripe about when the Order API will get a full release and i got an email back below:

![IMG_4971C1D3C0FB-1](https://user-images.githubusercontent.com/30153503/198418675-4f131e82-3640-464b-b3eb-65d428767683.jpeg)

Really frustrating as i will now have to go back and re-create everything usi

[2022-10-28 08:22] patroqueeet opened #1836 "default payment method not detached"
to reproduce: in stripe UI remove a default payment method from customer, which in Django db is attached to `Customer.default_payment_method`. DJ DB looks like after: payment method existing, but with no customer attached, but `Customer.default_payment_method` is still linking to it. hence when checking in Django if there is a payment method attached, a wrong result is returned

**Describe the sol

[2022-10-28 23:29] Juanvulcano opened #1837 "Source is empty on example app?"
**Describe the bug**

I copied forms, views, urls and templates from the example app.
Reading the code it says:

    * create a Customer
    * add a card to the Customer
    * create a Subscription using that card

However the adding a card feature seems to be missing? So when I add email, select a plan and click submit a payment I am getting the following error.

Request req_ma5X2ufhzoZezf: Inval

[2022-10-30 14:23] arnav13081994 commented on #1829
@rasulkireev Sorry if the docs confused you.

In order for the local webhooks to work, you need to run the stripe local webhook server using `stripe listen`. Please run the following steps:

1) Start your django project, go to the webhook create page and create a webhook endpoint with any random domain name. It doesn't matter if you don't own it or don't have access to it because the local stripe

[2022-10-30 15:01] arnav13081994 commented on #1744
@eliezerp3 Thank you for letting us know. Lets hope it doesn't go away.

[2022-10-31 18:41] martinmain93 opened #1838 "Card matching query does not exist on Customer.add_card from stripe token from stripe checkout.js"
**Describe the bug**
I'm running an app which uses stripe checkout in the front end (Source imported from here https://checkout.stripe.com/v2/checkout.js  ), in which the user enters their credit card information and then Stripe provides a token which is passed to our API for further processing. On our server we use DJstripe to create a customer and then call `add_card` with the token from the str

[2022-10-31 22:48] jleclanche commented on #1838
Can you replicate this in 2.7.2?

[2022-11-01 12:31] czue opened #1839 "Subscription string method shows all subscriptions a customer is on"
**Describe the bug**

The [__str__ function on Subscriptions](https://github.com/dj-stripe/dj-stripe/blob/master/djstripe/models/billing.py#L1495-L1504) displays all products a customer is subscribed to. So if a customer has multiple subscriptions there is no way to visually differentiate them in several places, including the Admin UI. (see example below - these are actually several totally differ

[2022-11-01 13:52] arnav13081994 commented on #1839
@czue Thank you for reporting this issue. I think this was done because the stripe dashboard also does the same. But I think we can revert to the simple str representation as there are way too many db calls anyway.

[2022-11-01 13:58] czue commented on #1839
Good point re: DB calls.

Just FYI, Stripe dashboard has a table in the list view, which sort of works around this issue since the customer and product fields are separate. In the details view they do properly list the product(s) relevant to the subscription in the title.

![image](https://user-images.githubusercontent.com/66555/199250742-16d87176-354b-4821-94ea-4e356a98b101.png)

[2022-11-01 22:16] martinmain93 commented on #1838
I'll try this and see if that works. I'll update soon

[2022-11-02 02:01] arnav13081994 commented on #1839
I hadn't noticed this earlier but the `list` view is creating 1 entry for every `customer-subscription` pair so if the same `customer` has 3 different subscriptions they would have 3 separate entries and then each entry would like your attached screenshot.

[2022-11-02 15:22] CodeWithOz commented on #1267
Is there a workaround for this that can be quickly applied?

[2022-11-02 16:16] BoPeng commented on #1267
Stripe.com will re-send failed events so maybe this issue can be safely ignored if it happens once in a while?

On the other hand, if some of your events are not supposed to be handled by py-stripe (e.g. #1807), you can try to filter them before they hit the database (#1808).

[2022-11-03 10:46] #1839 closed, assigned to arnav13081994

[2022-11-03 13:06] czue commented on #1839
thanks for the speedy response!

[2022-11-04 10:30] martinmain93 commented on #1838
@jleclanche Just updated to the latest version. I can confirm that the bug is still present. Still appears to be happening when the add card action is executing at the same time as a webhook is being received. The trace was slightly different this time, and appears to also include some webhook exceptions:

[code]

[2022-11-04 14:37] arnav13081994 commented on #1838
@martinmain93 Are you able to reliably reproduce this?

It seems like a race condition to me. In production stripe retries webhooks several times so this usually is not a blocker for most.

[2022-11-04 15:59] martinmain93 commented on #1838
@arnav13081994 I am not able to reliably reproduce, but it’s happened on our production site about 50 times over the past month, resulting in lost revenue for our business. The webhooks get errors that we ignore all the time, as is well documented, and usually after one or two retries they come through without issue. The problem here is that the add_card method is failing. I don’t care about the w

[2022-11-04 16:25] arnav13081994 commented on #1838
@martinmain93 I will take a look at this issue and see what can be done.

Is this happening when you create a new customer or for returning customers as well? I think what perhaps is causing this is Card and Customer objects getting created at around the same time. This causes the error as the Card needs to be on the Customer (which needs to exist before card can be added).

[2022-11-04 23:29] martinmain93 commented on #1838
@arnav13081994 This is only happening with new users. The customer is created immediately before the card is added

[2022-11-07 14:25] martinmain93 commented on #1838
@arnav13081994 I've added a simple method to 'retry until success' which will literately attempt the add_card method until it goes through. It seems to be resolving the issue for now. Do you foresee any issues with this? I believe Djstripe uses idempotency keys internally so it shouldn't make any erroneous duplicate actions.

Also, we have noticed similar webhook munging issue in a few other place

[2022-11-07 14:27] martinmain93 commented on #1838
For reference:
[code]

[2022-11-08 03:36] arnav13081994 commented on #1838
@martinmain93 I think that's the best you can do at the moment. But please test thoroughly to ensure there are no unwarranted side effects.

@jleclanche Perhaps we can add a default retry mechanism for all methods using idempotency keys?

[2022-11-08 11:53] ezet commented on #1777
We've fixed this by applying the following monkeypatch. Has been running stable in production for a long time.
[code]

[2022-11-08 22:37] twbagustin commented on #833
Hey guys, I arrived here by doing a git blame at this line https://github.com/dj-stripe/dj-stripe/blob/2.7.2/djstripe/models/webhooks.py#L239, the commit
https://github.com/dj-stripe/dj-stripe/commit/376ce36ae5fffc203d388d87349e67ff8022bc24 mentions it solves issue #833
By reading the code of `WebhookEventTrigger.from_request` I believe there should be a warning or some documentation about webhook

[2022-11-10 14:38] martinmain93 commented on #1838
@arnav13081994 So this has fixed most of our issues. Now, we are occasionally getting the `You cannot use a Stripe token more than once:` error when we retry the add_card method in some cases...

[2022-11-10 16:51] arnav13081994 commented on #1838
@martinmain93 Could you please post some traceback as it's very difficult for me to help without that.

[2022-11-10 17:07] martinmain93 commented on #1838
Here's the traceback. In this case, I've added a workaround by detecting if this specific error has been raised, and then trying to detect if the customer has a valid source. If the user has a valid source (after retrying a few times), then we ignore the error.
[code]

There must have been something that changed between Djstripe 2.5 and 2.6. Our system seems to be hacked-together working for now,

[2022-11-11 04:11] jacklinke opened #1841 "Docs are broken in several ways/places"
**What did you run into?**

Trying to read the documentation to better understand this project, but much of the information is missing from pages or incorrectly formatted/garbled.

**Why would it be helpful to document or fix this?**

- It is difficult to understand
- Issues with docs that have existed for nearly a year make people think this project is defunct

**To which section of the docs does

[2022-11-11 04:24] jacklinke commented on #1841
More specifically, the pyproject.toml references [Homepage](https://dj-stripe.dev/) which is broken, and [Documentation](https://dj-stripe.github.io/dj-stripe/), which is not broken.

Is there a reason for two different locations for the same project documentation, using different templates and settings?

Clicking on "Documentation" from the project Homepage takes you to https://dj-stripe.dev/inst

[2022-11-11 18:16] kavdev commented on #1841
@jacklinke yep, docs are definitely a pain point in dj-stripe right now. Thank you for taking the time to write this up. Any contributions are appreciated; PRs are welcomed.

[2022-11-12 04:53] jacklinke commented on #1841
@kavdev I guess the first thing would be to determine the desired end-state.

## Current state

### https://github.com/dj-stripe/dj-stripe/tree/master/docs

- maps to https://dj-stripe.dev/dj-stripe/index.html -> https://dj-stripe.dev/dj-stripe/2.7/ since it is a project pages site
- uses `readthedocs` theme
- builds docs for current and previous versions
- is able to make use of code directly fro

[2022-11-12 07:09] kavdev commented on #1841
Yep, sounds like a solid plan. I would be very intrigued to see a PR with a POC with one section working.

For some backstory, we had a team create the website and port our docs over. It got close, but we're still in a bit of limbo.

I would love to see our docs fully contained within dj-stripe.dev. That would enable us to drop rtfd and make life a bit less confusing for our users.

I recently spu

[2022-11-14 18:08] jleclanche commented on #1841
You're exactly right, and yes I'd like to see our docs properly generated into the website.

@jacklinke your recommendation is spot on. Is this something you're willing to help with? I know @kavdev tends to be too busy to contribute to dj-stripe these days, and I myself only have time on specific occasions.

[2022-11-15 20:07] janbaykara commented on #1625
I'm also getting this error reliably on `2.7.2`:

<details>
<summary>Terminal logs</summary>

[code]

</details>

[2022-11-16 23:12] jacklinke commented on #1841
My next 2 weeks are pretty much 100% spoken for, but I would be happy to get to work on a PR starting 1 December. If that works for y'all, then I'll add it to my calendar and update here at that point as things progress toward the PR :smile:

[2022-11-16 23:29] jacklinke opened #1842 "Removal of `Order` in version 5.0.0 of stripe Python package"
`stripe.Order` no longer exists in stripe 5.0.0

Today's release of stripe Python package version 5.0.0 [introduces a breaking change](https://github.com/stripe/stripe-python/blob/master/CHANGELOG.md#500---2022-11-16), [removing `Order`](https://github.com/stripe/stripe-python/pull/882).

Unfortunately, Stripe did not deprecate this in the code or add exceptions - it is simply removed as of 5.0.0.

[2022-11-17 00:19] kavdev commented on #1841
@jacklinke sounds good! Happy to review whatever comes through

[2022-11-17 02:31] kavdev commented on #1842
Oh goodie.

[2022-11-17 02:36] jacklinke commented on #1842
@kavdev  I wish it better news :laughing: :sob:

[2022-11-17 03:10] jleclanche commented on #1841
Likewise, help is super appreciated!

[2022-11-17 20:24] anthonytokosky commented on #1842
Anyone encountering this problem can pin [stripe-python](https://github.com/stripe/stripe-python/blob/master/CHANGELOG.md#500---2022-11-16) at `4.2.0` until `dj-stripe` is updated to support `stripe-python 5.0.0`.

Also hey @kavdev lol fancy seeing you here

[2022-11-17 20:34] digitalWestie commented on #1842
Thanks for raising this.  I just ran into this error integrating dj-stripe into my django app for the first time.

[code]

For now I'm correcting by restricting stripe package vers in requirements.txt:

[code]

[2022-11-17 20:51] jacklinke commented on #1842
@digitalWestie would recommend modifying to the following so you don't get failure if stripe updates to 5.0.1 etc

`stripe>=4.0.0,<5.0.0`

[2022-11-17 20:53] digitalWestie commented on #1842
@jacklinke yeah good idea

[2022-11-18 07:05] kavdev commented on #1842
Small world!

[2022-11-18 07:16] kavdev commented on #1842
@arnav13081994 @jleclanche I think constraining the python sdk version as a hotfix and then starting a deprecation path for Orders is the move here. Thoughts?

Our contacts at Stripe said it got dropped after beta and didn't make it to a GA release. Seems safe to remove? Idk what the replacement abstraction is in the API

[2022-11-18 20:00] dvannucci opened #1843 "Remove port number from x-forwarded-for header when creating webhook trigger model entry"
I just ran into a problem when trying to deploy dj-stripe on Azure linux web app.

Azure includes the port number within their x-forwarded-for header (i.e. IP:port). When dj-stripe attempts to insert a new entry into the webhook event trigger model it runs into an error:

    DataError at /stripe/webhook/
    invalid input syntax for type inet: "IP:port"

This error is caused by dj-stripe trying t

[2022-11-21 21:48] richkirsch opened #1845 "Failure attempting to upgrade from dj-stripe 2.6 to 2.7 - missing Account `djstripe_owner_account` column"
**Software versions**
- Upgrading from dj-stripe version: 2.6.1
- Upgrading to dj-stripe version: 2.7.2
- Python version: 3.10
- Django version: 3.2
- Stripe API version: 4.2
- Database type and version: PostgreSQL 14.5
- Failing migration id: N/A

**Can you reproduce the issue with the latest version of master?**
I am upgrading to the latest version. The issue would not be relevant with a fresh D

[2022-11-25 19:47] nathanramoscfa commented on #1842
First time user of Stripe, spent hours trying figure out why I kept getting `AttributeError: module 'stripe' has no attribute 'Order'`. Finally found this thread. I did `pip uninstall stripe` to uninstall stripe version 5.0.0, and then reinstalled previous working version, `pip install stripe==4.2.0`. `py manage.py migrate` worked from then on.

[2022-11-26 19:43] jleclanche commented on #1842
Apologies for the delayed reaction folks. I've released dj-stripe 2.7.3 which pins at < 5.0.

[2022-11-26 19:43] #1842 closed, assigned to nobody

[2022-11-26 19:54] jleclanche commented on #1845
Unfortunately, without a migration path to reproduce the issue, this is not really fixable on our end. Here when upgrading from 2.6.1 to 2.7, I have all the expected columns in `djstripe_account`.

On your end, what you can do to fix it is indeed manual sql surgery.

But no, indeed I think something more insidious is happening. It's suspicious that it's happening *specifically for this column*, wh

[2022-11-27 00:15] paguerrie opened #1847 "Webhook fails for charge.updated event for connected account"
**Describe the bug**
When a charge is updated (i.e. the description was changed via the stripe portal) for a payment on a connected account, the webhook fails with the message "No such balance transaction".  I can see in my Django admin that the balance transaction does exist.

**To Reproduce**
- Create a webhook listening to all connect events
- Create a payment intent for a connected account
- C

[2022-11-27 00:15] paguerrie commented on #1847
Possibly related to this https://github.com/dj-stripe/dj-stripe/issues/1777 ?

[2022-11-28 08:05] bhavincb opened #1848 "us_bank_account payment method data is not synced"
**Describe the bug**
When creating payment method in stripe whose type is "us_bank_account", it is not synced correctly in dj-stripe.

**To Reproduce**
1. Enable stripe webhook to dj-stripe
2. In stripe dashboard create a payment method with type "us_bank_account"
3. generated dj-stripe payment method object don't have related data.

[code]

**Expected behavior**
dj-stripe paymentmethod object sho